<div id="client-admin-demo-analytics-mobile">
  <div class="row">
    <div class="columns small-12">
      <div class='text-center onboarding-new'>
        <div class="onboarding-new-image">
          <%= image_tag "airbo_hot_air_balloons.png" %>
        </div>
        <h3>Hi there. This part of the Admin experience can't be viewed on mobile. Sorry for the inconvenience!</h3>
      </div>
    </div>
  </div>
</div>
