<div class="onboarding-top-bar" style="margin-bottom:0">
  <div class="row" id="top_bar">
    <div class="small-6 columns">
      <div id="logo">
        <a href="<%= root_path %>" style="margin-top:7px;margin-bottom:7px"><%= image_tag 'airbo-onboarding.png' %></a>
      </div>
    </div>
  </div>
</div>
<div id="client-admin-demo-analytics-mobile" style="margin-top:50px;">
  <div class="row">
    <div class="columns small-12">
      <div class='text-center onboarding-new'>
        <div class="onboarding-new-image">
          <%= image_tag "airbo_venice.png", class: "onboarding-img" %>
        </div>
        <h3>Hi there. Thank you for your interest in Airbo.</h3>
        <h3>The Airbo tour is not available on mobile devices, but we look forward to seeing you again on the desktop.</h3>
      </div>
    </div>
  </div>
</div>
