<div class="user-onboarding-container">
  <div class="row">
    <div class="columns small-12">
      <%= render partial: "user_onboarding", locals: { state: @user_onboarding.state } %>
    </div>
  </div>
</div>
