<div id="board_switch">
  <a id="board_switch_toggler">
    <p class="small_cap board_switch_header">Current board</p>
    <%= content_tag "p", class: "board_name has-tip tip-left", id: "current_board_name", data: {demo_id: user.demo_id} do %>
      <%= user.demo.name %>
    <% end %>
  </a>
  <%= render 'shared/header/desktop_board_switcher', user: user %>
</div>
