<div id="board_switch">
  <a id="board_switch_toggler">

    <p class="small_cap board_switch_header">Current board</p>
    <div class="board-name-container">
      <p class="board_name has-tip tip-left" id="current_board_name" data-demo-id="<%= user.demo_id %>">
        <%= user.demo.name %>
      </p>
    </div>
  </a>
  <%= render 'shared/header/desktop_board_switcher', user: user %>
</div>
