<%# Mobile-only select version of the board switcher %>
<% if user.show_board_switcher? %>
  <li class="board_switch_dropdown js-mobile-board-switcher">
    <select>
      <%= user.options_for_board_select %>
    </select>
  </li>
<% end %>
