<% if user.authorized_to?(:client_admin) %>
  <div class="admin_options">
      <p class="small_cap">Board tools</p>
      <%= link_to 'Manage', client_admin_tiles_path, id: 'manage_board' %>
      <a id="admin_toggle">&#9662;</a>
      <ul class="client_admin_pages">
        <li><%= link_to "Admin help", DeskSSO.new(user.current_user).url, target: "_blank" %></li>
      </ul>
  </div>
<%else%>
  <div class="admin_options">
  </div>        
<% end %>
