<div id="save_progress" class="large-4 columns" style="<%= user.guest_user_header_button_style %>">
  <% unless user.demo && $rollout.active?(:suppress_conversion_modal, user.demo) %>
    <a href="#" id="save_progress_button" class="open_save_progress_form">Sign Up</a>
    <%= link_to "Sign In", new_session_path, id: 'sign_in_button' %>
  <% end %>
  <% if session[:display_start_over_button] %>
    <%= link_to "Start Over", guest_user_reset_path, id: 'guest_user_start_over_button', confirm: "Are you sure?", method: :put %>      
  <%else%>
    <%= link_to "Start Over", guest_user_reset_path, id: 'guest_user_start_over_button', style: 'display:none', confirm: "Are you sure?", method: :put %>
  <% end %>
</div>
