<% if user.can_submit_tile? %>

  <%= link_to suggested_tiles_path, id: "submit_tile", data: { intro: "Add a Tile to the Suggestio Box. If it's accepted, it will be featured on this Board." } do %>
    <%= fa_icon 'pencil' %>
    <span>Submit Tile</span>
  <% end %>

  <% if user.show_submit_tile_intro? %>
    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $().ready(function(){
          window.submitTile();
        });
      <% end %>
    <% end %>
  <% end %>

<% end %>
