<% if user.can_submit_tile? %>
  <%= link_to new_suggested_tile_path, id: "submit_tile", data: {action: "new", intro: "Add a Tile to the Suggestion Box. If it's accepted, it will be featured on this Board."} do %>
    <%= fa_icon 'pencil' %>
    <span>Suggest Tile</span>
  <% end %>
<% end %>
