- subnav = TilesToolsSubnavPresenter.new(current_user)
- if subnav.show_subnav?
  %ul#tile_manager_nav{class: subnav.tile_manager_nav_class}
    - subnav.items_with_corrected_params do |item_params|
      = render partial: "shared/tiles_tools_subnav/subnav_item", locals: item_params