<%= render 'email_command_mailer/replies_above_this_line' %>
<p><%= @message %></p>

<p>Welcome! Next, <a href="<%= edit_user_password_url(@user, :token => @user.confirmation_token) %>">set your password here</a>.</p>

<%= render :partial => 'footer' %>
