<p>!---Please put replies above this line---</p>

<p><%= @message %></p>

<p>If you're having problems, please email or text us with the command "HELP".</p>

<p>In particular, if you're having trouble e-mailing in commands, you should know that we look for those in the first line of the body of your e-mail.</p>

<p>Thanks,<br/>
H Engage</p>
