<ul class="tile_preview_menu user_menu" >
  <li class="preview_menu_item">
    <%= form.submit do %>
      <i class="fa fa-save fa-1x"></i>
      <span class="header_text">
        Save Tile
      </span>
    <% end %>
  </li>
</ul>
