<div id="publish">
  <%= form.submit  %>
</div>
<%#TODO FIXME %>
<% if form.object.is_a? UserTileBuilderForm%>
  <div class="submit_caution">
    Once you submit a Tile, it cannot be edited.
  </div>
<% end %>
