<div id="publish">
  <%= form.submit "Save Tile"   %>
</div>
<%#TODO FIXME %>
<% if @tile_builder_form.user_created && @tile_builder_form.status==Tile::USER_SUBMITTED%>
  <div class="submit_caution">
    Once you submit a Tile, it cannot be edited.
  </div>
<% end %>
