<ul class="tile_preview_menu form_menu" >
  <li class="preview_menu_item">
    <%= link_to "", class: "submit_tile_form" do %>
      <i class="fa fa-save fa-1x"></i>
      <span class="header_text">
        Save Tile
      </span>
    <% end %>
  </li>
</ul>
