<div class="video_section hidden">
  <div class="error_no_video">
    Loading your video... please wait.
    </br>
    If the video doesn't display after a couple of seconds, then the embed link you pasted may be invalid. <br>
    Please click the “X” below and try again with a different link
  </div>
  <div class="video_frame_block">
    <%= unescape_html(tile.embed_video) %>
  </div>
  <div class="clear_video has-tip tip-top">
    <i class="fa fa-times fa-2x"></i>
  </div>
</div>
<%= form.hidden_field :embed_video %>
