<div class="video_section" style="display:none">
  <div class="video_frame_block">
    <%= unescape_html(tile.embed_video) %>
  </div>
  <div class="clear_video has-tip tip-top">
    <i class="fa fa-times fa-2x"></i>
  </div>
</div>
<%= form.hidden_field :embed_video %>
