//homepage -- CSS held over for pages#gallery
@import './mixins/marketing-site-main-hero';
@import './mixins/marketing-site-secondary-hero';
@import './mixins/marketing-site-clients-list';
@import './mixins/marketing-site-value-props';
@import './mixins/marketing-site-analytics';
@import './mixins/marketing-site-final-cta';
//

//Front theme mixins
@import './front-custom/home';
//

.airbo-marketing-site {
  color: #33445c;
  .main {
    min-height: 100%;
  }

  .marketing-site-home {
    @include marketing-site-main-hero($bg-image: 'marketing_site/main-hero.png');
    @include marketing-site-secondary-hero();
    @include marketing-site-clients-list();
    @include marketing-site-value-props();
    @include marketing-site-analytics();
    @include marketing-site-final-cta();
  }

  .marketing-site-about {
    .final-cta {
      .wrap {
        text-align: center;
        margin-bottom: 60px;
        .final-image {
          width: 50%;
        }
        .header {
          margin-top: 0;
          width: 50%;
        }

        @media only screen and (max-width: 768px) {
          .final-image {
            width: 100%;
          }
          .header {
            width: 100%;
          }
        }
      }
    }
  }

  .marketing-site-case-studies {
    .case-study-cta {
      .wrap {
        text-align: center;
        margin-bottom: 60px;
      }
    }
  }
}
