@import './mixins/marketing-site-reset';

.airbo-marketing-site {
  @include marketing-site-reset();

  /* CUSTOM CODES for New Homepage */
  .wrap:after,.marketing-site-header:after,ul:after,
  .ceos-message:after {clear:both;content:'';display:table;}

  .wrap {
  	margin: 0 auto;
  	padding: 0 15px;
  	max-width: 1230px;
  }

  .marketing-site-header {
  	background: rgba(255,255,255,.9);
  	height: 64px;
  	position: fixed; left: 0; top: 0;
  	padding: 0 48px;
  	width: 100%;
  	transition: all .25s;
  	z-index: 199;
  }
  .marketing-site-header.mobile-nav { background: rgba(255,255,255,.95); }
  .marketing-site-header.inside-page { box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1); }

  .logo {
  	display: block;
  	float: left;
  	height: 39px;
  	margin-right: 48px;
  	padding-top: 20px;
  	width: 67px;
  }

  .menu { transition: all .25s; }

  .menu ul {
  	font-size: 14px;
  	line-height: 22px;
  	list-style: none;
  	margin: 0;
  	padding: 30px 0 0;
  }

  .menu li {
  	display: block;
  	float: left;
  	margin-right: 30px;
  }
  .menu li:last-child {
  	float: right;
  	margin-right: 0;
  }

  .menu a {
  	border-bottom: 2px transparent solid;
  	color: #4c4c4c;
  	display: block;
  }
  .menu .item-demo a { color: #ff687b; }

  .menu a:focus,
  .menu a:hover,
  .menu .active a { border-bottom-color: #48bfff; }
  .menu .item-demo a:focus,
  .menu .item-demo a:hover,
  .menu .item-demo.active a { border-bottom-color: #ff687b; }

  .btn-menu {
  	background: transparent;
  	border-radius: 0;
  	display: none;
  	height: 40px;
  	margin: 0;
  	outline: 0;
  	padding: 0;
  	position: absolute; right: 10px; top: 4px;
  	width: 40px;
  }
  .btn-menu:focus,
  .btn-menu:hover,
  .btn-menu:active {
    background: transparent;
    box-shadow: none;
  }

  .btn-menu span {
  	background: #4c4c4c;
  	display: block;
  	height: 3px;
  	opacity: 1;
  	position: absolute; left: 8px; top: 18px;
  	width: 24px;
  	transition: all .25s;
  }
  .btn-menu span:first-child { top: 11px; }
  .btn-menu span:last-child { top: 25px; }

  .mobile-nav .btn-menu span { opacity: 0; }
  .mobile-nav .btn-menu span:first-child {
  	opacity: 1;
  	top: 18px;
  	transform: rotate(45deg);
  }
  .mobile-nav .btn-menu span:last-child {
  	opacity: 1;
  	top: 18px;
  	transform: rotate(-45deg);
  }

  /* Inpage Navigation */
  .inpage-paginator {
  	display: none;
  	font-size: 12px;
  	line-height: 12px;
  	list-style: none;
  	margin: -52px 0 0;
  	padding: 0;
  	position: fixed; right: 40px; top: 50%;
  	z-index: 199;
  }

  .inpage-paginator li {
  	background: #d4dce1;
  	border-radius: 4px;
  	cursor: pointer;
  	display: block;
  	height: 8px;
  	margin-bottom: 8px;
  	position: relative;
  	width: 8px;
  }
  .inpage-paginator li:last-child { margin-bottom: 0; }

  .inpage-paginator li.active,
  .inpage-paginator li:hover { background: #48bfff; }

  .inpage-paginator a {
  	color: #4c4c4c;
  	display: block;
  	opacity: 0;
  	position: absolute; right: 0; top: 0;
  	transition: all .25s;
  	visibility: hidden;
    width: 110px;
    text-align: left;
    padding: 1px 0;
    padding-left: 10px;
    background: #d4dce1;
    border-radius: 3px;
  }

  // .inpage-paginator li.active a,
  .inpage-paginator li:hover a {
  	opacity: 1;
  	visibility: visible;
  }

  .hero {
  	background: transparent image-url('marketing_site/main_hero.jpg') right top no-repeat;
  	background-size: cover;
  	display: flex; justify-content: center; align-items: center;
    min-height: 700px;
  	height: 100vh;
  	position: relative;
  }
  .hero:after {
  	background: linear-gradient(to bottom, rgba(79,212,192,.85), rgba(72,191,255,.85));
  	content: '';
  	display: none;
  	height: 100%;
  	position: absolute; left: 0; top: 0;
  	width: 100%;
  	z-index: 1;
  }

  .hero .wrap {
  	padding: 0 30px 80px;
  	width: 100%;
  	z-index: 5;
  }

  .cnts {
  	width: 50%;
  	max-width: 570px;
  }

  .cnts h1 {
  	font-size: 48px;
  	letter-spacing: -2px;
  	line-height: 56px;
  	margin: 0;
  }

  .cnts h4 {
  	color: #636363;
  	font-size: 24px;
  	font-weight: normal;
  	line-height: 32px;
  	margin: 26px 0 57px;
  }

  .hero form {
  	background: #fff;
  	border-radius: 3px;
  	box-shadow: 1px 1px 2px 2px rgba(212,220,225,.5);
  	overflow: hidden;
  	padding: 24px 30px;
  }

  .hero form span {
  	display: block;
  	float: left;
  	padding-right: 30px;
  	width: 65%;
  }

  .hero ::-webkit-input-placeholder { color: #636363; }
  .hero ::-moz-placeholder { color: #636363; }
  .hero :-ms-input-placeholder { color: #636363; }

  .hero input[type="text"] {
  	 background: #fff;
  	 border: 2px #eff3f5 solid;
  	 border-radius: 3px;
  	 height: 48px;
  	 width: 100%;
  }
  .hero input[type="text"]:active,
  .hero input[type="text"]:focus { border-color: #d4dce1; }

  .hero input[type="submit"] {
  	float: right;
  	width: 35%;
  }

  /* Client list */
  .clients-list {
  	background: #eff3f5;
  	display: flex; justify-content: center; align-items: center;
  	height: 92px;
  	position: absolute; left: 0; bottom: 0;
  	width: 100%;
  	z-index: 5;
  }
  .clients-list ul {
  	list-style: none;
  	overflow: hidden;
  	padding: 0 15px;
  	width: 100%;
  	max-width: 1230px;
  }

  .clients-list li {
  	display: block;
  	float: left;
  	padding: 0 15px;
  	width: 16.66666666666667%;
  }

  .clients-list img {
  	display: block;
  	margin: 0 auto;
  	max-width: 120px;
  }

  /* Featured News */
  .featured-news {
  	margin: 120px auto;
  	padding: 0 30px;
  	max-width: 890px;
  	text-align: center;
  }

  .featured-news h6 {
  	color: #4fd4c0;
  	font-size: 14px;
  	margin: 0;
  }

  .featured-news h2 {
  	font-size: 24px;
  	font-weight: normal;
  	line-height: 32px;
  	margin: 25px 0 12px;
  }
  .featured-news h2 span { color: #a8a8a8; }

  .featured-news h4 {
  	color: #a8a8a8;
  	font-size: 16px;
  	font-weight: normal;
  	margin: 0;
  }



  /* CEO's Message */
  .ceos-message {
  	margin: 160px auto;
  	padding: 0 30px;
  	max-width: 1090px;
  }

  .ceos-message h2 {
  	color: #bec2c4;
  	float: left;
  	font-size: 30px;
  	font-family: "Open Sans";
  	font-weight: 300;
  	font-style: italic;
  	line-height: 44px;
  	margin: 200px 0 0;
  	padding-right: 30px;
  	width: 41.74757281553398%;
  }
  .ceos-message h2:before {
  	background: #4fd4c0;
  	content: '';
  	display: block;
  	height: 2px;
  	margin-bottom: 13px;
  	width: 30px;
  }

  .ceos-message .note {
  	background: #f6f5ee;
  	box-shadow: 1px 1px 3px 1px rgba(0,0,0,.15);
  	float: right;
  	padding: 60px;
  	position: relative;
  	width: 58.25242718446602%;
  }
  .ceos-message .note:before {
  	background: #f6f5ee;
  	content: '';
  	display: block;
  	position: absolute; left: 0; top: 0;
  	height: 100%;
  	width: 100%;
  	transform: rotate(2deg);
  	z-index: -1;
  }

  .note h3 {
  	font-size: 20px;
  	margin: 0 0 16px;
  }

  .note cite { display: block; }

  .note cite img {
  	display: block;
  	margin-bottom: 16px;
  	width: 90px;
  }


  /* Feature Groups */
  .feature-group { margin: 220px 0; }

  .feature-head {
  	margin: 0 auto;
  	padding: 0 30px;
  	max-width: 830px;
  	text-align: center;
  }

  .feature-head h2 {
  	font-size: 40px;
  	letter-spacing: -1px;
  	line-height: 48px;
  	margin: 0 0 26px;
  }

  .feature-head strong {
  	color: #4fd4c0;
  	display: block;
  }

  .feature-head h5 {
  	font-size: 20px;
  	font-weight: normal;
  	line-height: 32px;
  	margin: 0;
  }

  .feature-group .wrap { margin: 96px auto; }

  .feature-group .left,
  .feature-group .right {
  	padding: 0 15px;
  	width: 50%;
  }
  .feature-group .left { float: left; }
  .feature-group .right { float: right; }

  /* Promo Feedback */
  .promo-quote {
  	margin: 0;
  	padding-left: 88px;
  	position: relative;
  }
  .promo-quote:before {
  	background: transparent image-url('marketing_site/quote.svg') 0 0 no-repeat;
  	background-size: cover;
  	content: '';
  	display: block;
  	height: 40px;
  	position: absolute; left: 16px; top: 4px;
  	width: 40px;
  }

  .promo-quote p { margin: 0 0 0; }

  .promo-quote cite {
  	color: #a8a8a8;
  	display: block;
  	font-size: 14px;
  	font-weight: normal;
  	line-height: 17px;
  	margin-top: 40px;
  	padding-left: 64px;
  	position: relative;
  }

  .promo-quote img {
  	border-radius: 24px;
  	display: block;
  	height: 48px;
  	position: absolute; left: 0; top: 0;
  	width: 48px;
  }

  .promo-quote cite strong {
  	color: #636363;
  	display: block;
  	margin-bottom: 7px;
  }


  /* feature mini lists */
  .ft-lists {
  	list-style: none;
  	margin: 96px 0 0;
  	overflow: hidden;
  	padding: 0;
  }

  .ft-lists li {
  	display: block;
  	float: left;
  	height: 144px;
  	width: 50%;
  }
  .ft-lists li:nth-of-type(2n+1) { padding: 15px 15px 15px 0; }
  .ft-lists li:nth-of-type(2n+2) { padding: 15px 0 15px 15px; }

  .ft-lists h4 {
  	font-size: 20px;
  	margin: 0 0 15px;
  }

  .ft-lists p {
  	line-height: 20px;
  	margin: 0;
  }

  .ft-type-card li { height: auto; }

  .ft-type-card li div {
  	background: #f6f5ee;
  	height: 140px;
  	padding: 23px 15px 25px;
  }

  .ft-tile .left img {
  	display: block;
  	margin: 0 auto;
  	max-width: 400px;
  }

  /* FT Board */
  .ft-board > img {
  	display: block;
  	margin: 96px auto 0;
  	padding: 0 15px;
  	max-width: 1260px;
  }

  .ft-board .left { width: 58%; }
  .ft-board .right { width: 42%; }

  .ft-board .ft-lists {
  	background: #f6f5ee;
  	padding: 20px;
  	margin: 0;
  }
  .ft-board .ft-lists li { padding: 20px; }

  .ft-board .promo-quote { margin-top: 144px; }

  /* Supported Devices */
  .supported-devices {
  	background: #48bfff;
  	color: #fff;
  	padding: 120px 0;
  	text-align: center;
  }

  .supported-devices .wrap {
  	padding: 0 30px;
  	max-width: 490px;
  }

  .supported-devices h2 {
  	color: #fff;
  	font-size: 32px;
  	margin: 0;
  }

  .supported-devices p {
  	font-size: 18px;
  	line-height: 24px;
  	margin: 15px 0 42px;
  }

  .supported-devices ul {
  	list-style: none;
  	margin: 0 auto;
  	overflow: hidden;
  	padding: 0;
  	width: 270px;
  }

  .supported-devices li {
  	display: block;
  	float: left;
  	height: 70px;
  	margin-right: 30px;
  	width: 70px;
  }
  .supported-devices li:last-child { margin-right: 0; }


  /* Featured Topics */
  .ft-topics .wrap { margin: 64px auto; }

  .topics {
  	list-style: none;
  	margin: 64px auto -15px;
  	overflow: hidden;
  	padding: 0 15px;
  	max-width: 1230px;
  }

  .topics li {
  	display: block;
  	float: left;
  	padding: 15px;
  	width: 25%;
  }

  .topics p {
  	background-color: transparent;
  	background-position: 0 0;
  	background-repeat: no-repeat;
  	background-size: cover;
  	color: #fff;
  	font-size: 24px;
  	font-weight: bold;
  	margin: 0;
  	text-align: center;
  }
  .topic-biometric p { background-image: image_url('marketing_site/topics/roadinforest.jpg'); }
  .topic-health p { background-image: image_url('marketing_site/topics/oceanfence.jpg'); }
  .topic-wellness p { background-image: image_url('marketing_site/topics/ocean.jpg'); }
  .topic-enrollment p { background-image: image_url('marketing_site/topics/hotairballoons.jpg'); }
  .topic-benefit p { background-image: image_url('marketing_site/topics/landscape.jpg'); }
  .topic-financial p { background-image: image_url('marketing_site/topics/rocksonbeach.jpg'); }
  .topic-recruiting p { background-image: image_url('marketing_site/topics/pier.jpg'); }
  .topic-onboarding p { background-image: image_url('marketing_site/topics/foggylake.jpg'); }
  .topic-announcement p { background-image: image_url('marketing_site/topics/lake.jpg'); }
  .topic-compliance p { background-image: image_url('marketing_site/topics/signature.jpg'); }
  .topic-drug p { background-image: image_url('marketing_site/topics/forest.jpg'); }
  .topic-holiday p { background-image: image_url('marketing_site/topics/fireworks.jpg'); }

  .topics strong {
  	background: rgba(0,0,0,.35);
  	display: block;
  	line-height: 120px;
  }

  .ft-topics .left { width: 54%; }
  .ft-topics .right {
  	padding-left: 35px;
  	width: 46%;
  }

  .ft-topics .ft-lists { margin-top: 0; }
  .ft-topics .ft-lists li:nth-of-type(2n+1) { padding: 20px 20px 20px 0; }
  .ft-topics .ft-lists li:nth-of-type(2n+2) { padding: 20px; }

  .ft-topics .promo-quote { margin-top: 112px; }


  /* Feature Email */
  .ft-email .left img {
  		display: block;
  		margin: 0 auto;
  		width: 100%;
  		max-width: 577px;
  }

  .ft-email .right { padding-left: 25px; }

  .ft-email .promo-quote { margin-top: 128px; }

  .ft-email .ft-lists li:nth-of-type(2n+1) { padding: 20px 20px 20px 0; }
  .ft-email .ft-lists li:nth-of-type(2n+2) { padding: 20px 0 20px 20px; }


  /* Feature Metrics */
  .ribbon-analytics {
  	background: #eff3f5;
  	border-top: 120px #fff solid;
  	margin: 80px 0;
  }

  .ribbon-analytics img {
  	display: block;
  	margin: -120px auto 0;
  	max-width: 1170px;
  }

  .ft-metrics .left { width: 58%; }
  .ft-metrics .right { width: 42%; }

  .ft-metrics .ft-lists { margin: 0; }
  .ft-metrics .ft-lists li:nth-of-type(2n+1) { padding: 20px 20px 20px 0; }
  .ft-metrics .ft-lists li:nth-of-type(2n+2) { padding: 20px; }

  .ft-metrics .promo-quote { margin-top: 96px; }

  /* Feature Success */
  .feature-success {
  	background: transparent url('marketing_site/success-ribbon.jpg') 0 0 no-repeat;
  	background-size: cover;
  	color: #fff;
  	padding: 120px 0;
  }

  .feature-success .wrap {
  	padding: 0 30px;
  	max-width: 830px;
  }

  .feature-success h2 {
  	color: #fff;
  	font-size: 32px;
  	line-height: 40px;
  	margin: 0;
  	text-align: center;
  }

  .feature-success h4 {
  	color: #fff;
  	font-size: 24px;
  	font-weight: normal;
  	line-height: 40px;
  	margin: 56px 0 110px;
  	text-align: center;
  }
  .feature-success h4:after {
  	background: rgba(255,255,255,.25);
  	content: '';
  	display: block;
  	height: 2px;
  	margin: 66px auto 0;
  	width: 30px;
  }

  .feature-success .promo-quote {
  	color: #fff;
  	margin: 0 auto;
  	max-width: 500px;
  }
  .feature-success .promo-quote cite { color: rgba(255,255,255,.75); }
  .feature-success .promo-quote cite strong { color: #fff; }


  /* Demo Promo */
  .demo-promo {
  	margin: 220px auto;
  	padding: 0 30px;
  	max-width: 830px;
  }

  .btn-demo {
  	background: #4fd4c0;
  	border-radius: 3px;
  	color: #fff;
  	display: block;
  	font-weight: bold;
  	height: 48px;
  	line-height: 48px;
  	margin: 0 auto;
  	width: 220px;
  	text-align: center;
  }
  .btn-demo:focus,
  .btn-demo:hover { background-color: #4c4c4c; }

  .demo-promo h5 {
  	font-size: 24px;
  	font-weight: normal;
  	line-height: 32px;
  	margin: 56px 0 0;
  	text-align: center;
  }


  /* Footer */
  .marketing-site-footer { background: #303030; }

  .marketing-site-footer .wrap {
  	padding: 160px 15px;
  	max-width: 830px;
  }

  .marketing-site-footer .wrap > div {
  	float: left;
  	padding: 0 15px;
  	width: 25%;
  }

  .marketing-site-footer h2 {
  	color: rgba(255,255,255,.4);
  	font-size: 15px;
  	margin: 0 0 23px;
  }
  .marketing-site-footer h2:after {
  	background: rgba(255,255,255,.15);
  	content: '';
  	display: block;
  	height: 2px;
  	margin-top: 7px;
  	width: 30px;
  }

  .marketing-site-footer .about img {
  	display: block;
  	margin-top: 8px;
  	opacity: .75;
  	width: 70px;
  }

  .marketing-site-footer .about p {
  	color: rgba(255,255,255,.35);
  	font-size: 14px;
  	margin: 32px 0 0;
  }

  .links ul {
  	font-size: 15px;
  	line-height: 20px;
  	list-style: none;
  	margin: 40px 0 0;
  	padding: 0;
  }

  .links li {
  	display: block;
  	margin-bottom: 20px;
  }
  .links li:last-child { margin-bottom: 0; }

  .links a { color: rgba(255,255,255,.75); }
  .links a:focus,
  .links a:hover { color: #fff; }


  /* Responsive Codes */

  @media only screen and (max-width: 1336px) {

  	.hero .wrap { padding-bottom: 0; }

  	.clients-list { height: 80px; }
  	.clients-list ul { margin: 8px auto; }

  	.ceos-message { margin: 120px auto; }

  	.feature-group { margin: 160px 0; }

  	.demo-promo { margin: 160px auto; }
  	.demo-promo h5 { margin-top: 36px; }

  	.marketing-site-footer .wrap { padding: 120px 15px; }

  	.inpage-paginator { right: 24px; }

  }


  @media only screen and (max-width: 1024px) {

  	.marketing-site-header { padding: 0 30px; }
  	.logo { margin-right: 30px; }

  	.cnts h1 {
  		font-size: 40px;
  		letter-spacing: -1px;
  		line-height: 48px;
  	}
  	.cnts h4 {
  		font-size: 22px;
  		line-height: 28px;
  	}

  	.ceos-message h2 {
  		font-size: 28px;
  		line-height: 40px;
  		margin-top: 160px;
  		width: 36%;
  	}

  	.ceos-message .note {
  		padding: 60px;
  		width: 64%;
  	}

  	.feature-group .wrap { margin: 80px 0; }

  	.ft-lists { margin-top: 80px; }
  	.ft-lists li { height: 160px; }

  	.ft-tile .left { width: 40%; }
  	.ft-tile .right { width: 60%; }

  	.ft-board > img { margin-top: 80px; }
  	.ft-board .left { width: 60%; }
  	.ft-board .right { width: 40%; }
  	.ft-board .promo-quote { margin-top: 120px; }

  	.topics { margin-top: 48px; }
  	.topics p { font-size: 20px; }
  	.topics strong { line-height: 96px; }
  	.ft-topics .left { width: 60%; }
  	.ft-topics .right {
  		padding-left: 15px;
  		width: 40%;
  	}

  	.ft-topics .promo-quote,
  	.ft-email .promo-quote { margin-top: 96px; }

  	.ft-email .left { width: 44%; }
  	.ft-email .right { width: 56%; }

  	.ft-metrics .left { width: 60%; }
  	.ft-metrics .right { width: 40%; }

  	.ribbon-analytics { margin: 64px 0; }

  	.feature-success { padding: 96px 0; }
  	.feature-success h4 {
  		font-size: 22px;
  		line-height: 36px;
  		margin: 40px 0 70px;
  	}
  	.feature-success h4:after { margin-top: 40px; }

  	.inpage-paginator { right: 12px; }

  }


  @media only screen and (max-width: 800px) {

  	.wrap { padding: 0 15px; }

  	.hero:after { display: block; }

  	.hero .wrap { padding-bottom: 80px; }

  	.cnts {
  		width: 80%;
  		max-width: 100%;
  	}
  	.cnts h1 {
  		color: #fff;
  		font-size: 48px;
  		letter-spacing: -2px;
  		line-height: 56px;
  	}
  	.cnts h4 {
  		color: #fff;
  		font-size: 24px;
  		line-height: 32px;
  	}
  	.hero form {
  		background: rgba(0,0,0,.35);
  		box-shadow: none;
  	}
  	.hero ::-webkit-input-placeholder { color: rgba(255,255,255,.65); }
  	.hero ::-moz-placeholder { color: rgba(255,255,255,.65); }
  	.hero :-ms-input-placeholder { color: rgba(255,255,255,.65); }
  	.hero input[type="email"] {
  		 background: rgba(0,0,0,.25);
  		 border: none;
  		 color: #fff;
  	 }

  	 /* Note */
  	 .ceos-message {
  		 margin: 96px auto;
  		 max-width: 680px;
  	 }
  	 .ceos-message h2 {
  		 float: none;
  		 margin-top: 0;
  		 padding: 0;
  		 width: 100%;
  	 }
  	 .ceos-message .note {
  		 float: none;
  		 margin: 64px auto 0;
  		 width: 100%;
  	 }

  	 .feature-group .left,
  	 .feature-group .right {
  		 float: none;
  		 width: 100%;
  	 }

  	 .ft-lists li { height: 140px; }
  	 .ft-lists li:nth-of-type(2n+1) { padding: 20px 20px 20px 0; }
  	 .ft-lists li:nth-of-type(2n+2) { padding: 20px 0 20px 20px; }

  	 .ft-type-card li { height: auto; }
  	 .ft-type-card li div {
  		 height: 140px;
  		 padding: 23px 20px 25px;
  	 }

  	 .promo-quote {
  		 margin: 0 auto;
  		 max-width: 520px;
  	 }
  	 .ft-tile .left img { margin-top: 48px; }
  	 .ft-board .promo-quote { margin: 80px auto; }

  	 .supported-devices { padding: 80px 0; }

  	 .topics li { width: 33.33%; }

  	 .marketing-site-footer .wrap {
  		 padding: 80px 20px;
  		 max-width: 480px;
  	 }
  	 .marketing-site-footer .wrap > div {
  		 padding: 40px 20px;
  		 width: 50%;
  	 }

  }


  @media only screen and (max-width: 620px) {

  	.hero .wrap { padding-bottom: 0; }
  	.cnts { width: 100%; }

  	.topics li { width: 50%; }
  	.topics strong { line-height: 80px; }

  	.featured-news { margin: 96px auto; }

  }


  @media only screen and (max-width: 560px) {

  	.marketing-site-header {
  		box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
  		height: 48px;
  		padding: 0 15px;
  	}
  	.logo {	padding-top: 7px; }

  	.menu {
  		box-shadow: 0px 2px 2px 0px rgba(0,0,0,.1);
  		opacity: 0;
  		position: absolute; left: 0; top: 48px;
  		width: 100%;
  		text-align: center;
  		visibility: hidden;
  		z-index: 1;
  	}
  	.mobile-nav .menu {
  		opacity: 1;
  		visibility: visible;
  	}
  	.menu ul {
  		border-top: 2px #eff3f5 solid;
  		background: rgba(255,255,255,.95);
  		padding: 0;
  	}
  	.menu li {
  		float: none;
  		margin: 0;
  		width: 100%;
  	}
  	.menu a { line-height: 48px; }

  	.btn-menu { display: block; }

  	.hero .wrap { padding: 0 15px; }
  	.cnts h1 { line-height: 52px; }
  	.cnts h4 { margin: 18px 0 41px; }
  	.hero form { padding: 12px 15px; }
  	.hero form span { padding-right: 15px; }

  	.clients-list { height: 64px; }
  	.clients-list ul { padding: 0 5px; }
  	.clients-list li { padding: 0 5px; }

  	.ceos-message { padding: 0 12px; }
  	.ceos-message .note {	padding: 48px 20px;	}
  	.ceos-message .note:before { transform: rotate(1deg);	}

  	.featured-news { padding: 0 15px; }

  	.feature-head { padding: 0 15px; }
  	.feature-head h2 {
  		font-size: 36px;
  		line-height: 44px;
  	}
  	.feature-head h5 {
  		font-size: 18px;
  		line-height: 28px;
  	}

  	.feature-group .wrap { margin: 64px 0; }

  	.feature-group .left,
  	.feature-group .right { padding: 0;	}

  	.ft-lists { background: #f6f5ee; }
  	.ft-lists,
  	.ft-board .ft-lists,
  	.ft-metrics .ft-lists {
  		margin: 64px -5px 0;
  		padding: 48px 30px;
  	}
  	.ft-lists li {
  		float: none;
  		height: auto;
  		margin-bottom: 48px;
  		width: 100%;
  	}
  	.ft-lists li:nth-of-type(2n+1) { padding: 0; }
  	.ft-lists li:nth-of-type(2n+2) { padding: 0; }
  	.ft-lists li:last-child { margin-bottom: 0; }

  	.ft-type-card li div {
  		background: none;
  		height: auto;
  		padding: 0;
  	}

  	blockquote {
  		font-size: 18px;
  		line-height: 26px;
  	}
  	.promo-quote { padding-left: 48px; }
  	.promo-quote:before {
  		height: 24px;
  		left: 8px; top: 2px;
  		width: 24px;
  	}
  	.promo-quote cite { margin-top: 32px; }

  	.ft-tile .left img { max-width: 320px; }

  	.ft-board > img {
  		margin-top: 64px;
  		padding: 0;
  	}

  	.supported-devices .wrap { padding: 0 15px; }

  	.topics {
  		margin-bottom: -8px;
  		padding: 0;
  	}
  	.topics li { padding: 8px; }
  	.ft-topics .ft-lists li:nth-of-type(2n+1) { padding: 0; }
  	.ft-topics .ft-lists li:nth-of-type(2n+2) { padding: 0; }
  	.ft-email .ft-lists li:nth-of-type(2n+1) { padding: 0; }
  	.ft-email .ft-lists li:nth-of-type(2n+2) { padding: 0; }
  	.ft-metrics .ft-lists li:nth-of-type(2n+1) { padding: 0; }
  	.ft-metrics .ft-lists li:nth-of-type(2n+2) { padding: 0; }

  	.feature-success .wrap { padding: 0 15px; }

  	.feature-success h2 {
  		font-size: 28px;
  		line-height: 36px;
  	}
  	.feature-success h4 {
  		font-size: 20px;
  		line-height: 36px;
  	}

  	.demo-promo h5 { font-size: 20px; }

  	.marketing-site-footer .wrap { padding: 64px 0 24px; }
  	.marketing-site-footer .wrap > div {
  		float: none;
  		margin: 0 auto 40px;
  		padding: 24px 20px;
  		width: 100%;
  		max-width: 320px;
  	}

  }

  @media only screen and (max-width: 380px) {


  	.cnts h1 {
  		font-size: 40px;
  		line-height: 48px;
  	}
  	.cnts h4 {
  		font-size: 22px;
  		line-height: 28px;
  		margin: 18px 0 41px;
  	}

  	.hero form { margin: 0 -5px; }

  	.clients-list { height: 48px; }
  	.clients-list li {
  		padding: 10px;
  		width: 25%;
  	}
  	.clients-list li:nth-child(1n+5) { display: none; }

  	.ft-lists,
  	.ft-board .ft-lists,
  	.ft-metrics .ft-lists { padding: 48px 20px; }

  	.topics {
  		margin-bottom: -8px;
  		padding: 0 4px;
  	}
  	.topics li { padding: 4px; }
  	.topics p { font-size: 16px; }
  	.topics strong { line-height: 64px; }

  	.marketing-site-footer .wrap > div { max-width: 280px; }

  }


  @media only screen and (max-width: 320px) {

  	.cnts h1 {
  		font-size: 32px;
  		line-height: 36px;
  	}
  	.cnts h4 {
  		font-size: 20px;
  		line-height: 24px;
  		margin-bottom: 33px;
  	}

  }
}
