<div class="row title_block">
  <h1>
    <%= @tile.headline.truncate(60) %>
  </h1>
</div>
<div class="row stats_page">
  <div class="large-12 columns">
    <%= render partial: 'client_admin/tile_stats_charts/chart_section', locals: {chart_form: @chart_form, chart: @chart} %>
    <%= render(partial: 'survey_chart') if @survey_chart %>
    <%= render(partial: 'client_admin/tile_stats_grids/grid_section') %>
  </div>
</div>
