.tile-stats-modal {
  // General styles
  .tile_chart_section {
    height: 270px;
    margin: 20px 0 40px 0;
  }

  .actions_column {
    width: 200px;
    float: left;
  }

  .chart_column {
    float: left !important;
    position: relative;
    width: calc(100% - 200px);
    height: 275px;
    margin-top: 6px;
    // hide download in chart
    .highcharts-button {
      display: none;
    }

    .chart-load-wheel {
      color: $n-blue;
      margin-left: 6.5em;
      margin-top: 2em;
    }
  }

  .action_type_block {
    margin-bottom: 27px;
    padding: 4px 0 7px 0;
    border-left: 3px solid transparent;
    &:last-child {
      margin-bottom: 0;
    }

    .action_num, .action_name {
      color: $dark-blue;
    }

    .action_num {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 2px;
      line-height: 27px;
    }

    .action_name {
      font-size: 16px;
      line-height: 14px;
      padding-top: 10px;
    }
  }
}
