@import 'tile_stats_chart';
@import 'tile_stats_tables';
@import 'mixins/card-component';
@import 'mixins/tabs-component-full-width';

.tile-stats-modal {
  @include card-component($dark-blue, transparent);
  @include tabs-component-full-width();

  .tile-stats-download-report {
    margin-right: 30px;
    margin-top: 14px;
  }

  .grid_no_record {
    font-size: 16px;
    color: $dark-blue;
  }

  .card-content {
    min-height: 500px;
    color: $dark-blue;

    p {
      font-size: 16px;
      margin: 15px 0;
    }

    label {
      color: $dark-blue;
    }

    input {
      color: $text-color;
    }

    .dropdown-button-component {
      color: $dark-blue;
      margin: 0;
      margin-bottom: 20px;
      margin-top: 4px;
      float: left;
    }
  }
}
