.row
  .large-12.columns= render partial: 'client_admin/tiles/tiles_tools_subnav'

%section.manage_tiles#archived_tiles
  .row
    .large-12.columns
      %h2 All Inactive
      = link_to "Minimize section", client_admin_tiles_path, :class => :minimize
      %br
      .manage_section#archive= render partial: "shared/tiles/archive"
      .clearfix
      .pagination-centered
        = paginate @raw_tiles
- content_for :javascript do
  :javascript
    $().ready(function(){
      window.dragAndDropInSection()
    })
