<%# TODO: This should be deprecated for a more efficient and user friendly design %>
<section class="manage_tiles" id="archived_tiles">
  <div class="row">
    <div class="large-12 columns">
      <h4>All Inactive</h4>
      <%= link_to "Minimize section", client_admin_tiles_path, class: "minimize button  outlined", style: "margin-right: 20px;" %>
      <div class="manage_section" id="archive">
        <%= render partial: 'client_admin/tiles/manage_tiles/no_tiles_section', locals: {display_no_tiles_section: @archive_tiles.empty?} %>
        <%= render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @archive_tiles, type: :archive} %>
      </div>
      <div class="clearfix"></div>
      <div class="pagination-centered">
        <%= paginate @raw_tiles %>
      </div>
    </div>
  </div>
</section>
