%section.manage_tiles#archived_tiles
  .row
    .large-12.columns
      %h4 All Inactive
      = link_to "Minimize section", client_admin_tiles_path, :class => "minimize button  outlined"
      .manage_section#archive
        = render partial: 'client_admin/tiles/manage_tiles/no_tiles_section', locals: {display_no_tiles_section: @archive_tiles.empty?}
        = render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @archive_tiles, type: :archive}
      .clearfix
      .pagination-centered
        = paginate @raw_tiles

- content_for :javascript do
  :javascript
    $().ready(function(){
      window.dragAndDropInSection()
    })
