<div class="explore" data-channel-id="<%= @organization.id %>">
  <section class="manage_section" id="channels">
    <% cache @display_channels do %>
      <%= render partial: 'explore/channels', locals: { channels: @display_channels } %>
    <% end %>
  </section>
  <%= render partial: 'explore/org_profile', locals: { organization: @organization } %>

  <section class="manage_section organization" id="explore_tiles">
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "", more_tiles_path: explore_organization_path(@organization) } %>
  </section>
</div>
