<div class="medium-editor-toolbar-anchor-preview" id="medium-editor-toolbar-anchor-preview">
  <a target="_blank"></a>
  <span class="sep-vertical medium-editor-toolbar-anchor-preview-inner"></span>
  <i class="fa fa-pencil"></i>
</div>
