<div class="row">
  <div class="columns large-12 large-centered">
    <h2> Migrate User <%= org_points_wording %></h2>
  </div>
</div>
<div class="row">
  <div class="columns large-6 large-centered">
    <%= render partial: "form" %>
  </div>

</div>
