<div class="row">
  <div class="columns large-12 large-centered">
    <h2> Migrate User points</h2>
  </div>
</div>
<div class="row">
  <div class="columns large-6 large-centered">
    <%= render partial: "form" %>
  </div>

</div>
