@import './tile/tile_fullsize/tiles_fullsize';
@import './tile/tile_builder/tile_builder';
@import './tile/tile_thumbnail/tiles_thumbnails';
@import './tile/tile_thumbnail/tiles_thumbnails_desktop';
@import './tile/tile_thumbnail/tiles_thumbnails_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_small_with_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_transition';
@import './mixins/campaign-nav-links';
@import './mixins/airbo_search';
@import './vendor_customization/flickity';
@import './mixins/organization-card';
@import './mixins/how-to-use-card';
@import "./internal/dashboard.css.scss";
@import "./internal/scoreboard.css.scss";

.endless_scroll_loading {
  width: 100%;
  display: inline-block;
}

.explore-search {
  @include airbo_search;
}

.explore {
  .campaign-tiles-container {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1;
  }

  .with-divider {
    border-bottom: solid 1px $secondary-gray;
  }

  .campaign-custom-icon {
    float: left;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 0.5em;
  }

  .explore-headers {
    color: $text-color;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-top: 15px;
    font-size: 25px;

    &.link {
      &:hover {
        color: $n-blue;
        cursor: pointer;
      }

      &::after {
        font-family: FontAwesome;
        top: 0;
        left: -5px;
        padding-left: 10px;
        content: "\f105";
      }
    }
  }

  .campaign-nav-row {
    height: 115px;
    padding: 10px 0;

    .campaign-nav-links {
      display: none;

      @include flickity;
      @include campaign-nav-links;
    }
  }

  .explore-sub-page-header {
    font-size: 40px;
    color: $darker-gray;
    font-weight: 800;
    margin-bottom: 0;
  }

  .copy-tiles-button {
    margin-bottom: 0;
  }

  .campaign-header {
    padding-top: 30px;
    padding-bottom: 10px;

    .explore-sub-page-header {
      padding-left: 10px;
    }

    &::after {
      height: 5px;
      width: 100%;
      background: #fff;
      content: '';
      position: absolute;
      bottom: -5px;
    }
  }

  .flickity-explore-oboarding-carousel {
    display: none;

    .carousel-cell {
      width: 100%;
    }

    img {
      height: 9em;
      width: auto;
    }

    h2 {
      margin-bottom: 0;
    }

    p {
      margin: 0.5em 0;
      font-size: 17px;
    }

    @media (max-width: 480px) {
      img {
        height: 5em;
        width: auto;
      }
    }
  }

  #exploreOnboardingModal {
    top: 90px;
    z-index: 98;
  }

  .campaign-description {
    font-size: 18px;
    margin: 10px;
  }
}
