.explore-tile_previews.explore-tile_previews-show {
  .tile_preview_block {
    padding-top: 0;
  }

  .core,
  .content {
    background: $tile-wall-bg;
  }

  .tile_holder {
    box-shadow: none;
    border-radius: 0;
    overflow: hidden;
    width: 600px;
    margin-top: 50px;
  }

  .viewer {
    margin: auto;
  }

  .bar_for_preview {
    max-width: 600px;
    width: 100%;
    padding: 20px 42px;
  }

  .bars {
    width: 95%;
    margin: auto;

    .bar_for_preview {
      background: #f3f3f3;
    }
  }

  .offset_top {
    margin-top: 10px;
  }

  .creator {
    margin-bottom: 12px;

    .company_logo {
      height: 30px;

      &.default_logo {
        margin-right: -75px;
      }
    }

    .creator_name {
      font-size: 14px;
      padding-left: 10px;
    }
  }
}

.tile_button,
.multiple-choice-answer {
  @include button($blue);
  @include font-weight-bold;

  color: $n-white;
  display: block;
  font-size: 1.25rem;
  line-height: 1em;
  padding: 0.5em 1em;
  white-space: normal;
  text-transform: none;
  width: 100%;
}
