<div class='message' id='<%= dom_id(message) %>'>
  <%= render :partial => 'message_header', :message => message %>

  <%= render :partial => 'message_body', :message => message %>

  <%= reply_link 'Reply and move to watch list', message %>
</div>
