    <% content_for :javascript do %>
      <%= javascript_tag do %>
        $('#<%=reply_link_dom_id%>').click(function(e) { 
            $('#reply-dialog').
              find('form').
                attr('action', '<%= admin_bad_message_replies_path(:bad_message_id => message.id) %>').
              end().
              dialog({width: 500}).
              find('textarea').focus().end(); 
            e.preventDefault(); 
          });
      <% end %>
    <% end %>
  </div>
<% end %>
</div>
