
<div class="row">
  <div class="large-3 columns quick_stats">
    <div class="stats section">
      <ul class="stat-group">
        <h4>Participants</h4>
        <h1><%= number_with_delimiter @claimed_user_count %></h1>
      </ul>
      <ul class="stat-group">
        <h4>Added Mobile Numbers</h4>
        <h1><%= @with_phone_percentage %></h1>
      </ul>
      <ul class="stat-group">
        <h4>Recruited By Peer</h4>
        <h1><%= @with_peer_invitation_fraction %></h1>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <%= render partial: 'client_admin/charts/chart' %>
  </div>
</div>
