
<div class="row">
  <div class="large-3 columns quick_stats">
    <h2>Stats</h2>
    <div class="stats section">
      <ul class="stat-group">
        <li class="labels">Participants</li>
        <li class="numbers"><h1><%= number_with_delimiter @claimed_user_count %></h1></li>
      </ul>
      <ul class="stat-group">
        <li class="labels">Added Mobile Numbers</li>
        <li class="numbers"><h1><%= @with_phone_percentage %></h1></li>
      </ul>
      <ul class="stat-group">
        <li class="labels">Recruited By Peer</li>
        <li class="numbers"><h1><%= @with_peer_invitation_fraction %></h1></li>
      </ul>
    </div>
  </div>
  <div class="large-9 columns">
    <div id="chart-header">
      <h2>Activity</h2>
    </div>
    <%= render partial: 'client_admin/charts/chart' %>
  </div>
</div>
