<div id="client-admin-demo-analytics" class="analytics-v1">
  <div class="row title_block">
    <h1>
      <%= @tile.headline.truncate(60) %>
    </h1>
  </div>
  <div class="row stats_page">
    <div class="large-12 columns">
      <%= render partial: 'client_admin/activity/activity_charts', locals: {chart_form: @chart_form, chart: @chart} %>
      <%= render(partial: 'client_admin/activity/activity_grid_section') %>
    </div>
  </div>
</div>
