public/assets
.sass-cache/
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/capybara-*
tmp/pids/*
tmp/*.log
db/schema.rb
public/system
*.DS_Store
coverage/*
*.swp
*.swo
rerun.txt
tags
!.keep
vendor/bundler_gems
.rvmrc
.sass-cache
gemset
db/dumps/*.sql
coverage.features
.rbenv-version
.idea
*~
*#
temp

feature_profiles/feature_profile*
tmp/sass-cache/**/*
public/.sass-cache/*
**/.DS_Store
*.dump
.env
first_bad_rev
coverage.data
C:\\nppdf32Log\\debuglog.txt

*debuglog.txt
dump.rdb
spec/support/fixtures/simple_bulk_load_*
flog_report
redis_connection_stack_trace
*.incantation
*incantation
.vagrant
Vagrantfile
vagrant_provisioning
libpeerconnection.log
*.patch
turbulence/*
repeatedly_spec.rb
repeatedly_test.rb
first_bad_commit
user_failuers
.ruby-version
.ruby-gemset
erd.pdf
license_notes
doc/*.svg
