.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/capybara-*
tmp/pids/*
db/schema.rb
public/system
*.DS_Store
coverage/*
*.swp
rerun.txt
tags
!.keep
vendor/bundler_gems
.rvmrc
.sass-cache
gemset
db/dumps/*.sql
coverage.features
.rbenv-version
.idea
*~


feature_profiles/feature_profile*
tmp/sass-cache/**/*
public/.sass-cache/*
**/.DS_Store
