@import './tile/tile_fullsize/image';
// Image uploader
#image_uploader {
  text-align: center;
  &.content_sections {
    padding: 0;
    border-bottom: none;
    label.tile_builder_error{
      padding-left: 5%;
      padding-bottom: 2%;
    }
  }

  p {
    color:$gray;
    margin:1em 0;
  }

  .image_preview {

    position: relative;

    .image_credit {

      position: absolute;
      padding-top: 20px;
      bottom: 10px;

      textarea {
        display:none;
      }

  

      .image_credit_view{
        cursor: pointer;
        text-align: right;
        min-width: 10px;
        height: 16px;
      }
    }
  }
}


.shadows{
  position: relative;
  .shadow_overlay {
    min-height: 50px;
  }
}

#ie9_uploader.tile_image_block.upload_image.ie9_or_older {
  cursor: auto;
  label#upload_trigger_ie9 {
    cursor: pointer;
  }
}



