.image_preview.present ~.visual-content-container{
  display: none;
}

.image_preview{
  &:hover{
    .image-hover-menu{
      opacity:1;
    }
  }
}

.visual-content-container{
  width: 600px;
  margin-top: 10px;
  display:none;


  .hide-search{
    display: inline-block;
    float: right;
    color: $n-blue;
  }

  .flickity-prev-next-button.next {
    right: -50px;
  }
  .flickity-prev-next-button.previous {
    left: -50px;
  }
  .flickity-prev-next-button{
    border: none;
    &[disabled]{
      background: inherit;
    }

  }
}

.embed-video-container{
  display: none;
  margin: 40px;
}

.images-wrapper{
  width: 600px;
  padding: 20px 40px;
  display: none;
  #images{
  }
}


.cell-group{
  width:100%;
  img, .thumb-placeholder {
    height: 130px;
    width: 130px;
    padding: 2px;
  }
  .thumb-placeholder{
    height: 125px;
    width: 125px;
    border: 1px dashed #DDD;
    margin: 2px;
    display: inline-block;
  }
}

.image-menu{
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 1;
  li{
    display: inline-block;
  }

  .img-menu-item{
    padding:5px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 1.15em;
    cursor: pointer;
    display: inline-block;
  }
}





input[type=text].search-input{
  margin-left: 5px;
  height:30px;
  padding: 5px;
  width: 0px;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  color: white;
  width: 0px;
  height: 18px;
}

