
.images-wrapper{
  width: 600px;
  height:450px;
  padding: 20px 40px;
}

.cell-group{
  width:100%;
  img {
    height: 130px;
    width: 130px;
    padding: 2px;
  }
}



.image-search-container{
  width: 600px;
  margin-top: 10px;
  border-bottom: 2px dashed #f3f3f3;
  .search-controls{
    padding:2px;
    margin: auto;
    width: 90%;

    #search-bar{
      height:30px;
      padding: 5px;
      display: inline-block;
      border: 1px solid $n-blue;
    }
    .pages-nav{
      display: inline-block;
      margin-left: 5px;
      .paging{
        padding: 3px;
        display: none;
      }
    }
  }
  .flickity-prev-next-button.next {
    right: -50px;
  }
  .flickity-prev-next-button.previous {
    left: -50px;
  }
  .flickity-prev-next-button{
    border: none;
    &[disabled]{
      background: inherit;
    }
  }
}
