.image_library {
  background: $dark-gray;
  overflow: auto;
  float: left;
  width: 466px;
  height: calc(100vh - 47px);
  min-height: 646px;
  padding: 30px 0px 50px 31px;
  margin-left: 90px;
  .tile_images {
    overflow: auto;
  }
  .pagination {
    display: none;
  }
  .jscroll-loading { // div with our standard spinner
    text-align: center;
    img {
      width: 50px;
    }
  }
  .tile_image_block {
    float: left;
    width: 126px;
    height: 106px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 3px solid $dark-gray;
    &.selected {
      border-color: $sky-blue;
    }
    img {
      border-radius: 3px;
    }
  }
  .upload_image {
    border: 1px solid $white;
    color: $white;
    text-align: center;
    position: relative;
    i {
      padding-top: 30px;
      padding-bottom: 10px;
    }
    span, label {
      display: block;
    }
    label {
      color: white;
    }
    .upload_new_image {
      opacity: 0;
      position: absolute;
      z-index: 100;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      #tile_builder_form_image {
        margin-top: 0;
        font-size:5em;
        line-height: 0;
        position: absolute;
        z-index: 150;
        left: 0;
        top: 0;
        cursor: pointer;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
}
