.image_preview.present ~.visual-content-container{
  display: none;
}


.hide-search, .hide-media-panel-button{
  display: none;
  margin: 15px 40px;
  text-align: center;
  clear: both;
  .button {
    width: 100%;
  }
}

.js-media-loading {
  display: none;

  .fa-spinner {
    color: $n-blue;
  }
}

.visual-content-container{
  width: 600px;
  margin-top: 10px;
  display:none;
  border-bottom: 2px dashed #f3f3f3;

  .flickity-prev-next-button{
    border: none;
    background: transparent;
    &.next {
      right: -42px;
    }
    &.previous {
      left: -42px;
    }

    &[disabled]{
      background: inherit;
      visibility: hidden;
    }
    &:active {
      box-shadow: none;
    }
  }
}

.embed-video-container{
  display: none;
  margin: 20px 40px;

}

.embed-video-container.present ~ .hide-media-panel-button{
  display:block;
}

.images-wrapper{
  width: 600px;
  padding: 20px 40px;
  display: none;
  #images{

  }
}

.images-wrapper > .attribution{
  float: right;
  margin: 5px 0;
  display: none;
  a{
    color: inherit;
  }

  img.pixabay{
    margin-left: 5px;
    width: 70px;
  }

}

.flickity-enabled + .attribution {
  display: block;
}

.cell-group{
  width:100%;
  img, .thumb-placeholder {
    max-width: none;
    max-height: none;
    height: 100%;
  }
  .img-wrap{
    overflow:hidden;
    height: 130px;
    width: 130px;
    padding: 5px;
    cursor: pointer;
    display:inline-block;
  }
  .thumb-placeholder{
    height: 125px;
    width: 125px;
    border: 1px dashed #DDD;
    margin: 2px;
    display: inline-block;
  }
}

input[type=text].search-input{
  float: left;
  padding: 0;
  padding-right: 0px;
  width: 200px;
  height: 18px;
  font-size: 15px;
  margin: 0;
  border: none;
  background: transparent;
}


.limited-height{
  max-height:500px;
}

#remote_media_url-error {
  text-align: left;
}

.image-menu, .video-menu{
  position: absolute;
  bottom: 10px;
  left: 10px;
  opacity: 1;
  ul {
    display: flex;
    align-items: stretch;
  }
  li {
    margin-right: 5px;
  }

  .img-menu-item {
    &.clear, &.expand-contract{
      display: none;
    }
  }

  .img-menu-item, .video-menu-item {
    background: rgba(255,255,255,.95);
    padding:5px;
    border-radius: 3px;
    font-size: 1.15em;
    cursor: pointer;
    display: inline-block;
    border: 1px solid #fff;

    &.gif {
      color: $n-blue;
      font-size: 13px;
      font-weight: bold;
      height: 100%;
      padding-top: 8px;
      &.active {
        background: $n-blue;
        border-color: $n-blue;
        color: #fff;
      }
    }

    i {
      color: $n-blue;
    }

    &.focused{
      border: 1px solid $n-blue-hover;
    }

    &:hover {
      i {
        color: $n-blue-hover;
      }
    }
  }
}

.image_preview.present {
  .image-menu {
    .img-menu-item {
      &.clear, &.expand-contract{
        display: inline-block;
      }
    }
  }
}

.no-results{
  background-color: #fbeeed;
  border-color: #f7d8dd;
  padding: 5px;
  .msg{
   font-size: 18px;
   text-align: center;
  }
}
