.tile-builder-settings {
  background: #f3f3f3;
  border-top: 2px dashed #dfdfdf;
  padding: 15px 40px;
  font-size: 14px;

  .header {
    padding-bottom: 5px;
    font-size: 16px;
    margin: 0;

    &.public-settings {
      &:before {
        font-family: "FontAwesome";
        content: "\f013";
      }
    }

    &.campaign-settings {
      &:before {
        font-family: "FontAwesome";
        content: "\f013";
      }
    }
  }

  .settings-input-group {
    display: flex;

    .settings-input {
      margin-right: 20px;
    }
  }

  .settings-input {
    padding-top: 10px;
    margin: 0;
  }
}
