  @import "image_search";
  @import "main_inputs";
  @import "image_uploader";
  @import "quiz";
  @import "slider";
  @import "share_to_explore";
  @import "ie9";


  .tile_form_holder {
    margin-top: 44px;
  }
  .tile_holder {
    background: white;
    overflow: hidden;
    border-radius: 3px;
  }
  .tile_holder_container {
    float: none;
    width: auto;
    min-height: 646px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 25px;
    width: 600px;
    padding-top: 0px;
    padding-left: 1px;
    margin: auto;
  }
