<div id="root"></div>
<%= content_tag :div,
  id: "ctrl-data",
  data: @ctrl_data do %>
<% end %>
<%= javascript_pack_tag 'ReactSPA' %>

<%= render partial: 'client_admin/suggestions_access/modal' %>
