<div class="card-component">
  <div class="card-header">
    <h3 class="card-title">Content Creation</h3>
    <!-- <div class="card-header-content">
    </div> -->
  </div>
  <div class="card-body">
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/tiles_created_by_creation_source' %>
    </div>
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/tiles_created_cumulative' %>
    </div>
  </div>
</div>
