<div class="card-component report-module">
  <div class="card-header">
    <h3 class="card-title">Content Creation</h3>
    <div class="card-header-content">
      <%= render partial: 'client_admin/reports/submodules/content_creation_submodule' %>
    </div>
  </div>
  <div class="card-body">
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/tiles_posted_by_creation_source' %>
    </div>
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/tiles_posted_cumulative' %>
    </div>
  </div>
</div>
