<div class="card-component">
  <div class="card-header">
    <h3 class="card-title">Participation</h3>
    <!-- <div class="card-header-content">
    </div> -->
  </div>
  <div class="card-body">
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/unique_activity_and_digests' %>
    </div>
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/cumulative_activity_and_digests' %>
    </div>
  </div>
</div>
