<div class="card-component report-module">
  <div class="card-header">
    <h3 class="card-title">Tile Engagement</h3>
    <div class="card-header-content">
      <%= render partial: 'client_admin/reports/submodules/tile_engagement_submodule' %>
    </div>
  </div>
  <div class="card-body">
    <div class="card-content">
      <%= render partial: 'client_admin/reports/charts/grouped_tile_activity' %>
    </div>
  </div>
</div>
