<div class="report-container reporting-module" style="display:none;" data-current-demo-id="<%= current_demo_id %>">
  <%= render partial: 'client_admin/reports/participation_module' %>
  <%= render partial: 'client_admin/reports/tile_engagement_module' %>
  <%= render partial: 'client_admin/reports/content_creation_module' %>
</div>
