.ie9 {
  #image_uploader {
    &:hover {border-style:solid;}
  }
  .tile_builder_section {
    padding: 2em 0;
    width: 90%;
  }
  .content_sections:not(#image_uploader) {
    border-bottom: none;
    input[type="text"],textarea, .text-input {
      border: 2px #f3f3f3 dashed;
      &:hover, &:focus {
        border-style: solid;
      }
    }
    textarea {
      resize: both;
    }
    label.tile_builder_error{
      color: #e3402d;
      text-align: left;
      font-size: 0.625em;
      font-weight: 700;
      padding-top: 10px;
    }
    label.show_if_ie9{
     display: block;
    }
  }
}
