//
// => Modal builder customizations
//
#images_modal{
  background: transparent;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  #modal_content {
    .image_library{
      margin-left: 90px;
    }
  }
}

//
// => Modal builder customizations
//
#new_tile_modal{
  background: transparent;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-width: 0;
  .tile_holder_container {
    width: 600px;
    padding-top: 0px;
    margin: auto;
  }
  #modal_content {
    width: 1007px;
    margin: auto;
    padding: 50px 0;
  }
}
//Reveal modal ovverides
//TODO consolidate reveal-modal customizations in one place
.reveal-modal-bg{
  background: rgba(14, 23, 29, 0.8);
}
#new_tile_modal, #images_modal {
  .close-reveal-modal, .airbo-close-reveal-modal {
    position: fixed;
    top: 45px;
    right: 50%;
    margin-right: 492px;
    color: $white;
    i {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
#images_modal {
  .close-reveal-modal, .airbo-close-reveal-modal {
    i {
      font-size: 26px;
    }
  }
}
#new_tile_modal {
  .close-reveal-modal, .airbo-close-reveal-modal {
    i {
      font-size: 32px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.reveal-modal.tiny.confirm-with-reveal.destroy_confirm_modal.open {
  width: 350px;
  margin-left: -175px;
  background-color: #FFF;
}
