@import "mixins/green_paddle_switch"; // TODO can't remove. breaks app-internal why?

// body.client_admin-tiles-create,
// body.client_admin-tiles-show,
// body.client_admin-tiles-update,
// body.suggested_tiles-new,
// body.suggested_tiles-create,
// body.suggested_tiles-edit,
// body.suggested_tiles-show,
// body.suggested_tiles-update{
body.tiles-index,
body.acts-index,
body.client_admin-tiles-new,
body.client_admin-tiles-edit {
  @import "modals";
  @import "image_library";
  form.new_tile_builder_form {
    @import "main_inputs";
    @import "image_uploader";
    @import "quiz";
    @import "slider";
    @import "ie9";
  }
  .tile_holder {
    background: white;
  }
  .tile_holder_container {
    float: none;
    width: auto;
    min-height: 646px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .submit_caution {
    font-size: 14px;
    color: $white;
    text-align: center;
    font-weight: 700;
    margin-top: 26px;
  }
  .edit_mode {
    color: $white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 21px;
  }
  // medium editor overrides
  .medium-editor-toolbar {
    li {
      width: 50px; //required fix for ie9
      button:hover {
        color: #4face0;
      }
    }
  }
}
body.client_admin-tiles-show {
  @import "modals";
  // TODO move to tile preview stuff
  .tile_preview_menu {
    width: 600px;
    margin:auto;
    margin-bottom: 40px;
    &.archive_menu {
      .preview_menu_item a {
        padding: 11px 20px 13px 19px;
      }
    }
    .preview_menu_item {
      min-width: 13%;
      width: auto;
      padding: 0px;
      .header_text {
        font-size: 12px;
        margin-left: 0.25em;
      }
      a {
        padding: 0.65em;
        padding: 11px 21px 13px 20px;
      }
    }
  }
}

body.tiles-index,
body.acts-index {
  // for intro js
  #new_tile_modal {
    // z-index: 99 !important;
  }
}
