@import "mixins/lightbox";
@import "mixins/green_paddle_switch";

body.client_admin-tiles-new, 
body.client_admin-tiles-create,
body.client_admin-tiles-edit,
body.client_admin-tiles-show,
body.client_admin-tiles-update,
body.suggested_tiles-new, 
body.suggested_tiles-create,
body.suggested_tiles-edit,
body.suggested_tiles-show,
body.suggested_tiles-update{
  .builder-width {
    width:600px;
    padding: 0 !important;
  }

  .core {
    overflow-y: visible;
  }
  .content form {
    #publish { margin-top: 2em; }
    #publish * {vertical-align: top;}
    #publish input[type="submit"] {@include app-button($sky-blue);}
    #publish input[type="submit"]:disabled {@include app-button($med-gray);}
    #publish .cancel_tile_builder {@include light-button($red); float:right;}
    input[type="text"],textarea, .text-input {
      border:2px lighten($light-gray, 8%) dashed;
      display: block;
      font-size:1.3em;
      margin-bottom:0;
      padding:.5em;
      width:100%;
      &:hover, &:focus {border-style:solid;}
    }
    input[type="submit"]:disabled {
      background: lighten($dark-green, 20%);
    }
    label {
      color:$gray;
      @include font-semibold;
      margin-bottom:.5em;
    }
    .tile_builder_section {
      padding-bottom:2em;
      padding-top:2em;
    }
    .content_sections {
      margin:0 auto 2em auto;
      width:90%;
      &:after{@include clear;}
      &:last-of-type{margin-bottom:0;}
    }
    // External link
    #tile_external_link {
      margin:2em auto; 
      input {border-color:$light-gray;}
    }
  }
  .tile_holder {
    background: white;
  }
  .builder_content {
    background:$white;

    // Image uploader
    #image_uploader {
      .tile_image{
        width: 100%;
      }
      text-align: center;
      &:hover {border-style:solid;}

      p {
        color:$gray;
        margin:1em 0;
      }
      #tile_builder_form_image {display:none;}
      // for IE
      .pick_image {
        margin: 2em;
        padding-top: 3em;
        padding-bottom: 0;
        border:2px lighten($light-gray, 8%) dashed;
      }
      .image_text {
        margin-left: auto;
        margin-right: auto;
      }
      #tile_builder_form_image {
        margin-top: 2em;
        margin-bottom: 3em;
        margin-left: auto;
        margin-right: auto;
        background:$blue;
        border:0;
        color:$white;
        padding:1em 2em;
        width:auto;
        &:hover {background:darken($blue, 5%);}
      }
      // end for IE
      .show_shadows {
        background:$text-color;
        border-style:solid;
        #upload_preview {display:block;}
        .image_placeholder {display:none;}
        .shadows {display:block;}
      }
      .show_placeholder {
        border-bottom:2px lighten($light-gray, 8%) dashed;
        #upload_preview {display:none;}
        .image_placeholder {display:block;}
        .shadows {display:none;}
        &:hover, &:focus {
          border-style:solid;
        }
      }
      .image_preview {
        position: relative;
        .clear_image {
          display: block;
          position: absolute;
          bottom: 10px;
          left: 10px;
          i {
            color: $white;
            &:hover, &:focus {
              cursor: pointer;
              color: $red;
            }
          }
        }
        .image_credit {
          textarea {
            display:none;
          }
          .character-counter{
            display:block;
            position: absolute;
            bottom: 1px;
            right:2px;
            font-size: 0.6rem;
          }
          .image_credit_view{
            cursor: pointer;
            text-align: right;
            min-width: 25px;
          }
        }
        i { color: $gray; }
        .image_placeholder {
          label { 
            margin-top: 1em;
            cursor: default;
          }
          padding-top: 5em;
          padding-bottom: 5em;
        }
      }
    }
    // Copy for the tile
    #tile_builder_form_headline {
      color:$dark-gray;
      @include font-light;
      font-size:2.25em;
      line-height:1.15em;
      height:3.75em;
      padding:.35em;
    }
    #supporting_content_editor {
      @include with-lists();
      height: 450px;
      overflow-y: scroll;
      line-height: 1.25em;
      &.exceeded_maxlength_field {
      }
    }
    #tile_builder_form_supporting_content {
      color:$text-color;
      font-size:1.5em;
      display: none;   
    }
  }
  .tile_quiz {
    .selected {
      color: $sky-blue !important;
    }
    .tile_types {
      .tile_type {
        width: 33.33%;
        height:100%;
        text-align: center;
        border-left:1px $light-gray solid;
        .type {
          font-size: 1em;
          color: $gray;
          width: 100%;
          background: transparent;
          border: 0px;
          margin-bottom: 3px;
        } 
        ul {
          z-index:10;
          width: 33%;
          margin:0;
          margin-top: 6px;
          text-align: left;
          position: absolute;
          left: -99999px;
          li {
            border: 1px $light-gray solid;
            border-top: 0;
            background: $white; 
            color: $gray;
            padding: 0.75em;
            font-weight: bold;
            cursor: pointer;
            &:hover, &:focus {
              color: $dark-gray;
            }
          }
        }
      }
    }
    .quiz_content {
      position: relative;
      padding: 2.5em;
      .tile_question {
        margin: 0;
        width: 100%;
        padding: 0;
        margin-bottom: 2em;
        cursor: pointer;
      }
      .multiple_choice_group {
        margin: 0;
        margin-bottom: 0em;
        width: 100%;
      }
      .placeholder {
        text-align: center;
        padding-top: 3em;
        padding-bottom: 2.5em;
        color: $gray;
        font-weight: 700;
      }
    }
  }
  // Quiz section of the tile
  .builder_quiz, .tile_quiz {
    .answer-div{
      position: relative;
      .character-counter{
        position: absolute;
        bottom: -0.75em;
        right: 0.75em;
      }
    }
    input[type="text"], #tile_builder_form_question {
      background:lighten($light-gray, 5%);
      border-color:lighten($light-gray, 10%);
      &.answer-field {
        color:$sky-blue;
        @include font-semibold;
        text-align: center;
      }
      &:focus {background:$white;}
    }
    #tile_builder_form_question {
      color:$text-color;
      height:3em;
    }
    .answer_option {
      li {
        float:left;
        &.option_radio {
          background:darken($light-gray, 5%);
          border:2px transparent solid;
          margin-top:1px;
          height:47px;
          padding:.7em 0;
          text-align: center;
          width:8%;
          &:hover {cursor: pointer;}
        }
        &.option_selected {
          background: $dark-green;
          border-color:darken($dark-green, 5%);
        }
        &.option_input {
          float:none; overflow:hidden;
        }
      }
      span.character-counter {
        display:block;
        padding-bottom:1em;
      }
      &:after{@include clear;}
    }
    #add-answer-link {@include app-button($med-gray);}
    .after_answers {
      padding-bottom: 1.1em;
      position: absolute;
      bottom: 0;
      font-size:0.9em;
      width: 86.5%;
      margin-left: 0em;
      overflow: hidden;
      font-weight: 700;
      .choose_answer{
        padding: 0;
        width:70%;
        &.no_answer{
          color: $text-color;
        }
        &.have_answer{
          color: $dark-green;
        }
      }
      .add_answer {
        width: 30%;
        padding: 0;
        cursor: pointer;
        color: $blue;
        text-align: right;
      }
    }
  }

  // Public/copyable controls
  .builder_public {
    border-top:1px darken($light-gray, 5%) solid;
    background:$light-gray;
    label {
      display: inline;
    }
  }

  // Points
  .slider{
    display: none;
    padding-top: 2.3em;
    padding-bottom: 2.5em;
    background: #f3f3f3;
    padding-left: 2.5em;
    padding-right: 2.5em;
    #points_slider{
      float:left;
      bottom: -3px;
      width: 100%;
      height: 10px;
      border-radius: 4px;
      background: $light-gray;
      .ui-slider-range { 
        background: #8ecded; 
        .points_pop_up{
          cursor: pointer;
          position: absolute;
          right:-30px;
          bottom:0px;
          width: 60px;
          height: 48px;
          background: transparent;
          .tooltip{
            display: block;
            text-transform: capitalize;
            font-size: 10px;
            color: white;
            text-align: center;
            margin: 0;
            max-width: 100%;
            left: 0;
            line-height: 1.1;
            padding: 0.3em;
            //background gradient
            background: $sky-blue; /* old browsers */
            background: linear-gradient(to bottom, $sky-blue, #66b9e5);
            .points_nub{
              border: solid 5px;
              border-color: #66b9e5 transparent transparent transparent;
              left: 41%;
              margin: 0;
              bottom: -9px;
              display: block;
              position: absolute;
              width: 0;
              height: 0;

            }
            .points_num{
              font-size: 20px;
            }
          }
        }
      }
      .ui-slider-handle { 
        visibility: hidden;
        -webkit-transition: none; -moz-transition: none;
      }
    }
  }
  #set_points {
    display: none;
  }
  .supporting_content_error {
    font-size: 14px;
    color: $red;
    padding-top: 10px;
    display: none;
  }


//
  // => Modal builder customizations
  //
  & #images_modal{
    background: transparent;
    border: none;
    &.reveal-modal{
      top: 0px;
    }

  }

  //
  // => Modal builder customizations
  //
  & #new_tile_modal{

   .tile_holder_container {
     width: 600px;
     padding-top: 0px;
   }

    background: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;


    #modal_content {
      width: 1007px;
      margin: auto;
      /*padding: 50px 0 50px 55px;*/
      padding-top: 50px;
    }


    .medium-editor-placeholder:after {
      color: #b3b3b1;
    }



   

    .medium-editor-placeholder:after {
      content: attr(data-placeholder)!important;
      color: #a9a9a9;
      font-size: 20px;
      font-style: normal;
      padding-top: 14px;
      display: block;
      position: relative;
    }


    // => Text content and submit buttons
    form {
      .builder_content {

        padding-bottom: 0;

        .show_placeholder {
          border-bottom: none;

          &:hover {
            border-bottom: none;
          }
        }

        #supporting_content_editor {
          max-height: 450px;
          min-height: 250px;
          height: auto;
        }

        #tile_builder_form_headline{
          font-size: 2.5em;
          line-height: 1.15em;
          height: 4.0em;
        }
        #tile_builder_form_link_address{
          font-size: 1.6em;
          padding-bottom: 0;
        }

        input[type="text"],textarea, .text-input {
          border: none;
          background: transparent; 
        }

        textarea {
          resize: none;
        }
 

      }

      .tile_builder_section {
        padding: 0;
      }

      .content_sections {
       
        .show_if_ie9{
          display: none;
        }

       
        width: 100%;
        border-bottom: 2px dashed #f3f3f3;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        margin-bottom: 0;

        &.tile_builder_error{
          background-color: rgba(188, 76, 64,.20); //pinkish*/
        }
        
        & label.tile_builder_error{
          color: #e3402d;
          text-align: left;
          font-size: 0.625em;
          font-weight: 700;
          padding-top: 10px;
        }

        & .character-counter {
          padding-top: 10px;

        //FIXME should probably consolidate all error styels under tile_builder_error

          &.exceeded_maxlength_counter {
            color: #e3402d;
          }
        }

        &:last-child:not(:only-child) {
          border-bottom: none;
        }
      }

      .ie9 {

        #image_uploader {
          &:hover {border-style:solid;}
        }

          .tile_builder_section {
            padding: 2em 0;
            width: 90%;
          }

        .content_sections:not(#image_uploader) {
          border-bottom: none;

          input[type="text"],textarea, .text-input {
            border: 2px #f3f3f3 dashed;
            &:hover, &:focus {
              border-style: solid;
            }
          }

          textarea {
            resize: both;
          }
          label.show_if_ie9{
           display: block;
          }


        }
      }


      #image_uploader {
        &:hover {border-style:dashed;}
        &.content_sections {
          padding: 0;
          label.tile_builder_error{
            padding-left: 5%;
            padding-bottom: 2%;
          }
        }
      }

      #publish {
        .cancel_tile_builder{
          display: none;
        }

        input[type="submit"] {
          width: 100%;
          padding: .6em .75em;
        }
      }

      // => End Text content and submit buttons

      // Multiple choice answers
      .multiple_choice_group {

        .tile_multiple_choice_answer{
          ul.answer_option{
            display: block;
            margin-top: -45px;
            min-height: 42px;
            .option_input{
              display: none;
            }

            li.del-answer{
              float: right;
              line-height: 2.65em;
            }
          }

          .answer-div {
            input.answer-field.answer-part{
              margin-left: 2%;
            }
          } 
          a {
             min-height:45px;
          }
        }


        &.action {
          ul.answer_option{
            margin-top: 0;
          }
        }

        &.quiz{
          .tile_multiple_choice_answer{
            ul.answer_option{
              width: 100%;

              li.option_radio{
                background: inherit;
                border-color: #d2d2d2;
              }
              li.option_selected{
                background-color: #d2d2d2;
              }
            }

            &.true_false{
              a {
                width: 90%;
              }
            }

            &.multiple_choice{
              .answer-div {
                width:93%;
              }
            }

            a {
              width:85%;
              margin-left: 10%;
            }
          }

        }

        &.survey{
          .tile_multiple_choice_answer{

            a {
              width:95%;
            }

            .answer-div {
              input.answer-field.answer-part{
                margin-left: 0;
                width:95%;
              }

              .character-counter{
                margin-right: 5%;
              }

            } 

          }
        }

      }

      .after_answers {
        .choose_answer{
          width: auto; 
          float: left;
        }
        .add_answer {
          width: auto;
          float: right;
        }
      }



    } //End Form

    .tile_preview_menu {
      width: 600px;
      margin:auto;
      margin-bottom: 50px;

      .preview_menu_item {
        min-width: 13%;
        width: auto;
        padding: 0px;
        .header_text {
          font-size: 12px;
          margin-left: 0.25em;
        }
        a {
          padding: 0.65em;
        }
      }

    }

    #tile_external_link {
      margin-bottom: 0px;
      margin-top: 0px;
    }
  }

}

body.client_admin-tiles-new, 
body.client_admin-tiles-create,
body.client_admin-tiles-edit,
body.client_admin-tiles-update,
body.suggested_tiles-new, 
body.suggested_tiles-create,
body.suggested_tiles-edit,
body.suggested_tiles-update{
  #flash {
    width: 100%;
  }
  .tile_quiz {
    padding: 0 !important;
  }
  .content {
    padding: 0;
  }
  .image_library {
    background: $dark-gray;
    overflow: auto;
    float: left;
    width: 466px;
    height: calc(100vh - 47px);
    min-height: 646px;
    padding: 30px 0px 50px 31px;
    .tile_images {
      overflow: auto;
    }
    .pagination {
      display: none;
    }
    .jscroll-loading { // div with our standard spinner 
      text-align: center;
      img {
        width: 50px;
      }
    }
    .tile_image_block {
      float: left;
      width: 126px;
      height: 106px;
      margin: 5px;
      border-radius: 3px;
      cursor: pointer;
      border: 3px solid $dark-gray;
      &.selected {
        border-color: $sky-blue;
      }
      img {
        border-radius: 3px;
      }
    }
    .upload_image {
      border: 1px solid $white;
      color: $white;
      text-align: center;
      position: relative;
      i {
        padding-top: 30px;
        padding-bottom: 10px;
      }
      span, label {
        display: block;
      }
      label {
        color: white;
      }
      .upload_new_image {
        opacity: 0;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        #tile_builder_form_image {
          margin-top: 0;
          font-size:5em;
          line-height: 0;
          position: absolute;
          z-index: 150;
          left: 0;
          top: 0;
          cursor: pointer;
          display: block;
          width: 100%;
          height: 100%;
          overflow: hidden;
        }
      }
    }
  }
  .tile_holder_container {
    float: none;
    width: auto;
    min-height: 646px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 50px;
    .tile_form_holder{
      max-width: 52.8vw;
    }
  }
  #footer {
    display: none;
  }
}

#new_tag_lightbox {
  @include lightbox-form;
}

#tile_tag_select {
  background: lighten($light-gray, 8%);
}

.shadows{
  position: relative;
  .shadow_overlay {
    min-height: 50px;
  }
}

.image_preview {
  .image_placeholder {
    label#uploaded_image_file.file_selected{
      color: #50698C;
      font-weight: bold;
    }

  }
  .image_credit {
    position: absolute;
    padding-top: 20px;
    bottom: 10px;
  }
  .image_credit_view{
    /*padding-top: 20px;*/
    /*padding-bottom: 15px;*/
    /*padding-left: 15px;*/
    /*padding-right: 5px;*/
  }
}

#ie9_uploader.tile_image_block.upload_image.ie9_or_older {
  cursor: auto;
  label#upload_trigger_ie9 {
    cursor: pointer;
  }
}

// medium editor overrides

.medium-editor-toolbar { 
  li {
    width: 50px; //required fix for ie9
    button:hover {
      color: #4face0
    }
  }
}

//Reveal modal ovverides
//TODO consolidate reveal-modal customizations in one place


.reveal-modal-bg{
  background: rgba(14, 23, 29, 0.8);
}

#new_tile_modal, #images_modal {
  .close-reveal-modal {
    position: fixed;
    top: 47px;
    right: 50%;
    margin-right: 490px;
    color: $white;
    i {
      &:hover {
        opacity: 0.7;
      }

    }

  }
}

#images_modal {
  .close-reveal-modal {
    i {
      font-size: 26px;
    }
  }
}




#new_tile_modal {
  .close-reveal-modal {
    i {
      font-size: 32px;
    }
  }
}
