
<li class="preview_menu_item post_header" >
  <i class="fa fa-archive fa-1x"></i>
  <span class="header_text">
    Archive
  </span>
</li>

<li class="preview_menu_item post_header">
  <%=link_to status_change_client_admin_tile_path(tile), data: {status: 'active'}, class: 'update_status' do %>
    <i class="fa fa-check fa-1x"></i>
    <span class="header_text">
      Repost
    </span>
  <%end%>
  </a>
</li>


