<% show_client_admin_menu ||= false %>
<% presenter_class = if show_client_admin_menu
                       TilePreview::MenuPresenter::ClientAdmin
                     else
                       TilePreview::MenuPresenter::User 
                     end %>
<% presenter = presenter_class.new(tile, browser) %>
<ul class="tile_preview_menu">
  <li class="preview_menu_header <%= presenter.status %>">        
    <%= presenter.status_name %>
  </li>

  <% presenter.menu_cells.each do |menu_cell| %>
    <%= render menu_cell, menu_cell.locals %>
  <% end %>
</ul>
