<% show_client_admin_menu ||= false %>
<%  if show_client_admin_menu %>
  <% if tile.suggested? %>
    <%= render partial: "client_admin/tiles/tile_preview/suggested_menu", locals:{tile: tile} %>
  <% elsif tile.is_fully_assembled?%>
    <%= render partial: "client_admin/tiles/tile_preview/ca_created_menu", locals:{tile: tile} %>
  <% else %>

    <ul class="tile_preview_menu centered">
      <li class="preview_menu_item edit" >
        <%=link_to edit_client_admin_tile_path(tile),  data:{"tile-id" => tile.id, action: "edit", status: tile.status} do %>
        <i class="fa  fa-pencil  fa-1x"></i>
        <span class="header_text">
          Edit
        </span>
      <%end%>
      </li>

    </ul>

  <% end %>
<%end %>



