<li class="preview_menu_item" >
  <a href="#">
  <i class="fa fa-check fa-1x"></i>
  <span class="header_text">
    Posted
  </span>
  </a>
</li>
<li class="preview_menu_item">
  <%=link_to status_change_client_admin_tile_path(tile), data: {status: 'archive'},  class: 'update_status' do %>
    <i class="fa fa-archive fa-1x"></i>
    <span class="header_text">
    Archive
    </span>
  <%end%>
</li>



