<ul class="tile_preview_menu" >
  <li class="preview_menu_item" id="stat_toggle">
    <a>
      <span class="header_text">
        <%="Submitted by: #{tile.creator.name} on #{tile.created_at.strftime('%m/%d/%Y')}"%>
      </span>
    </a>
  </li>

  <li class="preview_menu_item" >
    <%=link_to status_change_client_admin_tile_path(tile) , class: 'update_status', data:{tileId: tile.id, status: Tile::DRAFT} do %>
      <i class="fa fa-check fa-1x"></i>
      <span class="header_text">
        Accept
      </span>
    <%end%>
  </li>

  <li class="preview_menu_item" >
    <%=link_to status_change_client_admin_tile_path(tile), class: 'update_status', data:{tileId: tile.id, status: Tile::IGNORED} do %>
      <i class="fa fa-close fa-1x"></i>
      <span class="header_text">
        Ignore
      </span>
    <%end%>
  </li>
</ul>
