<ul class="tile_preview_menu" >
  <li class="preview_menu_item tipsy" id="stat_toggle" title= '<%=suggested_tile_status_change_tooltip tile %>'>
  <%=tile_preview_menu_status_item tile %>
  </li>


</ul>
