- if @active_tiles.empty?
  %div.no_tiles_message There are no active tiles.
- else
  = link_to 'Download CSV', client_admin_tiles_reports_path(report: Tile::ACTIVE, format: 'csv')
  = render partial: 'table', locals: {tiles: @active_tiles}
