%table
  %thead
    %tr
      %th.tiles_images Image
      %th.tiles_headlines Headline
      %th.tiles_completions Completions
      %th.tiles_percent_claimed % of participants
      / %th.tiles_percent_all % all
  %tbody= render partial: 'row', collection: tiles
