%table
  %thead
    %tr
      %th.tiles_images Image
      %th.tiles_headlines Headline
      %th.tiles_completions Completions
      %th.tiles_percent_claimed % of participants
  %tbody= render partial: 'row', collection: tiles
