%table
  %thead
    %tr
      %th Image
      %th Headline
      %th.tiles_completions Completions
      %th.tiles_percent_claimed Percent claimed
      %th.tiles_percent_all Percent all
  %tbody= render partial: 'row', collection: tiles
