Headline,Status,Completions,% of participants
- @tiles.each do |tile|
  = CSV.generate_line([tile.headline, footer_timestamp(tile), tile.num_completed, number_to_percentage(tile.percent_claimed, precision: 1)])