-# Need to call 'strip' on the lines because was getting "\n\n" instead of just "\n"
-# (Actually, I wasn't getting the extra newlines in LibreOffice Calc, but Kate was in Excel. Beats me...)
-# Also, notice the "!=" which is Haml's way of not escaping HTML. Need this so commas in headlines are processed correctly.
Headline,Status,Total Views,Unique Views,Completions,% of participants
- @tiles.each do |tile|
  - presenter = SingleTilePresenter.new(tile, :plain, false, browser.ie?)
  != CSV.generate_line([presenter.headline, presenter.timestamp, presenter.total_views, presenter.unique_views, presenter.tile_completions_count, presenter.completion_percentage]).strip
