<div class='admin'>
  <h2 class="first">
    <%= link_to "Admin", admin_path %> »
    <% if @demo %> 
      <%= link_to @demo.name, admin_demo_path(@demo) %> » Rules
    <% else %>
      <%= link_to 'Standard Playbook', admin_rules_path %>
    <% end %>
  </h2>


  <h2>New Rule</h2>
  <%= render 'rule_form', :rule => @rule, :primary_value => @primary_value, :secondary_values => @secondary_values, :action_path => @commit_path %>
</div>
