<div class="explore">
  <%= render partial: 'explore/campaign_nav_row', locals: { channels: @display_channels } %>

  <%= render partial: 'explore/tile_feature', locals: { feature: @tile_feature } %>

  <% unless @related_campaigns.empty? %>
    <%= render partial: 'explore/campaigns', locals: { campaigns: @related_campaigns, header: "Related Campaigns" } %>
  <% end %>

  <% unless @related_tiles.empty? %>
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @related_tiles, header: "Related Tiles", more_tiles_path: explore_tile_feature_path(@tile_feature) } %>
  <% end %>
</div>
