<div class="explore">
  <%= render partial: 'explore/campaign_nav_row', locals: { campaigns: @related_campaigns } %>

  <%= render partial: 'explore/tile_feature', locals: { feature: @tile_feature } %>

  <% unless @related_campaigns.empty? %>
    <% @related_campaigns.each do |campaign| %>
      <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
    <% end %>
  <% end %>

  <% unless @tiles.empty? %>
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "Related Tiles", more_tiles_path: explore_tile_feature_path(@tile_feature) } %>
  <% end %>
</div>
