@mixin card-component($header-background-color, $border-color, $default-header-content-height: 212px) {
  .card-component {
    overflow: hidden;
    margin: 35px;
    .card-header {
      min-height: 60px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border: solid 1px $header-background-color;
      background-color: $header-background-color;
      color: #fff;
      .card-title-group {
        .card-title {
          font-size: 22px;
          font-weight: 400;
          padding: 16px;
          margin: 0;
          display: inline-block;
        }
      }
      .card-header-content {
        padding: 16px;
        min-height: $default-header-content-height;
        border-top: solid 1px darken($header-background-color, 5%);
      }
      &.danger {
        border-color: $n-red;
        background-color: $n-red;
      }
    }
    .card-body {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border: solid 1px $border-color;
      border-top: none;
      .card-content {
        border-radius: inherit;
        background-color: #fff;
        padding: 16px;
        &:not(:first-child) {
          border-top: solid 1px $border-color;
        }
      }
    }

    .dropdown-button-component {
      background-color: transparent;
      color: #fff;
      .list {
        color: $header-background-color;
      }
    }

    @media (min-width: 1300px) {
      .card-header {
        .card-title-group {
          .card-title {
            padding-left: 0;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .dropdown-button-component {
        margin-right: 25px;
        margin-top: 12px;
        float: right;
        .list {
          left: auto;
          right: 0;
        }
      }
    }

    @media (max-width: 768px) {
      .dropdown-button-component {
        margin: 0 1rem 1rem 1rem;
      }
    }

    &.loading-template {
      .card-content {
        min-height: 250px;
        .load-wheel {
          margin-top: 65px;
          color: $border-color;
        }
      }
    }
  }
}
