@import "./mixins/nice-select.scss";

@mixin dropdown-button-component() {
  .dropdown-button-component {
    @include nice-select();
    &.dropdown-button-component-init {
      display: none;
    }
  }

  .transparent {
    background-color: transparent;
    color: #fff;
  }
}

@include dropdown-button-component();
