@mixin green-paddle-switch($size-factor: 1) {
  @include switch-size(20px * $size-factor);
  @include switch-style($switch-paddle-bg, $light-gray, $sky-blue, false, true);
  float: left;
  width: 45px * $size-factor;
  margin-top: 4px;
  span.green-paddle {
    width: 20px * $size-factor;
    height: 20px * $size-factor;
  }
}
