@mixin intro-js-restyling {
  @import "mixins/intro_button_to_app_button";
  .introjs-skipbutton {
    @include intro-button-to-app-button($sky-blue, 0.9rem);
  }
  .introjs-tooltiptext {
    line-height: 1.3rem;
  }
  .introjs-prevbutton, .introjs-nextbutton {
    @include intro-button-to-app-button($sky-blue, 0.7rem);
    &:focus, &:active {
      @include intro-button-to-app-button($sky-blue, 0.7rem);
    }
    margin-left: 0.1rem;
  }
  .introjs-bullets {
    display: none;
  }
}
