@mixin lightbox {
  background:$white;
  display: none;
  padding:1em;
  width:400px;
}

@mixin lightbox-form {
  @include lightbox;
  border:0;
  position: relative;
  width:90%;
  max-width:30em;
  h2 {
    color:#909090;
    font-size:1.65em;
    padding:.5em 0;
  }
  form {
    margin-top:1em;
    input[type="text"],input[type="password"],textarea {
      display: block;
      font-size:1em;
      margin-bottom:.5em;
      width:100%;
    }
    textarea {height:6em;}
  }
  p {padding:.5em 0;}
}

.close-lightbox-button:link, .close-lightbox-button:visited {
  background:transparent;
  border-radius:3px;
  color:$light-gray;
  padding:.25em .5em;
  position:absolute; 
  top:.5em; right:.5em;
  &:hover {
    background: $gray;
    color:$white;
  }
  font-size:.75;
}


#t-and-c-notice {
  width: 87%;
  margin:1.5em 0 0 0;
  font-size: 0.75em;
}



