// ------------------------ * Colors * ------------------------
// Various grays
$dark-gray:         #2e2e2c;
$med-gray:          #a8a8a8;
$gray:              #818385;
$almost-white:      #fefefe;
$darker-gray:       #66676d;
$light-gray:        #dfdfdf;
$dark:              #0c0c0b;

// Our palette
$blue:              #50698C;
$light-blue:        #a7d5ef;
$sky-blue:          #4face0;
$dark-green:        #4FAA60;
$red:               #BC4C40;
$white:             #fff;

// App elements
$header-color:      #fff;
$offcanvas-gray:    $dark-gray;
$text-color:        #4c4c4c;
$tile-text:         #a8a8a8;
$tile-tag-border:   #dfdfdf;
$body-bg:           lighten($blue, 56.5%);  // #fefefe
$tile-wall-bg:      lighten($blue, 45%);    // #d9dfe9
$form-bg:           lighten($blue, 53%);    // #f2f5f8
$ca-subnav-color:   darken($blue, 15%);     // #34445b

// ------------------------ * Misc dependents * ------------------------
@mixin clear {
  clear:both;
  content:"";
  display:block;
}
@mixin ease($time) {
  -webkit-transition: all #{$time} ease-in-out;
  -moz-transition: all #{$time} ease-in-out;
  -ms-transition: all #{$time} ease-in-out;
  -o-transition: all #{$time} ease-in-out;
  transition: all #{$time} ease-in-out;
}

// ------------------------ * Typography * ------------------------
$default:   'Helvetica Neue', Helvetica, Arial, sans-serif;
$small_cap_size: .625rem; // 10px

@mixin font-thin {
  font-family: $default;
  font-style:normal;
  font-weight:lighter;
  font-weight: 100;
}
@mixin font-light {
  font-family: $default;
  font-style:normal;
  font-weight:lighter;
  font-weight: 300;
}
@mixin font-regular {
  font-family: $default;
  font-style:normal;
  font-weight:normal;
  font-weight: 400;
}
@mixin font-semibold {
  font-family: $default;
  font-style:normal;
  font-weight:bold;
  font-weight: 500;
}
@mixin font-bold {
  font-family: $default;
  font-style:normal;
  font-weight:bolder;
  font-weight: 700;
}
@mixin caption {
  @include font-bold;
  font-size:10px;
  font-size:$small_cap_size;
  line-height: 1em;
  text-transform: uppercase;
}
@mixin hide-text {
  color:transparent;
  font-size:1em;
  font-size:0;
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
}

.small_cap {@include caption;}

@mixin regular-text {
  @include font-regular;
  font-size: 14px;
  color:$med-gray;
}

html, body {
  margin: 0;
  width: 100%;
  height:100%;
}
body {
  background:$body-bg;
  @include font-regular;
  font-size:100%;
  font-style:normal;
  .content {
    padding:2em 0 0 0;
  }
}
* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
h1 {
  @include font-light;
  font-size: 32px;
}
h2 {
  @include font-light;
  font-size: 18px;
  line-height: 1.35em;
  color: $sky-blue;
}
h3 {
  @include font-semibold;
  color: $text-color;
  font-size: 16px;
}
h4 {
  @include caption;
  color: $text-color;
  margin-bottom: 0.75em;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
}
h5 {
  @include font-bold;
  color:$med-gray;
  font-size: 12px;
  text-transform: uppercase;
}
p {line-height:1.25em; margin:0; padding:0;}

// ------------------------ * Breakpoints & measurements * ------------------------
$foundation: 768px;
$mid-desktop: 58em;
$large-desktop: 71.25em;
$foundation-gutter: 0.9375em;
$under_small_cap: .25rem; // space under small cap text
$bar-height: 1.3rem; // controls height of elements in Top Bar
$border-radius: 3px; // border-radius for things that use it
$top-bar-height: #{($bar-height + $small_cap_size + $under_small_cap)};
$header-total-height:47px;
$ca-subnav-size: 5rem;

// ------------------------ * Dividers & containers * ------------------------
$border-dark:       1px $light-gray solid;
$border-light:      1px #fff solid;

@mixin box-down-shadow($color) {box-shadow:  0px 1px 1px 1px $color;}
@mixin box-outer-shadow($color) {box-shadow:  0px 0px 1px 1px $color;}

@mixin form-group {
  background: transparent;
  border:1px $light-gray solid;
  border-radius:$border-radius;
  padding:1em;
  &:after{@include clear;}
}

.editorial_divider { // Default case
  border-top:1px $tile-wall-bg solid;
  position: relative;
  text-align: center;
  .editorial_title {
    @include caption;
    background:$tile-wall-bg;
    border-radius:$border-radius;
    color:$white;
    display: inline-block;
    margin:0 auto;
    padding:.5em 1em;
    position: relative;
    top: -1em;
  }
}
@mixin editorial_divider($color) {
  border-color:$color;
  .editorial_title {background:$color;}
}

// Email Client container
$client-color: #DCDCDC;
$client-radius: 5px;
$client-red: #f85032;
$client-yellow: #fceabb;
$client-green: #bfd255;

.email-client {
  border: 1px $client-color solid;
  border-radius: $client-radius;
  box-shadow: 0 0 4px 0 lighten($client-color, 5%);
  overflow: hidden;
  position: relative;

  &:before {
      background: $client-color;
      background: -moz-linear-gradient(top,  #f7f7f7 0%, #eaeaea 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
      background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
      background: -o-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
      background: -ms-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
      background: linear-gradient(to bottom,  #f7f7f7 0%,#eaeaea 100%);

      content: "";
      border-top-left-radius: $client-radius;
      border-top-right-radius: $client-radius;
      display: block;
      width: 100%;
      height: 1.5em;
    }

  .client-toolbar {
    background: darken($client-color, 5%);
    padding: .5em 1em;

    span {
      color: darken($client-color, 50%);
      display: block;
      font-family: sans-serif;
      font-size: .75em;
      font-weight: 600;
      padding-top: .25em;

      &:before {
        color: #fff;
        content: "Subject:";
        display: inline-block;
        margin-right: .5em;
        text-transform: uppercase;
      }
    }

    .email-buttons {
      width: .65em;
      height: .65em;
      border-radius: 2em;
      display: inline-block;
      position: absolute;
      top: .35em;

      &.red {
        background: $client-red;
        background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827));
        background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);

        border: 1px solid darken($client-red, 15%);
        left: .3em;
      }

      &.yellow {
        background: $client-yellow;
        background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
        background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);

        border: 1px solid darken($client-yellow, 15%);
        left: 1.35em;
      }

      &.green {
        background: $client-green;
        background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
        background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);

        border: 1px solid darken($client-green, 15%);
        left: 2.45em;
      }
    }
  }

  .iframe {
    background: $white;
    padding: 1.5em 2em;
  }
}

// ------------------------ * Links & buttons * ------------------------
@mixin link($color) {
  @include ease(.15s);
  @include font-bold;
  color:$color;
  text-decoration: none!important;
  &:hover {color:darken($color, 10%);}
  &:active {color:lighten($color, 10%);}
}
a, a:link, a:visited {@include link($blue);}

@mixin app-button($color) {
  background:$color;
  background: -moz-linear-gradient(top,  $color 40%, darken($color, 5%) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,$color), color-stop(100%,darken($color, 5%)));
  background: -webkit-linear-gradient(top,  $color 40%,darken($color, 5%) 100%);
  background: -o-linear-gradient(top,  $color 40%,darken($color, 5%) 100%);
  background: -ms-linear-gradient(top,  $color 40%,darken($color, 5%) 100%);
  background: linear-gradient(to bottom,  $color 40%,darken($color, 5%) 100%);
  
  border:1px $color solid;
  border-radius:$border-radius;

  color:$white;
  display: inline-block;
  @include font-bold;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  padding:.35em .75em;
  text-align: center;
  text-transform: capitalize;
  &:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background:darken($color, 5%);
    color:$white;
  }
  &:active {background:lighten($color, 5%);}
}
@mixin fat-app-button($color) {
  @include app-button($color);
  font-size:1.375em;
  padding:.5em 1em;
}
@mixin light-button($outlineColor) {
  background:transparent;
  border:1px $outlineColor solid;
  border-radius:$border-radius;
  color:$outlineColor!important;
  display: inline-block;
  @include font-semibold;
  font-size: 16px;
  font-weight: 400;
  line-height: 1em;
  padding:.35em .75em;
  text-align: center;
  text-transform: capitalize;
  &:hover {
    border-color:darken($outlineColor, 11%);
    color:darken($outlineColor, 11%)!important;
  }
  &:active {
    @include ease(0);
    background:$outlineColor;
    color:$white;
  }
  @if $outlineColor == $white {
    &:active {
      color:$light-gray;
    }
  }
}
// ------------------------ * Arrows * ------------------------
@mixin arrow-up($color, $size) {
  border-right: #{$size} solid transparent;
  border-left: #{$size} solid transparent;
  border-bottom: #{$size} solid #{$color};
  content:"";
  display:inline-block;
}
@mixin arrow-down($color, $size) {
  border-right: #{$size} solid transparent;
  border-left: #{$size} solid transparent;
  border-top: #{$size} solid #{$color};
  content:"";
  display:inline-block;
}
@mixin arrow-left($color, $size) {
  border-bottom: #{$size} solid transparent;
  border-right: #{$size} solid #{$color};
  border-top: #{$size} solid transparent;
  content:"";
  display:inline-block;
}
@mixin arrow-right($color, $size) {
  border-bottom: #{$size} solid transparent;
  border-left: #{$size} solid #{$color};
  border-top: #{$size} solid transparent;
  content:"";
  display:inline-block;
}

// ------------------------ * Gradient bar * ------------------------
@mixin completed_progress {
  background: $sky-blue;
  height:100%;
}

@mixin bar_shine {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4xNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.15) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0.15)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.15) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#26ffffff',GradientType=0 );

  height:50%;
}
@mixin light-to-color-gradient($color, $percent) {
  background: $color;
  background: -moz-linear-gradient(top,  lighten($color, $percent) 0%, $color 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lighten($color, $percent)), color-stop(100%,$color));
  background: -webkit-linear-gradient(top,  lighten($color, $percent) 0%,$color 100%);
  background: -o-linear-gradient(top,  lighten($color, $percent) 0%,$color 100%);
  background: -ms-linear-gradient(top,  lighten($color, $percent) 0%,$color 100%);
  background: linear-gradient(to bottom,  lighten($color, $percent) 0%,$color 100%);
}
@mixin header_bar {
  background: $white;
}
.bar_shine {
  @include bar_shine;
  position:absolute;
  width:100%;
  top:0;
  left:0;
}


* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
body {
  background:$body-bg;
  border-top:none;
  color:$text-color;
  @include font-regular;
  font-size:100%;
  line-height: 1em;
  margin:0;
  position: static;
  height:100%;
  width:100%;
  .row {max-width:$large-desktop;}

}
img {border:0; margin:0; padding:0;}

ol, ul {list-style-position:outside; list-style-type:none; margin:0; padding:0;}

input[type="text"], input[type="password"],textarea,
input[type="file"], input[type="checkbox"], input[type="radio"],
input[type="number"], select {
  @include regular-text;
  border:$border-dark;
  box-shadow:none;
  color:$text-color;
  margin:0;
  padding:.5em;
  transition:none;
  width:auto;
  &:hover{border-color:$blue;}
  &:focus {
      background:$white;
      border:1px $blue solid;
      box-shadow:none;
      color:$text-color;
      transition:none;
  }
}
input[type="text"] {
  color: $text-color;
  border-radius: $border-radius;
  font-size: 14px;
  margin-bottom: 0.5em;
}
input:focus, select, textarea {outline: 0;}

form.custom .custom.dropdown {
  font-size: 14px;
  ul li {
    color: $med-gray;
    &.selected, &:hover{
      color: $med-gray;
    }
  }
  .current{
    color: $med-gray;
    font-size: 14px;
    font-weight: 400;
  }
}

input::-moz-focus-inner { // fix for Firefox thickening buttons
  border: 0;
  padding: 0;
  margin-top:-2px;
  margin-bottom: -2px;
}

// Breadcrumbs
.breadcrumbs {
  $breadcrumb-bg: lighten($light-gray, 7%);
  border:1px darken($breadcrumb-bg, 7%) solid;
  border-radius:$border-radius;
  overflow: hidden;
  &:after{@include clear;}
  li {
    display: inline-block;
    float:left;
    margin-right:1em;
  }
  li a, li span {
    display:inline-block;
    background:$breadcrumb-bg;
    font-size:.85em;
    min-width:10em;
    padding:.25em 1em .25em 1.5em;
    position: relative;
    text-align:center;
    text-transform: capitalize;
    &:after {
      @include arrow-right($breadcrumb-bg, 1.125em);
      margin-top:-1.125em;
      position: absolute;
      top:50%;
      right:-1em;
      z-index:1;
    }
  }
  li + li {
    margin-left:-1em;
    z-index:-1;
    a, span {
      z-index:-1;
      padding-left:2.5em;
      &:before {
        @include arrow-right(darken($breadcrumb-bg, 7%), 1.125em);
        margin-top:-1.125em;
        position: absolute;
        top:50%;
        left:0;
        z-index:0;
      }
    }
  }
  li:last-of-type {
    a, span {
      background:darken($breadcrumb-bg, 10%);
      color:$white;
      @include font-bold;
      &:after {border-left-color:darken($breadcrumb-bg, 10%);}
    }
  }
}

.shadow_overlay {
  display: none;
  background:image-url('v5/bg_dark.png');
  position: absolute;
}

#footer {
  clear:both;
  color:$light-gray;
  font-size:.75em;
  text-align:center;
  padding-top:8em;
  margin:2em 0;
}
