@mixin rounded-corners($radius: 2px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow ($x: 0px, $y: 2px, $blur: 4px, $spread: 2px, $color: $dark-gray) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin background-gradient($startColor, $endColor, $fallbackColor) {
  background: $fallbackColor; /* for non-css3 browsers */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$startColor', endColorstr='$endColor'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $startColor,  $endColor); /* for firefox 3.6+ */ 
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
}
