@import 'main_styles.css.scss';
$text-color:#222; 
@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

$open-300:  'OpenSansLight';
$sans:      $open-300, $default;
$open-400:  'OpenSansRegular', $sans;
$open-600:  'OpenSansSemiBold', $sans;
$open-800: 'OpenSansBold', $open-600;
$open-900: 'OpenSansExtraBold', $open-800;


$gutter:            10px; 
$body-width:        984px;  // PRE-OCT 2013
@mixin full-width { // PRE-OCT 2013
    padding:0 $gutter;
    width:$body-width;
}
$centered:          0 auto;

$header-bg:         #588b3d; // PRE-OCT 2013
$flash-f:           #50c1cb;
$flash-s:           #58d858;
$outline-gray:      #c0c0c0;
$light-green:       #89c440; // PRE-OCT 2013
$headlines:         #202020;


@mixin link($color) {
    @include ease(.15s);
    color:$color;
    font-family:$open-600;
    text-decoration: none!important;
    &:hover {color:darken($color, 10%);}
    &:active {color:lighten($color, 10%);}
}

/* ============= Mixins for Buttonz ============= */
@mixin square-button-wrap($bg) {
    background:#{$bg};
    display:inline-block;
    border:1px darken($bg, 7%) solid;
}   
@mixin square-button($bg) {
    background:$bg;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.15em;
    font-family:$open-600;
    line-height:1.15em;
    margin:0;
    padding:5px 7px;
    vertical-align: middle;
    border:{
        style:solid;
        color:lighten($bg, 5%);
        top:{width:1px;}
        bottom:{width:0;}
        left:{width:1px;}
        right:{width:1px;}
    }
    &:hover {
        background:darken($bg, 5%);
        border-color:$bg;
    }
}
@mixin pop-button($bg) {
  background:#{$bg};
  border:{
    style:solid;
    color:darken($bg, 8%);
    top:{width:0;}
    bottom:{width:4px;}
    left:{width:0;}
    right:{width:0;}
  }
  display:inline-block;
  color:$white;
  cursor:pointer;
  font-family:$open-600;
  padding:.35em .75em;
  &:hover{color:$white;}
  @if $bg == $blue {
    &:hover{
      background:$orange; 
      border-color:darken($orange, 8%);
    }
  }
  @else {
    &:hover{
      background:darken($bg, 4%);
      border-color:darken($bg, 10%);
    }
  }
}

@mixin close-button {
  background:$light-gray;
  border-radius:3px;
  color:$white;
  padding:.25em .5em;
  position:absolute; 
  top:.5em; right:.5em;
  &:hover {
    background: $orange;
    color:$white;
  }
}

/* ============= General stuff that all pages use ============= */
a, a:link, a:visited {@include link($blue);}
h1, h2, h3 {font-family:$sans; margin:0; padding:0;}

h1.headline {
  font-size:1.8em;
  font-family:$sans;
  color:$headlines;
  padding:.75em 0;
}
h2.subhead {
  font-family:$open-400;
  font-size:1.15em;
  padding-bottom:.75em;
}

select { 
  padding:.35em;
  &:focus {outline:1px $dark-green solid;}
}


/* ============= Color bars ============= */
body {
  border-top:7px $dark-green solid;
  font-family:$sans;
  * {
    font-smooth: auto;
    -webkit-font-smoothing : auto;
  }
}
.colorbar {
  display: inline-block;
  height:7px;
  position: absolute;
  top:0;
  width:16.5%;
  &#blue {background:$blue; right:16.5%;}
  &#orange {background:$orange; right:0;}
}