@mixin standard-modal($container-width: 1007px, $content-width: 700px) {
  background: rgba(14, 23, 29, 0.8);
  position: fixed;
  padding: 50px 30px;
  padding-left: 67px;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-width: 0;
  .modal_container {
    position: relative;
    width: 100%;
    max-width: $container-width;
    padding-top: 0px;
    margin: auto;
  }
  .close-reveal-modal {
    position: fixed;
    top: 47px;
    right: 50%;
    left: auto;
    margin-right: 510px;
    color: $white;
    i {
      font-size: 32px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  #modal_content {
    margin: auto;
    width: 100%;
    max-width: $content-width;
  }
  @media only screen and (max-width: 766px) {
    padding: 16px;
  }
}
