
/* Game type colors */
$c-campaign:		#0a5081;
$c-freeplay:		#00957a;
$c-competition:		#b65100;


/* ---------- customizations ---------- */
//$header-bg:#0673b1;
$header-bg: #588b3d;
$hengage-bg: #588b3d;
/* ---------- END customizations ---------- */

$dark-gray:			#2e2e2c;
$flash-f:			#50c1cb;
$flash-s:			#58d858;
$gray:				#909090;
$med-gray:          #a8a8a8;
$light-gray:		#e9e9e9;
$outline-gray:		#c0c0c0;
$white:				#fff;

$light-green:       #89c440;
$dark-green:        #00b318;
$orange:            #ff7d00;
$text-color:        #292929;
$border-dark:       1px #dfdfdf solid;
$border-light:      1px #fff solid;