@font-face {
    font-family: 'OpenSansLight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
$default:   'Helvetica Neue', Helvetica, Arial, sans-serif;
$open-300:  'OpenSansLight';
$sans: $open-300, $default;
$open-400:  'OpenSansRegular', $sans;
$open-600:  'OpenSansSemiBold', $sans;


$gutter:            10px;
$body-width:        984px;
@mixin full-width {
    padding:0 $gutter;
    width:$body-width;
}
$centered:          0 auto;

$header-bg:         #588b3d;
$flash-f:           #50c1cb;
$flash-s:           #58d858;

$dark-gray:         #2e2e2c;
$med-gray:          #a8a8a8;
$gray:              #818385;
$light-gray:        #dfdfdf;

$outline-gray:      #c0c0c0;
$white:             #fff;
$light-green:       #89c440;
$dark-green:        #4FAA60;
$orange:            #ff7d00;
$text-color:        #292929;
$headlines:         #636363;
$blue:              #50698C;
$red:               #BC4C40;

$border-dark:       1px $light-gray solid;
$border-light:      1px #fff solid;

@mixin clear {
    clear:both;
    content:"";
    display:block;
}
@mixin ease($time) {
    -webkit-transition: all #{$time} ease-in-out;
    -moz-transition: all #{$time} ease-in-out;
    -ms-transition: all #{$time} ease-in-out;
    -o-transition: all #{$time} ease-in-out;
    transition: all #{$time} ease-in-out;
}

@mixin link($color) {
    @include ease(.15s);
    color:$color;
    font-family:$open-600;
    text-decoration: none!important;
    &:hover {color:darken($color, 10%);}
    &:active {color:darken($color, 5%);}
}

/* ============= Fun with arrows! ============= */
@mixin arrow-top($color) {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #{$color};
    content:"";
    display:inline-block;
}

@mixin arrow-left($color) {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #{$color};
    border-top: 8px solid transparent;
    content:"";
    display:inline-block;
}
@mixin arrow-right($color) {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #{$color};
    border-top: 8px solid transparent;
    content:"";
    display:inline-block;
}

/* ============= Mixins for Buttonz ============= */
@mixin hide-text {
    color:transparent;
    font-size:1em;
    font-size:0;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}
@mixin square-button-wrap($bg) {
    background:#{$bg};
    display:inline-block;
    border:1px darken($bg, 7%) solid;
}   
@mixin square-button($bg) {
    background:$bg;
    color:#fff;
    cursor:pointer;
    display:inline-block;
    font-size:1.15em;
    font-family:$open-600;
    line-height:1.15em;
    margin:0;
    padding:5px 7px;
    vertical-align: middle;
    border:{
        style:solid;
        color:lighten($bg, 5%);
        top:{width:1px;}
        bottom:{width:0;}
        left:{width:1px;}
        right:{width:1px;}
    }
    &:hover {
        background:darken($bg, 5%);
        border-color:$bg;
    }
}
@mixin pop-button($bg) {
  background:#{$bg};
  border:{
    style:solid;
    color:darken($bg, 8%);
    top:{width:0;}
    bottom:{width:4px;}
    left:{width:0;}
    right:{width:0;}
  }
  display:inline-block;
  color:$white;
  cursor:pointer;
  font-family:$open-600;
  padding:.35em .75em;
  &:hover{color:$white;}
  @if $bg == $blue {
    &:hover{
      background:$orange; 
      border-color:darken($orange, 8%);
    }
  }
  @else {
    &:hover{
      background:darken($bg, 4%);
      border-color:darken($bg, 10%);
    }
  }
}


/* ============= General stuff that all pages use ============= */
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
a, a:link, a:visited {@include link($dark-green);}
h1, h2, h3 {font-family:$sans; margin:0; padding:0;}
img {border:0; margin:0; padding:0;}
input:focus, select, textarea {outline: 0;}

p {margin:0;padding:0;}
ol, ul {list-style-position:outside; list-style-type:none; margin:0; padding:0;}
h1.headline {
    font-size:2em;
    font-family:$sans;
    color:$headlines;
    padding:.75em 0;
}
h2.subhead {
    font-family:$open-400;
    font-size:1.15em;
    padding-bottom:.75em;
}

input[type="text"], input[type="password"],
textarea, select {border:$border-dark;}
input[type="text"], input[type="password"],textarea {
    box-shadow:none;
    color:$gray;
    padding:.5em;
    transition:none;
    &:hover{border-color:$dark-green;}
    &:focus {
        background:$white;
        border:1px $dark-green solid;
        box-shadow:none;
        color:$dark-green;
        transition:none;
    }
}

select { 
    padding:.35em;
    &:focus {outline:1px $dark-green solid;}
}
#footer {
    clear:both;
    color:$light-gray;
    font-size:.75em;
    text-align:center;
}

/* ============= Color bars ============= */
body {
    border-top:7px $dark-green solid;
    margin:0;
    position: static;
    height:100%; 
    width:100%;
}
.colorbar {
  display: inline-block;
  height:7px;
  position: absolute;
  top:0;
  width:16.5%;
  &#blue {background:$blue; right:16.5%;}
  &#orange {background:$orange; right:0;}
}