@mixin tabs-component-full-width($color: #8da0ab, $active-color: $n-blue, $background-color: $main-bg-color, $border-color: #eaeced) {
  .tabs-component-full-width {
    background: $background-color;
    border-bottom: solid 1px $border-color;
    ul {
      margin: 0;
      li {
        font-size: 18px;
        margin-left: 30px;
        padding: 20px 30px 20px 0;
        a {
          color: $color;
        }

        &.active {
          padding-bottom: 0;
          a {
            color: $active-color;
            border-bottom: solid 2px $active-color;
            padding-bottom: 18px;
          }
        }
      }
    }
  }
}
