@mixin tabs-component-full-width($color: #8da0ab, $active-color: $n-blue, $background-color: $main-bg-color, $border-color: #eaeced) {
  .tabs-component-full-width {
    background: $background-color;
    border-bottom: solid 1px $border-color;

    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      margin: 0;

      &.with-tiles {
        margin: 0 12px;
      }

      li.tab {
        font-size: 18px;
        margin-left: 15px;
        padding: 20px 30px 20px 0;

        &.tab {
          cursor: pointer;
        }

        a {
          color: $color;
        }

        &.active {
          a {
            color: $active-color;
            border-bottom: solid 2px $active-color;
            padding-bottom: 17px;
          }
        }
      }

      li.buttons {
        margin-right: 15px;
        margin-left: auto;
        padding-top: 14px;

        .button {
          margin-left: 10px;
        }
      }

      @media (max-width: 770px) {
        li.tab {
          &.active {
            a {
              border-bottom: none;
            }
          }
        }

        li.buttons {
          display: none;
        }
      }
    }

    &.in-modal {
      li.tab {
        margin-left: 30px;
      }

      li.buttons {
        margin-right: 30px;
      }
    }
  }
}

@include tabs-component-full-width()
