body.client_admin-tiles-index,
body.client_admin-inactive_tiles {
  //
  // => Draft section
  //
  #draft_tiles {
    background: $almost-white;
    padding-top: 21px;
    #draft {
      margin-left: 6px;
      margin-right: 6px;
      &:after {
        @include clear;
      }
    }
    //
    // => Draft Header States
    //
    &.draft_selected {
      #draft {
        display: block;
      }
      .suggestion_box_header {
        .manage_access, .help {
          display: none;
        }
      }
    }
    &.suggestion_box_selected {
      #draft {
        display: none;
      }
      #add_new_tile {
        display: none;
      }
      #suggestion_box {
        display: block;
      }

    }
    &.suggestion_box_gated {
      margin-top: 0;
      padding-top: 2em;
    }
  }
  //
  // => Draft Elements
  //

  // Add New Tile Btn
  #add_new_tile {
    position: absolute;
    top: 4px;
    right: 57px;
    z-index: 1;
    border: 1px solid #48bfff;
  }
  //
  // => Draft Header Block
  //
  .draft_header_block {
    position: relative;
    padding-bottom: 65px;
    margin-left: 6px;
    .draft_title_block, .suggestion_header_block {
      float: left;
      padding: 18px;
      position: relative;
    }
    .draft_title_block {
      width: 7%;
    }
    .suggestion_header_block {
      width: 89%;
    }
    #draft_title {
      position: absolute;
      top: 11px;
      right: 3px;
      cursor: pointer;
      margin: 0;
      color: $med-gray;
      padding: 0 10px 7px 10px;
    }
    .suggestion_box_header {
      position: absolute;
      top: 13px;
      left: 20px;
      width: 957px;
      #suggestion_box_title {
        float: left;
        cursor: pointer;
      }
      .help, .manage_access {
        float: right;
        cursor: pointer;
      }
      #user_submitted_tiles_counter {
        @include font-regular;
        font-size: 12px;
        color: $med-gray;
        border: 1px solid $med-gray;
        border-radius: 3px;
        display: inline-block;
        min-width: 20px;
        text-align: center;
      }
      #suggestion_box_title {
        margin-top: -4px;
        padding: 0 10px 7px 10px;
        h3 {
          color: $med-gray;
          margin: 0;
          display: inline-block;
        }
      }
      .help, .manage_access {
        @include font-regular;
        font-size: 12px;
        color:$med-gray;
        padding-right: 20px;
        margin-top: -3px;
      }
    }
  }
  //
  // => Draft Blocked Overlay With Message
  //
  .draft_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
    .overlay_message{
      position: absolute;
      width: 100%;
      font-size: 275px;
      color: $white;
      text-align: center;
      opacity: 0.7;
      top: 50%;
      margin-top: -140px;
    }
  }
  .draft_blocked_message{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: $text-color;
    display: none;
    padding-top: 10px;
    text-align: center;
    font-size: 17px;
  }
}
