.react-select {
  color: black;
  height: 29px;
  margin-bottom: 10px;
  input[type=text] {
    margin: 0;
  }
}

.react-select > div:first-child {
  background-color: transparent;
}

.react-select > div:first-child div div {
  color: white;
}

.camp-audience-select {
  height: 35px;
  input[type=text] {
    margin: 0;
    height: 28px;
  }
}

.camp-audience-select.error > div:first-child {
  border-color: red;
}

.react-select > div:first-child {
  height: 10px;
}

.manage-campaign-card-container {
  padding: 14px;
  box-shadow: 0 3px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    cursor: default;
    box-shadow: 0 10px 23px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22);
  }

  .circle-button {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.24);
    }
  }

  .fa.fa-plus {
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &.rotate-close {
      transform: rotate(135deg);
      transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }

  .edit-campaign-form {
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(.25,.8,.25,1);

    &.expand {
      height: 235px;
      transition: height 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }

  .audience-list {
    height: 0;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(.25,.8,.25,1);

    &.expand {
      height: 210px;
      overflow: scroll;
      transition: height 0.3s cubic-bezier(.25,.8,.25,1);
    }
  }

  .campaign-card {
    height: 65px;
    transition: height 0.3s cubic-bezier(.25,.8,.25,1);

    &.expand {
      height: 305px;
      transition: height 0.3s cubic-bezier(.25,.8,.25,1);
    }

    &:hover {
      cursor: default;
    }
  }
}

.board-settings-modal-wrapper {
  .close-modal-cta:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}
