.react-select {
  color: black;
  height: 29px;
  margin-bottom: 10px;
  input[type=text] {
    margin: 0;
  }
}

.react-select > div:first-child {
  background-color: transparent;
}

.react-select > div:first-child div div {
  color: white;
}

.camp-audience-select {
  height: 35px;
  input[type=text] {
    margin: 0;
    height: 28px;
  }
}

.camp-audience-select.error > div:first-child {
  border-color: red;
}

.react-select > div:first-child {
  height: 10px;
}
