.react-select {
  color: black;
  input[type=text] {
    margin: 0;
  }
}

.react-select > div:first-child {
  background-color: transparent;
}

.react-select > div:first-child div div {
  color: white;
}
