.suggestions-access-modal {
  .suggestion-access-header {
    margin-top: 0;
  }

  .access_to_suggestion_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;

    .switcher-label {
      margin-top: 0;
    }

    .switcher {
      .specific_users_copy,
      .all_users_copy {
        float: left;
        margin: 0 15px;
        color: $light-gray;
      }

      .all_users_copy {
        margin-right: 0;
      }

      .on {
        color: $text-color;
      }

      .switch {
        @include switch-size(16px, 9px, 2.3em);

        margin-top: -1px;
        float: left;
      }
    }
  }

  .all_users_section {
    @include regular-text;
    p {
      line-height: 2;
    }
    a {
      font-weight: 400;
      color: $sky-blue;
    }
  }
  .specific_users_section {
    &.has_users {
      .help_text {
        display: none;
      }
    }
    #name_substring {
      width: 100%;
      margin-bottom: 20px;
    }
    #name_autocomplete_target {
      @include regular-text;

      span.add_user {
        display: none;
      }
    }
    .help_text {
      @include regular-text;
      p {
        line-height: 2;
      }
      a {
        font-weight: 400;
        color: $sky-blue;
      }
    }
    table#allowed_to_suggest_users {
      border-top: 1px solid #ddd;
      margin: 0;
      td {
        @include regular-text;
        padding: 1em 0.5em;
      }
      .user_name {
        width: 25%;
      }
      .user_email {
        width: 50%;
      }
      .user_remove {
        width: 25%;
        text-align: right;
      }
      a {
        @include regular-text;
      }
    }
  }

  .control_buttons {
    margin-top: 20px;
  }
}
