@import './tile/tile_fullsize/tiles_fullsize';
@import './tile/tile_builder/tile_builder';
@import './client_admin/tile_manager/_joyride_tip_guide';

@import './client_admin/tile_manager/draft_section';
@import './client_admin/tile_manager/suggestion_access';

@import './tile/tile_thumbnail/tiles_thumbnails';
@import './tile/tile_thumbnail/tiles_thumbnails_desktop';
@import './tile/tile_thumbnail/tiles_thumbnails_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_small_with_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_transition';

@import "mixins/green_paddle_switch";

body.client_admin-tiles-index,
body.client_admin-inactive_tiles {
  //
  // => General styles
  //
  .core {
    background: $off-white;
  }
  .content {
    background: $off-white;
    padding: 0;
  }
  .manage_tiles {
    position: relative;

    h4{
      display: inline-block;
      margin-bottom: 2em;
      margin-left: 1em;
      margin-top: 10px;
    }
  }

  .download_csv, .minimize {
    float: right;

    &:hover {
      color: #666666;
      border-color: #8c8c8c;
    }
  }
  .switch{
    @include green-paddle-switch;
    @include switch-size(16px, 9px, 2.3em);
  }
  //
  // => Show All Btns
  //
  .show_all_section {
    &.show_all_draft_section {
      background: $almost-white;
      margin-top: -4px;
    }
    .button_container {
      position: relative;
      height: 60px;
      margin-left: -45px;
    }
  }
  .all_draft, .all_inactive {
    width: 100px;
    display: block;
    margin: auto;
  }
  //
  // => Archive section
  //
  #archived_tiles{
    background: $off-white;
    position: relative;
    #archive{
      &:after{ @include clear; }
    }
    .tile_thumbnail.placeholder_tile {
      border-color: $almost-white;
    }
  }


  #archived_tiles {
    padding:2em 0 0 0;
  }
}
