.swal-title {
  font-weight: 200 !important;
}
//popup-footer
.swal-footer {
  text-align: center;
}

.u-hamburger__inner::before {
  top: 6.5px;
  height: 2px;
  display: block;
}

.bootstrap-iso {
  p {
    font-size: 20px;

    &.disclaimer {
      font-size: 12px;
    }
  }

  .text-airbo-blue {
    color: $n-blue;
  }

  #header {
    background-color: $white;
  }

  #homeMegaMenu {
    color: #5A5F69;

    &:hover {
      color: black;
    }
  }

  .navbar-brand {
    img {
      width: 5rem;
    }
  }

  .navbar-toggler.btn {
    display: none;

    .u-hamburger__inner,
    .u-hamburger__inner::after,
    .u-hamburger__inner::before {
      background-color: $n-blue;
    }
  }

  #navBar {
    position: absolute;
    right: 0;
    top: 9px;
    padding: 0;

    .btn {
      margin: 0 5px;
    }
  }

  #root {
    .blue-teal-gradient {
      background-image: linear-gradient(135deg, $n-blue, $n-green);
      color: $white;

      .row {
        position: relative;
      }
    }

    .purple-teal-gradient {
      background-image: linear-gradient(135deg, $n-purple, $n-green);
      color: $white;
    }

    .hero-image {
      position: absolute;
      top: 10px;
      width: 80%;
      right: -400px;

      img {
        width: 600px;
      }
    }

    .hero-banner {
      height: 650px;
      max-width: 700px;
      padding-top: 27vh;
    }

    .blue-teal-gradient .hero-banner p {}

    .hero-text {
      visibility: visible;
      margin: 0 auto;
      text-align: left;

      &.benefits {
        text-align: left;
        width: 50%;
        float: left;
        padding-top: 11%;
      }

      h1 {
        font-size: 50px;
      }

      p {
        color: $white;
        text-align: left;
        line-height: 1em;
      }
    }

    .hero-bottom {
      pointer-events: none;

      img {
        position: relative;
        float: right;
      }

      .balloon {
        top: 100px;
        width: 3em;
        right: 9em;
      }

      .cloud-right {
        top: 85px;
        left: 7em;
        width: 4em;
      }

      .cloud-left {
        width: 5em;
        top: 25px;
        right: 2em;
      }
    }
  }

  .btn {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    vertical-align: middle;
    text-transform: capitalize;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 0;
    background-image: none;
    outline: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: 1px solid $n-blue;
    margin: 5px 0;

    &.btn-invert {
      background-color: $white;

      &.square {
        border-radius: 0;
      }

      &:hover {
        background-color: $n-blue;
        border-color: $n-blue;
        color: white;
      }
    }

    &.btn-primary {
      color: white;
      background-color: $n-blue;

      &:hover {
        color: $white;
        background-color: $off-blue;
        border-color: $off-blue;
      }
    }
  }

  .features {
    margin: 0 0 100px;

    .content-block {
      margin-bottom: 3em;
    }

    .title {
      text-align: center;
      width: 100%;
      margin: 2em;
    }

    img {}

    h5 {
      font-size: 20px;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 16px;
      margin: 0;
    }
  }

  .case-study {
    position: relative;

    .u-bg-img-hero {
      padding: 125px 0 150px;
    }

    .row {
      max-width: 900px;
      margin: auto;
    }

    .pill {
      width: 7em;
      background-color: $off-green;
      padding: 7px;
      border-radius: 14px;
      font-size: 12px;
      color: $dark;
    }

    .thumbnail {
      width: 7em;
    }

    .right-balloon {
      position: absolute;
      right: 16vw;
    }

    .left-balloon {
      position: absolute;
      bottom: -36px;
      left: 11vw;
      width: 3em;
    }

    .testimonial {
      margin: 0 auto;
      font-size: 17px;

      img {
        margin: 15px 0 20px;
      }

      .quote {
        font-size: 36px;
        line-height: 1.4em;
      }

      .statement {
        color: white;
        font-size: 18px;
        margin-top: 1em;
      }
    }

    .attribute {
      .profile-pic {
        width: 80%;
        margin-left: 10%;
        border-radius: 100%;
        display: inline-block;
      }

      .profile-title {
        display: inline-block;
        padding: 3px 0 0 10px;
        font-size: 22px;
        text-align: center;
        width: 100%;
        color: white;
      }
    }
  }

  .roi {
    h3 {
      margin: 0;
    }

    .stats {
      padding-top: 60px;
    }

    .company-name {
      color: black;
    }

    p {
      margin: 0.5em 0 1em;
    }
  }

  .quote-block {
    color: $white;
    background-image: image-url("marketing_site/quote_bg.png");
    min-height: 689px;

    .text-center {
      padding-top: 1%;

      .mb-4 {
        margin: -10px 10%;

        h1 {
          font-size: 184%;
        }
      }

      .mb-7 {
        margin-bottom: 40px;

        blockquote {
          margin: 1em 0;
        }
      }
    }
  }

  .request-demo {
    position: absolute;
    top: 80%;
    left: 15vw;
    text-align: center;
    margin: 0 auto;
    right: 15vw;

    p {
      margin: 1.5em 20%;
    }
  }

  .footer {
    background-color: $dark-blue;
    margin-bottom: 15px;

    a,
    h3,
    li {
      color: $white;
    }

    a:hover {
      color: $n-blue;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .container {
      padding-bottom: 1%;
    }

    h3 {
      margin: 0;
    }
  }

  .copyright {
    display: inline !important;
    margin: 0 48%;
    text-align: center;

    img {
      width: 4rem;
    }

    p {
      font-size: 1rem;
      text-align: center;
      margin: 5px;
    }
  }
}
@media only screen and (max-width: 990px) {
  .request-demo p {
    font-size: 15px !important;
  }

  .bootstrap-iso #root .hero-image {
    top: 100px;
  }

  .bootstrap-iso #root .hero-text.benefits {
    padding-top: 40px;
  }

  .hero-banner {
    padding-top: 100px !important;
  }

  .hero-image {
    right: -270px !important;
    top: 50px !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-toggler.btn {
    display: inherit !important;
  }

  .hero-banner {
    padding: 0;
    max-width: 400px !important;
  }

  .u-bg-img-hero {
    text-align: center;
  }

  .pill {
    margin: auto;
  }

  .profile-pic {
    width: 50% !important;
    margin: 0 !important;
  }

  .features {
    margin: 0 !important;

    .col-md-6 {
      text-align: center;
      margin-bottom: 3em;
    }

    img {
      margin-bottom: 1em;
    }
  }
}
@media only screen and (max-width: 600px) {
  .blue-teal-gradient {
    height: 800px !important;

    h1 {
      font-size: 37px !important;
    }
  }

  .hero-image {
    position: relative !important;
    top: -30px !important;
    width: 100vw !important;
    right: 0 !important;
  }

  .hero-banner {
    padding-top: 10vw !important;
    text-align: center;
    height: auto !important;
    max-width: none !important;
  }

  .hero-text {
    text-align: center !important;
  }

  .hero-text.benefits {
    width: 100% !important;
    text-align: center !important;

    h1 {
      font-size: 1.5rem !important;
    }
  }

  .hero-text {
    p {
      text-align: center !important;
    }
  }

  .request-demo p {
    margin: 0.5em 0 !important;
  }

  .copyright {
    margin: 0 40% !important;
  }

  .swal-content {
    font-size: x-small !important;
  }

  .testimonial {
    .statement {
      width: 100%;
      margin-left: 0;
    }
  }

  .u-space-2-top {
    padding-top: 40px;
  }

  .bootstrap-iso .quote-block .text-center .mb-4 h1 {
    font-size: 150%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.drawer {
  position: fixed;
  right: -300px; // Pushes things off screen
  width: 300px; // Same value
  padding: 20px;
  top: 0;
  height: 100%;
  background-color: $dark-blue;
  overflow-y: scroll; // adds vertical scrollbar
  overflow-x: hidden; // prevents horizontal scrollbar
  color: $white;

  a {
    color: $white;
    font-weight: bold;
    display: block; // anchor tags need to have a display value
    padding: 15px;

    &:hover {
      background-color: $n-blue;
    }
  }
}

.drawer,
.wrapper {
  transition: all 0.3s ease-out; // Affects returning animations
}

.open-drawer,
.open-wrapper {
  transition: all 0.3s ease-out; // Affects first animations
}

.open-drawer {
  display: initial;
  right: 0;
}

.open-wrapper {
  width: calc(100% - 200px);
  margin-right: 200px;
  position: fixed;
  opacity: 0.3;

  .hamburger {
    background-color: black;
  }
}
