/// Default padding inside badges.
/// @type Number
$badge-padding: 0.3em !default;

/// Minimum width of a badge.
/// @type Number
$badge-minwidth: 1.6em !default;

/// Default font size for badges.
/// @type Number
$badge-font-size: 11px !default;

.badge {
  display: inline-block;
  padding: 0.35em;
  min-width: 1.7em;
  font-size: 0.7rem;
  border-radius: 50%;
  text-align: center;

  background: transparent;
  color: #fff;

  &.success {
    background: $n-green
  }

  &.alert {
    background: $n-red;
    color: #fff;
  }

  &.warning {
    background: $n-yellow;
  }
}
