.badge {
  display: inline-block;
  padding: 3px 7px;
  min-width: 10px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 10px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  vertical-align: middle;
  background: transparent;

  &.success {
    background: $n-green;
  }

  &.alert {
    background: $n-red;
  }

  &.warning {
    background: $n-yellow;
  }
}
