@mixin button-color($bg-color: $n-blue, $text-color: $n-white) {
  color: $text-color;
  background-color: $bg-color;
  border: 1px solid $bg-color;
  &:not([disabled]) {
    &:hover {
      color: $text-color;
      background-color: lighten($bg-color, 5%);
      border-color: lighten($bg-color, 5%);
    }
    &:active {
      color: $text-color;
      background-color: darken($bg-color, 5%);
      border-color: darken($bg-color, 5%);
    }
  }
}
@mixin button-outlined-color($text-color: $n-blue, $bg-color: transparent) {
  color: $text-color;
  background-color: $bg-color;
  border-color: $text-color;
  &:not([disabled]) {
    &:hover {
      background-color: $text-color;
      border-color: $text-color;
      color: $n-white;
    }
    &:active {
      background-color: darken($text-color, 5%);
      border-color: darken($text-color, 5%);
      color: $n-white;
    }
  }
}
/* Buttons */
@mixin button($bg-color: $n-blue, $text-color: $n-white) {
  @include button-color($bg-color, $text-color);
  @include radius(4px);
  display: inline-block;
  font-size: $font-size-1;
  line-height: $font-size-1;
  @include font-weight-regular;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0;
  cursor: pointer;
  // height: 32px;
  // line-height: 32px;
  box-shadow: none;
  @include ease(0.2s);
}

.button {
  @include button;
  &.button-gray {
    @include button-color($gray-4);
  }
  &.button-blue {
    @include button-color($n-blue);
  }
  &.outlined {
    @include button-outlined-color;
    &.button-gray {
      @include button-outlined-color($gray-4);
    }
  }
}

.button.reversed {
  border-color: $n-white;
  background-color: transparent;
  color: $n-white;

  &:hover {
    background-color: $n-blue;
    border-color: $n-blue;
    color: $n-white;
  }

  &:active {
    background-color: darken($n-blue, 5%);
    border-color: darken($n-blue, 5%);
    color: $n-white;
  }
}

// Font Awesome icon button

.button.icon {
  padding-left: 10px;
  padding-right: 10px;
  .fa {
    font-size: 0.8em;
    margin-right: 5px;
  }
}
