@mixin button-color($bg-color: $n-blue, $text-color: $n-white) {
  &, &[disabled], &[disabled]:hover, &[disabled]:active {
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid $bg-color;
  }
  &:not([disabled]) {
    &:hover {
      color: $text-color;
      background-color: lighten($bg-color, 5%);
      border-color: lighten($bg-color, 5%);
    }
    &:active {
      color: $text-color;
      background-color: darken($bg-color, 5%);
      border-color: darken($bg-color, 5%);
    }
  }
}
@mixin button-outlined-color($text-color: $n-blue, $bg-color: transparent, $hover-color: $n-white) {
  &, &[disabled], &[disabled]:hover, &[disabled]:active {
    color: $text-color;
    background-color: $bg-color;
    border-color: $text-color;
  }
  &:not([disabled]) {
    &:hover {
      background-color: $text-color;
      border-color: $text-color;
      color: $hover-color;
    }
    &:active {
      background-color: darken($text-color, 5%);
      border-color: darken($text-color, 5%);
      color: $hover-color;
    }
  }
}
@mixin button-with-spinner($spinner-color: $n-white) {
  position: relative;
  &, &:active, &:hover {
    color: transparent;
  }
  &:before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f013";
    animation: fa-spin 2s infinite linear;
    display: block;
    position: absolute;
    left: calc(50% - 5px);
    color: $spinner-color;
  }
}
/* Buttons */
@mixin button($bg-color: $n-blue, $text-color: $n-white) {
  @include button-color($bg-color, $text-color);
  @include radius(4px);
  display: inline-block;
  font-size: $font-size-1;
  font-weight: normal;
  line-height: $font-size-1;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  padding: 8px 20px;
  cursor: pointer;
  box-shadow: none;
  margin-bottom: 0;
  background-image: none;
  outline: none !important;
  @include ease(0.2s);
    &:active, &:hover, &:focus {
      box-shadow: none;
    }

    // &[disabled] {
    //   cursor: default;
    //   opacity: 0.85;
    //   display:none;
    // }
}

//FIXME remove specificity hack
.button.button {
  @include button;
  // &. {
  //   @include button-color($gray-4);
  // }
  // &. {
  //   @include button-color($n-blue);
  // }
  &.green {
    @include button-color(#4fd4c0);
  }
  &.red {
    @include button-color(#BE2625);
  }
  &.outlined {
    @include button-outlined-color;
    &.white {
      @include button-outlined-color($text-color: $n-white, $hover-color: $n-blue);
    }
    &.green {
      @include button-outlined-color($text-color: #4fd4c0, $hover-color: $n-white);
    }
    // &. {
    //   @include button-outlined-color($n-blue);
    // }
  }

  &.tiny { @include button-size($padding:$button-tny); }

  .success{
    background-color:white;
    color: $n-blue;
  }



  &.reversed {
    border-color: $n-white;
    background-color: transparent;
    color: $n-white;

    &:hover {
      background-color: $n-blue;
      border-color: $n-blue;
      color: $n-white;
    }

    &:active {
      background-color: darken($n-blue, 5%);
      border-color: darken($n-blue, 5%);
      color: $n-white;
    }

    &:focus {
      background-color: darken($n-blue, 5%);
      border-color: darken($n-blue, 5%);
      color: $n-white;
    }
  }
  // Font Awesome icon button
  &.icon {
    padding-left: 10px;
    padding-right: 10px;
    .fa {
      font-size: 0.8em;
      margin-right: 5px;
    }
  }

  &.with_spinner {
    @include button-with-spinner;
    &.outlined {
      @include button-with-spinner;//($n-blue);
      // &. {
      //   @include button-with-spinner($gray-4);
      // }
      // &. {
      //   @include button-with-spinner($n-blue);
      // }
    }
  }

  &.full_width {
    width: 100%;
  }
}

.tile_button, .tile_multiple_choice_answer a {
  @include button($blue);
  @include font-weight-bold;
  color:$n-white;
  display: block;
  font-size:1.25em !important;
  line-height:1em;
  padding:.5em 1em;
  white-space: normal;
  text-transform: none;
  width: 100%;
}
