// Various grays
//$gray-dark: #2e2e2c;
//$med-gray: #a8a8a8;
//$gray: #818385;
// $almost-white: #fefefe;
// $off-white: #fafafa;
// $darker-gray: #66676d;
// $light-gray: #dfdfdf;
// $lightest-gray: #f2f2f2;
// $dark: #0c0c0b;

// Our palette
// $blue: #50698C;
// $light-blue: #a7d5ef;
// $sky-blue: #4face0;
// $dark-green: #4FAA60;
// $red: #BC4C40;
// $white: #fff;

// App elements
// $header-color: #fff;
// $offcanvas-gray: $dark-gray;
// $text-color: #4c4c4c;
// $tile-text: #a8a8a8;
// $tile-tag-border: #dfdfdf;
// $body-bg: #F9F9F9;
// $tile-wall-bg: lighten($blue, 45%);
// $form-bg: lighten($blue, 53%);
// $ca-subnav-color: darken($blue, 15%);

/* Colors */
$gray-dark: #404040; // body copy, etc.
$background-light-contrast: #F9F9F9;
$white: #FFFFFF;