@font-face {
  font-family: "Avenir Next Airbo";
  src: font-url("avenir-next-regular.eot?#iefix");
  src: font-url("avenir-next-regular?#iefix") format("eot"),
       font-url("avenir-next-regular.woff2") format("woff2"),
       font-url("avenir-next-regular.woff") format("woff"),
       font-url("avenir-next-regular.ttf") format("truetype"),
       font-url("avenir-next-regular.svg#52a192b1-bea5-4b48-879f-107f009b666f") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next Airbo";
  src: font-url("avenir-next-regular-italic.eot?#iefix");
  src: font-url("avenir-next-regular-italic.eot?#iefix") format("eot"),
       font-url("avenir-next-regular-italic.woff2") format("woff2"),
       font-url("avenir-next-regular-italic.woff") format("woff"),
       font-url("avenir-next-regular-italic.ttf") format("truetype"),
       font-url("avenir-next-regular-italic.svg#1de7e6f4-9d4d-47e7-ab23-7d5cf10ab585") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face { /* TODO: herby - make sure to download the demibold weight and rename the files so these work */
  font-family: "Avenir Next Airbo";
  src: font-url("avenir-next-demibold.eot?#iefix");
  src: font-url("avenir-next-demibold.eot?#iefix") format("eot"),
       font-url("avenir-next-demibold.woff2") format("woff2"),
       font-url("avenir-next-demibold.woff") format("woff"),
       font-url("avenir-next-demibold.ttf") format("truetype"),
       font-url("avenir-next-demibold.svg#adc8a73e-7eef-4ffa-9ab8-73b0a1824b56") format("svg");
  font-weight: bold;
  font-style: normal;
}