/* Non-Button Form Elements */

form {
  display: inline-block;
  width: 100%;
}

label {
  @include font-weight-demibold;
  font-size: $font-size-1;
  margin: 0 0 10px;
  display: block;
}

input[type=url],
input[type=text],
input[type=tel],
input[type=number],
input[type=email],
input[type=password],
select,
textarea {
  background-color: $white;
  border: 1px solid #DDDDDD;
  font-size: $font-size-2;
  margin: 0 0 20px;
  padding: 0.5em;
  outline: 0;
  width: 100%;
  @include radius(3px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:hover {
    background-color: #F9F9F9; // TODO: replace with color var
  }

  &:focus {
    background-color: $white;
    border-color: $sky-blue;
  }
}

select {
  background: url(/assets/down_triangle.png) no-repeat right center $white;
  background-size: 10px 5px;
  background-position-x: 98%;
  padding-right: 25px;
}

label.radio,
label.checkbox {
  @include font-weight-regular;
  font-size: $font-size-2;
  margin-bottom: 15px;

  input {
    margin-right: 6px;
  }

  &.small {
    font-size: $font-size-1;
  }
}

.input-group { // TODO: not sure this is needed
  margin-top: 20px;
}

/* Buttons */

