.horizontal {
  display: inline-block;
}

.mini-text.mini-text{
  font-size:12px;
}

.gray-5{
  color: $gray-5;
}

.righty {
  float:right;
}

.lefty {
  float:left;
}

.num-items{
 font-size: $font-size-1;
}

.margin-right-5pct{
  margin-right: 5%;
}

.margin-left-5px {
  margin-left: 5px;
}

.board_settings {
  input[type="text"], input[type="file"], textarea{
    width: 80%;
    display: block;
  }

  .character-counter{
    margin-right: 115px;
  }
}

table.transparent-bg {
  &, &:hover, & tr:hover {
    background-color: transparent;
  }
}

input, textarea {
  &.with_counter {
    margin-bottom: 35px;
  }
}
.with_input_margin {
  margin-bottom: 20px;
  display: block;
}

/* Fixes random table layout structure in explore */
#tile_wall table.tiles tr {
 background: none;
}
body.client_admin-tiles-index .download_csv {

 margin-right: 43px;
}

