.horizontal {
  display: inline-block;
}

.mini-text.mini-text{
  font-size:12px;
}

.gray-5{
  color: $gray-5;
}
.white {
  color: $n-white;
}

.righty {
  float:right;
}

.lefty {
  float:left;
}

.num-items{
 font-size: $font-size-1;
}

.margin-right-5pct{
  margin-right: 5%;
}

.margin-left-5px {
  margin-left: 5px;
}
.margin-left-10px {
  margin-left: 10px;
}

.no_margin_top {
  margin-top: 0;
}
.no_margin_bottom {
  margin-bottom: 0;
}
.small_margin {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.board_settings {
  input[type="text"], input[type="file"], textarea{
    width: 80%;
    display: block;
  }

  .character-counter{
    margin-right: 115px;
  }
}

table.transparent-bg {
  &, &:hover, & tr:hover {
    background-color: transparent;
  }
}

input, textarea {
  &.with_counter {
    margin-bottom: 35px;
  }
}
.with_input_margin {
  margin-bottom: 20px;
  display: block;
}

/* Fixes random table layout structure in explore */
#tile_wall table.tiles tr {
 background: none;
}

#tile_stats_modal .action_type_block:hover {

  cursor: pointer;
  .action_name.action_name {
    cursor: pointer;
    font-weight: 900;
  }

  .action_num.action_num {
    cursor: pointer;
    font-weight: 900;
  }

}

body.client_admin-tiles-index .download_csv {

 margin-right: 43px;
}

iframe {
  border: none;
}

.custom.dropdown {
  &.horizontal_form_height {
    .current {
      height: 35px;
    }
    li {
      line-height: 2.3em;
    }
  }
}

.no_outline {
  outline: none;
}
.no_inline_span_styling {
  span[style] {
    font-size: inherit !important;
    line-height: inherit !important;
  }
}