// Foundation Variable Overrides
$table-border-size: 0;
$table-head-bg: #EEE;
$table-even-row-bg: $n-white;
$table-head-padding: 10px;
$table-row-padding: 10px;
$table-line-height: 1.5em;

// Foundation table docs:
// http://foundation.zurb.com/sites/docs/v/4.3.2/components/tables.html

@import "./vendor/foundation/components/tables";

table:not(.first-column-header){

  width: 100%;
  tr:hover,
  table tr.even:hover,
  table tr.alt:hover,
  table tr:nth-of-type(even):hover {
    @include ease(0.2s);
    background-color: $gray-1;
  }

  td {
    border-bottom: 1px solid $border-color-1;
  }

  &.border-less{ 
    width: 70%;

    tr:hover,
    table tr.even:hover,
    table tr.alt:hover,
    table tr:nth-of-type(even):hover {
      background-color: inherit
    }
    td {
      border-bottom: 0;
    }
  }
 
}

table.first-column-header{
  th {
    text-align:left;
    padding-right: 75px;
    font-weight: bold;
  }

  tr {
    background-color: inherit;
  }
}


tr.resource-row{
  cursor: pointer
}

table.sortable{
  thead>th{
    cursor:hand;
  }
}


table.border-less{

  tr.even:hover,
  tr.alt:hover,
  tr:nth-of-type(even):hover {
    background-color: inherit;
  }
}


table.kpi-layout{
  min-width: 50%;
  thead {
  }
  tbody{
    &.group{
      margin-bottom:25px;

      th {
        padding-right: 30px;
        &.group-hdr{
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 10px;
          font-size:1.05em;
          font-weight: bold;
          &::first-of-type{
            padding-top: 10px;
          }
        }
      }
    }

  }
}



tbody {
  th{
    text-align:left;
  }
}

caption{
  @include font-weight-bold;
  padding: 0 0 10px 0;
  font-size: 24px;
}
.table-container{

  overflow: scroll;
  padding:10px 20px
}
th {
  @include font-weight-bold;
}

//FIXME make this widget

#scheduled_followups{
  table:not(.first-column-header){
    &.border-less{
      td {
        font-size: 14px;
      }
      td:first-of-type{
        padding-left: 0;
      }
    }
  }
}
