// Foundation Variable Overrides
$table-border-size: 0;
$table-head-bg: #EEE;
$table-even-row-bg: $n-white;
$table-head-padding: 10px;
$table-row-padding: 10px;
$table-line-height: 1.5em;
// Foundation table docs:
// http://foundation.zurb.com/sites/docs/v/4.3.2/components/tables.html

@import "./vendor/foundation/components/tables";

@mixin kpi-table-section-separator {
  background-color: $n-green;
}

table:not(.first-column-header){

  width: 100%;
  tr:hover,
  table tr.even:hover,
  table tr.alt:hover,
  table tr:nth-of-type(even):hover {
    @include ease(0.2s);
    background-color: $gray-1;
  }

  td {
    border-bottom: 1px solid $border-color-1;
  }

  &.border-less{

    tr:hover,
    table tr.even:hover,
    table tr.alt:hover,
    table tr:nth-of-type(even):hover {
      background-color: inherit
    }
    td {
      border-bottom: 0;
    }
  }

}

table.first-column-header{
  th {
    text-align:left;
    padding-right: 75px;
    font-weight: bold;
  }

  tr {
    background-color: inherit;
  }
}


tr.resource-row{
  cursor: pointer
}

table.sortable{
  thead>th{
    cursor:hand;
  }
}


table.border-less{

  tr.even:hover,
  tr.alt:hover,
  tr:nth-of-type(even):hover {
    background-color: inherit;
  }
}


table.kpi-layout{
  min-width: 50%;
  thead {
  }
  tbody{
    &.group{
      margin-bottom:25px;

      th {
        padding-right: 30px;
        &.group-hdr{
          padding-bottom: 20px;
          padding-top: 20px;
          padding-right: 10px;
          font-size:1.05em;
          font-weight: bold;
          &::first-of-type{
            padding-top: 10px;
          }
        }
      }
    }

  }
}



tbody {
  th{
    text-align:left;
  }
}

caption{
  @include font-weight-bold;
  padding: 0 0 10px 0;
  font-size: 24px;
}
.table-container{

  overflow: scroll;
  padding:10px 20px
}
th {
  @include font-weight-bold;
}

table.scrollable {
  position: relative;
  width: 1200px;
  overflow: hidden;
  border-collapse: collapse;


  /*thead*/
  thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 1200px;
    overflow: visible;
  }

  thead th {
    min-width: 120px;
    height: 60px;
  }

  thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    display: block; /*seperates the first cell in the header from the header*/
    width: 275px;
    background-color: #CCC;
  }


  /*tbody*/
  tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 1200px;
    height: 800px;
    overflow: scroll;
  }

  tbody td {
    min-width: 120px;
    border-bottom: 1px solid #ddd;
  }

  tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    height: 60px;
    width: 275px;
    background-color: white;
  }
}

table.kpi{
  td:not(:nth-child(1)) {
    text-align: right;
  }

  thead{
    background-color: rgb(238, 238, 238);
  }

  tbody th{
    white-space: nowrap;
  }

  th:not(:first-child){
    text-align: right ;
  }

  th {
    border-bottom: 1px solid #dddddd;
    .grp{
      background: #DDD;
    }
  }

  .separator td{
    @include kpi-table-section-separator;
  }

}


table.kpi.scrollable  {
  tbody tr.separator td:nth-child(1){
    @include kpi-table-section-separator;
  }

  tbody tr td:nth-child(1):hover {
    background-color: inherit;
  }

  thead {
    background-color: inherit;

    th{
      background-color: #eee;
    }


  }
}
