/* Font Families */

$font-family-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Font Weights */

@mixin font-weight-thin {
  font-family: $font-family-primary;
  font-style:normal;
  font-weight:lighter;
  font-weight: 100;
}

@mixin font-weight-light {
  font-family: $font-family-primary;
  font-style:normal;
  font-weight:lighter;
  font-weight: 300;
}

@mixin font-weight-regular {
  font-family: $font-family-primary;
  font-style:normal;
  font-weight:normal;
  font-weight: 400;
}

@mixin font-weight-semibold {
  font-family: $font-family-primary;
  font-style:normal;
  font-weight:bold;
  font-weight: 500;
}

@mixin font-weight-bold {
  font-family: $font-family-primary;
  font-style:normal;
  font-weight:bolder;
  font-weight: 700;
}

/* Font Sizes */

$font-size-x-small: 10px;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-x-large: 40px;