/* Font Families */

$font-family-primary: 'avenir next', avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Font Weights */

// @mixin font-weight-thin {
//   font-style:normal;
//   font-weight:lighter;
//   font-weight: 100; //100
// }

// @mixin font-weight-light {
//   font-style:normal;
//   font-weight:lighter;
//   font-weight: 300; //300
// }

@mixin font-weight-regular {
  font-style:normal;
  font-weight:normal;
  font-weight: 400;
}

@mixin font-weight-medium {
  font-style:normal;
  font-weight:bold;
  font-weight: 500;
}

@mixin font-weight-demibold {
  font-style:normal;
  font-weight:bold;
  font-weight: 600;
}

// @mixin font-weight-bold {
//   font-style:normal;
//   font-weight:bolder;
//   font-weight: 700;
// }

/* Font Sizes */

$font-size-0: 10px;
$font-size-1: 14px;
$font-size-2: 16px;
$font-size-3: 18px;
$font-size-4: 28px;
$font-size-5: 36px;

/* Headers */

h1 {
  @include font-weight-demibold;
  font-size: $font-size-5;
  line-height: 1.25em;
  margin: 20px 0;
}

h2 {
  @include font-weight-demibold;
  font-size: $font-size-4;
  line-height: 1.25em;
}

h3 {
  @include font-weight-demibold;
  font-size: $font-size-3;
  line-height: 1.25em;
}

h4 {
  @include font-weight-demibold;
  font-size: $font-size-2;
}

/* Standard Type Elements */

b, strong {
  @include font-weight-demibold;
}

p {
  line-height: 1.5em;
  margin: 1.75em 0;
}

ul, ol {
  line-height: 1.5em;
  margin: 1.75em 0;
}