<div id='digest-current'>
  <%= num_tiles_in_digest_email if @num_tiles_in_digest_email > 0 %>
</div>

<div id='digest-last-sent'>
  <%= tile_digest_email_sent_at if @tile_digest_email_sent_at %>
</div>

