<div class="tags">
  <% tile_tags.each do |tile_tag| %>
    <%= link_to tile_tag_show_explore_path(tile_tag: tile_tag.id, tag_click_source: 'Explore Main Page - Clicked Tile Subject Tag') do %>
      <div class="tag_name"><%= tile_tag.title.truncate(27) %></div>
    <% end %>
  <% end %>
</div>
