<h2 class="first">Admin</h2>

<%= link_to 'New Demo', new_admin_demo_path %>

<ul class="demos">
  <% @demos.each do |demo| %>
    <% link_text = demo.company_name %>
    <% link_text += " (#{demo.victory_threshold} points to win)" if demo.victory_threshold %>
    <li><%= link_to link_text, admin_demo_path(demo) %></li>
  <% end %>
</ul>
