<h2 class="first">Admin</h2>

<%= link_to 'New Demo', new_admin_demo_path %>

<ul class="demos">
  <% @demos.each do |demo| %>
    <li><%= link_to demo.company_name, admin_demo_path(demo) %></li>
  <% end %>
</ul>
