<div style="font-size: 14px; color: #a8a8a8; font-weight: 400; padding: 141px 0px; border: 1px dashed #a8a8a8; text-align: center; margin-bottom: 30px; text-transform: uppercase;">
  <span> No tiles posted </span>
  <span style="margin-left: 15px;"> ? </span>
</div>