%tr
  - columns.size.times do |col|
    - tile = columns[col]
    %td.tile_thumbnail
      -# Note the call to 'url' on the element in the 'attachments' hash. (Just pointing out 'cause easy to miss)
      %div.image= image_tag attachments["tile_#{tile.id}"].url, alt: tile.headline
      %div.headline= tile.headline
      %div.shelf_life= shelf_life(tile)
