%tr
  - columns.size.times do |col|
    - tile = columns[col]

    - tile_url = tile.thumbnail.url  # Paperclip returns the full url in staging and production modes
    - tile_url = tile_url.prepend('http://localhost:3000') if (Rails.env.development? or Rails.env.test?)

    %td.tile_thumbnail
      %div.image= image_tag tile_url, alt: tile.headline
      %div.headline= tile.headline
      %div.shelf_life= shelf_life(tile)
