-# So we get the right addresses, e.g. https://www.hengagestaging.com/ -or- https://www.hengage.com/
- link_hash = { protocol: email_link_protocol, host: email_link_host }

-# Unclaimed user needs to go through claiming process before viewing tiles
- site_link = @user.claimed? ? acts_url(link_hash): invitation_url(@user.invitation_code, link_hash)

%center
  %table{:cellpadding => "0", :cellspacing => "0", :width => "600px", :style => "box-sizing:border-box; color:#909090; font-family:Helvetica, Arial, sans-serif;"}
    %tr
      %td
        %table{:id => "mail_header", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "padding:1.75em 1em; border-bottom:1px #dfdfdf solid;"}
          %tr
            %td
              %a{:id => "hengage_logo", :href => "https://www.hengage.com", :target => "_blank", :style => "font-size:3em; color:#4faa60;"}
                %img{:src => "https://hengage-assets.s3.amazonaws.com/assets/v4/logo-580aed6750f34956244a346b8f34fa73.png", :alt => "H.Engage", :width => "150px", :style => "display:block;"}
        %center
          %h2{:style => "font-weight:lighter; font-weight:300;"} Check out your #{link_to 'new tiles', site_link, {style: 'color:#4faa60; font-weight:bold; font-weight:500; text-decoration:none;'}}!
        %table{:id => "tiles", :cellpadding => "0", :cellspacing => "5px", :width => "100%"}
          %tbody
            -# Note: To change the number of tiles per row, simply change the "(n)" to whatever your little ol' heart desires
            - @tile_ids.each_slice(3) do |columns|
              = render partial: 'tile_row', locals: {columns: columns, site_link: site_link}
        %table{:id => "mail_footer", :cellpadding => "0", :cellspacing => "0", :width => "100%", :style => "margin:2em 0; text-align:center;"}
          %tr
            %td
              %p Interact, earn points, and see how your colleagues are doing!
              #{link_to 'View your tiles', site_link, {style:'background:#4da968; border-bottom:5px #3e8052 solid; color:#fff; display:inline-block; font-size:1.25em; font-weight:bold; font-weight:600; margin:0 auto; padding:.65em 2em; text-decoration:none;'}}

= render 'shared/unsubscribe_footer'