<li class="act">
  <div class="avatar43">
    <img alt="avatar" class="user_avatar avatar_image" src="{{helpers.avatarPath}}">
    <div class="points">
      <span class="point-value small_cap">10 pts</span>
    </div>
  </div>

  <div class="act-details">
    <div class="user">
      Example User completed a tile
    </div>

    <span class="when small_cap">
      10 minutes ago
    </span>
  </div>
</li>
