<ul>
  <li class="act js-placeholder-act">
    <div class="avatar43">
      <img alt="avatar" class="user_avatar avatar_image" src="{{helpers.avatarPath}}">
    </div>

    <div class="act-details">
      <p class="user small_margin" style="background:#e6e6e6; height:10px"></p>

      <span class="when small_cap" style="background:#e6e6e6; height: 10px; width: 50px; display:block;"></span>
    </div>
  </li>
</ul>
