<div class="row">
  <div class="columns small-8 small-centered">
    <%=form_for [:admin, @topic_board] do |f| %>
      <ul>
        <li>
          <label>Topic</label>
          <%=f.select :topic, options_from_collection_for_select(@topics, :id,  :name), {include_blank: true}, class: "airbo-chosen-select"%>
        </li>

        <li>
          <label>Board</label>
          <%=f.select :board, options_from_collection_for_select(@demos, :id,  :name), {include_blank: true}, class: "airbo-chosen-select" %>
        </li>
      </ul>
    <%end%>
  </div>
</div>


<script>
$(function(){
 Airbo.Utils.initChosen();
})
</script>
