
<div class="row">
  <div class="columns small-12">
    <h1 class="text-left">Create Topic Board</h1>
  </div>
</div>

<div class="row">
  <div class="columns small-6">
    <%= render "form" %>
    <p>
    <%=link_to "Reference Boards List", admin_topic_boards_path %>
    </p>
  </div>
</div>

