<div id="main">
	<div class="scoreboard module">
		<div class="description">
			<h1 class="headline">Scoreboard</h1>
			<p>The scoreboard is updated every 10 minutes.</p>
		</div>
		<div class="scoreboard-fill">
			<ul class="labels">
				<li class="label-player">Player</li>
				<li class="label-points">Total Points</li>
				<li class="label-level">Level</li>
			</ul>
			<ul class="all-listings">
				<li class="listing"><!-- HOOKUP -->
					<div class="player">
						<img src="/avatars/thumb/missing.png" />
						<a href="#">Awesome Healthyguy</a>
					</div>
					<div class="points">
						<p>527 pts</p>
					</div>
					<div class="level">
						<p>18</p>
					</div>
				</li>
				<li class="listing"><!-- HOOKUP -->
					<div class="player">
						<img src="/avatars/thumb/missing.png" />
						<a href="#">Sample Player</a>
					</div>
					<div class="points">
						<p>181 pts</p>
					</div>
					<div class="level">
						<p>5</p>
					</div>
				</li>
			</ul>
			<div class="cf"></div>
		</div>
		<div class="seemore">
			<img src="/images/v3/arrow-down.png" />
			<%= link_to "See more", '#', :id => 'see-more' %>
			<img src="/images/v3/arrow-down.png" />
	    </div>
	</div>
</div>