<%= render :partial => 'shared/flashes' -%>

<div id="main-wrapper">
  <div id="main">
    <h2>Recent Activity</h2>

    <ul id="acts">
      <li class="act-shim">
      </li>
      <%= render :partial => "acts/new_act", :collection => @acts, :as => :act %>
    </ul>

  </div>
</div>

<div id="secondary">
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %> 
    window.setTimeout(function() {window.location.reload()}, 10000);
  <% end %>
<% end %>
