<div class="all_users_section" style="display:<%= display_all_users ? 'block' : 'none' %>;">
  <p class="mt-0">
    You've selected All Users in this Board to have access to Suggestion Box.
  </p>
  <p>
    <%= link_to 'Not sure how it works?', 'http://learning.airbo.com/the-airbo-platform/features/suggestion-box' %>
  </p>
</div>
