<div class="all_users_section" style="display:<%= display_all_users ? 'block' : 'none' %>;">
  <p>
    You've selected All Users in this Board to have access to Suggestion Box.
  </p>
  <p>
    Not sure how it works?
    <%= link_to 'Contact us', '', class: "contact_airbo" %>.
  </p>
</div>
