<div data-reveal class='reveal-modal medium js-suggestions-access-modal suggestions-access-modal'>
  <h2 class="suggestion-access-header">Add people to suggestion box</h2>

  <%= render partial: 'client_admin/suggestions_access/form', locals: { demo: current_user.demo } %>

  <%= link_to '&#215;'.html_safe, '', class: "js-cancel-suggestions-access close-reveal-modal" %>
</div>
