<div class="suggestion_header_block">
  <div class="suggestion_box_header">
    <div class="help">
      <i class="fa fa-info-circle"></i>
      Help
    </div>
    <div class="manage_access">
      <i class="fa fa-users"></i>
      Manage Access
    </div>
    <h3 id="suggestion_box_title">Suggestion box</h3>
  </div>
</div>

<%= render partial: 'client_admin/suggestions_access/modal' %>

<% js_at_end do %>
  window.suggestionsAccess();
<% end %>
