<div class="suggestion_header_block">
  <div class="suggestion_box_header">
    <%= content_tag :div,  id: "suggestion_box_title", data: suggestion_box_intro_params(@show_suggestion_box_intro) do %>
      <span id="user_submitted_tiles_counter">
        <%= @user_submitted_tiles_counter %>
      </span>
      <h3>Suggestion box</h3>
    <% end %>
    <div class="manage_items">
      <div class="manage_access manage_item">
        <i class="fa fa-users"></i>
        Manage Access
      </div>
    </div>
    <div class="help">
      <i class="fa fa-info-circle"></i>
      Help
    </div>
  </div>
</div>

<%= render partial: 'client_admin/suggestions_access/modal' %>
<%= render partial: 'client_admin/suggestions_access/help_modal' %>

<% js_at_end do %>
  window.suggestionsAccess();
  window.suggestionBoxIntro();
<% end %>
