<div data-reveal class="reveal-modal confirm-with-reveal small" id="suggestions_access_warning_modal">
  <p data-confirm-body>
    Are you sure you want to close this form? You haven't saved changes.
  </p>
  <div data-confirm-footer>
    <a class="confirm">Confirm</a>
    <a data-confirm-cancel class="cancel">Cancel</a>
  </div>
  <a class="close-reveal-modal">×</a>
</div>