<div class="col-container">
    <div id="far-left"></div> <!-- extends light bg -->
    <div id="col-main">
        <div id="left-nav" class="equal">
            <ul id="admin-nav">
                <li id="admin-overview" class="admin-nav-section"><span></span><a>Overview</a></li>
                <li id="admin-measure" class="admin-nav-section">
                    <span></span><a>Measure</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
                <li id="admin-message" class="admin-nav-section">
                    <span></span><a>Message</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
                <li id="admin-users" class="admin-nav-section">
                    <span></span><a>Users</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
                <li id="admin-post" class="admin-nav-section">
                    <span></span><a>Post</a>
                    <ul class="inner">
                        <li>Coming soon</li>
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
        </div>

        <div id="right-content" class="equal">
            <div class="wrap">
                <ul class="section-name">
                    <li class="section-icon"><span class="icon" id="icon-overview"></span></li>
                    <li class="section-title"><h1>Dashboard overview</h1></li>
                </ul>

                <div class="stats">
                    <ul class="stat-group">
                        <li class="numbers"><h2>123,456</h2></li>
                        <li class="labels">Players joined</li>
                    </ul>
                    <ul class="stat-group">
                        <li class="numbers"><h2>78%</h2></li>
                        <li class="labels">With mobile numbers</li>
                    </ul>
                    <ul class="stat-group">
                        <li class="numbers"><h2>90%</h2></li>
                        <li class="labels">Joined via peer referral</li>
                    </ul>
                    <div class="clear"></div>
                </div>


                <div class="info">
                    <h2>More features will be available soon.</h2>
                    <h2>Check back often!</h2>
                </div>

            </div>
        </div>
    </div>
    <div id="far-right"></div>
</div>