<%= high_chart('hc', @hc) %>

<ul class="section-name">
    <li class="section-icon"><span class="icon" id="icon-overview"></span></li>
    <li class="section-title"><h1>Dashboard overview</h1></li>
</ul>

<div class="stats">
    <ul class="stat-group">
        <li class="numbers"><h2><%= number_with_delimiter @claimed_user_count %></h2></li>
        <li class="labels">Participants</li>
    </ul>
    <ul class="stat-group">
        <li class="numbers"><h2><%= @with_phone_percentage %></h2></li>
        <li class="labels">Added mobile numbers</li>
    </ul>
    <ul class="stat-group">
        <li class="numbers"><h2><%= @with_peer_invitation_fraction %></h2></li>
        <li class="labels">Joined via peer</li>
    </ul>
    <div class="clear"></div>
</div>
