$bin_width: 378px;
$suggestion_radius: 4px;
$light_green: #87BF4E;
.clear{
  clear: both;
}
#relative{
  /* this is relative so the child div will use it as a positioning reference*/
  position: relative;
  margin: 0 auto;
  width: $bin_width;
  top: -30px;
  left: -12px;
}  
#suggestions{
  position: absolute; 
  .remove_referrer{
    display: none;
  }  
  .single_suggestion:hover{
    background: aqua;
  }
}
.remove_referrer{
  position: absolute;
  right: 0px;
  bottom: -22px;
}
.single_suggestion{
  background: tan;
  padding-top: 5px;
  padding: 10px;
  width: $bin_width;
  border: 2px solid $light_green;
  -moz-border-radius: $suggestion_radius;
  -webkit-border-radius: $suggestion_radius;
  border-radius: $suggestion_radius;
  position: relative;
}
.single_suggestion + .single_suggestion{
  margin-top: 2px;
}

.bit{
  font-size: 100%;
}
.info, .image{
  float: left;
}
.image{
  padding-right: 10px;
}
.selected_referrer_id{
  display: none;
}
