@import "standard";
$bin_width: 378px;
$suggestion_radius: 4px;
$light_green: #87BF4E;
.clear{
  clear: both;
}
#search_for_friends_to_invite{
  width: $bin_width;
  height: 200px;
  #relative{
    top: 0px;
  }
}

#relative{
  /* this is relative so the child div will use it as a positioning reference*/
  position: relative;
  margin: 0 auto;
  width: $bin_width;
  top: -30px;
  left: -12px;
}
#suggestions{
  position: absolute;
  top:13px;
  z-index: 1;
  .remove_referrer{
    display: none;
  }
  .single_suggestion:hover{
    background: darken($light-gray, 5%);
  }
}
a.remove_referrer{
	color:$hengage-bg;
  position: absolute;
  right: 0px;
  bottom: -19px;
  width: 26ex;
  text-align: right;
	&:hover {
		color:lighten($hengage-bg, 15%)!important;
	}
}
.single_suggestion{
  background-color:$light-gray;
  background-image:url(/images/v3/texture_darker.png);
  color:$dark-gray;
  padding: 10px;
  width: $bin_width;
  border: 1px solid $hengage-bg;
  -moz-border-radius: $suggestion_radius;
  -webkit-border-radius: $suggestion_radius;
  border-radius: $suggestion_radius;
  -moz-box-shadow: 0 0 5px #c9c9c9;
  -webkit-box-shadow: 0 0 5px #c9c9c9;
  box-shadow: 0 0 5px #c9c9c9;
  position: relative;
  behavior: url(/css3pie/PIE.htc);
	div.info {
		div.bit:first-child {
			color:$hengage-bg;
			font-weight:bold;
		}
	}
}
.single_suggestion + .single_suggestion{
  margin-top: 2px;
}
#autocomplete + .single_suggestion{
  margin-top: 5px;
}

.bit{
  font-size: 100%;
}
.info, .image{
  float: left;
}
.image{
  padding-right: 10px;
}
.suggested_user_id{
  display: none;
}
#submit_invite_friend{
  display: none;
}
.first_half, .second_half{
  width: 500px;
  input{
    text-align: right;
  }
  label{
    display: none;
  }
}
.second_half{
  display: none;
}
body #facebox .content {
    width:  402px;
    height: 340px;
}
#potential_bonus_points{
  display: inline;
}
#bonus{
  display: none;
  color: green;
  font-weight: bold;
}
#points_per_referral{
  display: none;
}
#lots_of_friends{
  padding-left: 17ex;
}
#autocomplete_status{
  color: green;
  font-size: 120%;
  font-weight: bold;
  left: 292px;
  position: absolute;
  top: -61px;
  width: 100%;
}