@import "standard";

/* ---------- math ---------- */
$dark:darken($header-bg, 14%); 
$light:lighten($header-bg, 7%);

/* ---------- masthead ---------- */
.header {
	background-color:$dark-gray;
	border-bottom:1px #fff solid;
	font-weight:bold;
	text-shadow: 1px 1px $dark-gray; behavior: url(/css3pie/PIE.htc);
	
	a {
		color:#fff;
		&:hover {color:lighten($header-bg, 50%)!important;}
		&:active {
			color:$dark-gray!important; 
			text-shadow: none!important;
		}
	}
	li {display:inline;}
	
	.app_bar {
		color:$gray;
		font-size:$font-small;
		font-weight: 500;
		height:23px;
		margin:$centered;
		padding:7px $gutter 0 $gutter;
		width:$body-width;
		
		a {
			font-size:$font-small;
			&:active {
				color:$gray!important;
			}
		}
		.app_by {
			float:left;
			margin:$centered;
		}
	
		.app_settings {
			float:right;
			li {padding-left:20px;}
		}
	}

	.masthead {
		background-color:$header-bg;
		background-image:url('/images/v3/texture_darker.png');
		border-top:1px $light solid;
		border-bottom:1px $dark solid;
		padding-bottom:15px;
	
		.mast_top {
			color:$light-gray;
			margin:$centered;
			padding:15px $gutter;
			width:$body-width;
			
			.logo_container {
				float:left;
				margin-top:5px;
				
				img {
					width:130px;
				}
			}
			.welcome {
				color:lighten($header-bg, 45%);
				float:left;
				margin:0.80% 0 0 25px;
				position:relative;
				overflow:hidden;
				width:235px;
				
				img {
					@include rounded;
					border:1px lighten($header-bg, 10%) inset;
					float:left;
					height:60px;
					margin:0 15px 0 0!important;
					width:60px;
				}
				
				.welcome_text {
					float:left;
					position:relative;
					width:155px;
					top:13px;
				}
			}
			.navigation {
				float:right;
				left:15px;
				margin:2% 0 0 0;
				position:relative;
				text-transform:uppercase;

				a {
					display:block;
					float:left;
					font-family:$gotham;
					font-size:15px;
					letter-spacing: 1px;
					padding:6px 15px;
				}
			}
		}
		.mast_center {
			border-top:1px $light solid;
			color:lighten($header-bg, 33%);
			font-size:$font-small;
			margin:$centered;
			padding:$gutter $gutter 2px $gutter;
			width:$body-width;
			
			li.help_command {padding:0 316px 0 5px;}
			li.help_progress {padding-right:202px;}
		}
		.mast_bottom {
			@include bg-progressbar;
			@include rounded-progress;
			border:1px darken($header-bg, 10%) solid;
			height:56px;
			margin:$centered;
			width:960px;
			background: url("/images/mbar_right.png") no-repeat scroll 178mm 0 transparent;
			
			.bar_section {

				float:left;
				height:54px;
			}
			
			.bar_command {
				@include shadow-side;
				@include bg-progressbar;
				position: relative;
				border:1px #fff solid;
				border-radius: 30px;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				behavior: url(/css3pie/PIE.htc);
				width:400px;
				z-index:1;
				input[type="text"] {
					border:1px darken($light-gray, 10%) solid;	
					border-radius:20px 0 0 20px;
					-webkit-border-bottom-left-radius: 20px;
					-webkit-border-top-left-radius: 20px;
					-moz-border-bottom-left-radius: 20px;
					-moz-border-top-left-radius: 20px;
					behavior: url(/css3pie/PIE.htc);
					
					color:$med-gray;
					height:24px;
					float:left;
					margin:9px 0 9px 10px;
					padding:5px 10px;
					width:300px;
				}
				input[type="submit"] {
					@include bg-orange;
					border:0;	
					border-radius:0 20px 20px 0;	
					-webkit-border-bottom-right-radius: 20px;
					-webkit-border-top-right-radius: 20px;
					-moz-border-bottom-right-radius: 20px;
					-moz-border-top-right-radius: 20px;	
					behavior: url(/css3pie/PIE.htc);				
					
					color:#fff;
					float:right;
					font-family:$gotham;
					font-size:14px;
					font-weight: bold;
					height:35px;
					left:-15px;
					margin-top:10px;
					padding-top:5px;
					position:relative;
					text-indent:-2px;
					text-shadow:1px 1px 1px $dark-gray;
					text-transform:uppercase;
					width:54px;
					
					&:hover {
						@include bg-orange-rev;
					}
				}
			}
			
			.bar_progress {
				@include shadow-side;
				@include bg-progressbar;

				border:1px #fff solid;
				border-radius:0 30px 30px 0;
				-webkit-border-top-right-radius: 30px;
				-moz-border-top-right-radius: 30px;
				behavior: url(/css3pie/PIE.htc);

				border-left:none;
				left:-23px;
				position:relative;
				width:413px;
				
				.bar {
					background-image: url(/images/v3/bar.png);
					background-repeat: no-repeat;
					height:35px;
					margin:9px 0 0 35px;
					overflow:hidden;
					position: absolute;
					width:360px;
					
					.progress {
						@include rounded-nav;
						background-image: url(/images/v3/progressBar.png);
						background-repeat: no-repeat;
						height:100%;
						margin:0;
						overflow: hidden;
						padding:0;
						position:relative;
						width:30%;
					}
					
					p {
						color:#906109;
						font-size:15px;
						font-weight:bold;
						margin: -28px 0 0 0;
						position: relative;
						text-align: center;
						text-shadow:none;
					}
				}
			}
			
			.bar_level {
			 	border:0;
				width:140px;
				
				p {
					color:$header-bg;
					float:left;
					font-family:$gotham;
					font-size:$font-small;
					margin:13px 0 0 -10px;
					padding:0;
					text-align: right;
					text-shadow:none;
					text-transform:uppercase;
					width:60px;
				}
				p.level {
					@include orange-text;
					float:right;
					font-size:30px;
					margin:7px 25px 0 0;
				}
			}
		}
	}
}