body {
  background-color: #ddd;
}

#alt-authentication-links {
  margin-top: 25px;
  text-align: center;
}

li.act, li.leader {
  .user {
    display: block;
    font-size: 13px;
    margin-top: 3px;
    .when, .score {
      font-weight: lighter;
      font-size: 10px;
      text-align: right;
      float: right;
      margin-top: 2px;
      color: #999;
    }
  }
  .description {
    font-size: 13px;
    font-weight: normal;
    display: block;
    margin: 7px 0 5px 0;
    white-space: normal;
  }
  .points {
    font-size: 10px;
  }
}

#profile-stats {
  text-align: center;
  margin: 10px 0 25px 0;
}

#your-mobile-number {
  text-align: center;
  margin: 0;
}

#flash {
  text-align: center;
  div.error, div.notice, div.success,
  #flash_failure, #flash_success, #flash_notice {
    border: 1px solid #ddd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 1em;
    padding: 0.8em;
  }

  div.error,
  #flash_failure {
    background: #FBE3E4;
    border-color: #FBC2C4;
    color: #D12F19;
  }

  div.error a,
  #flash_failure a {
    color: #D12F19;
  }

  div.notice,
  #flash_notice {
    background: #FFF6BF;
    border-color: #FFD324;
    color: #817134;
  }

  div.notice a,
  #flash_notice a {
    color: #817134;
  }

  div.success,
  #flash_success {
    background: #E6EFC2;
    border-color: #C6D880;
    color: #529214;
  }

  div.success a,
  #flash_success a {
    color: #529214;
  }
}

.other-user-winning-time {
  font-size: 10px;
  font-weight: lighter;
  display: block;
  line-height: 12px;
  color: #999;
}
