body {
  background-color: #ddd;
}

#alt-authentication-links {
  margin-top: 25px;
  text-align: center;
}

li.act, li.leader {
  .user {
    display: block;
    font-size: 13px;
    margin-top: 3px;
    .when, .score {
      font-weight: lighter;
      font-size: 10px;
      text-align: right;
      float: right;
      margin-top: 2px;
      color: #999;
    }
  }
  .description {
    font-size: 13px;
    font-weight: normal;
    display: block;
    margin: 7px 0 5px 0;
  }
  .points {
    font-size: 10px;
  }
}

#profile-stats {
  text-align: center;
  margin: 10px 0 25px 0;
}

.other-user-winning-time {
  font-size: 10px;
  font-weight: lighter;
  display: block;
  line-height: 12px;
  color: #999;
}
