@import "standard_colors";
@import "special_effects";

@font-face {
  font-family: 'Chunk';
  font-weight: normal;
  font-style: normal;
  src: url('http://font.thoughtbot.com/chunk/chunk.otf');
  src: local('☺'), url('http://font.thoughtbot.com/chunk/chunk.ttf') format('truetype');
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(/images/new_marketing/background.png);
}

#wrapper {
  width: 1050px;
  padding-left: 80px;
  padding-right: 80px;
}

#login-form {
  float: right;

  #login-prompt {
    color: white;
    font-size: 12pt;
  }

  input {
    font-size: 8pt;
    width: 110px;
  }

  input[type="submit"] {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

#header {
  width: 940px;
  float: right;

  #subscribers-arrow {
    position: relative;
    top: -50px;
    left: 570px;
  }

  #tree-logo {
    position: relative;
    left: -155px;
    top: 20px;
  }
}

#jump-buttons {
  position: relative;
  right: -515px;
  bottom: 50px;

  img {
    margin-left: 20px;
    margin-bottom: 0;
  }
}

#main-content {
  width: 890px;
  float: right;
  margin-bottom: 100px;
}

$slideshow-left-half-width: 400px;

#slideshow {
  @include rounded-corners(4px);
  @include box-shadow(2px, 2px, 10px, 2px, $light-gray);
  background-color: white;
  padding: 40px 0 50px 25px;

  #engagement-header {
    font-family: 'Chunk';
    font-size: 28pt;
    color: $green;
    width: $slideshow-left-half-width;
    line-height: 1.2em;
  }

  #engagement-subheader {
    font-size: 21pt;
    color: $dark-gray;
    width: $slideshow-left-half-width;
    line-height: 0.9em;
  }

  #tech-they-love {
    font-size: 14pt;
    font-family: 'Chunk';
    color: #6b6b6b;
    margin-top: 25px;
    width: $slideshow-left-half-width;

    span {
      padding-right: 25px;
    }
  }

  #factoid {
    height: 25px;
    margin-top: 15px;
    color: $aqua;
    font-size: 14pt;

    #lead {
      font-size: 24pt;
      font-weight: bold;
    }
  }
}

#secondary-boxes-and-sidebar {
  width: 100%;
}

$secondary-box-background: #f2f4f3;
$secondary-box-width: 640px;

.secondary-box {
  @include box-shadow(2px, 0, 0, 0, $light-gray);
  background: $secondary-box-background;
  width: 540px;
  padding: 0 50px 10px 50px;
  margin-top: 6px;

  color: $dark-gray;
  font-size: 12pt;
  line-height: 15pt;

  .banner {
    position: relative;
    left: -47px;
  }

  .engagement-point {
    margin-bottom: 40px;
  }

  .numeral {
    position: relative;
    left: -26px;
    margin-bottom: 0;
  }

  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    display: inline;
    position: relative;
    left: -28px;
    top: -4px;
  }

  .engagement-images {
    padding-left: 30px;
    padding-right: 70px;
    margin-top: 30px;

    img {
      margin-bottom: 0;
    }

    img.singular {
      width: 100%;
    }

    img.double {
      width: 207px;
      height: 72px;
    }

    img.double:first-child {
      margin-right: 20px;
    }

    img.triple {
      width: 127px;
      height: 72px;
    }

    $triple-image-margin: 23px;
    img.triple:first-child {
      margin-right: $triple-image-margin;
    }

    img.triple:last-child {
      margin-left: $triple-image-margin;
    }
  }

  .small-bullet {
    position: relative;
    left: 582px;
    top: -25px;
    img { margin: 0; }
  }
}

#sidebar {
  float: right;
  width: 230px;
  padding-top: 50px;
}

#page-footer {
  clear: both;
  text-align: center;
  color: white;
  background-color: #9bbd66;
}

#about-us {
  padding-bottom: 18px;
  line-height: 1.4em;

  p {
    margin-bottom: 32px;
  }
}

#blog {
  .post {
    width: 45%;

    line-height: 20pt;

    h2 a {
      font-size: 18pt;
      line-height: 15pt;
      color: $dark-gray;
      margin-left: 0;
    }
  }

  #first-post {
    float: left;
  }

  #second-post {
    float: right;
  }
}

.clearfix {
  clear: both;
}
