@import "standard_colors";
@import "special_effects";

@font-face {
  font-family: 'Chunk';
  font-weight: normal;
  font-style: normal;
  src: url('http://font.thoughtbot.com/chunk/chunk.otf');
  src: local('☺'), url('http://font.thoughtbot.com/chunk/chunk.ttf') format('truetype');
}

$standard-section-width: 918px;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-image: url(/images/new_marketing/background.png);
}

#wrapper {
  width: 1050px;
  padding-left: 25px;
  padding-right: 25px;
}

#login-form {
  margin-top: 6px;
  float: right;

  #login-prompt {
    color: white;
    font-size: 12pt;
  }

  input {
    font-size: 8pt;
    width: 110px;
  }

  input[type="submit"] {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

#header {
  width: 100%;
  height: 222px;
  background-image: url(/images/new_marketing/b_tealtop_tile.png);
  background-repeat: repeat-x;

  #header-contents {
    width: $standard-section-width;
    margin: 0 auto;

    #subscriber-arrow {
      float: right;
    }
  }
}

#main-content {
  width: 890px;
  float: right;
  margin-bottom: 100px;
}


#page-footer {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
  clear: both;
  text-align: center;
  background-image: url(/images/new_marketing/b_tealbottom.png);
}
