@import "standard_colors";
@import "special_effects";
@import "flick/jquery-ui-1.8.10.custom.css";

$overall-background: #e7f0dd;

$column-subheader: $medium-gray;

$message-header-background-color: #6c7868;
$new-message-header-background-color: #ba7d3b;
$message-reply-background-color: #d2e8b9;

$content-width: 1002px;

@mixin white-li($width: $main-column-width - 14px) {
  background-color: $white;
  border-bottom: 1px solid #DDD;
  float: left;
  width: $width;
  padding: 15px 4px 0 10px;
  position: relative;
  min-height: 60px;
  @include rounded-corners(6px);

  a, span.user {
    font-weight: bold;
    text-decoration: none;
    color: $blue;
  }
  a:hover {
    text-decoration: underline;
  }
}

a, a:link {
  color: $light-gray;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: $overall-background;
}

h1 {
  font-family: 'Chunk';
  font-weight: normal;
  font-size: 24px;
  a, a:visited, a:link {
    text-decoration: none;
    span {
      color: $orange;
    }
  }
}

h2 {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: $gray;

  a {
    font-size: 12px;
    margin-left: 6px;
  }
}

h2.first {
  margin: 0 0 10px 0;
}

h2.first#activity, h2.first#scoreboard {
  display: inline; 
}

.add-friends {
  color: $green;
  float: right;
  font-weight: bold; 
}

.header {
  background: url(/images/new_activity/header_gradient.png);
  height: 63px;

  #logo {
    width: 75px;
    float: left;

    padding-top: 4px;
    margin-left: -22px;
    margin-right: 10px;

    img {
      margin: 0px;
    }
  }

  .inner-header {
    margin: 0px auto;
    padding: 0 0 10px 0;
    width: $content-width;

    #add-action {
      margin-top: 10px;
      float: left;
      color: $blue;
      font-size: 22px;

      .enter-code {
        font-size: 12px;
        vertical-align: middle; 

        .prompt {
          font-size: 18px;
          vertical-align: middle;
        }

        input[type="text"] {
          width: 349px;
          height: 20px;
          margin-left: 5px;
          font-size: 14px;
          padding: 10px 66px 10px 10px;
        }

        input[type="submit"] {
          position: relative;
          z-index: +10;
          padding: 5px 5px 7px;
          right: 62px;
        }
      }
    }

    #account {
      margin-top: 35px;
      font-size: 16px;
      float: right;
      text-align: right;

      a, a:visited, a:link {
        text-decoration: none;
        font-weight: bold;
        color: $dark-gray;
      }

      a.last {
        border-right: 0;
        padding-right: 0;
      }

      a:hover {
        border-bottom: solid $dark-gray 1px;
      }

      img.navbar-separator {
        margin: 0;
        position: relative;
        top: 3px;
      }
    }
  }
}

.explanation {
  padding: 10px 0; }

.content {
  @include rounded-corners;
  margin: 30px auto;
  background: $overall-background;
  width: $content-width;
  padding-bottom: 5px;
  #secondary, #main {
    margin-bottom: 10px;
  }
}

$friends-page-column-width: 454px;
.friends {
  #main, #secondary {
    width: $friends-page-column-width;
  }

  input[type="submit"] {
    font-size: 10px;
    padding: 4px 6px;
  }
}

#footer {
  height: 10px;
  margin: 10px 0;
  clear: both;
}

ul, ol {
  margin-top: 20px;
}

form li {
  list-style: none;
}

#phone_number_input, #phone_user_password_input, #phone_user_password_confirmation_input {
  label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    margin: 5px auto;
    width: 358px;
    text-align: center;
  }
  input {
    border: 1px solid $black;
    color: $black;
    display: block;
    font-family: Georgia, serif;
    font-size: 38px;
    margin: 0px auto;
    padding: 4px 0px;
    text-align: center;
    width: 358px;
  }
}

form .submit-input {
  text-align: right;
  margin: 0px auto;
  position: relative;
  top: 5px;
  width: 358px;
}

#flash {
  margin: 20px auto;
  width: 1000px;
}

.hidden-form {
  display: none;
  margin-top: 20px;
}

.invite-link {
  margin-left: 4px;
  a, a:visited {
    color: $gray;
  }
  a:hover {
    color: $black;
  }
}

$main-column-width: 505px;

#main {
  float: left;
  width: $main-column-width;
  p {
    line-height: 1.4em;
    margin-bottom: 20px;
  }
}

#secondary {
  float: right;
  width: 389px;
  p {
    line-height: 1.4em;
    margin-bottom: 10px;

    .prize {
      color: $green;
      background-color: $white;
      font-weight: bold;
      padding: 2px 8px;
      @include rounded-corners(6px);
    }
  }
}


pre {
  background: $black;
  color: $offwhite;
}
code, pre {
  overflow-x: auto;
  margin: 1.5em 0px;
  white-space: pre;
  line-height: 1.5;
}
pre {
  -webkit-box-shadow: #555 0px 2px 4px;
  border: 3px solid #DDD;
  padding: 10px;
}

#secondary {
  ul {
    list-style: none;
    margin: 10px 0;
    li {
      border-bottom: 1px solid #DDD;
      line-height: 1.4;
      overflow: hidden;
      padding: 8px 0px;
      img {
        background: $white;
        border: 1px solid $light-gray;
        float: left;
        margin: 0px 6px 0px 0px;
        padding: 3px;
        vertical-align: middle;
        width: 24px;
      }
      a:link, a:visited {
        outline: none;
        text-decoration: none;
        font-weight: bold;
      }
    }
    li:last-child {
      border-bottom: none;
    }
  }
}

#secondary ul.top-scores { 
  margin-top: 0px;

  li {
    padding: 4px 5px 4px 10px;
    background-color: white; 
    line-height: 22px;
    @include rounded-corners(6px);
  }

  .score { 
    color: $green; 
    float: right;
    font-weight: bold;
    
    .score-value {
    }
  }

  .name {
    color: $blue;
    font-weight: bold;
  }
}

table#your-score {
  $table-corner-radius: 6px;

  font-size: 18px;

  margin-bottom: 0;

  td, th {
    text-align: center;
    border: none;
  }

  th {
    font-weight: bold;
  }

  td {
    font-weight: normal;
  }

  tr#recent-average {
  }

  td, th {
    background-color: $white;
    padding: 2px 8px;
  }

  tr:first-child {
    td, th {
    }

    td:first-child, th:first-child {
      color: $offwhite;
      @include rounded-corner-topleft($table-corner-radius);
      font-size: 18px;
      text-align: left;
    }

    td:last-child, th:last-child {
      @include rounded-corner-topright($table-corner-radius);
    }
  }

  tr:last-child {
    td, th {
    }

    td:first-child, th:first-child {
      @include rounded-corner-bottomleft($table-corner-radius);
    }

    td:last-child, th:last-child {
      @include rounded-corner-bottomright($table-corner-radius);
    }
  } 
}

#top-users {
  li {
    span {
      color: $light-gray;
      display: block;
      font-size: 11px;
      font-weight: normal;
      line-height: 1.2;
      margin: 0px;
      padding: 0px;
    }
  }
}

/* Activity Feed */


ul#acts {
  background-color: $white;
  list-style: none;
  margin-top: 0;

  li.act, li.small-act {
    @include white-li;

    .act-details {
      float: right;

      p {
        font-size: 14px;
        padding-bottom: 12px;
        color: #363636;
        position: relative;
        line-height: 18px;
        margin-bottom: 0;

        span.description {
          a {
            color: $blue;
            text-decoration: underline;
          }

          a:hover {
            text-decoration: none;
          }
        }

        span.description, span.when {
          display: block;
          width: 78%;

          :first-letter {
            text-transform: capitalize;
          }
        }

        span.when, span.points {
          font-weight: normal;
          color: $light-gray;
          font-size: 11px;
        }

        span.points {
          color: $green; 
          position: absolute;
          top: 0;
          right: 0;
          text-align: center; 
          padding: 5px 0;
          line-height: 14px;
          font-size: 14px;

          span.point-value {
            font-size: 18px;
            font-weight: bold;
          }
        }

          span.ranking {
            position: absolute;
            right: 0;
            top: 45px;
            padding-right: 5px; 
            font-size: 10px;
            text-align: center;
            line-height: 14px;

            span.ranking-value {
              display: block; 
              font-size: 14px;
            }
          }
        }
      }
    }

    li.act {
      .act-details {
        width: 430px;
      }
    }

    li.small-act {
      .act-details {
        width: 478px;
      }

      p {
        margin-bottom: 0px;
      }
    }

    li:last-child {
      border-bottom: none;
    }
  }

.avatar48 {
  width: 48px;
  height: 48px;
  float: left;
  margin: 0 10px 0 0;
  .shadow48 {
    width: 48px;
    height: 48px;
    position: absolute;
  }
}

.examples {
  li.example {
    .points {
      border: 1px solid $light-gray;
      float: left;
      margin: 0px 6px 0px 0px;
      width: 24px;
      height: 24px;
      float: left;
      position: relative;
      text-align: center;
      padding: 3px 2px 0 2px;
      vertical-align: middle;
    }
    p {
      float: left;
    }
  }
  li:last-child {
    border-bottom: none;
  }
}

button, input[type=submit] {
  @include rounded-corners(4px);
}

button, input[type=submit], .examples .points {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  color: $white;
  background: $dark-gray;
  border: 0px solid $gray;
}

button:hover, input[type=submit]:hover, .examples .points:hover {
  background: $aqua;
  cursor: pointer;
}

button:disabled, input[type=submit]:disabled {
  background: $light-gray;
  cursor: pointer;
}

#phone_submit {
  margin-right: 0px;
}

#follow-target {
  height: 48px;
  input {
    margin-top: 8px;
  }
}

#profile-stats {
  display: block;
  clear: both;
  margin-top: 20px;
  .stat {
    float: left;
    display: inline;
  }
  #points {
    width: 38px;
    padding-right: 10px;
  }
  #following-count {
    width: 56px;
    padding: 0 10px;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
  #followers-count {
    width: 60px;
    padding-left: 10px;
  }
}

#follow-button {
  display: inline;
}


.column-header {
  @include rounded-corners(6px);
  line-height: 22px;
  height: 30px;
  background: $gray;
  padding-left: 10px;

  h2 {
    color: $offwhite;
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
  }

  a, a:link, a:hover, a:visited {
    color: $offwhite;
    float: right;
    padding-right: 4px;
  }
}

.column-section {
  margin-bottom: 17px;
}

select {
  font-weight: bold;
  @include rounded-corners(1px);
}

a.current {
  text-decoration: underline; 
}

#achievements .achievement {
  @include rounded-corners(6px);
  background-color: $white;
  font-weight: bold;
  padding-left: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.other-user-winning-time {
  font-weight: normal;
  color: $blue;
  margin-left: 1ex;
}

#conference-header {
  color: $white;
  line-height: 56px;
  font-size: 20px;
}

input.with-hint-text {
  color: $light-gray;
}

#activity-return {
  clear: both;
  padding-top: 15px;
}

textarea#bad_message_reply_body {
  height: 55px;
}

.bad-message-thread {
  width: 100%;
  padding: 10px 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;

  .message-sender {
    font-weight: bold;
    color: blue;
  }

  .message-replier {
    font-weight: bold;
    color: orange;
  }

  .message-reply, .message-details {
    margin-bottom: 15px;
  }
}

.loading-message {
  display: none;
  font-weight: bold;
}

.message {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 500px;
  font-size: 16px;

  .message-header {
    @include rounded-corners(2px);
    background-color: $message-header-background-color;
    color: $white;
  }

  .message-body {
    @include rounded-corners(2px);
    background-color: $white;
    color: $black;
  }

  .automated-reply {
    @include rounded-corners(2px);
    background-color: yellow;
    color: $black;
  }

  .reply {
    @include rounded-corners(2px);
    background-color: $message-reply-background-color;
    color: $black;
  }

  form {
    display: inline;

    input[type="submit"] {
      background-color: inherit;
      border: none;
      color: $light-gray;
      font-size: inherit;
      text-transform: none;
      font-weight: normal;
      padding: 0;
    }
  }
}

.new-watchlisted-message {
  .message-header {
    background-color: $new-message-header-background-color
  }
}

#see-more {
  margin-top: 10px;
}

#see-more-spinner {
  display: none;
  margin: 0;
  vertical-align: middle;
}

ul#followings, ul#followers, ul#other-users {
  list-style: none;
  margin-top: 0;

  li.associate {
    @include white-li;

    form {
      margin-top: 2px;
      margin-bottom: 10px;
    }

    img {
      width: 48px;
      height: 48px;
      padding: 0;
      border: none;
    }
  }
}

ul#followings, ul#followers {
  li.associate {
    width: $friends-page-column-width - 14px;
  }
}

ul#other-users {
  li.associate {
    form {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

.clear-avatar {
  margin-top: 20px;
}

.secondary-column-section {
  @include rounded-corners(6px);
  padding-top: 17px;
  padding-left: 15px;
  background-color: white;
  margin-bottom: 10px;

  a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: $dark-gray;
  }

  a:hover {
    text-decoration: underline;
  }
}

#main-profile-section {
  padding-right: 15px;
  padding-bottom: 15px;

  .own-number {
    width: 290px;
    float: left;
  }

  .account-controls {
    clear: both;

    h3 {
      margin-top: 30px;
    }

    h3:first-child {
      padding-top: 30px;
    }

    /* Fuck you, Formtastic. */    
    .required label { 
      font-weight: normal;
    }

    abbr[title="required"] {
      display: none;
    }
  }
}

.fan-count {
  font-weight: bold;
}

#connections {
  padding-bottom: 17px;
}

#existing-rules {
  td, th {
    border: 2px solid black;
  }
}

.rule-warning {
  background-color: yellow;
  color: red;
}

#existing-rules, #add-rule, #bulk-load {
  margin-bottom: 90px;

  td, th {
    padding-left: 5px;
  }

  th:first-child {
    width: 200px;
  }

  img.row-toggle-button  {
    margin: 0;
    cursor: pointer;
  }

  tr.aliases {
    display: none;
  }
}

fieldset#secondary-values {
  display: none;

  .spinner {
    margin: 0;
  }
}

fieldset#bonus-thresholds {
  label {
    display: inline;
  }

  input {
    width: 50px;
  }
}

fieldset#levels {
  label {
    display: inline;
  }

  input {
    width: 250px;
  }
}
