#secondary ul.top-scores .score {
  position: relative;
  top: -32px;
  right: 5px;
}

.account-controls {
  label {
    position: relative;
    left: -16px;
  }

  input[type=image] {
    display: block;
  }
}

#fans-wrapper #fans {
  margin-left: 10px;
}
