@import "standard_colors";
@import "special_effects";
@import "flick/jquery-ui-1.8.10.custom.css";

/* ---------- note to self ---------- 
	use sass operations to lighten/darken
	hairlines
   ---------------------------------- */

/* ---------- customizations ---------- */
$header_bg:#067bbd;

/* ---------- standards ---------- */
a {text-decoration:none!important;}
img {border:0;}
p {margin:0;padding:0;}
ul {list-style-type:none; margin:0; padding:0;}

$body-width:960px;
$bold:500;
$centered: 0 auto;
$font-small:12px;
$gutter:10px;

body {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
}

/* ---------- masthead ---------- */
.header {
	background-color:$dark-gray;
	a {
		color:$white;
		font-size:$font-small;
		font-weight:$bold;
		&:hover {text-decoration:underline!important;}
	}
	p {
		color:$gray;
		font-size:$font-small;
		font-weight:$bold;
	}
	
	.app_bar {
		height:23px;
		margin:$centered;
		padding-top:7px;
		width:$body-width;
	
		.app_by {
			float:left;
			margin:$centered;
		}
	
		.app_settings {
			float:right;
			li {
				display:inline;
				padding-left:20px;
			}
		}
	}

	.masthead {
		background-color:$header_bg;
		border-top:1px lighten($header_bg, 7%) solid;;
	
		.mast_top {
			border-bottom:1px darken($header_bg, 10%) solid;;
			margin:$centered;
			padding:$gutter;
			width:$body-width - 2*$gutter;
			
			.logo_container {border:1px red solid;}
			.welcome {border:1px yellow solid;}
			.navigation {border:1px purple solid;}
		}
		.mast_bottom {
			border-top:1px lighten($header_bg, 10%) solid;
			margin:$centered;
			padding:$gutter;
			width:$body-width - 2*$gutter;
		}
	}
}
