/* ---------- customizations ---------- */
$header-bg:#0673b1;

.mast_top {
	padding-bottom:0!important;
	a.a_current {
		border:1px lighten($header-bg, 10%) solid!important;
	}
}
.mast_bottom {
	.bar_progress {
		.bar {
			.progress {
				position:relative;
				top:9px;
			}
		}
	}
}