@import "standard";
/* all */
select {
	border-radius:0!important;
}

/* external */

body.invitations {
	div#search_for_referrer {
		position:relative;
		z-index:9999!important;
		div#suggestions {
			position:absolute;
			z-index:9999!important;
			div.single_suggestion {
				position:relative;
				z-index:99999!important;
			}
			img {
				background:red!important;
				border:0!important;
				border-radius:0!important;
				z-index:99999!important;
			}
		}
	}
	input[type="password"], input[type="text"] {
		border-radius:0!important;
	}
	select {
		border-radius:0!important;
	}
}
body.invitations .header #navigation .nav-signup, body.sessions .header #navigation .nav-login {
	background:$dark-gray;
	border:1px lighten($hengage-bg, 10%) solid;
	border-radius:20px!important;
	position:relative!important;
	behavior: url(/css3pie/PIE.htc);
	z-index:1;
}

/* internal */
.header {
	.mast_top {	
		div.welcome {
			img.user_avatar {
				border-radius:0!important;
				z-index:100;
			}
		}
	}
	.mast_bottom {
		border:0!important;
	}
}


.acts .header .navigation .nav-home, .users .header .navigation .nav-activity, .scores .header .navigation .nav-scores, .users-index .header .navigation .nav-directory {
	border-radius:0!important;
	z-index:9999!important;
}

.suggested-task {
	$ie-game-color:#008873;
	background-color: $ie-game-color!important;
	box-shadow: 0 0 3px 2px #c9c9c9;
	behavior: url(/css3pie/PIE.htc);
	z-index:99!important;
	a.more-info {
		background-image:url(/images/v3/btn-moreinfo.png)!important;
		border:0!important;
		display:inline-block;
		text-shadow:1px 1px 1px $dark-gray!important;
		width:75px;
		&:hover {
			background:url(/images/v3/btn-moreinfo-down.png)!important;
			background-position:center center;
		}
	}
	div.dose-moreinfo {
		background-color: darken($ie-game-color,10%)!important;
		border-radius: 3px;
		clear: both;
		position:relative;
		top:5px;
		behavior: url(/css3pie/PIE.htc);
	}
	div.cf {
		height:0!important;
	}
	p.dose-descript, p.dose-title, div.dose-moreinfo {
		a {
			color:#fff!important;
			background:none!important;
			border:0!important;
			text-decoration:underline!important;
			&:hover {color:$light-gray!important;}
			&:active {color:$dark-gray!important;}
		}
	}
}

.avatar_image, .follow-btn {
	position:relative!important;
	z-index:9999!important;	
}
//--------------invite modal--------------
a#invite_friends_link {
	position:relative!important;
}
.invite-module { /*sidebox for invite AFTER clicking OUT of modal*/
	div.invite#invite_friends_facebox {
		form {
			div.first_half {
				input[type="text"] {
					border-radius:0!important;
				}
			}
		}
	}
	img {
		position:relative!important;
		z-index:99999!important;
	}
}
#facebox {
	a#invite_friends_link {
		border-radius:0!important;
	}
	div.content {
		.first_half {
			width:375px!important;
			input[type="text"] {
				width:250px!important;
			}	
		}
		input#autocomplete {
			border-radius:0!important;
		}
	}
	div.helper {
		border-radius:0!important;
		box-shadow:0!important;
	}
	img {
		position:relative!important;
		z-index:99999!important;
	}
}
div.invite_or_add {
	input[type="submit"] {
		background:none!important;
		border-radius:0!important;
		color:$header-bg!important;
		font-size:14px;
		padding:0!important;
	}
}
//--------------end invite modal--------------
body.scores {
	div.player {
		width:444px!important;
	}
	div.points {
		width:87px!important;
	}
	li.label-player {
		width:69%!important;
	}
}

body.sessions {
	div.content div.inv-forms form {
		margin-bottom:0!important;
	}
}

body.users-index {
	div#secondary {
		input[type="submit"] {
			padding:7px 6px!important;
		}
	}
}

/* external */
body.external {
	div.container {
		div.inv-forms {
			form {
    			  padding-bottom: 6.5ex;
  			}
		}
	}
}

#command_central{
  padding: 8px;
  padding-bottom: 1px;
  padding-left: 16px;
  padding-right: 4px;
  margin-top: 10px;
}