$blue:   #103245;
$green:  #298f35;
$yellow: #ffea96;
$orange: #ff6a37;
$white:  #f0f0f0;
$black:  #111111;
$gray:   #333333;

$light-gray: #999999;

@mixin rounded-corners($radius: 1em) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow ($x: 5px, $y: 5px, $blur: 5px, $spread: 5px, $color: $gray) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background: $white;
}

h1 {
  font-family: 'Chunk';
}

h1 {
  font-size: 24px;
  color: $orange;
}
h2 {
  margin: 0 0 20px 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
}

.header {
  background: $blue;
  height: 50px;
  .inner-header {
    margin: 0px auto;
    padding: 15px 0 10px 0;
    width: 960px;
    #header-and-slogan {
      width: 700px;
      float: left;
      h1 {
        color: $white;
        .slogan {
          color: $orange;
        }
      }
    }
    #account {
      margin-top: 2px;
      font-size: 13px;
      float: right;
      width: 220px;
      a, a:visited {
        color: $white;
        text-decoration: none;
      }
      a:hover {
        color: $orange;
      }
    }
  }
}

.explanation {
  padding: 10px 0; }

.content {
  @include rounded-corners;
  margin: 10px auto;
  background: $white;
  width: 960px;
  padding: 20px;
  padding-bottom: 5px; }

ul, ol {
  margin-top: 20px;
}

form li {
  list-style: none;
}

#phone_number_input {
  label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    margin: 5px auto;
    width: 358px;
    text-align: center;
  }
  input {
    border: 1px solid $black;
    color: $black;
    display: block;
    font-family: Georgia, serif;
    font-size: 38px;
    margin: 0px auto;
    padding: 4px 0px;
    text-align: center;
    width: 358px;
  }
}

#flash {
  margin: 20px auto;
  width: 1000px;
}

.hidden-form {
  display: none;
  margin-top: 20px;
}

.invite-link {
  margin-left: 4px;
  a, a:visited {
    color: $gray;
  }
  a:hover {
    color: $black;
  }
}

#main {
  float: left;
  width: 700px;
  p {
    line-height: 1.4em;
    margin-bottom: 20px;
  }
}

#secondary {
  float: right;
  width: 220px;
}

pre {
  background: $black;
  color: $white;
}
code, pre {
  overflow-x: auto;
  margin: 1.5em 0px;
  white-space: pre;
  line-height: 1.5;
}
pre {
  -webkit-box-shadow: #555 0px 2px 4px;
  border: 3px solid #DDD;
  padding: 10px;
}

#secondary ul {
  list-style: none;
  margin: -8px 0px 20px;
  li {
    border-bottom: 1px solid #DDD;
    line-height: 1.4;
    overflow: hidden;
    padding: 8px 0px;
    img {
      background: $white;
      border: 1px solid $light-gray;
      float: left;
      margin: 0px 6px 0px 0px;
      padding: 3px;
      vertical-align: middle;
      width: 24px;
    }
    a:link, a:visited {
      color: $blue;
      outline: none;
      text-decoration: none;
      font-weight: bold;
    }
  }
  li:last-child {
    border-bottom: none;
  }
}

#top-players {
  li {
    span {
      color: $light-gray;
      display: block;
      font-size: 11px;
      font-weight: normal;
      line-height: 1.2;
      margin: 0px;
      padding: 0px;
    }
  }
}

/* Activity Feed */

ul#acts {
  list-style: none;
  li.act {
    border-bottom: 1px solid #DDD;
    float: left;
    width: 700px;
    padding: 7px 0 0 0;
    position: relative;
    .avatar48 {
      width: 48px;
      height: 48px;
      float: left;
      position: relative;
      margin: 0 10px;
      .shadow48 {
        background: url(/images/shadow48.png) 0px 0px no-repeat;
        width: 48px;
        height: 48px;
        position: absolute;
      }
    }
    p {
      float: left;
      width: 400px;
      font-size: 14px;
      padding-bottom: 12px;
      color: #363636;
      position: relative;
      line-height: 18px;
      a, span.player {
        font-weight: bold;
        text-decoration: none;
        color: $blue;
      }
      a:hover {
        text-decoration: underline;
      }
      span.when {
        font-weight: normal;
        font-style: italic;
        color: $light-gray;
        font-size: 11px;
        padding: 5px 0;
      }
    }
  }
  li:last-child {
    border-bottom: none;
  }
}
