@import "standard";
$options_radius: 3px;
$steps_color: #676;

#black_tooltip{
display:none;
font-size:12px;
height:160px;
width:320px;
padding:25px;
color:#eee;
z-index: 90;
background:transparent url(/images/tooltip/white_arrow_big.png);
}


#black_tooltip.inverted{
  background:transparent url(/images/tooltip/white_arrow_big_inverted.png);
}


.overlay {
	background-color: #222822;
	bottom: 0;
	left: 0;
	opacity: 0.9;/*Takes value between 0 and 1*/
	filter: alpha(opacity=90); /* IE7, IE8 */
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}
.title{
  color: #dc0;
  font-size: 34px;
  text-align: center;
  padding: 7px 0px;
}

#tutorial_menu{
  position: absolute;
  right: -5px;
  top: -13px;
  width: 100px;
  padding-bottom: 30px;
  #gear{
    font-size: 21px;
    font-weight: normal;
    color: $steps_color;
    float: right;
    margin-bottom: -2px;
    cursor: pointer;
  }
  #arrow{
    float: right;
  }
  #options{
    display: none;
    background: #ccc;
    float: right;
    padding: 0px 2px;
    -moz-border-radius: $options_radius;
    -webkit-border-radius: $options_radius;
    border-radius: $options_radius;
  }
  // &:hover{
  //   #options{
  //     display: block;
  //   }
  // }
  .close_tutorial{
    font-size: 15px;
    float: right;
  }
  a, a:hover{
    color: #575;
  }

}

#steps{
  text-align: center;
  font-size: 11px;
  color: $steps_color;
  position: absolute;
  top: 136px;
  left: 248px;
  width: 100px;
}

.instruct{
  font-size: 17px;
  color: green;
}
strong{
  font-style: italic;
}
.green{
  color: $header-bg !important;
}

.spotlight{
  z-index: 20 !important;
  position: relative;
}
.spotlight.nav-directory, .spotlight.user, .spotlight.nav-activity{
  background: #660;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em;
}

.spotlight.user{
  background: white;

  border-radius: 1ex;
}
#differing_spacings{
  position: relative;
}
#differing_spacings.inverted{
  top: 23px;
}
#next_button{
  float: right;
  font-size: 18px;
  padding-right: 2mm;
  padding-top: 2mm;
  text-decoration: underline !important;
}


