$dark-gray:			#2e2e2c;
$gray:				#909090;
$light-gray:		#e9e9e9;
$outline-gray:		#c0c0c0;
$white:				#fff;

/* Game type colors */
$c-campaign:		#0a5081;
$c-freeplay:		#00957a;
$c-competition:		#b65100;