$blue:        #103245;
$light-green: #80d422;
$green:       #55950D;
$yellow:      #ffea96;
$orange:      #ff6a37;
$offwhite:    #f0f0f0;
$white:       #ffffff;
$black:       #111111;
$gray:        #333333;
$light-gray:  #999999;
$medium-gray: #a7a7a7;
$dark-gray:   #2d2d2b;
$aqua:        #22d4a8;
