@import "standard";

$ex-bg-gray: #2c2b2b;

@mixin ex-button {
	@include rounded-nav;
	background-color: $hengage-bg;
	border:0; 
	color:#fff;
	display: block;
	font-family: $gotham;
	font-size: 16px;
	font-weight:bold;
	padding: 5px 16px;
	text-shadow:1px 1px 1px #333;
	behavior: url(/css3pie/PIE.htc);
	text-transform: uppercase;
	&:hover {
		background-color: $dark-gray;
	} 
	&:active {
		background-color: $gray;
	}
}
@mixin ex-textfield {
	@include rounded-nav;
	background-color:lighten($light-gray, 5%); 
	border: 1px #c5c7c7 solid;
	color:$hengage-bg;
	display: inline;
	font-size:20px;
	padding:7px 10px;			
	&:focus {
		background-color:#fff;
		border:1px $hengage-bg solid;
	}
}

.cf {clear:both;}
h2 {margin:0; padding:0;}
ul {list-style-type:none; margin:0; padding:0;}
a {border:0;
	&:active {
		color:$dark-gray!important;
	}
}
img {border:0;}
p {margin:0;padding:0;}


body.external {
//	background-color: $ex-bg-gray;
	background-color:$light-gray; 
	background-image: url(/images/v3/texture_darker.png);
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
	
	h2 {
		color: #2e3028;
		font-family: $gotham;
		font-size: 26px;
		letter-spacing: 0;
		margin: 5px 0 15px 0;
		padding: 0;
		text-shadow:1px 1px 1px #a8a8a8;
			behavior: url(/css3pie/PIE.htc);
		text-transform: uppercase;
	}
}

body.invitations .header #navigation .nav-signup, body.sessions .header #navigation .nav-login {
	@include bg-black;
	@include rounded-nav;
	border:1px lighten($hengage-bg, 5%) solid;
}

/* ============== layout =============== */
.container {
	background-color: $hengage-bg;

	.top {
		background-image: url(/images/v3/texture_darker.png);
		border-bottom: 1px darken($hengage-bg, 15%) solid;
		height: 354px;
		
		a {
			&:hover {
				color:lighten($hengage-bg, 55%)!important;
			}
			&:active {
				color:$dark-gray!important;
			}
		}
		
		.header {
			margin: 0;
			padding: 0;
			text-align: center;
			z-index: 0;
			
			.app_bar {
				background-color:$dark-gray;
				color:$gray;
				font-size:$font-small;
				font-weight: bold;
				height:23px;
				padding:7px $gutter 0 $gutter;
				text-shadow: 1px 1px $dark-gray; behavior: url(/css3pie/PIE.htc);
				behavior: url(/css3pie/PIE.htc);
				
				.app_by {
					margin: $centered;
					width: $body-width;
					
					p {
						float: left;
					}
				}
				a {
					color:#fff;
					font-size:$font-small;
					&:active {
						text-shadow: none!important;
					}
				}
			}
			
			
			#logo {
				border-top: 1px lighten($hengage-bg, 15%) solid;
				height: 192px;
				overflow: hidden;
				padding: 0;
				
				img {
					margin-top:30px;
					height: 136px;
				}
			}
			#navigation {
				font-family: $gotham;
				font-weight: bold;
				padding: 0 0 20px 0;
				text-transform:uppercase;
				
				li {
					display: inline;
					
					a {
						color: #fff;
						display:inline-block;
						font-size:18px;
						letter-spacing: 1px;
						padding:6px 15px;
						text-shadow:1px 1px 1px #333;
						behavior: url(/css3pie/PIE.htc);
					}
				}
			}
		}
	}
	
	.content {
		background-color:$light-gray;
		background-image: url(/images/v3/texture_darker.png);
		border-top: 1px lighten($light-gray, 20%) solid;
		z-index: -99;
		
		.inv-forms {
			@include rounded;
			background-color: #e9e9e9;
			-moz-box-shadow: 0 0 5px #2c2c2c;
			-webkit-box-shadow: 0 0 5px #2c2c2c;
			box-shadow: 0 0 5px #2c2c2c;
			behavior: url(/css3pie/PIE.htc);
			margin: $centered;
//			padding-bottom: 15px;
			position: relative;
			top: -58px;
			width: 620px;
			z-index: 999;
			
			form {
				padding: 20px;
			}
			
			.form-ul-section {
				position: relative;
			}
			
			div.form-footnotes {
				border-top:1px #d7d7d7 solid;
				clear:both;
				padding:20px;
			}
			div.form-ul-section {
				div.helper {
					@include rounded;
					background-color: $hengage-bg;
					background-image: url(/images/v3/texture_darker.png);
					border: {
						style:solid;
						width:1px;
						
						bottom: {
							color: darken($hengage-bg, 15%);
						}
						left: {
							color: darken($hengage-bg, 15%);
						}
						right: {
							color: darken($hengage-bg, 15%);
						}
						top: {
							color: lighten($hengage-bg, 10%);
						}
					}
					box-shadow: 0 0 4px #2c2c2c;
					color: #fff;
					display: none;
					line-height: 16px;
					padding: 10px;
					position: absolute;
					right: -147px;
//					text-shadow:1px 1px 1px #333;
					behavior: url(/css3pie/PIE.htc);
					top: 23px;
					width: 175px;
					z-index: 9999;				
				}	
				div.helper.autocomplete {
					position:absolute;
					right: -211px;
					top:1px;
				}
			}
						
			.status {
				border-bottom: 1px #fff solid;
				
				.status-message {
					border-bottom: 1px #d7d7d7 solid;
					color: red;
					padding: 20px;
					text-align: center;
					
					p {
						font-size: 17px;
						line-height: 22px;
						margin:$centered;
						width: 460px;
					}
					
					.welcome-message {					
						p.explanation {
							color: #656565;
							margin: $centered;
							text-align: left;
						}
					}
				}
			}
		}
	}
	
	.footer {
		background-color:$light-gray;
		background-image: url(/images/v3/texture_darker.png);
		color: $gray;
		font-size: 11px;
		padding: 0 0 20px 0;
		text-align: center;
	}
}

/* ====== special case: INVITATIONS Accept ====== */
body.invitations-show, body.invitation-acceptances {
	div.privacy-policy {
		color:$gray;
		p {font-weight:bold;}
		ul.major-points {
			list-style-type:disc;
			padding-left:20px;
			li {
				padding:5px 0;
			}
		}
	}
	div#search_for_referrer {
		div#autocomplete_status {
			color:$gray;
			margin:0;
			padding:0;
			top:-52px;
		}
	}
}

/* ====== special case: INVITATIONS New ====== */
body.invitations-new, body.invitations-create {
	a {
		color:$hengage-bg;
		&:hover {
			color:lighten($hengage-bg, 10%);
		}
		&:active {
			color:$dark-gray;
		}
	}
	.status-message{
		color: #656565!important;
		font-size: 17px;
		margin: $centered;
		text-align: left!important;
		
		p {
			padding-bottom:15px;
			&:last-child {padding:0;}
		}
	}
}

/* ====== special case: INVITATIONS Resends ====== */
body.invitation-resends {
	form {
		ul {
			margin: 0 auto 30px auto;
			width: 455px;
		}
		
		input[type="submit"] {
			@include ex-button;
			margin-top: 20px;
		}
	}
}

/* ====== special case: PASSWORDS ====== */
body.passwords .content .inv-forms {
	#password-wrapper {
		padding: 20px;
		
		h2 {
			margin-bottom: 0px;
		}
		p {
			color: #656565;
		}
	}
	
	form {
//		margin: 0 auto 30px auto;
		width: 455px;
		margin:$centered;
	
		input[type="submit"] {
			@include ex-button;
			margin-top: 20px;
		}
		input[type="text"] {
			@include ex-textfield;
			width:435px;
		}
	}
}

/* ====== special case: SESSIONS ====== */
body.sessions .content .inv-forms {
	#session-wrapper {
		padding: 20px;
		form {
			border: 0;
		}
		
		a {
			color:$hengage-bg;
			font-weight:bold;
			&:hover {
				color:$dark-gray;
			}
			&:active {
				color:$gray!important;
			}
		}
	}
	
	form {
		margin: 0 auto 30px auto;
		padding: 0;
	
		input[type="submit"] {
			@include ex-button;
			clear:both;
			display: block;
			margin-top: 20px;
		}
		input[type="password"], input[type="text"] {
			@include ex-textfield;
		}
		input[type="checkbox"] {
			margin: 2px 5px 0 0;
			padding: 0;
		}
		input[type="password"] {
			width:210px;
		}
		input[type="text"] {
			width:310px;
			margin-right: 10px;
		}
		label {
			clear:both;
			color:$gray;
		}
		
		#session_email, #session_password {
			margin-bottom:10px;
		}
	}
	
}

/* ====== forms ====== */
ul.form-section {
	clear:both;
	margin:0 auto 20px auto;
	width:455px;
}
	.signup-submit {
		padding-top:15px;
		margin-bottom:5px!important;
	}

.form-label {
	color:#3b3b3b;
	font-size:16px;
	font-weight:bold;
}
	.form-label p {
		color:#5f5f5f;
		font-size:.75em;
		font-weight:normal;
		padding:3px 0;
	}
	
.form-input input, .form-input select {
	@include rounded-nav;
	border: 1px #c5c7c7 solid;
	background-color:lighten($light-gray, 5%); 
	color:$hengage-bg;
	font-size:20px;
	margin:5px auto 0 auto;
	padding:7px 10px;
	width:435px;
}
	.form-input input:focus {
		background-color:#fff;
		border:1px $hengage-bg solid;
	}
.form-input .field_with_errors input, .form-input .field_with_errors input {border:2px #e11a00 solid;}

select#user_location_id {width: 455px !important;}
.form-msg {
	color:#e11a00;
	margin-top:10px;
}
	.form-msg .error-text {font-weight:bold;}

.signup-submit input[type="submit"] {
	@include ex-button;
	margin-top: -5px;
}

a.feedback {
	float:right;
	font-size:12px;
	margin-top:7px;
}
