$bubbly_radius: 6px;

.bubbly{
  display: none;
  background: #395927;
  color: white;
  font-size: 14px;
  padding: 1ex;
  border: 3px solid #496927;
  width: 200px;
  z-index: 1;
  -moz-border-radius: $bubbly_radius;
  -webkit-border-radius: $bubbly_radius;
  border-radius: $bubbly_radius;
}