

.bubbly-top-flat{
  background: url(/images/tooltip/top_flat.png);
  height: 9px;
}

.bubbly-middle{
  background: url(/images/tooltip/middle.png);
  padding: 0px 12px;
  color: #494949;
  font-size: 14px;
  line-height: 17px;
}

.bubbly-bottom-flat{
  background: url(/images/tooltip/bottom_flat.png);
  height: 9px;
}

.bubbly-top-arrow{
  background: url(/images/tooltip/top_arrow.png);
  height: 23px;
}

.bubbly-bottom-arrow{
  background: url(/images/tooltip/bottom_arrow.png);
  height: 23px;
}

.bubbly{
  display: none;
  z-index: 120;
  color: white;
  font-size: 14px;
  width: 205px;
}
