<div class="row">
  <div class="columns large-12">
    <h2 class="first">
      <%= link_to "Admin", admin_path %> »
      <%= link_to @demo.name, admin_demo_path(@demo) %> » Generate GuestUser TileCompletion Report
    </h2>

    <%=form_tag admin_demo_guest_user_tile_completion_report_path(@demo), method: :post, id: "guest_user_tile_completion_form" do%>
      <%=submit_tag "Generate TileCompletion Report", class:"button outline"%>
    <%end%>

  </div>
</div>
