<div class="row">
  <div class="columns small-2">
    <h3>Tile Features</h3>
  </div>
  <div class="columns small-2 offset-small-8">
    <%= link_to "New", new_admin_tile_feature_path, class: "tile-features-new-button green button" %>
  </div>
  <% @tile_features.each do |feature| %>
    <%= render "tile_feature_form", feature: feature %>
  <% end %>
</div>
