/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a { text-decoration: none!important; }
a:hover { color: #6eae4d; }

.cf { clear: both; }

h1, h2, h3 { letter-spacing: 1px; margin: 0; padding: 0; }

img { border: 0; margin: 0; padding: 0; }

input:focus { outline: 0; }

p { margin: 0; padding: 0; }

ul { list-style-type: none; margin: 0; padding: 0; }

/* Game type colors */
/* ---------- general mixins ---------- */
/* ---------- header mixins ---------- */
.clear { clear: both; }

#search_for_friends_to_invite { width: 378px; height: 200px; }
#search_for_friends_to_invite #relative { top: 0px; }

#relative { /* this is relative so the child div will use it as a positioning reference*/ position: relative; margin: 0 auto; width: 378px; top: -30px; left: -12px; }

#suggestions { position: absolute; top: 13px; z-index: 1; }
#suggestions .remove_referrer { display: none; }
#suggestions .single_suggestion:hover { background: #dcdcdc; }

a.remove_referrer { color: #588b3d; position: absolute; right: 0px; bottom: -19px; width: 26ex; text-align: right; }
a.remove_referrer:hover { color: #7cb85d !important; }

.single_suggestion { background-color: #e9e9e9; background-image: url(/images/v3/texture_darker.png); color: #2e2e2c; padding: 10px; width: 378px; border: 1px solid #588b3d; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 5px #c9c9c9; -webkit-box-shadow: 0 0 5px #c9c9c9; box-shadow: 0 0 5px #c9c9c9; position: relative; behavior: url(/css3pie/PIE.htc); }
.single_suggestion div.info div.bit:first-child { color: #588b3d; font-size: 16px; font-weight: bold; }

.single_suggestion + .single_suggestion { margin-top: 2px; }

#autocomplete + .single_suggestion { margin-top: 5px; }

.bit { font-size: 100%; }

.info, .image { float: left; }

.image { padding-right: 10px; }

.suggested_user_id { display: none; }

#submit_invite_friend { display: none; }

.first_half, .second_half { width: 500px; }
.first_half input, .second_half input { text-align: right; }
.first_half label, .second_half label { display: none; }

.second_half { display: none; }

body #facebox .content { width: 402px; height: 340px; }

#potential_bonus_points { display: inline; }

#bonus { display: none; color: green; font-weight: bold; }

#points_per_referral { display: none; }

#lots_of_friends { padding-left: 17ex; }

#autocomplete_status { color: green; font-size: 120%; font-weight: bold; left: 292px; position: absolute; top: -61px; width: 100%; }

.inv-forms a, .inv-forms a:visited, .inv-forms a:hover, .inv-forms a:active { color: #588B3D; }
