.clear { clear: both; }

#relative { /* this is relative so the child div will use it as a positioning reference*/ position: relative; margin: 0 auto; width: 378px; top: -30px; left: -12px; }

#suggestions { position: absolute; }
#suggestions .remove_referrer { display: none; }
#suggestions .single_suggestion:hover { background: aqua; }

.remove_referrer { position: absolute; right: -2px; bottom: -22px; width: 26ex; text-align: center; }

.single_suggestion { background: tan; padding-top: 5px; padding: 10px; width: 378px; border: 2px solid #87bf4e; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; position: relative; }

.single_suggestion + .single_suggestion { margin-top: 2px; }

.bit { font-size: 100%; }

.info, .image { float: left; }

.image { padding-right: 10px; }

.selected_referrer_id { display: none; }
