/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }
  a:active {
    color: #2e2e2c; }

.cf {
  clear: both;
  height: 0; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* ---------- general mixins ---------- */
/* ------------ colors ------------- */
/* Game type colors */
/* other colors */
.clear {
  clear: both; }

#invite_friends_top, #invite_friends_middle, #invite_friends_bottom {
  width: 300px; }
  #invite_friends_top #relative, #invite_friends_middle #relative, #invite_friends_bottom #relative {
    top: 0px; }

#relative {
  /* this is relative so the child div will use it as a positioning reference*/
  position: relative;
  margin: 0 auto;
  width: 300px;
  top: -30px;
  left: -12px; }

#suggestions {
  display: none;
  width: 322px;
  padding: 10px;
  margin-top: 14px;
  z-index: 1;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: grey; }
  #suggestions .remove_referrer {
    display: none; }
  #suggestions .single_suggestion:hover {
    background: #dcdcdc; }

a.remove_referrer {
  color: #588b3d;
  position: absolute;
  left: auto;
  right: 4px;
  top: 1px; }
  a.remove_referrer:hover {
    color: #7cb85d !important; }

#suggestions .single_suggestion {
  background: #e9e9e9; }

.single_suggestion {
  width: 300px;
  background-color: #FFFAAD;
  color: #2e2e2c;
  padding: 10px;
  width: 300px;
  border: 1px solid #588b3d;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 5px #c9c9c9;
  -webkit-box-shadow: 0 0 5px #c9c9c9;
  box-shadow: 0 0 5px #c9c9c9;
  position: relative;
  behavior: none; }
  .single_suggestion img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    behavior: url(/css3pie/PIE.htc);
    z-index: 0;
    border: 1px #e9e9e9 inset;
    width: 75px; }
  .single_suggestion div.info div.bit:first-child {
    color: #588b3d;
    font-size: 16px;
    font-weight: bold; }

.single_suggestion + .single_suggestion {
  margin-top: 2px; }

#autocomplete + .single_suggestion {
  margin-top: 5px; }

.bit {
  font-size: 100%; }

.info, .image {
  float: left; }

.image {
  padding-right: 10px; }

.suggested_user_id {
  display: none; }

.first_half, .second_half {
  width: 500px; }
  .first_half input, .second_half input {
    text-align: right; }
  .first_half label, .second_half label {
    display: none; }

.second_half {
  display: none; }

body #facebox .content {
  height: 340px; }

#potential_bonus_points {
  display: inline; }

#bonus {
  display: none;
  color: green;
  font-weight: bold; }

#autocomplete_status {
  color: green;
  font-size: 120%;
  font-weight: bold;
  width: 500px;
  padding-top: 4px;
  padding-bottom: 4px;
  height: 20px; }

#indented_to_match_inputs {
  margin: 0 auto;
  width: 340px;
  padding-bottom: 23px;
  margin-top: -12px; }

div#search_for_referrer div#autocomplete_status {
  color: #909090;
  margin: 0;
  padding: 0;
  top: -52px;
  display: none; }
div#search_for_referrer div#suggestions div.single_suggestion div.image img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/css3pie/PIE.htc);
  z-index: 0;
  border: 1px #e9e9e9 inset;
  height: 95px;
  width: 95px; }

#points_per_referral {
  display: none; }

#lots_of_friends {
  padding-left: 17ex; }

.inv-forms a, .inv-forms a:visited, .inv-forms a:hover, .inv-forms a:active {
  color: #588B3D; }

.subtle_notice {
  font-size: 12px;
  padding: 6px 13px 0; }

/*      ############# Stolen from another stylesheet ######################### */
div.helper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(/css3pie/PIE.htc);
  z-index: 0;
  background-color: #588b3d;
  background-image: url(/images/v3/texture_darker.png);
  border-style: solid;
  border-width: 1px;
  border-bottom-color: #365626;
  border-left-color: #365626;
  border-right-color: #365626;
  border-top-color: #6eae4d;
  box-shadow: 0 0 4px #2c2c2c;
  color: #fff;
  display: none;
  line-height: 16px;
  padding: 10px;
  position: absolute;
  behavior: url(/css3pie/PIE.htc);
  width: 175px;
  left: -217px;
  z-index: 1; }

/* ###############################   END STOLEN  ################################# */
.relative {
  position: relative; }

#selected_users_label {
  padding-bottom: 2px;
  padding-left: 1px; }

#hide_me_while_selecting {
  display: none;
  background: #aaa;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  padding-left: 7px;
  padding-bottom: 7px;
  width: 330px; }

.gold {
  color: #ffdd11; }

#invite_friends_middle #autocomplete {
  width: 314px;
  behavior: none; }

.clear {
  clear: both; }

#hide_me_while_selecting #submit_invite_friend {
  float: right;
  margin-top: 15px;
  margin-right: 10px; }

#submit_invite_friend {
  margin-top: 4px; }
  #submit_invite_friend a#invite_friends_link {
    background: #3f3f3f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3f3f), color-stop(100%, #2e2f2d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* IE10+ */
    background: linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* W3C */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/css3pie/PIE.htc);
    border: 0;
    color: #fff;
    font-family: "Ubuntu", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px!important;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px #2e2e2c;
    text-transform: uppercase;
    font-weight: 900!important;
    margin-bottom: 4px;
    display: inline-block;
    font-size: 11px; }
    #submit_invite_friend a#invite_friends_link:hover {
      background: #588b3d; }
    #submit_invite_friend a#invite_friends_link:active {
      background: #909090; }

.bigger_message {
  font-size: 26px;
  line-height: 31px;
  padding-bottom: 1ex; }

#search_for_friends_to_invite .helper {
  top: -27px; 
}

.hidden {
  display: none; }

.form-input .relative {
  z-index: 2; }
