body {
  width: 60%;
  margin-left: 10%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  background-color: #efefef; }

h1 {
  margin-top: 50px;
  font-family: serif; }

li {
  margin-bottom: 14px; }
