@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url("http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM") format("woff"); }

body {
  width: 60%;
  margin-left: 10%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  background: url(/images/new_marketing/background.png); }

h1 {
  margin-top: 50px;
  font-family: 'Droid Sans', sans-serif; }

li {
  margin-bottom: 14px; }
