/*
Syntax error: Undefined variable: "$dark-gray".
        on line 44 of /home/phil/src/hengage/public/stylesheets/sass/header.scss

39:     box-shadow: 7px 0 6px -6px rgba(0, 0, 0, .5);
40: }
41: 
42: /* ---------- masthead ---------- */
43: .header {
44: 	background-color:$dark-gray;
45: 	border-bottom:1px #fff solid;
46: 	font-weight:bold;
47: 	text-shadow: 1px 1px $dark-gray; behavior: url(/css3pie/PIE.htc);
48: 	
49: 	a {

Backtrace:
/home/phil/src/hengage/public/stylesheets/sass/header.scss:44
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/script/variable.rb:45:in `_perform'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/script/node.rb:67:in `perform'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:212:in `visit_prop'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:232:in `visit_rule'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/tree/root_node.rb:20:in `render'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:302:in `_render'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:250:in `render'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/util.rb:298:in `silence_sass_warnings'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/engine.rb:250:in `render'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:181:in `update_stylesheets'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:175:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:175:in `update_stylesheets'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:173:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/compiler.rb:173:in `update_stylesheets'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin.rb:81:in `update_stylesheets'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin.rb:54:in `check_for_updates'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/sass-3.1.0.alpha.221/lib/sass/../sass/plugin/rack.rb:51:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/flash.rb:182:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/cookies.rb:295:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:32:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:12:in `cache'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activerecord-3.0.3/lib/active_record/query_cache.rb:31:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activerecord-3.0.3/lib/active_record/connection_adapters/abstract/connection_pool.rb:353:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activesupport-3.0.3/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/show_exceptions.rb:46:in `__cucumber_orig_call__'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-rails-1.0.0/lib/cucumber/rails3/action_controller.rb:10:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/railties-3.0.3/lib/rails/rack/logger.rb:13:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/activesupport-3.0.3/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/actionpack-3.0.3/lib/action_dispatch/middleware/static.rb:30:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/airbrake-3.0.4/lib/airbrake/user_informer.rb:12:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/railties-3.0.3/lib/rails/application.rb:168:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/urlmap.rb:47:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/urlmap.rb:41:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-1.2.1/lib/rack/urlmap.rb:41:in `call'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-test-0.5.7/lib/rack/mock_session.rb:30:in `request'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-test-0.5.7/lib/rack/test.rb:209:in `process_request'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rack-test-0.5.7/lib/rack/test.rb:57:in `get'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `get'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/rack_test/browser.rb:53:in `send'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/rack_test/browser.rb:53:in `process'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/rack_test/browser.rb:14:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/rack_test/driver.rb:29:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/session.rb:157:in `visit'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/capybara-1.0.1/lib/capybara/dsl.rb:139:in `visit'
/home/phil/src/hengage/features/step_definitions/signin_steps.rb:5
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `instance_exec'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/core_ext/instance_exec.rb:48:in `cucumber_instance_exec'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/core_ext/instance_exec.rb:69:in `cucumber_run_with_backtrace_filtering'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/core_ext/instance_exec.rb:36:in `cucumber_instance_exec'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/rb_support/rb_step_definition.rb:62:in `invoke'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/step_match.rb:26:in `invoke'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/step_invocation.rb:59:in `invoke'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/step_invocation.rb:38:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:99:in `visit_step'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:163:in `broadcast'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:98:in `visit_step'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/step_collection.rb:15:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/step_collection.rb:14:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/step_collection.rb:14:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:93:in `visit_steps'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:163:in `broadcast'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:92:in `visit_steps'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/background.rb:41:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/background.rb:52:in `with_visitor'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/scenario.rb:108:in `with_visitor'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/background.rb:51:in `with_visitor'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/background.rb:38:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:57:in `visit_background'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:163:in `broadcast'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:56:in `visit_background'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/feature.rb:41:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:20:in `visit_feature'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:163:in `broadcast'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:19:in `visit_feature'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/features.rb:29:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/features.rb:17:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/features.rb:17:in `each'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/features.rb:28:in `accept'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:14:in `visit_features'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:163:in `broadcast'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/ast/tree_walker.rb:13:in `visit_features'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/runtime.rb:45:in `run!'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/cli/main.rb:43:in `execute!'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/../lib/cucumber/cli/main.rb:20:in `execute'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/cucumber-1.0.2/bin/cucumber:14
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rcov-0.9.9/bin/rcov:516:in `load'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/gems/rcov-0.9.9/bin/rcov:516
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/bin/rcov:19:in `load'
/home/phil/.rvm/gems/ree-1.8.7-2010.02@hengage/bin/rcov:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$dark-gray\".\A         on line 44 of /home/phil/src/hengage/public/stylesheets/sass/header.scss\A \A 39:     box-shadow: 7px 0 6px -6px rgba(0, 0, 0, .5);\A 40: }\A 41: \A 42: /* ---------- masthead ---------- */\A 43: .header {\A 44: 	background-color:$dark-gray;\A 45: 	border-bottom:1px #fff solid;\A 46: 	font-weight:bold;\A 47: 	text-shadow: 1px 1px $dark-gray; behavior: url(/css3pie/PIE.htc);\A 48: 	\A 49: 	a {"; }
