#navbar #buttons {
  position: static;
  top: 0; }

#green-arrow {
  display: none; }

#we-add-game-mechanics {
  margin-top: -230px; }

#bottom-comment-box form input[type="image"] {
  position: static;
  margin-top: -60px; }

#login-form {
  top: 10px;
  right: 97px; }
  #login-form input[type='image'] {
    position: relative;
    top: -17px; }
