.marketing {
  background: white; }
  .marketing #header {
    margin: 10px auto;
    width: 960px;
    height: 80px; }
    .marketing #header #logo {
      width: 440px;
      height: 80px;
      float: left; }
      .marketing #header #logo h1 {
        color: white;
        width: 186px;
        height: 80px;
        margin: 0;
        text-indent: -9999px;
        background: url(/images/logo.png); }
    .marketing #header #nav {
      float: right;
      margin-top: 20px;
      width: 520px;
      height: 40px;
      background: #eeeeee;
      padding: 5px 0; }
      .marketing #header #nav ul {
        width: 520px;
        margin: 0;
        list-style-type: none; }
        .marketing #header #nav ul li {
          display: inline-block;
          float: left;
          margin: 3px;
          font-size: 12px;
          font-weight: bold; }
          .marketing #header #nav ul li:first-child {
            margin-left: 10px; }
          .marketing #header #nav ul li a, .marketing #header #nav ul li a:active, .marketing #header #nav ul li a:link {
            text-decoration: none;
            float: left; }
          .marketing #header #nav ul li .authentication {
            color: #63a62f;
            font-size: 12px;
            text-transform: uppercase;
            margin-left: 30px;
            line-height: 14px; }
          .marketing #header #nav ul li .authentication:hover {
            text-decoration: underline;
            color: #7fbf4d; }
  .marketing .section {
    clear: both;
    margin: 0px auto;
    width: 100%; }
  .marketing h2 {
    font-size: 50px; }
  .marketing h3 {
    font-size: 23px;
    line-height: 30px;
    margin-bottom: 25px; }
  .marketing p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 14px; }
    .marketing p a, .marketing p a:visited, .marketing p a:link {
      color: #63a62f; }
    .marketing p a:hover {
      text-decoration: underline;
      color: #7fbf4d; }
  .marketing .inner-wrapper {
    margin: 0px auto;
    width: 960px;
    padding: 10px; }
  .marketing #about-wrapper {
    margin: 0px auto;
    margin-top: 50px;
    width: 960px; }
    .marketing #about-wrapper #healthy-business-dude {
      width: 430px;
      float: left;
      margin-right: 20px; }
    .marketing #about-wrapper #why-hengage {
      width: 480px;
      float: left; }
  .marketing #risks {
    background-color: #0072bc; }
    .marketing #risks .inner-wrapper {
      background-color: #abc9dc; }

/* cupid green (inspired by okcupid.com)
*******************************************************************************/
div.cupid-green {
  background: #7fbf4d;
  background: -moz-linear-gradient(top, #7fbf4d 0%, #63a62f 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7fbf4d), to(#63a62f));
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4c9021;
  width: 120px; }

button.cupid-green:hover {
  background: #76b347;
  background: -moz-linear-gradient(top, #76b347 0%, #5e9e2e 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#76b347), to(#5e9e2e));
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
  cursor: pointer; }

button.cupid-green:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee; }

#email-info-request #spinner {
  display: none;
  margin: 0; }
#email-info-request #thanks-message {
  display: none; }
#email-info-request .with-placeholder {
  color: #aaaaaa;
  width: 270px; }
