/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }

.cf {
  clear: both; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Game type colors */
/* ---------- general mixins ---------- */
/* ---------- header mixins ---------- */
body.interstitial_verifications div.content {
  border: 1px #bebebe solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 5px #c9c9c9;
  -webkit-box-shadow: 0 0 5px #c9c9c9;
  box-shadow: 0 0 5px #c9c9c9;
  behavior: url(/css3pie/PIE.htc);
  background-color: #ffffff;
  color: #2e2e2c;
  margin: 20px auto 0 auto;
  padding: 15px 10px 10px 10px;
  width: 460px; }
  body.interstitial_verifications div.content input[type=text] {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    behavior: url(/css3pie/PIE.htc);
    position: relative;
    z-index: 0;
    background-color: #f6f6f6;
    border: 1px #c5c7c7 solid;
    color: #588b3d;
    padding: 5px 10px; }
    body.interstitial_verifications div.content input[type=text]:focus {
      background-color: #fff;
      border: 1px #588b3d solid; }
  body.interstitial_verifications div.content a {
    color: #588b3d;
    font-size: 12px;
    font-weight: bold; }
    body.interstitial_verifications div.content a:hover {
      color: #6eae4d; }
    body.interstitial_verifications div.content a:active {
      color: #2e2e2c; }
  body.interstitial_verifications div.content form {
    margin-bottom: 10px; }
  body.interstitial_verifications div.content input[type="submit"] {
    background: #3f3f3f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3f3f), color-stop(100%, #2e2f2d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* IE10+ */
    background: linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* W3C */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/css3pie/PIE.htc);
    border: 0;
    color: #fff;
    font-family: "Lato", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px #2e2e2c;
    text-transform: uppercase;
    margin-left: 15px; }
    body.interstitial_verifications div.content input[type="submit"]:hover {
      background: #588b3d; }
    body.interstitial_verifications div.content input[type="submit"]:active {
      background: #909090; }
  body.interstitial_verifications div.content input[type="text"] {
    width: 275px; }
  body.interstitial_verifications div.content p {
    color: #2e2e2c;
    padding-bottom: 15px; }
