body {
  background-color: #ddd; }

#alt-authentication-links {
  margin-top: 25px;
  text-align: center; }

li.act .user, li.leader .user {
  display: block;
  font-size: 13px;
  margin-top: 3px; }
  li.act .user .when, li.act .user .score, li.leader .user .when, li.leader .user .score {
    font-weight: lighter;
    font-size: 10px;
    text-align: right;
    float: right;
    margin-top: 2px;
    color: #999; }
li.act .description, li.leader .description {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin: 7px 0 5px 0;
  white-space: normal; }
li.act .points, li.leader .points {
  font-size: 10px; }

#profile-stats {
  text-align: center;
  margin: 10px 0 25px 0; }

#your-mobile-number {
  text-align: center;
  margin: 0; }

.other-user-winning-time {
  font-size: 10px;
  font-weight: lighter;
  display: block;
  line-height: 12px;
  color: #999; }
