body {
  background-color: #ddd; }

#alt-authentication-links {
  margin-top: 25px;
  text-align: center; }

li.act .ui-btn-inner, li.leader .ui-btn-inner {
  padding-right: 40px; }
li.act .user, li.leader .user {
  display: block;
  font-size: 13px;
  margin-top: 3px; }
  li.act .user .when, li.act .user .score, li.leader .user .when, li.leader .user .score {
    font-weight: lighter;
    font-size: 10px;
    text-align: right;
    float: right;
    margin-top: 2px;
    color: #999; }
li.act .description, li.leader .description {
  font-size: 13px;
  font-weight: normal;
  display: block;
  margin: 7px 0 5px 0;
  white-space: normal; }
  li.act .description .points, li.leader .description .points {
    font-weight: lighter;
    font-size: 10px;
    color: #999; }

#profile-stats {
  text-align: center;
  margin: 10px 0 25px 0; }

#your-mobile-number {
  text-align: center;
  margin: 0; }

#flash {
  text-align: center; }
  #flash div.error, #flash div.notice, #flash div.success,
  #flash #flash_failure, #flash #flash_success, #flash #flash_notice {
    border: 1px solid #ddd;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin-bottom: 1em;
    padding: 0.8em; }
  #flash div.error,
  #flash #flash_failure {
    background: #FBE3E4;
    border-color: #FBC2C4;
    color: #D12F19; }
  #flash div.error a,
  #flash #flash_failure a {
    color: #D12F19; }
  #flash div.notice,
  #flash #flash_notice {
    background: #FFF6BF;
    border-color: #FFD324;
    color: #817134; }
  #flash div.notice a,
  #flash #flash_notice a {
    color: #817134; }
  #flash div.success,
  #flash #flash_success {
    background: #E6EFC2;
    border-color: #C6D880;
    color: #529214; }
  #flash div.success a,
  #flash #flash_success a {
    color: #529214; }

.other-user-winning-time {
  font-size: 10px;
  font-weight: lighter;
  display: block;
  line-height: 12px;
  color: #999; }
