img {
  margin: 0; }

.clear {
  clear: both; }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url("http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM") format("woff"); }

@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: normal;
  src: local("The Girl Next Door"), local("TheGirlNextDoor"), url("http://themes.googleusercontent.com/font?kit=cWRA4JVGeEcHGcPl5hmX7rOFxJ5Ig03puUh67ume3us") format("woff"); }

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round"), local("VarelaRound-Regular"), url("http://themes.googleusercontent.com/font?kit=APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM") format("woff"); }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans"), local("DroidSans"), url("http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0") format("woff"); }

body {
  font-family: 'Varela Round', sans-serif;
  background-image: url(/images/new_marketing/background.png); }

#login-form {
  position: absolute;
  width: 174px;
  height: 93px;
  padding: 12px 15px 24px 11px;
  background-color: #e0e3dd;
  border: solid 1px #70846b;
  top: 31px;
  right: 0;
  z-index: 1;
  display: none; }
  #login-form input[type="text"], #login-form input[type="password"] {
    font-size: 12px;
    width: 170px;
    height: 30px;
    padding: 0;
    margin-bottom: 4px; }
  #login-form a {
    display: inline-block;
    padding-top: 5px;
    font-size: 12px; }
  #login-form input[type="image"] {
    float: right; }

#header {
  width: 100%;
  height: 37px;
  background-image: url(/images/new_marketing/b_tealtop_tile.png);
  background-repeat: repeat-x; }
  #header #header-contents {
    width: 900px;
    margin: 0 auto;
    position: relative; }
    #header #header-contents #activate-login-form {
      display: inline-block;
      float: right;
      margin-top: 8px; }

#navbar {
  display: inline-block;
  padding-top: 8px; }
  #navbar #buttons {
    font-weight: bold;
    font-size: 16px; }
    #navbar #buttons a {
      -webkit-transition: color 0.4s linear;
      -moz-transition: color 0.4s linear;
      margin-right: 36px;
      color: white; }
    #navbar #buttons a:hover {
      color: #ffff60; }

.marketing-content {
  width: 900px;
  margin: 0 auto;
  position: relative; }

#upper-box {
  -webkit-box-shadow: 0 2px 2px 2px #999999;
  -moz-box-shadow: 0 2px 2px 2px #999999;
  box-shadow: 0 2px 2px 2px #999999;
  background-color: white;
  width: 100%;
  height: 320px; }
  #upper-box img {
    position: absolute; }
  #upper-box #logo {
    top: 30px;
    left: 65px; }
  #upper-box #spark-engagement {
    top: 135px;
    left: 100px; }
  #upper-box #phones-scoring {
    top: 45px;
    left: 625px; }
  #upper-box #green-arrow {
    top: 285px;
    left: 265px;
    z-index: 1; }

#factoids {
  margin-bottom: 45px; }
  #factoids .marketing-content {
    padding-left: 90px;
    padding-top: 6px; }
  #factoids .factoid {
    display: inline-block;
    margin-right: 35px; }

input.fat-text-field {
  font-size: 20px;
  width: 213px;
  height: 23px;
  padding-top: 10px;
  padding-bottom: 10px; }

#how-it-works h1, #how-it-works h2 a {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  font-size: 40px; }
#how-it-works h1 {
  color: #1d8c0a; }
#how-it-works h2 {
  color: #999999;
  text-align: center; }
  #how-it-works h2 a {
    -webkit-transition: color 0.4s linear;
    -moz-transition: color 0.4s linear;
    color: #999999; }
  #how-it-works h2 a:hover {
    color: #1d8c0a; }

#double-column {
  width: 920px;
  margin: 0 auto; }
  #double-column .sidebar-section {
    float: left;
    width: 230px;
    padding-top: 120px;
    top: 0; }
    #double-column .sidebar-section .pullquote {
      font-size: 18px;
      padding-left: 10px;
      padding-right: 30px;
      position: relative;
      margin-top: 80px; }
      #double-column .sidebar-section .pullquote img {
        margin: 0;
        position: absolute;
        left: -2px;
        top: -20px; }
      #double-column .sidebar-section .pullquote .attribution {
        padding-left: 1em; }
    #double-column .sidebar-section form {
      background-color: #e0e2dd;
      padding: 20px; }
      #double-column .sidebar-section form .copy {
        font-size: 30px; }
      #double-column .sidebar-section form input[type="text"] {
        width: 186px;
        height: 20px;
        margin-bottom: 5px; }
  #double-column .main-section {
    position: relative;
    right: 40px;
    float: right;
    -webkit-box-shadow: 1px 1px 6px 2px #8b8b8b;
    -moz-box-shadow: 1px 1px 6px 2px #8b8b8b;
    box-shadow: 1px 1px 6px 2px #8b8b8b;
    width: 510px;
    min-height: 418px;
    padding-top: 25px;
    padding-left: 76px;
    padding-bottom: 35px;
    padding-right: 55px;
    color: #2d2d2b;
    font-size: 16px;
    background-color: white; }
    #double-column .main-section img.banner {
      position: relative;
      left: -79px;
      margin-top: 15px;
      margin-bottom: 13px; }
    #double-column .main-section .point {
      font-size: 20px;
      color: #38a1a3; }
      #double-column .main-section .point a {
        color: #38a1a3; }
    #double-column .main-section .top-point {
      margin-bottom: 40px; }
    #double-column .main-section .subpoint {
      font-weight: bold; }
    #double-column .main-section .subcolumns .left {
      float: left;
      width: 220px; }
      #double-column .main-section .subcolumns .left ol {
        margin-top: 0; }
        #double-column .main-section .subcolumns .left ol li {
          margin-bottom: 10px; }
    #double-column .main-section .subcolumns .right {
      margin-bottom: 30px; }
      #double-column .main-section .subcolumns .right img {
        float: right; }
    #double-column .main-section .subcolumns .right-text {
      float: right;
      width: 240px;
      padding-right: 45px; }
    #double-column .main-section .subcolumns-separator {
      clear: both;
      height: 14px; }
    #double-column .main-section .blog-section {
      margin-bottom: 60px;
      padding-right: 30px; }
      #double-column .main-section .blog-section #blog-name {
        margin-bottom: 0;
        font-weight: bold; }
      #double-column .main-section .blog-section .post {
        margin-top: 20px;
        margin-bottom: 20px; }
        #double-column .main-section .blog-section .post .title {
          margin-bottom: 5px; }
          #double-column .main-section .blog-section .post .title a {
            color: #38a1a3; }
        #double-column .main-section .blog-section .post .body a {
          color: #38a1a3; }
    #double-column .main-section .value-proposition {
      margin-top: 0;
      padding-right: 30px; }
  #double-column .shim {
    clear: both;
    width: 676px;
    height: 85px;
    margin-left: 244px; }

#bottom-request-info-box {
  position: relative;
  right: 40px;
  float: right;
  width: 510px;
  background-color: #e0e2dd;
  padding: 25px 55px 35px 76px; }
  #bottom-request-info-box textarea {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 459px;
    height: 70px; }
  #bottom-request-info-box input[type="image"] {
    float: right;
    position: relative;
    right: 36px; }

#marketing-footer-wrapper {
  background-color: #e0e2dd;
  width: 100%; }

#marketing-footer {
  width: 900px;
  margin: 0 auto; }
  #marketing-footer #sm-buttons {
    width: 230px;
    float: left;
    padding-top: 30px; }
    #marketing-footer #sm-buttons a img {
      margin-bottom: 4px; }
    #marketing-footer #sm-buttons a .sm-action {
      vertical-align: top;
      font-size: 12px; }
  #marketing-footer #about-us {
    width: 510px;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px; }
    #marketing-footer #about-us p {
      font-size: 12px;
      line-height: 1.6; }
    #marketing-footer #about-us .title {
      font-weight: bold;
      font-size: 18px; }

#request-consultation-bar {
  width: 819px;
  height: 63px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #e0e2dd;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
  right: 10px; }
  #request-consultation-bar form {
    width: 819px; }
  #request-consultation-bar #request-consultation {
    float: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin-right: 22px; }
  #request-consultation-bar input[type="image"] {
    margin-left: 5px; }
  #request-consultation-bar img {
    position: relative;
    top: 4px; }
  #request-consultation-bar .thanks-message {
    font-size: 40px; }
  #request-consultation-bar .spinner {
    float: right; }

#page-footer {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
  clear: both;
  text-align: center;
  background-image: url(/images/new_marketing/b_tealbottom.png); }
