img {
  margin: 0; }

.clear {
  clear: both; }

input, textarea {
  font-family: "Helvetica Neue", Arial, sans-serif; }

ul {
  padding-left: 15px; }

li {
  font-size: 16px;
  list-style-position: outside; }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local("Droid Sans Bold"), local("DroidSans-Bold"), url("http://themes.googleusercontent.com/font?kit=EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM") format("woff"); }

@font-face {
  font-family: 'The Girl Next Door';
  font-style: normal;
  font-weight: normal;
  src: local("The Girl Next Door"), local("TheGirlNextDoor"), url("http://themes.googleusercontent.com/font?kit=cWRA4JVGeEcHGcPl5hmX7rOFxJ5Ig03puUh67ume3us") format("woff"); }

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: normal;
  src: local("Varela Round"), local("VarelaRound-Regular"), url("http://themes.googleusercontent.com/font?kit=APH4jr0uSos5wiut5cpjrnhCUOGz7vYGh680lGh-uXM") format("woff"); }

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local("Droid Sans"), local("DroidSans"), url("http://themes.googleusercontent.com/font?kit=s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0") format("woff"); }

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: local("Oswald "), local("Oswald"), url("http://themes.googleusercontent.com/static/fonts/oswald/v1/-g5pDUSRgvxvOl5u-a_WHw.woff") format("woff"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: local("Lato Black Italic"), local("Lato-BlackItalic"), url("http://themes.googleusercontent.com/static/fonts/lato/v1/VNUH7ZAcagYBWsAiBBCEY7O3LdcAZYWl9Si6vvxL-qU.woff") format("woff"); }

@font-face {
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  src: local("Istok Web Regular"), local("IstokWeb-Regular"), url("http://themes.googleusercontent.com/font?kit=EvPKapBawcLZ3hbihjhqAT8E0i7KZn-EPnyo3HZu7kw") format("woff"); }

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-image: url(/images/new_marketing/background.png); }

.thanks-message {
  font-size: 22px; }

#login-form {
  position: absolute;
  width: 174px;
  height: 93px;
  padding: 12px 15px 24px 11px;
  background-color: #e0e3dd;
  border: solid 1px #70846b;
  top: 31px;
  right: 0;
  z-index: 1;
  display: none; }
  #login-form input[type="text"], #login-form input[type="password"] {
    font-size: 12px;
    width: 170px;
    height: 30px;
    padding: 0;
    margin-bottom: 4px; }
  #login-form a {
    display: inline-block;
    padding-top: 5px;
    font-size: 12px; }
  #login-form input[type="image"] {
    float: right; }

#header {
  width: 100%;
  height: 55px;
  background-image: url(/images/new_marketing/b_tealtop_tile.png);
  background-repeat: repeat-x; }
  #header #header-contents {
    width: 1030px;
    margin: 0 auto;
    padding-top: 7px;
    position: relative; }
    #header #header-contents #activate-login-form {
      display: inline-block;
      float: right;
      margin-top: 2px; }

#navbar {
  display: inline-block;
  padding-top: 8px;
  float: right; }
  #navbar #buttons {
    font-weight: bold;
    font-size: 16px; }
    #navbar #buttons a {
      -webkit-transition: color 0.4s linear;
      -moz-transition: color 0.4s linear;
      margin-right: 20px;
      color: white; }
    #navbar #buttons a:hover {
      color: #80d422; }

.marketing-content {
  width: 900px;
  margin: 0 auto;
  position: relative; }

#upper-box {
  background-color: white;
  width: 100%;
  height: 320px;
  padding-top: 45px; }
  #upper-box img, #upper-box h1, #upper-box p, #upper-box object {
    position: absolute; }
  #upper-box #logo {
    top: 15px;
    left: -64px; }
  #upper-box #spark-engagement {
    font-family: "Istok Web", sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #52910c;
    top: 110px;
    left: -25px; }
  #upper-box #short-explanation {
    font-family: "Istok Web", sans-serif;
    font-size: 20px;
    color: #2d2d2b;
    left: -25px;
    top: 220px; }
  #upper-box #wistia_415349 {
    top: 45px;
    left: 542px; }

#factoids {
  margin-bottom: 45px;
  background-image: url(/images/new_marketing/tile_2.png); }
  #factoids h1 {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    color: #1d8c0a;
    font-size: 30px;
    font-weight: bold; }
  #factoids #factoids-subheader {
    text-align: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    color: #2d2d2b; }
  #factoids .marketing-content {
    padding-left: 90px;
    padding-top: 25px; }
  #factoids .factoid {
    display: inline-block;
    margin-right: 35px; }

input.fat-text-field {
  font-size: 20px;
  width: 213px;
  height: 23px;
  padding-top: 10px;
  padding-bottom: 10px; }

#how-it-works {
  padding-top: 35px;
  padding-bottom: 15px;
  background-image: url(/images/new_marketing/tile_2.png); }
  #how-it-works .marketing-content {
    width: 1000px; }
  #how-it-works #green-arrow {
    position: absolute;
    top: 80px;
    left: 30px;
    z-index: 1; }
  #how-it-works h1, #how-it-works h2 a {
    text-align: center;
    font-family: 'Droid Sans', sans-serif; }
  #how-it-works h1 {
    color: #1d8c0a;
    font-size: 30px;
    font-weight: bold; }
  #how-it-works h2 {
    color: #999999;
    text-align: center;
    font-weight: normal;
    font-size: 36px; }
    #how-it-works h2 a {
      -webkit-transition: color 0.4s linear;
      -moz-transition: color 0.4s linear;
      font-size: 36px;
      color: #999999;
      margin-left: 55px;
      margin-right: 55px; }
    #how-it-works h2 a:hover {
      text-decoration: underline; }
  #how-it-works #what-it-does {
    font-size: 26px;
    margin-left: 100px;
    margin-right: 25px;
    margin-bottom: 50px;
    font-family: Lato, Georgia, sans-serif;
    font-style: italic;
    font-weight: 900; }
  #how-it-works #postits {
    margin-top: 35px; }
    #how-it-works #postits #play-postit {
      margin-left: 80px; }
    #how-it-works #postits #engage-postit {
      margin-left: 90px; }
    #how-it-works #postits #measure-postit {
      margin-left: 135px; }
    #how-it-works #postits #roi-postit {
      margin-left: 93px; }
  #how-it-works #cycling-quote-box {
    width: 100%;
    height: 65px;
    background-color: #fcfcfc;
    margin-bottom: 45px;
    border: solid #d5dfd4 2px;
    position: relative; }
    #how-it-works #cycling-quote-box #pointer {
      position: absolute;
      top: -22px;
      left: 126px; }
    #how-it-works #cycling-quote-box #quote-text {
      font-family: Georgia, sans-serif;
      font-size: 24px;
      color: #333333;
      text-align: center;
      padding-top: 16px; }
      #how-it-works #cycling-quote-box #quote-text a, #how-it-works #cycling-quote-box #quote-text a:hover, #how-it-works #cycling-quote-box #quote-text a:visited {
        color: #6c8f00; }
      #how-it-works #cycling-quote-box #quote-text img {
        position: relative;
        top: 5px;
        left: 5px; }

.subsection {
  margin: 0 auto;
  width: 855px;
  padding-top: 50px;
  padding-bottom: 40px; }
  .subsection h3 {
    font-family: "Istok Web", sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #666666; }
  .subsection h4 {
    font-family: "Istok Web", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #666666;
    margin-bottom: 30px; }
  .subsection .subsection-header {
    margin-bottom: 30px; }
    .subsection .subsection-header h2 {
      font-family: 'Istok Web', sans-serif;
      font-size: 36px;
      font-weight: normal;
      color: #999999;
      margin: 0 0 0 45px; }
      .subsection .subsection-header h2 .non-current-section {
        opacity: 0.5; }
      .subsection .subsection-header h2 .current-section {
        font-weight: bold;
        color: #1d8c0a; }
      .subsection .subsection-header h2 img {
        position: relative;
        top: 35px; }
  .subsection .two-column p {
    font-size: 16px;
    line-height: 1.4; }
    .subsection .two-column p img {
      display: inline-block;
      margin: 0;
      float: none;
      vertical-align: text-top; }
  .subsection .two-column .also {
    font-family: "The Girl Next Door", cursive;
    font-size: 18px;
    color: #2d2d2b; }
  .subsection .two-column .left {
    float: left; }
  .subsection .two-column .right {
    float: right; }
  .subsection .two-column .shim {
    width: 855px;
    clear: both; }
  .subsection .two-column #play-text-1 {
    width: 315px;
    padding-left: 50px; }
    .subsection .two-column #play-text-1 img {
      margin-left: 85px; }
  .subsection .two-column #play-graphic-1 {
    width: 455px; }
  .subsection .two-column #play-text-2 {
    width: 285px;
    padding-left: 50px; }
  .subsection .two-column #play-graphic-2 {
    width: 455px;
    padding-left: 20px; }
  .subsection .two-column #play-text-3 {
    width: 350px;
    padding-left: 50px; }
  .subsection .two-column #play-graphic-3 {
    width: 455px; }
  .subsection .two-column #measure-text-1 {
    width: 385px;
    padding-left: 50px; }
  .subsection .two-column #measure-graphic-1 {
    padding-right: 20px;
    width: 320px; }
  .subsection .two-column #roi-text-1 {
    width: 385px;
    padding-left: 50px; }

.back-to-top-link {
  position: relative;
  left: 800px; }

#engage-section .back-to-top-link {
  top: 20px; }

#play-section .shim {
  height: 50px; }
#play-section #secondary-play img {
  margin: 0 0 40px 190px; }
#play-section #secondary-play .left, #play-section #secondary-play .right {
  text-align: center;
  width: 285px; }
  #play-section #secondary-play .left p, #play-section #secondary-play .right p {
    font-size: 16px; }
#play-section #secondary-play .left {
  margin-left: 100px; }
#play-section #secondary-play .right {
  margin-right: 100px; }

#engage-section h3, #engage-section h4 {
  text-align: center; }
#engage-section .left, #engage-section .right {
  position: relative; }
  #engage-section .left h3, #engage-section .right h3 {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 25px; }
  #engage-section .left h4, #engage-section .right h4 {
    text-align: left; }
  #engage-section .left p, #engage-section .right p {
    margin: 30px 0; }
#engage-section .left {
  width: 370px; }
  #engage-section .left #teal-arrow-left {
    position: absolute;
    right: 35px; }
  #engage-section .left #amy-participates {
    margin-bottom: 55px; }
#engage-section .right {
  width: 380px; }
  #engage-section .right a img {
    margin-top: 25px; }
  #engage-section .right #teal-arrow-right {
    position: absolute;
    left: -75px; }
  #engage-section .right #h-engage-enhances {
    margin-bottom: 25px; }
  #engage-section .right #winning-points-from-poster ul {
    margin-bottom: 0; }
#engage-section #we-add-game-mechanics {
  font-family: "The Girl Next Door", cursive;
  font-size: 18px;
  float: right;
  width: 180px;
  margin-right: 65px;
  line-height: 1.2;
  position: relative; }
  #engage-section #we-add-game-mechanics img {
    margin-left: 50px; }
#engage-section #help-drive-traffic {
  font-family: "The Girl Next Door", cursive;
  position: relative; }
  #engage-section #help-drive-traffic #teal-arrow-bottom {
    position: absolute;
    top: -45px;
    right: 140px; }

#blog-section {
  font-size: 16px; }
  #blog-section #blog-header {
    vertical-align: bottom; }
    #blog-section #blog-header h2 {
      font-weight: normal;
      font-family: 'Istok Web', sans-serif;
      font-size: 36px;
      color: #1d8c0a;
      margin: 0;
      display: inline-block; }
  #blog-section #blog-name {
    font-family: 'Istok Web', sans-serif;
    font-size: 26px;
    color: #1d8c0a;
    margin-top: 45px;
    margin-bottom: 0; }
    #blog-section #blog-name a {
      color: #1d8c0a; }
  #blog-section #blog-subname {
    font-size: 18px;
    margin-bottom: 45px; }
  #blog-section .blog-subsection {
    padding-left: 58px;
    padding-right: 200px; }
    #blog-section .blog-subsection .body-wrapper {
      margin-bottom: 45px; }
  #blog-section .post .title {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
    #blog-section .post .title a, #blog-section .post .title a:hover, #blog-section .post .title a:visited {
      color: #2d2d2b; }
  #blog-section .post a.read-more, #blog-section .post a.read-more:hover, #blog-section .post a.read-more:visited {
    color: #006699; }

#engage-section-wrapper, #roi-wrapper, #bottom-comment-box-wrapper {
  background-image: url(/images/new_marketing/tile_2.png);
  width: 100%; }

#blog-wrapper {
  width: 100%; }

#bottom-comment-box {
  margin: 0 auto;
  width: 640px;
  height: 175px;
  padding-top: 25px;
  padding-bottom: 40px; }
  #bottom-comment-box h2 {
    font-family: "Istok Web",sans-serif;
    font-size: 20px;
    margin: 0 0 15px 95px; }
  #bottom-comment-box form {
    position: relative; }
    #bottom-comment-box form input, #bottom-comment-box form textarea {
      color: #666666; }
    #bottom-comment-box form input[type="text"] {
      margin-bottom: 15px; }
    #bottom-comment-box form img {
      margin: 0 11px; }
    #bottom-comment-box form textarea {
      font-size: 20px;
      width: 490px;
      height: 80px;
      padding: 0;
      padding-left: 2px; }
    #bottom-comment-box form .submit-wrapper {
      width: 120px;
      height: 90px;
      position: relative;
      float: right; }
    #bottom-comment-box form input[type="image"] {
      position: absolute;
      bottom: 0; }

#marketing-footer-wrapper {
  background-color: #e0e2dd;
  width: 100%; }

#marketing-footer {
  width: 900px;
  margin: 0 auto; }
  #marketing-footer #sm-buttons {
    width: 230px;
    float: left;
    padding-top: 30px; }
    #marketing-footer #sm-buttons a img {
      margin-bottom: 4px;
      margin-right: 10px; }
    #marketing-footer #sm-buttons a .sm-action {
      vertical-align: top;
      font-size: 16px; }
  #marketing-footer #about-us {
    width: 630px;
    float: right;
    padding-top: 20px;
    padding-bottom: 20px; }
    #marketing-footer #about-us p {
      font-size: 16px;
      line-height: 1.6; }
    #marketing-footer #about-us .title {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 12px; }

#request-consultation-bar {
  height: 63px;
  margin: 0 auto;
  background-color: #007673;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  color: white; }
  #request-consultation-bar form {
    margin: 0 auto;
    width: 925px; }
    #request-consultation-bar form #request-consultation {
      float: left;
      font-family: "Istok Web", sans-serif;
      font-size: 25px;
      font-weight: bold;
      line-height: 1;
      margin-right: 25px;
      padding-top: 5px; }
    #request-consultation-bar form input[type="text"] {
      margin-right: 25px; }
    #request-consultation-bar form img {
      position: relative;
      top: 8px;
      margin-right: 25px; }
  #request-consultation-bar .thanks-message {
    margin-left: 60px; }

#page-footer {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  color: white;
  clear: both;
  text-align: center;
  background-image: url(/images/new_marketing/b_tealbottom.png); }
