#secondary ul.top-scores .score {
  position: relative;
  top: -32px;
  right: 5px; }

.account-controls label {
  position: relative;
  left: -16px; }
.account-controls input[type=image] {
  display: block; }

#fans-wrapper #fans {
  margin-left: 10px; }
#fans-wrapper .fan-column {
  width: 470px; }
  #fans-wrapper .fan-column ul li .associate-details {
    left: 85px; }
  #fans-wrapper .fan-column ul li .associate-points {
    left: 250px; }

#scoreboard-tabs {
  width: 100%;
  margin-bottom: 0;
  border: none; }

#secondary ul.top-scores {
  width: 100%;
  border: 0; }
