@import url(flick/jquery-ui-1.8.10.custom.css);
a, a:link {
  color: #999999;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-image: url(/images/new_marketing/background.png); }

h1 {
  font-family: 'Chunk';
  font-weight: normal;
  font-size: 24px; }
  h1 a, h1 a:visited, h1 a:link {
    text-decoration: none; }
    h1 a span, h1 a:visited span, h1 a:link span {
      color: #ff6a37; }

h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #58585a;
  margin-bottom: 10px; }

img {
  margin: 0; }

.add-friends {
  color: #55950d;
  float: right;
  font-weight: bold; }

.header {
  background: url(/images/new_activity/header_gradient.png);
  height: 73px;
  padding-left: 35px; }
  .header #logo {
    display: inline-block;
    float: left; }
    .header #logo img {
      margin: 0px;
      position: relative;
      top: 7px; }
  .header .inner-header {
    padding: 0 0 10px 0;
    width: 930px; }
    .header .inner-header #add-action {
      margin-top: 18px;
      float: left;
      color: #103245;
      font-size: 22px; }
      .header .inner-header #add-action .enter-code {
        font-size: 12px;
        vertical-align: middle;
        width: 478px; }
        .header .inner-header #add-action .enter-code .prompt {
          font-size: 18px;
          vertical-align: middle; }
        .header .inner-header #add-action .enter-code input[type="text"] {
          width: 349px;
          height: 14px;
          margin-left: 5px;
          padding: 10px 95px 10px 10px;
          font-size: 15px; }
        .header .inner-header #add-action .enter-code input[type="image"] {
          position: absolute;
          z-index: 10;
          top: 25px;
          left: 455px; }
    .header .inner-header #account {
      margin-top: 40px;
      font-size: 15px;
      float: right;
      text-align: right;
      padding-right: 5px; }
      .header .inner-header #account a, .header .inner-header #account a:visited, .header .inner-header #account a:link {
        text-decoration: none;
        font-weight: bold;
        color: #33873e; }
      .header .inner-header #account a.last {
        border-right: 0;
        padding-right: 0; }
      .header .inner-header #account a.current-section {
        color: #ffffff; }
      .header .inner-header #account a:hover {
        border-bottom: solid #2d2d2b 1px; }
      .header .inner-header #account img.navbar-separator {
        margin: 0;
        position: relative;
        top: 3px; }
    .header .inner-header #account.with-admin {
      font-size: 13px; }

.clear {
  clear: both; }

.explanation {
  padding: 10px 0; }

.content {
  width: 960px; }

.spinner {
  display: none; }

.tabs, .pills {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  zoom: 1; }

.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline; }

.tabs:after, .pills:after {
  clear: both; }

.tabs > li, .pills > li {
  float: left; }

.tabs > li > a, .pills > li > a {
  display: block; }

.tabs {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd; }

.tabs > li {
  position: relative;
  top: 1px; }

.tabs > li > a {
  padding: 0 15px;
  margin-right: 2px;
  line-height: 36px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0; }

.tabs > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  border-color: #eee #eee #ddd; }

.tabs > li.active > a {
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent; }

.tabs .menu-dropdown, .tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.tabs a.menu:after, .tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px; }

.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
  border-color: #999; }

.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
  border-top-color: #555; }

.friends #main, .friends #secondary {
  width: 454px; }
.friends input[type="submit"] {
  font-size: 10px;
  padding: 4px 6px; }

#footer {
  height: 0px;
  margin: 0;
  clear: both; }

ul, ol {
  margin-top: 20px; }

form li {
  list-style: none; }

#phone_number_input label, #phone_user_password_input label, #phone_user_password_confirmation_input label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  margin: 5px auto;
  width: 358px;
  text-align: center; }
#phone_number_input input, #phone_user_password_input input, #phone_user_password_confirmation_input input {
  border: 1px solid #111111;
  color: #111111;
  display: block;
  font-family: Georgia, serif;
  font-size: 38px;
  margin: 0px auto;
  padding: 4px 0px;
  text-align: center;
  width: 358px; }

form .submit-input {
  text-align: right;
  margin: 0px auto;
  position: relative;
  top: 5px;
  width: 358px; }

#flash {
  margin: 20px 0 20px 35px;
  width: 965px; }

#flash_failure, #flash_success, #flash_notice {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.hidden-form {
  display: none;
  margin-top: 20px; }

.invite-link {
  margin-left: 4px; }
  .invite-link a, .invite-link a:visited {
    color: #333333; }
  .invite-link a:hover {
    color: #111111; }

#main-wrapper {
  padding: 25px 50px 25px 35px;
  width: 495px;
  min-height: 800px;
  float: left;
  background-color: #ffffff;
  border-right: solid #b9c2c7 1px; }

#main {
  width: 495px; }

#secondary {
  float: right;
  width: 335px;
  padding: 25px 0 0 25px; }
  #secondary p {
    line-height: 1.4em;
    margin-bottom: 10px; }

body.acts #secondary h2 {
  background: #afe073;
  padding: 10px 0 5px 15px;
  margin-bottom: 0; }

pre {
  background: #111111;
  color: #f0f0f0; }

code, pre {
  overflow-x: auto;
  margin: 1.5em 0px;
  white-space: pre;
  line-height: 1.5; }

pre {
  -webkit-box-shadow: #555 0px 2px 4px;
  border: 3px solid #DDD;
  padding: 10px; }

#secondary #my-score {
  background-color: #94a1a9;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 30px;
  border: solid 1px #b9c2c7; }
  #secondary #my-score th, #secondary #my-score td {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
    height: 70px;
    line-height: 1; }
    #secondary #my-score th .top-row, #secondary #my-score td .top-row {
      font-size: 30px; }
  #secondary #my-score th {
    font-size: 20px; }
  #secondary #my-score td.points {
    border-left: solid #ffffff 1px;
    border-right: solid #ffffff 1px;
    font-size: 18px; }
  #secondary #my-score td.ranking {
    font-size: 18px; }
    #secondary #my-score td.ranking .rank-number {
      font-size: 30px; }
    #secondary #my-score td.ranking .ordinal-particle {
      vertical-align: super;
      position: relative;
      top: -3px; }

#secondary ul.top-scores {
  margin-top: 0px;
  margin-bottom: 10px;
  list-style-type: none;
  border: solid 1px #b9c2c7; }
  #secondary ul.top-scores li {
    padding: 10px 20px 7px 0; }
    #secondary ul.top-scores li img {
      margin-left: 10px;
      vertical-align: middle; }
  #secondary ul.top-scores .dark {
    background-color: #efefef; }
  #secondary ul.top-scores .light {
    background-color: #ffffff; }
  #secondary ul.top-scores .ranking {
    display: inline-block;
    font-size: 16px;
    width: 30px;
    padding-left: 10px; }
  #secondary ul.top-scores .name {
    font-size: 14px;
    font-weight: bold;
    color: #355997;
    line-height: 16px; }
  #secondary ul.top-scores .score {
    float: right;
    font-size: 18px;
    color: #339e3e; }

#top-users li span {
  color: #999999;
  display: block;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0px;
  padding: 0px; }

/* Activity Feed */
li.act-shim {
  clear: both;
  border-bottom: solid #d7d7d7 1px; }

ul#acts {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0; }
  ul#acts li.act, ul#acts li.small-act {
    clear: both;
    padding: 20px 25px 20px 10px; }
    ul#acts li.act .avatar48, ul#acts li.small-act .avatar48 {
      float: left; }
      ul#acts li.act .avatar48 img, ul#acts li.small-act .avatar48 img {
        width: 43px;
        height: 43px; }
  ul#acts li.act .act-details {
    float: left;
    width: 400px; }
    ul#acts li.act .act-details .user {
      width: 315px; }
    ul#acts li.act .act-details .user a, ul#acts li.act .act-details .user a:link, ul#acts li.act .act-details .user a:visited {
      font-size: 14px;
      color: #355997;
      font-weight: bold;
      line-height: 16px;
      vertical-align: top; }
    ul#acts li.act .act-details .description {
      font-size: 16px;
      color: #58585a;
      width: 315px;
      padding-bottom: 4px;
      position: relative;
      top: -2px;
      line-height: 1.2; }
    ul#acts li.act .act-details .when {
      font-size: 12px;
      color: #92a1aa;
      width: 315px;
      margin-bottom: 20px; }
    ul#acts li.act .act-details .points {
      float: right;
      font-size: 20px;
      font-weight: bold;
      color: #339e3e; }
  ul#acts li.act .avatar43 {
    float: left;
    padding: 0 15px 20px 0; }
    ul#acts li.act .avatar43 img {
      width: 43px;
      height: 43px; }
  ul#acts li.small-act .act-details {
    width: 478px; }
  ul#acts li.small-act p {
    margin-bottom: 0px; }

.examples li.example .points {
  border: 1px solid #999999;
  float: left;
  margin: 0px 6px 0px 0px;
  width: 24px;
  height: 24px;
  float: left;
  position: relative;
  text-align: center;
  padding: 3px 2px 0 2px;
  vertical-align: middle; }
.examples li.example p {
  float: left; }
.examples li:last-child {
  border-bottom: none; }

button, input[type=submit] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

button, input[type=submit], .examples .points {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  color: white;
  background: #2d2d2b;
  border: 0px solid #333333; }

button:hover, input[type=submit]:hover, .examples .points:hover {
  background: #22d4a8;
  cursor: pointer; }

button:disabled, input[type=submit]:disabled {
  background: #999999;
  cursor: pointer; }

#phone_submit {
  margin-right: 0px; }

#follow-target {
  height: 48px; }
  #follow-target input {
    margin-top: 8px; }

body.users-show h3 {
  color: #4a833f;
  font-size: 16px; }
body.users-show #connections a {
  margin-top: 10px;
  display: inline-block; }

#profile-head {
  position: relative; }
  #profile-head .avatar48 {
    width: 50; }
  #profile-head .own-number {
    position: absolute;
    left: 65px;
    top: 45px; }

.account-controls {
  padding-top: 30px; }
  .account-controls form {
    margin-bottom: 40px;
    position: relative;
    /* Work around some stupidity in Formtastic */ }
    .account-controls form input[type="text"], .account-controls form input[type="tel"], .account-controls form input[type="file"] {
      width: 220px; }
    .account-controls form input[type="image"] {
      margin-top: 10px; }
    .account-controls form label[for="user_send_follow_notification_sms"] {
      width: 220px; }
    .account-controls form .required label {
      font-weight: normal; }
    .account-controls form abbr {
      display: none; }
  .account-controls form[action="/account"] input[type="image"] {
    top: 0; }

#profile-stats {
  display: block;
  clear: both;
  margin-top: 20px; }
  #profile-stats .stat {
    float: left;
    display: inline; }
  #profile-stats #points {
    width: 38px;
    padding-right: 10px; }
  #profile-stats #following-count {
    width: 56px;
    padding: 0 10px;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999; }
  #profile-stats #followers-count {
    width: 60px;
    padding-left: 10px; }

#follow-button {
  display: inline; }

.column-header {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  line-height: 22px;
  height: 30px;
  background: #333333;
  padding-left: 10px; }
  .column-header h2 {
    color: #f0f0f0;
    margin: 0;
    line-height: 30px;
    vertical-align: middle; }
  .column-header a, .column-header a:link, .column-header a:hover, .column-header a:visited {
    color: #f0f0f0;
    float: right;
    padding-right: 4px; }

.column-section {
  margin-bottom: 17px; }

select {
  font-weight: bold;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

a.current {
  text-decoration: underline; }

#achievements {
  border: solid 1px #b9c2c7;
  margin-bottom: 30px;
  padding-bottom: 15px;
  background-color: #ffffff; }
  #achievements .achievement {
    color: #58585a;
    font-size: 14px;
    line-height: 15px;
    padding: 15px 15px 0 15px; }

#conference-header {
  color: white;
  line-height: 56px;
  font-size: 20px; }

input.with-hint-text {
  color: #92a1aa; }

#activity-return {
  clear: both;
  padding-top: 15px; }

textarea#bad_message_reply_body {
  height: 55px; }

.bad-message-thread {
  width: 100%;
  padding: 10px 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px; }
  .bad-message-thread .message-sender {
    font-weight: bold;
    color: blue; }
  .bad-message-thread .message-replier {
    font-weight: bold;
    color: orange; }
  .bad-message-thread .message-reply, .bad-message-thread .message-details {
    margin-bottom: 15px; }

.loading-message {
  display: none;
  font-weight: bold; }

.message {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 500px;
  font-size: 16px; }
  .message .message-header {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #6c7868;
    color: white; }
  .message .message-body {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: white;
    color: #111111; }
  .message .automated-reply {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: yellow;
    color: #111111; }
  .message .reply {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #d2e8b9;
    color: #111111; }
  .message form {
    display: inline; }
    .message form input[type="submit"] {
      background-color: inherit;
      border: none;
      color: #999999;
      font-size: inherit;
      text-transform: none;
      font-weight: normal;
      padding: 0; }

.new-watchlisted-message .message-header {
  background-color: #ba7d3b; }

#see-more {
  margin-top: 10px; }

#see-more-spinner {
  display: none;
  margin: 0;
  vertical-align: middle; }

ul#other-users li.associate form {
  position: absolute;
  top: 15px;
  right: 15px; }

.clear-avatar {
  margin-top: 20px; }

.secondary-column-section {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding-top: 17px;
  padding-left: 15px;
  background-color: white;
  margin-bottom: 10px; }
  .secondary-column-section a, .secondary-column-section a:link, .secondary-column-section a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #2d2d2b; }
  .secondary-column-section a:hover {
    text-decoration: underline; }

.fan-count {
  font-weight: bold; }

#connections {
  padding-bottom: 17px; }

#existing-rules td, #existing-rules th {
  border: 2px solid black; }

.rule-warning {
  background-color: yellow;
  color: red; }

#existing-rules, #add-rule, #bulk-load {
  margin-bottom: 90px; }
  #existing-rules td, #existing-rules th, #add-rule td, #add-rule th, #bulk-load td, #bulk-load th {
    padding-left: 5px; }
  #existing-rules th:first-child, #add-rule th:first-child, #bulk-load th:first-child {
    width: 200px; }
  #existing-rules img.row-toggle-button, #add-rule img.row-toggle-button, #bulk-load img.row-toggle-button {
    margin: 0;
    cursor: pointer; }
  #existing-rules tr.aliases, #add-rule tr.aliases, #bulk-load tr.aliases {
    display: none; }

fieldset#secondary-values {
  display: none; }
  fieldset#secondary-values .spinner {
    margin: 0; }

fieldset#bonus-thresholds label {
  display: inline; }
fieldset#bonus-thresholds input {
  width: 50px; }

fieldset#levels label {
  display: inline; }
fieldset#levels input {
  width: 250px; }

#fans-wrapper, #pending-followers-wrapper {
  margin: 20px 0 0 30px;
  width: 930px;
  background: #ffffff; }
  #fans-wrapper ul, #pending-followers-wrapper ul {
    margin-top: 0;
    list-style: none; }
    #fans-wrapper ul a, #fans-wrapper ul a:link, #fans-wrapper ul a:visited, #pending-followers-wrapper ul a, #pending-followers-wrapper ul a:link, #pending-followers-wrapper ul a:visited {
      color: #3e5d94;
      font-weight: bold; }
    #fans-wrapper ul li, #pending-followers-wrapper ul li {
      padding: 15px 15px 15px 10px;
      border-bottom: solid 1px #bebebe;
      position: relative; }
      #fans-wrapper ul li .associate-details, #fans-wrapper ul li .pending-follower-details, #pending-followers-wrapper ul li .associate-details, #pending-followers-wrapper ul li .pending-follower-details {
        position: absolute;
        top: 12px;
        left: 75px;
        color: #58585a;
        font-size: 14px; }
      #fans-wrapper ul li .associate-points, #pending-followers-wrapper ul li .associate-points {
        font-size: 20px;
        font-weight: bold;
        color: #339e3e;
        position: absolute;
        top: 9px;
        left: 220px; }
  #fans-wrapper h2, #pending-followers-wrapper h2 {
    padding-left: 10px;
    padding-top: 10px; }
  #fans-wrapper .fan-column, #pending-followers-wrapper .fan-column {
    width: 390px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px; }
  #fans-wrapper #fans-of, #pending-followers-wrapper #fans-of {
    margin-left: 10px;
    padding-right: 62px; }
  #fans-wrapper #fans, #pending-followers-wrapper #fans {
    margin-left: 63px; }

#fans-wrapper li form {
  position: absolute;
  top: 13px;
  right: 15px; }

#pending-followers-wrapper {
  padding-left: 10px;
  padding-bottom: 20px; }
  #pending-followers-wrapper ul {
    width: 390px; }
  #pending-followers-wrapper .pending-follower-details form {
    display: inline-block; }

.sessions #flash {
  margin: 20px 0;
  width: 1000px; }
.sessions .content {
  margin: 0 auto; }
  .sessions .content h2 {
    font-size: 36px; }
  .sessions .content #session-wrapper {
    padding: 25px 50px;
    width: 900px;
    margin: 150px auto;
    background-color: transparent; }
    .sessions .content #session-wrapper form {
      margin-bottom: 20px; }
      .sessions .content #session-wrapper form input {
        font-size: 20px;
        display: inline-block; }
