.header .mast_top .navigation a.a_current {
  background-color: #404040!important;
  background-image: url("/images/v3/bg-black.png") !important;
  background-repeat: repeat-x!important; }
.header .mast_bottom .bar_command input[type="submit"] {
  background-color: #ffd04b!important;
  background-image: url("/images/v3/bg-orange.png") !important;
  background-repeat: repeat-x!important;
  padding-top: 0px!important; }
.header .mast_bottom .bar_level p.level {
  color: #2e2f2d!important; }

input[type="submit"].button_norm {
  background-color: #2e2f2d!important;
  background-image: url("/images/v3/bg-black-rev.png") !important;
  background-repeat: repeat-x!important; }
