body {
  background: #add9ef;
  font-size: 14px; }

.header {
  -webkit-box-shadow: 0 -2px 8px 5px #111111;
  -moz-box-shadow: 0 -2px 8px 5px #111111;
  box-shadow: 0 -2px 8px 5px #111111;
  background: rgba(0, 0, 0, 0.4);
  font-size: 15px; }
  .header .inner-header {
    margin: 0px auto;
    padding: 20px 0;
    width: 960px; }
    .header .inner-header h1 {
      color: #eeeeee; }

.explanation {
  padding: 10px 0; }

.content {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  margin: 20px auto;
  background: #eeeeee;
  width: 960px;
  padding: 20px; }

ul, ol {
  margin-top: 20px; }

form li {
  list-style: none; }

#phone_number_input label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.4;
  margin: 5px auto;
  width: 358px;
  text-align: center; }
#phone_number_input input {
  border: 1px solid #111111;
  color: #111111;
  display: block;
  font-family: Georgia, serif;
  font-size: 38px;
  margin: 0px auto;
  padding: 4px 0px;
  text-align: center;
  width: 358px; }
