/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }

.cf {
  clear: both; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* Game type colors */
/* ---------- general mixins ---------- */
/* ---------- header mixins ---------- */
/* external */
body.external div.container div.inv-forms form input[type="submit"] {
  padding: 5px 0!important; }

body.passwords-new div.container div.inv-forms form input[type="submit"] {
  display: inline;
  margin: 3px 0 35px 5px; }
body.passwords-new div.container div.inv-forms form input[type="text"] {
  float: left;
  width: 325px; }

/* internal */
.mast_top {
  padding-bottom: 0!important; }
  .mast_top a.a_current {
    border: 1px #6eae4d solid !important; }
  .mast_top .navigation {
    width: 550px!important; }

.mast_bottom .bar_progress .bar .progress {
  position: absolute; }

.suggested-task {
  background-color: #008873 !important;
  box-shadow: 0 0 3px 2px #c9c9c9;
  behavior: url(/css3pie/PIE.htc); }
  .suggested-task a.more-info {
    background-image: url(/images/v3/btn-moreinfo.png) !important;
    border: 0!important;
    display: inline-block;
    text-shadow: 1px 1px 1px #2e2e2c !important;
    width: 75px; }
    .suggested-task a.more-info:hover {
      background: url(/images/v3/btn-moreinfo-down.png) !important;
      background-position: center center; }
  .suggested-task div.dose-moreinfo {
    background-color: #005548 !important;
    border-radius: 3px;
    clear: both;
    position: relative;
    top: 5px;
    behavior: url(/css3pie/PIE.htc); }
  .suggested-task div.cf {
    height: 0!important; }
  .suggested-task p.dose-descript, .suggested-task p.dose-title {
    display: inline; }

.feeds ul#user-acts li.act-shim {
  display: none; }

.invite-module div.invite#invite_friends_facebox form div.first_half input[type="text"] {
  border-radius: 0!important; }

#facebox .content form input[type="text"] {
  width: 250px!important; }

div.invite_or_add input[type="submit"] {
  background: none!important;
  border-radius: 0!important;
  color: #588b3d !important;
  font-size: 14px;
  padding: 0!important; }
