/* Game type colors */
@import url(flick/jquery-ui-1.8.10.custom.css);
/* ---------- note to self ---------- 
	use sass operations to lighten/darken
	hairlines
   ---------------------------------- */
/* ---------- customizations ---------- */
/* ---------- standards ---------- */
a {
  text-decoration: none!important; }

img {
  border: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.cf {
  clear: both; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px; }

/* ---------- masthead ---------- */
.header {
  background-color: #2e2e2c;
  border-bottom: 1px white solid; }
  .header a {
    color: white;
    font-size: 12px;
    font-weight: 500; }
    .header a:hover {
      text-decoration: underline!important; }
  .header li {
    display: inline; }
  .header p {
    color: #909090;
    font-size: 12px;
    font-weight: 500; }
  .header .app_bar {
    height: 23px;
    margin: 0 auto;
    padding: 7px 10px 0 10px;
    width: 940px; }
    .header .app_bar .app_by {
      float: left;
      margin: 0 auto; }
    .header .app_bar .app_settings {
      float: right; }
      .header .app_bar .app_settings li {
        padding-left: 20px; }
  .header .masthead {
    background-color: #067bbd;
    border-top: 1px #089bee solid;
    border-bottom: 1px #045b8c solid; }
    .header .masthead .mast_top {
      border-bottom: 1px #045b8c solid;
      height: 70px;
      margin: 0 auto;
      padding: 10px;
      width: 940px; }
      .header .masthead .mast_top .logo_container {
        border: 1px red solid;
        float: left;
        width: 140px; }
      .header .masthead .mast_top .welcome {
        border: 1px yellow solid;
        float: left;
        margin-left: 20px;
        width: 300px; }
        .header .masthead .mast_top .welcome img {
          float: left;
          margin-right: 10px;
          width: 61px; }
      .header .masthead .mast_top .navigation {
        border: 1px purple solid;
        float: right; }
        .header .masthead .mast_top .navigation li {
          margin-left: 30px; }
    .header .masthead .mast_bottom {
      border-top: 1px #089bee solid;
      margin: 0 auto;
      padding: 10px;
      width: 940px; }
