/* TIPS: - using any bg images will not allow IE7 to also do rounded corners/boards or hover states */
/* and they will overlap on top of the borders */
/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }
  a:active {
    color: #2e2e2c; }

.cf {
  clear: both;
  height: 0; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* ---------- general mixins ---------- */
/* ------------ colors ------------- */
/* Game type colors */
/* other colors */
.header .mast_top .navigation a.a_current {
  background-color: #404040!important;
  background-image: url("/images/v3/bg-black.png") !important;
  background-repeat: repeat-x!important;
  background-position: center center; }
.header .mast_bottom .bar_command input[type="submit"] {
  background-color: transparent!important;
  background-image: url("/images/v3/btn_play.png") !important;
  background-repeat: no-repeat!important;
  background-repeat: no-repeat;
  color: #3b3b3b!important;
  padding-top: 0px!important; }
  .header .mast_bottom .bar_command input[type="submit"]:hover {
    background-color: transparent!important;
    background-image: url("/images/v3/btn_play_down.png") !important;
    background-repeat: no-repeat!important;
    background-repeat: no-repeat;
    color: #fff!important; }
.header .mast_bottom .bar_level p.level {
  color: #2e2f2d!important; }

input[type="submit"].button_norm {
  background-color: #404040;
  /*	@include ie-bg-black-rev;
  	&:hover{
  		background:red!important;
  	} */ }

.suggested-task a {
  background-color: transparent!important;
  background-color: #ffd04b;
  background-image: url("/images/v3/bg-orange.png") !important;
  background-position: center center!important;
  color: #3b3b3b!important; }
  .suggested-task a:hover {
    background-color: #2e2f2d!important;
    background-image: url("/images/v3/bg-black-rev.png") !important;
    background-repeat: repeat-x!important;
    background-position: center center!important;
    color: #fff!important; }

.feeds ul.tabs li {
  background-color: #404040; }
.feeds #acts {
  margin-top: 0!important;
  position: relative;
  top: -10px; }
.feeds .act {
  padding: 7px 0 10px 0!important; }
.feeds .act-shim {
  display: none; }

body.scores div.points {
  width: 82px!important; }

#password_prompt {
  top: -7px; }

#session_email {
  padding-left: 15px !important;
  width: 300px; }

.quick_tour_link, .contact_us_link {
  width: 140px !important; }

#feed_wrapper, #bar_command_wrapper, #search_box_wrapper, #directory_wrapper, #following_wrapper {
  position: relative; }

#bar_command_wrapper {
  z-index: 1; }

#black_tooltip.left #differing_spacings {
  left: 7px !important; }
#black_tooltip.left #tutorial_menu {
  right: 8px !important; }

#black_tooltip.right #differing_spacings {
  left: -3px !important; }
#black_tooltip.right #tutorial_menu {
  right: 16px !important; }

#tutorial_menu #options {
  right: 5px; }
