/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }
  a:active {
    color: #2e2e2c; }

.cf {
  clear: both;
  height: 0; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* ---------- general mixins ---------- */
/* ------------ colors ------------- */
/* Game type colors */
/* other colors */
#black_tooltip {
  display: none;
  font-size: 12px;
  height: 160px;
  width: 320px;
  padding: 25px;
  color: #eee;
  z-index: 90;
  background: transparent url(/images/tooltip/white_arrow_big.png); }

#black_tooltip.inverted {
  background: transparent url(/images/tooltip/white_arrow_big_inverted.png); }

.overlay {
  background-color: #787;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  /*Takes value between 0 and 1*/
  filter: alpha(opacity=50);
  /* IE7, IE8 */
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: none; }

.title {
  color: #dc0;
  font-size: 34px;
  text-align: center;
  padding: 7px 0px; }

#tutorial_menu {
  position: absolute;
  right: -5px;
  top: -13px;
  width: 100px;
  padding-bottom: 30px; }
  #tutorial_menu #gear {
    font-size: 21px;
    font-weight: normal;
    color: #667766;
    float: right;
    margin-bottom: -2px;
    cursor: pointer; }
  #tutorial_menu #arrow {
    float: right; }
  #tutorial_menu #options {
    display: none;
    background: #ccc;
    float: right;
    padding: 0px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  #tutorial_menu .close_tutorial {
    font-size: 15px;
    float: right; }
  #tutorial_menu a, #tutorial_menu a:hover {
    color: #575; }

#steps {
  text-align: center;
  font-size: 11px;
  color: #667766;
  position: absolute;
  top: 136px;
  left: 248px;
  width: 100px; }

.instruct {
  font-size: 17px;
  color: green; }

strong {
  font-style: italic; }

.green {
  color: #588b3d !important; }

.spotlight {
  z-index: 20 !important;
  position: relative; }

.spotlight.nav-directory, .spotlight.user, .spotlight.nav-activity {
  background: #660;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em; }

.spotlight.user {
  background: white;
  border-radius: 1ex; }

#differing_spacings {
  position: relative; }

#differing_spacings.inverted {
  top: 23px; }

#next_button, #finish_tutorial_button {
  float: right;
  font-size: 18px;
  padding-right: 2mm;
  padding-top: 2mm;
  text-decoration: underline !important; }

#tutorial_introduction_inner {
  padding: 10mm 10mm 5mm; }
  #tutorial_introduction_inner h2, #tutorial_introduction_inner p {
    color: grey; }
  #tutorial_introduction_inner h2 {
    font-size: 10mm;
    padding-bottom: 2mm; }
  #tutorial_introduction_inner a {
    color: #588b3d;
    font-size: 154%;
    font-weight: 500; }
  #tutorial_introduction_inner .show_tutorial {
    font-size: 246%; }
  #tutorial_introduction_inner a:hover {
    color: #42682d; }
  #tutorial_introduction_inner .link {
    text-align: center; }
  #tutorial_introduction_inner .link + .link {
    padding-top: 7px; }
  #tutorial_introduction_inner p {
    font-size: 120%;
    text-align: center;
    padding-bottom: 28px; }
