/* ---------- customizations ---------- */
/* ---------- END customizations ---------- */
/* layout/reset/fonts/etc */
a {
  text-decoration: none!important; }
  a:hover {
    color: #6eae4d; }
  a:active {
    color: #2e2e2c; }

.cf {
  clear: both;
  height: 0; }

h1, h2, h3 {
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  margin: 0;
  padding: 0; }

input:focus {
  outline: 0; }

p {
  margin: 0;
  padding: 0; }

ul {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0; }

/* ---------- general mixins ---------- */
/* ------------ colors ------------- */
/* Game type colors */
/* other colors */
#black_tooltip {
  display: none;
  font-size: 12px;
  height: 137px;
  width: 361px;
  padding: 0px;
  color: #eee;
  z-index: 90; }
  #black_tooltip hr {
    margin: 0; }
  #black_tooltip.bottom-left {
    background: transparent url(/images/tutorial/bottom-left.png); }
  #black_tooltip.bottom-center {
    background: transparent url(/images/tutorial/bottom-center.png); }
  #black_tooltip.bottom-right {
    background: transparent url(/images/tutorial/bottom-right.png); }
  #black_tooltip.top-left {
    background: transparent url(/images/tutorial/top-left.png); }
    #black_tooltip.top-left #differing_spacings {
      top: 12px; }
  #black_tooltip.top-center {
    background: transparent url(/images/tutorial/top-center.png); }
    #black_tooltip.top-center #differing_spacings {
      top: 12px; }
  #black_tooltip.top-right {
    background: transparent url(/images/tutorial/top-right.png); }
    #black_tooltip.top-right #differing_spacings {
      top: 12px; }
  #black_tooltip.left {
    background: transparent url(/images/tutorial/left.png);
    width: 372px;
    height: 129px; }
    #black_tooltip.left #differing_spacings {
      left: 12px;
      top: 3px; }
    #black_tooltip.left #tutorial_menu {
      right: 20px; }
  #black_tooltip.right {
    background: transparent url(/images/tutorial/right.png);
    width: 372px;
    height: 129px; }
    #black_tooltip.right #tutorial_menu {
      right: 20px;
      top: 4px; }

.overlay {
  background-color: #353533;
  bottom: 0;
  left: 0;
  opacity: 0.81;
  /*Takes value between 0 and 1*/
  filter: alpha(opacity=81);
  /* IE7, IE8 */
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  display: none; }

.title {
  color: #a79b4f;
  font-size: 21px;
  font-family: ubuntu, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 0px 7px;
  line-height: 28px; }

#tutorial_menu {
  position: absolute;
  right: 7px;
  top: 4px;
  width: 100px;
  padding-bottom: 30px; }
  #tutorial_menu #gear {
    cursor: pointer;
    float: right;
    z-index: 1000;
    width: 19px;
    height: 19px; }
    #tutorial_menu #gear img {
      padding-top: 3px;
      padding-left: 3px; }
  #tutorial_menu #options {
    display: none;
    background: #f5f0c5;
    float: right;
    padding: 0px 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #736b36;
    z-index: 1000;
    position: relative;
    right: 14px;
    top: -10px; }
  #tutorial_menu .close_tutorial {
    font-size: 15px;
    float: right;
    right: 5px; }
  #tutorial_menu a, #tutorial_menu a:hover {
    color: #625b2e; }

#steps {
  text-align: right;
  font-size: 10px;
  line-height: 13px;
  color: #a79b4f;
  position: absolute;
  top: 3px;
  right: 20px;
  width: 100px; }

.instruct {
  font-size: 17px;
  line-height: 21px;
  color: #5E5E54;
  padding-top: 13px; }
  .instruct .offset {
    color: #ff8411; }

strong {
  font-style: italic; }

.green {
  color: #588b3d !important; }

.spotlight {
  z-index: 20 !important;
  position: relative; }

.spotlight.nav-directory, .spotlight.user, .spotlight.nav-activity {
  background: #588b3d;
  -moz-border-radius: 10em;
  -webkit-border-radius: 10em;
  border-radius: 10em; }

.spotlight.user {
  background: white;
  border-radius: 1ex; }

#differing_spacings {
  position: relative;
  padding: 0px 23px; }

#finish_tutorial_button {
  float: right;
  font-size: 18px;
  padding-right: 2mm;
  padding-top: 2mm;
  text-decoration: underline !important;
  position: absolute;
  bottom: 9px;
  right: 17px;
  z-index: 1000; }

#next_button {
  width: 74px;
  height: 31px;
  position: absolute;
  right: 11px;
  bottom: 19px;
  background: url(/images/tutorial/next-btn.png); }

#tutorial_introduction_inner {
  padding: 10mm 10mm 5mm; }
  #tutorial_introduction_inner h2, #tutorial_introduction_inner p {
    color: grey;
    max-width: 40ex; }
  #tutorial_introduction_inner h2 {
    font-size: 10mm;
    padding-bottom: 2mm;
    text-align: center; }
  #tutorial_introduction_inner .no_thanks_tutorial {
    padding-top: 4px;
    display: inline-block; }
  #tutorial_introduction_inner a {
    color: #588b3d;
    font-size: 100%;
    font-weight: 500; }
  #tutorial_introduction_inner .show_tutorial {
    background: #3f3f3f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3f3f), color-stop(100%, #2e2f2d));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* IE10+ */
    background: linear-gradient(top, #3f3f3f 0%, #2e2f2d 100%);
    /* W3C */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    behavior: url(/css3pie/PIE.htc);
    border: 0;
    color: #fff;
    font-family: "Ubuntu", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px!important;
    font-weight: bold;
    padding: 5px 15px;
    text-shadow: 1px 1px 1px #2e2e2c;
    text-transform: uppercase;
    font-weight: 900!important;
    background: green;
    font-size: 155% !important; }
    #tutorial_introduction_inner .show_tutorial:hover {
      background: #588b3d; }
    #tutorial_introduction_inner .show_tutorial:active {
      background: #909090; }
    #tutorial_introduction_inner .show_tutorial:hover {
      color: white;
      background: #343; }
  #tutorial_introduction_inner a:hover {
    color: #42682d; }
  #tutorial_introduction_inner .link {
    text-align: center; }
  #tutorial_introduction_inner .link + .link {
    padding-top: 7px; }
  #tutorial_introduction_inner p {
    font-size: 120%;
    text-align: center;
    padding-bottom: 28px; }
