<section class="manage_section" id="explore_tiles">
  <div class="row">
    <div class="explore-tiles-titles small-12 columns">
        <span class="explore-sub-page-header"><%= campaign.name %></span>
        <br>
        <div class="related-channel-tags">
          <% campaign.related_channels.each do |channel| %>
            <%= link_to channel.name, explore_channel_path(channel), class: "button outlined gray explore-tag explore-tag-campaign" %>
          <% end %>
        </div>
    </div>
  </div>

  <section class="campaign-description">
    <div class="row collapse" >
      <div class="columns small-12">
        <h4><%= campaign.description %></h4>
      </div>
    </div>
  </section>
  <% unless current_user.is_a?(GuestUser) || current_user.end_user? %>
    <div class="row">
      <div class="columns large-12">
        <div id="copy-all-tiles-button" class="button">
          Copy Campaign
        </div>
      </div>
    </div>
  <% end %>
</section>
