<div class="explore" data-campaign-id="<%= @board.id %>">
  <div id="tile_wall_explore">
    <section class="manage_section" id="channels">
      <% cache @display_channels do %>
        <%= render partial: 'explore/channels', locals: { channels: @display_channels } %>
      <% end %>
    </section>
    <section class="manage_section" id="explore_tiles">
      <%= render partial: 'explore/explore_campaign' %>
    </section>
  </div>
</div>
