<head>
  <meta charset="UTF-8">
  <title></title>
  <!--[if !mso]><!-- -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--<![endif]-->
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <style>
    .backgroundTable{margin:0 auto;padding:0;width:100%!important;}
    .ReadMsgBody{width:100%;}
    .ExternalClass{width:100%;}
    .ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div{line-height:100%;}
    body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;width:100% !important;margin:0;padding:0;-webkit-font-smoothing:antialiased!important;}
    table{mso-table-lspace:0pt;mso-table-rspace:0pt;}
    table td{border-collapse: collapse;mso-table-lspace:0pt; mso-table-rspace:0pt;padding:0;}
    img{-ms-interpolation-mode:bicubic;width:100%;}
    a img{border:none;}
    p{Margin:0;}
    a{text-decoration: none !important;}
    a{color:<%= @demo.try(:primary_color) || "#48BFFF"%>;}
    td.btn a{color:#FFFFFF!important;}

    /* responsive */
    @media screen and (min-width: 481px){
    .top{
      line-height:76px !important;
    }

    } @media screen and (min-width: 481px){
      .innerp{
        padding:0 20px !important;
      }

    } @media screen and (min-width: 481px){
      .headline-bbg{
        padding:0 40px 18px !important;
      }

    } @media screen and (min-width: 481px){
      .headline-gbg{
        padding:0 25px 20px !important;
      }

    } @media screen and (min-width: 481px){
      .col-2e{
        display:table-cell !important;
        width:20px !important;
      }

    } @media screen and (min-width: 481px){
      .col-2{
        display:table-cell !important;
        width:249px !important;
        vertical-align:top !important;
      }
    }
    [owa] .top{line-height:76px!important;}
    [owa] .innerp{padding:0 20px!important;}
    [owa] .headline-bbg{padding:0 40px 18px !important;}
    [owa] .headline-gbg{padding:0 25px 20px !important;}
    [owa] .col-2e{display:table-cell!important;width:20px!important;}
    [owa] .col-2{display:table-cell!important;width:249px!important;vertical-align:top!important;}
  </style>

</head>
