<div class="analytics">
  <div class="row">
    <div class="columns large-5 small-12">
      <div class="copy">
        <h1 class="analytics-header"><%= t('.header') %></h1>
        <h4 class="analytics-subheader"><%= t('.subheader') %></h4>
      </div>
    </div>
    <div class="columns large-7 small-12">
      <div class="analytics-image-container">
        <%= image_tag("marketing_site/analytics.svg", alt: "Measure Progress", class: "analytics-image image") %>
      </div>
    </div>
  </div>

</div>
