<div class="final-cta">
  <div class="wrap">
    <h4 class="pre-header"><%= t('.pre_header') %></h4>
    <h4 class="header mx-auto"><%= t('.header') %></h4>
    <%= link_to t('.final_cta_button'), "#", class:"button pink main-hero-cta-link js-marketing-site-cta", data: { path: new_demo_request_path, cta: "final-cta" } %>
  </div>
</div>
