<div class="main-hero">
  <div class="wrap">
    <div class="copy">
      <h1 class="main-hero-header"><%= t('.header') %></h1>
      <h4 class="main-hero-subheader"><%= t('.subheader') %></h4>
      <%= link_to t('.try_airbo_button'), "#", class:"button yellow main-hero-cta-link js-marketing-site-cta", data: { path: new_demo_request_path, cta: "main-hero" } %>
    </div>
  </div>
</div>
