<div class="secondary-hero">
  <div class="wrap">
    <div class="copy">
      <h1 class="quote">
        <%= t('.quote') %>
      </h1>
      <div class="cite">
        <p class="person"><%= t('.cite') %></p>
        <p class="company"><%= t('.company') %></p>
      </div>
    </div>
  </div>
</div>
