#following_wrapper
  #following.module
    - if @current_user == @user 
      %h1.headline Your Connections
    - else
      %h1.headline= "#{@user.first_name}'s connections"
    - unless @display_user_stats
      = render 'follow_link'
    - else      
      = render 'shared/connections_list', user: @user

    .cf
