#following_wrapper
  #following.module
    - if @current_user == @user 
      %h3 Your Connections
      =link_to "Add", users_path, :class => "link margin-left-5px"
    - else
      %h3= "#{@user.first_name}'s connections"

    - unless @display_user_stats
      = render 'follow_link'
    - else      
      = render 'shared/connections_list', user: @user

    .cf
