:ruby
  if controller.controller_name == "users"
    name_active = 'active'
  else
    points_active = 'active'
  end
  
/ scoreboard_headers are 'relative' for ie7
#scoreboard_headers.relative
  #username_header{:class => name_active}
    .inline Name
    #sort_by_first_name
  #userlevel_header{:class => points_active}
    .inline Tickets
    #sort_by_points
  #userprogress_header Progress
