<div id="main">
	<div class="directory module">
		<h2>User Directory</h2>
		<ul id="other-users">
			<li class="user"><!-- HOOKUP -->
				<div class="user-avatar"><img src="/avatars/thumb/missing.png" /></div>
				<div class="user-info">
					<a href="#">Sample User</a>
					<p>sample@hengage.com</p>
				</div>
				<div><a href="#" class="follow-btn">Follow</a></div>
			</li>
			<li class="user"><!-- HOOKUP -->
				<div class="user-avatar"><img src="/avatars/thumb/missing.png" /></div>
				<div class="user-info">
					<a href="#">Another User</a>
					<p>hotpockets@hengage.com</p>
				</div>
				<div><a href="#" class="follow-btn">Follow</a></div>
			</li>
		</ul>
	</div>
</div>
<div id="secondary">
	<div id="search">
		
	</div>
</div>