<div id="main">
	<div class="directory module">
		<h1 class="headline">User Directory</h1>
		<ul id="other-users">
			<li class="user"><!-- HOOKUP -->
				<div class="user-avatar"><img src="/avatars/thumb/missing.png" /></div>
				<div class="user-info">
					<a href="#">Sample User</a>
					<p>sample@hengage.com</p>
				</div>
				<div class="follow-btn"><a href="#">Follow</a></div>
				<div class="cf"></div>
			</li>
			<li class="user"><!-- HOOKUP -->
				<div class="user-avatar"><img src="/avatars/thumb/missing.png" /></div>
				<div class="user-info">
					<a href="#">Another User</a>
					<p>hotpockets@hengage.com</p>
				</div>
				<div class="follow-btn"><a href="#" class="follow-btn">Follow</a></div>
				<div class="cf"></div>
			</li>
		</ul>
		<div class="cf"></div>
	</div>
</div>
<div id="secondary">
	<div id="search-box" class="module">
		<h1 class="headline">Search</h1>
		<div id="search">
			<input type="text" /><input type="submit" value="Find!" />
		</div>
	</div>
</div>