<div class="explore explore-search-results has-tile-thumnails">
  <div class="row">
    <div class="columns small-12">
      <h4 class="explore-headers search-results-description"><span>Search results for "<%= params[:query] %>"</span></h4>
    </div>
  </div>
  <div class="manage-section">
    <% if @search_service.user_tiles.present? %>
      <%= render 'shared/tiles/display_contextual_tiles', { tiles: @search_service.user_tiles, container: 'client_admin_tiles', presenter: SingleAdminTilePresenter } %>
    <% end %>
  </div>
</div>
