.hidden_tags
  %p.bold Description
  = rule.description
  %br
  %br
  %p.bold Tags
  - if rule.tags_with_primary.empty?
    = "-- no tags --"
  - else
    - rule.tags_with_primary.each do |tag|
      = tag.name
