/* @import "standard_colors";
@import "special_effects";
@import "flick/jquery-ui-1.8.10.custom.css";
@import "topbar";

$overall-background: #dfe3e6;

$column-subheader: $gray;

$message-header-background-color: #6c7868;
$new-message-header-background-color: #ba7d3b;
$message-reply-background-color: #d2e8b9;

$left-gutter: 35px;

a, a:link {
  color: $light-gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-image: url('marketing/background.png');
  padding-top: 40px;
}

h1 {
  font-weight: normal;
  font-size: 24px;
  a, a:visited, a:link {
    text-decoration: none;
    span {
      color: $orange;
    }
  }
}

h2 {
  font-family: "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #58585a;

  margin-bottom: 10px;
}

img {
  margin: 0;
}


.add-friends {
  color: $green;
  float: right;
  font-weight: bold; 
}

.header {
  background: url('new_activity/header_gradient.png');
  height: 73px;

  padding-left: $left-gutter;

  #logo {
    display: inline-block;
    float: left;
    img {
      margin: 0px;
      position: relative;
      top: 5px;
    }
  }

  .inner-header {
    padding: 0 0 10px 0;
    width: 930px;

    #add-action {
      margin-top: 18px;
      float: left;
      color: $blue;
      font-size: 22px;

      .enter-code {
        font-size: 12px;
        vertical-align: middle; 
        width: 478px;

        .prompt {
          font-size: 18px;
          vertical-align: middle;
        }

        input[type="text"] {
          width: 349px;
          height: 17px;
          margin-left: 5px;
          padding: 10px 95px 10px 10px;

          font-size: 15px;
        }

        input[type="image"] {
          position: absolute;
          z-index: +10;
          top: 66px;
          left: 455px;
        }
      }
    }

  }
}

.clear {
  clear: both;
}

.explanation {
  padding: 10px 0; }

.content {
  width: 925px + $left-gutter;
}

.spinner {
  display: none;
}

.tabs, .pills {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  zoom: 1;
}

.tabs:before,
.pills:before,
.tabs:after,
.pills:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}

.tabs:after, .pills:after {
  clear: both;
}

.tabs > li, .pills > li {
  float: left;
}

.tabs > li > a, .pills > li > a {
  display: block;
}

.tabs {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.tabs > li {
  position: relative;
  top: 1px;
}

.tabs > li > a {
  padding: 0 15px;
  margin-right: 2px;
  line-height: 36px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.tabs > li > a:hover {
  text-decoration: none;
  background-color: #eee;
  border-color: #eee #eee #ddd;
}

.tabs > li.active > a {
  color: #808080;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.tabs .menu-dropdown, .tabs .dropdown-menu {
  top: 35px;
  border-width: 1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.tabs a.menu:after, .tabs .dropdown-toggle:after {
  border-top-color: #999;
  margin-top: 15px;
  margin-left: 5px;
}

.tabs li.open.menu .menu, .tabs .open.dropdown .dropdown-toggle {
  border-color: #999;
}

.tabs li.open a.menu:after, .tabs .dropdown.open .dropdown-toggle:after {
  border-top-color: #555;
}

$friends-page-column-width: 454px;
.friends {
  #main, #secondary {
    width: $friends-page-column-width;
  }

  input[type="submit"] {
    font-size: 10px;
    padding: 4px 6px;
  }
}

#footer {
  height: 0px;
  margin: 0;
  clear: both;
}

ul, ol {
  margin-top: 20px;
}

form li {
  list-style: none;
}

#email-support {
  width: 350px;
  padding-top: 30px;
  position: absolute;
  left: 620px;
}

#phone_number_input, #phone_user_password_input, #phone_user_password_confirmation_input {
  label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    margin: 5px auto;
    width: 358px;
    text-align: center;
  }
  input {
    border: 1px solid $black;
    color: $black;
    display: block;
    font-family: Georgia, serif;
    font-size: 38px;
    margin: 0px auto;
    padding: 4px 0px;
    text-align: center;
    width: 358px;
  }
}

form .submit-input {
  text-align: right;
  margin: 0px auto;
  position: relative;
  top: 5px;
  width: 358px;
}

#flash {
  margin: 20px 0 20px $left-gutter;
  width: 960px - $left-gutter;
}

#flash_failure, #flash_success, #flash_notice {
  @include rounded-corners(0);
}

#flash_notice a {
  font-weight: bold;
}

.hidden-form {
  display: none;
  margin-top: 20px;
}

.invite-link {
  margin-left: 4px;
  a, a:visited {
    color: $gray;
  }
  a:hover {
    color: $black;
  }
}

#main-wrapper {
  padding: 25px 50px 25px $left-gutter;
  width: 530px - $left-gutter;
  min-height: 800px;
  float: left;

  background-color: #ffffff;
  border-right: solid #b9c2c7 1px;
}

#main {
  width: 495px;
}

#secondary {
  float: right;
  width: 335px;
  padding: 25px 0 0 25px;

  p {
    line-height: 1.4em;
    margin-bottom: 10px;
  }
}

body.acts {
  #secondary {
    h2 {
      background: #afe073;
      padding: 10px 0 5px 15px;
      margin-bottom: 0;
    }
  }
}


pre {
  background: $black;
  color: $offwhite;
}

code, pre {
  overflow-x: auto;
  margin: 1.5em 0px;
  white-space: pre;
  line-height: 1.5;
}

pre {
  -webkit-box-shadow: #555 0px 2px 4px;
  border: 3px solid #DDD;
  padding: 10px;
}

#secondary #my-score {
  background-color: #94a1a9;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;

  margin-bottom: 30px;

  border: solid 1px #b9c2c7;

  th, td {
    text-align: center;

    padding-top: 0;
    padding-bottom: 0;

    border: 0;

    height: 70px;

    line-height: 1;

    .top-row {
      font-size: 30px;
    }
  }

  th {
    font-size: 20px;
  }

  td.points {
    border-left: solid #ffffff 1px;
    border-right: solid #ffffff 1px;
    font-size: 18px;
  }

  td.ranking {
    font-size: 18px;

    .rank-number {
      font-size: 30px;
    }

    .ordinal-particle {
      vertical-align: super;
      position: relative;
      top: -3px;
    }
  }
}

#secondary ul.top-scores { 
  margin-top: 0px;
  margin-bottom: 10px;
  list-style-type: none;
  border: solid 1px #b9c2c7;

  li {
    padding: 10px 20px 7px 0;
    img {
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  .dark {
    background-color: #efefef;
  }

  .light {
    background-color: #ffffff;
  }

  .ranking {
    display: inline-block;
    font-size: 16px;
    width: 40px;
    padding-left: 10px;
  }

  .name {
    font-size: 14px;
    font-weight: bold;
    color: #355997;
    line-height: 16px;
  }

  .score { 
    float: right;
    font-size: 18px;
    color: #339e3e;
  }

}

#top-users {
  li {
    span {
      color: $light-gray;
      display: block;
      font-size: 11px;
      font-weight: normal;
      line-height: 1.2;
      margin: 0px;
      padding: 0px;
    }
  }
}

// Activity Feed 

li.act-shim {
  clear: both;
  border-bottom: solid #d7d7d7 1px;
}

ul#acts {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  li.act, li.small-act {
    clear: both;

    padding: 20px 25px 20px 10px;

    .avatar48 {
      float: left;

      img {
        width: 43px;
        height: 43px;
      }
    }
  }

  li.act {
    .act-details {
      float: left;

      width: 400px;

      $main-detail-block-width: 315px;

      .user {
        width: $main-detail-block-width;
      }

      .user a, .user a:link, .user a:visited {
        font-size: 14px;
        color: #355997;
        font-weight: bold;
        line-height: 16px;

        vertical-align: top;
      }

      .description {
        font-size: 16px;
        color: #58585a;
        width: $main-detail-block-width;
        padding-bottom: 4px;
        position: relative;
        top: -2px;
        line-height: 1.2;
      }

      .when {
        font-size: 12px;
        color: #92a1aa;
        width: $main-detail-block-width;
        margin-bottom: 20px;
      }

      .points {
        float: right;

        font-size: 20px;
        font-weight: bold;
        color: #339e3e;
      }
    }

    .avatar43 {
      float: left;
      padding: 0 15px 20px 0;

      img {
        width: 43px;
        height: 43px;
      }
    }
  }

  li.small-act {
    .act-details {
      width: 478px;
    }

    p {
      margin-bottom: 0px;
    }
  }
}


.examples {
  li.example {
    .points {
      border: 1px solid $light-gray;
      float: left;
      margin: 0px 6px 0px 0px;
      width: 24px;
      height: 24px;
      float: left;
      position: relative;
      text-align: center;
      padding: 3px 2px 0 2px;
      vertical-align: middle;
    }
    p {
      float: left;
    }
  }
  li:last-child {
    border-bottom: none;
  }
}

button, input[type=submit] {
  @include rounded-corners(4px);
}

button, input[type=submit], .examples .points {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 12px;
  color: $white;
  background: $dark-gray;
  border: 0px solid $gray;
}

button:hover, input[type=submit]:hover, .examples .points:hover {
  background: $aqua;
  cursor: pointer;
}

button:disabled, input[type=submit]:disabled {
  background: $light-gray;
  cursor: pointer;
}

#phone_submit {
  margin-right: 0px;
}

#follow-target {
  height: 48px;
  input {
    margin-top: 8px;
  }
}

body.users-show {
  h3 {
    color: #4a833f;
    font-size: 16px;
  }

  #connections {
    a {
      margin-top: 10px;
      display: inline-block;
    }
  }
}

#profile-head {
  position: relative;

  .avatar48 {
    width: 50;
  }

  .own-number {
    position: absolute;

    left: 65px;
    top: 45px;
  }
}

.account-controls {
  padding-top: 30px;

  form {
    margin-bottom: 40px;

    position: relative;

    input[type="text"], input[type="tel"], input[type="file"] {
      width: 220px;
    }

    input[type="image"] {
      margin-top: 10px;
    }

    label[for="user_send_follow_notification_sms"] {
      width: 220px;
    }

    // Work around some stupidity in Formtastic 
    .required label {
      font-weight: normal;
    }

    abbr {
      display: none;
    }
  }

  form[action="/account"] {
    input[type="image"] {
      top: 0;
    }
  }
}

#profile-stats {
  display: block;
  clear: both;
  margin-top: 20px;
  .stat {
    float: left;
    display: inline;
  }
  #points {
    width: 38px;
    padding-right: 10px;
  }
  #following-count {
    width: 56px;
    padding: 0 10px;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;
  }
  #followers-count {
    width: 60px;
    padding-left: 10px;
  }
}

#follow-button {
  display: inline;
}


.column-header {
  @include rounded-corners(6px);
  line-height: 22px;
  height: 30px;
  background: $gray;
  padding-left: 10px;

  h2 {
    color: $offwhite;
    margin: 0;
    line-height: 30px;
    vertical-align: middle;
  }

  a, a:link, a:hover, a:visited {
    color: $offwhite;
    float: right;
    padding-right: 4px;
  }
}

.column-section {
  margin-bottom: 17px;
}

select {
  font-weight: bold;
  @include rounded-corners(1px);
}

a.current {
  text-decoration: underline; 
}

#achievements  {
  border: solid 1px #b9c2c7;
  margin-bottom: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;

  .achievement {
    color: #58585a;
    font-size: 14px;
    line-height: 15px;

    padding: 15px 15px 0 15px;
  }
}

#conference-header {
  color: $white;
  line-height: 56px;
  font-size: 20px;
}

input.with-hint-text {
  color: #92a1aa;
}

#activity-return {
  clear: both;
  padding-top: 15px;
}

textarea#bad_message_reply_body {
  height: 55px;
}

.bad-message-thread {
  width: 100%;
  padding: 10px 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;

  .message-sender {
    font-weight: bold;
    color: blue;
  }

  .message-replier {
    font-weight: bold;
    color: orange;
  }

  .message-reply, .message-details {
    margin-bottom: 15px;
  }
}

.loading-message {
  display: none;
  font-weight: bold;
}

.message {
  margin-top: 5px;
  margin-bottom: 35px;
  width: 500px;
  font-size: 16px;

  .message-header {
    @include rounded-corners(2px);
    background-color: $message-header-background-color;
    color: $white;
  }

  .message-body {
    @include rounded-corners(2px);
    background-color: $white;
    color: $black;
  }

  .automated-reply {
    @include rounded-corners(2px);
    background-color: yellow;
    color: $black;
  }

  .reply {
    @include rounded-corners(2px);
    background-color: $message-reply-background-color;
    color: $black;
  }

  form {
    display: inline;

    input[type="submit"] {
      background-color: inherit;
      border: none;
      color: $light-gray;
      font-size: inherit;
      text-transform: none;
      font-weight: normal;
      padding: 0;
    }
  }
}

.new-watchlisted-message {
  .message-header {
    background-color: $new-message-header-background-color
  }
}

#see-more {
  margin-top: 10px;
}

#see-more-spinner {
  display: none;
  margin: 0;
  vertical-align: middle;
}

ul#other-users {
  li.associate {
    form {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
}

.clear-avatar {
  margin-top: 20px;
}

.secondary-column-section {
  @include rounded-corners(6px);
  padding-top: 17px;
  padding-left: 15px;
  background-color: white;
  margin-bottom: 10px;

  a, a:link, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: $dark-gray;
  }

  a:hover {
    text-decoration: underline;
  }
}

.fan-count {
  font-weight: bold;
}

#connections {
  padding-bottom: 17px;
}

#existing-rules {
  td, th {
    border: 2px solid black;
  }
}

.rule-warning {
  background-color: yellow;
  color: red;
}

#existing-rules, #add-rule, #bulk-load {
  margin-bottom: 90px;

  td, th {
    padding-left: 5px;
  }

  th:first-child {
    width: 200px;
  }

  img.row-toggle-button  {
    margin: 0;
    cursor: pointer;
  }

  tr.aliases {
    display: none;
  }
}

fieldset#secondary-values {
  display: none;

  .spinner {
    margin: 0;
  }
}

fieldset#bonus-thresholds {
  label {
    display: inline;
  }

  input {
    width: 50px;
  }
}

fieldset#levels {
  label {
    display: inline;
  }

  input {
    width: 250px;
  }
}

#fans-wrapper, #pending-followers-wrapper {
  margin: 20px 0 0 30px;
  width: 930px;
  background: #ffffff;

  ul {
    margin-top: 0;
    list-style: none;

    a, a:link, a:visited {
      color: #3e5d94;
      font-weight: bold;
    }

    li {
      padding: 15px 15px 15px 10px;
      border-bottom: solid 1px #bebebe;
      position: relative;

      .associate-details, .pending-follower-details {
        position: absolute;
        top: 12px;
        left: 75px;

        color: #58585a;
        font-size: 14px;
      }

      .associate-points {
        font-size: 20px;
        font-weight: bold;
        color: #339e3e;

        position: absolute;
        top: 9px;
        left: 220px;
      }
    }
  }

  h2 {
    padding-left: 10px;
    padding-top: 10px;
  }

  .fan-column {
    width: 390px;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
  }

  #fans-of {
    margin-left: 10px;
    padding-right: 62px;
  }

  #fans {
    margin-left: 63px;
  }
}

#fans-wrapper {
  li {
    form {
      position: absolute;
      top: 13px;
      right: 15px;
    }
  }
}

#pending-followers-wrapper {
  padding-left: 10px;
  padding-bottom: 20px;

  ul {
    width: 390px;
  }

  .pending-follower-details {
    form {
      display: inline-block;
    }
  }
}

.sessions, .passwords {
  #flash {
    margin: 20px 0;
    width: 1000px;
  }

  .content {
    margin: 0 auto;

    h2 {
      font-size: 36px;
    }

    #session-wrapper, #password-wrapper {
      padding: 25px 50px;
      width: 900px;
      margin: 150px auto;

      background-color: transparent;

      form {
        margin-bottom: 20px;

        input {
          font-size: 20px;
          display: inline-block;
        }
      }
    }
  }
}

#no-login-yet {
  width: 900px;
  position: relative;
  top: 130px;
  left: 300px;

  h2 {
    font-size: 36px;
  }
}

#scoreboard-tabs {
  margin-bottom: 5px;
  background: #ffffff;
  border-left: solid 1px #b9c2c7;
  width: 332px;
}

#signout-nav {
  float: right;
  margin-right: 0;

  a {
    padding-right: 0;
  }
}
*/
