$ugrey: #282828;

#unsubscribe {
  input[type='submit']{
    width: auto;
    background: #85d92b;
    font-family:'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight:500;
    text-transform:uppercase;
    border: 1px solid #5fbb43;
    line-height: 1;
    color: #fff;
    border-radius: 5px;
    padding: 1ex 1.5ex;
    text-shadow: 1px 1px 2px #58901c;
        filter: dropshadow(color=#58901c, offx=1, offy=1);
    &:hover{
      background: lighten(green, 10%);
      border:1px #319b3e solid;
    }
  }
  .spacer{
    height: 1cm;
  }
  textarea{
    height: 3em;
    width: 30em;
    border-radius: 3px;
  }
  form {
    margin-top: 30px;
  }
}
