$ugrey: #282828;

#unsubscribe {
  input[type='submit']{
    width: auto;
    background: green;
    font-size: 20px;
    border: 2px solid $ugrey;
    line-height: 1;
    color: $ugrey;
    border-radius: 13px;
    padding: 0 1ex;
    &:hover{
      background: lighten(green, 10%);
    }
  }
  .spacer{
    height: 1cm;
  }
  textarea{
    height: 3em;
    width: 30em;
    border-radius: 3px;
  }
  form {
    margin-top: 30px;
  }
}
