<div class="image_library">
  <%= render 'image_uploader', form: form %>

  <% @tile_images.each do |tile_image| %>
    <%= content_tag :div, class: "tile_image_block", data: {"tile-image-id" => tile_image.id, "image-url" => tile_image.image.url} do %>
      <%= image_tag tile_image.thumbnail(:email_digest) %>
    <% end %>
  <% end %>
</div>

<%= js_at_end do %>
  window.imageLibrary();
<% end %>