<div class="image_library">
  <div class="tile_image_block upload_image">
    <%= fa_icon('arrow-circle-o-up 2x') %>
    <span>Upload Image</span>
  </div>
  <% @tile_images.each do |tile_image| %>
    <%= content_tag :div, class: "tile_image_block", data: {"tile-image-id" => tile_image.id} do %>
      <%= image_tag tile_image.thumbnail(:email_digest) %>
    <% end %>
  <% end %>
</div>