<div class="tile_texts_container">
  <div class="tile_quiz">
    <div class="tile_types">
      <ul class="button-group">
        <li class="tile_type">
          <a href="#" data-dropdown="drop1" class="button">Action <i class="fa fa-caret-down"></i></a>
          <ul id="drop1" class="f-dropdown">
            <li>Do something</li>
            <li>Read Tile</li>
            <li>Read Article</li>
            <li>Share On Social Media</li>
            <li>Visit Web Site</li>
            <li>Watch Video</li>
            <li>Custom...</li>
          </ul>
        </li>
        <li class="tile_type">
          <a href="#" data-dropdown="drop2" class="button">Dropdown Button</a>
          <ul id="drop2" class="f-dropdown">
            <li>This is a link</li>
            <li>This is another</li>
            <li>Yet another</li>
          </ul>
        </li>
        <li class="tile_type">
          <a href="#" data-dropdown="drop3" class="button">Dropdown Button</a>
          <ul id="drop3" class="f-dropdown">
            <li>This is a link</li>
            <li>This is another</li>
            <li>Yet another</li>
          </ul>
        </li>
      </ul>      
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
