<div id="publish">
  <%= form.submit submit_button_text %>
  
  <%= link_to "Back",
      client_admin_tiles_path,
       confirm: "Are you sure you want to cancel?",
       :class => "cancel_tile_builder"
    %>
</div>

<%= image_tag "spinner_gears.gif", id: "submit_spinner", style: "display: none" %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    var submitMessage = $('#submit_spinner');
    $('form#new_tile_builder_form').submit(function() {$(this).find('input:submit').prop('disabled', true) ; submitMessage.show()});
  <% end %>
<% end %>
