- subnav = TilesToolsSubnavPresenter.new(current_user)
- if subnav.show_subnav?
  %ul#tile_manager_nav
    - subnav.items_with_corrected_params do |item_params|
      = render partial: "client_admin/tiles/subnav_item", locals: item_params