<div id="tile-joyride-show-post">
  <ol class="joyride-list tile-show-post" data-joyride>
    <li data-id="post_header" data-options="tipLocation:bottom" data-text="Got it">
      <p class="top-section">
        Click <span>Post</span> to publish your tile.
      </p>
      <p class="bottom-section">
        Your tile is saved as a Draft.<br/>
        Not ready to post? Click <span>Back to Tiles</span>.
      </p>
    </li>
  </ol>          
</div>
