<div id="tile-joyride-show-archive">
  <ol class="joyride-list tile-show-archive" data-joyride>
    <li data-id="back_header" data-options="tipLocation:bottom">
      <p class="top-section">
        Congratulations! Your tile is posted.
      </p>
      <div class="bottom-section">
        Next click <span>Back to Tiles</span> to see your board.
      </div>
    </li>
  </ol>          
</div>
