%h1#title.page-title Manage tiles

= render "shared/flashes"

%div#tile-manager-tabs

  %ul
    %li
      %a{href: "#active"} Active
    %li
      %a{href: "#digest"} Digest email
    %li#archived_tab
      %a{href: "#archive"} Archived

  %div#active=  render partial: 'active'
  %div#digest=  render partial: 'digest'
  %div#archive= render partial: 'archive'