<%= render partial: 'client_admin/tiles/tile_preview/share_section_intro' %>
<%= render partial: 'client_admin/tiles/tile_preview/submitted_tile_menu_intro' %>

<div class="row">
  <%= render 'tile_preview' %>
</div>
