<p class="user small_margin">
  <% if user == current_user %>
    You
  <% elsif user.is_guest? %>
    A guest user
  <% else %>
    <%= link_to(user.name, user, :class => 'name-of-user') %>
  <% end %>
  <%= (act.text) %>
</p>

<span class="when small_cap">
  <%= time_description %> ago
</span>
