<span class="user"><%= link_to(act.user.name, act.user) %></span>
<span class="description">
  <%= (act.text) %>
</span>
<span class="when">
  <%= time_ago_in_words(act.created_at) %> ago
</span>
<% if act.points %>
  <span class="points">
    <span class="point-value"><%= act.points %></span> points
  </span>
<% end %>
