<div class="row">
  <div class="large-8 columns">
    <h3 class="board_name"><%= truncate board.name, length: 36 %></h3>
  </div>

  <div class="large-4 columns reserved_for_controls">
    reserved for controls
  </div>
</div>
