<% wrapper_classes = %w(switch small round) %>
<% wrapper_classes << "#{email_type}_wrapper" %>
<% wrapper_classes << "disabled" if disabled %>

<%= content_tag 'div', class: wrapper_classes do %>
  <% radio_button_name = "mute_#{email_type}_#{board_id}" %>
  <%= radio_button_tag radio_button_name, false, !original_setting, {class: "#{email_type}_unmute", disabled: disabled, "data-mute_url" => mute_url, "data-board_id" => board_id } %>
  <%= radio_button_tag radio_button_name, true, original_setting, {class: "#{email_type}_mute", disabled: disabled, "data-mute_url" => mute_url, "data-board_id" => board_id } %>
  <span class="green-paddle"></span>
<% end %>
