<div id="board_settings" class="reveal-modal">
  <div id="board_settings_content_wrapper">
    <div class="row">
      <h1 class="large-12">Board Settings</h1>
    </div>

    <a id="close_board_settings" href="#">Close</a>

    <% if boards_as_admin.present? %>
      <div class="row" id="admin_board_controls">
        <h3 class="large-12">Boards You Manage</h3>
        <% boards_as_admin.each do |board| %>
          <div class="row">
            <div class="large-8 columns">
              <h3><%= truncate board.name, length: 36 %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if boards_as_regular_user.present? %>
      <div class="row" id="user_board_controls">
        <h3 class="large-12">Boards You Participate In</h3>
        <% boards_as_regular_user.each do |board| %>
          <div class="row">
            <div class="large-8 columns">
              <h3><%= truncate board.name, length: 36 %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>  

<%= content_for :javascript do %>
  <%= javascript_tag do %>
    $('#close_board_settings').click(function(event) {
      event.preventDefault();
      $('#board_settings').foundation('reveal', 'close');
    });
  <% end %>
<% end %>

