<div id="<%= button_id %>" class="button <%= button_classes %>" data>
  <span id="button_text">
    <%= button_text %>
  </span>
  <i class="fa fa-spinner fa-spin fa-fw", id="button_spinner", style="display: none"></i>
  <i class="fa fa-check", id="button_complete", style="display: none"></i>
</div>
