#tutorial_menu
  #steps{:class => @arrow_dir}= "Step #{@step} of 7"
  #gear= image_tag 'tutorial/exit.png'
  %br
  .clear
  #drop_down
  #options
    .close_tutorial= link_to "Leave Tutorial", "#l"
    
