#tutorial_menu
  #steps{:class => @tutorial_step.arrow_dir}= "Step #{@tutorial_step.index} of 8"
  #gear
  %br
  .clear
  #drop_down
  #options
    .close_tutorial= link_to "Leave Tutorial", "#l"
    
