<div class="email-client">
  <div class="client-toolbar">
    <i class="email-buttons red"></i>
    <i class="email-buttons yellow"></i>
    <i class="email-buttons green"></i>
    <span class="subject-field"><%= subject %></span>
  </div>
  <div class="iframe">
    <div id="share_tiles_email_preview_blocker" style="position:absolute; top:0; left:0;"></div>
    <iframe id="share_tiles_email_preview" src="" width="100%" height="100%">    
   </iframe>
  </div>
</div>
