<% if flash.any? %>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <% next if key.to_s =~ /^mp_track/ %>
      <div id="flash_<%= key %>">
        <% if ApplicationController::FLASHES_ALLOWING_RAW.include?(key.to_s) %>
          <%= raw value %>
        <% else %>
          <%= h value %>
        <% end %>
      </div>
    <% end -%>
  </div>
<% end %>
