<div class="header">
  <div class="inner-header">
    <div id="header-and-slogan">
      <h1><a href="/">H Engage: <span class="slogan">to your health!</span></a></h1>
    </div>

    <div id="account">
      <%= link_to "By Invitation Only", page_url('invitation') %>
    </div>
  </div>
</div>
