<header>
  <div class="row" id="top_bar">

    <nav id="navigation" class="columns"> <!-- offcanvas menu -->

      <div class="large-4 columns push-8 nav_items">
        <a class="sign_in_button" href="/sign_in">Sign in</a>
        <ul>
          <li><a href="">Contact Us</a></li>
          <li><a href="">Case Studies</a></li>
          <li><a href="">Pricing</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </div>
      

    </nav> <!-- end of off canvas -->
      
  </div> <!-- end of topbar -->

  <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>

</header>
