<div class="header">
	<div class="app_bar">
		<div class="app_by"><p>Brought to you by <a href="http://www.hengage.com" title="H Engage">H Engage</a></p></div>
		<ul class="app_settings">
			<li><a href="#" title="Help">Help</a></li>
			<li><a href="#" title="Settings">Settings</a></li>
			<li><a href="#" title="Sign Out">Sign Out</a></li>
		</ul>
	</div>
	<div class="masthead">
		<div class="mast_top">
			<div class="logo_container"><a href="#" title="!VARIABLE!"><img src="http://connie.cc/files/highmark.png" alt="!VARIABLE!" /></a></div>
			<div class="welcome">
				<a href="#" title="!VARIABLE!"><img src="http://www.scientificamerican.com/media/inline/veggie-cat-food_1_thumb.jpg" alt="!VARIABLE!" /></a>
				<div class="welcome_text">
					<p>Welcome back,</p>
					<p><a href="#" title="!VARIABLE!">!VARIABLE limit it to this amount!</a></p>
				</div>
			</div>
			<ul class="navigation">
				<li><a class="a_current" href="#" title="Home">Home</a></li>
				<li><a href="#" title="Games">Games</a></li>
				<li><a href="#" title="My Profile">My Profile</a></li>
				<li><a href="#" title="Directory">Directory</a></li>
			</ul>
			<div class="cf"></div>
		</div>
		<div class="mast_center">
			<ul class="help">
				<li class="help_command">Do something!</li>
				<li class="help_progress">See how it affects your progress!</li>
				<li class="help_level">Level up!</li>
			</ul>
		</div>
		<div class="mast_bottom">
			<input type="text" />
			<!--how the hell would i even do this... ack-->
			<div class="progress"></div>
			<p>Current Level:</p>
		</div>
	</div>
</div>