<header>
  <div class="row" id="top_bar">

    <div class="large-2 columns" id="logo">
      <a href="/"><%= image_tag "logo.png", "alt" => "Airbo" %></a>
    </div>

    <nav id="navigation" class="large-10 columns"> <!-- offcanvas menu -->

      <div class="large-4 columns push-8 nav_items">
        <a class="sign_in_button" href="/sign_in">Sign in</a>
        <div class="how_it_works">
          <p>How it works</p>
          <ul>
            <li><a id="more_info" href="/product">More information</a></li>
            <li><a id="pricing" href="/pages/pricing">Pricing</a></li>
          </ul>
        </div>
      </div>
      

    </nav> <!-- end of off canvas -->
      
  </div> <!-- end of topbar -->

  <div id="small-toggle" class="off-canvas-toggle"><a href="#side-nav" class="small_cap">MENU</a></div>

</header>
