.legal-footer{:style => "margin-top: 30px; font-size:0.8em"}
  Copyright &copy; 2013 H.Engage. All Rights Reserved.
  %br
  %br
  Our mailing address is:
  %br
  222 Newbury St.
  %br
  Floor 3
  %br
  Boston, MA 02116

