<div class="legal-footer" style="margin-top: 30px; font-size:0.8em">
  <%= render 'copyright' %>
  <br/>
  <br/>
  Our mailing address is:
  <br/>
  <%= AIRBO_HQ_STREET %>
  <br/>
  <%= "#{AIRBO_HQ_CITY} #{AIRBO_HQ_STATE} #{AIRBO_HQ_ZIP}" %>
</div>
