.legal-footer{:style => "margin-top: 30px; font-size:0.8em"}
  Copyright &copy; 2013 H.Engage. All Rights Reserved.
  %br
  %br
  Our mailing address is:
  %br
  292 Newbury St.
  %br
  Suite 547
  %br
  Boston, MA 02115

