.row
  .large-12
    .lock_screen.text-center
      .fa.fa-lock
      %div.heading
        %h1 Please create and post at least one tile to unlock this page.
        //%h3 Please create and post at least one tile to unlock this page.
      = link_to 'Go to Tiles Page', client_admin_tiles_path, class: 'light_button'