<form id="signup_form" class="large-12">
  <label for="contact_email">Sign up free and claim your account.</label>
  <input type="email" id="contact_email" name="email" placeholder="enter your email" />
  <input type="submit" value="Create board" />
</form>
<div id="signup_responses" class="large-12">
  <div id="submitting_signup_form" class="response_message" style="display: none">Please wait...</div>
  <div id="signup_error" class="response_message" style="display: none">Please enter an accurate email</div>
  <div id="signup_thanks" class="response_message" style="display: none">Thanks! We're currently backlogged about a day. We'll email you as soon as your account is ready.</div>
</div>