<% if act.points && act.points > 0 %>
  <div class="points">
    <span class="point-value"><%= pluralize act.points, 'pt' %></span>
  </div>
<% end %>
<div class="user" style="display: inline">
  <%= link_to(act.user.name, act.user, :class => 'name-of-user') %>
</div>
<div class="description"><%= (act.text) %></div>
<div class="when">
  <%= time_ago_in_words(act.created_at) %> ago
</div>
