<div id="add-action">
  <%# TODO: fragment cache this form %>
  <%= form_tag acts_path do %>
    <span class="enter-code">
      <input type="text" class="with-hint-text" name="act[code]" value="enter a command or action">
      <input type="submit" value="Play">
    </span>
  <% end %>

  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $('.enter-code .with-hint-text').live('focus', (function(e) {
        $(this).attr('value', '').removeClass('with-hint-text');
      }));
    <% end %>
  <% end %>
</div>
