<% if act.points %>
  <div class="points">
    <span class="point-value"><%= pluralize act.points, 'pt' %></span>
  </div>
<% end %>
<div class="user"><%= link_to(act.user.name, act.user) %></div>
<div class="description"><%= (act.text) %></div>
<div class="when">
  <%= time_ago_in_words(act.created_at) %> ago
</div>
