<title><%= OpengraphService.title(yield(:page_title)) %></title>
<meta property="og:title" content="<%= OpengraphService.title(yield(:page_title)) %>" />
<meta property="og:description" content="<%= OpengraphService.default_description %>" />
<meta property="og:image" content="<%= OpengraphService.default_image %>" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Airbo" />
