<!-- <div id="tile_copied_lightbox" class="reveal-modal tile_copied_reveal">
  <h2>Success!</h2>
  <p>Tile has been copied to your board's drafts section.</p>
  <div id="post_copy_buttons">
    <%= link_to "OK", "#", id: "close_tile_copied_lightbox" %>
    <%= link_to "Edit Tile", "#", id: "edit_copied_tile_link" %>
    <%= link_to "Manage Your Board", client_admin_tiles_path, id: "manage_board_post_copy" %>
  </div>
</div>

<% content_for :javascript do %>
  <% javascript_tag do %>
    $(document).on('click', '#close_tile_copied_lightbox', function(event) {
      event.preventDefault();
      $('#tile_copied_lightbox').foundation('reveal', 'close');
    });
  <% end %>
<% end %>
 -->