<div class="js-public-nav-bar public-nav-bar sticky marketing-site-header">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <a href="<%= root_path %>" style="margin-top:7px;margin-bottom:7px"><%= image_tag 'logo_standard.png' %></a>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar"id="menuButton"><div><span class="burger-icon"></span></div></li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
      </ul>
    </section>
  </nav>
</div>
