<section id="request_demo" class="lightbox-content"> <!-- old LB class = .lightbox-content -->
  <a href="#!" class="close_request_demo close-lightbox-button">Close</a><!-- .close_request_demo -->
  <h1>Great!</h1>
  <h2>We just need some info to get started.</h2>
  <form>
    <ul id="demo_basics">
      <li><input type="text" id="contact_name" placeholder="First and last name" /></li>
      <li><input type="text" id="contact_email" placeholder="Email address" /></li>
      <li><input type="text" id="contact_company" placeholder="Company" /></li>
      <li><input type="text" id="contact_role" placeholder="Role" /></li>
      <li><textarea id="contact_comment" placeholder="Tell us about your interests and priorities"></textarea></li>
    </ul>
    <input type="submit" value="All set!" />
    <span class="submitting_status" style="display:none">Submitting...</span>
    <span class="all_fields_error" style="display:none">Please fill in all fields.</span>
  </form>
</section>

<%= render "shared/request_demo_js" %>
