<script>
  $('[data-request-demo-email-only]').submit(function(event) {
    event.preventDefault();
    var nameField = $(this).find('[name=contact_email]');
    var email = nameField.val().replace(/\s+/g, '');

    if(email == '') {
      nameField.attr('placeholder', 'Please enter a valid email')
    } else {
      var form = $(this);
      var data = {
        contact_email:   email,
        contact_name:    '',
        contact_company: '',
        contact_role:    '',
        contact_comment: '',
        source:          form.data('request-demo-email-only'),
        silent:          true
      }
      form.html('<div class="submitting_email_only_request">Submitting...</div>');
      $.post('/email_info_requests', data, function(){
        form.html('<div class="email_only_request_submitted">Thanks! We\'re backlogged about a day. We\'ll email you when your Board is ready.</div>');
      });
    }
  });

  $('[data-request-demo-full]').click(function(event){
    event.preventDefault();
    var encloser = $(this).parents('.slide');
    if(encloser.size() == 0) {
      encloser = $(this).parents('section');
    }

    $('#request_demo form').data('request-demo-source', $(this).data('request-demo-source'));
    $('#request_demo').lightbox_me();
  });

  var contact_name = $('#contact_name');
  var contact_email = $('#contact_email');
  var contact_company = $('#contact_company');
  var contact_role = $('#contact_role');
  var contact_comment = $('#contact_comment');
  var contact_errors = 0;
  var blankFields = [];
  var submitting_status = $('.submitting_status');
  var all_fields_error = $('.all_fields_error');
  var request_demo = $('#request_demo');
  var contact_form = request_demo.find('form');

  var required_fields = [contact_name, contact_email, contact_company, contact_role, contact_comment];

  restartForm();

  function bindValidationToBlur(field) {
    field.blur(function() {
      validateField(field);
    });
  }

  _.each(required_fields, bindValidationToBlur);

  function validateInfoRequestForm(){
    _.each(required_fields, validateField);
  }

  function blankField(field) {
    return($.trim(field.val()) == '');
  }

  function validateField(field) {
    var _field = $(field);

    if(blankField(_field)) {
      _field.css('border','1px #BC4C40 solid');
      contact_errors = true;
      blankFields = blankFields.concat(_field.attr('id'));
    } else {
      _field.css('border','1px #4FAA60 solid');
      all_fields_error.hide();
    }
  }

  function disableInputFields(form) {
    form.find('input, textarea').attr('disabled', 'disabled');
  }
  
  function restartForm(){
    contact_form.find('input, textarea').removeAttr('disabled');
    contact_form.find('input[type=text], textarea').val('')
  }

  function fadeOutThanksMessage() {
    request_demo.animate({opacity: 0}, {complete: function() {request_demo.trigger('close');}});
  }

  function doAfterInfoRequest() {
    submitting_status.hide();
    disableInputFields(contact_form);
    request_demo.html("<a href='#!' class='close_request_demo close-lightbox-button'>Close</a><h1>Thanks!</h1><h2>We'll be in touch.</h2>");
  }

  function submitInfoRequest(form) {
    submitting_status.show();
    var data = {
      // .serialize should work but doesn't.
      contact_name:    contact_name.val(),
      contact_email:   contact_email.val(),
      contact_company: contact_company.val(),
      contact_role:    contact_role.val(),
      contact_comment: contact_comment.val(),
      source:          $(form).data('request-demo-source')
    };
    $.post('/email_info_requests', data, function(message){
      doAfterInfoRequest();
    });

  }

  function showErrorMessage() {
    all_fields_error.show();
  }

  $('#request_demo form input[type=submit]').click(function(e){
    e.preventDefault();
    contact_errors = false;
    blankFields = [];
    validateInfoRequestForm();
    if (contact_errors) {
      showErrorMessage();
    } else {
      submitInfoRequest(contact_form);
    }
  });

  $(document).on('click', '.close_request_demo', function(){ $('#request_demo').trigger('close'); });
</script>
