<section id="request_demo">
  <h1>Great!</h1>
  <h2>We just need some info to get started.</h2>
  <form>
    <ul id="demo_basics">
      <li><input type="text" id="contact_name" placeholder="First and last name" /></li>
      <li><input type="text" id="contact_email" placeholder="Email address" /></li>
      <li><input type="text" id="contact_company" placeholder="Company" /></li>
      <li><input type="text" id="contact_role" placeholder="Role" /></li>
      <li><input type="text" id="contact_size" placeholder="Company size" /></li>
      <li><textarea id="contact_comment" placeholder="Tell us about your interests and priorities"></textarea></li>
    </ul>
    <input type="submit" value="All set!" />
    <span class="submitting_status" style="display:none">Submitting...</span>
    <span class="submitted" style="display:none">Thanks, we'll be in touch within two business days!</span>
  </form>
</section>

<script>
$('.request_a_demo').click(function(){
  $("#request_demo").lightbox_me();
});


  var contact_name = $('#contact_name');
  var contact_email = $('#contact_email');
  var contact_phone = $('#contact_phone');
  var contact_comment = $('#contact_comment');
  var contact_errors = 0;
  var contact_form = $('.request-info');
  var submitting_status = $('.submitting_status');
  var submitted = $('.submitted');

  restartForm();

  contact_name.blur(function(){
    validateName(0);
  });

  contact_email.blur(function(){
    validateEmail(0);
  });

  function validateInfoRequestForm(){
    validateName(1);
    validateEmail(1);
  }

  function validateName(display_error){  
    if ((contact_name.val() == default_name) || (contact_name.val() == '')){
      contact_errors = 'name';
      if (display_error){
        //name_status.show();
        contact_name.css('border','1px red solid');
      }
    }else{
      //name_status.hide();
      contact_name.css('border','1px #4FAA60 solid');
    } 
  }

  function validateEmail(){
    if ((contact_email.val() == default_email) || (contact_email.val() == '')){
      contact_errors = 'email';
      //email_status.show();
      contact_email.css('border','1px red solid');
    }else{
      //email_status.hide();
      contact_email.css('border','1px #4FAA60 solid');
    } 
 
  }


  function disableInputFields(form) {
    form.find('input, textarea').attr('disabled', 'disabled');
    }

  function restartForm(){
    contact_form.find('input, textarea').removeAttr('disabled');
    contact_email.val(default_email);
    contact_phone.val(default_phone);
    contact_name.val(default_name);
    contact_comment.val(default_comment);
  }


  function doAfterInfoRequest() {
    submitting_status.hide();
    submitted.show();
    disableInputFields(contact_form);
  }

  function submitInfoRequest(form) {
    submitting_status.show();
    console.log(contact_comment.val());
    var data = {contact_email: contact_email.val(),
                contact_phone: contact_phone.val(),
                contact_name: contact_name.val(),
                contact_comment: contact_comment.val()}
    $.post('email_info_requests', data, function(message){
      doAfterInfoRequest();
    });

  }

  $('#request_demo form input[type=submit]').click(function(e){
    e.preventDefault();
    contact_errors = 0;
    validateInfoRequestForm();
    if (contact_errors == 0){
      submitInfoRequest(contact_form);
    }
    
  });


</script>
