<section id="request_demo" class="lightbox-content">
  <a href="#!" class="close_request_demo">Close</a>
  <h1>Great!</h1>
  <h2>We just need some info to get started.</h2>
  <form>
    <ul id="demo_basics">
      <li><input type="text" id="contact_name" placeholder="First and last name" /></li>
      <li><input type="text" id="contact_email" placeholder="Email address" /></li>
      <li><input type="text" id="contact_company" placeholder="Company" /></li>
      <li><input type="text" id="contact_role" placeholder="Role" /></li>
      <li><input type="text" id="contact_size" placeholder="Company size" /></li>
      <li><textarea id="contact_comment" placeholder="Tell us about your interests and priorities"></textarea></li>
    </ul>
    <input type="submit" value="All set!" />
    <span class="submitting_status" style="display:none">Submitting...</span>
  </form>
</section>

<script>
  $('.request_a_demo').click(function(){
    $("#request_demo").lightbox_me();
  });
  $('.close_request_demo').click(function(){
    $('#request_demo').trigger('close');
  });


  var contact_name = $('#contact_name');
  var contact_email = $('#contact_email');
  var contact_company = $('#contact_company');
  var contact_role = $('#contact_role');
  var contact_size = $('#contact_size');
  var contact_comment = $('#contact_comment');
  var contact_errors = 0;
  var submitting_status = $('.submitting_status');
  var request_demo = $('#request_demo');
  var contact_form = request_demo.find('form');

  restartForm();

  contact_name.blur(function(){
    validateName(0);
  });

  contact_email.blur(function(){
    validateEmail(0);
  });

  function validateInfoRequestForm(){
    validateName(1);
    validateEmail(1);
  }

  function blankField(field) {
    return($.trim(field.val()) == '');
  }

  function validateName(display_error){  
    if (blankField(contact_name)){
      contact_errors = 'name';
      if (display_error){
        //name_status.show();
        contact_name.css('border','1px red solid');
      }
    }else{
      //name_status.hide();
      contact_name.css('border','1px #4FAA60 solid');
    } 
  }

  function validateEmail(){
    if (blankField(contact_email)){
      contact_errors = 'email';
      //email_status.show();
      contact_email.css('border','1px red solid');
    }else{
      //email_status.hide();
      contact_email.css('border','1px #4FAA60 solid');
    } 
 
  }


  function disableInputFields(form) {
    form.find('input, textarea').attr('disabled', 'disabled');
    }

  
  function restartForm(){
    contact_form.find('input, textarea').removeAttr('disabled');
    contact_form.find('input[type=text], textarea').val('')
  }

  function fadeOutThanksMessage() {
    request_demo.animate({opacity: 0}, {complete: function() {request_demo.trigger('close');}});
  }

  function doAfterInfoRequest() {
    submitting_status.hide();
    disableInputFields(contact_form);
    request_demo.html("<a href='#!' class='close_request_demo'>Close</a><h1>Thanks!</h1><h2>We'll be in touch.</h2>");
  }

  function submitInfoRequest(form) {
    submitting_status.show();
    var data = {
      // .serialize should work but doesn't.
      contact_name:    contact_name.val(),
      contact_email:   contact_email.val(),
      contact_company: contact_company.val(),
      contact_role:    contact_role.val(),
      contact_size:    contact_size.val(),
      contact_comment: contact_comment.val()
    };
    console.log(data);
    $.post('email_info_requests', data, function(message){
      doAfterInfoRequest();
    });

  }

  $('#request_demo form input[type=submit]').click(function(e){
    e.preventDefault();
    contact_errors = 0;
    validateInfoRequestForm();
    if (contact_errors == 0){
      submitInfoRequest(contact_form);
    }
    
  });


</script>
