<h2>Scoreboard</h2>

<% user_rankings ||= {} %>

<ol class="top-scores">
  <% users.each do |user| %>
    <li value="<%= user_rankings[user] %>">
      <%= link_to user do %>
        <span class="name"><%= user.name %></span>
      <% end %>
      <span class="score">
        <span class="score-value"><%= user.points %></span> points
      </span>
    </li>
  <% end %>
</ul>
