<div class="large-<%= column_count %> columns">
  <div class="search-bar">
    <%= form_tag explore_search_path, method: :get, id: "airbo-search" do %>
    <span class="search-bar-wrapper">
        <%= text_field_tag(
        :query, nil,
        placeholder: "Search",
        value: params[:query],
        class: "search-bar-input"
          ) %>
        <i id="nav-bar-search-submit" class="fa fa-search airbo-search-input-button fa-1x" aria-hidden="true"></i>
        <i id="nav-bar-search-submit-loading" class="fa fa-spinner fa-1x" aria-hidden="true" style="display:none;"></i>
      </span>
      <% end %>
    </div>
  </div>
