<div id="see-more" class="button " data>
  <span id="button_text">
    <%= "More" %> <i class="fa fa-angle-down" aria-hidden="true" id="show_more_tiles_down_arrow"></i>
  </span>
  <i class="fa fa-spinner fa-spin fa-fw", id="see-more-spinner", style="display: none"></i>
</div>
