<div id="segmentation-results" class="section">
  <% if segmentation_results.present? %>
    <div id="segmentation-explanation" class="segmentation-results-col">
      <div id="segmentation-explanation">
        <h4>Segmented by <span class="explanation"><%= segmentation_results.format_criteria %></span>.
        </h4>
      </div>
      <div id="segmentation-numbers" class="segmentation-results-col">
        <h4>Users in this segment: <%= segmentation_results.found_user_ids.count %></h4>
      </div>
      <p id="segmented-at-timestamp">Searched <%= time_ago_in_words segmentation_results.created_at %> ago</p>
    </div>

    <div class="clear"></div>
    <p id="user-info-target"></p>
  <% else %>
    <% if request.xhr? %>
      <%= render partial: 'shared/flashes' %>
    <% end %>
  <% end %>
</div>
