<div id="segmentation-results">
  <% if segmentation_results.present? %>
    <h1>Segmenting on:</h1>
    <h2><%= segmentation_results.explanation %></h2>

    <% found_user_ids = segmentation_results.found_user_ids %>
    <h2><%= found_user_ids.length %> users in segment</h2>

    <h2>Segment looked up <%= time_ago_in_words segmentation_results.created_at %> ago</h2>

    <p id="user-info-target"></p>
  <% else %>
    <%= render partial: 'shared/flashes' %>
  <% end %>
</div>
