<div id="segmentation-results">
  <% if segmentation_results.present? %>
    <div id="segmentation-explanation" class="segmentation-results-col">
        <h1 class="subsection-head">Segmenting on:</h1>
        <ul><% segmentation_results.explanation.each do |explanation_part| %>
            <li class="explanation"><%= explanation_part %></li>
        <% end %></ul>
        <p id="segmented-at-timestamp">Searched <%= time_ago_in_words segmentation_results.created_at %> ago</p>
    </div>

    <div id="segmentation-numbers" class="segmentation-results-col">
        <% found_user_ids = segmentation_results.found_user_ids %>
        <h2><span><%= found_user_ids.length %></span>Users in segment</h2>
    </div>

    <div class="clear"></div>
    <p id="user-info-target"></p>
  <% else %>
    <%= render partial: 'shared/flashes' %>
  <% end %>
</div>
