-# OPTZ: cache this
- this_is_me = current_user == single_friend ? 'this_is_me' : ''
- max_progress = 100
- progress_pixels = (single_friend.to_ticket_progress_calculator.point_fraction * max_progress).round
- progress_pixels = max_progress if progress_pixels > max_progress
- max_name_length = 22
- row_class = single_friend_counter.even? ? '' : 'scoreboard_stripe'


%tr.user{:id => this_is_me, :class => row_class}
  %td.user-name= link_to single_friend.name[0,max_name_length], user_path(single_friend)
  %td.user-tickets= single_friend.tickets
  %td.user-progress
    .tight_bar
      .grey_bubble
      .orange_bubble{:style => "width: #{progress_pixels}%;"}
      .shine{:style => "width: #{progress_pixels}%;"}
      
