<% content_for :modals do %>
  <div id="<%= modal_id %>" class="reveal-modal">
    <div class="modal_container">
      <a class="close-reveal-modal"><i class="fa fa-times fa-2x"></i></a>
      <div id="modal_content">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>
