<div id="tile_links">
  <div class="more_tiles_button">
    <a class="show_more_tiles" data-tile-path="<%= path_for_more_tiles %>" href="#">
      <i class="fa fa-caret-down"></i>
      More
      <%= image_tag "spinner_gears_bg.gif", :style => 'display: none', :id => 'show_more_tiles_spinner' %>
      <i class="fa fa-caret-down"></i>
    </a>    
  </div>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $('.show_more_tiles').live('click', function(event) {
      event.preventDefault();

      $('#show_more_tiles_spinner').show();

      baseBatchSize = $('.explore_tile').length;
      $.get(
        $(this).data('tile-path'),
        {base_batch_size: baseBatchSize, partial_only: 'true'},
        function(data) {
          $('.tile_with_tags').replaceWith(data);
        }
      );
    });
  <% end %>
<% end %>
