#tile_links
  %a.show_more_tiles{data: {"tile-path" => tiles_path(board_id: params[:board_id])}, href: '#', disabled: disable_button} 
    More
    = image_tag "spinner_gears_bg.gif", :style => 'display: none', :id => 'show_more_tiles_spinner'


