<div id="new_tile_modal" class="reveal-modal large">
  <div id="tile_flash" style="display: none;border: 1px solid red" > </div>
  <div id="modal_content"></div>
  <a class="close-reveal-modal"><i class="fa fa-times fa-2x"></i> </a>
</div>

<div id="images_modal" class="reveal-modal tiny">
</div>
