<div id="new_tile_modal" class="reveal-modal large">
  <div id="modal_content"></div>
  <a class="close-reveal-modal" id="tilebuilder_close" data-confirm><i class="fa fa-times fa-2x"></i> </a>
</div>

<div id="images_modal" class="reveal-modal small">
  <a class="close-reveal-modal" id="image_library_close" ><i class="fa fa-arrow-left fa-2x"></i> </a>
</div>
