:ruby
  tooltip_array = [
    ['.name-of-user', 'Visit their profile'],
    ['#sort_by_first_name', 'Sort by name'],
    ['#sort_by_points', 'Sort by tickets'],
    ['.flag', 'Report this user for suspicious activity']
  ]
  
= render :partial => 'shared/single_tooltip', :collection => tooltip_array


