:ruby
  tooltip_array = [
    ['.tiles_completions', 'Number of participants that have completed the tile'],
    ['.tiles_percent_claimed', 'Percent of participants that have completed the tile']
  ]
  
= render :partial => 'shared/single_tooltip', :collection => tooltip_array


