:ruby
  tooltip_array = [
    ['.tiles_completions', 'Total number of users who have completed this tile'],
    ['.tiles_percent_claimed', 'Percentage of claimed users who have completed this tile'],
    ['.tiles_percent_all', 'Percentage of all users who have completed this tile']
  ]
  
= render :partial => 'shared/single_tooltip', :collection => tooltip_array


