.legal-footer{:style => "margin-top: 30px; font-size:0.8em"}
  Copyright &copy; 2012 H Engage. All Rights Reserved.
  %br
  %br
  Our mailing address is:
  %br
  222 Newbury St.
  %br
  Floor 3
  %br
  Boston, MA 02116

-if @user.present?
  .unsubscribe{:style => "font-size: 0.8em;"}
    %p 
      You received this email because your company uses H Engage to help communicate your HR programs and benefits. 
      
      -if @user.claimed?
        You can also update your preferences to receive text messages instead.
        = link_to "Click here to update your contact preferences.", email_account_settings_link
      -elsif @invitation_url
        After you
        = link_to "sign up,", @invitation_url 
        you can also update your preferences to receive text messages instead.

    %p
      Click here to 
      = link_to "unsubscribe", email_unsubscribe_link(@user)
      from email communications.

