.legal-footer{:style => "margin-top: 30px; font-size:0.8em"}
  Copyright &copy; 2012 H Engage. All Rights Reserved.
  %br
  %br
  Our mailing address is:
  %br
  222 Newbury St.
  %br
  Floor 3
  %br
  Boston, MA 02116

-if @user.present?
  .unsubscribe{:style => "font-size: 0.8em;"}
    %p 
      You are getting this email because your company is using H Engage to help people better understand HR programs.
      -if @user.claimed?
        If you would rather not receive notifications, click here to
        = link_to "update your contact preferences.", email_account_settings_link

    %p
      Or,
      = link_to "click here to completely unsubscribe", email_unsubscribe_link(@user)
      from any email communications.

