- if @easter_egg
  #unsupported_browser
    .doc Knock Knock
    .marty Who's There?
    .doc The <b>Present</b>
    #statement We don't support Internet Explorer 6 or 7 Anymore
- else
  #unsupported_browser
    #nicer_statement Did you know that you can have a better<br>browsing experience by upgrading<br>to a newer browser? 


