<section style="padding: 7em 0">
	<div class="row">
    <div class="large-12 columns">
      <h2>This board is currently private.</h2>
      <p>Please contact <%= link_to 'support@airbo.com', "mailto:support@airbo.com?subject=Attempting to join board at #{request.url}" %> for assistance joining.</p>
    </div>
  </div>
</section>
