<%# For some reason, even though (a) "simple, fair pricing" has nothing to do with this section, and (b) there is NO CSS AT ALL THAT WORKS ON THAT ID ANYMORE, removing the ID from the <section> tag below breaks the styles. I just don't fucking know. Leave it. We'll be redesigning or removing this page soon enough (meaning: probably never) anyway. %>
<section id="simple_fair_pricing" class="first_section">
	<div class="row">
    <div class="large-12 columns calculator">
      <h2>This board is currently private.</h2>
      <p>Please contact <%= link_to 'support@airbo.com', "mailto:support@airbo.com?subject=Attempting to join board at #{request.url}" %> for assistance joining.</p>
    </div>
  </div>
</section>
