<section id="simple_fair_pricing" class="first_section">
	<div class="row">
    <div class="large-12 columns calculator">
      <h2>This board is currently private.</h2>
      <p>Please contact <%= link_to 'support@air.bo', "mailto:support@air.bo?subject=Attempting to join board at #{request.url}" %> for assistance joining.</p>
    </div>
  </div>
</section>
