<div id="no-login-yet">
  <p>We're sorry, your organization is not using the H.Engage website. We'll let you know if your organization begins using the website again.</p>
  <p>To update your account settings, <%= link_to "click here", edit_account_settings_path %>.
</div>
<% content_for(:javascript) do %>
  <%= mp_track_page 'website locked' %>
<% end %>
