#customer_tile {
	h1 {
		text-align: center;
		font-weight:semi-bold; 
		padding-top:1em;
	}

	h3 {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		text-align: center;
		padding-bottom:2em;
	}	

	h4 {
  		width: 70%;
  		margin-left: 15%;
  		margin-right: 15%;
  		text-align: center;
  		padding-bottom:2em;
  		line-height: 2.5em;
	} 

	.editorial_title {
		border: $tile-wall-bg solid 1px;
		background-color: $tile-wall-bg;
		display: inline-block;
		border-radius: 3px;
	}

	.tile_thumbnail {
	  padding-bottom: 2em;
	  display: center;
	  border: solid light-gray 1px; 
    }
 
	.tile_section_introduction {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		text-align: center;
		padding-top: 2.5em;
		padding-bottom:2em;
	}
    
	.tile_thumbnail {
  		cursor: pointer;
  		margin-bottom:1em; 
  		width:25%;
  		display: inline-block;
  		position: relative;
  		width:100%;
	}
}	


