header {
  position:fixed;
  width:100%;
  z-index:97;
  .contain-to-grid, .top-bar, 
  .top-bar-section {background:$white;}
  .contain-to-grid {border-bottom:1px lighten($light-gray, 10%) solid;}
  nav.top-bar, .title-area {height:4em;}
  nav.top-bar {
    &.expanded .title-area {background:$white;}
    .title-area { // Logo and Toggle
      padding:.35em 0;
      .name { // Logo
        width:13em;
        h1 a, img {width:100%;}
      }
      .toggle-topbar {  // Toggle 
        top:.65em;
        a {color:$blue;}
        a span {box-shadow:none;}
      }
    }
    .top-bar-section {  // Dropdown menu
      ul, li > a {
        background:$dark-gray;
        font-weight:normal;
      }
      li.divider { // Dividers
        border-top:0;
        border-bottom:1px darken($text-color, 3%) dashed;
      }
      .has-form {
        padding:0 .5em .5em .5em;
        a {
          box-shadow:none;
          &.sign_in_button {@include app-button($blue);}
          &.request_a_demo {@include app-button($sky-blue);}
          &.sign_in_button, &.request_a_demo {padding:.5em .75em;}
        }
      }
    }
  }
}
