// Styles for Login/Signup external page
body.external {
  background: $white;
  .wrapper {margin-top:1em;}
  header{
    position:static;
    width:100%;
    z-index:0;
    .contain-to-grid, .top-bar {background: transparent;}
    .top-bar-section, .toggle-topbar {display: none;}
  }

  footer, .footer {
    background: transparent;
    text-align: center;
    p {float:none;}
  }

  #status {
    margin:0 auto;
    width:90%;
    max-width:32em;
    font-size:1.25em; 
    p{padding:0 0 1em 0;}
  }
}

.external-form-wrapper {
  // background:$white;
  @include form-group;
  margin:0 auto 6em auto;
  padding:1em;
  // width:47%;
  h1 {text-align: center;}
  p {padding:0 0 1em 0;}
  form {
    width:87%;
    margin:1.5em auto 1em auto;
    a {font-size:.85em;}
    input[type="text"], input[type="password"] {
      display: block;
      font-size:1.125em;
      margin:0 0 .5em 0;
      padding:.5em .85em;
      width:100%;
    }
    label {font-size:.85em;
      &.input_label {@include font-semibold;}
    }
    .wrap {
      display: block; padding-bottom:1em;
      label {display: inline-block;}
    }
  }

  #t-and-c-notice {
    width: 87%;
    margin:1.5em auto 1em auto;
    font-size: 0.85em;
    a { 
      font-size: 1.0em !important;
    }
  }
}

#password_placeholder_holder {
  color:lighten(#AAA, 5%);
  font-size:1.125em;
  @include font-regular;;
  padding:.5em .85em;
  position:absolute;
}


// Styles for Invitations show/acceptance page
body.invitations .welcome-message {
  margin-bottom:1em;
  .explanation {color:$dark-green; margin-top:.75em;}
  text-align: center;
}
body.invitations-show form {
  .form-ul-section {margin-bottom:1em;position: relative;}
  #broughtby {
    text-align: center;
    &:after{@include clear;}
    #sponsoredBy {
      font-size:.875em;
      @include font-semibold;
      color:$dark-green;
      margin-bottom:1em;
      &:before, &:after {
        content:"";
        display: inline-block;
        background: $light-gray;
        height:1px;
        width:3em;
        vertical-align: middle;
      }
    }
  }
  #notification_prefs {
    border:1px lighten($light-gray, 5%) dashed;
    padding:1em;
    .form-label {padding-bottom:.5em;}
  }
  #check-terms {
    margin:.5em 0;
    #terms_label {
      font-size:.875em;
      a, a:link {font-size:1em;}
    }
    input, label, #terms_label, .field_with_errors {
      display:inline-block;
      vertical-align: top;
    }
    input {margin-top:.3em;}
    #terms_label {width:90%;}
  }
  .signup-submit:after {@include clear;}
}

// Form errors
body.invitations-show #session-wrapper {
  .form-msg {
    color:$red;
    @include font-semibold;
    font-size:.875em;
    p.msg {padding:0 0 .5em 0;}
  }
  .field_with_errors input {border-color:$red;}
}

// Autocomplete suggestions 
#indented_to_match_inputs {
  #autocomplete_status {
    @include font-semibold;
  }
}
.single_suggestion{
  width:100%;
  max-width:380px;
  background-color: #eff0ef;
  border: 1px solid #d3d3d3;
  box-shadow:none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  z-index:9999;
  padding: 10px;
  margin: 1em 0;
  position: relative;
  &:after{@include clear;}
  &:hover {
    border-color:$blue;
    cursor: pointer;
  }
  div.image {
    float: left;
    width:25%;
    z-index:9999;
    padding: 0 .75em 0 0;
    img {
      border:none;
      margin:0;
      z-index:99999;
    }
  }
  div.info {
    float:left;
    width:74%;
    div.bit {
      line-height:1em;
      padding-bottom:.5em;
      text-overflow:ellipsis;
      word-wrap:break-word;
    }
    div.bit:first-child {
      color:$dark-green;
      font-size: 1.15em;
      @include font-semibold;
    }
  }
  a.remove_referrer {
    background:#d3d3d3;
    color: $white;
    @include font-semibold;
    font-size:.65em!important;
    display: inline-block;
    padding:.25em;
    position: absolute;
    left: auto;
    right: 4px;
    top: 0;
    &:hover {background:darken(#d3d3d3, 7%);}
  }

  .suggested_user_id: {display: none;}
  .already_playing {display: none;}
  img {width: 75px;}
}

#set_or_reset_password {
  float: right;
  padding-top: 0.5em;
}
