@import "../mixins/main_styles.css.scss";
@import "../external/marketing.css.scss";
@import "screen_medium.css.scss";
@import "more_info/general_moreinfo.css.scss";
@import "screen_desktop.css.scss";
@import '../tile/tile_thumbnail/tiles_thumbnails_desktop';
@import "screen_large.css.scss";

.tile_thumbnail {border:1px $light-gray solid;}

// Header nav
// header .contain-to-grid {padding:1em 0;}
nav.top-bar {
	background:transparent!important;
  .top-bar-section ul.right { // Nav bar
  	background:$white;
    margin:.5em 15px 0 0;
    li > a {  // Regular links
      background:$white;
      font-size:1.125em;
      padding-top:.65em!important;
    }
    .has-form { // Buttons area
      background:$white!important;
      a {
        color:$white;
        @include font-semibold;
        font-size:1.125em!important;
        line-height:1em!important;
      }
    }
  }
}

#hero .visual_container {
  img {max-width:800px;}
  p:after {width:10em;}
}
#fast_tiles .row {background-image:image-url('marketing/more_info/tile_ie8.png')}
#target_influence, #monitor_board {
  .visual_container img {border:1px $light-gray solid;}
}
#target_influence .visual_container {
  .activity_feed {width:22em;}
  .connections {width:22em;}
}
.next_steps {
  .push-1 {margin-left:8.33333%;}
  .pull-1 {margin-right:8.33333%;}
}


// ============= Case study ============= 
.case_study_content .study_samples {margin:4em auto 2em}
