// ================== General Marketing styles ================== 
body .row {max-width:70em;}

// ================== Header ================== 
header {
  .contain-to-grid {padding:.5em 0;}
  nav.top-bar {
    height:auto;
    .button {
      height:auto;
      top:.125em;
    }
    .title-area .name {width:12em;} // Logo size
    .top-bar-section ul.right { // Nav bar
      background:$white;
      margin:.5em 15px 0 0;
      li {padding:0 1em;}
      li.divider {  // Dividers
        border:0;
        padding:0;
      }
      li > a {  // Regular links
        background:$white;
        color:$med-gray;
        // font-family:$default;
        font-size:1.125em;
        padding:0;
      }
      .has-form { // Buttons area
        background:$white;
        padding:.35em 0 0 1em;
      }
    }
  } 
}

// ================== Homepage ================== 

// ****** Any Objectives ******
#any_objective {
  .main-row .copy {
    height:20em;
    padding:7% 12% 0 12%;
    top:10em;
  }
  .objective_examples ul li {
    height:10em;
    line-height: 6em;
  }
  #objectives_right {top:10em;}
}

// ****** Build tiles fast ******
#fast_tiles .row {
  background:image-url('marketing/more_info/tile.png') no-repeat 87% bottom;
  background-size:246px 300px;
  .text_container {padding-top:4%;}
  .arrow {
    display:block;
    position: absolute;
    bottom:7%;
    left:90%;
  }
}

// ****** Trigger engagement ******
#engagement .text_container {padding-top:7%;}

// ================== Case studies ================== 
.case_study_title {
  padding-top:2em;
}
.about_case_study .testimonial .quote {
  margin-bottom:0;
  .client_quote:before {
    margin-right:.0625em;
    margin-left:-0.4em;
    left:0;
  }
}
.case_study_content {
  h2 {@include font-regular;}
  p {font-size:1.25em;}
  .study_samples .tile_thumbnail {width:21%}
  .study_samples .tile_thumbnail + .tile_thumbnail {margin-left:3%;}
}


// ================== Pricing page ================== 
@mixin help_bubble {
  border:1px $light-gray solid;
  color:$light-gray;
  content: "?";
  display: inline-block;
  font-size:.625em;
  font-size:.625rem;
  line-height: 1em;
  padding:0 .25em;
}
@mixin tooltip {
  @include font-semibold;
  background: $white;
  border:1px $light-gray solid;
  box-shadow: 0px 0 2px 2px $white;
  color:$text-color;
  display:inline-block;
  font-size:.8125em;
  font-size:.8125rem;
  line-height: 1.35em;
  padding:1em;
  text-align: left;
  width:20em;
  white-space: normal;
}

.offerings {
  padding-right:14%;
  position: relative;
  text-align: right;
  .features_labels li, .plan_details li {height:50.5px;}
  .feature_labels {
    font-size:.8125em;
    @include font-bold;
    display: inline-block;
    width:13.5%;
    line-height: 1em;
    position: absolute;
    left:0;
    top:205px;
    white-space: nowrap;
    li {
      border-top:1px lighten($light-gray, 8%) solid;
      color:$gray;
      line-height: 1em;
      padding:1.5em 0 1.5em 0.9375em;
      padding:1.5em 0 1.5em 0.9375rem;
      position: relative;
      text-align: left;
      &:after {
        @include help_bubble;
        position: absolute;
        right:0;
      }
      &:hover {
        background:lighten($light-gray, 10%);
        &:after {
          @include tooltip;
          position: absolute;
          left:100%;
          top:-1px;
          z-index: 1;
        }
      }
      &.tiles_per_month:hover:after {
        content:"Number of tiles activated by Administrator for employees to interact with.";
      }
      &.cost_per_extra:hover:after {
        content:'Cost of going over the allotment of tiles as a percent of the amount you pay each month. So, if you\'re paying $100 per month, an extra tile is $10.';
      }
      &.num_of_admins:hover:after {
        content:"User that has access to system management functions like creating tiles.";
      }
      &.user_upload:hover:after {
        content:"Maximize participation and security by uploading users in advance.";
      }
      &.prize_audiences:hover:after {
        content:'Number of unique groups of people that you would like to award prizes to. For example: If you have 10 locations, and want to pool everyone together into one prize drawing, you have one Prize Audience. If you want to draw a separate prize for each location, you have 10 Prize Audiences. Number of winners and prizes drawn for each audience is unlimited.';
      }
      &.more_features:after {display: none;}
      &.more_features:hover {background:$white;}
    }
  }
  .an_offering {
    display: inline-block;
    vertical-align: top;
    width:27%;
    margin-right:1.6%;
    text-align: center;
    &.enterprise_plan {margin-right:0;}
    li.plan_title {
      h3 {
        line-height:1em;
      }
    }
    li.plan_description {min-height:4.65em;}
    li.plan_details {
      line-height: 1.25em;
      padding-top:1em;
      span.label {display: none;}
    } 
  }
  .feature_labels li, .an_offering li.plan_details {min-height:53px;}
}
.an_offering li.plan_details.additional_features {
  min-height:109px;
  position: relative;
  .advanced_reporting, .multiple_boards, .push_messaging {
    padding:.25em 0;
    font-size:.875em;
    &:after {
      @include help_bubble;
      border-color:darken($tile-wall-bg, 5%);
      color:darken($tile-wall-bg, 5%);
      position: absolute;
      right:2em;
      margin-top:2px;
    }
    &:hover {
      background:darken($tile-wall-bg, 5%);
      border-radius:$border-radius;
    }
    &:hover:after {
      @include tooltip;
      position: absolute;
      right:105%;
    }
  }
  .advanced_reporting:hover:after {
    content:"The Enterprise plan includes up to 5 hours of custom reporting a month.";
    top:1em;
  }
  .multiple_boards:hover:after {
    content:"More than one instance of Airbo at the same company.";
  }
  .push_messaging:hover:after {
    content:"Sending emails and text messages to specific segments of the User population. Enterprise pricing includes up to 4 push messages a month for up to 5 audiences. Custom quotes for more complicated use cases are available.";
  }
} 
.an_offering.basic_plan, .an_offering.business_plan {
  li.plan_details.additional_features {display: block; z-index: -1;}
} 

/* ================== Invitation acceptance ==================  */
.helper {
  display: none;
  background:$blue;
  color:$white;
  @include font-regular;;
  font-size:.75em;
  line-height:1.35em;
  padding:.65em;
  position:absolute;
  top:2em;
  width:185px;
  margin-left:-92.5px;
  left:123%;
  &#number {top:8.5em;}
  &:before {
    @include arrow-left($blue, 8px);
    position:absolute;
    left:-8px;
    top:.75em;
  }
}
