body.pages-show.landing{
    background: image-url('marketing/welcome_page/bg.png');
  .content{
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
  .lightbox{
    margin-left: auto;
    margin-right: auto;
    max-width: 630px;
    width: 100;
    background: $white;
    border-radius: 3px;
    box-shadow: black 6px 6px 10px -7px;
    .headline_section{
      padding: 2.5rem 1rem 2.5rem 1rem;
      width: 100%;
      #airbo_logo{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2rem;
        width: 100px;
      }
      .headline{
        font-size: 24px;
        color: $text-color;
        text-align: center;
        max-width: 28rem;
        margin: auto;
      }
    }
    .call_out_section{
      background: #c1145b;
      padding: 0.5em;
      box-shadow: #616161 0px 4px 4px -4px;
      position: relative;
      z-index: 2;
      .call_out{
        font-size: 16px;
        color: $white;
        text-align: center;
        max-width: 30rem;
        margin: auto;
        line-height: 1.7;
      }
    }
    .janet_section{
      position: relative;
      .janet_text{
        position: absolute;
        margin-top: 3%;
        margin-left: 5%;
        z-index: 3;
        color: $white;
        .fa{
          float: left;
          color: #6d7668;
          margin-right: 0.5rem;
          line-height: 24px;
          font-size: 18px;
        }
        .janet_all_text{
          float: right;
          text-shadow: black 1px 1px 1px;
          .janet_quote{
            width: 17rem;
            font-size: 24px;
            max-width: 100%;
          }
          .janet_about{
            width: 17rem;
            max-width: 100%;
            font-size: 14px;
            margin-top: 1rem;
          }
        }
      }
      #janet_picture{
        position: relative;
        &:before {
          content: " ";
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          background: -moz-linear-gradient(left,  rgba(0,0,0,0.68) 0%, rgba(255,255,255,0.01) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.68)), color-stop(100%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(left,  rgba(0,0,0,0.68) 0%,rgba(255,255,255,0.01) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(left,  rgba(0,0,0,0.68) 0%,rgba(255,255,255,0.01) 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(left,  rgba(0,0,0,0.68) 0%,rgba(255,255,255,0.01) 100%); /* IE10+ */
          background: linear-gradient(to right,  rgba(0,0,0,0.68) 0%,rgba(255,255,255,0.01) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad000000', endColorstr='#03ffffff',GradientType=1 ); /* IE6-9 */

        }
      }
    }
    .logo_section{
      margin-top: -1px;
      position: relative;
      background: $white;
      z-index: 5;
      &:after{
        content: " ";
        clear: both;
        display: table;
      }
      .logo{
        width: 50%;
        float: left;
        display: block;
        img{
          margin: auto;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          display: block;
          max-width: 60%;
        }
      }
    }
    .advantage_section{
      background: #4face0;
      padding: 1rem 0rem 1rem 0rem;
      color: $white;
      #bulb{
        margin: auto;
        display: block;
      }
      .adv_headline{
        font-size: 14px;
        text-align: center;
        padding: 1rem 2rem 1rem 2rem;
      }
      .adv_list{
        font-size: 10px;
        &:after{
          content: " ";
          clear: both;
          display: table;
        }
        .adv_column{
          width: 50%;
          float: left;
          display: inline-block;
          padding-left: 5%;
          .adv_item{
            padding: 0.5em 0 0.5em 0.5em;
          }
        }
      }
    }
    .features_section{
      &:after{
        content: " ";
        clear: both;
        display: table;
      }
      .feature_container{
        .tile_features{
          width:14rem;
          margin: auto;
          padding-bottom: 2rem;
          .features_headline{
            font-size: 18px;
            color: $text-color;
            line-height: 1.5;
            padding-top: 2rem;
            max-width: 12rem;
          }
          .feature{
            padding-top: 2rem;
            line-height: 1.7;
            .feature_title{
              font-size: 14px;
              color: #c1145b;
            }
            .feature_desc{
              font-size: 12px;
              color: $text-color;
              p{
                line-height: 1.7;
              }
            }
          }
        }
      }
      .piggy_container{

        #piggy_iphone{
          max-width:80%;
          margin: auto;
          display: block;
        }
      }
    }
    .interaction_section{
      border-top: solid 1px $med-gray;
      border-bottom: solid 1px $med-gray;
      margin: auto;
      padding: 1rem 0rem;
      .interaction{
        font-size: 14px;
        color: $text-color;
        text-align: center;
        padding: 0.5rem 0rem 0.5rem 0rem;
        line-height: 1.7;
        .interaction_type{
          font-weight: 700;
          display: inline;
        }
      }
    }
    .how_section{
      border-bottom: solid 1px $med-gray;
      color: $text-color;
      padding-bottom: 2rem;
      .how_headline{
        font-size: 18px;
        text-align: center;
        padding: 2rem;
      }
      .step{
        text-align: center;
        padding-bottom: 1rem;
        line-height: 1.7;
        .step_header{
          color: #c1145b;
          font-size: 14px;
          padding: 0.5rem;
        }
        .step_desc{
          font-size: 12px;
        }
      }
    }
    .wheel_section{
      padding-top: 3rem;
      .wheel_headline{
        font-size: 18px;
        text-align: center;
        padding: 1rem;
      }
      .wheel_answer{
        color: #c1145b;
        font-size: 14px;
        padding: 0.5rem;
        padding-bottom: 1.5rem;
        text-align: center;
      }
      .tile_container{
        .logo{
          max-width: 8rem;
          display: block;
          margin: auto;
        }
        .tile{
          margin: auto;
          display: block;
          padding-bottom: 2rem;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
    footer{
      border-top: solid 1px $med-gray;
      text-align: center;
      padding: 1rem;
      a{
        color: $med-gray;
        font-size: 12px;
        padding: 0.5rem;
        font-weight: 400;
      }
    }
  }
}
body.pages-show.landing, body.tile_previews.client_admin_main{
  #sign_up_modal{
    width: 700px;
    margin-left: -350px;
    .close_sign_up_modal{
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }
  .sign_up_section{
    padding: 2rem;
    .inspire_headline{
      font-size: 16px;
      color: #c1145b;
      text-align: center;
      padding-bottom: 0.5rem;
      line-height: 1.7;
      font-weight: 700;
    }
    form{
      .errors_field{
        display: block;
        width:100%;
        margin-bottom: 1rem;
        font-size: 12px;
        padding-left: 0.5rem;
        color: #bc4c40;
        height: 2rem;
      }
      .text_field{
        display: block;
        width:100%;
        margin-bottom: 1rem;
        input[type="text"], input[type="password"]{
          border-color: $med-gray;
          border-radius: 3px;
          font-size: 12px;
          padding-left: 0.5rem;
          line-height: 2;
          width: 100%;
          height: 2.5rem;
        }
      }
      input[type="submit"]{
        width: 100%;
        padding: 0.75rem;
        text-align: center;
        background: transparent;
        border-radius: 3px;
        border: 1px solid $sky-blue;
        color: $sky-blue;
        font-weight: 400;
        margin: 0;
        display: block;
      }
    }
    .log_in_container{
      font-size: 12px;
      color: $text-color;
      text-align: center;
      margin-bottom: 1rem; 
      a{
        color: $text-color;
      }
    }
  }
}