
<p>View users:
  <%= link_to "Everyone", admin_demo_users_path(demo) %>
  <% (('A'..'Z').to_a + ["non-alpha"]).each do |starts_with| %>
    <%= link_to starts_with, admin_demo_users_path(demo, :starts_with => starts_with) %>
    &nbsp;
  <% end %>
</p>
