

<div class="row ">
  <div class="columns small-12">
    <h1 class="text-left">Boards Overiew</h1>
  </div>
</div>

<div class="row ">
  <div class="columns small-8">
    <h2 class="text-left">Inventory</h2>
    <%= render "admin/demos/boards", demos: @demos %>
  </div>
</div>
