
<div class="row">
  <div class="columns small-12 ">
    <h2 class="first"><%= link_to "Admin", admin_path %> » New Board</h2>
  </div>
</div>

<div class="row">
  <div class="columns small-6 ">
    <%= render 'admin/demos/quick_form', :demo => @demo %>
  </div>
</div>
