<h2 class="first"><%= link_to "Admin", admin_path %> » New Demo</h2>

<p class="explanation"><%= translate('.explanation', :default => "Create a new demo for a prospective customer.") %></p>

<%= render 'admin/demos/form', :demo => @demo %>
