<%= content_for :header, @demo.company_name %>

<p class="explanation"><%= translate('admin.demos.show.explanation', :default => "Add HR people to this demo, then send them an invitation to the demo.") %></p>

