.charting {
  @include form-group;
  form {border:0; margin:0; padding:0;}
  // Need to specify this or else page jumps to the top every time you re-plot with new params
  #my-chart { height: 400px; }

}

#chart-options {
  position: relative;
  height: 55px;
  & > li {
    float: left;
    margin-right:0.5em;
    margin-top: 0.845em;
    &#chart-dates * {display: inline-block;}
    &#chart-dates span, &#chart-labeling span {
      @include caption;
      color: $med-gray;
      text-transform: uppercase;
    }
    &#show-button {
      position: absolute;
      right:0;
    }
    &#chart-labeling {
      margin-right:.25em;
      margin-top: 0;
      width:7em;
      label{
        margin: 0;
        margin-top: -0.09em;
      }
    }
    &#chart-spinner {
        vertical-align:middle;
        margin-right:0;
        img{
          width:100%;
          height:auto;
          padding-left:0;
          padding-top: 6px;
        }
    }
  }
  #display-options {
    width: 137px;
  }
  #chart-intervals {
    width: 100px;
  }
  #chart-labeling {
    width: 127px;
  }
  .datepicker {
    width: 7em;
  }
}
