.client_admin_main {
  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    .shadow_overlay {
      height:12em;
      width:100%;
      top:0;
      left:0;
      &:after {
        color:$light-gray;
        content:"Preview";
        display: block;
        margin-top:6em;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .shadow_overlay, .tile_buttons{display:block;}
    }
  }

  // Default buttons
  .tile_buttons {
    display:none;
    position:absolute;
    top:.5em;
    right:.5em;
    li {
      display:inline-block;
      float:right;
      margin-left:.5em;
      text-align: center;
      width:auto;
      .edit_tile_link a {
        @include light-button($white);
      }
      &.archive_button a {@include app-button($med-gray);}
      &.activate_button a {@include app-button($sky-blue);}
    }
  }

  // Also hide activation dates indigest so as not to confuse admins
  #digest .activation_dates {
    display: none;
  }

  // Tile stats
  .tile_stats {
    .activation_dates {
      margin-top:1px;
      &:after {@include clear;}
    }
    .completions, .views {
      a, a:link, a:visited {
        display: inline;
      }
    }

    .activation_dates span, 
    .views,
    .completions,
    .completion_percentage {
      @include caption;
      background: image-url('v5/bg_light.png');
      color:$dark-gray;
      display: block;
      font-size:.75em;
      font-weight:bold;
      font-weight:500;
      line-height:1.35em;
      margin-bottom:1px;
      padding:.5em 1em;
      text-align: left;
      text-transform: none;
    }
  }
}
