body.client_admin-tiles-show {
  .tile_control, h5 {
    display: inline-block;
  }
  .tile_control {
    font-size:.875em;
    margin-bottom:1em;
    &.back_to_all {@include app-button($blue);}
    &.tile_turn_on {@include app-button($dark-green);}
    &.tile_turn_off {@include app-button($med-gray);}
    &.edit_this_tile {@include light-button($gray);}
  }
  h5 {
    color:$med-gray;
    float:right;
    padding:.75em 1em;
  }
}
