body.client_admin-tiles-new, 
body.client_admin-tiles-create,
body.client_admin-tiles-edit,
body.client_admin-tiles-show,
body.client_admin-tiles-update {
  form {
    #publish * {vertical-align: top;}
    #publish input[type="submit"] {@include app-button($dark-green);}
    #publish .cancel_tile_builder {@include light-button($red); float:right;}
    input[type="text"],textarea {
      border:2px lighten($light-gray, 8%) dashed;
      display: block;
      font-size:1.3em;
      margin-bottom:0;
      padding:.5em;
      width:100%;
      &:hover, &:focus {border-style:solid;}
    }
    input[type="submit"]:disabled {
      background: lighten($dark-green, 20%);
    }
    label {
      color:$gray;
      @include font-semibold;
      margin-bottom:.5em;
    }
    .tile_builder_section {
      padding:2em;
    }
    .content_sections {
      margin:0 auto 2em auto;
      width:90%;
      &:after{@include clear;}
      &:last-of-type{margin-bottom:0;}
    }

    /* Tile options */
    .more_tile_options {
      // External link
      #external_link {
        margin:2em auto; 
        input {border-color:$light-gray;}
      }
    }
  }
  
  .builder_content {
    background:$white;

    // Image uploader
    #image_uploader {
      border:2px lighten($light-gray, 8%) dashed;
      margin-bottom:3em;
      padding:4em 0;
      text-align: center;
      &:hover {border-style:solid;}
      #tile_builder_form_image {
        background:$blue;
        border:0;
        color:$white;
        padding:1em 2em;
        width:auto;
        &:hover {background:darken($blue, 5%);}
      }
      p {
        color:$gray;
        margin:1em 0;
      }
    }

    // Copy for the tile
    #tile_builder_form_headline {
      color:$dark-gray;
      @include font-light;
      font-size:2.25em;
      line-height:1.15em;
      height:3.75em;
      padding:.35em;
    }
    #tile_builder_form_supporting_content {
      color:$text-color;
      font-size:1.5em;
    }
  }

  // Quiz section of the tile
  .builder_quiz {
    background:$light-gray;

    input[type="text"], #tile_builder_form_question {
      background:lighten($light-gray, 5%);
      border-color:lighten($light-gray, 10%);
      &.answer-field {
        color:$orange;
        @include font-semibold;
      }
      &:focus {background:$white;}
    }
    #tile_builder_form_question {
      color:$text-color;
      height:3em;
    }
    .answer_option {
      li {
        display:inline-block;
        float:left;
        &.option_radio {
          background:darken($light-gray, 5%);
          border:2px transparent solid;
          margin-top:1px;
          height:47px;
          padding:.7em 0;
          text-align: center;
          width:7%;
          &:hover {cursor: pointer;}
        }
        &.option_selected {
          background: $dark-green;
          border-color:darken($dark-green, 5%);
        }
        &.option_input {
          width:93%;
        }
      }
      span.character-counter {
        display:block;
        padding-bottom:1em;
      }
      &:after{@include clear;}
    }
    #add-answer-link {@include app-button($med-gray);}
  }

  // Points
  #set_points {
    border-top:1px darken($light-gray, 5%) solid;
    padding-top:2em;
    p, input, label {display: inline-block;}
    input, label {color:$orange;}
    p {
      color:lighten($text-color, 17%);
      @include font-bold;
    }
    input {
      @include font-bold;
      font-size:1.3em;
      margin-left:1em;
      text-align:center; 
      width:3.5em;
    }
    label {@include font-bold;}
  }
}

// Specific styles for Edit page
body.client_admin-tiles-edit, 
body.client_admin-tiles-update {
  .tile_builder_section {padding:2em;}
  .edit_tiles_content, .edit_tile_image {overflow: hidden;}
  .edit_tiles_content {
    box-shadow:0px 2px 1px 1px lighten($med-gray, 5%);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    margin-top:-1px;
  }
  .edit_tile_image {
    box-shadow:0 0 1px 1px lighten($med-gray, 5%);
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }
  .builder_content #image_uploader {
    background:$text-color;
    border:0;
    margin-bottom:0;
    padding:0;
    img {margin:2em 0;}
    .upload_new_image {
      background:$white;
      border-top:0;
      padding:1em 0 2em 0;
      #tile_builder_form_image {
        background:lighten($light-gray, 8%);
        color:$text-color;
        padding:.6em 2em;
        &:hover {
          background:lighten($light-gray, 10%);
        }
      }
      .button_wrap {
        margin-top:1em;
        input {@include app-button($dark-green);}
      }
    }
  }
  #tile_headline, #tile_supporting_content {
    padding:0 1.75em;
  }
}
