#digest-last-email {
  font-style: italic;
  color: #808080
}

#feedback {
  padding-left: 2em;
  color: blue;
  display: none;
  font-style: italic;
  float: right;
}

#show-user-spinner {
  display: none;
  padding-left: 1em;
}

form.button_to {
  display: inline-block;
}

#digest hr {
  margin: 2em 0em;
}