.ui-widget {
  font-family:$sans;
  font-size:1em;
}
#tile-manager-tabs {
  background:transparent;
  border:0;
  border-radius:0;
  padding:0;
  * {border-radius:0;}

  // Manager tabs nav
  .ui-tabs-nav {
    border:0;
    background:transparent;
    padding-left:0;
    li {
      border:0;
      border-top:3px $white solid;
      font-size:1em;
      padding:.15em 1.5em;

      // Default tabs state
      &.ui-state-default {
        background:lighten($light-gray, 5%);
        border-color:lighten($light-gray, 5%);
        a {color:$gray;}
        &:hover {
          border-color:$blue;
          a{color:$text-color;}
        }
      }

      // Active tab state
      &.ui-tabs-selected {
        background:$white;
        border-color:$blue;
        a {color:$text-color;}
      }
    }
  }

  // Tab panels
  .ui-tabs-panel {
    background:$white;
    padding:2em 1em;
    table {margin-bottom:0;}
    table td {
      border-bottom:0;
      padding:0 0 2em 0;
      vertical-align: top;
    }
    table td + td {padding:0 0 2em 1em;}
  }

  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    margin:$centered;
    width:234px;
    position: relative;
    
    // Default buttons
    .archive_tile_link, .preview_tile_link, .edit_tile_link {
      background:$red;
      border-bottom:2px $white solid;
      border-left:2px $white solid;
      display:none;
      position:absolute;
      right: 0;
      margin:0;
      padding:.5em .85em;
      &:hover {
        background:darken($red, 7%);
      }
      a {
        display:inline-block;
        color:$white;
      }
    }
    &:hover .archive_tile_link {display: block;}
    &:hover .edit_tile_link {display: block;}
    &:hover .preview_tile_link {display: block;}

    .archive_tile_link {
      top: 0;
    }

    .preview_tile_link {
      top: 40px;
      border-top: 2px $white solid;
    }

    .edit_tile_link {
      top: 82px;
      border-top: 2px $white solid;
    }
  }

  // Activate button
  td.archive .tile_thumbnail .archive_tile_link {
    background:$dark-green;
    &:hover {background:darken($dark-green, 7%);}
  }

  // Tile thumb wrapper for image and text
  .tile_thumb_holder {
    .image {
      background:$text-color;
      height:13em;
      overflow:hidden;
      position:relative;
      width:100%;
    }
    img {
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      left: 0;
      margin:auto;
      max-width:100%;
    }

    .tile_thumb_texts {
      background:$text-color;
      height:100px;
      padding:1em;
      .headline {
        color:$white;
        font-family:$open-400;
        font-size:1.25em;
        line-height:1.25em;
        margin-bottom:1em;
      }
    }
  }
}

// Digest email panel
#digest_management {
  border-bottom:1px $light-gray solid;
  font-family:$open-400;
  margin-bottom:2em;
  padding-bottom:2em;
  form {display:inline-block;}
  .button_wrap {
    @include square-button-wrap($med-gray);
    input[type="submit"] {
      @include square-button($med-gray);
      font-size:1em;
      padding:.25em .5em;
    }
  }
  #show-user-spinner {
    display: none;
    vertical-align: middle;
  }
  #digest-status-messages {
    color:$gray;
    font-size:.85em;
    margin-top:1.125em;
    a {
      background:$blue;
      border-radius:2px;
      color:$white;
      margin-right:.5em;
      padding:.25em .5em;
      &:hover {background:darken($blue, 7%);}
    }
    span {display:inline-block;}
    span#feedback {
      color:$orange;
      display: block;
      font-size:1.25em;
      font-family:$open-600;
      margin-bottom:1em;
    }
  }
}
.no_tiles_message {
  font-family:$open-400;
  font-size:1.3em;
  line-height:1.35em;
  padding:1em 15%;
}

.tile_thumbnail {
  a, a:hover {
    color: $dark-gray;
  }
}
