body.client_admin-tiles-show {
  .tile_control, h5 {
    display: inline-block;
  }
  .tile_control {
    @include light-button($blue);
    font-size:.875em;
    margin-bottom:1em;
  }
  h5 {
    color:$med-gray;
    float:right;
    padding:.75em 1em;
  }
}
