// Nav between tile-related pages
#tile_manager_nav {
  @media only screen and (max-width: $foundation) { // for user side
    display: none;
  }
  background: $ca-subnav-color;
  overflow: hidden;
  float: left;
  height: 100%;
  width: $ca-subnav-size;
  &:after {
    @include clear;
  }
  li {
    position: relative;
    &:hover {
      background-color: darken($ca-subnav-color, 5%);
    }
    &:last-child{
      border-bottom: 1px $blue solid;
    }
  }
  li + li {
    border-left: 1px $blue solid;
    border-left: 0;
    border-top: 1px $blue solid;
  }
  .blocked_nav, a {
    // @include link($white);
    border-bottom: 5px transparent solid;
    display: block;
    // font-size: .75em;
    padding: .75em 2em .5em;
    text-align: center;
    // color: $white;
    @media only screen and (min-width: $foundation) {
      border-bottom: 0;
      border-left: 5px transparent solid;
      padding: 1.15em 0 1em;
      width: $ca-subnav-size;
    }
    .fa {
      display: block;
      font-size: 22px;
      opacity: 0.35;
      padding-bottom: 7px;
    }
    img {
      display: block;
      opacity: 0.35;
      margin-left: auto;
      margin-right: auto;
      width: 33px;
      padding-bottom: 10px;
    }
  }
  //.blocked_nav:hover { background-color: $ca-subnav-color; }
  #share_tiles{
    span{
      padding: 0 4px 1px;
      border-radius: 4px;
      font-size: 12px;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}
// Current page states
.explores.explores-show #tile_manager_nav li#explore,
.explores.explores-tile_tag_show #tile_manager_nav li#explore,
.tile_previews-show #tile_manager_nav li#explore,
.topics-show #tile_manager_nav li#explore,
.acts.acts-index #tile_manager_nav.parent_board li#explore,
.tiles.tiles-index #tile_manager_nav.parent_board li#explore,

.acts.acts-index #tile_manager_nav:not(.parent_board) li#home_nav,
.tiles.tiles-index #tile_manager_nav:not(.parent_board) li#home_nav,

.client_admin-tiles-index #tile_manager_nav li#managing_tiles,
.client_admin-inactive_tiles-index #tile_manager_nav li#managing_tiles,
.client_admin-draft_tiles-index #tile_manager_nav li#managing_tiles,
.client_admin-tiles-new #tile_manager_nav li#managing_tiles,
.client_admin-tiles-show #tile_manager_nav li#managing_tiles,

.client_admins-show #tile_manager_nav li#board_activity,
.client_admins-show #tile_manager_nav li#board_activity,

.client_admin-shares #tile_manager_nav li#share_tiles,
.client_admin-shares #tile_manager_nav li#share_tiles,

.client_admin-users-index #tile_manager_nav li#users,
.client_admin-users-edit #tile_manager_nav li#users,
.client_admin-users-create #tile_manager_nav li#users,
.client_admin-users-index #tile_manager_nav li#users,
.client_admin-users-edit #tile_manager_nav li#users,

.client_admin-stock_boards #tile_manager_nav li#library,
.client_admin-stock_boards-index #tile_manager_nav li#library,
.client_admin-stock_tiles-show #tile_manager_nav li#library,

.client_admin-prizes #tile_manager_nav li#prizes_nav,

.client_admin-board_settings-index #tile_manager_nav li#settings{
  background: $sky-blue;
  .fa, img {
    opacity: 1;
  }
}
