body.client_admin-tiles-new, body.client_admin-tiles-create {
  form {
    input[type="text"],textarea {
      border:2px lighten($light-gray, 8%) dashed;
      display: block;
      padding:.5em;
      width:100%;
      &:hover, &:focus {border-style:solid;}
    }
    label {
      color:$gray;
      font-family:$open-600;
      margin-bottom:.5em;
    }
    .tile_builder_section {padding:2em;}
    .content_sections {
      margin:0 auto 2em auto;
      width:90%;
      span.character-counter {
        float:right; 
        font-size:.85em;
        padding-top:.5em;
      }
      &:after{@include clear;}
      &:last-of-type{margin-bottom:0;}
    }
  }
  
  .builder_content {
    background:$white;

    // Image uploader
    #image_uploader {
      border:2px lighten($light-gray, 8%) dashed;
      margin-bottom:3em;
      padding:4em 0;
      text-align: center;
      &:hover {border-style:solid;}
    }

    // Copy for the tile
    #tile_builder_form_headline {
      color:$blue;
      font-family:$sans;
      font-size:2.25em;
      padding:.35em;
    }
    #tile_builder_form_supporting_content {
      color:$text-color;
      font-family:$sans;
      font-size:1.3em;
    }
  }

  // Quiz section of the tile
  .builder_quiz {
    background:$light-gray;

    input[type="text"] {
      background:lighten($light-gray, 5%);
      border-color:lighten($light-gray, 10%);
      font-size:1.3em;
      &#tile_builder_form_question {
        color:$text-color;
        font-family:$open-400;
      }
      &.answer-field {
        color:$orange;
        font-family:$open-600;
      }
    }
    #answers span.character-counter {
      display:block;
      padding-bottom:1em;
    }
    #answers:after{@include clear;}
    #add-answer-link {@include link($blue);}
  }

  /* Tile options */
  // Points
  #set_points {
    p, input, label {display: inline-block;}
    input, label {color:$orange;}
    input {
      font-family:$open-600;
      font-size:1.3em;
      margin-left:1em;
      text-align:center; 
      width:3.5em;
    }
  }
}