.client_admin_main {
  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    .shadow_overlay {
      height:12em;
      width:100%;
      top:0;
      left:0;
      &:after {
        color:$light-gray;
        content:"Preview";
        display: block;
        margin-top:6em;
        text-transform: uppercase;
      }
    }
    &:hover {
      .shadow_overlay, .tile_buttons{display:block;}
    }
  }

  // Default buttons
  .tile_buttons {
    display:none;
    position:absolute;
    top:.5em;
    right:.5em;
    li {
      display:inline-block;
      float:right;
      margin-left:.5em;
      text-align: center;
      width:auto;
      a {@include light-button($white, $light-gray);}
      &.archive_button a {@include app-button($blue);}
      &.activate_button a {@include app-button($dark-green);}
      &.archive_button a, &.activate_button a {
        font-size:.875rem;
      }
    }
  }

  // Also hide activation dates indigest so as not to confuse admins
  #digest .activation_dates {
    display: none;
  }

  // Tile stats
  .tile_stats {
    @include caption;
    // background: image-url('v5/bg_light.png');
    background:#E6E6E6;
    color:$dark-gray;
    font-size:.75em;
    line-height:1.35em;
    margin-top:1px;
    padding:1em;
    text-align: left;
    text-transform: none;
  }
}