body.client_admin-tile_stats {
  @import "../mixins/sort_arrows";
  // Grid Controls
  .grid_controls {
    margin-bottom: 20px;
    overflow: auto;
  }
  .download_as_csv {
    @include light-button(#8d8d8d);
    font-size:13px;
    padding: 7.5px;
    float: right;
  }
  .grid_types {
    overflow: auto;
    a {
      float: left;
      text-transform: uppercase;
      color: $med-gray;
      padding: 10px;
      margin-right: 20px;
      font-size: 12px;
      &.current {
        color: $text-color;
        border-bottom: 2px solid $sky-blue;
      }
    }
  }
  table {
    font-size: 14px;
    th, td {
      padding: 13px 20px;
    }
    th {
      background: #f5f5f5;
      border: 0;
      a {
        color: $text-color;
        font-weight: 700;
        @include sort-arrows(transparent);
        &:hover {
          @include sort-arrows(#8c8c8c);
        }
      }
      &.sorted a {
        @include sort-arrows($text-color);
      }
      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
      }
    }
    td {
      color: $text-color;
      &:first-child {
        color: #3a539b;
      }
    }
  }

  .survey_question {
    text-transform: uppercase;
    color: $text-color;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .survey-chart-table {
    margin-bottom: 60px;
    th {
      cursor: pointer;
      span {
        @include sort-arrows(transparent);
      }
      &:hover span {
        @include sort-arrows(#8c8c8c);
      }
      &.sort-up {
        span {
          @include sort-arrows($text-color);
        }
      }
      &.sort-down {
        span {
          @include sort-arrows($text-color, 'down');
        }
      }
    }
    .answer {
      width: 50%;
    }
    .users {
      width: 20%;
    }
    .percent {
      width: 30%;
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .progress, .percent_num {
      float: left;
    }
    .progress {
      border-radius: 3px;
      background: #cbeaff;
      height: 30px;
    }
    .percent_num {
      padding: 7px;
    }
  }
  .tile_grid_section table {
    .name_column {
      width: 25%;
    }
    .email_column {
      width: 30%;
    }
    .views_column {
      width: 10%;
    }
    .answer_column {
      width: 25%;
    }
    tfoot td {
      border: 0;
    }
  }
  // Pagination in grid restyling
  .pagination_status {
    display: none;
  }
  .pagination {
    float: none;
  }
  ul.pagination {
    margin-left: 40%;
    font-size: 13px;
    li {
      margin-left: 7px;
      a {
        color: #8c8c8c;
        background: transparent;
        border-radius: 3px;
        border: 1px solid #8c8c8c;
        padding: 4px 10px;
        &:hover {
          color: #666666;
          border-color: #666666;
          background: transparent;
        }

      }
      &:last-child a[rel='next'], &:first-child a[rel='prev'] {
        display: none;
      }
      &.disabled a {
        border: 0;
      }
      &.active a {
        color: #454545;
        border-color: #454545;
      }
    }
  }
}
