#tile-reports-tabs .ui-tabs-panel table {
	thead {
		color:darken($gray, 10%);
		font-family:$open-600;
		font-size:.875em;
		th {padding:.65em 0;}
		.tiles_headlines {padding-left:1em;}
		.tiles_completions, .tiles_percent_claimed, 
		.tiles_percent_all {text-align: center;}
	}
	tbody tr:nth-of-type(even) {
		background:lighten($light-gray, 11%);
	}
	tbody tr {
		border-bottom:1px $light-gray solid;
		&:hover {
			background:lighten($blue, 53%);
		}
	}
	td + td {padding:0;}
	td {
		vertical-align: middle;
		&.report_headline {
			font-size:1.125em;
			padding:0 0 0 1em;
		}
		&.report_image {
			background:$text-color;
			text-align: center;
			overflow: hidden;
			padding:0;
			position: relative;
			height:7em;
			width:7em;
			vertical-align: top;
			div { // firefox table fix
				position: relative;
				height:100%;
				width:100%;
			}
			img {
				max-width:100%;
				position: absolute;
				left:0; right:0; 
				bottom:0; top:0;
				margin:auto;
			}
		}
		&.num_completed {
			font-size:1.25em;
			font-family:$open-600;
		}
		&.percent_claimed, &.percent_all, 
		&.num_completed {text-align: center;}
		&.percent_claimed, &.percent_all {
			font-size:1.65em;
			font-family:$open-600;
		}
		&.percent_claimed {color:$orange;}
		// &.percent_all {color:$orange;}
	}
}