// Nav between tile-related pages
#tile_manager_nav {padding-bottom:2em;}
#tile_manager_nav ul {
  // background:image-url('v5/bg_dark.png');
  background:darken($blue, 10%);
  border-radius:$border-radius;
  display: inline-block;
  overflow: hidden;
  &:after{@include clear;}
  li, li a {display: inline-block;}
  li {
    float:left;
    width:25%;
    a {
      color:$light-gray;
      min-width:10em;
      width:100%;
      padding:.65em 2em ;
      position: relative;
      text-align: center;
      &:hover {
        @include ease(0);
        // background:$dark-gray;
        background:darken($blue, 15%);
        color:$white!important;
      }
      &:active {background:lighten($blue, 5%);}
    }
  }
  li + li a {
    border-left:1px $body-bg solid;
  }
}
// Div lines for Manage Tiles page
body.client_admin-tiles-index #tile_manager_nav ul li a {border-color:$blue;}

// Current page states
body.client_admin-tiles-index #tile_manager_nav ul li#managing_tiles a,
body.client_admins-show #tile_manager_nav ul li#board_activity a,
body.client_admin-users-index #tile_manager_nav ul li#users a,
body.client_admin-users-edit #tile_manager_nav ul li#users a {
  background:$dark-green;
  color:$white;
} 