.ui-widget {
  font-family:$sans;
  font-size:1em;
}
#tile-manager-tabs,
#tile-reports-tabs {
  background:transparent;
  border:0;
  border-radius:0;
  padding:0;
  * {border-radius:0;}

  // Manager tabs nav
  .ui-tabs-nav {
    border:0;
    background:transparent;
    padding-left:0;
    li {
      border:0;
      border-top:3px $white solid;
      font-size:1em;
      padding:.15em 1.5em;

      // Default tabs state
      &.ui-state-default {
        background:lighten($light-gray, 5%);
        border-color:lighten($light-gray, 5%);
        a {color:$gray;}
        &:hover {
          border-color:$blue;
          a{color:$text-color;}
        }
      }

      // Active tab state
      &.ui-tabs-selected {
        background:$white;
        border-color:$blue;
        a {color:$text-color;}
      }
    }
  }

  // Tab panels
  .ui-tabs-panel {
    background:$white;
    padding:2em 1em;
    table {margin-bottom:0;}
    table td {
      border-bottom:0;
      padding:0 0 2em 0;
      vertical-align: top;
    }
    table td + td {padding:0 0 2em 1em;}
  }

  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    margin:$centered;
    width:234px;
    position: relative;
    &:hover {.tile_buttons{display:block;}}
  }

  // Default buttons
  .tile_buttons {
    display:none;
    background:$blue;
    border-bottom:3px $white solid;
    position:absolute;
    top:0;
    right:0;
    width:100%;
    li {
      display:inline-block;
      float:right;
      margin:0;
      text-align: center;
      width:33%;

      // All buttons
      div {
        background:$blue;
        display:inline-block;
        width:100%;
        &:hover{background:darken($blue, 7%);}
        a {
          display:inline-block;
          color:$white;
          padding:.5em .85em;
        }

        // Archive button
        &.archive_tile_link {
          background:$red;
          &:hover {background:darken($red, 7%);
          }
        }
      }
    }
  }

  // Hide buttons that aren't used in certain tabs
  #archive .tile_buttons .archive_button {display:none;}
  #active .tile_buttons .activate_button {display:none;}
  #digest .tile_buttons {
    li {width:50%;}
    .archive_button, .activate_button {display:none;}
  }
  // Also hide activation dates indigest so as not to confuse admins
  #digest .activation_dates {
    display: none;
  }

  // Activate button
  .archive .tile_thumbnail .tile_buttons li div.archive_tile_link {
    background:$dark-green;
    &:hover {background:darken($dark-green, 7%);}
  }

  // Tile thumb wrapper for image and text
  .tile_thumb_holder {
    .image {
      background:$text-color;
      height:13em;
      overflow:hidden;
      position:relative;
      width:100%;
    }
    img {
      position: absolute;
      top:0;
      bottom:0;
      right:0;
      left: 0;
      margin:auto;
      max-width:100%;
    }
    .activation_dates, .tile_thumb_texts {
      background:$text-color;
    }
    .tile_thumb_texts {
      height:100px;
      padding:1em;
      position: relative;
      .headline {
        color:$white;
        font-family:$open-400;
        font-size:1.25em;
        line-height:1.25em;
        margin-bottom:1em;
      }
    }
    .activation_dates {
      color:$gray;
      font-family:$open-400;
      font-size:.875em;
      height:40px;
      padding:.5em 1em;
    }
  }
}

// Digest email panel
#digest_management {
  border-bottom:1px $light-gray solid;
  font-family:$open-400;
  margin-bottom:2em;
  padding-bottom:2em;
  form {display:inline-block;}
  .button_wrap {
    @include square-button-wrap($med-gray);
    input[type="submit"] {
      @include square-button($med-gray);
      font-size:1em;
      padding:.25em .5em;
    }
  }
  .update-digest-spinner {
    display: none;
    vertical-align: middle;
  }
  #digest-status-messages {
    color:$gray;
    font-size:.85em;
    margin-top:1.125em;
    a {
      @include link($blue);
      margin-right:.5em;
    }
    span {display:inline-block;}
    span#feedback {
      color:$orange;
      display: block;
      font-size:1.25em;
      font-family:$open-600;
      margin-bottom:1em;
    }
  }
}
.no_tiles_message {
  font-family:$open-400;
  font-size:1.3em;
  line-height:1.35em;
  padding:1em 15%;
}

.tile_thumbnail {
  a, a:hover {
    color: $dark-gray;
  }
}
