#digest-email-view {
  float: right
}

#digest-last-email-message {
  font-style: italic;
  color: #808080
}

#show-user-spinner {
  display: none;
  padding-left: 1em;
}

#digest-feedback {
  padding-left: 2em;
  color: blue;
  display: none;
}

form.button_to {
  display: inline-block;
}