body.client_admin-billing_informations {
  .payment_form_wrapper {
    text-align: center;

    h1 {
      color: $sky-blue;
      font-size: 18px;
    }

    form {
      display: inline-block;
      border: solid $med-gray 1px;
      padding: 1em 2em 1.4em 2em;

      input {
        display: inline;
      }

      $payment_row_width: 100%;
      $field_top_margin: 0.4em;

      input[type="text"] {
        background-color: $almost-white;
        border: 0;
        font-size: 14px;
        width: 88%;
        float: right;
      }

      .field_wrapper {
        display: inline-block;
        width: $payment_row_width;
        border: solid $med-gray 1px;
        padding: 0;
        margin-top: $field-top-margin;

        .fa {
          font-size: 14px;
          color: $med-gray;
          margin-top: 9px;
          width: 15px;
        }
      }

      #expiration_and_cvc_wrapper {
        .field_wrapper {
          width: ($payment_row_width / 2) - 2%;
        }
      }

      input[type="submit"] {
        @include app-button($sky-blue);
        font-size: 14px;
        color: $white;
        width: $payment_row_width;
        margin-top: $field_top_margin;
      }

      #credit_card_expiration, #credit_card_cvc {
        width: 75%;
      }

      #expiration_wrapper {
        float: left;
      }

      #cvc_wrapper {
        float: right;
      }
    }
  }
}
