body.client_admin-billing_informations {
  h1 {
    color: $sky-blue;
    font-size: 18px;
  }

  .payment_form_wrapper {
    text-align: center;

    form {
      display: inline-block;
      border: solid $med-gray 1px;
      padding: 1em 2em 1.4em 2em;

      input {
        display: inline;
      }

      $payment_row_width: 100%;
      $field_top_margin: 0.4em;

      input[type="text"] {
        background-color: $almost-white;
        border: 0;
        font-size: 14px;
        width: 88%;
        float: right;
      }

      .field_wrapper {
        display: inline-block;
        width: $payment_row_width;
        border: solid $med-gray 1px;
        padding: 0;
        margin-top: $field-top-margin;

        .fa {
          font-size: 14px;
          color: $med-gray;
          margin-top: 9px;
          width: 15px;
        }
      }

      #expiration_and_cvc_wrapper {
        .field_wrapper {
          width: ($payment_row_width / 2) - 2%;
        }
      }

      @mixin purchase-button($color) {
        @include app-button($color);
        font-size: 14px;
        color: $white;
        width: $payment_row_width;
        margin-top: $field_top_margin;
      }

      input[type="submit"] {
        @include purchase-button($sky-blue);
      }

      input[type="submit"][disabled] {
        @include purchase-button($light-gray);
      }

      #credit_card_expiration, #credit_card_cvc {
        width: 75%;
      }

      #expiration_wrapper {
        float: left;
      }

      #cvc_wrapper {
        float: right;
      }
    }
  }

  .field_with_errors {
    /* Rails' form helpers sure are helpful--except for when they want to
       wrap an extra div around fields with errors that fuck the styling all
       up. Luckily the fix is easy: */
    display: inline;
  }

  #return_image_and_link {
    text-align: center;
    border-top: solid $light-gray 1px;
    padding-top: 20px;

    #back_to_manage_link {
      @include app-button($sky-blue);
      position: relative;
      top: -400px;
      padding: 5px 30px;
    }
  }
}
