body.client_admin-board_settings-index{
  .board_settings{
    @import '../mixins/new_main_styles.css.scss';

    input[type="text"], input[type="file"]{
      width: 80%;
      display: block;
      background: $white;
      border-color: $light-gray;
    }
    input::-ms-clear { // hide 'x' for ie
      width: 0;
      height: 0;
    }
    .error_message{
      @include regular-text;
      color: $red;
      display: none;
      padding-bottom: 1em;
    }
    label {
      display: inline-block;
    }
    .clear_form{
      @include regular-text;
      cursor: pointer;
      padding-left: 1em;
      display: none;
    }
    .character-counter{
      margin-right: 115px;
      margin-top: 5px;
    }
    form{
      margin-bottom: 2em;
      &:not(.dirty){
        input[type="submit"]{
          @include light-button($gray);
        }
      }
      &.dirty {
        input[type="submit"]{
          @include app-button($sky-blue);
        }
        .clear_form{
          display: inline-block;
        }
      }
      &.has_error {
        input[type="text"]{
          background: rgba(198, 15, 19, 0.0980392);
        }
        .error_message {
          display: block;
        }
      }
    }
    form#edit_board_logo{
      .clear_form{
        display: inline-block;
      }
    }
    form#edit_board_email {
      .input_with_prefix{
        &:after{@include clear;}
        input {
          width: 50%;
          float: left;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }
        .postfix {
          width: 30%;
          float: left;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 3px;
        }
      }
    }
  }
}