body.client_admins-show {
  @import 'charts';

  .stats {
    &:after{@include clear;}
  }
  .stat-group {
    @include form-group;
    padding: 0;
    margin-bottom:2em;
    text-align: center;
  }
}
