@import 'charts';

.stats {
  &:after{@include clear;}
}
.stat-group {
  @include form-group;
  margin-bottom:2em;
  text-align: center;
  .labels {
    color:$text-color;
    @extend h3;
    margin-bottom:0;
  }
  .numbers h1 {
    color:$blue;
    display:block;
    margin:0 auto;
    padding:.5em;
    padding-top: 0;
    overflow-wrap:break-word;
    vertical-align: middle;
    word-wrap:break-word;
  }
  .labels + .labels {padding:.25em 0;}
}

.charting {
  @include form-group;
}