body.client_admin-bulk_uploads #title-database:before {background-position:-65px -15px;}
body.client_admin-bulk_uploads {
    * {box-sizing:border-box;}
    #uploader {
        #directions, #example-image {display:inline-block;}
        #directions {
            padding-right:2em;
            width:55%;
            form {
                margin-top:2em;
                .button_wrap {
                    @include square-button-wrap($dark-green);
                    border:1px darken($dark-green, 10%) solid;
                    margin-top:1em;                    
                }
                input[type="file"] {display:block;}
                input[type="submit"] {
                    @include square-button($gray);
                    background:$dark-green;
                    border-color:lighten($dark-green, 5%);
                    margin:0;
                    &:hover{
                        background-color:darken($dark-green, 3%);
                        border-color:$dark-green;
                    }
                }
            }
        }
        #example-image {
            vertical-align: top;
            width:44%;
        }
    }
}
