@import "flick/jquery-ui-1.8.10.custom.css";

// Need to specify this or else page jumps to the top every time you re-plot with new params
#my-chart { height: 400px; }

.charting {
  form {border:0; margin:0; padding:0;}
}
#chart-header .subsection-head {display:inline-block;}

#chart-options {
  margin-bottom:1.5em;
  position: relative;
  li {
    display:inline-block;
    margin-right:0.5em;
    &#chart-dates * {display: inline-block;}
    &#chart-dates span, &#chart-labeling span {
      @include caption;
      text-transform: uppercase;
    }
    &#show-button {
      margin-right:0;
      position: absolute;
      right:0;
      padding-top: 15px;
      #show-chart-link {
        @include app-button($sky-blue);
        margin:0;
      }
    }
    &#chart-labeling {
      margin-right:.25em;
      width:7em;
      span, select {display: block;}
      span {
        color:$med-gray;
        margin-bottom:.35em;
      }
    }
    &#chart-spinner {
        vertical-align:middle;
        margin-right:0;
        img{width:100%;height:auto;padding-left:0;}
    }

    img {margin: 0em;}
  }
  input, select {
    font-size:.875em;
  }
  input {
    color:$gray;
    &.datepicker {
      background:#fff;
      border:$border-dark;
      width: 7em;
    }
  }
  select {
    border:$border-dark;
    color:$dark-gray;
    outline:0;
    padding:5px 4px;
  }
}
