@import "flick/jquery-ui-1.8.10.custom.css";

// Need to specify this or else page jumps to the top every time you re-plot with new params
#my-chart { height: 400px; }

.charting {
  padding-top:.25em;
  form {border:0; margin:0; padding:0;}
}
#chart-header .subsection-head {display:inline-block;}

#chart-options {
  // background:$light-gray;
  // border: {
  //   style:solid;
  //   color:lighten($blue, 10%);
  //   top:{width:1px;}
  //   bottom:{width:0;}
  //   left:{width:1px;}
  //   right:{width:1px;}
  // }
  // border-top-right-radius: $border-radius;
  // border-top-left-radius: $border-radius;

  // padding:.5em;
  margin-bottom:1em;
  position: relative;
  li {
    display:inline-block;
    margin-right:0.5em;
    &#chart-dates * {display: inline-block;}
    &#chart-dates span, &#chart-labeling span {
      @include caption;
      color:$light-gray; 
      // font-size:.75em; 
      text-transform: uppercase;
    }
    &#show-button {
        position: absolute;
        right:0;
        top:30%;
    }
    &#chart-labeling {margin-right:.25em;}
    &#chart-spinner {
        vertical-align:middle;
        margin-right:0;
        img{width:100%;height:auto;padding-left:0;}
    }

    img {margin: 0em;}
  }
  input {
    color:$gray;
    &.datepicker {
      background:#fff;
      border:$border-dark;
      font-size:.875em;
      width: 110px;
    }
  }
  select {
    border:$border-dark;
    color:$dark-gray;
    font-size:1em;
    outline:0;
    padding:5px 4px;
  }
  .button_wrap#show-chart {
    #show-chart-link {
      @include app-button($dark-green);
      margin:0;
    }
  }
}
