body {min-width:$large-desktop;}
@media only screen and (min-width: $foundation) {
  header { height: 47px; }
}
header .admin_options #manage_board:before {background:$dark-green;}
header .explore_menu #explore_board:before {display: none;}

// until Tile Wall admin toggle works,
// using :hover to make link NOT look like a toggle
header .admin_options #manage_board:hover:before {background:$dark-green;}
#tile_manager_nav { display: block !important; }
.form_title {margin-bottom:1em;}
