@import "internal/internal_ie8.css.scss";

header {
  .admin_options #manage_board:before {background:$dark-green;}
  .admin_options #manage_board:hover:before {background:$dark-green;}
  .explore_menu #explore_board:before {display: none;}
  .explore_menu #explore_board:hover:before {display: none;}
}

#chart-options li#show-button {top:13px;}

.edit_tiles_content, 
.edit_tile_image {border:1px $med-gray solid;}
.edit_tiles_content {border-top:0;}

#scheduled_followups h3 {margin-bottom:.95em;}
