body {min-width:$large-desktop;}
@media only screen and (min-width: $foundation) {
  header { height: 50px; }
}
header .admin_options #manage_board:before {background:$dark-green;}
header .explore_menu #explore_board:before {display: none;}

// until Tile Wall admin toggle works,
// using :hover to make link NOT look like a toggle
header .admin_options #manage_board:hover:before {background:$dark-green;}

.main {
  width: 100%;
  @media only screen and (min-width: $foundation) {
    background: $ca-subnav-color;
  }
  display: block;
  overflow: hidden;

  &:after {
    @include clear;
  }
}
.core{
  background-color: $white;
  @media only screen and (min-width: $foundation) {
    float: none;
    width: auto;
    overflow: hidden;
    //min-height: 523px;
  }
}
.content {
  background-color: $white;
  position: relative;
/*
  @media only screen and (min-width: $foundation) {
    //display: inline-block;
    float: none;
    width: auto;
    overflow: hidden;
    //width: -moz-calc(100% - #{$ca-subnav-size});
    //width: -webkit-calc(100% - #{$ca-subnav-size});
    //width: calc(100% - #{$ca-subnav-size});
  }
*/
  /*@media only screen and (min-width: $large-desktop) {
    .row {
      max-width: -moz-calc(#{$large-desktop} - #{$ca-subnav-size});
      max-width: -webkit-calc(#{$large-desktop} - #{$ca-subnav-size});
      max-width: calc(#{$large-desktop} - #{$ca-subnav-size});
    }
  }*/

  h2, h3 {
    margin-bottom:1em;
  }
}

.form_title {margin-bottom:1em;}

span.character-counter {
  @include caption;
  color:$med-gray;
  float:right;
  padding-top:.5em;
}
