#flash_failure, #flash_notice, #flash_success {
  border:0;
  border-radius: 0;
  color:$white;
  font-family: $open-400;
  margin:0;
  a {
    color:$white;
    font-family: $open-600;
  }
}
#flash_success {
  background:$dark-green;
  &:after{@include arrow-left($dark-green);}
}
#flash_failure {
  background:$red;
  &:after{@include arrow-left($red);}
}
#flash_notice {
  background:$blue;
  &:after{@include arrow-left($blue);}
}