.lock_screen{
    @include form-group;
    margin-left: 15px;
    margin-right: 15px;
    padding: 70px 0;
    
    .fa.fa-lock{
        font-size: 100px;
        color: $light-gray;
    }   
    .light_button{        
        @include light-button($dark-green);
        margin-top: 20px;
    }    
}
