body.client_admins #title-overview:before {background-position:-1px -15px;}
.stats {
    border-bottom:$border-light;
    padding:0 0 2em 0;
    text-align: center;
    &:after{
        clear: both;
        content:"";
        display: block;
    }
}
    .stat-group {
        width:33.33%;
        float:left;
        text-align:center;
        .numbers h2 {
            background:url('client_admin/circle-bg.png') center center no-repeat;
            color:$orange;
            display:block;
            font-family:$sans;
            font-size:2.5em;
            font-weight:700;
            height:160px;
            line-height: 5em;
            margin:0 auto;
            overflow-wrap:break-word;
            vertical-align: middle;
            width:160px;
            word-wrap:break-word;
        }
        .labels {
            color:lighten($text-color, 50%);
            font-size:1.25em;
            font-weight:bold;
            padding:1em 0;
        }
    }
