body.client_admin-payments {
  .payment_balance {
    font-size:1em;
  }
  .outstanding_balance, .billed_date {
    span {@include font-bold;}
  }
  .outstanding_balance {
    span {font-size:1.428571429em;}
  }
  button.stripe-button-el {
    @include app-button($dark-green);
    box-shadow: none;
    margin:1em 0 3em 0;
    padding:0;
    span {
      background: transparent;
      box-shadow:none;
      color:$white;
      @include font-bold;
      font-size:14px;
      text-shadow:none;
      &:active {
        background:transparent;
        box-shadow:none;
      }
    }
  }
}