body.client_admin-payments {
  .payment_balance {
    font-size:1em;
  }
  .outstanding_balance, .billed_date {
    span {font-family:$open-600;}
  }
  .outstanding_balance {
    padding:1em 0;
    span {font-size:1.428571429em;}
  }
  button.stripe-button-el {
    @include pop-button($blue);
    border-radius:0;
    box-shadow:none;
    margin:1em 0 3em 0;
    span {
      background: transparent;
      border:0;
      box-shadow:none;
      color:$white;
      font-family:$open-600;
      font-size:14px;
      text-shadow:none;
      &:active {
        background:transparent;
        box-shadow:none;
      }
    }
  }
}