body.client_admin-prizes {
  .close_modal{ display: none; }
  .steps_nav_bar{
    padding-bottom: 2em;
    .breadcrumb {
      background: $white;
      border:1px $light-gray solid;
      border-radius:$border-radius;
      overflow: hidden;
      display: inline-block;
      font-size: 16px;
      color: $light-gray;
      &:after{@include clear;}
      li {
        float:left;
        margin-right:1em;
        display:inline-block;
        min-width:12em;
        padding:.25em 1em .25em 1.5em;
        position: relative;
        text-align:center;
        font-weight: 700;
        &.selected{
          color: $blue;
        }
        &:not(:first-child) {
          padding-left: 2.5em;
        }
        &:not(:last-child):after {
          @include arrow-right($white, 1.125em);
          margin-top:-1.125em;
          position: absolute;
          top:50%;
          right:-1em;
          z-index:1;
        }
      }
      li + li {
        margin-left:-1em;
        //padding-left:2.5em;
        &:before {
          @include arrow-right($light-gray, 1.125em);
          margin-top:-1.125em;
          position: absolute;
          top:50%;
          left:0;
          z-index:0;
        }
      }
    }
  }
  .steps_nav_bar {
    position: relative;
    .how-to {
      position: absolute;
      bottom: 0.3rem;
      right: 0;
      margin-right: 1em;
      a.how_works{
        color: $light-gray;
        font-size: 0.9em;
        font-weight: 500;
        &:hover, &:active {
          color: $med-gray;
        }
      }
      a.new_prize{
        margin: 0;
        font-size: 16px;
        padding-left: 1em;
        padding-right: 1em;
      }
      .pick_winners_from{
        color: $blue;
        font-size: 14px;
        font-weight: 700;
      }
      .pick_winners_from{
        color: $blue;
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
  label.small_cap{
    padding-bottom: 2em;
  }
  input, button, textarea, .button{
    border-radius: 3px;
  }
  .button{
    background: transparent;
    border: 1px solid $sky-blue;
    color: $sky-blue;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  .form_section{
    width:34%;
    form{
      margin-bottom: 4em;
      textarea{
        width: 100%;
        margin-bottom: 0.5em;
        resize: none;
      }
      input, textarea{
        font-size: 14px;
        &:disabled{
          border-color:transparent;
        }
      }
      .content_section{
        margin-bottom: 2em; 
        position: relative;
      }
      .duration{
        display: table;
        width: 100%;
        input, label{
          display: inline;
        }
        input {
          width: 100%;
        }
        .to_label{
          width:7%;
          display: table-cell;
          text-align: center;
        }
        .date_input{
          display: table-cell;
          width: 46.5%;
        }
      }
      .outer_tip{
        color: $med-gray;
        font-size: 10px;
        font-weight: 700;
        padding-top: 0.5em;
        padding-left: 0.5em;
      }
      .add_another{
        position: absolute;
        bottom: 0.46em;
        left: 0;
        font-size: 12px;
        color: $med-gray;
        font-weight: 700;
        cursor: pointer;
        .fa{
          font-size: 14px;
        }
      }
      #prizes{
        .prize_section{
          padding-bottom: 3.5em;
          &:first-child{
            .remove_prize{
              display: none;
            }
          }
          textarea{
            height: 4.5em;
          }
          .remove_prize{
            cursor: pointer;
            color: $med-gray;
            font-size: 14px;
            font-weight: 400;
            float: left;
          }
          .character-counter{
            padding-top: 0.4em;
          }
        }
      }
      #raffle_other_info{
        height: 6em;
      }
    }
  .buttons_section{
      display: flex;
      .button{
        width: 46.5%;//46.5%;
        &:nth-child(odd){
          margin-right: 7%;
        }
        &:nth-child(even){
          float: right;
        }
        &.blue_button{
          background: $sky-blue;
          color: $white;
          box-shadow: none;
          &[disabled]{
            color: $white;
            background: $light-blue;
            border: 1px solid $light-blue;
          }
          &#period_complete{
            width: 100%;
            margin: 0;
          }
        }
        &[disabled]{
          background: $white;
        }
        &[disabled], &.finish_button{
          color: $med-gray;
          border: 1px solid $med-gray;
          &.confirmation{
            color: $red;
            border-color: $red;
          }
        }
      }
    }
  }
  .clear_form {
    cursor: pointer;
    color: $med-gray;
    font-size: 14px;
    font-weight: 400;
  }
  .action_section{
    width: 66%;
    .columns, .row{
      //padding: 0;
      margin: 0;
    }
  }
  .pick_container{
    .instruction_box{
      background: $sky-blue;
      color: $white;
      font-size: 14px;
      padding: 0.5em;
      font-weight: 700;
      border-radius: 3px;
    }
    form#pick_winners{
      margin-top: 2em;
      margin-bottom: 2em;
      *{
        display: inline;
        font-size: 14px;
        margin-right: 1em;
      }
      label{
        font-weight: 500;
        color: $text-color;
      }
      input[type=text]{
        color: $text-color;
        text-align: center;
        width: 5em;
      }
      .pick_winners_submit{
        position: relative;
        input[type=submit]{
          color: $white;
          background: $sky-blue;
          font-size: 16px;
          padding: 0.35em;
          border: 0;
          width: 10em;
          margin: 0;
          &.re-pick{
            color: $med-gray;
            border: 1px solid $med-gray;
            background: $white;
          }
        }
        #submit_spinner{
          position: absolute;
          left: 4.5em;
          bottom: -0.3em;
        }
      }
    }
    .winners_output{
      border-radius: 3px;
      border: 1px solid $light-gray;
      .title{
        border-bottom: 1px solid $light-gray;
        width:100%;
        color: $sky-blue;
        font-size: 18px;
        padding: 0.55em;
        i{
          font-size: 18px;
        }
      }
      .winners{
        color: $med-gray;
        font-size: 14px;
        p{
          padding: 2em 5em 5em 2em;
          line-height: 1.5;
        }
        table{
          margin: 0;
          color: $med-gray;
          font-size: 10px;
          .winner_number{
            text-align: right;
            padding-right: 0.4em;
            width: 4%;
          }
          .winner_name{
            text-align: left;
            padding-left: 0.4em;
            width: 25%;
          }
          .winner_chances{
            text-align: right;
            width:10%;
          }
          .winner_email{
            padding-left: 5rem;
            a{
              color: $med-gray;
            }
          }
          .winner_delete, .winner_repick{
            width: 10%;
            a{
              color: $sky-blue;
              visibility: hidden;
            }
          }
          thead{
            background: $blue;
            color: $white;
            text-transform: uppercase;
            th{
              border: 0;
              padding-left: 1em;
            }
          }
          tbody{
            font-size: 12px;
            font-weight: 700;
            tr{
              &:hover{
                color: $sky-blue;
                a{
                  color: $sky-blue;
                }
                .winner_delete a, .winner_repick a{
                  visibility: visible;
                }
                .winner_number, .winner_name, .winner_chances{
                  color: $text-color;
                }
              }
              &:last-child{
                td{
                  border: 0;
                }
              }
            }
            td{
              padding-top: 1em;
              padding-bottom: 1em;
            }
          }
        }
      }
    }
    #no_potential_winners_error {
      font-size: 14px;
      color: $sky-blue;
      padding: 1rem;
    }
  }
  .pick_container{
    .instruction_box{
      background: $sky-blue;
      color: $white;
      font-size: 14px;
      padding: 0.5em;
      font-weight: 700;
      border-radius: 3px;
    }
    form#pick_winners{
      margin-top: 2em;
      margin-bottom: 2em;
      *{
        display: inline;
        font-size: 14px;
        margin-right: 1em;
      }
      label{
        font-weight: 500;
        color: $med-gray;
      }
      input[type=text]{
        color: $med-gray;
        text-align: center;
        width: 5em;
      }
      input[type=submit]{
        color: $white;
        background: $sky-blue;
        font-size: 18px;
        padding: 0.3em;
        border: 0;
        width: 10em;
        &.re-pick{
          color: $med-gray;
          border: 1px solid $med-gray;
          background: $white;
        }
      }
    }
    .winners_output{
      border-radius: 3px;
      border: 1px solid $light-gray;
      .title{
        border-bottom: 1px solid $light-gray;
        width:100%;
        color: $sky-blue;
        font-size: 18px;
        padding: 0.55em;
        i{
          font-size: 24px;
        }
      }
      .winners{
        color: $med-gray;
        font-size: 14px;
        p{
          padding: 2em 5em 5em 5em;
          line-height: 1.5;
        }
        table{
          margin: 0;
          color: $med-gray;
          font-size: 10px;
          .winner_number{
            text-align: right;
            padding-right: 0.4em;
            width: 4%;
          }
          .winner_name{
            text-align: left;
            padding-left: 0.4em;
            width: 25%;
          }
          .winner_chances{
            text-align: right;
            width:10%;
          }
          .winner_email{
            padding-left: 5rem;
          }
          .winner_delete, .winner_repick{
            width: 10%;
            a{
              color: $sky-blue;
              visibility: hidden;
            }
          }
          thead{
            background: $blue;
            color: $white;
            text-transform: uppercase;
            th{
              border: 0;
              padding-left: 1em;
            }
          }
          tbody{
            font-size: 12px;
            font-weight: 700;
            tr{
              &:hover{
                color: $sky-blue;
                .winner_delete a, .winner_repick a{
                  visibility: visible;
                }
              }
              &:last-child{
                td{
                  border: 0;
                }
              }
            }
            td{
              padding-top: 1em;
              padding-bottom: 1em;
            }
          }
        }
      }
    }
  }
  .field_with_errors{
    display: inline;
  }
  //--------some standard things from jquery-ui or foundation changed-------//
  .ui-widget-overlay{
    z-index: 2;
    display: none;
  }
  .ui-dialog{
    z-index: 3;
    .ui-dialog-titlebar-close:hover{
        background: $sky-blue;
      }
    .ui-icon-closethick{
      margin: 0;
      margin-top: -8px;
      margin-left: -9px;
    }
    .ui-dialog-buttonpane{
      padding-right:0.4em;
      .ui-dialog-buttonset{
        width: 100%;
        button{
          background: transparent;
          width: 47.5%;
          border: 1px solid $sky-blue;
          color: $sky-blue;
          font-size: 18px;
          font-weight: 400;
          margin-right: 0;
          border-radius: 0;
          &:nth-child(odd){
            margin-right: 5%;
            background: $sky-blue;
            color: $white;
            box-shadow: none;
          }
          span{
            padding: 0.2em 1em;
          }
        }
      }
    }
  }
  .tooltip.tip-bottom{
    width: 12.5em !important;
    margin-left: -0.7em !important;
    text-align: center;
    .nub{
      left: 5.8em !important;
    }
  }
  .ui-datepicker{
    td{
      a, span{
        border: 1px solid transparent !important;
      }
      span{
        color: $light-gray;
      }
    }
  }
}

