body.client_admin-prizes {
  .steps_nav_bar{
    padding-bottom: 2em;
    .breadcrumb {
      border:1px $light-gray solid;
      border-radius:$border-radius;
      overflow: hidden;
      display: inline-block;
      font-size: 16px;
      color: $light-gray;
      &:after{@include clear;}
      li {
        float:left;
        margin-right:1em;
        display:inline-block;
        min-width:12em;
        padding:.25em 1em .25em 1.5em;
        position: relative;
        text-align:center;
        &:not(:first-child) {
          padding-left: 2.5em;
        }
        &:not(:last-child):after {
          @include arrow-right(white, 1.125em);
          margin-top:-1.125em;
          position: absolute;
          top:50%;
          right:-1em;
          z-index:1;
        }
      }
      li + li {
        margin-left:-1em;
        //padding-left:2.5em;
        &:before {
          @include arrow-right($light-gray, 1.125em);
          margin-top:-1.125em;
          position: absolute;
          top:50%;
          left:0;
          z-index:0;
        }
      }
    }
  }
  .steps_nav_bar {
    position: relative;
    .how-to {
      position: absolute;
      bottom: 2.4em;
      right: 0;
      margin-right: 1em;
      a{
        color: $light-gray;
        font-size: 0.9em;
      }
    }
  }
  label.small_cap{
    padding-bottom: 2em;
  }
  .form_section{
    width:34%;
    form{
      textarea{
        width: 100%;
        margin-bottom: 0.5em;
      }
      input, textarea{
        font-size: 14px;
      }
      .content_section{
        margin-bottom: 2em; 
        position: relative;
      }
      .duration{
        input, label{
          display: inline;
        }
        input {
          width: 46.9%;
        }
        .outer_tip{
          color: $med-gray;
          font-size: 10px;
          font-weight: 700;
          padding-top: 0.5em;
          padding-left: 0.5em;
        }
      }
      .add_another{
        position: absolute;
        bottom: 0.46em;
        left: 0;
        font-size: 12px;
        color: $med-gray;
        font-weight: 700;
        cursor: pointer;
        .fa{
          font-size: 14px;
        }
      }
      .prize_section{
        padding-bottom: 1.5em;
        textarea{
          height: 4.5em;
        }
      }
      #raffle_other_info{
        height: 6em;
      }
    }
  .buttons_section{
      button{
        background: transparent;
        width: 46.9%;
        border: 1px solid $sky-blue;
        color: $sky-blue;
        font-size: 18px;
        font-weight: 100;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        &:nth-child(odd){
          margin-right: 5%;
        }
        &.blue_button{
          background: $sky-blue;
          color: white;
          box-shadow: none;
        }
      }
    }
  }
  .action_section{
    width: 66%;
    .columns, .row{
      padding: 0;
      margin: 0;
    }
    .prize_num{
      color: $white;
      font-size: 36px;
      padding: 0;
      margin: 0;
    }
    .prize_caps{
      font-size: 0.8em;
      text-transform: uppercase;
    }
    .preview_container{
      border: 1px solid $light-gray;
      padding: 3em;
      .prize_box{
        margin: auto;
        width: 360px;
        border: 1px solid $light-gray;
        .icon_container{
          width: 58px;
          padding: 0.7em;
          text-align: center;
          color: $white;
          icon{
            font-size: 36px;
          }
        }
        .desc_container{
          width: 300px;
          padding: 0.2em;
        }
        .prize_header{
          position: relative;
          padding: 0.5em;
          h1{
            display: inline;
          }
          .end_date{
            position: absolute;
            bottom: 0.8em;
            right: 0.8em;
            display: inline;
            font-size: 14px;
            color: $med-gray;
          }
        }
        .tickets_row, .time_row{
          color: $white;
          text-align: center;
          border-bottom: 1px solid $white;
          .desc_container{
            border-left: 1px solid $white;
          }
        }
        .tickets_row{
          background: $sky-blue;
        }
        .time_row{
          background: $text-color;
          .big_date, .small_date{
            display: inline;
            width: 50%;
            padding: 0.2em;
          }
          .small_date{
            border-left: 1px solid $white;
          }
          .desc_container{
            padding: 0;
          }
        }
        .prizes_container{
          .prize_row{
            border-bottom: 1px solid $light-gray;
            .icon_container{
              color: $sky-blue;
              padding: 0.3em;
            }
            .prize_description{
              font-size: 14px;
              min-height: 3.3em;
              border-left: 1px solid $light-gray;
              display: table;
              padding: 0.5em;
              p{
                display: table-cell;
                vertical-align: middle;
                word-break: break-all;
              }
            }
          }
        }
        .other_info_row{
          padding: 1em 0.5em 1em 0.5em;
          font-size: 14px;
        }
      }
      .placeholder_text{
        color: $med-gray;
      }
    }
  }
}
