form {
    border-bottom:$border-light;
    padding:2em 0;
    fieldset {
        background:transparent;
        border:$border-dark;
        margin:0;
        padding:0;
    }
    .form_title {
        border-bottom:$border-dark;
        color:darken($gray, 20%);
        font-family:$sans;
        font-size:1.5em;
        font-weight:500;
        padding:.5em 1em;
        width:100%;
    }
    .segmentation-triple-wrapper {margin-bottom:.5em; padding:0 1em;}
    #segmentation_buttons {
        background:#fff;
        color:$gray;
        padding:1em 2.85em;

        // ========== "Add another" button ==========
        .button_wrap#add {
            @include square-button-wrap($gray);
            border:1px darken($gray, 10%) solid;
            margin-right:1em;
            &:hover {background:darken($gray, 3%);}
        }
        a#add_more_characteristics {
            @include square-button;
            border:{
                style:solid;
                color:lighten($gray, 5%);
                top:{width:1px;}
                bottom:{width:0;}
                left:{width:1px;}
                right:{width:1px;}
            }
            span {
                background:url('client_admin/sprites.png') no-repeat -30px -56px transparent;
                display:inline-block;
                height:16px;
                margin-right:5px;
                width:16px;
                vertical-align: middle;
            }
        } // ========== "Add another" button END ==========

        // ======= Submit button =======
        .button_wrap#find {
            @include square-button-wrap($dark-green);
            background:url('client_admin/search.png') no-repeat 7px 8px $dark-green;
            border:1px darken($dark-green, 10%) solid;
            margin-left:1em;
            &:hover {background-color:darken($dark-green, 3%);}
        }
        input[type="submit"] { 
            @include square-button;
            background:transparent;
            border:{
                style:solid;
                color:lighten($dark-green, 5%);
                top:{width:1px;}
                bottom:{width:0;}
                left:{width:1px;}
                right:{width:1px;}
            }
            font-family:$sans;
            margin:0 0 1px 0;
            padding-left:28px;
            &:hover{cursor:pointer;}
        }

    }
    #segmentation_parameters {
        background:#fff;
        padding:1.5em 0;
        a.remove_this_characteristic {
            background:url('client_admin/sprites.png') no-repeat transparent;
            background-position:0 -49px;
            display:inline-block;
            float:left;
            height:27px;
            vertical-align: top;
            width:22px;

            font-size:0;
            text-indent: -9999999px;
        }
        p.label {
            padding:0 0 .4em 45px;
            color:$gray;
            font-size:.8em;
            font-weight:500;
            text-transform: uppercase;
        }
        .characteristics {
            display: inline-block;
            li {
                display:inline-block;
                padding-right:5px;
            }
            select, input[type="text"] {
                background:#fff;
                border:$border-dark;
                font-size:1em;
                padding:3px;
            }
            select.segment-operator {width:170px;}
            select.segment-value,
            input[type="text"] {width:200px;}
        }
    }
}

#segmentation-results {
    border-top:$border-dark;
    padding:2em 0;
    h1 {
        color:$gray;
        font-size:1.75em;
        font-weight:300;
        padding-bottom:.75em;
    }
    #segmentation-explanation {
        border:1px red solid;
        display:inline-block;
        vertical-align: top;
        width:60%;

    }
    #segmentation-numbers {
        border:1px blue solid;
        display:inline-block;
        vertical-align: top;
    }
}