body.client_admin-segmentations form {
    border-bottom:$border-light;
    padding:0 0 2em 0;
    fieldset {
        background:transparent;
        border:$border-dark;
        margin:0;
        padding:0;
    }
    .segmentation-triple-wrapper {margin-bottom:.5em; padding:0 1em;}
    #segmentation_buttons {
        background:#fff;
        color:$gray;
        padding:0 2.85em 2em 2.85em;

        // ========== "Add another" button ==========
        .button_wrap#add {
            @include square-button-wrap($gray);
            margin-right:1em;
            &:hover {background:darken($gray, 3%);}
        }
        a#add_more_characteristics {
            @include square-button($gray);
            background:transparent;
            span {
                background:image-url('client_admin/sprites.png') no-repeat -30px -56px transparent;
                display:inline-block;
                height:16px;
                margin-right:5px;
                width:16px;
                vertical-align: middle;
            }
        } // ========== "Add another" button END ==========

        // ======= Submit button =======
        .button_wrap#find {
            background:image-url('client_admin/search.png') no-repeat 7px 8px $dark-green;
            margin-left:1em;
            &:hover {background-color:darken($dark-green, 3%);}
        }
        input[type="submit"] { 
            background:transparent;
            font-family:$open-600;
            margin:0 0 1px 0;
            padding-left:28px;
            &:hover{background:transparent; cursor:pointer;}
        }

    }
    #segmentation_parameters {
        background:#fff;
        padding:1.5em 0;
        a.remove_this_characteristic {
            background:image-url('client_admin/sprites.png') no-repeat transparent;
            background-position:0 -49px;
            display:inline-block;
            float:left;
            height:27px;
            vertical-align: top;
            width:22px;

            font-size:0;
            text-indent: -9999999px;
        }
        p.label {
            padding:0 0 .4em 45px;
            color:$gray;
            font-size:.8em;
            font-family:$open-400;
            text-transform: uppercase;
        }
        .characteristics {
            display: inline-block;
            li {
                display:inline-block;
                padding-right:5px;
            }
            select, input[type="text"] {
                background:#fff;
                border:$border-dark;
                font-size:1em;
                padding:3px;
            }
            select.segment-operator {width:170px;}
            .segment-col1 select {width:225px;}
            .segment-col3 {
                select, input[type="text"] {width:200px;}
            }
        }
    }
}

#segmentation-results {
    border-top:$border-dark;
    .segmentation-results-col {
        display:inline-block;
        float:left;
        vertical-align: top;
        &#segmentation-explanation {
            width:63%;
            p#segmented-at-timestamp {
                color:lighten($text-color, 30%);
                padding:2em 0;
            }
            ul {
                font-size:1.25em;
            }
            .explanation {
                border-bottom:1px lighten($light-gray, 4%) solid;
                padding:.75em 0;
                &:nth-of-type(1) {border-top:0;}
            }
        }
        &#segmentation-numbers {
            padding-top:2em;
            text-align: center;
            width:37%;
            h2 {
                color:lighten($text-color, 50%);
                font-family:$sans;
                font-size:1.20em;
                font-family:$open-600;
                span {
                    background:image-url('client_admin/circleL-bg.png') center center no-repeat transparent;
                    color:$orange;
                    font-family:$open-600;
                    display:block;
                    line-height:5;
                    height:210px;
                    margin:0 auto .25em auto;
                    width:210px;
                    font-size:2.5em;
                }
            }
        }
    }
    
}
