@import "mixins/lightbox.css.scss";

.client_admin-shares-show {

  #next_top_disabled, #next_bottom_disabled{
    .light_button{
      @include light-button($gray);
    }
  }

  #share_tiles_digest{
    margin: 0 158px;
    .invite_users_header_page_1, .invite_users_header_page_2{ 
      h1{
        margin-left: 40px;
      }
    }
  }
  #success_share_url{
    text-align: center !important;
    h1{
      color: $sky-blue;
    }
    .share_url_link{
      float: left;
      margin-left: 263px;
      width: 493px;
      padding-bottom: 100px;
      #public_board_field {
        display: inline;
        width: 100%;
        height: $public_slug_height;
      }
    }
    #share_link a{
      float: left;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 100px;
      color: $dark-gray;
    }
    .success_url_h3{
      padding-bottom: 100px;
    }
    .share_url_header_div{
      margin: auto;
      display: block;
      width: 352px;
      padding-bottom: 100px;
    }
    .share_url_logo{
      float: left;
      width: 50px;
    }
    .share_url_header{
      float: left;
      padding-left: 20px;
    }
    .history_back {
      padding: 8px 20px !important;
      margin-right: 15px;
      @include light-button($gray);
      .fa-angle-left{
          padding-right: 5px;
          font-weight: bold;
      }
    }
  }

  #success_share_digest{
    #success_section{
      text-align: center !important;
      h1, h3{
        color: $sky-blue;
      }
      .share_url_link{
        float: left;
        margin-left: 320px;
        width: 493px;
        padding-bottom: 20px;
        #public_board_field {
          display: inline;
          width: 100%;
          height: $public_slug_height;
        }
      }
      #share_link a{
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        color: $dark-gray;
      }
      .success_url_h3{
        padding-bottom: 100px;
      }
      .share_url_header_div{
        margin: auto;
        display: block;
        width: 352px;
        padding-bottom: 60px;
      }
      .share_url_logo{
        float: left;
        width: 50px;
      }
      .share_url_header{
        float: left;
        padding-left: 20px;
      }
      .above_back_to_tile{
        padding-bottom: 100px;
      }
    }
  }

  .history_back {
    padding: 8px 20px !important;
    margin-left: 5px;
    @include light-button($gray);
    .fa-angle-left{
      padding-right: 5px;
      font-weight: bold;
    }
  }

  #invite_users_send_button{
    @include app-button($dark-green);
    padding: 8px 56px !important;
    margin-right: 5px;
    .fa-envelope{
      padding-right: 5px;
      font-weight: bold;
    }
  }

  .checked_activated_tile {
    position: absolute;
    margin-left: 194px;
    z-index: 20;
    color: #4FAA60;
    display: block;
  }

  .arrow_image_left{
    position: absolute;
    margin-left: 110px;
    margin-top: -25px;
    z-index: 9;
  }

  .arrow_image_right{
    position: absolute;
    margin-left: -189px;
    margin-top: -125px;
    z-index: 9;
  }

  #reveal_next_button{
    font-size: 16px;
    position: relative;
    float: right;
    margin-right: -28px;
    margin-top: 0px;
  }    

  .show_tiles{
    padding: 8px 20px !important;
    margin-left: 15px;
    @include light-button($gray);
    .fa-th{
      padding-right: 5px;
      font-weight: bold;
    }
  }

  #users_invite_message{
    height: 70px;
  }

  #form_links{
    margin-left: 5px;
    margin-top: 30px;
  }

  #form_buttons{
    margin-right: 5px;
    margin-top: 30px;
    text-align: right;
  }

  #message_buttons_custom{
    padding-top: 30px;
  }

  #add_another_user_invite{
    margin-bottom: 20px;
    padding: 8px 20px !important;
    @include light-button($gray);
    color: #62AD51;
    .fa-user{
      padding-right: 5px;
    }
  }

  #invite_images{
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #user_invite_message_custom{    
    background-color: #ECECEC;
    margin: 0 20px;
    padding: 10px 10px 20px 10px;
    margin-bottom: 50px;
  }

  .email_client_wrapper{
    padding: 0 20px;
  }

  #share_active_tile{
    margin: auto;
    width: 24%;
    background-color: #ECECEC;
    padding-left: 10px;
  }

  #share_archive{
    background-color: #ECECEC;
    margin-top: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-right: 60px;
    padding: 15px 0 0 10px;
  }

  #tile_message{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #62AD51;
  }

  .send_button {
    margin-top: 20px;
    font-weight: bold;
    color: #4E6687;
  }

  #create_tile_link {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  #message_div{
    text-align: center;
    position: relative;
    margin: auto;
    line-height: 40px;
  }

  #invite_users_modal {
    padding:20px;
    .share-user-profile{
      text-align: center;
    }
    .error_message {
      .main {
        position: absolute;
        margin-top: -2em;
        margin-left: 1.5em;
        font-size: .75em;
        font-weight: normal;
        color: $red;
      }
    }

    h3 {
      margin-left: 20px;
    }
    #submit_invite_users, #next_button {
      margin-bottom: 20px;
      padding: 8px 20px !important;
      &.engaged {
        @include light-button($dark-green);
      }
      &.disengaged {
        @include light-button($gray);
      }
      .fa-angle-right{
        padding-left: 5px;
        font-weight: bold;
      }
    }
    #skip_invite_users{
      color: $gray;
    }
    #dismiss_invite_users {
      height: $public_slug_height;
      &.engaged {
        @include light-button($dark-green);
      }
      &.disengaged {
        @include app-button($gray);
      }    
    }
    .info-cols {
      li {
        box-sizing: border-box;
        background-color: #ECECEC;
        padding: 10px;
        float: left;
        margin: 1em 1em 2em 1em;
      }
      .error_message {
        position: absolute;
        margin-top: 1em;
        font-size: .75em;
        font-weight: normal;
        color: $red;
      }
    }

    .move-right {
      text-align:right;
      margin-right:35px;
      margin-bottom:20px;	
    }
    .blue {
      color:#50698c !important;	
    }
    .blue:hover {
      text-decoration:underline !important;	
    }
    .error_cross {
      &:before {
        background: $white;
        border-radius: 2em;
        z-index: 100;
        content: "\f058"; 
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        text-decoration: inherit;
        /*--adjust as necessary--*/
        display: block;
        /*      position: absolute;*/
        color: $dark-green;
        font-size: 36px;
        line-height: 1.1em;
        padding-top: 1px;
        /*      top: -5px;
              right: -5px;      */
        width: 1.15em;
      }        
    }
    input.invalid {
      background-position: right top;
      background-repeat: no-repeat;
      -moz-box-shadow: none;
    }
    input.waiting {
      background-image: url('spinner.gif');
      background-position: right top;
      background-repeat: no-repeat;
      -moz-box-shadow: none;
    }
    input.valid {
      background-image: url('client_admin/valid.png');
      background-position: right top;
      background-repeat: no-repeat;
    }  
  }

  /*  #progress{
      float:left;
      margin-top: 17px;
      &.share_progress {
        @include progress-container;
        @include radius(6px);
        & > span {
          @include progress-meter($dark-green);
          @include radius(5px);
        }
      }
    }*/
}


//.archive{
//  padding: 4px 10px 15px 10px;
//}

.light_button{
  @include light-button($dark-green);
}

