// Digest email and followup controls

@mixin share-instructions {
  @include font-regular;
  color:$gray;
  display:block;
  font-size:.857142857em;
  line-height: 1.25em;
  max-width:27em;
  padding-bottom:.5em;
}

.share_tools .notification_controls,
.share_tools .no_tiles_messages,
.share_tools .public_board_controls {@include form-group;}
.share_tools .public_board_controls {
  padding: 1em 1em 0em 1em;
}

.share_tools .no_tiles_messages {
  height:17.5em;
  padding:5em 6em;
  h4 {margin-bottom:1em;}
}
.share_tools #feedback {
  color:$gray;
  @include caption;
  // font-size:.875em;
  line-height: 1.45em;
  padding:16px;
  padding:1rem 0;
}
#digest_management {
  &:after {@include clear;}

  .notification_controls {
    width:100%;
    .send_to, .follow_up {
      margin-bottom:1.75em;
      p {@include font-semibold; margin-bottom:.75em;}
      select, label {font-size:1.142857143em;}
    }
    .follow_up {
      p span {
        @include share-instructions;
      }
      label {margin-right:2em;}
      select:disabled {color:$light-gray;}
    }
    input[type="checkbox"], label, select {display: inline-block;}

    .character-counter {
      float: none;
      display: block;
      margin-bottom: 1em;
    }
  }
  #scheduled_followups {
    border-left:1px $light-gray solid;
    float:right;
    padding-left:1em;
    width:40%;
  }

  input[type="submit"] {
    @include app-button($dark-green);
    font-size:1em;
    padding:.35em .5em;
  }
  .update-digest-spinner {
    display: none;
    vertical-align: middle;
  }

  textarea {
    height: 5em;
    width: 100%;
    resize: none;
    max-width: 100%;
  }

  p#last-email {
    @include caption;
    color:$gray;
    display: inline-block;
    margin-left:1em;
  }
}

#scheduled_followups {
  h3 {margin:.6em auto 1.7em;}
  #cancel_follow_up {@include form-group;}
  #cancel_follow_up div {
    margin-bottom:.5em;
    * {vertical-align: bottom;}
  }
}
#cancel_follow_up div a {@include light-button($red);}
#digest_management .send_to, #digest_management .follow_up {
  a {@include light-button($med-gray);}
}
#cancel_follow_up div, #digest_management .send_to, #digest_management .follow_up {
  a {@include caption; margin-left:1em;}
}

.tiles_to_be_shared {
  // sharing styles with Active tiles manager (in client_admin/tiles)
  margin-top:4em;
  padding:3em 0;
  .digest {width:25%;}
}

#public_board {
  margin-bottom: 2em;
  a#make_public { @include app-button($dark-green) }
  a#make_private { @include app-button($red) }
  p { margin-bottom: 0.75em; }
}

$public_slug_height: 2.0em;

#public_board_field {
  display: inline;
  width: 60%;
  height: $public_slug_height;
}

#on_toggle {
  height: $public_slug_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($gray);
  }
}

#off_toggle {
  height: $public_slug_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($gray);
  }
}

#public_board_instructions {
  @include share-instructions;
  max-width: none;
  padding-top: 0.75em;
}

#digest {
    margin-left:100px;
    margin-right:100px;
}
