// Digest email and followup controls

@mixin share-instructions {
  @include font-regular;
  color:$gray;
  display:block;
  font-size:.857142857em;
  line-height: 1.25em;
  max-width:27em;
  padding-bottom:.5em;
}

$public_slug_height: 2.25em;

body.client_admin-shares{
  .content{
    padding: 0;
  }
  /*.share_tools .notification_controls,*/
  .share_tools .public_board_controls {@include form-group;}
  .share_tools .public_board_controls {
    padding: 1em 1em 0em 1em;
  }
  .share_tools .new_public_board{
    div{
      float: left;
    }
    .title_div{
      width: 210px;
      margin-top: 8px;
      .public_board_title{
        float: left;
      }
      .fa-question-circle{
        float: left;
        margin-top: -1px;
        margin-left: 10px;
        color: $med-gray;
      }
    }
    .status_div{
      margin-top: 8px;
      width: 170px;
      .public, .private{ 
        @include regular-text;
        float: left;
        margin: 0 3px;
        &.engaged {
          color: $dark-gray;
        }
        &.disengaged {
          color: $light-gray;          
        }
      }
      
      .switch{
        @include green-paddle-switch;
        @include switch-size(16px, 9px, 2.3em);
        margin-top: -2px;
        margin-right: 2px;
        span.switch_button {
          -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $sky-blue;
          box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 988px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $sky-blue;
        }
      }
    }
    .share_link_div{
      position: relative;
      float: none;
      width: auto;
      overflow: auto;
      #public_board_field{
        width: 100%;
      }
    }
  }
  .share_tools #feedback {
    color:$gray;
    @include caption;
    line-height: 1.45em;
    padding:16px;
    padding:1rem 0;
  }
  #digest_management {
    padding-top: 32px;
    &:after {@include clear;}
    
    .large-3 {
      &.columns {
        padding-left: 0;
        padding-right: 0;
      }    
    }
    .notification_controls {
      float: left;    
      .send_to, .follow_up, .intro_message, .custom_subject, .custom_headline {
        margin-bottom: 2.75em;
        .drop_down{          
          *{
            color: $med-gray;font-weight: normal;
          }
        }
      }
      .follow_up {
        p span {
          @include share-instructions;
        }
        label {margin-right:2em;}
        select:disabled {color:$light-gray;}
      }
      .custom_subject, .custom_headline {
        textarea {
          height: 4.5em;
        }
      }
      input[type="checkbox"], label, select {display: inline-block;}

      .character-counter {
        padding: 0;
        margin-right: 3px;
        margin-top: -20px;
      }
      .send_test {
        margin-bottom: 1.75em;
        button {
          @include light-button($gray);
          font-size: 14px;
          padding: 0;
          display: block;
          text-transform: none;
          border: none;
          &:active, &:focus, &:hover {
            color: $sky-blue !important;
          }
          i {
            font-size: 16px;
            padding-right: 3px;
          }
        }
      }
      .total_users {
        border:1px $light-gray solid;
        padding: 10px;
        margin-bottom:1.75em;
        color: $gray;
        h5{
          float: left;
          margin: 0;
          line-height: 1.7;
        }
        p{
          float: right;
        }
      }
      .add_tiles_message{
        @include regular-text;
        padding-top: 10px;
      }
    }
    .email_preview{
      float: left;
      padding-left: 30px;
      .email_preview_header {
        position: relative;
        #last-email {
          @include regular-text;
          position: absolute;
          top: -1px;
          right: 1px;
        }
      }
    }
    #scheduled_followups {
      border-left:1px $light-gray solid;
      padding-left:1em;
      width:40%;
    }

    input[type="submit"] {
      @include app-button($sky-blue);
      width: 100%;
    }
    .update-digest-spinner {
      display: none;
      vertical-align: middle;
    }

    textarea {
      height: 9em;
      width: 100%;
      resize: none;
      max-width: 100%;
    }

    .ready_to_send {
      margin-bottom: 20px;
      padding: 0;
      position: relative;
      .go_post_tiles_message {
        font-size: 14px;
        color: $dark-gray;
        margin: 2em 0 1em 0;
        a {
          font-weight: 400;
          color: $med-gray;
          border-bottom: 1px solid $med-gray;
          letter-spacing: 0.03em;
        }
      }
    }
  }
  #scheduled_followups {
    padding-bottom: 2em;
    border-bottom: 1px solid $lightest-gray;
    #cancel_follow_up {
      font-size: 14px;
      .follow_up_email_details {
        margin-bottom: 0.7em;
        .cancel_button {
          display: inline;
          a {
            margin-left: 10px;
            font-weight: 400;
            color: $med-gray;
          }
        }
      }
    }
  }

  .tiles_to_be_shared {
    margin-top:4em;
    padding:3em 0;
    .columns {
      padding-left: 2em;
    }
  }

  #public_board {
    overflow: auto;
    margin-bottom: 2em;
    padding-top: 2em;
    max-width: 100%;
    background: $off-white;
    .row{
      padding: 1em;
    }
  }

  #public_board_field {
    display: inline;
    width: 60%;
    height: $public_slug_height;
  }

  #public_board_instructions {
    @include share-instructions;
    max-width: none;
    padding-top: 0.75em;
  }

  #digest_was_sent_lightbox{
    margin-left: -20%;
    width: 40%;
    p{
      @include regular-text;
    }
  }
}