// Digest email and followup controls

@mixin share-instructions {
  @include font-regular;
  color:$gray;
  display:block;
  font-size:.857142857em;
  line-height: 1.25em;
  max-width:27em;
  padding-bottom:.5em;
}

/*.share_tools .notification_controls,*/
.share_tools .no_tiles_messages,
.share_tools .public_board_controls {@include form-group;}
.share_tools .public_board_controls {
  padding: 1em 1em 0em 1em;
}
.share_tools .new_public_board{
  border: 1px solid $light-gray;
  padding: 10px;
  div{
      float: left;
  }
  .title_div{
     width: 200px;
     margin-top: 8px;
    .public_board_title{
        font-size: 18px;
        float: left;
        color: $med-gray;
    }
    .fa-question-circle{
        float: left;
        padding-top: 2px;
        padding-left: 10px;
        color: $med-gray;
    }
  }
  .status_div{
    margin-top: 8px;
    width: 200px;
    .public, .private{ 
      float: left;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      margin: 3px;
      &.engaged {
        color: #000000;
      }
      &.disengaged {
        color: $light-gray;          
      }
    }
    
    .switch{
      @include switch-size(16px, 9px, 2.3em);
      @include switch-style($switch-paddle-bg, $light-gray, $dark-green, false, true);
      float: left;
      width: 45px;
      margin-top: 3px;
      margin-bottom: 8px;
      span.switch_button {
        -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px #4faa60;
        box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 988px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px #4faa60;
      }
    }
  }
  .status_message_div{
    .public-demo-message, .private-demo-message{
      text-align: center;
      line-height: 12px;
      font-size: 9px;
      float: left;
      width: 58px;
      margin: 4px 10px;
      color: $med-gray;
      text-transform: uppercase;
    }
    .fa {
      color: $med-gray;
      width: 35px;
    }
  }
  .share_link_div{
      float: left;
      width: 494px;
      .share_link_icons{
          float: right;
          position: relative;
          .fa{
              margin-top: 3px;
              font-size: 25px;
              padding: 2px 7px;
              color: $med-gray;
          }
      }
      #public_board_field{
          position: absolute;
          width: 497px;
      }
  }
}

.share_tools .no_tiles_messages {
  height:17.5em;
  padding:5em 6em;
  h4 {margin-bottom:1em;}
}
.share_tools #feedback {
  color:$gray;
  @include caption;
  line-height: 1.45em;
  padding:16px;
  padding:1rem 0;
}
#digest_management {
  &:after {@include clear;}
  
  .large-3 {
    &.columns {
        padding-left: 0;
        padding-right: 0;
      }    
  }
  .notification_controls {
    float: left;    
    .send_to, .follow_up, .intro_message, .custom_subject, .custom_headline {
      margin-bottom:3.75em;
      p {
        @include caption;
        margin-bottom:.75em;
        text-transform: uppercase;
        color: $gray;
      }
      .drop_down{          
        *{color: $med-gray;font-weight: normal;}
      }
      select, label {font-size:1.142857143em;}
    }
    .follow_up {
      p span {
        @include share-instructions;
      }
      label {margin-right:2em;}
      select:disabled {color:$light-gray;}
    }
    .custom_subject, .custom_headline {
      textarea {
        height: 4.5em;
      }
    }
    input[type="checkbox"], label, select {display: inline-block;}

    .character-counter {
      float: right;
      display: block;
      margin-bottom: 1em;
    }
    .total_users {
      border:1px $light-gray solid;
      padding: 10px;
      margin-bottom:1.75em;
      color: $gray;
      span{
        @include caption;
        float: left;
        width: 104px;
      }
      p{
        float: right;
      }
    }
  }
  .email_preview{
      float: left;
      padding-left: 30px;
  }
  #scheduled_followups {
    border-left:1px $light-gray solid;
    /*float:right;*/
    padding-left:1em;
    width:40%;
  }

  input[type="submit"] {
    @include app-button($dark-green);
    font-size:1em;
    padding:.35em .5em;
    height: 35px;
    width: 100%;
  }
  .update-digest-spinner {
    display: none;
    vertical-align: middle;
  }

  textarea {
    height: 9em;
    width: 100%;
    resize: none;
    max-width: 100%;
  }

  .ready_to_send {
    margin-bottom: 20px;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid $light-gray;
    color: $dark-green;
    font-size: 18px;        
    #last-email {
      @include caption;
      color:$gray;
      display: inline-block;
      margin-left:1em;
      float: right;
      line-height: 0.5em;
      padding-top: 10px;
    }
    .fa {
      padding-right: 10px;
    }
  }
}

#scheduled_followups {
  border: 1px solid $light-gray;
  padding: 10px;
  margin-bottom: 20px;
  h3 {
        /*margin:.6em auto 1.7em;*/
        color: $med-gray;
        font-weight: normal;
        font-size: 18px;
    }
  /*#cancel_follow_up {@include form-group;}*/
  #cancel_follow_up div {
    /*margin-bottom:.5em;*/
      font-size: 14px;
      display: inline;
    * {
        .cancel_follow_up_link{
            color: $light-gray;
        }
    }
  }
}
#cancel_follow_up div a {
        @include light-button($light-gray);
        font-weight: bold;
    }
#cancel_follow_up div a:hover {
    @include light-button($red);
    font-weight: bold;
    font-size: 10px;
    }
#cancel_follow_up div {
  a {@include caption;}
}

.tiles_to_be_shared {
  // sharing styles with Active tiles manager (in client_admin/tiles)
  margin-top:4em;
  padding:3em 0;
  .columns {
    padding-left: 2em;
  }
}

#public_board {
  margin-bottom: 2em;
  a#make_public { @include app-button($dark-green) }
  a#make_private { @include app-button($red) }
  p { margin-bottom: 0.75em; }
}

$public_slug_height: 2.25em;

#public_board_field {
  display: inline;
  width: 60%;
  height: $public_slug_height;
}

#on_toggle {
  height: $public_slug_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($gray);
  }
}

#off_toggle {
  height: $public_slug_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($gray);
  }
}

#public_board_instructions {
  @include share-instructions;
  max-width: none;
  padding-top: 0.75em;
}

#share_tiles_digest, #tiles_digest, #no_tiles_digest, #activate_tiles_digest, #success_share_digest, #success_share_url {
    
}
