@import 'tile_manage_controls';
@import './internal/tiles_thumbnails';
@import './internal/tiles_thumbnails_desktop';
@import 'tile_builder';
// @import 'tiles_share_controls';
// @import 'tile_reports';
@import './internal/tiles_fullsize';
// @import 'tile_preview';


body.client_admin-tiles-index {
  // Tile management sections
  .content {padding:0;}
  .manage_tiles {
    padding:2em 0 0;
    h1 {
      color:$white;
      margin-bottom:1em;
    }
    td {
      border:0; 
      padding:0 0 2em 0;
      text-align: center;
      vertical-align: top;
    }
  }
  #archived_tiles {
    background:$blue;
    h1 {display: inline-block;}
  }
  #active_tiles {background:darken($light-gray, 7%);}
}


// Nav between tile-related pages
#tile_manager_nav {padding-bottom:2em;}
#tile_manager_nav ul {
  background:image-url('v5/bg_dark.png');
  border-radius:$border-radius;
  display: inline-block;
  overflow: hidden;
  &:after{@include clear;}
  li, li a {display: inline-block;}
  li {
    float:left;
    a {
      border-right:1px $blue solid;
      color:$blue;
      min-width:10em;
      padding:.4em 2em;
      text-align: center;
      &:hover {
        @include ease(0);
        background:$dark-gray;
        color:$white;
      }
    }
    &#managing_tiles a {color:$white;}
    &.create_new_tile {
      float:right;
      a {
        @include app-button($dark-green);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}