body.client_admin-tiles-show, body.suggested_tiles-show {
  .switch{
    @include green-paddle-switch;
  }

  .tile_holder {
    width: 600px;
    margin-top: 50px;
  }
  .tile_control, h5 {
    display: inline-block;
  }
  .tile_control {
    font-size:.875em;
    margin-bottom:1em;
    &.back_to_all {@include app-button($blue);}
    &.tile_turn_on {@include app-button($dark-green);}
    &.tile_turn_off {@include app-button($med-gray);}
    &.edit_this_tile {@include light-button($gray);}
  }
  h5 {
    color:$med-gray;
    float:right;
    padding:.75em 1em;
  }
  .tile_preview_container{
    max-width: 784px;
  }
  //
  // => Tile Preview Menu
  //
  .tile_preview_menu{
    background: white;
    border-radius: $border-radius;
    overflow: hidden;
  }
  .preview_menu_header {
    float: left;
    width: 20%;
    font-size: 27px;
    color: white;
    padding: .5em 1em;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &.draft, &.archive, &.user_draft {
      background: $blue;
    }
    &.active {
      background: $sky-blue;
    }
    &.user_submitted {
      color: $sky-blue;
      border: 2px $sky-blue solid;
      padding: 0.45em;
    }
    &.ignored {
      color: $med-gray;
      border: 2px $med-gray solid;
      padding: 0.45em 1em;
    }
  }
  .preview_menu_item, .preview_menu_text {
    float: left;
    border-left: 1px $tile-wall-bg solid;
    font-size: 14px;
    padding: .55em;
    text-align: center;
    color: $gray;
    &:last-child {
      border-right: 1px $tile-wall-bg solid;
    }
    &:nth-child(n+5) {
      border-right: none;
    }
    .header_text {
      margin-top: .25em;
      font-weight: bold;
    }
    a {
      color: $gray;
      display: block;
      &:hover {color: darken($gray, 10%);}
    }
  }
  .preview_menu_item {
    width: 16%;
  }
  .preview_menu_text {
    width: 48%;
  }
  .submitted_tile_menu {
    float: left;
    width: 32%;
    li {
      width: 50%;
    }
  }
  //
  // => Share Section
  //

 /* BEGIN TOOLTIPSTER STYLES OVERRIDES */

  .tooltipster-base ~ .tooltip {
    z-index: 99999999999;
  }

  & .tooltipster-base .tooltipster-content {
    
    
    .share_options {
      
       display: block; // Always show
       
      hr {
        margin: .5em 0;
      }
      

      .allow_copying {
        display:block;
        float: none;

        padding: 0em 0em 1em 0em;
        width: 100%;

        .switch{

          @include green-paddle-switch(0.75);
          margin: auto;
          float: right;
          height: 15px;
          margin-right: 2.75em;
        }

        .allow_copying_message{
          margin-right: 2em;
        }

      }

      .add_tag {
        display:block;
        width: 100%;
        max-width: 220px;
        float: none;
        margin: auto;

        input[type="text"]{
          width: 100%;
          border: none;
          &.highlighted {
            background-color: #ffedeb;

            &::-webkit-input-placeholder:after {
              content: " (Required)";
              color: #ed8980;
            }

            &::-moz-placeholder:after  { /* Firefox 18- */
              content: " (Required)";
              color: #ed8980;
            }

            &::-moz-placeholder:after {  /* Firefox 19+ */
              content: " (Required)";
              color: #ed8980;
            }

            &:-ms-input-placeholder:after {  
              content: " (Required)";
              color: #ed8980;
            }

          }

        }

        .tile_tags{
          color: rgba(76, 76, 76, .60);
          line-height: 1.757;
          font-size: 1em; 

          &.has_tags{
            border-bottom: 1px solid #DDD;
            padding-bottom: 10px;
          }
        }
      }

      .share_to_explore{
        float:none;
        padding: 0em 0.5em;
        margin-top: 0px;
        margin: auto;
        padding-left: 8px;
        padding-right: 8px;
        width: 95%;
        display: block;
        &.disabled, &.remove_from_explore {
          @include light-button($sky-blue);
          display: block;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 12px;
        }
      }
    }





    // => Share Section

    .share_section{
      border: none;
      .share_via_block{
        padding: 5px 5px;

        .fa{
          font-size: 12px;
        }

        .share_via{
          float: left;
          width: auto;
          width: 30px;
          height: 30px;
          padding: 4px; 
          text-align: center;
          border-radius: 3px;
        }
      }

      // => Share link block

      .share_via_link{
        width: 100%;
        overflow: hidden;
        padding-left: 15px;
        &:hover {
          background-color:#f7fafc;
        }

        input {
          border: none;
          background-color:inherit;
          padding: 0;
        }

        input#sharable_tile_link[disabled]{
          color: #949494
        }
      }

      .share_link_block{
        margin-top: -2px;
        padding-top: 20px;
        .fa-question-circle{
          color: $med-gray;
          padding-left: 15px;
          &:hover {
           color: #4c4c4c;
          }
        }

        .title{
          display: inline-block;
        }

        .title, .tile_status>.off, .tile_status>.on{
          color:lighten($text-color, 17%);
          display: inline-block;
          @include caption;
          font-size: 0.75rem;
        }

        .tile_status{
          display: block;
          margin: 2px 0px;
          padding: 5px 0px;
          border-bottom: 1px solid $med-gray;
          .off, .on{
            &.disengaged, &.engaged{
              color: $med-gray;
            }
          }
          .off{
            padding-left: 15px;
            margin-right: 15px;
          }
          .on{
            margin-left: 15px;
          }
          .switch{
            margin-bottom: -4px;
          }
        }
      }
    }
  }


 /* END TOOLTIPSTER STYLES */

  .share_section{
    background: $white;
    border-top: 1px $tile-wall-bg solid;
    .share_link_block{
      margin-top: -2px;
      padding-top: 20px;
      .title{
        font-size: 18px;
        color: $med-gray;
        display: inline-block;
        padding-left: 15px;
      }
      .fa-question-circle{
        color: $med-gray;
        padding-left: 15px;
      }
      .tile_status{
        display: inline-block;
        .off, .on, form{
          display: inline-block;
        }
        .off, .on{
          font-size: 15px;
          padding-bottom: 2px;
          &.disengaged{
            color: $med-gray;
          }
          &.engaged{
            color: $text-color;
          }
        }
        .off{
          padding-left: 15px;
        }
        .switch{
          margin-bottom: -4px;
          @include green-paddle-switch(0.75);
        }
      }
    }







    .share_via_block{
      overflow: auto;
      padding: 20px 15px;
      .fa{
        font-size: 26px;
      }
      .share_via{
        float: left;
        width: 13%;
        color: $white;
        padding: 4px;
        padding-left: 10px;
        padding-top: 6px;
        margin-right: 10px;
        height: 36px;
      }

      .share_via_explore{
        background: $sky-blue;
        cursor: pointer;
        .fa-rocket, .explore_title{
          display: inline-block;
        }
        .explore_title{
          width: 10px;
          font-size: 12px;
          line-height: 1.1;
        }
      }
      .share_via_facebook{
        background: #3b5998;
      }
      .share_via_twitter{
        background: #00aced;
      }
      .share_via_linkedin{
        background: #007bb6;
      }
      .share_via_email{
        background: $text-color;
        padding-top: 5px;
      }
      .share_via_link{
        float: none;
        width: 195px;
        overflow: hidden;
        #sharable_tile_link{
          width: 100%;
          height: 36px;
        }
      }
    }
  }
  .share_options{
    background: $white;
    display: none;

/*Add styling for when inside modal tooltipster    */




/*end customizations for tool-tip*/

    .row {
      margin-right: 0;
    }

    .share_to_explore{
      float: left;
      display: inline;
      width: 34%;
      padding: 2em 0.5em;
    }

    $share_to_explore_width: 195px;
    .share_to_explore{
      @include light-button($sky-blue);
      margin-right: 8px;
      &.disabled {
        @include light-button($light-gray);
      }
      &.remove_from_explore{
        @include light-button($light-gray);
      }

      float: right;
      display: inline;
      width: $share_to_explore_width;
      margin-top: 1.8em;

      .share_to_explore_message{
        color:lighten($text-color, 17%);
        padding-left: 10px;
        display: inline-block;
        @include caption;
      }
    }

    #share_to_explore_buttons { display: none; }

    .allow_copying{
      width: 35%;
      display: none;
      float: left;
      padding: 2em 0.5em 1em 2.8em;
      .allow_copying_message{
        color:lighten($text-color, 17%);
        padding-left: 10px;
        display: inline-block;
        @include caption;
        font-size: 0.75rem;
      }
      .switch{
        @include switch-size(16px, 9px, 2.3em);
        &.disabled {
          span.green-paddle {
            -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $light-gray;
            box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 988px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $light-gray;
          }
        }
      }
    }
    #tag-autocomplete-target{
      a {
        color: $gray;
        font-size: 14px;
        font-weight: 500;
      }
      .ui-state-hover {
        // override standard jQuery UI background with our standard colors
        background-color: $light-gray;
        border-color: $light-gray;
        background-image: none;
      }
    }
    $add_tag_left_margin: 1em;
    .add_tag{
      width: 33%;
      display: none;
      margin-top: 28px;
      float: left;
      padding: 1px;
      margin-left: $add_tag_left_margin;

      input[type="text"]{
        border: 2px solid #f3f3f3;
        width: 220px;
        height: 30px;
        font-size: 0.9em;

        &.highlighted {
          border-color: $sky-blue;
        }
      }
      .tile_tags{
        color: $sky-blue;
        margin: 4px 0px;
        width: 100%;
        li{
          margin-right: 5px;
          margin-top: 5px;
          display: inline-block;
          padding: 0px 6px 3px 6px;
          border: 1px solid;
          border-radius: 5px;
          font-size: 10px;
          a {
            color: $sky-blue;
            padding-left: 5px;
          }
        }
      }
    }

    .tag_alert{
      display: none;
      color: $red;
      margin: 0 0 0.5em $add_tag_left_margin;
    }

    #successful_share {
      font-size: 13px;
      color: $sky-blue;
      margin: 4px 0;
      display: none;
      width: $share_to_explore_width;
      float: right;
    }
  }
  .joyride-next-tip{
    font-size: 14px !important;
    @include light-button($gray);
  }
  .viewer{
    margin: auto;
    margin-top: 1em;
    a#next, a#prev{
      width: 4em !important;
    }
  }
}

.joyride-tip-guide {
  &.tile-show-post {
    width: 300px;
    margin-left: -67px;
    color: $dark-gray;
    .joyride-nub{
      margin-left: 105px;
    }
    .top-section{
      font-size: 18px !important;
      span{
        color: $dark-green;
      }
    }
    .bottom-section{
      font-size: 14px;
      span{
        color: $gray;
      }
    }
  }
  &.tile-show-archive {
    width: 330px;
    margin-left: -86px;
    color: $dark-gray;
    .joyride-nub{
      margin-left: 123px;
    }
    .top-section{
      font-size: 18px !important;
    }
    .bottom-section{
      font-size: 14px;
      span{
        color: $gray;
      }
    }
  }
}
body.tile_previews.tile_previews-show, body.client_admin-tiles-show {
  .tile_preview_intro {
    padding-top: 1.0em;
  }
}
