@import 'tile_stats_chart';
@import 'tile_stats_tables';
body.client_admin-tile_stats, #tile_stats_modal {
  .content {
    background: $off-white;
  }
  .title_block {
    position: relative;
    padding: 30px 40px;
    background: $white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #E3E3E3;
    width: 1007px;
  }
  h1 {
    color: $dark-gray;
    margin: 0;
    font-weight: 300;
    line-height: 1.35em;
  }
  .columns {
    padding: 0;
  }
  .stats_page {
    max-width: 1007px;
    background: $off-white;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 41px 40px 50px 40px;
  }
}
#tile_stats_modal {
  @include standard-modal($content-width: 1007px);
}
