@import 'tiles_tools_subnav';
@import './internal/tiles_thumbnails';
@import './internal/tiles_thumbnails_desktop';
@import 'tiles_thumbnails_controls';
@import 'tile_builder';
// @import 'tiles_share_controls';
// @import 'tile_reports';
@import './internal/tiles_fullsize';
@import 'tile_preview';


body.client_admin-tiles-index {
  // Tile management sections
  .content {background:$blue;}
  .manage_tiles {
    h1 {color:$white;}
    td {
      border:0; 
      padding:0 0 2em 0;
      text-align: center;
      vertical-align: top;
    }
  }
  #archived_tiles {
    background:$blue;
    .create_new_tile {
      float:right;
      @include app-button($dark-green);
    }
    h1 {display: inline-block; width:80%;}
  }
  #active_tiles {
    background:darken($light-gray, 7%);
    padding:2em 0 0 0;
  }
}
