$tile_completion_button_height: 2.0em;
.pagination_status {
  float: right;
  display: none;
}
.completed {
  height: $tile_completion_button_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($blue);
  }
}
.tile_stats {
  .completions {
    a, a:link, a:visited {
      display: inline;
    }
  }
}
#grid {
  td.results-joined {
    text-align: left;
  }
}
.not-completed {
  height: $tile_completion_button_height;
  &.engaged {
    @include app-button($dark-green);
  }
  &.disengaged {
    @include app-button($blue);
  }
}