@import 'tile_stats_chart';
@import 'tile_stats_tables';
body.client_admin-tile_stats, #tile_stats_modal {
  h1 {
    color: $text-color;
    padding-bottom: 66px;
    margin: 0;
    font-weight: 300;
  }
  .columns {
    padding: 0;
  }
  .stats_page {
    max-width: 1000px;
  }
}
#tile_stats_modal {
  width: 1020px;
  margin-left: -510px;
  padding: 60px 35px 50px 40px;
  .close-reveal-modal {
    top: -9px;
    left: -60px;
    color: $white;
  }
}
