#draft_tiles, #archived_tiles{
  .pagination {
    margin-bottom: 50px;
  }
}
/*
ul.pagination {
  margin-bottom: 50px;
  a, li{
    color: $white;
  }
  a:hover {
    background: $light-gray;
  }
}
*/