// We don't need these styles because we don't have this page anymore.
// But if you try to remove this file it will brake styles for  'add new tile' button in IE9.
// I have no idea why. They are completele unconnected
$tile_completion_button_height: 2.0em;
body.client_admin-tile_completions {
  .pagination_status {
    float: right;
    display: none;
  }
  .tile_completions_controls{
    @extend h5;
    .completed, .not-completed {
      height: $tile_completion_button_height;
      &.engaged {
        @include app-button($sky-blue);
        font-size: 10px;
      }
      &.disengaged {
        @include light-button($sky-blue);
        font-size: 10px;
      }
    }
    .download_as_csv{
      @include light-button($sky-blue);
      font-size: 10px;
      text-align: left;
      height: $tile_completion_button_height;
      float: right;
      text-transform: none;
      cursor: pointer;
    }
  }
  #completions_grid {
    #tc_grid, #nc_grid {
      td.results-joined {
        text-align: left;
      }
    }
    .grid_no_record {margin:3em auto 0;}
  }
  // ================== Survey chart   ==================
  table.survey-chart-table {
    width:40%;
    text-align:left;
    td {
      @include regular-text;
      white-space: nowrap;
      padding: .4em .5em;
      background-color: white;
    }
    .answer { width:50%; }
    .number, .percent {
      min-width: 6em;
      text-align: right;
    }
    th{
      @extend h4;
      background: transparent;
      border-bottom: 1px solid #dfdfdf;
      padding: .5em;
    }
  }
}
