$tile_completion_button_height: 2.0em;
.client_admin-tile_completions {
  .pagination_status {
    float: right;
    display: none;
  }
  .completed, .not-completed {
    height: $tile_completion_button_height;
    &.engaged {
      @include app-button($sky-blue);
    }
    &.disengaged {
      @include light-button($sky-blue);
    }
  }
  
  #completions_grid {
    #tc_grid, #nc_grid {
      td.results-joined {
        text-align: left;
      }
    }
    .grid_no_record {margin:3em auto 0;}  
  }/*
  .not-completed {
    height: $tile_completion_button_height;
    &.engaged {
      @include app-button($dark-green);
    }
    &.disengaged {
      @include app-button($blue);
    }
  }*/
}
