@import 'tile_stats_chart';
@import 'tile_stats_tables';
body.client_admin-tile_stats, #tile_stats_modal {
  h1 {
    color: $dark-gray;
    padding-bottom: 50px;
    margin: 0;
    font-weight: 300;
    line-height: 1.35em;
  }
  .columns {
    padding: 0;
  }
  .stats_page {
    max-width: 1000px;
  }
}
#tile_stats_modal {
  width: 1007px;
  margin-left: -455px;
  padding: 0;
  border-width: 0;
  // margin-top: -100px;
  position: fixed;
  top: 50px;
  #modal_content {
    padding: 50px 40px;
    overflow: auto;
    max-height: calc(100vh - 100px);
  }
  .close-reveal-modal {
    top: -9px;
    left: -60px;
    color: $white;
    i {
      font-size: 32px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.reveal-modal-bg{
  background: rgba(14, 23, 29, 0.8);
}
body.overflow_hidden {
    overflow:hidden !important;
}
