@import 'tiles_tools_subnav';
@import './internal/tiles_thumbnails';
@import './internal/tiles_thumbnails_desktop';
@import 'tiles_thumbnails_controls';
@import 'tile_builder';
@import './internal/tiles_fullsize';
@import 'tile_preview';



.joyride-tip-guide {
    &.tile {
        width: 360px;
        margin-top: 82px;
        margin-left: 82px;
        color: $dark-gray;
        .joyride-nub{
            border: outset $joyride-tip-nub-size;
        }
        .top-section{
            font-size: 18px !important;
        }
        .bottom-section{
            font-size: 14px;
        }
    }
    &.tile-index-post {
        width: 410px;
        height: 100px;
        margin-left: 216px;
        color: $dark-gray;
        .joyride-nub{
            margin-left: 161px;
            border: outset $joyride-tip-nub-size;
        }
        .top-section{
            font-size: 18px !important;
            span{
                color: $dark-green;
            }
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }    
    &.tile-index-share {
        width: 466px;
        height: 160px;
        margin-top: 5px;
        margin-left: -120px;
        color: $dark-gray;
        .joyride-nub{
            margin-left: 194px;
        }
        .top-section{
            font-size: 18px !important;
            color: $sky-blue;            
        }
        .logo{
            margin-left: -16px;
        }
        .heading{
            padding-top: 10px;
            margin-left: -45px;
        }
        .bottom-section{
            line-height: 20px;
            padding: 15px 0;
            font-size: 14px;
            span{
                font-weight: bold;
            }
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }
    &.tile-index-main-menu {
        width: 410px;
        height: 100px;
        margin-top: 20px;
        margin-left: 0.9375em;
        color: $dark-gray;
        .top-section{
            font-size: 18px !important;
            span{
                color: $dark-green;
            }
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }
    &.tile-index-posted-tile {
        width: 414px;
        margin-top: -65px;
        margin-left: -90px;
        color: $dark-gray;
        .joyride-nub{
            margin-left: 150px;
        }
        .top-section{
            font-size: 18px !important;
            padding-bottom: 15px;
        }
        .bottom-section{
            font-size: 14px;
            padding-bottom: 15px;
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }
}

body.client_admin-tiles-index, body.client_admin-inactive_tiles,
body.client_admin-tiles-index, body.client_admin-draft_tiles, 
body.client_admin-shares {
    .tile_thumbnail {width:100%;}
}

body.client_admin-tiles-index, body.client_admin-inactive_tiles,
body.client_admin-draft_tiles {
    
    // Tile management sections
    .content {background:$blue;}
    .manage_tiles {
        //text-align: justify;
        .creation-placeholder{
            display: inline-block;
            width: 100%;
            max-width: 238px;
        }
        .tile_container{
            width: 24%;
            text-align: center;
            //display: inline-block;
            float: left;
            padding-bottom: 2rem;
            min-height: 466px;
        }
        /*
        td {
            border:0; 
            padding:0 0 2em 0;
            text-align: center;
            vertical-align: top;
            width:25%;
        }
        tr {
            td:first-of-type {text-align: left;}
            td:nth-of-type(2) {padding-right: .5em;}
            td:nth-of-type(3) {padding-left: .5em;}
            td:nth-of-type(4) {text-align: right;}
        }*/
        .no_tiles_message {margin:0 auto 3em;}
    }
    #archived_tiles, #draft_tiles {
        background:$blue;
        position: relative;
        #draft, #archive{
            &:after{ @include clear; }
        }
        h2, .all_inactive {display: inline-block;}
        .tile_thumbnail.placeholder_tile {
            border-color:lighten($blue, 13%);
        }
        .create_new_tile {
            @include app-button($dark-green);
            float: right;
        }
        h2 {
            color:$white;
        }
        .all_inactive, .all_draft
        {
            @include light-button($white);
            @include caption;
            margin: 0 auto;
            //margin-top: -3em;
            margin-bottom: 3em;
            display: block;
            text-align: center;
            width: 7em;
        }
        .minimize {
            @include light-button($dark-green);
            // font-size:.875em;
            @include caption;
            position: relative;
            top:-2px;
            margin-left:1em;
            vertical-align: text-bottom;
        }
        .tile_thumbnail .tile-wrapper {border: none;}
    }
    .draft_overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        z-index: 100;
        opacity: 0.4;
        display: none;
        .overlay_message{
            position: absolute;
            bottom: 0;
            width: 100%;
            font-size: 30px;
            color: $white;
            text-align: center;
            line-height: 1.5;
            padding: 50px;
            padding-bottom: 100px;
        }
    }
    #active_tiles {
        padding:2em 0 0 0;
        #active{
            &:after{ @include clear; }
        }
    }
    #archived_tiles {padding:2em 0 0 0;}
}

body.client_admin-tiles-index #active_tiles, 
body.client_admin-inactive_tiles #active_tiles,
body.client_admin-draft_tiles #active_tiles,
.tiles_to_be_shared {
    background: $tile-wall-bg;
    h2 {color:$text-color;}
}

// Create new tile placeholder link
.creation-placeholder a {
    border-color:lighten($blue, 13%);
    display: block;
    color:transparent;
    line-height:1em;
    //padding-top:12em;
    position: relative;
    text-align: center;
    //.add_new_tile_text{
    //    padding-top:12em;
    //}
    &:hover {border-color:lighten($blue, 10%); color:transparent;}
    &:before {
        color:$white;
        background:$dark-green;
        border-radius:$border-radius;
        content:"+";
        display: block;
        font-size:5em;
        line-height:0;
        margin-left:-40px;
        position: absolute;
        top:30%;
        left:50%;
        text-align: center;
        height:80px;
        width:80px;
        overflow: hidden;
        padding-top:32px;
    }
    &:hover:before {background:darken($dark-green, 7%);}
    &:after{
        color:$white;
        line-height:1em;
        content: "Add New Tile";
        position: absolute;
        top:60%;
        left:30%;
        text-align: center;
    }
}

// Links to download CSV tile reports
a.download_csv {
    @include light-button($med-gray);
    @include caption;
    color: $med-gray !important;
    position: absolute;
    top: 10px;
    right: 15px;
    vertical-align: text-bottom;
    // Copied the following over from main_styles since IE won't respect the 
    // color we set above unless we !important it, and we still want our hover 
    // effects to work.
    &:hover {  
        border-color:darken($med-gray, 11%);
        color:darken($med-gray, 11%) !important;
    }
    &:active {
        @include ease(0);
        background:$med-gray;
        color:$white;
    }
}
