// ================== For all Manage Users pages ==================
body.client_admin-users {



  form.user-profile {
    .field_with_errors {
      input {border:1px $red solid;}
    }

    &:after{@include clear;}
    .info-cols {
      display:inline-block;
      float:left;
      padding-right:.5em;
      width:50%;
    }
  }

  input[type="submit"]#add-user {
    @include light-button($med-gray);
    display: inline-block;
    float: right;
    position: relative;
    top: 0.5em;
  }

  $upload-user-left-padding: 10px;

  .upload-half-width-section {
    min-height: 10em;
  }

  .upload-user-section {
    border: solid $light-gray 1px;
    margin-top: 1.5em;

    .upload-user-section-header {
      border-bottom: solid $light-gray 1px;
    }

    .upload-user-section-content {
      padding-left: $upload-user-left-padding;



      #upload-in-progress {
        font-size: 16px;
      }

      input[type="file"] {
        border: 0;
        display: inline-block;
        width: 50%;
      }


    }


    b {
      margin: 7px;
      display: block;
    }

    a#template-link {
      @include light-button($med-gray);
    }
  }

  #upload-form-content {
    text-align: center;
    padding-top: 1em;

    p {
      color: $sky-blue;
      font-size: 12px;
    }
  }

  #upload-user-header {
    position: relative;
    // height: 18px;

    .fa-users {
      margin-right: 0.5em;
    }

    $fake-bottom-padding: 4px;



    #last-added-users {
      display: inline-block;
      position: absolute;
      bottom: $fake-bottom-padding;
      right: 0;
      text-transform: uppercase;
      font-size: 10px;
      color: $text-color;
      font-weight: bold;
    }
  }

  #name-autocomplete-target {
    .ui-state-hover {
      // override standard jQuery UI background with our standard colors
      background-color: $blue;
      border-color: $blue;
      background-image: none;
    }
  }

  .select-section {
    margin-bottom: 1em;
  }

  #find-users {
    vertical-align: top;
    h2.subhead {padding-bottom:.5em;}
    input[type="text"]{width:100%;}
  }

  #show-everyone {
    display: block;
    margin-bottom: 2em;
  }
}

body.client_admin-users {
  .breadcrumbs {
    position:relative;
    top:-1.75em;
    margin-top: 2em;
  }
}

body.client_admin-users {
  #add-single-user {
    input[type="text"] {
      width: 100%;
      margin-bottom: 1em;
    }
  }
}



// ================== User profile ==================
body.client_admin-users-edit, body.client_admin-users-update {
  #loaded-user-data:after{@include clear;}

  #about-this-account {
    ul:after{@include clear;}
    h2 {margin-bottom:1em;}
    li {
      margin-bottom:2em;
      vertical-align:top;
    }
    .join-status {
      display:block;
      font-size:1.125em;
      @include font-bold;
      line-height:1em;
    }
    .user-role {
      display:block;
      font-size:1.125em;
      @include font-bold;
      line-height:1em;
    }
    .user-role-select {
      margin: .75em 0 0 0;
      border-color: $light-gray;
      li {
        margin-bottom: 0em;
      }
      .selector:after {
        content: "\f0d7";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        border: none;
        margin-top: 5px;
        top: inherit;
      }
    }
    #user-join-status a, #user-join-status a:link {
      @include light-button($sky-blue);
      display: inline-block;
      margin:.75em 0 0 0;
    }
  }

  #confirm-add-user {
    * {vertical-align: top;}
    &:after{@include clear;}

    li {
      border:1px transparent solid;
      display: inline-block;
      vertical-align: middle;
    }
    #delete-user {
      @include light-button($red);
      display:inline-block;
      vertical-align: middle;
      margin-left: 7px;
    }
    li#toggle-more-options a {
      margin-right: 0.5em;
    }
  }
}
