
<div class="row">
  <div class="columns small-12">
    <h1>Recommended Explore Tiles</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th><th>Headline</th><th></th>
        </tr>
      </thead>
      <tbody>
        <%@tiles.each do |tile|%>
          <tr>
            <td><%=image_tag tile.thumbnail, style:"height: 75px;width:50px" %></td>
            <td><%=tile.headline%></td>
            <td><%=toggle_recommend(tile)%><span class="button hidden processing">Processing...<span></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
