<div id="demo" class="account">
  <div class="swal-title" style="">Schedule a Demo</div>
  <div class="swal-text" style="">We’ll email you within the next few hours to schedule a 30 minute overview.</div>
  <div class="swal-content">

    <div style="text-align: left;">
      <label class="input_label">Full name</label>
      <input type="text" name="lead_contact[name]" id="lead_contact_name" autofocus="">
      <label class="input_label">Email address</label>
      <input type="text" name="lead_contact[email]" id="lead_contact_email">
      <label class="input_label">Phone number</label>
      <input type="text" name="lead_contact[phone]" id="lead_contact_phone">
      <label class="input_label">Company name</label>
      <input type="text" name="lead_contact[organization_name]" id="lead_contact_organization_name">
      <label class="input_label">Company size</label>
        <select name="lead_contact[organization_size]" id="lead_contact_organization_size">
          <option value="less than 100 employees">less than 100 employees</option>
          <option value="100-500 employees">100-500 employees</option>
          <option value="500-1000 employees">500-1000 employees</option>
          <option value="1000-5000 employees">1000-5000 employees</option>
          <option value="more than 5000 employees">more than 5000 employees</option>
        </select>
      <input type="hidden" name="lead_contact[source]" id="lead_contact_source" value="Inbound: Demo Request">
      <p class="terms" id="t-and-c-notice" style="font-size: 10px;">By submitting this form or using this site, you are agreeing to the <a href="/terms" target="_blank">terms and conditions</a></p>
    </div>
  </div>
  <div class="swal-footer">
    <div class="swal-button-container">

      <button class="swal-button swal-button--cancel">Cancel</button>

      <div class="swal-button__loader">
        <div></div>
        <div></div>
        <div></div>
      </div>

    </div>
    <div class="swal-button-container">

      <button class="swal-button swal-button--submit">Submit</button>

      <div class="swal-button__loader">
        <div></div>
        <div></div>
        <div></div>
      </div>

    </div>
  </div>
</div>
