<div id="login" class="account">
    <div class="swal-title" style="">Sign In</div>
    <div class="swal-content">
      <div><input type="text" placeholder="Email Address" name="session[email]" id="session_email">
        <input type="password" placeholder="Password" name="session[password]" id="session_password">
        <div class="wrap" style="float: left;"><input style="margin: 0 5px;" type="checkbox" name="session[remember_me]" id="session_remember_me" value="1" checked="checked" class="hidden-field">
          <span class="custom checkbox checked"></span>
          <label class="inline" for="session_remember_me">Remember me</label>
        </div>
        <a id="set_or_reset_password" style="float: right;">Set or Reset Your Password</a>
      </div>
    </div>
    <div class="swal-footer">
      <div class="swal-button-container">

        <button class="swal-button swal-button--cancel">Cancel</button>

        <div class="swal-button__loader">
          <div></div>
          <div></div>
          <div></div>
        </div>

      </div>
      <div class="swal-button-container">

        <button class="swal-button swal-button--submit">Sign In</button>

        <div class="swal-button__loader">
          <div></div>
          <div></div>
          <div></div>
        </div>

      </div>
    </div>
</div>
