<div id="login" class="form-container">
    <div class="swal-title" style="">Log In</div>
    <div class="swal-content">
      <div class="swal-description">
       Need an Airbo Account?
        <a class="request_account">Request New Account
        </a>
      </div>
      <div class="swal-inputs">
        <label> Email </label>
        <input type="text" ></input>
        <label class="password"> Password </label>
        <a id="set_or_reset_password">Set or Reset Your Password</a>
        <input type="password"> </input>
        <div class="wrap"><input type="checkbox" name="session[remember_me]" id="session_remember_me" value="1" checked="checked" class="hidden-field">
          <span class="custom checkbox checked"></span>
          <label class="inline" for="session_remember_me">Remember me</label>
        </div>
      </div>
    </div>
    <div class="swal-footer">
      <div class="swal-button-container">
        <button class="swal-button swal-button--submit">Sign In</button>
        <div class="swal-button__loader">
        </div>
      </div>
    </div>
</div>
