<div id="request_account" class="form-container">
  <div class="swal-title" style="">Request New Account</div>
  <div class="swal-content">
    <div class="swal-description">
      You will need an to create an Account. If you have one already please
      <a class="request_account">Sign In
          </a>
    </div>
    <div class="swal-inputs">
      <label> Full name </label>
      <input type="text" ></input>
      <label> Email </label>
      <input type="text" ></input>
      <label> Phone Number </label>
      <input type="text" ></input>
      <label> Company Name </label>
      <input type="text" ></input>
      <label class="password"> Password </label>
      <a id="set_or_reset_password">Set or Reset Your Password</a>
      <input type="password"> </input>
    </div>
  </div>
  <div class="swal-footer">
    <div class="swal-button-container">
      <button class="swal-button swal-button--submit">Create Account</button>
      <div class="swal-button__loader">
      </div>
    </div>
  </div>
</div>
