<div class="container">
	<div class="module about_user">
		<h1 class="headline">User information</h1>
		<div class="module_inner settings_user">
			<h2 class="title">Username</h2>
			<p>Change your username.</p>
			<input type="text" id="username" />
		</div>
		<div class="module_inner settings_avatar">
			<h2 class="title">Change your avatar</h2>
			<div class="avatar_image"><img src="http://www.scientificamerican.com/media/inline/veggie-cat-food_1_thumb.jpg" class="user_avatar" /></div>
			<div class="avatar_inputs">
				<input type="file" id="avatar_path" name="avatar_path" />
				<input type="submit" class="button_norm" value="Upload" />
			</div>
			<div class="cf"></div>
		</div>
		<div class="module_inner settings_dob">
			<h2 class="title">Date of Birth</h2>
			<select class="dob_month" name="dob">
				<option value="1">January</option>
				<option value="2">February</option>
				<option value="3">March</option>
				<option value="4">April</option>
				<option value="5">May</option>
				<option value="6">June</option>
				<option value="7">July</option>
				<option value="8">August</option>
				<option value="9">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
			<select class="dob_day">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
				<option value="11">11</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="15">15</option>
				<option value="16">16</option>
				<option value="17">17</option>
				<option value="18">18</option>
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
			<select class="dob_year"><!--i imagine ruby has a better way of doing this, so i wont-->
				<option value="19">19</option>
				<option value="20">20</option>
				<option value="21">21</option>
				<option value="22">22</option>
				<option value="23">23</option>
				<option value="24">24</option>
				<option value="25">25</option>
				<option value="26">26</option>
				<option value="27">27</option>
				<option value="28">28</option>
				<option value="29">29</option>
				<option value="30">30</option>
				<option value="31">31</option>
			</select>
		</div>
		<div class="module_inner settings_gender">
			<h2 class="title">Gender</h2>
			<ul>
				<li><input type="radio" name="gender" value="male" id="male" /><label for="male">Male</label></li>
				<li><input type="radio" name="gender" value="female" id="female" /><label for="female">Female</label></li>
			</ul>
		</div>
		<div class="module_inner settings_height">
			<h2 class="title">Height</h2>
			<select class="height_feet" id="height">
				<option value="1">1 ft.</option>
				<option value="2">2 ft.</option>
				<option value="3">3 ft.</option>
				<option value="4">4 ft.</option>
				<option value="5">5 ft.</option>
				<option value="6">6 ft.</option>
				<option value="7">7 ft.</option>
				<option value="8">8 ft.</option>
			</select>
			<select class="height_inches">
				<option value="0">0 in.</option>
				<option value="1">1 in.</option>
				<option value="2">2 in.</option>
				<option value="3">3 in.</option>
				<option value="4">4 in.</option>
				<option value="5">5 in.</option>
				<option value="6">6 in.</option>
				<option value="7">7 in.</option>
				<option value="8">8 in.</option>
				<option value="9">9 in.</option>
				<option value="10">10 in.</option>
				<option value="11">11 in.</option>
				<option value="12">12 in.</option>
			</select>
		</div>
		<div class="module_inner settings_weight">
			<h2 class="title">Weight</h2>
			<input type="text" id="weight" /><p>pounds (lb.)</p>
		</div>
		<input class="button_norm" type="submit" value="Save" />
		<div class="cf"></div>
	</div>
	<div class="module other_settings">
		<h1 class="headline">Notification Preferences</h1>
		<div class="module_inner settings_number">
			<h2 class="title">Mobile Number</h2>
			<input type="text" id="number" />
		</div>
		<div class="module_inner settings_notification">
			<h2 class="title">Notify me via...</h2>
			<ul>
				<li><input type="checkbox" class="notification_pref" id="sms" value="SMS" /><label class="check_label" for="sms">SMS/text message</label></li>
				<li><input type="checkbox" class="notification_pref" id="email" value="Email" /><label class="check_label" for="email">Email</label></li>
				<li><input type="checkbox" class="notification_pref" id="both" value="Both" /><label class="check_label" for="both">Both</label></li>
				<li><input type="checkbox" class="notification_pref" id="none" value="None" /><label class="check_label" for="none">No notifications</label></li>
			</ul>
		</div>
		<input class="button_norm" type="submit" value="Save" />
	</div>
	<div class="cf"></div>
</div>