<div class="app_settings">
	<div class="settings_user">
		<label for="username">Username</label>
		<input type="text" id="username" />
	</div>
	<div class="settings_avatar">
		
	</div>
	<div class="settings_number">
		<label for="number">Mobile Number</label>
		<input type="text" id="number" />
	</div>
	<div class="settings_notification">
		<input type="checkbox" class="notification_pref" id="sms" value="SMS" /><label class="check_label" for="sms">SMS/text message</label>
		<input type="checkbox" class="notification_pref" id="email" value="Email" /><label class="check_label" for="email">Email</label>
		<input type="checkbox" class="notification_pref" id="both" value="Both" /><label class="check_label" for="both">Both</label>
		<input type="checkbox" class="notification_pref" id="none" value="None" /><label class="check_label" for="none">No notifications</label>
	</div>
	
	<div class="settings_weight">
		<label for="weight">Weight</label>
		<input type="text" id="weight" />
	</div>
</div>