//
// => Small tile thumbnail (66.7%)
//
#draft_tiles .tile_container:not(.tile_in_active):not(.tile_in_achive),
.tile_container.tile_in_draft {
  height: 240px;
  width: 16%;
  @media only screen and (max-width: 1100px) {
    width: 20%;
  }
  @media only screen and (max-width: 950px) {
    width: 25%;
  }
  @media only screen and (max-width: 700px) {
    width: 33.3%;
  }
  @media only screen and (max-width: 500px) {
    width:50%;
  }
  .tile_thumbnail {
    max-width: 159px;
    max-height: 211px;
    .shadow_overlay, .tile_thumbnail_image {
      height: 8em;
    }
    .shadow_overlay:after {
      margin-top: 4em;
    }
    .headline {
      min-height: 5em;
      height: 5em;
      padding: 0.5em;
      .text {
        font-size: 12px;
        font-weight: 500;
      }
    }
    .activation_dates {
      top: 105px;
      right: 0px;
    }
  }
}
