.tile_container {
  min-width: 24%;
  text-align: center;
  float: left;
  padding-bottom: 1.5rem;
  // height: 400px;
}

.tile_thumbnail {
  display: inline-block;
  text-align:center;
  min-width: 140px;
  width:100%;
  max-width:238px;
  position: relative;
  vertical-align: top;
  .completed {
    li {
      @include ease(.5s);
      filter: alpha(opacity=25);
      opacity: 0.25;
      &:hover {
        filter: alpha(opacity=75);
        opacity: .75;
      }
    }
  }
  li {
    list-style-type: none;
    padding-bottom:.5em;
    position: relative;
    width:100%;
  }
  a, a:link, a:visited {
    display: block;
    width:100%;
    &:after {@include clear;}
  }
  .tile-wrapper{
    @include ease(.025s);
    border-radius:$border-radius;
    display: inline-block;
    overflow: hidden;
    position: relative;
    width:100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22);

    .tile_thumbnail_image, .headline {
      margin:0 auto;
      width:100%;
    }
    .tile_thumbnail_image{
      background-color:$dark-gray;
      background-position:center center;
      background-repeat:no-repeat;
      border: none;
      background-size:100%;
      display: block;
      height:9em;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        max-width:none;
        max-height:238px;
        width: 100%;
      }
    }
    .headline{
      background:$white;
      min-height:7.25em;
      position: relative;
      padding: .5em;
      text-align: left;
      &:after{@include clear;}
      .text{
        color: $dark-gray;
        @include font-semibold;
        font-size:1em;
      }
    }
  }
}

// Placeholder tile thumbnail
.tile_thumbnail.placeholder_tile {
  border:2px lighten($tile-wall-bg, 7%) dashed;
  border-radius:6px;
  height:16.25em;
}
