<div class="row">
  <div class="columns small-12">
    <h3>New Campaign</h3>
  </div>
</div>
<div class="row">
  <div class="columns small-2">
    <%= link_to "All Campaigns", admin_campaigns_path, class: "button"  %>
  </div>
</div>
<%= render "campaign_form", campaign: @campaign, demos: @demos %>
