<table bgcolor="#f0f0f0" align="center" cellpadding="0" cellspacing="0" width="100%">
<tr>
  <td width="600" align="center">
    <table bgcolor="#48bfff" width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" style="font-family:'Avenir Next Airbo',Avenir Next,Arial,Helvetica,sans-serif;font-size:15px;color:#ffffff;mso-line-height-rule:exactly;line-height:24px;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;">
        <span class="newLineMobile">Was this email helpful?</span> Forward it to a colleague.
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>
