<table bgcolor="#48bfff" align="center" cellpadding="0" cellspacing="0">
<tr>
  <td width="600" height="100" align="center">
    <table align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td width="72" align="left" style="padding-left:20px;">
        <a href="https://www.airbo.com" style="text-decoration:none;" target="_blank">
          <%= default_logo %>
        </a>
      </td>
      <td width="408" align="left" style="font-family:Avenir Next Airbo,Arial,Helvetica,sans-serif;font-size:14px;color:#ffffff;mso-line-height-rule:exactly;line-height:21px;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;">
        <b>Airbo Explore</b>: Engaging communications for your employees.
      </td>
    </tr>
    </table>
  </td>
</tr>
</table>