<table align="center" cellpadding="0" cellspacing="0">
<tr>
  <td width="500" align="left" style="font-family:'Avenir Next Airbo',Avenir Next,Arial,Helvetica,sans-serif;font-size:18px;color:#404040;mso-line-height-rule:exactly;line-height:26px;font-weight:bold;padding-top:30px;padding-left:20px;padding-right:20px;">
    <%= @presenter.email_heading %>
  </td>
</tr>
<tr>
  <td width="500" align="left" style="font-family:'Avenir Next Airbo',Avenir Next,Arial,Helvetica,sans-serif;font-size:15px;color:#404040;mso-line-height-rule:exactly;line-height:24px;padding-top:20px;padding-bottom:30px;padding-left:20px;padding-right:20px;">
    <%= @presenter.custom_message_if_present %>
  </td>
</tr>
</table>