<h3>
  <%= "#{@user.name} returned to Airbo via the invite link on #{Time.current.pretty_succinct}." %>
</h3>
<p>
  Name: <%= @user.name %>
</p>
<p>
  Email: <%= @user.email  %>
</p>
<p>
  Visit Count: <%= @user.redis[:invite_link_click_count].call(:get) %>
</p>
