.cf {clear:both;}
h2 {margin:0; padding:0;}
ul {list-style-type:none; margin:0; padding:0;}
a {border:0;}
img {border:0;}
p {margin:0;padding:0;}

/* ============== SIGN UP PAGE =============== */
body.invitations, body.invitation-resends {
	background-color:#dbdbdb;
	background-image:url('/images/bg_body.jpg');
	font-family:Helvetica, Arial, sans-serif;
	font-size:13px;
	margin:0;
	padding:0;
}

.invitations a, .invitation-resends a {
	color:#6f9d41;
	font-family:Gotham, sans-serif;
	font-weight:bold;
	text-decoration:none;
}
	.invitations a:hover, .invitation-resends a:hover {color:#87bf4e!important;}

/*.invitations h2, .invitation-resends h2 {
	font-family:Gotham, sans-serif;
	font-weight:normal;
}*/

/* ------- Top/Navigation ------ */
.invitations .top {
	background-image:url('/images/bg_box.jpg');
	border-bottom:1px #355613 solid;
}

.invitations .header {margin:0 auto; padding:10px 0; width:700px}
#logo {float:left;}
#navigation {
	float:right;
	margin-top:45px;
}
#navigation ul {margin:0; padding:0;} 
	#navigation ul li { 
		display:inline;
		margin:0; 
		padding-left:25px;
	}

a.nav-links {
	color:#fff!important; 
	font-size:18px; 
	text-shadow:1px 1px 1px #333;
	text-transform:uppercase;
}
	a.nav-links:hover {border-bottom:1px #3b3b3b dashed;}
a.nav-current {
	border-bottom:1px #c7e4ab dashed;
	color:#c7e4ab!important;
}

/* ------- Top/Content ------ */
.invitations .content {
	border-top:1px #f8f8f8 solid;
	padding:20px;
}

.status {
	background-image:url('/images/bg_light.jpg');
	border:1px #fff solid;
	border-radius:4px;
	box-shadow:0px 0px 4px #999;
	margin:0 auto 20px auto;
	padding:10px;
	width:480px;
}
	.status a:hover {border-bottom:1px #3b3b3b dashed; color:#3b3b3b!important;}
	.status p {padding:5px 0;}

ul.form-section {
	clear:both;
	margin:0 auto 30px auto;
	width:404px;
}

.form-label {
	color:#3b3b3b;
	font-size:16px;
	font-weight:bold;
}
	.form-label p {
		color:#5f5f5f;
		font-size:.75em;
		font-weight:normal;
		padding:3px 0;
	}
	
.form-input input, .form-input select {
 	border:2px #87bf4e solid;
	background-color:#f4f3f3;
	border-radius:4px; 
	color:#355613;
	font-size:20px;
	margin:5px auto 0 auto;
	padding:10px;
	width:380px;
}
	.form-input input:focus {background-color:#fff;}
.form-input .field_with_errors input {border:2px #e11a00 solid;}

.form-msg {
	color:#e11a00;
	margin-top:10px;
}
	.form-msg .error-text {font-weight:bold;}

.signup-submit input[type="submit"] {
	background-color:transparent;
	background-image:url('/images/bg_button.png');
	background-position:bottom left;
	background-repeat:no-repeat;
	border:0;
	color:#fff;
	float:left;
	font-size:13px;
	font-weight:bold;
	height:30px;
	text-shadow:1px 1px 1px #333;
	width:176px;
}
	input[type="submit"]:hover {color:#044300; text-shadow:none;} 

a.feedback {
	float:right;
	font-size:12px;
	margin-top:7px;
}

/* ------ FOOTER ------ */
.footer {padding-bottom:50px;}
