<div class="drawer">
  <ul>
    <li><a class="js-request-demo">Request Demo</a></li>
    <li><a class="js-login">Sign In</a></li>
    <li><a href=/about>About</a></li>
    <li><a href="/broker">Brokers</a></li>
    <li><a href="/case_studies">Case Studies</a></li>
  </ul>
</div>
