<!--starthtml-->
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Section--1">Basics</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsection--1">What is H.Engage? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--2">How can I earn points?</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsubsection--1">Eating healthy</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsubsection--2">Doing physical activity</a>
</div>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--3">What about earning social points?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--4">What’s a command?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--5">How can I find out how many points I have or how many tickets I’ve earned?</a>
</div>
</div>
<div class="toc">
<a class="Link" href="#toc-Section--2">The Basics</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsection--6">Does it cost anything to play?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--7">Where can I find my user name?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--8">What if I don’t want to play by text messaging?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--9">What information about me can people see on HEngage.com?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--10">What if the system doesn’t recognize a command I send?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--11">What if I send a command and don’t receive a response back?</a>
</div>
</div>
<div class="toc">
<a class="Link" href="#toc-Section--3">Additional Support</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsection--12">What if I found something that doesn’t look right?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--13">A friend referred me to the game. How do I give them credit?</a>
</div>
</div>
</div>


<!--endhtml-->
