<!--starthtml-->
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--1"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--2"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--3"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--4"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--5"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--6"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--7"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--8"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--9"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--10"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--11"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--12"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--13"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--14"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--15"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--16"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--17"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--18"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--19"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--20"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--21"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--22"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--23"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--24"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--25"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--26"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--27"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--28"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--29"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--30"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--31"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--32"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--33"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--34"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--35"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--36"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--37"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--38"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--39"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--40"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--41"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--42"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--43"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--44"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--45"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--46"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--47"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--48"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--49"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--50"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--51"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--52"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--53"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--54"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--55"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--56"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--57"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--58"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--59"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--60"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--61"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--62"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--63"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--64"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--65"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--66"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--67"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--68"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--69"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--70"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--71"></a>What time does the machine start?
</h2>
<div class="Unindented">
It doesn’t
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--72"></a>What time can we go home?
</h2>
<div class="Unindented">
When it rains Twinkies
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--73"></a>Where is the beer?
</h2>
<div class="Unindented">
Underneath the oranges.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--74"></a>How about the aluminum foil?
</h2>
<div class="Unindented">
On the roof
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--75"></a>And the TV?
</h2>
<div class="Unindented">
On my desk
</div>


<!--endhtml-->