<!--starthtml-->
<h1 class="Section-">
<a class="toc" name="toc-Section--1"></a>Three Ways to Play!
</h1>
<div class="Standard">
This game is all about earning points for what you do and find, and progressing through levels. There are three ways to tell us what you do: the play box online, or text/email us... you pick what works best for you. Here are some examples of ways to earn points: 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--1"></a>1. Earn Activity Points
</h2>
<div class="Standard">
You can earn points for eating healthy and for doing healthy activities. 
</div>
<div class="Standard">
Here are some examples:
</div>
<div class="Standard">
<i>Eating healthy:</i> 
</div>
<ul>
<li>
Apple: Send “ate apple” (+3 points) 
</li>
<li>
Salad: Send “ate salad” (+3 points) 
</li>
<li>
Water: Send “drank water” (+1 point) 
</li>

</ul>
<div class="Standard">
<i>Doing physical activity: </i>
</div>
<ul>
<li>
Took the stairs: Send “took stairs” (+2 points) 
</li>
<li>
Went to the gym: Send “went to gym” (+10 points) 
</li>

</ul>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--2"></a>2. Earn Tile Points
</h2>
<div class="Standard">
Look for the fun, colorful squares around your office. Read them and follow the instructions on each one. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--3"></a>3. Earn Social Points
</h2>
<div class="Standard">
Games are more fun when you’re playing with other people!
</div>
<ul>
<li>
<i>Refer coworkers.</i> Get 5 points for each coworker you sign up: have your friend respond to their welcome text or email with your user name. 
</li>
<li>
<i>Play together.</i> You can earn extra points by doing an activity with a coworker by adding their user name to the end of a command (“took stairs jsmith”) or having them add your user name to the end of a command.
</li>
<li>
<i>Become a fan.</i> No points, but a great way to check out what your colleagues are up to. Search for them on the “Directory” page and click &ldquo;follow&rdquo;. Or text or email “follow” followed by their username (i.e., “follow jsmith”).
</li>

</ul>


<!--endhtml-->