<!--starthtml-->
<h1 class="Section-">
<a class="toc" name="toc-Section--1"></a>Basics
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--1"></a>What is H.Engage? 
</h2>
<div class="Standard">
H.Engage is a platform that makes it fun and easy to learn about programs, benefits and other workplace initiatives. 
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--2"></a>How can I earn points?
</h2>
<div class="Standard">
Click on the tiles (mini posters) on your H.Engage homepage and follow the prompts to earn points. There are a few types of tiles that you may see: 
</div>
<ul>
<li>
Keyword tiles: To earn points for these tiles, read the prompt on the tile, enter the keyword by typing it in the “Enter a keyword” bar in the upper left corner of the website and then click submit. Some tiles will give you the keyword, while others will ask you to think of the keyword by answering a question. 
</li>
<li>
Multiple choice tiles: To earn points for interacting with these tiles, read the tile and then click on the correct multiple choice answer option. 
</li>

</ul>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--3"></a>Is your company playing the wellness game? 
</h2>
<div class="Standard">
If you’re playing the wellness game, you can also earn points for eating fruits and vegetables and for doing healthy activities. Simply enter the things you do in the “Enter a keyword” bar in the upper left hand corner of H.Engage. 
</div>
<div class="Standard">
Here are some examples of healthy keywords:
</div>
<div class="Standard">
Tell H.Engage when you eat healthy foods, like fruit: 
</div>
<ul>
<li>
Apple: Enter ATE APPLE (+3 points) 
</li>
<li>
Banana: Enter ATE BANANA (+3 points) 
</li>
<li>
Strawberries: Enter ATE STRAWBERRY (+3 points) 
</li>

</ul>
<div class="Standard">
Or vegetables: 
</div>
<ul>
<li>
Salad: Enter ATE SALAD (+3 points) 
</li>
<li>
Broccoli: Enter ATE BROCCOLI (+3 points) 
</li>
<li>
Bok choy: Enter ATE BOK CHOY (+3 points)
</li>

</ul>
<div class="Standard">
Tell H.Engage when you do healthy activities, like: 
</div>
<ul>
<li>
Took the stairs: Enter TOOK STAIRS (+2 points) 
</li>
<li>
Went to the gym: Enter WENT TO GYM (+10 points) 
</li>
<li>
Took a walk: Enter TOOK WALK (+5 points) 
</li>
<li>
Played tennis: Enter PLAYED TENNIS (+8 points)
</li>

</ul>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--4"></a>What about earning social points? 
</h2>
<div class="Standard">
H.Engage is more fun when you’re playing with other people!
</div>
<div class="Standard">
You can invite your coworkers by searching for them in the “Invite your friends” section on your HEngage.com homepage. You’ll earn 5 points for each coworker you sign up. 
</div>
<div class="Standard">
You can also connect with coworkers to see how they’re playing the game. To connect with someone, click “Directory,” search for their name and then click “Add to friends.” Your coworker will be notified and asked to confirm that they know you.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--5"></a>What’s a keyword? 
</h2>
<div class="Standard">
A keyword is a word or phrase that you enter on H.Engage to earn points. It lets us know when you find a tile or take a healthy action.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--6"></a>How can I find out how many points I have or how many tickets I’ve earned? 
</h2>
<div class="Standard">
You can find how many tickets you have (and how many points you need to get to the next ticket) on your homepage on HEngage.com. You’ll also receive an update on your points and ticket count each time you send in a keyword.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--7"></a>Does it cost anything to play? 
</h2>
<div class="Standard">
There is no cost to join, but standard message and data rates do apply so there may be some costs associated with the use of this service. For example, your pager or cellular phone service provider may charge you to send or receive wireless text messages.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--8"></a>Where can I find my user name? 
</h2>
<div class="Standard">
You can find your user name by clicking “Settings” in the upper right hand corner.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--9"></a>What if I want to add or remove a mobile number from H.Engage? 
</h2>
<div class="Standard">
You can add or remove your mobile number by clicking on “Settings.” You can also update your notification preferences on this page, which lets us know whether you prefer to receive notifications via text message, email or both.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--10"></a>What information about me can people see on HEngage.com? 
</h2>
<div class="Standard">
You can customize your privacy settings by clicking on “Settings” in the upper right hand corner. 
</div>
<div class="Standard">
You can choose to show your profile page to all coworkers or only coworkers who you are connected to. If you limit your privacy settings to those you are connected to, others will only be able to see your name, photo and email address. If a coworker wants to connect with you, you’ll receive a notification that you can confirm or (quietly) reject them.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--11"></a>What if the system doesn’t recognize a keyword I send? 
</h2>
<div class="Standard">
There are a few reasons that the system may not recognize a keyword that you send in. First, you may want to double check what you sent. For example, make sure that you spelled everything correctly (sent “benefit” not “bnefit”) and that words are in the right order (“benefit program” not “program benefit”).
</div>
<div class="Standard">
You can also send <a href='#' class='contact_us_link'>support@hengage.com</a> a message and we’ll look into it.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--12"></a>What if I send a keyword and don’t receive a response back? 
</h2>
<div class="Standard">
We try our best to respond to all keywords within a few seconds. Like any system, ours slows down once in awhile so if you don’t see something right away, give us a few minutes. If you still don’t see a response within an hour, send us a note at <a href='#' class='contact_us_link'>support@hengage.com</a> and we’ll look into it.
</div>
<h1 class="Section-">
<a class="toc" name="toc-Section--2"></a>Additional Support
</h1>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--13"></a>What if I found something that doesn’t look right? 
</h2>
<div class="Standard">
We work hard to make sure that everything in our system is working correctly, but if you see something that doesn’t look right, let us know! Send us a note at <a href='#' class='contact_us_link'>support@hengage.com</a>. If you find a bug, we may even give you a couple bonus points for helping us out!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--14"></a>Need more help? 
</h2>
<div class="Standard">
Send an email to <a href='#' class='contact_us_link'>support@hengage.com</a>
</div>


<!--endhtml-->