<!--starthtml-->
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--1"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--2"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--3"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--4"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--5"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--6"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--7"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--8"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--9"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--10"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--11"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--12"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--13"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--14"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--15"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--16"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--17"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--18"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--19"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--20"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--21"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--22"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--23"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--24"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--25"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--26"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--27"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--28"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--29"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--30"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--31"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--32"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--33"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--34"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--35"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--36"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--37"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--38"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--39"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--40"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--41"></a>What time does the machine start?
</h2>
<div class="Unindented">
Between 5pm and 6pm, sometimes earlier on leap years or in case of war. Between 5pm and 6pm, sometimes earlier on leap years or in case of war. 
</div>
<div class="Indented">
But on the other hand, you might just want to use your wristwatch.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--42"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
For those who like fresh flowers, try Tossed!
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--43"></a>How can I get to Nebraska from here?
</h2>
<div class="Unindented">
We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. We are sorry to inform you, but there is no way to get to Nebraska from here. What time does the machine start?
</div>
<div class="Indented">
However, if you really must go, take your red ruby slippers.
</div>
<h2 class="Subsection-">
<a class="toc" name="toc-Subsection--44"></a>Where is the big TV to watch the game on? 
</h2>
<div class="Unindented">
Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! Behind the snack counter, of course! 
</div>
<div class="Indented">
(The little tiny TV is always available, just unplug the microwave before you try to use it.)
</div>


<!--endhtml-->