<!--starthtml-->
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Section--1">Basics</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsection--1">What is H.Engage? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--2">How can I earn points?</a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--3">Is your company playing the wellness game? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--4">What about earning social points? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--5">What’s a keyword? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--6">How can I find out how many points I have or how many tickets I’ve earned? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--7">Does it cost anything to play? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--8">Where can I find my user name? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--9">What if I want to add or remove a mobile number from H.Engage? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--10">What information about me can people see on HEngage.com? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--11">What if the system doesn’t recognize a keyword I send? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--12">What if I send a keyword and don’t receive a response back? </a>
</div>
</div>
<div class="toc">
<a class="Link" href="#toc-Section--2">Additional Support</a>
</div>
<div class="tocindent">
<div class="toc">
<a class="Link" href="#toc-Subsection--13">What if I found something that doesn’t look right? </a>
</div>
<div class="toc">
<a class="Link" href="#toc-Subsection--14">Need more help? </a>
</div>
</div>
</div>


<!--endhtml-->