<footer>
<% if @display_social_links %>
  <div class="row main-row">
    

    <div class="contact_us">
      <h3>Contact us</h3>
      <ul class="large-4 columns">
        <li class="reach_us"><a href="mailto:info@air.bo">info@air.bo</a></li>
      </ul>
      <div class="large-4 columns address">
        <p>H.Engage</p>
        <p>292 Newbury Street, Suite 547 Boston MA 02115</p>
      </div>
      <ul class="our_socmedia large-4 columns">
        <li><a href="http://www.linkedin.com/company/airbo/" target="_new" id="linkedin">LinkedIn</a></li>
        <li><a href="https://twitter.com/theairbo" target="_new" id="twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/theairbo?ref=hl" target="_new" id="facebook">Facebook</a></li>
      </ul>
    </div>
  </div>
<% end %>
  <div class="row copyright">
    <p>Copyright &copy; 2014 H.Engage, Inc.</p>
  </div>

</footer>
<script>
  $("[placeholder]").placeholder();
  $(document).foundation();
</script>
