<footer id="pageFtr" class="landing-footer">
  <div class="section-two">
    <div class="full-band">
      <div class="row">
        <div class="small-2 columns">
          <div class="logo">
            <%= link_to "/" do %>
              <div class="logo_image"></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
