<footer>
<div>
  <p>Copyright &copy; 2013 H.Engage, Inc.</p>
  <% if @display_social_links %>
    <ul class="our_socmedia">
      <li><a href="http://www.linkedin.com/company/1556587" target="_new" id="linkedin">LinkedIn</a></li>
      <li><a href="https://twitter.com/hengage" target="_new" id="twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/pages/H-Engage/196416790375924" target="_new" id="facebook">Facebook</a></li>
    </ul>
  <% end %>
</div>
</footer>
<script>
$("[placeholder]").placeholder();
</script>
