<header>
  <div class="container">
    <div id="logo">
        <a href="/"><%= image_tag "v4/logo.png", :alt => "H.Engage" %></a>
    </div>
    <nav id="nav">
      <ul>
        <li><a href="http://blog.hengage.com" target="_new">Blog</a></li>
        <li><a href="/sign_in" id="login" class="pop-button">User login</a></li>
      </ul>
    </nav>
  </div>
</header>