<header>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name" id="logo">
          <h1><a class="go_home" href="/"><%= image_tag "logo.png", alt: "H.Engage" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a id="more_info" href="/pages/more_info">More information</a></li>
          <li class="divider"></li>
          <li><a href="http://blog.hengage.com" id="blog">Blog</a></li>
          <li class="has-form">
            <a href="#!" class="request_a_demo">Schedule demo</a>
          </li>
          <li class="has-form">
            <a class="sign_in_button" href="/sign_in">Sign-in</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>

<%= javascript_include_tag 'external/marketing_nav.js' %>
<%= javascript_tag do %>
  $('.go_home').click(function() { mpq.track("Clicked to go Home", {}); });
  $('#more_info').click(function() { mpq.track("More Information link", {}); });
  $('#blog').click(function() { mpq.track("Clicked blog link", {}); });
  $('.top-bar-section .sign_in_button').click(function() { mpq.track("Clicked Sign-in link", {}); });
<% end %>
