<header>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name" id="logo">
          <h1><a class="go_home" href="/"><%= image_tag "logo.png", alt: "Airbo" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li class="has-form">
            <a href="/demo_requests/new" class="request_a_demo">Request Demo</a>
          </li>
          <li class="has-form">
            <a class="sign_in_button" href="/sign_in">Sign In</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>

<%= javascript_include_tag 'external/marketing_nav.js' %>
