<header>
  <div class="contain-to-grid">
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name" id="logo">
          <h1><a class="go_home" href="/pages/marketing"><%= image_tag "v4/logo.png", alt: "H.Engage" %></a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a class="go_home" href="/pages/marketing">Home</a></li>
          <li><a id="work_together" href="/pages/pricing">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="http://blog.hengage.com" id="blog">Blog</a></li>
          <li class="has-form">
            <a href="#!" class="request_a_demo button">Free trial</a>
          </li>
          <li class="has-form">
            <a class="button sign_in_button" href="/sign_in">Sign-in</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</header>

<%= javascript_include_tag 'external/marketing_nav.js' %>
<%= javascript_tag do %>
  $('.go_home').click(function() { mpq.track("Clicked to go Home", {}); });
  $('#work_together').click(function() { mpq.track("Clicked Pricing link", {}); });
  $('#blog').click(function() { mpq.track("Clicked blog link", {}); });
  $('.top-bar-section .sign_in_button').click(function() { mpq.track("Clicked Sign-in link", {}); });
<% end %>
