<div class="row next_steps">
  <div class="large-5 push-1 columns">
    <a href="#!" class="request_a_demo" data-request-demo-full="true" data-request-demo-source="<%= @page_name %> schedule_demo">Request Demo</a>
    <p>We'll review the application, talk pricing, and set up a free account.</p>
  </div>
  <div class="large-5 pull-1 columns">
    <a href="#!" class="schedule_with_us" data-request-demo-full="true" data-request-demo-source="<%= @page_name %> create_board">Create board</a>
    <p>Free for 30 days. Free forever for up to 10 users. No credit card required. All features included.</p>
  </div>
</div>
