<div id="clients">
	<p><span>Join our happy clients!</span></p>
	<ul class="large-8 large-centered row">
		<li id="highmark" class="small-4 columns client"><%= image_tag "marketing/clients/highmark.png", alt: "Highmark" %></li>
		<li id="michelin" class="small-4 columns client"><%= image_tag "marketing/clients/michelin.png", alt: "Michelin" %></li>
		<li id="yahoo" class="small-4 columns client"><%= image_tag "marketing/clients/yahoo.png", alt: "Yahoo" %></li>
	</ul>
</div>