<!-- <h2>Businesses use Boards to engage employees</h2> -->
<div class="a_client" id="asha">
  <a href="/pages/asha"><%= image_tag "marketing/clients/asha.png", "alt" => "ASHA" %></a>
</div>

<div class="a_client" id="heineken">
  <%= image_tag "marketing/clients/heineken_logo.png", "alt" => "Heineken" %>
</div>

<div class="a_client" id="fujifilm">
  <%= image_tag "marketing/clients/fuji.png", "alt" => "Fujifilm" %>
</div>

<div class="a_client" id="miltoncat">
  <%= image_tag "marketing/clients/miltoncat.png", "alt" => "Milton Cat" %>
</div>
