<section id="clients">
 <h2>For any workforce, from high-tech to manufacturing</h2>
 <ul>
  <li id="highmark" class="client"><%= image_tag "marketing/clients/highmark.png", alt: "Highmark" %></li>
  <li id="michelin" class="client"><%= image_tag "marketing/clients/michelin.png", alt: "Michelin" %></li>
  <li id="yahoo" class="client"><%= image_tag "marketing/clients/yahoo.png", alt: "Yahoo" %></li>
 </ul>
</section>