<section id="points" class="s960">
  <ul class="tour-nav">
    <li class="reach"><a href="reach.html" id="reach"></a><h3>Reach hard-to-reach<br/>employees</h3></li>
    <li class="spark"><a href="spark.html" id="spark"></a><h3>Spark engagement</h3></li>
    <li class="drive"><a href="drive.html" id="drive"></a><h3>Drive ROI</h3></li>
  </ul>
</section>