<div class="cf"></div>

<%= render 'marketing_page_contact' %>

<footer>
  <div class="wrap">
    <%= image_tag "marketing/logo-f-2x.png", :class => "logo-foot" %>
    <ul class="footer-nav" id="footer-us">
      <li><a href="reach.html" class="tour">Product tour</a></li>
      <li><a href="solutions.html" class="solutions">Solutions</a></li>
    </ul>
    <ul class="footer-nav" id="footer-client">
      <li><a href="sign_in.html" class="login">Player login</a></li>
      <li><a href="#contact-form" class="contact">Contact us</a></li>
    </ul>
    <ul id="footer-social">
      <li><a href="http://blog.hengage.com/?feed=rss2" id="rss">RSS</a></li>
      <li><a href="https://twitter.com/hengage" target="_new" id="twitter">Twitter</a></li>
      <li><a href="https://www.facebook.com/pages/H-Engage/196416790375924" target="_new" id="facebook">Facebook</a></li>
      <li><a href="http://www.linkedin.com/company/1556587" target="_new" id="linkedin">LinkedIn</a></li>
    </ul>
    <ul id="footer-rest">
      <li><h3>(877) 598-6669</h3></li>
      <li><small>Copyright &#169; 2012 H Engage, Inc.</small></li>
    </ul>
  </div>
</footer>

