<ul id="mast">
  <li id="logo"><a href="/"><%= image_tag "marketing/logo-2x.png", :alt => "HEngage.com", :class => "logo-head" %><span></span></a></li>
  <li id="login"><%= link_to "<span></span> Log In".html_safe, sign_in_path, :class => "login button orange-btn gradient" %></li>
  <li id="signup"><%= link_to "<span></span> Sign up".html_safe, new_invitation_path, :class => "signup button green-btn gradient" %></li>
</ul>

<ul id="nav">
  <li id="tour"><a href="reach.html" class="tour">Product tour</a></li>
  <li id="solutions"><a href="solutions.html" class="solutions">Solutions</a></li>
  <li id="blog"><a href="http://blog.hengage.com" target="_new" class="blog">Our blog</a></li>
  <li id="contact"><a href="#contact-form" class="contact">Contact us</a></li>
  <li id="number"><h2>(617) 555-5555</h2></li>
  <div class="nav-arrow"></div>
</ul>