<div class="sidebar-section">
  <form class="request-info" action='#' method='post'>
    <span class="copy"> interested?<br/> request a trial</span>
    <input type="text" name="email[name]" value="name" class="with-placeholder">
    <input type="text" name="email[email]" value="email" class="with-placeholder">
    <%= image_submit_tag "new_marketing/btn_demo.png", :alt => 'Request demo' %>
    <%= image_tag 'spinner.gif', :class => 'spinner', :style => 'display: none' %>
    <span class="thanks-message" style="display: none">Thanks, we'll be in touch.</span>
  </form>

  <p class="pullquote">
    <%= image_tag 'new_marketing/side_quote.png' %>
    Now if wellness was this fun all the time...<br/><span class="attribution">&mdash;Benefits Manager</span>
  </p>
</div>
