<div class="sidebar-section">
  <p class="pullquote">
    <%= image_tag 'new_marketing/side_quote.png' %>
    Now if wellness was this fun all the time...<br/><span class="attribution">&mdash;Benefits Manager</span>
  </p>

  <form class="request-info">
    <!-- TODO: hook this up. -->
    <span class="copy"> interested?<br/> request a trial</span>
    <input type="text" value="name" class="with-placeholder">
    <input type="text" value="email" class="with-placeholder">
    <%= image_submit_tag "new_marketing/btn_demo.png", :alt => 'Request demo' %>
  </form>
</div>
