<div class="sidebar-section">
  <p class="pullquote">
    <%= image_tag 'new_marketing/side_quote.png' %>
    Now if wellness was this fun all the time...<br/><span class="attribution">&mdash;Benefits Manager</span>
  </p>
</div>
