<%= form_tag new_game_path, method: :get do |f| %>
  <ul>
    <%= text_field_tag "customer_name", "", class: "customer-name unfilled-field", placeholder: "First and last name" %>
    <%= text_field_tag "customer_email", "", class: "customer-email unfilled-field", placeholder: "Email" %>
    <li><input type="submit" value="Start a game" class="start-game-button"/><p>14 day free trial</p></li>
  </ul>
<% end %>

<div id="sign_up_form_error">Please enter both your name and an e-mail address.</div>