<%= form_tag new_game_path, method: :get do |f| %>
  <ul>
    <%= text_field_tag "customer_name", "", class: "customer-name", placeholder: "First and last name" %>
    <%= text_field_tag "customer_email", "", class: "customer-email", placeholder: "Email" %>
    <li><input type="submit" value="Start a game" /><p>14 day free trial</p></li>
  </ul>
<% end %>
