<section id="slider" class="contained">
  <div id="s_play" class="slide">
    <div class="slider_content_holder">
      <h1 class="light-headline">Drive engagement in workplace programs using social mobile gaming.</h1>
      <%= render 'sign_up_form' %>
    </div>
  </div>
  <div id="s_message" class="slide">
    <div class="slider_content_holder">
      <h1 class="light-headline">Send personalized messages to groups of employees on any device.</h1>

      <p>We help collect and store personal e-mail and text message numbers, no prior information needed.</p>
      <a href="#!" class="request_a_demo pop-button">Request a demo</a>
    </div>
    <ul id="phone_messages">
      <li id="pm_1"><p>Stop by to welcome our new Director of Finance! 3rd floor @ 1 PM today.</p></li>
      <li id="pm_2"><p>Weather alert: Store will have a delayed opening tomorrow.</p></li>
      <li id="pm_3"><p>Don't forget the benefits enrollment deadline is November 7th</p></li>
      
    </ul>
  </div>
  <div id="s_interact" class="slide">
    <div class="slider_content_holder">
      <h1>Make any print or online communication interactive and measurable.</h1>
      <p>Employees send in key words from any device to earn points.</p>
      <a href="#!" class="request_a_demo pop-button">Request a demo</a>
    </div>
  </div>
  <div id="s_measure" class="slide">
    <div class="slider_content_holder">
      <h1>Gather metrics.</h1>
      <p>Track engagement in any communication or behavior.</p>
      <%= render 'sign_up_form' %>
    </div>
  </div>
  <div id="slider_controllers">
    <div id="slide_buttons">
      <a href="#!" id="prev_slide">Prev</a>
      <a href="#!" id="next_slide">Next</a>
    </div>
    <ul id="slide_name">
      <li class="current_slide" id="sn_play"><a href="#!">Play</a></li>
      <li id="sn_message"><a href="#!">Message</a></li>
      <li id="sn_interact"><a href="#!">Interact</a></li>
      <li id="sn_measure"><a href="#!">Measure</a></li>
    </ul>
  </div>
</section>
