<section id="slider" class="contained">
  <div id="s_play" class="slide">
    <div class="slider_content_holder">
      <h1 class="light-headline">Drive engagement in workplace programs using social mobile gaming.</h1>
      <%= render 'sign_up_form' %>
    </div>
  </div>
  <div id="s_message" class="slide">
    <div class="slider_content_holder">
      <h1 class="light-headline">Send personalized messages to groups of employees on any device.</h1>
        <p>We help collect and store personal e-mail and text message numbers, no prior information needed.</p>
    </div>
  </div>
  <div id="s_interact" class="slide">
    <div class="slider_content_holder">
      <h1>Make print communications interactive and measurable.</h1>
      <%= render 'sign_up_form' %>
    </div>
  </div>
  <div id="s_measure" class="slide">
    <div class="slider_content_holder">
      <h1>Gather metrics.</h1>
      <p>Real time reporting helps show results.</p>
    </div>
  </div>
  <div id="slider_controllers">
    <div id="slide_buttons">
      <a href="#!" id="prev_slide">Prev</a>
      <a href="#!" id="next_slide">Next</a>
    </div>
    <ul id="slide_name">
      <li class="current_slide" id="sn_play"><a href="#!">Play</a></li>
      <li id="sn_message"><a href="#!">Message</a></li>
      <li id="sn_interact"><a href="#!">Interact</a></li>
      <li id="sn_measure"><a href="#!">Measure</a></li>
    </ul>
  </div>
</section>
