<div id="platform_extras">
  <div class="wrap">
    <h2>H.Engage platform</h2>
    <ul id="stats_usage">
      <li><p>Reach employees by communicating using mobile.</p></li>
      <li><p>Put messages and behaviors into a game-like framework.</p></li>
      <li><p>Controlled peer-to-peer sharing multiplies the impact of messages and behaviors.</p></li>
      <li><p>Cut through the noise by delivering personalized information</p></li>
    </ul>
  </div>
  <div id="stats_slider">
    <ul id="stats_name">
      <li id="sn_mobile" class="current_stat_name">Mobile</li>
      <li id="sn_games">Games</li>
      <li id="sn_smedia">Social media</li>
      <li id="sn_personal">Personalized content</li>
    </ul>
    <div id="stats_holder">
      <ul id="stats_mobile">
        <li>87% of adults own a cell phone. (Pew)</li>
        <li>71% of smartphone owners use them at work.</li>
        <li>Over 92% of 18 to 49 year olds text. (Pew)</li>
      </ul>
      <ul id="stats_games">
        <li>#2 mobile and online activity. (Nielsen) </li>
        <li>47% of gamers are women. (ESA)</li>
        <li>Average gamer is 30 years old. (ESA)</li>
      </ul>
      <ul id="stats_smedia">
        <li>Social media is the #1 online and mobile activity (Nielsen)</li>
        <li>Social networks impact behavior: A person is 25% more likely to be happy if a friend living within a mile becomes happy. (Christakis)</li>
      </ul>
      <ul id="stats_personal">
        <li>Data about an individual’s preferences helps identify how to best engage them in a message or behavior</li>
        <li>75% Netflix users select movies based on automated suggestions (Netflix)</li>
      </ul>
    </div>
  </div>
</div>