<% suppress_link ||= false %>
<div class="post <%= post_class %>">
  <div class="title"><a href="#"></a></div>
  <div class="body-wrapper"><span class="body"></span>

  <% unless suppress_link %>
    <a href="#" class="read-more">read more</a>
  <% end %>
  </div>
</div>
