<%= content_for :header, "Admin" %>

<a href="#">New Demo</a>

<ul class="demos">
  <li><%= link_to '3M', page_path('invite') %></li>
  <li><%= link_to 'Fidelity', page_path('invite') %></li>
  <li><%= link_to 'Mastercard', page_path('invite') %></li>
</ul>
