<div data-role="header">
  <h1>Broccoli</h1>
</div>

<div id="main" data-role="content">
  <p class="explanation">
    <%= translate('.explanation', :default => 'Reply to the welcome SMS you just received with "ate broccoli" to win your first points.') %>
  </p>
</div>
