<%= render layout: "pages/landing/hero", locals:{hero_class: "", no_header: false} do %>
  <%= image_tag "landing/company/smiley_logo_white.png" %>
  <h2>We are Airbo</h2>
<% end %>
<main>
  <div class="story_section">
    <h4>Company</h4>
    <div class="story">
      <p class="article">
        We believe the HR function is the hub of employee engagement. Our mission is to make it incredibly easy for HR to create programs and communications that employees love.
      </p>
      <p class="article">
        Airbo was founded by Vlad Gyster in February of 2011. Since then, we’ve worked with organizations from 20 to 100,000 employees, including numerous Fortune 500 companies like Michelin, Fujifilm and Yahoo!
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="story_section">
    <h4>Leadership</h4>

    <div class="story">
      <p class="article headline">
        Vlad Gyster, Founder & CEO
      </p class="article">
      <p class="article">
        Vlad has spent ten years helping Human Resources understand and adopt emerging technologies like mobile, gamification, and social media. Prior to starting Airbo, Vlad spent five years at Towers Watson. There, he cofounded the social media practice and worked with Fortune 500 companies like 3M and American Express to implement strategies to engage employees in the HR ecosystem.
      </p>
      <p class="article">
        In 2006, Vlad graduated summa cum laude from the University of Connecticut with a Bachelor of Science in Business Administration in Healthcare Management. He was awarded Student of the Year from the Center for Healthcare & Insurance Studies.
      </p>
      <p class="article">
        Vlad is a frequent speaker at HR conferences and contributes to publications like Fortune, Employee Benefit News, IHRIM, and SHRM. He resides in Venice, CA, where he occasionally sneaks out of the office to surf.
      </p>
    </div>

    <div class="story">
      <p class="article headline">
        Herby Raynaud, CTO
      </p>
      <p class="article">
        Herby is an experienced executive and technologist. Prior to joining Airbo, Herby was CTO of TheRunthrough, a digital media and PR platform for high-end media and luxury brands.
      </p>
      <p class="article">
        Herby is a graduate of Columbia University in New York City. He began his technology career working in the financial services industry for UBS. He later joined the professional services group of TransactTools, a cutting edge startup specializing electronic trading and FIX Protocol. While at TransactTools, which was eventually acquired by the NYSE, he spent many years building custom trading software for clients such as Swiss Exchange, Archipelago Exchange and Citigroup.
      </p>
      <p class="article">
        After leaving NYSE TransactTools, Herby worked for Correlix a leading edge maker of monitoring software for ultra low-latency trading environments.
      </p>
      <p class="article">
        Herby competed internationally as a member of the US Fencing Team from 1998-2004. Today, he remains involved in fencing as the Director of Educational Programs, Secretary of the Board of Directors, coach and mentor at the Peter Westbrook Foundation.
      </p>
    </div>
  </div>
</main>
 <section id="sign_up_block" class="join">
    <div class="join_block center">
      <h2 class="align_center">Join Airbo to discover engaging content</h2>
      <p class="align_center">Get started exploring today, it's free forever.</p>
      <%= render partial: "pages/landing/form" %>
    </div>
  </section>
<%= render partial: "pages/landing/footer" %>
