<body id="pt-drive" class="pt">
    <header>
        <%= render 'september_header' %>
        <%= render 'september_PTheader' %>
    </header>

    <section id="section-head">
        <div class="wrap"> 
            <div class="numbering">
                <h1>3</h1>
                <div class="arrow"></div>
            </div>
            <ul>
                <li><h1>Drive ROI</h1></li>
                <li><h3>Measure effectiveness and maximize resources to <br />be the best strategic partner.</h3></li>
            </ul>
        </div>
    </section>

    <section id="linkincrease" class="s960">
        <div class="text left">
            <ul>
                <li><h2>Link communications and ROI</h2></li>
                <li><p>Our ECS integrates disparate data streams to show causal relationships between communications and outcomes. Does <br/ >our newsletter drive higher biometrics? If so, can we reduce <br/>our incentive spend? If not, do we need a newsletter?</p></li>
            </ul>
        </div>
        <div class="text right">
            <ul>
                <li><h2>Increase the value of HR programs</h2></li>
                <li><p>Employees want to take advantage of HR programs, but are often confused or disenfranchised. H Engage drives employee participation – helping reposition your Employee Value Proposition through increased awareness and appreciation of benefits.</p></li>
            </ul>
        </div>
    </section>

    <section id="oneplatform" class="s960">
        <div class="text right">
            <ul>
                <li><h2>One platform, many programs</h2></li>
                <li><p>Wellness, financial education, corporate responsibility, and more. We’ve got you covered. Reduce your administrative hassle and vendor spend while providing a consistent user experience.</p></li>
                <li><a href="#" class="button contact orange-btn gradient"><span></span> Get in touch</a></li>
            </ul>
        </div>
        <div class="image left">
            <img src="assets/marketing/gantt.png" />
        </div>
    </section>

    <div class="cf"></div>

    <%= render 'september_footer' %>
</body>