<div id="main">
  <h2>For employers</h2>

  <p>To talk to a human, please contact Vlad Gyster, the CEO of H Engage via <a href="mailto:vlad@hengage.com">email</a> or <span class="tel">+1 (781) 883-4859</span>.</p>

  <h2>Health care costs</h2>

  <p>Health care costs <a href="http://www.kaiseredu.org/Issue-Modules/US-Health-Care-Costs/Background-Brief.aspx">have tripled</a> in the past twenty years. Research shows that <strong>43% of an individual's claims costs are "lifestyle costs"</strong>. For instance, sedentary lifestyles are a major contributor to the health problems of the 68% of Americans who are overweight or obese.</p>

  <h2>Wellness spending</h2>

  <p>Employers recognize the opportunity to reduce lifestyle costs by targeting modifiable behaviors such as diet and exercise. Therefore, the savviest HR departments have been spending on wellness programs.</p>

  <p>However, in a survey of Fortune 1000 companies conducted by Towers Watson, employers identified <strong>"lack of employee engagement"</strong> as by far the biggest obstacle to the success of their wellness programs.</p>

  <h2>H Engage</h2>

  <p>We're so serious about solving that problem for employers that we've named our company after it. We want to <strong>engage</strong> people in their own <strong>health</strong> in a meaningful way. We think we can do it via consumer best practices:</p>

  <ul>
    <li>social networking</li>
    <li>game mechanics</li>
    <li>mobile technology</li>
  </ul>

  <h2>Social networking</h2>

  <p><a href="http://tumblr.com/xgbqsf988">Research</a> has shown that obesity is spread through social connections. Therefore, top-down solutions such as an authority figure telling a person to eat five servings of fruits an vegetables per day are ineffective.</p>

  <p>An effective solution needs to consider the peer-to-peer influence and sharing that people already do in their personal lives using social networks on the web.</p>

  <h2>Game mechanics</h2>

  <p>For too many of us, it feels like a chore to eat well and get some exercise. We think we make the process fun. Having fun is a great motivator and what's more fun than games?</p>

  <p>Game mechanics are being used more frequently in consumer settings via products such as Farmville and Foursquare. These "casual games" are also capturing unlikely audiences, such as women who are over 50 years old.</p>

  <h2>Contact us</h2>

  <p>If you'd like to set up a demo of H Engage for your HR team, please contact Vlad Gyster, the CEO of H Engage via <a href="mailto:vlad@hengage.com">email</a> or <span class="tel">+1 (781) 883-4859</span>.</p>
</div>
