
<div id="account" class="container">

<%= render partial: "pages/front_theme/account/login" %>
<%= render partial: "pages/front_theme/account/request_account" %>
<%= render partial: "pages/front_theme/account/demo" %>

</div>
