<div class="row" >
  <div class="large-6 large-centered columns">
    <div class="mt-2 mb-1" style="border: 1px solid  #dde3e9;border-radius:4px;">
      <div class="img">
        <img src="https://assets.sourcemedia.com/dims4/default/c367a8a/2147483647/resize/680x%3E/quality/90/?url=https%3A%2F%2Fassets.sourcemedia.com%2F72%2Fbb%2Fb29809d84235b04af1533cecc6b2%2Ffujifilm.bloomberg.jpg" alt="Fujifilm" style="border-top-right-radius:4px; border-top-left-radius:4px; max-height:255px; width: 100%;">
      </div>
      <div class="content-card p-2">
        <h3 style="margin-top:0;margin-bottom:20px;">How Fujifilm got 84% of their employees loving benefits using Airbo</h3>
        <p style="margin: 1em 0 1em 0;">Earlier this year, Employee Benefit News profiled how Fujifilm uses Airbo to drive employee engagement in benefits and wellness.</p>

        <p style="margin: 1em 0 1em 0;">Airbo is an easy and fun microsite that makes benefits communications feel like part of a modern app employees love. It gets at least 30% more employees to pay attention, learn and participate.</p>

        <p style="margin: 1em 0 1em 0;">Carolyn Gordon, Fujifilm’s Director of Benefits, was named a 2017 recipient of an EBN Benefits Technology Innovator Award for being able to demonstrate measurable results.</p>

        <li style="line-height:22px; margin-bottom: 10px;">88% of Fujifilm’s 4,400 employees participate in Airbo, with an average of 80% participating each quarter.</li>
        <li style="line-height:22px; margin-bottom: 10px;">91% of surveyed employee said “I have a greater appreciation for my benefits.”</li>
        <li style="line-height:22px;">Airbo increased Health Risk Assessment participation rates by 217%.</li>

        <br>
        <p style="margin: 1em 0 1em 0;"><%= link_to "Read the full article", "https://www.benefitnews.com/news/how-fujifilm-uses-gamification-to-communicate-benefits?utm_source=linkedin&utm_medium=sponsored%20content&utm_campaign=2017_10_3_Fujifilm_EBN&utm_content=How%20Fujifilm%20uses%20gamification%20to%20communicate%20benefits", target: "blank" %> with Carolyn Gordon, Fujifilm’s Director of Benefits.</p>
        <p style="margin: 1em 0 1em 0;">To learn more about Airbo’s approach, you can <%= link_to "schedule a demo", new_demo_request_path %> or <%= link_to "request a free account", new_signup_request_path %>. Or explore Airbo on your own by visiting our <%= link_to "sample gallery", "/pages/gallery" %>.</p>
      </div>
    </div>
  </div>
</div>
