<% content_for :page_title, 'Airbo' %>
<%= render partial: "pages/front_theme/navbar" %>

<main id="content" role="main">
  <%= render partial: "pages/front_theme/hero" %>
  <%= render partial: "pages/front_theme/fuji_case_study" %>
</main>
