<div data-role="header">
  <h1>By invitation only</h1>
</div>

<div id="main" data-role="content">
  <p>There is no public sign up for H Engage. People are invited to play the game by their peers or their employer.</p>

  <p>When existing players reach thresholds in the game, they are awarded invitations which they give out at their discretion, encouraging their friends and family to engage in their health together.</p>

  <p>When a forward-looking HR department <%= link_to "contacts us", page_path("employers") %> about deploying H Engage, we work closely with them to add interesting rewards (such as health insurance discounts) to the game specifically for their employees.</p>
</div>
