<%= content_for :header, "Invite" %>

<p class="explanation">Invite people to the sales call with 3M.</p>

<a href="#">New person</a>

<ul class="participants">
  <li>Bob Jones, bob@example.com</li>
</ul>
