<%= content_for :header, "Invite" %>

<p class="explanation"><%= translate('invite.explanation', :default => "Invite people to the sales call with %{company}.", :company => "3M") %></p>

<a href="#">New person</a>

<ul class="participants">
  <li>Bob Jones, bob@example.com</li>
</ul>
