<div id="about-wrapper">
  <div id="healthy-business-dude">
    <%= image_tag "dude.png", :width => "430px" %>
  </div>
  <div id="why-hengage">
    <h2>Employees aren't paying attention to wellness programs.</h2>
    <h3>They're too busy playing games and using social media on their mobile phones.</h3>
    <p>H Engage transforms your existing wellness communications programs into a memorable, game-like, social experience that rewards employees for engagement.</p>
    <p><%= mail_to "info@hengage.com", "Email us", :encode => "hex" %> for more information.</p>
  </div>
</div>
<!--
  <div id="risks" class="section">
    <div class="inner-wrapper">
      <h3>H Engage mitigates risks with social media</h3>
    </div>
  </div>
-->
