<%= render 'september_header' %>
<section id="points">
  <ul class="tour-nav">
    <li class="reach"><a href="reach.html" id="reach"></a><h3>Reach hard-to-reach<br/>employees</h3></li>
    <li class="spark"><a href="spark.html" id="spark"></a><h3>Spark engagement</h3></li>
    <li class="drive"><a href="drive.html" id="drive"></a><h3>Drive ROI</h3></li>
  </ul>
</section>

<section id="ecs">
  <h2>Engagement &#38; Communications Systems (ECS)</h2>
  <p>Software platform that helps people value and understand HR Programs. Learns employee media preferences, connects via preferred channels, measures and improves.</p>
  <table border="0">
    <tr>
      <td><div id="ecs-text"></div><p>Text messages</p></td>
      <td><div id="ecs-email"></div><p>Personal emails</p></td>
    </tr>
    <tr>
      <td><div id="ecs-social"></div><p>Social media</p></td>
      <td><div id="ecs-game"></div><p>Game mechanics</p></td>
    </tr>
  </table>
  <div class="cf">
    <a href="reach.html" class="button orange-btn gradient">Learn more about ECS</a>
  </div>
</section>

<section id="quotes">
  <div class="wrap">
    <ul class="features">
      <li><a href="#" class="selected">401k participation</a></li>
      <li><a href="#">Wellness</a></li>
      <li><a href="#">Total rewards</a></li>
      <li><a href="#">Onboarding</a></li>
      <li><a href="#">Communications</a></li>
      <li><a href="#">Learning and development</a></li>
    </ul>
    <div class="employee">
      <!-- maybs add pics on a list? onhover state hide/show? 
           or change background images? -->
    </div>
    <div class="arrow"></div>
    <div class="employee-quote">
      <h2>Rather semi-long heading title here</h2>
      <p>Learning what works and what doesn't is so basic. But often we're just trying to keep our heads above water. There's not time to put data together the way we wish we could. H Engage made it easy and fast to show how our investments were paying off using our existing information. It's made me a better strategic partner.</p>
    </div>
  </div>
  <div class="cf"></div>
</section>

<section id="clients">
  <h3>We are <span>the leader</span> in engaging employees using technology</h3>
  <!-- Michelin -->
  <div class="client" id="michelin">
    <div class="logo-holder">
      <img src="#" />
      <div class="arrow"></div>
    </div>

    <ul>
      <li><h2>Reducing waste</h2></li>
      <li><p>"We partnered with H Engage to pilot adding interactive text messaging to our traditional print outreach. Employees responded well and participants' HRA completion rates increased by 26%. We've since integrated their text messaging solution into our annual enrollment process.”</p></li>
      <li><p class="caption"><span>Laura Maillet</span>, Health and Wellness Program Manager, Michelin North America, Inc.</p></li>
    </ul>
    <div class="cf"></div>
  </div>
  <!-- Yahoo! -->
  <div class="client" id="yahoo">
    <div class="logo-holder">
      <img src="#" />
      <div class="arrow"></div>
    </div>

    <ul>
      <li><h2>Educating employees</h2></li>
      <li><p>“Over 60% of our employees who participated actually said that their awareness and their appreciation of our benefit plans had increased.”</p></li>
      <li><p class="caption"><span>Bernie Knobbe</span>, Senior Director for Global Benefits, Yahoo!</p></li>
    </ul>
    <div class="cf"></div>
  </div>
  <!-- FujiFilm -->
  <div class="client" id="fuji">
    <div class="logo-holder">
      <img src="#" />
      <div class="arrow"></div>
    </div>
    
    <ul>
      <li><h2>Bridging the gaps</h2></li>
      <li><p>At FUJIFILM, we engaged a wide variety of workers in wellness – from factories to offices and even the remote sales team.</p></li>
    </ul>
    <div class="cf"></div>
  </div>
  <!-- Highmark BGBS -->
  <div class="client" id="highmark">
    <div class="logo-holder">
      <img src="#" />
      <div class="arrow"></div>
    </div>

    <ul>
      <li><h2>Leveraging social influence</h2></li>
      <li><p>The wellness campaign run through Highmark, an independent licensee of the Blue Cross and Blue Shield Association, owed much of its success to being spread virally through peer to peer influence. 82% of players were signed up by a fellow employee.</p></li>
    </ul>
    <div class="cf"></div>
  </div>

  <a href="reach.html" class="tour button green-btn gradient">See how we can help you</a>
</section>
<%= render 'september_footer' %>
