<%= render "pages/slider" %>
<section id="any_objective">
  <div class="wrap">
    <div>
      <h1>One platform, any objective</h1>
      <p>Drive engagement in any benefit, program, communication or process.</p>
      <a href="#!" class="request_a_demo">Set up a time to discuss your priority</a>
    </div>
    <table id="objectives_table">
      <tr>
        <td>Health care reform</td>
        <td>Lifestyle wellness</td>
        <td>HRA &amp; biometrics participation</td>
        <td>Open enrollment</td>
      </tr>
      <tr>
        <td>Retirement readiness</td>
        <td>Financial wellness</td>
        <td>Benefits appreciation</td>
        <td>Employee engagement</td>
      </tr>
      <tr>
        <td>Survey &amp; feedback</td>
        <td>Training, learning &amp; development</td>
        <td>Shift changes</td>
        <td>General announcements</td>
      </tr>
      <tr>
        <td>Emergency messages</td>
        <td>Corporate communications</td>
        <td>Safety</td>
        <td>Onboarding</td>
      </tr>
    </table>
  </div>
</section>

<section id="clients">
 <h2>For any workforce, from high-tech to manufacturing</h2>
 <ul>
  <li id="highmark" class="client"><a href="https://www.highmark.com/" target="_new"><img src="assets/marketing/clients/highmark.png" /></a></li>
  <li id="michelin" class="client"><a href="http://www.michelinman.com/" target="_new"><img src="assets/marketing/clients/michelin.png" /></a></li>
  <li id="yahoo" class="client"><a href="http://www.yahoo.com/" target="_new"><img src="assets/marketing/clients/yahoo.png" /></a></li>
 </ul>
</section>

<section id="platform_features">
  <div id="pros_list">
    <table id="features_table">
      <tr>
        <th><p id="f_simple">Simple to use</p></th>
        <th><p id="f_esafe">Enterprise-safe</p></th>
        <th><p id="f_noit">No IT needed</p></th>
        <th><p id="f_analytics">Analytics</p></th>
      </tr>
      <tr>
        <td>We help employers and consultants to become mobile communicators and game experts</td>
        <td>Social media is 100% controlled &amp; game mechanics are enterprise tested</td>
        <td>H.Engage is cloud-hosted and easy to set-up. We take care of all the technology.</td>
        <td>Track engagement in any communication or behavior and ROI.</td>
      </tr>
    </table>
    <ul id="try_platform_buttons">
      <li id="try_gamesetup"><a href="#!" class="get_started pop-button">Get started</a><p>Try it free for 14 days</p></li>
      <li id="try_demo"><a href="#!" class="request_a_demo pop-button">Request a demo</a></li>
    </ul>
  </div>
  <div id="get_started_form">
    <%= render 'sign_up_form' %>
  </div>
</section>

<!--<section id="platform_details">
  < %= render "pages/stats_slider" %>
</section>-->

<%= render "shared/request_demo" %>
<%= javascript_include_tag 'external/sliders.js' %>
<script>
$(".get_started").click(function(){
  $("#get_started_form").slideToggle();
  $(this).toggleClass('on-button');
});
</script>
