<%= render "pages/slider" %>
<section id="any_objective">
  <h1>One platform, any objective</h1>
  <p>We use our deep domain expertise in each of these subject areas to speak to the market in the terms they easily understand.</p>
  <a href="#!">Set up a time to discuss your priority</a>
  <div id="objectives_table">

  </div>
</section>

<section id="why_now">
  <h1>Why now?</h1>
</section>
<script src="assets/external/slider.js"></script>