<%= render "pages/slider" %>
<section id="any_objective">
  <div>
    <h1>One platform, any objective</h1>
    <p>We use our deep domain expertise in each of these subject areas to speak to the market in the terms they easily understand.</p>
    <a href="#!">Set up a time to discuss your priority</a>
  </div>
  <table id="objectives_table">
    <tr>
      <th><p>Health &amp; benefits</p></th>
      <th><p>Change management</p></th>
      <th><p>Business operations</p></th>
    </tr>
    <tr>
      <td><ul>
        <li>Health care reform</li>
        <li>Lifestyle wellness</li>
        <li>HRA &amp; biometrics participation</li>
        <li>Open enrollment</li>
        <li>Retirement readiness</li>
        <li>Benefits appreciation</li>
      </ul></td>
      <td><ul>
        <li>Behavior &amp; culture</li>
        <li>Mergers &amp; acquisitions</li>
        <li>Employee engagement</li>
        <li>Survey &amp; feedback</li>
      </ul></td>
      <td><ul>
        <li>Training</li>
        <li>Shift changes</li>
        <li>General announcements</li>
        <li>Emergency messages</li>
      </ul></td>
    </tr>
    <tr>
      <th><p>Learning &amp; development</p></th>
      <th><p>Onboarding</p></th>
    </tr>
  </table>
</section>

<section id="clients">
 <h2>For any workforce, from high-tech to manufacturing</h2>
 <ul>
  <li id="fujifilm" class="client"><a href="#!" target="_new">Fujifilm</a></li>
  <li id="highmark" class="client"><a href="#!" target="_new">Highmark</a></li>
  <li id="michelin" class="client"><a href="#!" target="_new">Michelin</a></li>
  <li id="yahoo" class="client"><a href="#!" target="_new">Yahoo!</a></li>
 </ul>
</section>

<section id="platform_features">
  <div>
    <table id="features_table">
      <tr>
        <th><p id="f_simple">Simple to use</p></th>
        <th><p id="f_esafe">Enterprise-safe</p></th>
        <th><p id="f_noit">No IT setup</p></th>
        <th><p id="f_analytics">Analytics</p></th>
      </tr>
      <tr>
        <td>We help employers and consultants to become mobile communicators and game experts</td>
        <td>Social media is 100% controlled &amp; game mechanics are enterprise tested</td>
        <td>H.Engage is cloud-hosted and easy to set-up.</td>
        <td>Measure engagement and ROI. Maecenas sed diam eget risus varius blandit sit amet non magna.</td>
      </tr>
    </table>
    <ul>
      <li><a href="#!" class="get_started pop-button">Get started</a><p>Try it free for 14 days</p></li>
      <li><a href="#!" class="request_a_demo pop-button">Request a demo</a></li>
    </ul>
  </div>
</section>

<section id="platform_details">
  <div id="why_now">
    <h2>Why now?</h2>

    <div id="bridging_tech">
      <!-- <span id="b_smedia" class="t_green">Social media</span>
      <span id="b_gaming" class="t_green">Gaming</span>
      <span id="b_mobile" class="t_green">Mobile</span>
      <span id="b_personal" class="t_green">Personalization</span>
      <span id="b_posters" class="t_gray">Posters</span>
      <span id="b_intranet" class="t_gray">Intranet</span>
      <span id="b_email" class="t_gray">E-mail</span>
      <span id="b_bulletin" class="t_gray">Bulletin board</span>
      <span id="b_ppl" class="t_gray">Managers &amp; HR</span> -->
    </div>
    <div class="tech_type" id="new_tech">
      <h3>New technologies</h3>
      <p>New technologies have captured employees’ attention at home and work.</p>
    </div>
    <div class="tech_type" id="traditional">
      <h3>Traditional</h3>
      <p>Traditional communications aren’t being heard, leading to low engagement and ROI.</p>
    </div>
  </div>

  <%= render "pages/stats_slider" %>

</section>
<script src="assets/external/sliders.js"></script>