<section id="slider" class="contained">
  <div id="s_play" class="slide">
    <form>
      <h1 class="light-headline">Drive engagement in workplace programs using social mobile gaming.</h1>
      <ul class="slider_forms">
        <li><input type="text" placeholder="First and last name" /></li>
        <li><input type="text" placeholder="Email" /></li>
        <li><input type="submit" value="Start a game" /><p>14 day free trial</p></li>
      </ul>
    </form>
  </div>
  <div id="s_message" class="slide slide_hidden">
    <form>
      <h1 class="light-headline">Send personalized messages to groups of employees on any device.</h1>
      <p>We help collect and store personal e-mail and text message numbers, no prior information needed.</p>
      <ul class="slider_forms">
        <li><input type="text" placeholder="First and last name" /></li>
        <li><input type="text" placeholder="Email" /></li>
        <li><input type="submit" value="Start a game" /><p>14 day free trial</p></li>
      </ul>
    </form>
  </div>
  <div id="s_interact" class="slide slide_hidden">
    <form>
      <h1>Make print communications interactive and measurable.</h1>
      <ul class="slider_forms">
        <li><input type="text" placeholder="First and last name" /></li>
        <li><input type="text" placeholder="Email" /></li>
        <li><input type="submit" value="Start a game" /><p>14 day free trial</p></li>
      </ul>
    </form>
  </div>
  <div id="s_measure" class="slide slide_hidden">
    <form>
      <h1>Gather metrics.</h1>
      <p>Real time reporting helps show results.</p>
      <ul class="slider_forms">
        <li><input type="text" placeholder="First and last name" /></li>
        <li><input type="text" placeholder="Email" /></li>
        <li><input type="submit" value="Start a game" /><p>14 day free trial</p></li>
      </ul>
    </form>
  </div>
  <div id="slider_controllers">
    <div id="slide_buttons">
      <a href="#" id="prev_slide">Prev</a>
      <a href="#" id="next_slide">Next</a>
    </div>
    <ul id="slide_name">
      <li class="current_slide" id="sn_play"><a href="#">Play</a></li>
      <li id="sn_message"><a href="#">Message</a></li>
      <li id="sn_interact"><a href="#">Interact</a></li>
      <li id="sn_measure"><a href="#">Measure</a></li>
    </ul>
  </div>
</section>

<section id="why_now">

</section>

<script>$("[placeholder]").textPlaceholder();</script>