<!-- nav & footer should be loaded in -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>H Engage | Help employees <3 HR</title>

    <!-- Meta tags -->
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Don't forget to update the bookmark icons (favicon.ico and apple-touch-icons) -->

    <!-- CSS -->
    <%= stylesheet_link_tag 'external/marketing' %>
    <%= stylesheet_link_tag 'external/home' %>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    
    <!-- JavaScript -->
    <script src="marketing/js/libs/modernizr-2.5.3.min.js"></script>

    <!--[if IE]><![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
    <![endif]-->
    <script src="marketing/js/libs/respond.min.js"></script>
  </head>
  <body id="homepage">
    <header>
      <ul id="mast">
        <li id="logo"><%= image_tag "marketing/logo-2x.png", :class => "logo-head" %></li>
        <li id="signup"><a href="signup.html" class="signup button green-btn gradient">Sign up</a></li>
        <li id="login"><a href="login.html" class="login button orange-btn gradient">Login</a></li>
      </ul>

      <ul id="nav">
        <li id="tour"><a href="reach.html" class="tour">Product tour</a></li>
        <li id="solutions"><a href="solutions.html" class="solutions">Solutions</a></li>
        <li id="blog"><a href="#" target="_new" class="blog">What's new</a></li>
        <li id="contact"><a href="#" class="contact">Contact us</a></li>
        <li id="number"><h2>(617) 555-5555</h2></li>
      </ul>

      <section id="hero">
        <h1>Help employees <span class="heart">&#60;3</span> HR</h1>
        <div class="left">
          <h2>Connect employees to HR with technologies people love</h2>
          <ul>
            <li id="hero-tour"><a href="reach.html" class="tour button orange-btn gradient">Product tour</a></li>
            <li id="hero-contact"><a href="#" class="contact button orange-btn gradient">Contact us</a></li>
          </ul>
          <div class="cf"></div>
          <p>New player? <a href="signup.html" class="signup">Request an invite</a></p>
        </div>
        <div id="video"></div>
        <div class="cf"></div>
      </section>
    </header>

    <section id="points">
      <ul class="tour-nav">
        <li class="reach"><a href="reach.html">Reach hard-to-reach employees</a></li>
        <li class="spark"><a href="spark.html">Spark engagement</a></li>
        <li class="drive"><a href="drive.html">Drive ROI</a></li>
      </ul>
    </section>

    <section id="ecs">
      <h2>Engagement &#38; Communications Systems (ECS)</h2>
      <p>Software platform that helps people value and understand HR Programs. Learns employee media preferences, connects via preferred channels, measures and improves.</p>
      <table border="0">
        <tr>
          <td><img src="#" /> Text messages</td>
          <td><img src="#" />Personal emails</td>
        </tr>
        <tr>
          <td><img src="#" />Social media</td>
          <td><img src="#" />Game mechanics</td>
        </tr>
      </table>
      <a href="reach.html" class="button orange-btn gradient">Learn more about ECS</a>
    </section>

    <section id="quotes">
      <ul class="features">
        <li>401k participation</li>
        <li>Wellness</li>
        <li>Total rewards</li>
        <li>Onboarding</li>
        <li>Communications</li>
        <li>Learning and development</li>
      </ul>
      <div class="employee">
        <!-- maybs add pics on a list? onhover state hide/show? -->
      </div>
      <div class="employee-quote">
        <h2>Quote title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tristique urna eget arcu tempus sed porttitor diam imperdiet. Nulla vehicula hendrerit neque nec luctus. Quisque feugiat, nisl vel sollicitudin congue, ipsum sem consectetur nunc, ac condimentum nunc nulla id nisl. Donec vel nisl massa. </p>
      </div>
    </section>

    <section id="clients">
      <h2>We are <span>the leader</span> in engaging employees using technology</h2>
      <!-- Michelin -->
      <div class="client" id="michelin">
        <img src="#" />
        <ul>
          <li><h2>Reducing waste</h2></li>
          <li><p>"We partnered with H Engage to pilot adding interactive text messaging to our traditional print outreach. Employees responded well and participants' HRA completion rates increased by 26%. We've since integrated their text messaging solution into our annual enrollment process.”</p></li>
          <li><p class="caption"><span>Laura Maillet</span>, Health and Wellness Program Manager, Michelin North America, Inc.</p></li>
        </ul>
      </div>
      <!-- Yahoo! -->
      <div class="client" id="yahoo">
        <img src="#" />
        <ul>
          <li><h2>Educating employees</h2></li>
          <li><p>“Over 60% of our employees who participated actually said that their awareness and their appreciation of our benefit plans had increased.”</p></li>
          <li><p class="caption"><span>Bernie Knobbe</span>, Senior Director for Global Benefits, Yahoo!</p></li>
        </ul>
      </div>
      <!-- FujiFilm -->
      <div class="client" id="fuji">
        <img src="#" />
        <ul>
          <li><h2>Bridging the gaps</h2></li>
          <li><p>At FUJIFILM, we engaged a wide variety of workers in wellness – from factories to offices and even the remote sales team.</p></li>
        </ul>
      </div>
      <!-- Highmark BGBS -->
      <div class="client" id="highmark">
        <img src="#" />
        <ul>
          <li><h2>Leveraging social influence</h2></li>
          <li><p>The wellness campaign run through Highmark, an independent licensee of the Blue Cross and Blue Shield Association, owed much of its success to being spread virally through peer to peer influence. 82% of players were signed up by a fellow employee.</p></li>
        </ul>
      </div>

      <a href="reach.html" class="tour button green-btn gradient">See how we can help you</a>
    </section>

    <footer>
      <%= image_tag "marketing/logo-f-2x.png", :class => "logo-foot" %>
      <ul id="footer-nav">
        <li><a href="about.html" class="about">About us</a></li>
        <li><a href="#" class="contact">Contact us</a></li>
        <li><a href="security.html" class="security">Security</a></li>
        <li><a href="reach.html" class="tour">Product tour</a></li>
        <li><a href="solutions.html" class="solutions">Solutions</a></li>
        <li><a href="login.html" class="login">Player login</a></li>
      </ul>
      <ul id="footer-social">
        <li><a href="#">RSS</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
      <h2>(617) 555-5555</h2>
      <small>Copyright &#169; 2012 H Engage, Inc.</small>
    </footer>
  </body>
</html>








