<%= content_for :jump_buttons do %>
  <div id="jump-buttons">
    <%= link_to image_tag('new_marketing/btn_how_it_works.png', :alt => 'Go to: How It Works'), '#how-it-works' %>
    <%= link_to image_tag('new_marketing/btn_about_us.png', :alt => 'Go to: About Us'), '#about_us' %>
    <%= link_to image_tag('new_marketing/btn_blog.png', :alt => 'Go to: Blog'), '#blog' %>
  </div>
<% end %>

<div id="slideshow">
  <div id="engagement-header">engage employees<br/> in your wellness programs</div>
  <div id="engagement-subheader">with the technology<br/> they love to use</div>
  <div id="tech-they-love">
    <span id="social-media">social media</span>
    <span id="games">games</span>
    <span id="mobile-phones">mobile phones</span>
  </div>
  <div id="factoid">
    <span id="lead">70.5%</span> of Internet users are on Facebook.
  </div>
  </div>
</div>
