<div id="about-wrapper">
  <h2>Our team</h2>

  <h3>Vlad Gyster</h3>

  <p>Vlad is the CEO and founder of H Engage. He was previously a health and wellness consultant at Towers Perrin (later, Towers Watson). He created and led a health care technology initiative to assess potential market opportunities for Towers Watson. His clients were Fortune 1000 companies.</p>

  <h3>Phil Darnowsky</h3>

  <p>Phil is the lead developer and technical genius behind H Engage. He is a startup veteran and has also worked in the health care industry at Children's Hospital. He's a vegetarian and studies math in his free time (really).</p>
</div>
