<div id="about-wrapper">
  <%= t('.our-story', :default => <<END_OUR_STORY_BLURB
<h2>Our Story</h2>

<p>For the past five years Vlad Gyster, H Engage’s Founder and CEO, has consulted for Fortune 1000 companies. He has seen employers invest billions of dollars per year in wellness programs intended to encourage employees to adopt healthier behaviors. The problem? The money is being wasted because employees don’t use them.</p>

<p>Typical wellness programs simply aren’t engaging.  They depend on outdated communication mediums such as telephone coaching, newsletters, and static web portals. Indeed, in a recent survey conducted by Towers Watson, large employers overwhelmingly identified “lack of engagement” as the single largest obstacle to changing employee health behaviors.</p>

<p>In his five years as a Towers Watson Consultant, Vlad co-founded the social media practice and specialized in working with Fortune 1000 companies on emerging technologies, product development, media segmentation, and health care strategies. Clients were incredibly enthusiastic about trying ways to appeal to employees using consumer grade tools, but Vlad couldn’t find vendors that had enterprise grade solutions.  It was that lack of innovation by vendors that drove Vlad to start a company that would make the solutions he and his clients wanted.</p>

<p>H Engage is the easiest way to transform any employer wellness communications program into an engaging mobile social game. Employees play by text messaging commands and receiving immediate rewards. The commands are structured to reward people for engaging in communications programs, wellness programs and performing healthy lifestyle actions, like eating fruit or going to the gym. The game is based on the principles of behavior economics, game mechanics, and social networking science.</p>

<p>To create an environment of positive peer influence, game activity is posted to a private social networking site where community-wide momentum for healthy actions is clearly visible, and wellness messages are viral. An analytics dashboard, unprecedented in wellness, enables employers to track the value and effectiveness of their initiative in real time.</p>
END_OUR_STORY_BLURB
)%>
</div>
