<section id="simple_fair_pricing" class="first_section">
	<div class="row">
		<div class="large-12 large-centered columns calculator">
			<h1>Simple &amp; Fair Pricing</h1>
			<h2>All plans come with a 30-day money back guarantee.</h2>
			
			<div class="price_customizer">
				<h4 class="price_customizer_header">Look up your price</h4>
				<div class="employees">
					<span>Number of employees:</span>
					<input type="text" placeholder="#" class="num_of_users" name="num_of_users"/>
				</div>
				<div class="billing_plans">
					<span>Billing:</span>
					<ul>
						<li class="annual_plan selected">Annual</li>
						<li class="monthly_plan">Monthly</li>
					</ul>
				</div>
				<p class="callout">Save 25% with the Annual plan (paid up front) or the equivalent of three months free!</p>
			</div>


			
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns offerings">
			<ul class="feature_labels">
				<li class="tiles_per_month">Tiles per month</li>
				<li class="cost_per_extra">Cost per extra tile</li>
				<li class="num_of_admins">Administrators</li>
				<li class="user_upload">User upload</li>
				<li class="prize_audiences">Prize audiences</li>
				<li class="more_features">Additional features</li>
			</ul>
			<ul class="an_offering basic_plan">
				<li class="plan_title"><h3>Basic</h3></li>
				<li class="plan_description">Budget-friendly entry point for light communications.</li>
				<li class="plan_cost">
					<!-- <ul>
						<li class="month_cost">$100<span>/mo.</span></li>
						<li class="year_cost">$1,200<span> for a year</span></li>
					</ul> -->
					<a href="#!" class="check_price_button">Set your price</a>
				</li>
				<li class="tiles_per_month plan_details">
					<span class="label">Tiles per month</span>
					10
				</li>
				<li class="cost_per_extra plan_details">
					<span class="label">Cost per extra tile</span>
					10% of monthly fee
				</li>
				<li class="num_of_admins plan_details">
					<span class="label">Administrators</span>
					1
				</li>
				<li class="user_upload plan_details">
					<span class="label">User upload</span>
					No
				</li>
				<li class="prize_audiences plan_details">
					<span class="label">Prize audiences</span>
					1
				</li>
				<li class="additional_features plan_details"></li>
			</ul>
			<ul class="an_offering business_plan">
				<li class="plan_title"><h3>Business</h3></li>
				<li class="plan_description">Perfect mix of capabilities for most companies.</li>
				<li class="plan_cost">
					<a href="#!" class="check_price_button">Set your price</a>
					<!--<ul>-->
						<!--<li class="month_cost">$200<span>/mo.</span></li>-->
						<!--<li class="year_cost">$2,400<span> for a year</span></li>-->
					<!--</ul>-->
				</li>
				<li class="tiles_per_month plan_details">
					<span class="label">Tiles per month</span>
					Unlimited
				</li>
				<li class="cost_per_extra plan_details">
					<span class="label">Cost per extra tile</span>
					None
				</li>
				<li class="num_of_admins plan_details">
					<span class="label">Administrators</span>
					5
				</li>
				<li class="user_upload plan_details">
					<span class="label">User upload</span>
					Yes
				</li>
				<li class="prize_audiences plan_details">
					<span class="label">Prize audiences</span>
					5
				</li>
				<li class="additional_features plan_details"></li>
			</ul>
			<ul class="an_offering enterprise_plan">
				<li class="plan_title"><h3>Enterprise</h3></li>
				<li class="plan_description">Advanced platform for complex environments.</li>
				<li class="plan_cost">
					<a href="#!" class="check_price_button">Set your price</a>
					<!--<ul>-->
						<!--<li class="month_cost">$500<span>/mo.</span></li>-->
						<!--<li class="year_cost">$6,000<span> for a year</span></li>-->
					<!--</ul>-->
				</li>
				<li class="tiles_per_month plan_details">
					<span class="label">Tiles per month</span>
					Unlimited
				</li>
				<li class="cost_per_extra plan_details">
					<span class="label">Cost per extra tile</span>
					None
				</li>
				<li class="num_of_admins plan_details">
					<span class="label">Administrators</span>
					Unlimited
				</li>
				<li class="user_upload plan_details">
					<span class="label">User upload</span>
					Yes
				</li>
				<li class="prize_audiences plan_details">
					<span class="label">Prize audiences</span>
					Unlimited
				</li>
				<li class="additional_features plan_details">
					<span class="label">Additional features</span>
					<span class="advanced_reporting">Advanced reporting</span>
					<span class="multiple_boards">Multiple boards</span>
					<span class="push_messaging">Push messaging</span>
				</li>
			</ul>
		</div> <!-- end to Offerings -->
	</div>


	<div class="details">
		<span>Monthly plan available for credit card and direct deposit customers only</span>
		<h2>Next, you have two options:</h2>
		<%= render "pages/next_steps" %>
	</div>

</section>



<section id="pricing_faq">
	<div class="row">
		<div class="large-12 columns">
			<h2>Frequently Asked Questions</h2>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="pricing_question large-11">
				<p><span>Is there a minimum commitment?</span></p>
				<p>No.</p>
			</div>
			<div class="pricing_question large-11">
				<p><span>How long does it take to set up a Board?</span></p>
				<p>Initial set-up takes minutes. The rest depends on your company. The main time drivers: First, if you’re going to upload users in advance (vs. Self Sign-Up) you’ll want to budget time to generate the eligibility file, then a day or two for us to upload it. Second, you’ll want to tell your IT department not to block emails from Airbo.</p>
			</div>
			<div class="pricing_question large-11">
				<p><span>Do I need anything from IT?</span></p>
				<p>Just one thing. You’ll want to tell your IT department not to block emails from Airbo. We provide exact language of what to tell them, and it only takes them a few minutes to actually do it.</p>
			</div>
			<div class="pricing_question large-11">
				<p><span>Can I just sign-up for a few months if I’m running a campaign?</span></p>
				<p>Yes. Just give yourself time to execute. You will not have access to reporting or any other Administrative capabilities once you turn Airbo off. Most customers that do a campaign find that adding a month before the start date (when they want Users to start interacting) and a month after the end date leaves a comfortable margin to work with.</p>
			</div>
			<div class="pricing_question large-11">
				<p><span>Can I start with a monthly plan and then upgrade to an annual plan?</span></p>
				<p>Yes, at any point as long as you’re a paying customer OR within 60 days of the end of your plan. For example, let’s say you sign up for three months. At the end of the three months, access is turned off for Users and Administrators. From that point, we will wait 60 days before deleting your data from our system.</p>
			</div>
			<div class="pricing_question large-11">
				<p><span>Will you keep my data for longer than 60 days without an active plan?</span></p>
				<p>No. This gives customers some time to make a decision, and gives us some boundaries for when to delete data so we don’t store it indefinitely. The data takes a lot of work to protect and it quickly becomes outdated.</p>
			</div>
		</div>

		<div class="large-6 columns">
			<div class="pricing_question large-11 push-1">
				<p><span>Is all software included?</span></p>
				<p>Yes. Besides the plans listed here, we don’t have any “modules” to upgrade. If we add a new feature, we’ll decide what plan it’s included in, and any customers in that plan automatically get that feature. You’ll receive an email notification with an explanation of how to use new features.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>Am I on my own once you set-up the system?</span></p>
				<p>No. We’re always here to answer any questions. We don’t sell client services, but we’re always keeping in touch and helping our customers.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>I work with a consultant. How does Airbo integrate?</span></p>
				<p>Consultants become Administrators in Airbo. Typically, consultants will create tiles, have their client review them, and then activate them in the system.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>Are there any extra costs I could incur?</span></p>
				<p>Unlikely. Depending on the plan, we provide up to 10 hours of support setting up your Board in the first month. There are very few cases where that’s not enough.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>Does employee support cost extra?</span></p>
				<p>No. Our Client Experience Consultants are here to assist your employees if they have any technical difficulties. Support is open 9 AM to 7 PM ET.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>Are there any discounts?</span></p>
				<p>Yes. If you sign up for an Annual plan you’ll get a discounted rate equivalent to three months free.</p>
			</div>
			<div class="pricing_question large-11 push-1">
				<p><span>What if I change my mind?</span></p>
				<p>If you want to discontinue your use of Airbo for any reason within the first 30 days of signing-up, we will refund your money in full, no questions asked.</p>
			</div>
		</div>
		<div class="details columns large-12">
			<p>More questions?</p>
			<a href="#!" class="request_a_demo pop-button" data-request-demo-full="true" data-request-demo-source="pricing more_questions">Contact us</a>
		</div>
</section>

<%= gzip_javascript_include_tag "external/pricing_calculator" %>
<%= javascript_tag do %>
  bindUpdatePlanCosts('.num_of_users', 'keyup');
  bindBillingCycleSelection('.annual_plan');
  bindBillingCycleSelection('.monthly_plan');
  bindSetPriceButton();
<% end %>

<%= mp_track_page 'Pricing, marketing' %>
