.row
  %h1 H.Engage, Inc. Privacy Policy

  %h2 Introduction
  %p
    Your privacy is of the utmost importance to Airbo by H.Engage. Our basic principles are:
    %ul
      %li We respect your privacy.
      %li You control your personal information.
      %li We limit our collection of personal information to that needed to provide and improve our services to you.
      %li We do not disclose your personal information except as described in this Privacy Policy, which may be amended from time to time.
      %li You as the user and we as H.Engage have entered a voluntary relationship in which we provide services and information to you. The data you disclose to us makes it possible to deliver the wellness services we provide.
    H.Engage's services may contain links to other web sites outside the Site, including on the sponsor’s website. We are not responsible for the privacy policies and/or practices of other sites. When linking to another site a user should read the privacy policy stated on that site. This privacy policy only governs information collected on http://airbo.com (the “H.Engage Site”) and its related sponsor-specific privacy-protected sites (the “Employer Site” and, together with the H.Engage Site, the “Site”).

  %h2 What Information is Gathered
  %p When you use our services you provide us with two types of information: personal information you knowingly choose to disclose and information we collect as you interact with our services.
  %p H.Engage will not sell, share, or rent your personal information to others in ways different from what is disclosed in this Privacy Policy. While we may use this information to improve the services we offer you, we promise not to pass on personally identifiable information to third parties, except as stated herein or if you specifically give us permission to do so.
  %h2 Personal Information
  %p In order to use our services and participate in Airbo by H.Engage, you create an account and provide contact and identity information and other personal information as indicated on the registration form, including your preferred screen name, email address, photo, gender, and date of birth. We may ask for additional information (such as your height and weight) in order to better serve you and customize your experience. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service or feature. Your failure or unwillingness to provide certain information may mean that a service or feature will not be available to you. 
  %p Your preferred screen name and photo and most other information you submit at the time of registration and thereafter on the Site regarding your participation in our services will be publicly available within the Employer Site.  Some information, like gender, is made private by default.
  %p You can always change your personal information by going to your account and making any edits you choose in your account profile.  You can also request that we fix any errors, update information, or delete your information entirely. You can also opt out of any services that may be offered from time to time.  Please understand that there may be a brief lag time between your request and our ability to make the changes and/or deletions requested. We may contact you to make sure that you are, in fact, the one making the request, for your own protection.  We reserve the right to restrict and/or terminate your account with us once your information is deleted.
  %p We may use the information you submit under your account or combine it with information provided by other users of our services in order to provide you with a better experience and to improve the quality of our services. For certain services, we may give you the opportunity to opt out of including your information.
  %p As a result of our services, your activity while using our applications will be kept in our databases.

  %h2 Browser and Other Information We May Collect
  %p In addition to the information you choose to provide to us, Airbo by H.Engage also collects and stores certain technical and other information about the online activities of our users—whether or not they are registered—on an aggregated (or collective) basis. This may include your IP address, browser type, and operating system. We track the number of people who view each page, and other site usage data, in order to learn which features are the most popular and thereby improve our service. We also record statistical information collected on the Site to better understand our audience. This information is recorded as anonymous group statistical information and is not connected to any personal information that you provide as a member.

  %h2 Member Emails and Text Messages
  %p From time to time we may provide you with periodic emails and text messages to let you know about improvements in our services, additional activities you may be interested in tracking, and changes to our terms of use or privacy policies. Airbo by H.Engage may use URL tracking in the emails sent to you. When you open such email messages, our system may record the following data: the time you viewed the email and the URLs that you clicked on from that email. H.Engage will also record if your email program is capable of receiving HTML-encoded email. URL tracking may use cookies. You may always opt out of receiving Airbo by H.Engage emails and/or text messages.

  %h2 Newsfeed and Blog Usage
  %p Airbo by H.Engage maintains a newsfeed as one of its features.  Any comments you post on the newsfeed will be available for viewing on the Employer Site by all users.  We do not monitor usage, nor are we responsible for any personally identifying information that a user may post in our newsfeed or in blog responses on our blogs.  Users should take care in any public postings, and understand that anything posted by them may potentially be used by others on the Employee Site and therefore elsewhere. 

  %h2 International Visitors
  %p Like almost every Web site, Airbo by H.Engage may be accessed by an international audience. By visiting our Web site and providing us with data, you acknowledge and agree that your personal information may be processed for the purposes identified in this policy. In addition, such data may be stored on servers located outside your resident jurisdiction, which may have more or less stringent privacy practices than your own. By providing us with your data, you consent to the transfer of such data.

  %h2 How Information is Used
  %p We understand that you value your personally identifiable information. We generally use your personal information to render you services and to improve our services.
  %p We may use your personal and registration information, as well as the pages you visit on the Site and the activities you engage in, to: improve our services; troubleshoot problems; measure how our services are working generally and for you in particular; inform you about services and updates; customize your experience; suggest goals for you; protect us against error, fraud and other criminal activity; enforce our Terms of Service; and as otherwise described to you at the time of collection and in this policy. At times, we may look across multiple users to identify problems, and in particular we may examine your personal information to identify users using multiple User IDs or aliases.

  %h2 Third Party Sharing to Render Services to You
  %p Although we do not currently contemplate doing so, in the future we may use third parties to help us perform services, like transmitting emails in response to your requests, or other service-related functions. If these third parties require access to your personally identifiable information in order to provide their services, they will be obligated to abide by this privacy policy when handling your information. We require third party service providers to limit their use of your personal information to rendering services for us and you consistent with this policy.

  %h2 Disclosure of Personal Information
  %p Our business is about building a long-term relationship with you. To build that trust, we know that as you spend time on our site, your personal information must remain within your control. Be assured that your personally identifiable information, such as your name, address, and email address is not sold to others.
  %p There are some situations where we may need to disclose information to organizations or entities not described in our policy here. Airbo by H.Engage may be required to disclose your personal information: (i) if we believe it is reasonably necessary to comply with legal process (such as a court order, subpoena, search warrant, etc.) or other legal requirements of any governmental authority; (ii) would potentially mitigate our liability in an actual or potential lawsuit; (iii) is otherwise necessary to protect our rights or property, or that of others; or (iv) is necessary to protect the interest of other users of the Site.
  %p We may share with third parties certain pieces of aggregated, non-identifiable information, such as the number of users who clicked on a particular activity, or other similar type information. This information will not be linked to any personal information that can identify any individual person.

  %h2 Merger or Sale of Airbo by H.Engage
  %p We may also transfer the information in our possession in connection with a sale of assets of the company, a sale of the company or a merger.  If that happens, we will provide notice before personal information is transferred and becomes subject to a different privacy policy.

  %h2 Respecting Others' Privacy
  %p By agreeing to our Terms of Service, you agree that, with respect to other users' personal information that you obtain through the Site or through a Airbo by H.Engage-related communication or Airbo by H.Engage-facilitated transaction, Airbo by H.Engage hereby grants to you a license to use such information only for: (a) Airbo by H.Engage-related personal communications that are not unsolicited commercial messages, (b) using services offered through H.Engage, and (c) any other purpose that a user expressly agrees to after you tell them the purpose you would like to use it for. In all cases, you must give users an opportunity to remove themselves from your systems and a chance to review what information you have collected about them. In addition, under no circumstances, except as defined in this paragraph, can you disclose personal information about another user to any third party without our consent and the consent of that user. You agree that other users may use your personal information to communicate with you in accordance with this paragraph.
  %p Airbo by H.Engage and our members do not tolerate spam. Therefore, without limiting the foregoing, you are not licensed to add an Airbo by H.Engage member or user to your mailing list (email or physical mail) without that member’s express consent. To report Airbo by H.Engage-related spam to us, please contact us at legal@airbo.com

  %h2 Security of Information
  %p Your information is stored on servers located in the United States. We use procedural and technical safeguards to protect your personal information against loss or theft as well as unauthorized access and disclosure to protect your privacy. Among other things, we use encryption in our storage of your information on the computer servers we use, and limit access to information to those of our employees and contractors who need to know it. Each of them is party to a confidentiality agreement limiting their ability to disclose any such information.
  %p That being said, "perfect security" does not exist on the Internet. Unfortunately, no data transmission over the Internet can be guaranteed to be absolutely secure. As a result, while we strive to protect your personal information, Airbo by H.Engage cannot 100% guarantee the security of any information you transmit to us or from our online products or services. Once we receive your transmission, we make all commercially reasonable efforts to ensure the security of your information on our systems.
  %p 
    If Airbo by H.Engage learns of a security systems breach we may attempt to notify you electronically so that you can take appropriate protective steps. By using our Site or providing personal information to us you agree that we can communicate with you electronically regarding security, privacy and administrative issues relating to your use of this site. Airbo by H.Engage may post a notice on our web site if a security breach occurs. If this happens, you will need a web browser enabling you to view the Site. Airbo by H.Engage may also send an email to you at the email address you have provided to us in these circumstances. Depending on where you live, you may have a legal right to receive notice of a security breach in writing. To receive free written notice of a security breach (or to withdraw your consent from receiving electronic notice) you should notify us at 
    %a(href="mailto:legal@airbo.com") legal@airbo.com.

  %h2 Cookies and Personalization
  %p As is standard website practice, our services use “cookies.” Cookies are small packets of information we place on your hard drive for tracking purposes – essentially a code number that we use to recognize you when you come back to a website. Only the information you volunteer, however, or the choices you make while visiting the website, can be stored in a cookie. A cookie cannot determine your email address, for example, unless you type it in. Most browsers are initially set up to accept cookies, but you can reset your browser to refuse all cookies or to indicate when a cookie is being sent. However, some of our services may not function properly if your cookies are disabled.
  %p You agree that we may use your personal information to contact you and deliver information to you that, in some cases, are targeted to your interests, such as administrative notices and communications relevant to your use of the Site. By accepting the Terms of Service and Privacy Policy, you expressly agree to receive this information.

  %h2 Children
  %p We at Airbo by H.Engage believe it essential that parents are involved in their children's online experiences. That is why, in compliance with federal law, we do not knowingly collect personal information of any kind from anyone under the age of 13. If we become aware of a user under the age of 13 providing information on our site, we will terminate their account and purge our databases of all information provided by that user.  

  %h2 Access to and Changing Information
  %p Once you become a member of Airbo by H.Engage, your personal information is stored in the Site. You may access or change your information at any time.

  %h2 Notice of Modifications
  %p In the future, H.Engage may update and revise its privacy policy. We will always post the date of our latest modification at the end of this privacy policy. In addition, we will provide conspicuous notice on our website if we decide to change our privacy policy in a way that would be materially less restrictive than this policy. At that time, you will have the opportunity to decide whether or not you would like H.Engage to apply the new privacy policy to your personal information or to opt out of the new policy. If you continue to use the Site, you will be accepting the new policies. If you decide to opt out of the new policy, you will no longer be able to participate as a user. The effective date of this policy is August 1, 2011. We encourage you to check this privacy policy and our terms of service periodically for changes.
  %p Your continued use of the Site constitutes your acceptance of our privacy policy, as it may be amended from time to time.
  %p Ultimately, you are solely responsible for maintaining the secrecy of your passwords and/or any account information. Please be careful and responsible whenever you're online. The few employees who have access to personal data are trained to comply with the above privacy policy and made aware of any updates or modifications.

  %h2 Questions?
  %p 
    If you have any questions about this privacy policy still unanswered after reviewing this policy, please do not hesitate to contact us. You can e-mail us at 
    %a(href="legal@airbo.com") legal@airbo.com. 
    Or you may mail us at the following address:

  %p 
    H.Engage, Inc.
    %br
    292 Newbury St.
    %br
    Suite 547
    %br
    Boston, MA 02115
    %br
    Attn:  Legal


  %br
  %p
    Effective: August 1, 2011
    %br
    Last modified: January 21, 2014
