<body id="pt-reach" class="pt">
    <header>
        <%= render 'september_header' %>
        <%= render 'september_PTheader' %>
    </header>

    <section id="section-head" class="s960">
        <div class="numbering">
            <h1>1</h1>
            <div class="arrow"></div>
        </div>
        <ul>
            <li><h1>Reach hard-to-reach employees</h1></li>
            <li><h3>Find the best path to each person.</h3></li>
        </ul>
    </section>

    <section class="s960" id="mobile">
        <div class="text left">
            <ul id="mobilefirst">
                <li><h2>Mobile first</h2></li>
                <li><p><a class="bodylink" href="http://pewinternet.org/Reports/2012/Cell-Internet-Use-2012/Key-Findings.aspx" target="_new">88% of people</a> have a personal mobile phone. We help connect to employees – even those that don’t have reliable access to computers – by making it easy to participate from any personal device.</p></li>
            </ul>
            <ul id="leverage">
                <li><h2>Leverage employee advocates</h2></li>
                <li><p>A combination of game and social triggers is used to recruit employees to advocate and sign-up colleagues that have tuned out from HR communications. Up to 80% join H Engage because a peer recruited them.</p></li>
            </ul>
        </div>
        <div class="image right">
            <img src="assets/marketing/wide-phone.png" />
        </div>
    </section>

    <section class="s960" id="identify">
        <div class="image left">
            <img src="assets/marketing/pie-and-chart.png" />
        </div>
        <div class="text right">
            <ul>
                <li><h2>Identify the best way to engage</h2></li>
                <li><p>Everyone is different. Our ECS continually identifies the best way to capture attention and drive action. These insights help clients optimize their communications and drive results.</p></li>
            </ul>
            <ul class="pt-buttons">
                <li><a href="#contact-form" class="button contact green-btn gradient"><span></span> Get in touch</a></li>
                <li><a href="spark.html" class="button tour orange-btn gradient"><span></span> Spark engagement</a></li>
            </ul>
        </div>
    </section>

    <%= render 'september_footer' %>
</body>