<body id="solutions">
    <header>
        <%= render 'september_header' %>
    </header>

    <section id="solutions-menu">
        <div class="s960">
            <ul class="a-solution" id="lvl1">
                <li><p class="caption">Level 1:</p></li>
                <li><a href="#" class="solution-name selected" id="message">Message</a></li>
                <li><p>Send text messages and personal emails</p></li>
            </ul>
            <ul class="a-solution" id="lvl2">
                <li><p class="caption">Level 2:</p></li>
                <li><a href="#" class="solution-name" id="post">Post</a></li>
                <li><p>Promote ongoing <br/>engagement</p></li>
            </ul>
            <ul class="a-solution" id="lvl3">
                <li><p class="caption">Level 3:</p></li>
                <li><a href="#" class="solution-name" id="play">Play</a></li>
                <li><p>Improve campaigns with <br/>game mechanics</p></li>
            </ul>
            <div class="cf"></div>
        </div>
    </section>

    <section class="s960" id="offerings">
        <!-- Message -->
        <div class="wrap" id="message-feats">
            <h2>Cut through the noise and reach employees how they prefer to be reached with our communications hub.</h2>
            <ul>
                <li>Send targeted messages to specific employee segments with preferred mediums</li>
                <li>Collect the best contact information for each person: personal emails, mobile phone, and more</li>
                <li>Peer-to-peer sign-up mechanisms</li>
                <li>Dedicated SMS phone number</li>
                <li>Pulse SMS polling</li>
                <li>Communications planning consultation</li>
                <li>WOW Customer Service</li>
            </ul>
            <div class="cf"></div>
        </div>

        <!-- Post -->
        <div class="wrap" id="post-feats">
            <h2>Build ongoing engagement with HR using our social bulletin board. Social sharing and visualized communications that bridge the online and offline worlds.</h2>
            <ul>
                <li>Post Message content to smartphone web app and online interface</li>
                <li>Dialogue – a responsive, natural language interface that feels like a conversation with HR</li>
                <li>Reward consistent engagement, answering questions, and sharing </li>
                <li>Embed mobile interactivity in any print and online communications</li>
                <li>Reports on engagement, reading, and comprehension</li>
                <li>Route inquiries directly to vendors contacts to reduce costs</li>
                <li>All Message features</li>
                <li>WOW Customer Service</li>
                <li>Peer-to-peer sharing mechanisms <ul>
                    <li>Leverage HR champions and advocates</li>
                    <li>SMS, email, smartphone web app, and internet accessibility</li>
                </ul></li>
            </ul>
            <div class="cf"></div>
        </div>

        <!-- Play -->
        <div class="wrap" id="play-feats">
            <h2>Employee engagement data brought to life. Optimize communications and strategies to maximize investment and measure ROI with an engagement record.</h2>
            <ul>
                <li>Scavenger-hunt like game experience</li>
                <li>Employees connect, compete and progress through levels to earn prizes</li>
                <li>Fun and addictive learning and engagement</li>
                <li>Map desired employee behaviors</li>
                <li>Game design to encourage actions</li>
                <li>Detailed reports on engagement</li>
                <li>Custom configuration of our platform</li>
                <li>Strategic guidance </li>
                <li>All Message and Post features</li>
                <li>Measure
                <li>WOW Customer service</li>
            </ul>

            <h3>Existing game modules:</h3>
            <ul>
                <li>Wellness</li>
                <li>Annual enrollment</li>
                <li>Total rewards</li>
                <li>HRA / Biometrics</li>
                <li>Onboarding</li>
                <li>Retirement</li>
                <li>Learning and development</li>
            </ul>
            <div class="cf"></div>
        </div>
    </section>

    <section class="s960" id="measure">
        <h2>Measure it</h2>
        <!-- Message -->
        <ul id="message-measure">
            <li>Combine data from multiple vendors for visibility into true employee engagement (HRIS, program vendors)</li>
            <li>Improve strategy and content with actionable data</li>
            <li>Assess communications ROI</li>
        </ul>

        <!-- Play -->
        <ul id="play-measure">
            <li>Pinpoint engagement rates by population</li>
            <li>Track impact of messages on key engagement metrics</li>
            <li>Measure progress over time</li>
        </ul>

        <!-- Post -->
        <ul id="post-measure">
            <li>Participation % by age group, gender, salary bands, location, other employee characteristics</li>
            <li>Benchmark against our database of private and publicly available data</li>
            <li>Find and leverage HR advocates</li>
            <li>Track campaign effectiveness</li>
            <li>PowerPoint formatted reports for convenient sharing</li>
        </ul>
        <div class="cf">
            <a href="#" class="contact button orange-btn gradient"><span></span> Get in touch</a>
        </div>
    </section>

    <%= render 'september_footer' %>
</body>