<body id="solutions">
    <header>
        <%= render 'september_header' %>
    </header>

    <section id="solutions-menu">
        <div class="s960">
            <ul class="a-solution" id="message">
                <li><p class="caption">Level 1:</p></li>
                <li><a class="solution-name selected">Message</a></li>
                <li><p>Send text messages and personal emails</p></li>
            </ul>
            <ul class="a-solution" id="post">
                <li><p class="caption">Level 2:</p></li>
                <li><a class="solution-name">Post</a></li>
                <li><p>Promote ongoing <br/>engagement</p></li>
            </ul>
            <ul class="a-solution" id="play">
                <li><p class="caption">Level 3:</p></li>
                <li><a class="solution-name">Play</a></li>
                <li><p>Improve campaigns with <br/>game mechanics</p></li>
            </ul>
            <div class="cf"></div>
        </div>
    </section>

    <!-- /////////////// MESSAGE /////////////// -->
    <section class="s960 offering-section" id="message-section">
        <div class="wrap" id="message-feats">
            <h3>Level 1: Message</h3>
            <h2>Send messages to employees in their preferred communication channels</h2>
            <ul>
                <li>Collect the best contact information for each person: personal emails, mobile phone, and more
                <li>Peer-to-peer sign-up mechanisms drive participation
                <li>Send personalized messages to specific segments of employees and dependents using text, personal and work email 
                <li>Segment communications based on program participation, location or any other employee and dependent characteristic
            </ul>
            <ul>
                <li>Measure connections between messages and employee actions like participation in HR programs 
                <li>Use SMS based polling to assess changes and collect feedback 
                <li>Create ongoing Engagement Record for each employee and dependent combining data from multiple vendors for visibility into true employee engagement
            </ul>
            <div class="cf"></div>
        </div>

        <div class="s960 buttons">
            <a href="#contact-form" class="contact button green-btn gradient"><span></span> Get in touch</a>
            <a href="#" class="tour button orange-btn gradient" id="next-post"><span></span> Next: Post</a>
        </div>
    </section>

    <!-- /////////////// POST /////////////// -->
    <section class="s960 offering-section" id="post-section">
        <div class="wrap" id="post-feats">
            <h3>Level 2: Post</h3>
            <h2>Build sustained engagement</h2>
            <ul>
                <li>Post content throughout the year like a bulletin board</li>
                <li>Drive engagement in behaviors like safety training, volunteering or taking a Health Risk Assessment</li>
                <li>Reward consistent engagement, question answering and social sharing</li>
                <li>Drive attention with peer-to-peer sharing mechanisms</li>
                <li>Enhance any traditional print or online communication – making it interactive and mobile enabled</li>
            </ul><ul>
                <li>Receive reports on content engagement and effectiveness</li>
                <li>Identify influential employee advocates</li>
                <li>Drive participation by age group, gender, salary bands, location, other employee characteristics</li>
                <li>All "Message" features included</li>
                <li>Engagement Record Automatically updated</li>
            </ul>
            <div class="cf"></div>
        </div>
        <div class="s960 buttons">
            <a href="#contact-form" class="contact button green-btn gradient"><span></span> Get in touch</a>
            <a href="#" class="tour button orange-btn gradient" id="next-play"><span></span> Next: Play</a>
        </div>
    </section>

    <!-- /////////////// PLAY /////////////// -->
    <section class="s960 offering-section" id="play-section">
        <div class="wrap" id="play-feats">
            <h3>Level 3: Play</h3>
            <h2>Spark engagement and behavior change</h2>
            <ul>
                <li>We map desired employee behaviors and design a game-like experience to encourage actions</li>
                <li>Employees and dependents progress through levels to earn prizes, compete and socialize</li>
            </ul>
            <ul>
                <li>All "Message" and "Post" features included </li>
            </ul>
            <div class="cf"></div>
        </div>

        <div class="s960 buttons">
            <a href="#contact-form" class="contact button orange-btn gradient"><span></span> Get in touch</a>
        </div>
    </section>        
    <%= render 'september_footer' %>
</body>