<body id="pt-spark" class="pt">
    <header>
        <%= render 'september_header' %>
        <%= render 'september_PTheader' %>
    </header>

    <section id="section-head" class="s960">
        <div class="numbering">
            <h1>2</h1>
            <div class="arrow"></div>
        </div>
        <ul>
            <li><h1>Spark Engagement</h1></li>
            <li><h3>Generate excitement and motivate action.</h3></li>
        </ul>
    </section>

    <section class="s960" id="delivercomms">
        <div class="text left">
            <ul>
                <li><h2>Deliver relevant communications</h2></li>
                <li><p>People are inundated with information, making it difficult to know what needs their attention. Send messages only to the people that need to hear them in a medium they’ll pay attention to. </p></li>
            </ul>
        </div>
        <div class="image right">
            <img src="assets/marketing/deliver-comms.png" />
        </div>
    </section>

    <section class="s960" id="makecomms">
        <div class="text right">
            <ul>
                <li><h2>Make any print or online communication interactive and fun</h2></li>
                <li><p>Maximize your investments in traditional channels like posters, newsletters and intranets. Embed <a class="callout" id="dialogue">Dialogue</a> into print pieces and online mediums so employees can engage with content in the moment. Increase retention and gather valuable feedback to improve future messaging.</p></li>
            </ul>
        </div>
        <div class="image left">
            <img src="assets/marketing/posters.png" />
        </div>
    </section>

    <section class="s960" id="perpeng">
        <div class="text left">
            <ul>
                <li><h2>Achieve perpetual engagement</h2></li>
                <li><p>True engagement isn’t achieved just with campaigns. It’s an ongoing, living connection with employees. Much like Facebook drives ongoing usage, our <a class="callout" id="post">Post</a> technology creates a habit around consuming HR content. The break room bulletin board has evolved.</p></li>
            </ul>
            <ul id="perpeng-features">
                <li id="pef-1" class="selected">
                    <h1>1</h1>
                    <p>Share any content on mobile devices and the web</p>
                    <div class="cf"></div>
                </li>
                <li id="pef-2">
                    <h1>2</h1>
                    <p>Engage people using <a class="callout" id="dialogue">Dialogue</a> – a responsive, natural language interface that feels like a conversation with HR</p>
                    <div class="cf"></div>
                </li>
                <li id="pef-3">
                    <h1>3</h1>
                    <p>Game mechanics provide immediate positive reinforcement</p>
                    <div class="cf"></div>
                </li>
                <li id="pef-4">
                    <h1>4</h1>
                    <p>Passionate employee advocates champion HR messages and actions</p>
                    <div class="cf"></div>
                </li>
            </ul>
        </div>
        <div class="image right">
            <img src="assets/marketing/iphone1.png" class="pef-1" />
            <img src="assets/marketing/iphone2.png" class="pef-2" />
            <img src="assets/marketing/iphone3.png" class="pef-3" />
            <img src="assets/marketing/display.png" class="pef-4" />
        </div>
    </section>

    <section class="s960" id="exciteaction">
        <div class="text right">
            <ul>
                <li><h2>Generate excitement and <br/>motivate action</h2></li>
                <li><p>Create interactive games around a campaign with our <a class="callout" id="play">Play</a> technology. We map behaviors and messages and work with you to craft an enjoyable experience that can reach even the most tuned-out employee.</p></li>
            </ul>
        </div>
        <div class="image left">
            <img src="assets/marketing/dialogue-box.png" />
        </div>
    </section>

    <div class="cf"></div>
    <ul class="pt-buttons">
        <li><a href="#contact-form" class="button contact green-btn gradient"><span></span> Get in touch</a></li>
        <li><a href="drive.html" class="button tour orange-btn gradient"><span></span> Next</a></li>
    </ul>

    <div id="define-tooltips">
        <div id="dialogue-tt"><p>A responsive, natural language interface that feels like a conversation with HR.</p></div>
        <div id="play-tt"><p>Enhance any campaign with game mechanics and social dynamics. Incentivize employee engagement with HR messages.</p></div>
        <div id="post-tt"><p>Make HR content interactive. Use peer-to-peer sharing to drive engagement, identify employee advocates and reward attention.</p></div>
    </div>

    <%= render 'september_footer' %>
</body>