
<center>
<table cellpadding='0' cellspacing='0' style='box-sizing:border-box; color:#909090; font-family:Helvetica, Arial, sans-serif;' width='600'>
<tr>
<td>
<table cellpadding='0' cellspacing='0' id='mail_header' style='padding:1.75em 1em; border-bottom:1px #dfdfdf solid;' width='100%'>
<tr style='text-align:left;'>
<td><img alt="H.Engage" src="https://hengage-assets.s3.amazonaws.com/assets/logo-580aed6750f34956244a346b8f34fa73.png" style="display:block;" width="150px" /></td>
</tr>
</table>
<center>
<h2 style='font-weight:light; font-weight:300; font-size:24px;'>
Did you forget to check out your
<a href="http://u270958.sendgrid.org/wf/click?upn=CA2ebdkCyPP7-2FwVYHkti1PLI5Ux3rnMssoN1JtYd-2FsxLKBFdsmT0rSsVv8zJhCd6Z3b-2B02-2By5PjjqvrhIoxhzhndJxiwJQDX1mPweQVtDJ0bVpUAzya7l8bpIM65TP-2FTDmkHe4YJH-2BSipdhiT3Yo-2BQ-3D-3D_tZcFOIMP1eiUv8QtBHFgoNMaOyH1M3CcDLDG8J54JKVNNZvPR53RWLxUHWT-2FfBhuwdqIHLkhv-2FmUHEsgevSAmNn4DMplScxxjzIAQnF49-2Bb77GrIH9CD-2FudTRk2t0iKLqtF56EpeZ7KJVbwJMulwF3MwbKtU9pFQDx16bDPV22LngiHwEUrxhgPiQw8ST40b" style="color:#4faa60; font-weight:bold; font-weight:500; font-size:24px; text-decoration:none;">new tiles</a>
?
</h2>
</center>
<table cellpadding='0' cellspacing='5px' id='tiles' width='100%'>
<tbody>
<tr>
<td class='tile_thumbnail' style='vertical-align:top;' valign='top' width='600'>
<table cellpadding='10' cellspacing='0' style='font-size:16px; color:gray; table-layout:fixed;' width='560'>
<tr>
<td height='160' valign='top' width='190'>
<div style='width:190px; height:160px'><a href="http://u270958.sendgrid.org/wf/click?upn=CA2ebdkCyPP7-2FwVYHkti1PLI5Ux3rnMssoN1JtYd-2FsxLKBFdsmT0rSsVv8zJhCd6Z3b-2B02-2By5PjjqvrhIoxhzhndJxiwJQDX1mPweQVtDJ0bVpUAzya7l8bpIM65TP-2FTDmkHe4YJH-2BSipdhiT3Yo-2BQ-3D-3D_tZcFOIMP1eiUv8QtBHFgoNMaOyH1M3CcDLDG8J54JKVNNZvPR53RWLxUHWT-2FfBhug6J9g8yx9RuCW-2BJDYvRrAstcQIqlCo4PaxtyVm7SXvKKkBrqy-2F1-2BljApP3Qx1KyLiS-2BeIU19jLxCLUPghxmUvvR4IkGsWamIRmHEihxZtESgDvlqk3oaM1A-2FvfcvvMEg"><img alt="Example tile" src="/assets/client_admin/digest_tileSample.png" style="display:block; border-style:none; text-align:left;" width="190px" /></a></div>
</td>
<td style='font-family: helvetica, arial, sans-serif; text-align:left; word-wrap:break-word;' valign='top' width='370'>
<h3 style='color:#292929; font-size:18px; font-weight:bold; font-weight:600; margin-top:0;'>Example tile 1</h3>
<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
</td>
</tr>
<tr>
<td colspan='2' height='3'></td>
</tr>
</table>
</td>
</tr>

<tr>
<td class='tile_thumbnail' style='vertical-align:top;' valign='top' width='600'>
<table cellpadding='10' cellspacing='0' style='font-size:16px; color:gray; table-layout:fixed;' width='560'>
<tr>
<td height='160' valign='top' width='190'>
<div style='width:190px; height:160px'><a href="http://u270958.sendgrid.org/wf/click?upn=CA2ebdkCyPP7-2FwVYHkti1PLI5Ux3rnMssoN1JtYd-2FsxLKBFdsmT0rSsVv8zJhCd6Z3b-2B02-2By5PjjqvrhIoxhzhndJxiwJQDX1mPweQVtDJ0bVpUAzya7l8bpIM65TP-2FTDmkHe4YJH-2BSipdhiT3Yo-2BQ-3D-3D_tZcFOIMP1eiUv8QtBHFgoNMaOyH1M3CcDLDG8J54JKVNNZvPR53RWLxUHWT-2FfBhu2XlqCSK-2BuWC-2FdiZg83hM2NIMWkuQBQwEYg0XTSzUIUOW7CndWnJPvFlDf9INquu3p6X6XMAUA38aHoYZwcP7UsqqkXHwYlD105JRFnFcg0DQOh-2BAxXna4pLjCMy3-2BAyx"><img alt="Example tile" src="/assets/client_admin/digest_tileSample.png" style="display:block; border-style:none; text-align:left;" width="190px" /></a></div>
</td>
<td style='font-family: helvetica, arial, sans-serif; text-align:left; word-wrap:break-word;' valign='top' width='370'>
<h3 style='color:#292929; font-size:18px; font-weight:bold; font-weight:600; margin-top:0;'>Example tile 2</h3>
<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.</p>
</td>
</tr>
<tr>
<td colspan='2' height='3'></td>
</tr>
</table>
</td>
</tr>

<tr>
<td class='tile_thumbnail' style='vertical-align:top;' valign='top' width='600'>
<table cellpadding='10' cellspacing='0' style='font-size:16px; color:gray; table-layout:fixed;' width='560'>
<tr>
<td height='160' valign='top' width='190'>
<div style='width:190px; height:160px'><a href="http://u270958.sendgrid.org/wf/click?upn=CA2ebdkCyPP7-2FwVYHkti1PLI5Ux3rnMssoN1JtYd-2FsxLKBFdsmT0rSsVv8zJhCd6Z3b-2B02-2By5PjjqvrhIoxhzhndJxiwJQDX1mPweQVtDJ0bVpUAzya7l8bpIM65TP-2FTDmkHe4YJH-2BSipdhiT3Yo-2BQ-3D-3D_tZcFOIMP1eiUv8QtBHFgoNMaOyH1M3CcDLDG8J54JKVNNZvPR53RWLxUHWT-2FfBhux8l6awCpYtxa0VItXZ1NhKEsqoEX7BsqonTGnC4geUTDb-2FI7I6tX-2F1elN95BPCOIp-2BtdaATnfGLnO5ZKVG4MjuGiKORurIrEyENIHk-2FAoJTuyCK1iIhNO20m6c6dGwOK"><img alt="Example tile" src="/assets/client_admin/digest_tileSample.png" style="display:block; border-style:none; text-align:left;" width="190px" /></a></div>
</td>
<td style='font-family: helvetica, arial, sans-serif; text-align:left; word-wrap:break-word;' valign='top' width='370'>
<h3 style='color:#292929; font-size:18px; font-weight:bold; font-weight:600; margin-top:0;'>Example tile 3</h3>
<p>Vestibulum id ligula porta felis euismod semper. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
</td>
</tr>
<tr>
<td colspan='2' height='30'></td>
</tr>
</table>
</td>
</tr>

</tbody>
</table>
<table cellpadding='0' cellspacing='15' id='mail_footer' style='margin:0; text-align:center;' width='100%'>
<tr>
<td>
<p style='font-family: helvetica, arial, sans-serif; color:black; font-size:16px; margin:0; padding:0;'>Interact, earn points, and see how your colleagues are doing!</p>
</td>
</tr>
<tr>
<td>
<center>
<table cellspacing='3' style='background: #4da968; border-bottom:5px #3e8052 solid; text-align:center;' width='250'>
<tr>
<td colspan='3' height='0' style='line-height:0; font-size:0;'>
&nbsp;
</td>
</tr>
<tr>
<td height='45' width='3'>
&nbsp;
</td>
<td height='45' valign='middle'>
<a href="http://u270958.sendgrid.org/wf/click?upn=CA2ebdkCyPP7-2FwVYHkti1PLI5Ux3rnMssoN1JtYd-2FsxLKBFdsmT0rSsVv8zJhCd6Z3b-2B02-2By5PjjqvrhIoxhzhndJxiwJQDX1mPweQVtDJ0bVpUAzya7l8bpIM65TP-2FTDmkHe4YJH-2BSipdhiT3Yo-2BQ-3D-3D_tZcFOIMP1eiUv8QtBHFgoNMaOyH1M3CcDLDG8J54JKVNNZvPR53RWLxUHWT-2FfBhuRnz0hIvlcASQQRaCBUwhv3FpFege9aNpDInSRAu-2FF-2BsYetyHFtRRTFq6FMRhvsuRk-2FQWSsQE-2Bw77Xcv0-2F0WsenkJQ-2FZMUFiqtPhcG4g8e88MOxLCK8uGSeuoyDrB-2B9eq" style="display: block; padding: 10px 40px; text-decoration: none; color: #fff; font-family: helvetica, arial, sans-serif; font-size: 20px; font-weight:bold;">View your tiles</a>
</td>
<td height='45' width='3'>
&nbsp;
</td>
</tr>
</table>
</center>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height='20' style='line-height:0; font-size:0;'>
&nbsp;
</td>
</tr>
<tr>
<td>
<center>
<table cellpadding='0' cellspacing='1' style='border-top:1px #dfdfdf solid; font-family: Helvetica, Arial, sans-serif; text-align:left;' width='600'>
<tr>
<td height='30' style='line-height:0; font-size:0;'>
&nbsp;
</td>
</tr>
<tr>
<td style='font-size:12px; color: gray;'>
Copyright &copy; 2013 H.Engage. All Rights Reserved.
<br>
Our mailing address is: 222 Newbury St., Floor 3, Boston, MA 02116
</td>
</tr>
<tr>
<td>
<div class='unsubscribe' style='font-size: 12px; color: gray;'>
You received this email because your company uses H.Engage.
</div>
</td>
</tr>
<tr>
<td height='30' style='line-height:0; font-size:0;'>
&nbsp;
</td>
</tr>
</table>
</center>

</td>
</tr>
</table>
</center>
