<div class="large-8 row large-centered">
  <section class="logos">
    <div class="large-12 large-centered">
      <h5>Our logos</h5>
      <div class="example large-6 columns light-bg">
        <%= image_tag "logo.png", alt: "H.Engage" %>
      </div>
      <div class="example large-6 columns dark-bg">
        <%= image_tag "marketing/logo_white.png", alt: "H.Engage" %>
      </div>
    </div>
  </section>

  <section class="colors">
    <h5>Color palette</h5>
    <div class="large-12 columns large-centered">
      <div class="example row">
        <div class="large-3 columns" id="blue">#50698C</div>
        <div class="large-3 columns" id="green">#4FAA60</div>
        <div class="large-3 columns" id="orange">#FF7D00</div>
        <div class="large-3 columns" id="red">#BC4C40</div>
        <div class="large-3 columns" id="dark-gray">#2e2e2c</div>
        <div class="large-3 columns" id="gray">#818385</div>
        <div class="large-3 columns" id="med-gray">#a8a8a8</div>
        <div class="large-3 columns" id="light-gray">#dfdfdf</div>
      </div>
    </div>
  </section>

  <section class="headers">
    <h5>Headers</h5>
    <div class="large-12 columns large-centered">
      <div class="example row">
        <h1>This is my top level header. H1</h1>
        <h2>Sometimes I need a subhead. H2</h2>
        <h3>Occasionally, this. H3</h3>
      </div>
    </div>
  </section>

  <section class="buttons">
    <h5>Primary buttons, with importance in order</h5>
    <h5>@include app-button($color)</h5>
    <div class="large-12 columns large-centered full-buttons">
      <div class="example row">
        <a class="big_button" id="green">Click me</a>
        <a class="big_button" id="gray">Click me</a>
        <a class="big_button" id="blue">Click me</a>
        <a class="big_button" id="orange">Click me</a>
        <a class="big_button" id="red">Click me</a>
      </div>
      <div class="example row">
        <a class="big_button small_button" id="green">Click me</a>
        <a class="big_button medium_button" id="green">Click me</a>
        <a class="big_button large_button" id="green">Click me</a>
        <h5>10px/.625em, 16px/1em, 20px/1.25em</h5>
      </div>
    </div>

    <h5>Secondary buttons, with importance in order</h5>
    <h5>@include light-button($color)</h5>
    <div class="large-12 columns large-centered light-buttons">
      <div class="dark-bg example row">
        <a class="light_button" id="green">Click me</a>
        <a class="light_button" id="gray">Click me</a>
        <a class="light_button" id="blue">Click me</a>
        
        <a class="light_button" id="orange">Click me</a>
        <a class="light_button" id="red">Click me</a>
      </div>
      <div class="light-bg example row">
        <a class="light_button" id="green">Click me</a>
        <a class="light_button" id="gray">Click me</a>
        <a class="light_button" id="blue">Click me</a>
        <a class="light_button" id="orange">Click me</a>
        <a class="light_button" id="red">Click me</a>
      </div>
      <div class="light-bg example row">
        <a class="light_button small_button" id="green">Click me</a>
        <a class="light_button medium_button" id="green">Click me</a>
        <a class="light_button large_button" id="green">Click me</a>
        <h5>10px/.625em, 16px/1em, 20px/1.25em</h5>
      </div>
    </div>
  </section>

  <section class="dividers">
    <h4>Dividers</h4>
    <div class="row editorial_divider">
    <div class="large-12 columns">
      <p class="editorial_title">Next:</p>
    </div>
  </div>
  </section>

</div>