<div class="row">
  <div class="large-12 columns center">
    <h1>Airbo Style Guide</h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns large-centered background-white">
    <section>
      <h2>Logo</h2>
      <div class="" style="width:200px; margin: 20px 0;">
        <%= image_tag "logo.png", alt: "H.Engage" %>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-6 columns large-centered background-white" style="margin-top:20px;">
    <section>
      <h2>Typography</h2>
      <h1>Header 1</h1>
      <h2>Header 2</h2>
      <h3>Header 3</h3>
      <h4>Header 4</h4>
      <p>This is paragraph text. With <b>bold</b> and <i>italic</i> text.</p>
      <p><a href="#" onclick="return false;">This is a link.</a></p>
      <p><small>Small</small></p>
      <h4>Unordered List</h4>
      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
      </ul>
      <h4>Ordered List</h4>
      <ol>
        <li>List item 1</li>
        <li>List item 2</li>
      </ol>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-6 columns large-centered background-white" style="margin-top:20px;">
    <section>
      <h2>Navigation</h2>
      <ul class="tabs">
        <li><a href="#" onclick="return false;" class="selected">Tab 1</a></li>
        <li><a href="#" onclick="return false;">Tab 2</a></li>
        <li><a href="#" onclick="return false;">Tab 3</a></li>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-12 columns large-centered background-white" style="margin-top:20px;">
    <section>
      <h2>Tables</h2>
      <table>
  <thead>
    <tr>
      <th width="200">Table Header</th>
      <th>Table Header</th>
      <th width="150">Table Header</th>
      <th width="150">Table Header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-6 columns large-centered background-white" style="margin-top:20px;">
    <section>
      <h2>Forms</h2>
      <h3>Standard Elements</h3>

      <form>
        <div class="columns">
          <div class="row">
            <label>Text Input</label>
            <input type="text" placeholder="placeholder text" />
          </div>
          <div class="row">
            <label>Password Input</label>
            <input type="password" placeholder="abc123" />
          </div>
          <div class="row">
            <label>Input Error</label>
            <input type="text" class="error" value="Bad bad value" />
          </div>
          <div class="row">
            <div class="input-group">
              <label style="margin-bottom:20px;">Small Checkbox</label>
              <label class="checkbox small"><input name="check1" type="checkbox" checked> And Option 1</label>
              <label class="checkbox small"><input name="check2" type="checkbox"> And Option 2</label>
            </div>
          </div>
          <div class="row">
          <div class="input-group">
              <label style="margin-bottom:20px;">Large Checkbox</label>
              <label class="checkbox"><input name="check1" type="checkbox" checked> And Option 1</label>
              <label class="checkbox"><input name="check2" type="checkbox"> And Option 2</label>
            </div>
          </div>
          <div class="row">
            <div class="input-group">
              <label style="margin-bottom:20px;">Radio Buttons</label>
              <label class="radio"><input name="radio1" type="radio" checked> Or Option 1</label>
              <label class="radio"><input name="radio2" type="radio"> Or Option 2</label>
            </div>
          </div>
        </div>
      </form>

      <h2>Menus</h2>

      <form class="custom" style="width:300px;">
        <div class="columns">
          <div class="row">
            <label>Select Menu</label>
            <select>
              <option>Option 1</option>
              <option>Option 2</option>
            </select>
          </div>
          <div class="row">
            <label>Drop-down Menu</label>
            <ul class="menu">
              <li>Option 1</li>
              <li>Option 2</li>
              <li>Option 2</li>
            </ul>
          </div>
        </div>
      </form>

      <h3>Buttons</h3>
      <p><a class="button">Primary CTA</a></p>
      <p><a class="button outlined">Secondary CTA</a></p>
      <p>
        <a class="button icon">
          <i class="fa fa-plus"></i>
          <span>Primary CTA with Icon</span>
        </a>
      </p>
      <p>
        <a class="button outlined icon">
          <i class="fa fa-plus"></i>
          <span>Secondary CTA with Icon</span>
        </a>
      </p>
      <div class="row center" style="background-color:#AAA;">
        <p>
        <a class="button reversed">Secondary CTA Reversed</a></p>
      </div>

      <p><label>Switch</label></p>
      <div class="switch-container on">
        <div class="label">Off</div>
          <div class="switch">
            <div class="indicator"></div>
          </div>
        <div class="label">On</div>
      </div>
      <p>
        <label>Progress Bars</label>
        <div class="progress-bar">
          <div class="indicator" style="width:50%;"></div>
        </div>
      </p>
      <p>
        <div class="progress-bar green">
          <div class="indicator" style="width:75%;"></div>
        </div>
      </p>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-8 columns background-white large-centered" style="margin:20px auto;">
    <section>
      <h1>86% of Employees Are Health Insurance Illiterate</h1>
      <p>At this very moment, thousands of employees across the United States are choosing their health insurance. That’s scary, because there’s an emerging body of data that shows that most people don’t understand the basics of how health plans work. That knowledge gap may be causing some serious issues: From sick people not going to the doctor, to employees over-paying for health insurance.</p>
      <p><b>Terms You Need To Know</b></p>
      <ul>
        <li>Deductible</li>
        <li>Copay</li>
        <li>Coinsurance</li>
        <li>Out-of-pocket maximum</li>
      </ul>
      <h2>What To Do Today</h2>
      <p>Many organizations have already kicked off Open Enrollment, and it may feel like this blog post comes at an odd time: Too late for many companies to do much about the issue, but just in time to add some stress. The good news is that health care consumerism isn’t a one-time event. It requires ongoing education and the start of the year is as good a time as ever to begin.</p>
      <h3>What To Do Today</h3>
      <p>Many organizations have already kicked off Open Enrollment, and it may feel like this blog post comes at an odd time: Too late for many companies to do much about the issue, but just in time to add some stress. The good news is that health care consumerism isn’t a one-time event. It requires ongoing education and the start of the year is as good a time as ever to begin.</p>
      <ol>
        <li>Survey your employees to see what percentage understand basic health plan concepts.</li>
        <li>Send a weekly email to all employees defining each health care term, one at a time.</li>
        <li>Re-survey your employees with the exact same questions to measure the change.</li>
      </ol>
      <p><b>If only there were a tool that could make this easy for you.</b></p>
      <p><i>Really really easy.</i></p>
      <p><a href="#" onclick="return false;">There is.</a></p>
      <p><small>We might need small text.</small></p>
    </section>
  </div>
</div>

<section class="pen" style="display:none;">
    <h5>Pen editor</h5>
    <div class="large-12 columns large-centered">
      <div class="example row">
        <%= content_tag :div, id: "demo_pen_editor", class: "text-input", contenteditable: true do %>
          <h1>This is Pen editor</h1>
          <ol>
            <li>Click to edit</li>
            <li>Select to apply effect</li>
            <li>Click items of toolbar to toggle effects</li>
          </ol>
          <p>
            For more information visit:
            <%= link_to "http://sofish.github.io/pen/", "http://sofish.github.io/pen/" %>
          </p>
        <% end %>
      </div>
    </div>
  </section>

<div class="row">
  <div class="large-8 columns background-white large-centered" style="margin:20px auto;">
    <section>
      <h2>Modals</h2>
      <%# link_to 'Delete', '', method: :delete, data: { confirm: destroy_tile_message_params } %>
      <p><a href="#" data-reveal-id="example_modal">Click for a modal</a></p>
      <div id="example_modal" class="reveal-modal" data-reveal>
        <h2>Woohoo!</h2>
        <p>This is a modal window. Very handy.</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="large-8 columns background-white large-centered" style="margin:20px auto;">
    <section>
      <h2>Guidelines</h2>
      <ul>
        <li>There can only be 1 h1 per page.</li>
        <li>There can only be 1 primary CTA (call-to-action) per page.</li>
        <li>Don't be too small (micro content is not friendly).</li>
      </ul>
      <hr />
      <p>This style guide is a living document. A work-in-progress.</p>
      <p>We should seek to minimize the number of styles needed and always use the same defaults. That way it's easy to maintain the code and the design and updates are easy.</p>
      <p>Sticking to the styles documented here will keep everything on-brand and consistent, so that every message communicated to customers speaks with the Airbo voice.</p>
    </section>
  </div>
</div>