<section id="waiting_room">
  <h1>Great!</h1>
  <h2>We're currently working on your game.</h2>

  <div id="game_status">
    <p>
      We'll send you an email when it's ready (usually within two business days). In the meantime, here are some resources you can check out.
      <a href="#">Questions?</a>
    </p>
    <ul id="suggestions">
      <li class="video_placeholder"></li>
      <li class="video_placeholder"></li>
      <li class="video_placeholder"></li>
    </ul>
  </div>
</section>