<section id="waiting_room">
  <h1>Great!</h1>
  <h2>We're currently working on your game.</h2>

  <div id="game_status">
    <div id="status_blurb">
      <p>
        We'll send you an email when it's ready (usually within two business days). In the meantime, here are some resources you can check out.
        <!--<a href="#">Questions?</a>-->
      </p>
    </div>
    <div id="suggestions">
      <ul>
        <!--<li class="resource_holder" id="datadeck"><a href="#!" class="pop-button">Download our <br/>data deck</a></li>-->
        <li class="resource_holder" id="bernieVideo">
          <a href="https://fast.wistia.net/embed/iframe/0eb4fc3b44?autoPlay=true&controlsVisibleOnLoad=true&playerColor=33322f&plugin%5BpostRoll-v1%5D%5Blink%5D=http%3A%2F%2Fhengage.com&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BbackgroundColor%5D=%23616161&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5Bcolor%5D=%23ffffff&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontFamily%5D=Gill%20Sans%2C%20Helvetica%2C%20Arial%2C%20sans-serif&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontSize%5D=48px&plugin%5BpostRoll-v1%5D%5Btext%5D=Click%20now%20to%20visit%20hengage.com&popover=true&version=v1&videoHeight=450&videoWidth=800&volumeControl=true" class="wistia-popover[height=450,playerColor=33322f,width=800]"><img src="https://wistia.sslcs.cdngc.net/deliveries/429b353e5607ec26625aab1d1e17d9788bee0d98.jpg?image_play_button=true&image_play_button_color=33322fe0&image_crop_resized=267x150" alt="" /></a><script charset="ISO-8859-1" src="https://fast.wistia.com/static/popover-v1.js"></script>
          <p>H.Engage at Yahoo!</p>
        </li>
        <li class="resource_holder" id="lauraVideo">
          <a href="https://fast.wistia.net/embed/iframe/wwtzys7o25?autoPlay=true&controlsVisibleOnLoad=true&playerColor=33322f&plugin%5BpostRoll-v1%5D%5Blink%5D=http%3A%2F%2Fhengage.com&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BbackgroundColor%5D=%23616161&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5Bcolor%5D=%23ffffff&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontFamily%5D=Gill%20Sans%2C%20Helvetica%2C%20Arial%2C%20sans-serif&plugin%5BpostRoll-v1%5D%5Bstyle%5D%5BfontSize%5D=48px&plugin%5BpostRoll-v1%5D%5Btext%5D=Click%20now%20to%20visit%20hengage.com&popover=true&version=v1&videoHeight=450&videoWidth=800&volumeControl=true" class="wistia-popover[height=450,playerColor=33322f,width=800]"><img src="https://wistia.sslcs.cdngc.net/deliveries/12ee897853d4e5f23f14ca0adf336b193a1526ae.jpg?image_play_button=true&image_play_button_color=33322fe0&image_crop_resized=267x150" alt="" /></a><script charset="ISO-8859-1" src="https://fast.wistia.com/static/popover-v1.js"></script>
          <p>H.Engage at Michelin</p>
        </li>
      </ul>

    </div>
  </div>
</section>
