<%= render partial: 'marketing_header' %>
<main>
  <h1 class="heading">Discover engaging employee programs.</h1>
  <h2 class="sub_heading">Find free content, save what you like, and create programs, communications, and trainings for your employees in minutes.</h2>
  <div class="regFormSection" id="regFormSection">
    <%= render partial: 'shared/sign_up_form_new', locals: { user: User.new, board: Demo.new, heading: "" } %>
  </div>
  <div class="tiles">
    <% (1..8).to_a.each do |i| %>
      <div class="tile">
        <%= image_tag "marketing/welcome_page/tile#{i}.png" %>
      </div>
    <% end %>
  </div>
</main>
<%= render partial: 'pages/marketing_footer' %>
