<header>
  <div class="row">
    <div class="columns large-5" id="logo">
      <%= image_tag "marketing/logo_white.png", alt: "H.Engage" %>
    </div>
  </div>
  <div class="row" id="opener">
    <div class="columns large-8 large-centered copy">
      <div class="headlines">
        <h1>The bulletin board reinvented.</h1>
        <h2>Easily create and post engaging communications for your organization.</h2>
      </div>
      <div id="opener_form" class="large-10 large-centered column">
        <%= render "shared/marketing_email_signup" %>
        <p class="caption">
          Already a user?
          <a href="/sign_in" class="sign_in">Sign in</a>
        </p>
      </div>
    </div> <!-- End of large-10 -->
  </div>
</header>






<footer>
  <div class="row">
    <ul id="bulletin_landing_footer">
      <li><a href="/pages/more_info" id="learn_more">More information</a></li>
      <li><a href="/pages/pricing" id="pricing">Pricing</a></li>
      <li><a href="http://blog.hengage.com" id="blog">Blog</a></li>
      <li><a href="/sign_in" class="sign_in">Sign in</a></li>
    </ul>
    <p class="copyright">Copyright &copy; 2013 H.Engage, Inc.</p>
  </div>
</footer>

<script>
mpq.track_links("#learn_more","Bulleting landing, Learn More click");
mpq.track_links("#pricing","Bulleting landing, Pricing click");
mpq.track_links("#blog","Bulleting landing, Blog click");
mpq.track_links(".sign_in","Bulleting landing, Sign In click");

$('#contact_email').click(function() { mpq.track("Bulletin landing, Contact Email field highlighted", {}); });

$('#signup_form').submit(function(e) {
  e.preventDefault();
  $('#signup_error, #signup_thanks').hide();

  var trimmedEmail = $.trim($('#contact_email').val());

  if(trimmedEmail == '') {
    $('#signup_error').slideDown();
  } else {
    $('#submitting_signup_form').show();
    $.post( 
      '<%= email_info_requests_path %>', 
      {contact_email: trimmedEmail, contact_comment: "From BulletinBoard 2013 landing", silent: true}, 
      function() {
        $("#contact_email").prop('disabled', true);
        $('#signup_thanks').slideDown();
        $('#submitting_signup_form').hide();
        mpq.track("Bulletin landing, Sign Up form submitted", {});
      }
    )
  }
});

$("#to_the_top").click(function() {
  $("html, body").animate({ scrollTop: 200 }, "slow");
  $("#contact_email").focus();
  mpq.track("Bulletin landing, Footer signup button click", {});
  return false;
});

$("[placeholder]").placeholder();
</script>

<%= mp_track_page 'Bulletin landing' %>