<%= render partial: "pages/landing/header_simple" %>  
<main>
<%= render "wellness_content" %>
</main>
<%content_for :footer do%>
  <%= render partial: "pages/landing/request_form" %>
<%end%>
<%= render partial: "pages/landing/footer" %>
