<%= render layout: "pages/landing/hero" do %>
  <h1>Wellness</h1>
<% end %>

<main>
<section class="topic_desc">
  <div class="large-7 large-centered columns">
    <p>
      There was a time when company “wellness” meant little more than encouraging employees to join a gym. But recently there’s been a surge in interest in company-sponsored wellness programs, with two thirds of U.S. employers now participating, and the majority reporting positive results. According to RAND Corporation’s 2012 
      <%= link_to "Workplace Wellness Programs Study", "" %> 
      (funded by the U.S. Departments of Labor and Health and Human Services, and containing the latest and most comprehensive data available), up to 80 percent of those surveyed reported improvements in productivity, absenteeism or lowered medical costs thanks to their wellness programs. 
    </p>

    <p>
      But when it comes to wellness, one size definitely does not fit all. Some employees respond best to health and nutrition tips, while others are looking to set fitness goals and track their progress. Some want to engage in fun activities they can do with their co-workers, while others are eager
    </p>
  </div>
</section>
</main>

<%= render partial: "pages/landing/footer" %>