<%= render partial: "pages/landing/header_simple" %>  
<div class="core">
  <div class="content" >
    <%= render "wellness_content" %>
  </div>
</div>
<%content_for :footer do%>
  <%= render partial: "pages/landing/request_form" %>
<%end%>
<%= render partial: "pages/landing/footer" %>
