<%= content_for :header, "Wireframes" %>

<p class="explanation">This is a temporary homepage for Vlad, Cole, and Dan to view HTML wireframes to be discussed in <a href="http://apptrajectory.com/accounts/thoughtbot/projects/hengage/discussions">Trajectory</a>. The wireframes are in order of the workflow.</p>

<ol class="wireframes">
  <li><%= link_to 'Admin creates demo', page_path('admin') %></li>
  <li><%= link_to 'Admin sends invite', page_path('invite') %></li>
</ol>
