<%= content_for :header, "Wireframes" %>

<p class="explanation"><%= translate('.explanation', :default => 'This is a temporary homepage for Vlad, Cole, and Dan to view HTML wireframes to be discussed in <a href="http://apptrajectory.com/accounts/thoughtbot/projects/hengage/discussions">Trajectory</a>. The wireframes are in order of the workflow.') %></p>

<ol class="wireframes">
  <li><%= link_to 'Admin creates demo, adds players', admin_path %></li>
</ol>
