<%= content_for :header, "Wireframes" %>

<div class="explanation">
  <p>This is a temporary homepage for Vlad, Cole, and Dan to view HTML wireframes to be discussed in <a href="http://apptrajectory.com/accounts/thoughtbot/projects/hengage/discussions">Trajectory</a>.</p>
</div>

<ul class="wireframes">
  <li><%= link_to 'Admin', page_path('admin') %></li>
</ul>
