<div id="yahoo-top-text-block">
  <h2>
    We're turning Yahoo! benefits into a game!
  </h2>

  <p>
    It's part of a whole new approach to make benefits a little more interesting (yes, interesting) and Yahoo! is one of the first companies to try it. Check out the video to get up to speed.
  <p>
</div>

<%= render 'yahoo_video' %>

<div id="yahoo-bottom-text-block">
  <h2><span id="how-to-join">Time to join!</span><br/>
  Text your Backyard ID to 408-775-7617, or<br/>
  Email your Backyard ID to <a href="mailto:yahoo@playhengage.com">yahoo@playhengage.com</a></h2>

  <h2>Earn points by finding purple cling-ons</h2>
  <p>Find the purple cling-ons and posters around campus and follow the clues on each piece. If you find all five cling-ons, you'll achieve Cling-on Mastery!</p>

  <h2>Claim points by</h2>
  <p>Texting 408-775-7617<br/>
    e-mailing <a href="mailto:yahoo@playhengage.com">yahoo@playhengage.com</a><br/>
    Logging into <a href="https://www.hengage.com">hengage.com</a><br/>
    After you sign-up via email or text, you'll receive an email with instructions for how to log in.
  </p>

  <h2>Earn points and win prizes for recruiting others</h2>
  <p>Invite other Yahoos to play and earn 5 points for each player you sign up. Your recruit simply needs to sign up the same way you did, then reply to the welcome text with your User ID.</p>


  <h2>Prizes</h2>
  <h3>Early Bird raffle: Apple iPad 2</h3>
  <p>Yahoos who found the hint in the Open Enrollment home mailer and eMag, and signed up by October 31 were entered into a lottery to win an iPad 2.</p>

  <h3>Top 10 Players: Limited-edition hoodie and "platinum beta" status</h3>
  <p>Our top ten point earners at the end of the game get a sweet hoodie, and will be invited to join an elite group of testers for the next game.</p>

  <h3>Most Popular: Apple iPhone 4s</h3> 
  <p>The player with the most referral points at the end of the game will receive an iPhone 4s.</p>

  <h3>Epic Win raffle: All of the Above</h3>
  <p>Two players will score a prize package with all the items listed above: Apple iPad 2, limited-edition hoodie, "platinum beta" status and Apple iPhone 4s.</p>

  <p>Earn 20 or more points to be entered into the Epic Win raffle.</p>
  <p>The number of entries you receive will depend on your point status:<br/>
    20 points = one entry<br/>
    30 points = two entries<br/>
    40 points = four entries.
  </p>

  <h2>Need help?</h2>
  <p>If you have questions about the game:<br/>
    Email <a href="mailto:help@hengage.com">help@hengage.com</a><br/>
    Or after you have signed up, text "help" to 408-775-7617</p>

  <h2>Other questions?</h2>
  <p>Contact the Benefits Department at 888-862-5822 or <a href="mailto:hr-benefits@yahoo-inc.com">hr-benefits@yahoo-inc.com</a>.</p>

  <h2>Other helpful hints</h2>
  <p>Need to learn about the last date of open enrollment? <br/>
    Check out <a href="http://viewer.zmags.com/publication/0ee1bae8#/0ee1bae8/1">the 2012 open enrollment guide</a>
  </p>

  <p>Did you know that the video had a secret code in it?  Ask one of your colleagues.</p>

  <h2>Commands you can send</h2>
  <p>
    RULES &mdash; commands list</br>
    SUPPORT &mdash; live help</br>
    FAN [someone's ID] &mdash; become someone's fan to keep track of their score on the web site (ex: "fan bob12")</br>
    MYID &mdash; see your ID</br>
    RANKING &mdash; see scoreboard </br>
    HELP &mdash; help desk, instructions</br>
    PRIZES &mdash; see what you can win
  </p>
</div>
