
<% unless @invalid_email %>
  <% content_for :status do %>
    <p>Airbo is a social game available to an exclusive group of companies. If Airbo has launched at your company, please enter your work email, and we'll send you an invite.</p>

    <p>If you're eligible to play but don't have a work email address, please contact support@airbo.com from your personal email address for help joining.</p>
  <% end %>
<% end %>

<h1>Sign Up</h1>

<%= form_for @invitation_request, :url => invitations_path, :id => "signup-form", :builder => FancyFormBuilder do |f| %>
  <%= f.text_field :email, :class => "signup-field", :placeholder => "Email address" %>
  <ul class="form-section signup-submit">
    <li><input name="commit" type="submit" value="Request invitation"></li>
  </ul>
<% end %>
