<% content_for :status do %>
  <p>H Engage is a social game available to an exclusive group of companies. If H Engage has launched at your company, please enter your work email, and we'll send you an invite.</p>
<% end %>

<h2>Sign Up</h2>

<%= form_for @invitation_request, :url => invitations_path, :id => "signup-form", :builder => FancyFormBuilder do |f| %>
  <%= f.fancy_text_field :email, :class => "signup-field", :placeholder => "Email address" %>
  <ul class="form-section signup-submit">
    <li><input name="commit" type="submit" value="Request invitation"></li>
  </ul>
<% end %>

<% content_for :javascript do %>
  <%= javascript_tag do %>
    $("input#invitation_request_email").focus();
  <% end %>
<% end %>
