<p>We've received your request for an invitation. You should receive an invitation e-mail at <%= @user.email %> shortly.</p>

<p>If you haven't received this e-mail within a few minutes, please request for it to be re-sent, or contact <%= link_to "support@hengage.com", "mailto:support@hengage.com" %> for help.</p>
