<% content_for :status do %>
  <p>We've received your request for an invitation. You should receive an invitation e-mail at <%= @user.email %> shortly.</p>

  <p>If you haven't received this e-mail within a few minutes, please request for it to be re-sent <%= link_to "here", new_invitation_resend_path %>, or contact <%= link_to "support@air.bo", "mailto:support@air.bo" %> for help.</p>
<% end %>
