<p>That e-mail address is already taken.</p>

<p>If this is your address, and you've already requested an invitation but lost the invitation e-mail, you can request for it to be re-sent.</p>

<p>If you've already been invited and then joined the game, you can log in, or have your password reset if you've forgotten it.</p>

<p>You can also contact <%= link_to "support@hengage.com", "mailto:support@hengage.com" %> for help.</p>
