<p>Sorry, that e-mail domain <%= @submitted_domain %> is not one that's allowed to request invitations.</p>

<p>You can contact <%= link_to "support@hengage.com", "mailto:support@hengage.com" %> for help.</p>
