<div id="session-wrapper">
<% content_for :status do %>
  <p>Sorry, it looks like we don't have the email address '<%= @invitation_request.email %>' on file. H Engage is a social game available to an exclusive group of companies.

  <p>If you are eligible to join, please contact <%= link_to "support@hengage.com", "mailto:support@hengage.com" %> for help creating an account.</p>
<% end %>

<%= render 'form' %>
<%= mp_track_page 'invalid self-inviting domain', :attempted_email => @invitation_request.email %>
</div>