<div id="session-wrapper">
<% content_for :status do %>
  <p>Sorry, it looks like we don't have the email address '<%= @invitation_request.email %>' on file. Airbo is a social game available to an exclusive group of companies.

  <p>If you are eligible to join, please contact <%= link_to "support@air.bo", "mailto:support@air.bo" %> for help creating an account.</p>
<% end %>

<%= render 'form' %>
</div>
