<div class="footer">
  <footer class="container u-space-2-top">
    <div class="row mb-7">
      <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h3 class="h6">Airbo</h3>
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link root airoute-root" href="/">Home</a></li>
          <li><a class="u-list__link js-request-demo">Request Demo</a></li>
        </ul>
      </div>

      <div class="col-sm-4 col-md-3 col-lg-2 mb-4 mb-md-0">
        <h3 class="h6">Account</h3>
        <ul class="list-unstyled u-list">
          <li><a class="u-list__link js-login">Sign In</a></li>
          <li><a class="u-list__link airoute-privacy" href="/privacy_policy">Privacy Policy</a></li>
          <li><a class="u-list__link airoute-terms" href="/terms">Terms</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-lg-2">
        <address>
          <ul class="list-unstyled u-list">
            <li class="u-list__link">1702 Abbot Kinney Blvd</li>
            <li class="u-list__link">Venice, CA</li>
            <li class="u-list__link">90291</li>
          </ul>
        </address>
      </div>
    </div>
  </footer>
</div>
