.client_admin_main, .suggested_tiles-index {
  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    .shadow_overlay {
      height:12em;
      width:100%;
      top:0;
      left:0;
      &:after {
        color:$light-gray;
        content:"Preview";
        display: block;
        margin-top:6em;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .shadow_overlay, .tile_buttons{display:block;}
    }
  }

  // Default buttons
  .tile_buttons {
    display:none;
    position:absolute;
    top:.5em;
    right:.5em;
    li {
      display:inline-block;
      float:right;
      margin-left:.5em;
      text-align: center;
      width:auto;
      &.edit_button, &.destroy_button, &.ignore_button, &.undo_ignore_button, &.submit_button, &.unsubmit_button {
        a {
          @include light-button($white);
        }
      }
      &.archive_button a {
        @include app-button($med-gray);
      }
      &.activate_button, &.accept_button {
        a {
          @include app-button($sky-blue);
        }
      }
    }
  }
  .draft {
    .activate_button a {
      width: 4.3em;
    }
    .edit_button a {
      width: 4em;
    }
  }
  .archive {
    .tile_buttons li a {
      padding-left:  0.5em;
      padding-right: 0.5em;
    }
  }
  .user_submitted {
    .accept_button {
      margin-right: 4em;
    }
  }

  // Tile stats
  .tile_stats {
    .activation_dates {
      //&:after {@include clear;}
      position: absolute;
      top: 164px;
      right: 7px;
      border-radius: 3px;
      background: rgba(0,0,0,0.7);
      color: $white;
      padding: 3px 8px;
      font-size: 12px;
      font-weight: 700;
      i {
        font-size: 13px;
        padding-right: 8px;
      }
    }
    .completions, .views {
      a, a:link, a:visited {
        display: inline;
      }
    }

    //.activation_dates span, 
    .views,
    .completions,
    .completion_percentage,
    .creator {
      @include caption;
      background: image-url('v5/bg_light.png');
      color:$dark-gray;
      display: block;
      font-size:.75em;
      font-weight:bold;
      font-weight:500;
      line-height:1.35em;
      margin-bottom:1px;
      padding:.5em 1em;
      text-align: left;
      text-transform: none;
    }
  }
}
