.client_admin_main, .suggested_tiles-index {
  // Tile thumbnail entire wrapper
  .tile_thumbnail {
    .shadow_overlay {
      height:12em;
      width:100%;
      top:0;
      left:0;
      &:after {
        color:$light-gray;
        content:"Preview";
        display: block;
        margin-top:6em;
        text-align: center;
        text-transform: uppercase;
      }
    }
    &:hover {
      .shadow_overlay, .tile_buttons{display:block;}
    }
    &:focus {
      .shadow_overlay, .tile_buttons{display:none;} 
    }
  }

  // Default buttons
  .tile_buttons {
    display:none;
    position:absolute;
    top:.5em;
    right:.5em;
    li {
      display:inline-block;
      float:right;
      margin-left:.5em;
      text-align: center;
      width:auto;
      i {
        display: none;
      }
      &.edit_button, &.destroy_button, &.ignore_button, &.undo_ignore_button, &.submit_button, &.unsubmit_button {
        a span {
          @include light-button($white);
        }
      }
      &.archive_button a span {
        @include app-button($med-gray);
      }
      &.activate_button, &.accept_button {
        a span {
          @include app-button($sky-blue);
        }
      }
    }
  }
  // .draft {
  //   .activate_button a {
  //     width: 4.3em;
  //   }
  //   .edit_button a {
  //     width: 4em;
  //   }
  // }
  .archive {
    .tile_buttons li a span {
      padding-left:  0.5em;
      padding-right: 0.5em;
    }
  }
  .user_submitted {
    .accept_button {
      margin-right: 4em;
    }
  }

  // Tile stats
  .tile_stats {
    padding-top: 10px;
    .activation_dates, .unique_views, .views, .completions {
      border-top-left-radius: 3px;
      padding: 3px 8px;
      font-size: 12px;
      font-weight: 700;
      i {
        font-size: 13px;
        padding-right: 8px;
      }
    }

    .activation_dates {
      position: absolute;
      top: 170px;
      right: 0px;
      background: rgba(0,0,0,0.7);
      color: $white;
    }
    
    .unique_views, .views, .completions {
      float: left;
      width: 76px;
      border: 1px solid #bbb;
      color: #555;
      text-align: left;
      &:hover {
        border-color: #555;
        color: #444;
      }
      i {
        padding-right: 4px;
      }
    }

    .unique_views, .views {
      margin-right: 5px;
    }

    .creator {
      @include caption;
      background: image-url('v5/bg_light.png');
      color:$dark-gray;
      display: block;
      font-size:.75em;
      font-weight:bold;
      font-weight:500;
      line-height:1.35em;
      margin-bottom:1px;
      padding:.5em 1em;
      text-align: left;
      text-transform: none;
    }
  }
  .tooltip.tip-bottom { // tip is used in tile stats
    $tooltip-bg: #000;
    $tooltip-pip-size: 5px;

    font-size: 12px;
    width: 91px !important;
    margin-left: -9px;
    text-align: center;
    &>.nub {
      position: absolute;
      display: block;
      border: $tooltip-pip-size solid;
      border-color: transparent transparent $tooltip-bg transparent;
      top: -($tooltip-pip-size * 2);
      left: 40px;
    }
  }
}
