body.suggested_tiles-index {
  background: $almost-white;
  header {
    margin-bottom: 1px;
  }
  #creation {
    padding-top: 2em;
    .help {
      @include font-regular;
      font-size: 13px;
      color:$med-gray;
      cursor: pointer;
      position: absolute;
      top: -1px;
      left: 100px;
      i {
        padding-left: 2px;
      }
    }
  }
  // Create new tile link
  .creation-placeholder {
    display: inline-block;
    width: 100%;
    max-width: 238px;
  }
  .creation-placeholder a {
    border-color: $lightest-gray;
    display: block;
    color: $white !important;
    line-height:1em;
    position: relative;
    text-align: center;
    height:19.5em;
    &:hover {border-color:lighten($blue, 10%); color:transparent;}
    &:before {
      color:$white;
      background:$sky-blue;
      border-radius:$border-radius;
      content:"+";
      display: block;
      font-size:5em;
      line-height:0;
      margin-left:-40px;
      position: absolute;
      top:30%;
      left:50%;
      text-align: center;
      height:80px;
      width:80px;
      overflow: hidden;
      padding-top:32px;
    }
    &:hover:before {background:darken($sky-blue, 7%);}
    &:after{
      color:$sky-blue;
      line-height:1em;
      content: "Add New Tile";
      position: absolute;
      top:60%;
      left:30%;
      text-align: center;
    }
  }
}
