@import './internal/tiles_fullsize';
@import 'tile_preview';
@import './internal/tile_builder/tile_builder';
@import './internal/tile_manager/_joyride_tip_guide';

@import './internal/tile_manager/draft_section';
@import './internal/tile_manager/suggested_tiles';
@import './internal/tile_manager/suggestion_access';

@import './internal/tile_thumbnail/tiles_thumbnails';
@import './internal/tile_thumbnail/tiles_thumbnails_desktop';
@import './internal/tile_thumbnail/tiles_thumbnails_controls';
@import './internal/tile_thumbnail/tiles_thumbnails_small_with_controls';
@import './internal/tile_thumbnail/tiles_thumbnails_transition';

body.client_admin-tiles-index, 
body.client_admin-inactive_tiles,
body.suggested_tiles-index {
  //
  // => General styles
  //
  .core {
    background: $off-white;
  }
  .content {
    background: $off-white;
    padding: 0;
  }
  .manage_tiles {
    position: relative;
    h4{
      margin-bottom: 2em;
      margin-left: 1.5em;
    }
  }
  .tile_container {
    min-width: 24%;
    text-align: center;
    float: left;
    padding-bottom: 1.5rem;
    height: 400px;
  }
  .download_csv, .minimize {
    @include light-button(#8d8d8d);
    border-color: #b9b9b9;
    padding: 6px 10px;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: -10px;
    right: 73px;
    &:hover {
      color: #666666;
      border-color: #8c8c8c;
    }
  }
  .switch{
    @include green-paddle-switch;
    @include switch-size(16px, 9px, 2.3em);
  }
  //
  // => Show All Btns
  //
  .show_all_section {
    &.show_all_draft_section {
      background: $almost-white;
    }
    .button_container {
      position: relative;
      height: 60px;
      margin-left: -45px;
    }
  }
  .all_draft, .all_inactive {
    @include light-button(#858585);
    border-color: #b5b5b5;
    font-weight: 500;
    font-size: 12px;
    width: 100px;
    padding-top: 8px;
    padding-bottom: 7px;
    display: block;
    margin: auto;
    &:hover {
      color: #5c5c5c;
      border-color: #8c8c8c;
    }
  }
  //
  // => Archive section
  //
  #archived_tiles{
    background: $off-white;
    position: relative;
    #archive{
      &:after{ @include clear; }
    }
    .tile_thumbnail.placeholder_tile {
      border-color: $almost-white;
    }
  }
  //
  // => Other sections
  //
  #active_tiles, #submitted_tiles, #accepted_tiles, #posted_tiles {
    padding:2em 0 0 0;
    z-index: 1;
    #active{
      &:after{ @include clear; }
    }
  }
  #active_tiles {
    box-shadow: 0px 1px 6px 1.2px $med-gray;
    background: $almost-white;
  }
  #submitted_tiles, #accepted_tiles, #posted_tiles, #archived_tiles {
    box-shadow: 0px -6px 7px -5.8px $med-gray;
  }
  #archived_tiles {
    padding:2em 0 0 0;
  }
  @media only screen and (max-width: 1200px) {
    #add_new_tile {
      right: 44px;
    }
    .download_csv, .minimize {
      right: 64px;
    }
  }
}


