<section id="new_game">
  <h1>Customize your game</h1>

  <form method="GET" id="priorities">
    <input type="text" autofocus="autofocus" id="name_game" placeholder="What would you like to call your game?" />

    <h3>Select up to three workplace priorities:</h3>
    <div id="priorities_tiles">
      <span class="type_tile">
          <input type="checkbox" name="open-enrollment" value="1" />
          <p>Open enrollment</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="wellness" value="1" />
          <p>Wellness</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="healthcare" value="1" />
          <p>Health care reform</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="fined" value="1" />
          <p>Financial education &amp; retirement</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="safety" value="1" />
          <p>Safety</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="training" value="1" />
          <p>Training</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="onboarding" value="1" />
          <p>Onboarding</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="hrabio" value="1" />
          <p>HRA/Biometrics</p>
      </span>
    </div>
    <input type="submit">
  </form>
</section>