<section id="new_game">
  <h1>Customize your game</h1>

  <form method="GET" id="priorities">
    <h2>Set up</h2>
    <div id="demo_setup">
      <input type="text" id="name_game" placeholder="Name your game" />
      <input type="text" id="game_pass" placeholder="Password" />
      <input type="text" id="game_pass_confirm" placeholder="Confirm password" />
    </div>

    <h2>Select up to three workplace priorities</h2>
    <div id="priorities_tiles">
      <span class="type_tile">
          <input type="checkbox" name="black-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Open enrollment</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="red-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Wellness</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="green-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Health care reform</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="blue-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Financial education &amp; retirement</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="blue-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Safety</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="blue-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Training</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="blue-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>Onboarding</p>
      </span>
      <span class="type_tile">
          <input type="checkbox" name="blue-box" value="1" />
          <img src="/assets/marketing/gantt.png" />
          <p>HRA/Biometrics</p>
      </span>
    </div>
    <input type="submit">
  </form>
</section>
<script>
$("[placeholder]").textPlaceholder();
</script>