<footer class="marketing-site-footer">
  <div class="wrap">
    <a href="/" class="logo">
      <%= image_tag("marketing_site/logo-white.svg", alt: "Airbo", class:"screen-logo") %>
    </a>
    <%= link_to "Terms", terms_path, class: "float-right footer-link" %>
    <%= link_to "Privacy", privacy_path, class: "float-right footer-link" %>
    <span class="footer-link float-right"><%= render 'shared/copyright' %></span>
  </div>
</footer>
