<footer class="marketing-site-footer">
  <div class="wrap">
    <div class="about">
      <a href="#"><%= image_tag("marketing_site/logo-white.svg", alt: "Airbo") %></a>
      <p>&copy; 2017 Airbo</p>
    </div>
    <div class="links">
      <h2>Learn More</h2>
      <ul>
        <li><%= link_to "Schedule a Demo", new_demo_request_path %></li>
        <li><%= link_to "Contact Us", "", class: "open_intercom" %></li>
        <!-- <li><a href="#">Engage</a></li>
        <li><a href="#">Measure</a></li>
        <li><a href="#">Support</a></li> -->
      </ul>
    </div>
    <!-- <div class="links">
      <h2>Try Airbo</h2>
      <ul>
        <li><%#= link_to "HR Announcements", explore_channel_path("11-hr-announcements") %></li>
        <li><%#= link_to "Wellness", explore_channel_path("1-wellness") %></a></li>
        <li><%#= link_to "Onboarding", explore_channel_path("9-onboarding") %></a></li>
      </ul>
    </div> -->
    <!-- <div class="links">
      <h2>Blog</h2>
      <ul>
        <li><a href="#">Link to a blog post Link to a blog post</a></li>
        <li><a href="#">Link to a blog post</a></li>
      </ul>
    </div> -->
  </div>
</footer>
