<footer class="marketing-site-footer">
  <div class="wrap">

    <a href="#" class="logo">
      <%= image_tag("marketing_site/logo-white.svg", alt: "Airbo", class:"screen-logo") %>
    </a>
  </div>
</footer>
