<div class="large-9 large-centered columns tile_preview_container">
  <div class='viewer'>
      <div id="slideshow">
        <%= render "tiles/full_size_tile", tile: @tile, is_preview: true %>
      </div>
  </div>
</div>
