
.relative{
  position: relative;
}
.right{
  float: right;
}
.left{
  float: left;
}

table.admin_wide{
  width: 1150px;
  position: relative;
}
.tile_details{
  display: none;
  position: absolute;
  left: 0px;
  top: 2px;
}
.admin{
  position: relative;
}

h1, h2, h3, h4{
  line-height: 2em;
}
h1{
  text-align: center;
  font-size: 1.7cm;
}
.breadcrumb {
  font-size: 5mm;
}
p {
  font-weight: bold;
}
ul {
  margin-left: 5ex;
  list-style-type: disc;
}
th {font-size: 18px;}
th, td{
  padding-left: 1ex;
}
.table-title{
  font-size: 0.7cm;
  padding-bottom: 0.3cm;
  padding-top: 3ex;
}
.select_tags{
 float: right;
 width: 139px;
 padding-top: 32mm;
 select{
   width: 100%;
   display: none;
   &:first-child{display: block;}
 }
}

.body{
  float: left;
  width: 600px;
}
.flip-flop{
  text-align: center;
  margin-top: -5mm;
}
table:not(.first-column-header){
  tr:hover{
    background: #babeb8;
    .hidden_tags, .tile_details{
      display: block;
    }
  }
}
.hidden_tags, .tile_details{
  margin-top: 1ex;
  display: none;
  position: absolute;
  width: 400px;
  padding: 1ex;
  background: yellow;
  text: yellow;
  -moz-border-radius: 1ex;
  -webkit-border-radius: 1ex;
  border-radius: 1ex;
  .description{
    padding-bottom: 1ex;
  }
}
.tile_details{
  width: 540px;
  margin-top: 0.9ex;
}

.name, .short_desc, .long_desc{
  font-size: 17px;
  line-height: 21px;
  color: #444;
  font-weight: bold;
}
.label{
  color: black;
  font-weight: normal;
}
.value{
  padding-left: 20px;
  padding-bottom: 10px;
  color: brown;
}
.brown{
  color: brown;
  font-weight: bold;
}
.inactive{
  color: grey;
}
.time_zone{
  font-size: 11px;
}
textarea{
  height: 50px;
}
#start_time, #end_time{
  float: left;
  width: 200px;
  padding: 20px;
}
select{
  font-size: 18px;
}
.long_page{ height: 10cm;}
#reply_max_length_info_holder, #bullet_instructions_holder, #subject_instructions_holder, .blurb_instructions_holder, .example_instructions_holder{
  position: relative;
  list-style: none;
}

#reply_max_length_info, .blurb_instructions, .blurb_instructions_dropped{
  font-weight: bold;
  position: absolute;
  left: 124mm;
  top: 5mm;
  #current_reply_length{
    display: inline;
  }
}
.example_instructions{
  font-weight: bold;
  position: absolute;
  left: 91mm;
  top: 0mm;
}
#subject_instructions{
  font-weight: bold;
  position: absolute;
  left: 124mm;
  top: 1mm;
}
.blurb_instructions_dropped{
  top: 8mm !important;
}
#bullet_instructions{
  font-weight: bold;
  position: absolute;
  left: 88mm;
  top: 8mm;
}
.big_block_title legend{
  font-size: 13mm;
  padding-top: 17mm;
}
.box{
  background: white;
  padding: 5mm 5mm 1px;
  border-radius: 5mm;
  margin: 5mm 0;
  table, tr, td, th{
    border: none;
    &.number{
      font-size: 18px;
      width: 20px;
      font-weight: bold;
    }
  }
  td.actual{
    line-height: 1.2;
    padding-top: 4mm;
  }

  .actual{
    font-size: 18px;
  }
  .finger{
    font-size: 17px;
    color: #e70;
  }
  .drawer{
    background: #f1f1f1;
    border-radius: 5mm;
    padding: 5mm;
    margin: 5mm 0;
  }
}
.in{
  padding-left: 5mm;
  &.top_pad{
    padding-top: 3mm;
  }
}
.sub{
  padding: 5mm 0;
}
.subject_line{
  width: 237mm;
}

#which_game{
  position: absolute;
  top: 88px;
  right: 0px;;
}
#locate_user{
  padding-top: 5mm;
  input[type='text']{
    width: 15ex;
  }
}
.small_text_area{
  height: 3em;
}
.bullet_text_area{
  height: 4em;
  width: 20em;
  margin-left: 2em;
}

#show-user-spinner {
  margin: 0;
  float: none;
}

#winner-target {
  font-size: 0.7cm;
}
.opaque{
  opacity: 0;
}
.content{
  padding: 3mm 5mm 10mm;
  overflow: scroll;
}
#footer{
  padding: 5mm 5mm 10mm;
}
#reset_my_tiles{
  position: absolute;
  z-index: 10;
  right: 0mm;
  top: -5mm;
  &:hover #square_label{ display: block; }
  #square_label{
    display: none;
    width: 25ex;
    padding: 10mm 1mm 1mm 1mm ;
    position: relative;
    top: -8mm;
    background: white;
    z-index: -1;
  }
}
#tile_boolean_method{
  .inline label{
    display: inline;
    text-transform: uppercase;
  }
  bottom: 1mm;
  font-size: 4mm;
}
#start_and_end_times{
  padding-top: 10mm;
}

.date li,
.date li label {
  display: inline;
}


.app_settings {margin-left:0;}
