h1, h2, h3 {font-family:$gotham;}
* {box-sizing:border-box;}
body.client_admin_main {
    background:url('marketing/bg.gif');
    color:$text-color;
    // font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* ////// CURRENT PAGE ANCHORS ////// */
// In black bar
.nav-client-admin {color:$light-green!important;}

// In left nav
body.client_admins #admin-overview a,
body.client_admins #admin-overview a:link {color:$dark-green; font-weight:bold;}
body.client_admin-segmentations #admin-analytics a,
body.client_admin-segmentations #admin-analytics a:link {color:$dark-green; font-weight:bold;}

// Content area icon
body.client_admins .icon#icon-overview {background-position: -1px -15px;}
body.client_admin-segmentations .icon#icon-analytics {background-position: -33px -15px;}

/* ////// General sections ////// */
.content {border-bottom:$border-light;}
#footer {
    border-top:$border-dark;
    clear:both; 
    color:lighten($text-color, 55%);
    padding:1em 0;
    text-align: center;
}

/*  ////////////////////////// 
    COLUMN STRUCTURE 
    ///////////////////////// */
.col-container {
    display:table;
    table-layout: fixed;
    width:100%;
}
    #far-left, #col-main, #far-right {
        display:table-cell;
    }
    #far-left, #left-nav {
        background:url('client_admin/light-bg.png');
    }
#col-main {
    width:960px;
    table-layout: fixed;
}
.equal {
    display:table-cell;
    padding:3em $gutter;

    /* ////// Navigation Col ////// */
    &#left-nav {
        border-right:$border-dark;
        width:170px;
        .admin-nav-section {
            padding-bottom:1.25em;
            span {
                background:url('client_admin/sprites.png') no-repeat transparent;
                display:inline-block; 
                height:16px;
                margin-right:9px;
                width:16px;
            }
            ul.inner {color:lighten($text-color, 70%); margin-left:26px;}
            &#admin-overview {
                span{background-position:-22px 1px;}
            }
            &#admin-analytics span {background-position:-42px 1px;}
            &#admin-message span {background-position:-64px 1px;}
            &#admin-users span {background-position:-84px 1px;}
            &#admin-post span {background-position:-104px 1px;}
        }
        a, a:link {
            color:#7a7a7a;
            font-family:$gotham;
            font-size:1.4em;
            font-weight:300;
        }
    }
    /* ////// Content Col ////// */
    &#right-content {
        background:url('marketing/bg.gif');
        border-left:$border-light;
        padding-left:$gutter+50px;
        //padding-right:$gutter;
        width:82.3%;
    }
}

/*  ////////////////////////// 
    CONTENT AREA 
    ///////////////////////// */
#right-content .wrap {
    margin:0 auto;
    padding:0 $gutter;
}
ul.section-name {
    position:relative;
    left:-25px;
    h1 {
        color:$dark-green;
        font-size:2.7em;
        font-weight:300;
    }
    .icon {
        background:url('client_admin/sprites.png') no-repeat transparent;
        display:inline-block;
        float:left;
        height:29px;
        width:32px;
    }
}
