.lead-contacts-container {
  padding-top: 20px;
  .err {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .pending-leads {
    margin-top: 20px;
  }

  .organization {
    margin-bottom: 5px;
  }

  .new-org-options {
    display: none;
  }
  .leads-fieldset {
    margin-top: 20px;
  }
}

.admin-close-modal {
  color: $darker-gray;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  &:hover {
    color: $n-blue;
  }
}
