<div class="explores" data-campaign-id="<%= @board.id %>">
  <div id="tile_wall_explore">
    <section class="manage_section" id="channels">
      <% cache @display_channels do %>
        <%= render partial: 'explores/channels', locals: { channels: @display_channels } %>
      <% end %>
    </section>
    <section class="manage_section" id="explore_tiles">
      <%= render partial: 'explores/explore_campaign' %>
    </section>
  </div>
</div>
