.content_sections {
  margin: 0;
  width:100%;
  padding: 0 42px;
  word-wrap: break-word;
  overflow: hidden;
}

.tile_headline, #tile_builder_form_headline {
  font-size: 32px;
  font-weight: 300;
  color:$dark-gray;
  line-height:1.35em;
  padding-top:.5em;
  padding-bottom:.5em;
}
.tile_supporting_content, #supporting_content_editor {
  @include with-lists();
  color:$text-color;
  font-size:1.25em;
  line-height:1.3em;
  margin-bottom:1.3em;
  margin-top:.25em;
  p {
    white-space: pre-wrap;
    line-height:1.5em;
    margin-bottom:1em;
  }
  ul {
    line-height: 1.5em;
  }
  &.old_line_break_css {
    p {
      line-height: 25px;
      margin-bottom: 0;
    }
    ul {
      line-height: 32px;
    }
  }

  h1,h2,h3,h4,h5,h6{
    color: #111;
    font-size: 15px;
    font-weight: 700;
    font-family: "helvetica neue", Helvetica, arial, sans-serif;
    font-style: normal;
    text-transform: none;
    margin-bottom: 12px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }
}
.tile_external_link, #tile_builder_form_link_address {
  font-size: 1.25em;
}
.tile_external_link {
  margin-top: 0;
  margin-bottom: 1.6em;
  .fa-external-link {
    color: $med-gray;
    font-size: 75%;
  }
}
