.tile_headline, .tile_supporting_content, .tile_question, .multiple_choice_group, .tile_external_link {
  margin: 0 auto;
  width:86%;
  word-wrap: break-word;
}
.tile_headline {
  @extend h1;
  color:$dark-gray;
  line-height:1.15em;
  padding:.5em 0;
}
.tile_supporting_content {
  @include with-lists();
  color:$text-color;
  font-size:1.25em;
  line-height:1.3em;
  margin-bottom:1em;
  margin-top:.75em;

  p {
    white-space: pre-wrap;
  }
}
.tile_external_link {
  margin-bottom: 2em;
  font-size: 1.25em;

  .fa-external-link {
    color: $med-gray;
    font-size: 75%;
  }
}
.tile_question {
  color: $text-color;
}
