<div id="prize_modal" class="reveal-modal" data-reveal>
     <%= render partial: "client_admin/prizes/prize", locals: {raffle: raffle} %>
</div>
<a href="#" id="modal_link" data-reveal-id="prize_modal" data-animation="fadeAndPop" data-animationspeed="300" data-closeonbackgroundclick="true" data-dismissmodalclass="close_modal">Click for a modal</a>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $().ready(function(){
      $("#modal_link").click();
    });
    $(".close_modal").click(function(){
      $('[data-reveal]').foundation('reveal','close');
    });
  <% end %>
<% end %>