<div id="prize_modal" class="reveal-modal" data-reveal>
     <%= render partial: "client_admin/prizes/prize", locals: {raffle: raffle, entries: starting_tickets} %>
</div>
<% js_at_end do %>
  bindPrizeModal(<%= raffle.show_start? current_user %>, <%= raffle.show_finish? current_user %>, '<%= params[:public_slug] %>');
<% end %>
