.prize_box
  .prize_header
    %h1
      Prize
    .end_date
      Ends Monday, January 3
  .tickets_row.row
    .torhy_icon.icon_container.columns
      %icon.fa.fa-trophy
    .raffle_entries.desc_container.columns
      %h1.raffle_entries_num.prize_num
        0
      .prize_caps
        Your raffle entries
  .time_row.row
    .clock_icon.icon_container.columns
      %icon.fa.fa-clock-o
    .time_left.desc_container.columns
      .big_date.columns
        %h1.big_date_num.prize_num
          12
        .big_date_text.prize_caps
          Weeks
      .small_date.columns
        %h1.small_date_num.prize_num
          03
        .small_date_text.prize_caps
          Days
  .prizes_container
    .prize_row.row
      .prize_icon.icon_container.columns
        %icon.fa.fa-gift
      .prize_description.desc_container.columns
        %p
          Grand Prize: Amazon Kindle
    .prize_row.row
      .prize_icon.icon_container.columns
        %icon.fa.fa-gift
      .prize_description.desc_container.columns
        %p
          Grand Prize: Amazon Kindle Firef df fd df fd fd df dffd fd fd fd f d fdf d fd fd fd fdf d fd fdf df df df dfd f d f fdf df f dfd fd fd f dfd fd f df df dfd fd fd f d
    .prize_row.row
      .prize_icon.icon_container.columns
        %icon.fa.fa-gift
      .prize_description.desc_container.columns
        %p
          fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
  .other_info_row
    For every 20 points you earn, you receive an entry into the prize raffle. We’ll email the winner to award the prize within a week of the end of the prize period.



