.row
  .large-12.columns
    = render partial: 'client_admin/tiles/tiles_tools_subnav'
.row.steps_nav_bar
  .large-10.columns
    %ul.breadcrumb
      %li Set up
      %li Live
      %li Pick Winners
  .how-to
    %a{:href => "http://airbo.desk.com/customer/portal/articles/1189454-incentive-strategy"}
      %icon.fa.fa-question-circle
      How do prizes work?
.row
  .form_section.columns
    = render partial: 'form', locals: { raffle: @raffle}
  .action_section.columns
    %label.small_cap
      User preview
    .preview_container
      =render partial: 'prize', locals: { raffle: @raffle}
