<div class="row">
  <div class="small-12 columns">
    <%= render partial: 'client_admin/reports/charts/chart_base',
    locals: { opts:
      {
        chart_id: "board-cumulative-login-activity",
        chart_class: "Charts::BoardUniqueLoginActivityDigestsChart", starting_interval: "month",
        data_path: api_charts_path,
        series_list: ["cumulative_login_activity", "cumulative_digests_sent"],
        title: "Cumulative User Logins To Date",
        subtitle: "Illustrates monthly growth in Users that you've engaged year to date.",
        no_data_message: nil,
        intervals: ["quarter", "month", "week"],
        chart_template: "loginActivityTilesDigest",
        series_names: ["Total Logins", "Tiles Digests Sent"],
        color_list: ["#48bfff", "#33445c"],
        chart_types: ["line", "column"]
      }
    }
    %>
  </div>
</div>
