<div class="row">
  <div class="small-12 columns">
    <%= render partial: 'client_admin/reports/charts/chart_base',
    locals: { opts:
      {
        chart_id: "board-unique-login-activity",
        chart_class: "Charts::BoardUniqueLoginActivityDigestsChart", starting_interval: "month",
        data_path: api_client_admin_charts_path,
        series_list: ["unique_login_activity", "digests_sent", "follow_up_digests_sent"],
        title: "User Logins",
        subtitle: "Unique users that visited Airbo by selected time period. Tile Emails drive participation.",
        no_data_message: nil,
        intervals: ["quarter", "month", "week"],
        chart_template: "loginActivityTilesDigest",
        series_names: ["Unique Logins", "Tile Emails Sent", "Follow Up Emails Sent"],
        chart_types: ["line", "column", "column"],
        color_list: ["#48bfff", "#33445c", "#ffb748"],
      }
    }
    %>
  </div>
</div>
