<div class="row">
  <div class="large-6 columns">
    <%= render partial: 'client_admin/reports/charts/chart_base',
      locals: { opts:
        {
          chart_id: "board-unique-tile-completions",
          chart_class: "Charts::BoardUniqueTileCompletionsChart", starting_interval: "month",
          data_path: api_charts_path,
          series_list: ["primary_data"],
          title: "Total Completions",
          no_data_message: nil,
          intervals: ["quarter", "month", "week"]
        }
      }
    %>
  </div>
  <div class="large-6 columns">
    <%= render partial: 'client_admin/reports/charts/chart_base',
      locals: { opts:
        {
          chart_id: "board-unique-tile-completions-cum",
          chart_class: "Charts::BoardUniqueTileCompletionsChart", starting_interval: "month",
          data_path: api_charts_path,
          series_list: ["cumulative_data"],
          title: "Total Completions",
          no_data_message: nil,
          intervals: ["quarter", "month", "week"]
        }
      }
    %>
  </div>
</div>
