.row
  .large-6.large-centered.columns
    %p 
      You will receive an email within the next few minutes with a link to reset your password. Please check your spam folder, too. If you don't receive it, please email us at 
      = "#{link_to 'support@airbo.com', 'mailto:support@airbo.com' }.".html_safe
