#session-wrapper
  %p 
    You will receive an email within the next few minutes with a link to reset your password. Please check your SPAM folder, too. If you don't receive it, please email us at 
    = "#{link_to 'support@hengage.com', 'mailto:hengage.com' }.".html_safe

:javascript
  mixpanel.track("Password Reset Email Sent page visited");