<div data-reveal class='reveal-modal small' id="accept-tile-modal">
  <h2>Tile Accepted and Moved to Draft</h2>
  <p>
    We'll notify the user that the Tile has been accepted.
  </p>
  <div class="confirm_buttons">
    <%= link_to "Got it", "#", class: "confirm" %>
    <%= link_to "#", class: "undo" do %>
      <i class="fa fa-undo"></i>
      Undo
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% if @accepted_tile # if tile was accepted on tile preview page and we need to show confirm modal for that action %>
  <% content_for :javascript do %>
    <%= javascript_tag do %>
      $().ready(function(){
        window.acceptModalForTileFromPreviewPage("<%= client_admin_tile_path(@accepted_tile, update_status: Tile::USER_SUBMITTED) %>");
      });
    <% end %>
  <% end %>
<% end %>
