<div data-reveal class='reveal-modal medium' id="accept-tile-modal">
  <h2>Tile Accepted and Moved to Draft</h2>
  <p>
    We'll notify the user that the Tile has been accepted.
  </p>
  <div class="confirm_buttons">
    <%= link_to "Got it", "#", class: "confirm" %>
    <%= link_to "#", class: "undo" do %>
      <i class="fa fa-undo"></i>
      Undo
    <% end %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
