<div class="row">
  <div class="large-12 columns pt-1">
    <h4></h4>
    <% unless @tiles_facade.active_tiles.empty? %>
      <%= link_to "Download Stats", client_admin_tiles_report_path(report: Tile::ACTIVE, format: "csv"), class: "download_csv button  outlined has-tip", title: "Download Excel file with statistics for all of the Tiles in this section.", data: {tooltip: true} %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="manage_section" id="active">
      <%= render partial: 'client_admin/tiles/manage_tiles/no_tiles_section', locals: { display_no_tiles_section: @tiles_facade.active_tiles.empty? } %>
      <%= render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: { tiles: @tiles_facade.active_tiles } %>
    </div>
  </div>
</div>
