<div id="tile-joyride">
  <ol class="joyride-list tile" data-joyride="<%= true %>">
    <li data-id="add_new_tile" data-options="tipLocation:left;nextButton:false">
      <p class="top-section">
        Click the
        <b>+</b>
        button to create a new tile.
      </p>
      <div class="bottom-section">
        Need ideas?
        <%= link_to 'Explore.', client_admin_explore_path %>
      </div>
    </li>
  </ol>
</div>
