.draft_overlay
  .overlay_message
    = fa_icon "ban"
.row
  .large-12.columns
    %h4#draft_title Draft
    = render partial: 'client_admin/suggestions_access/suggestion_box_header'
    %div#draft.manage_section
      = render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @draft_tiles, type: :draft}
    %div#suggestion_box
      = render partial: 'client_admin/tiles/manage_tiles/tiles_table', locals: {tiles: @user_submitted_tiles, type: :user_submitted}

- content_for :javascript do
  :javascript
    $().ready(function(){
      window.suggestionBox();
    })
