<div class="ribbon-tag"
  style="<%=
    "background-color:#{presenter.ribbon_tag_color};height:28px;position:absolute;bottom:119px;padding:5px 1vw 0px 1vw;opacity:1;left:0;"
  %>"
>
  <span class="ribbon-text"
    style="<%=
      "color:#{presenter.ribbon_tag_font_color};font-size:0.9rem;font-weight:100;letter-spacing:0.3px;"
      %>"
  >
    <%= presenter.ribbon_tag_name %>
  </span>
  <div></div>
  <div></div>
</div>
