<% display ||= "block" %>
<div class="show_all_section <%= section_class %>" style="display:<%= display %>;">
  <div class="row">
    <div class="button_container">
      <%= link_to "Show all", url, class: (btn_class + " button button-gray outlined") %>
    </div>
  </div>
</div>
