<div class="suggestion_box_header">
  <div class="help">
    <i class="fa fa-info-circle"></i>
    Help
  </div>
  <div class="manage_access">
    <i class="fa fa-users"></i>
    Manage Access
  </div>
  <h3>Suggestion box</h3>
</div>