<div class="suggestion_box_header">
  <div class="help">
    <i class="fa fa-info-circle"></i>
    Help
  </div>
  <div class="manage_access">
    <i class="fa fa-users"></i>
    Manage Access
  </div>
  <h3>Suggestion box</h3>
</div>

<%= render partial: 'client_admin/tiles/manage_tiles/suggestion_box_modal' %>

<% js_at_end do %>
  window.suggestionBox();
<% end %>