@import './tile/tile_fullsize/tiles_fullsize';
@import './tile/tile_builder/tile_builder';
@import './tile/tile_thumbnail/tiles_thumbnails';
@import './tile/tile_thumbnail/tiles_thumbnails_desktop';
@import './tile/tile_thumbnail/tiles_thumbnails_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_small_with_controls';
@import './tile/tile_thumbnail/tiles_thumbnails_transition';
@import './mixins/channels';

@import "mixins/green_paddle_switch";

.client_admin-campaigns {
  .content {
    background: #fff;
  }
}

body.explores, .explores {
  .channel-row {
    height: 100px;
    .channels {
      display: none;
      @include channels;
    }
  }

  .campaigns {
    @include campaigns;
    background: transparent;
  }

  .explore-headers {
    font-size: 25px;
    color: $darker-gray;
    &.non-link {
    }
  }

  .explore-breadcrumbs {
    background: #fff;
    padding: 0 0 0 65px;
    a, span, .spacer {
      font-size: 18px;
    }
    a {
      color: $n-blue;
      &:hover{
        text-decoration:underline;
      }
    }
    color: $darker-gray;
    .spacer{
      padding: 0px 3px;
    }
  }

  #copy-all-tiles-button {
    margin: 25px 0 30px 20px;
  }

  #campaign_title {
    a {
      font-size: 40px;
      color: $darker-gray;
      font-weight: 800;
      text-decoration: none;
      cursor: default;
      border-bottom: 3px solid #48bfff;
    }
  }

  .show-more-content-div{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    .show_more_tiles, .show_more_campaigns {
      width: 140px;
      &[disabled] {
        display: none;
      }
    }
  }

  .channel_container, #explore_tiles {
    .tile-wrapper {
      .tile_buttons {
        opacity: 1;
        a {
          @extend .tiny;
        }
      }
    }
  }

  .channel_container {
    .tile-wrapper {
      .tile_buttons {
        top: 86%;
      }
    }

    .recommended-tiles-custom-icon {
      float: left;
      width: 50px;
      height: 50px;
    }
  }

  #explore_tiles {
    .tile-wrapper {
      .tile_buttons {
        top: 277px;
      }
    }
  }

  .core {
    background: #fff;
  }
  .content {
    background: #fff;
    padding: 0;
  }
  #footer {
    background: #fff;
  }

  .manage_section {
    position: relative;
    color: $text-color;

    h4{
      display: inline-block;
      margin-bottom: 30px;
      margin-left: 1em;
      margin-top: 10px;
    }
  }

  .explore-tiles-tabs {
    z-index: 2;
  }

  .explore-tiles-tab {
    &:hover {
      color: $n-blue;
    }
  }

  .channel_container, #campaign_boards, #explore_tiles {
    background: #fff;
    padding: 2em 0 0 0;
  }

  .channel_container {
    box-shadow: 0px 1px 6px 1.2px $med-gray;
    z-index: 2;
    .tile_container {
      margin-top: 7px;
    }
  }

  #campaign_boards {
    box-shadow: 0px 1px 6px 1.2px $med-gray;
    z-index: 1;
  }

  #channel_tiles {
    padding-left: 10px;
  }

  //

  #explore_tiles {
    background: #fff;
    padding-top: 21px;
    #verified {
      margin-left: 6px;
      margin-right: 6px;
      &:after {
        @include clear;
      }
    }
    //
    // => Draft Header States
    //
    &.verified_selected {
      #verified {
        display: block;
      }
    }
    &.community_tiles_selected {
      #verified {
        display: none;
      }
      #community_tiles {
        display: block;
      }
    }

    .explore-tiles-titles {
      margin: 0 0 1.7em 1.3em;
    }

    .copy-all-tiles {
      margin-top: 0;
    }
  }

  .copy-tiles-button {
    margin-bottom: 0;
  }

  .campaign-description {
    h4 {
      color: $darker-gray;
      padding: 0 18px;
      margin-top: 10px;;
      margin-bottom: 15px;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}
