#tile_links{
  text-align: center;
  .show_more_tiles {
    &:before, &:after {
      @include arrow-down(lighten($n-blue, 10%), 8px);
      margin:0 1em;
      position: relative;
      vertical-align: middle;
    }
    &[disabled] {
      color: $light-gray !important;;
      @include app-button($med-gray);
      padding:.75em .5em 0.6em;

      &:before, &:after {
        visibility:hidden;
      }
    }
    #show_more_tiles_spinner {
      display: inline-block;
      vertical-align: top;
      height:1em;
    }
  }
}

.client_admin_explore{
  h1 {
    // margin-left: -14px;
    // font-size: 2rem;
    // margin-top: 40px;
    // margin-bottom: 2rem;
    // color: $darker-gray;
  }

  .tags{
    margin-bottom: 60px;
    .tag_name{
      background-color: $white;
      border: 1px solid $med-gray;
      color: $med-gray;
      padding: 6px 6px;
      width: 262px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }

    div:hover{
      border: 1px solid $sky-blue;
      color: $sky-blue;
      padding: 6px 6px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }
  }
}

body.explores-show {
  a.topic {
    display: block;
    position: relative;
    float: left;
    border-radius: 3px;
    margin: 0 50px 28px 0;
    overflow: hidden;
    &:hover {
      .shadow_overlay {
        background: rgba(14, 23, 29, 0.92);
      }
    }
    .topic_cell {
      display: table-cell;
      vertical-align: middle;
      width: 234px;
      height: 117px;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    .shadow_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(14, 23, 29, 0.82);
      display: block;
    }
    .title {
      max-width: 150px;
      font-size: 18px;
      color: $white;
      font-weight: bold;
      line-height: 1.5;
      position: relative;
      text-align: center;
      margin: auto;
    }
  }
}

body.topics-show {
  .core, .content {
    background: #d9dfe9;
  }
}

#tile_wall_explore {
  @include clear;
  overflow: auto;
  // text-align: justify;
  // &:after { // justifier
  //   content: "&nbps;";
  //   visibility:hidden;
  //   width:35%;
  //   display:inline-block;
  // }
  .tile_container {
    max-width: none;
    float: left;
    display: block;
  }
}
