<div data-role="header">
  <h1>H Engage</h1>
</div>

<div data-role="content">
  <h2 class="first">A social game played via SMS</h2>

  <p>While you eat a banana and cereal for breakfast, you send an SMS to H Engage:</p>
  <pre><code>ate banana</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Sweet. +2 points. Bananas help you fight cancer.</code></pre>

  <p>You walk to the train station to commute to work. While you wait for the train, you send an SMS:</p>
  <pre><code>walked 10 minutes</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Nice job. +1 point. Walking improves bone health.</code></pre>

  <%= link_to "Recent Activity", "/activity" %> | 
  <%= link_to "Scoreboard", "/scoreboard" %>
</div>
