<div data-role="header">
  <h1>H Engage</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li><%= link_to "Recent Activity", "/activity" %></li>
    <li><%= link_to "Scoreboard", "/scoreboard" %></li>
    <li><%= link_to "Your Profile", user_path(current_user) %></li>
  </ul>

  <br />

  <p>To play, send texts to <a href="sms:16179970269">617-997-0269</a>.</p>

  <h2 class="first">Welcome to your exclusive sneak peek of H Engage.</h2>

  <p>H Engage turns an existing communications campaign into a social game, and promotes behavior change by instantly rewarding positive lifestyle acts.</p>

  <p>Join the game by texting your first initial and last name as one word to <a href="sms:16179970269">617-997-0269</a>. For example, Jane Doe would text <code>jdoe</code> to sign up.</p>

  <p>Once you're signed up, you earn points by texting your lifestyle acts to H Engage using your mobile phone.</p>

  <p>To earn points, look for posters with the H Engage logo at the top, and follow the instructions in the boxes at the bottom. You can also earn points by sending texts about your lifestyle acts, such as eating fruit.</p>

  <p>Play the game until Friday at 10:30am. If you earn more than 60 points prior to the deadline, you’ll be entered to win a prize. First and second place winners will receive a MasterCard gift card for $75 and $50, respectively.</p>

  <p>Top ten winners based on score will receive a specially commissioned t-shirt.</p>
</div>
