{
  "extends": ["eslint-config-airbnb-base", "prettier", "plugin:react/recommended"],

  "plugins": ["prettier"],

  "env": {
    "browser": true
  },

  "rules": {
    "prettier/prettier": "error",
    "class-methods-use-this": "warn"
  },

  "parser": "babel-eslint",

  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "modules": ["javascript", "node_modules"]
          }
        }
      }
    }
  }
}
