%h5
  Summary
%table.survey-chart-table
  %thead
    %tr
      %th.answer
        Answer
      %th.number
        Number
      %th.percent
        Percent
  %tbody
    - @survey_chart.each do |row|
      %tr
        %td.answer
          = row["answer"]
        %td.number
          = row["number"]
        %td.percent
          = row["percent"]
