<%= grid(@tile_completions_grid, html: {id: "search-results-table"}, header_tr_html:  {id: "search-labels", hide_csv_button: true}) do |g|  
  g.blank_slate "<div class='grid_no_record'>There are no users that have completed this tile yet.</div>".html_safe 
  g.row_attributes do |tile_completion|
    {class: 'found-user'}
  end  
  #
  # => Columns for HTML version
  #
  g.column html: {class: "results-name"}, name: 'Name', model: 'User', attribute: 'name', filter: false, in_csv: false do |tile_completion|
    if tile_completion.user_type == 'User'  
      link_to tile_completion.user.name, edit_client_admin_user_path(tile_completion.user), class: 'edit-user'
    else
      tile_completion.user.name          
    end
  end
  g.column html: {class: "results-email"}, name: 'Email', model: 'User', attribute: 'email', filter: false, in_csv: false do |tile_completion|      
    tile_completion.user.email
  end
  g.column name: 'Date', attribute: 'created_at', filter: false, in_csv: false  do |tile_completion|
    display_time_ago_and_date tile_completion.created_at
  end
  if @tile.is_survey?
    g.column html: {class: "results-answer"}, name: 'Answer', attribute: 'answer_index', filter: false, in_csv: false  do |tile_completion|      
      dispay_short_and_full_answer tile_completion.tile.multiple_choice_answers[tile_completion.answer_index]
    end
  end
  g.column html: {class: "results-joined"}, name: 'Joined?', model: 'User', attribute: 'accepted_invitation_at', filter: false, in_csv: false do |tile_completion|    
    if tile_completion.has_user_joined?
      '<span class="joined">Yes</span>'.html_safe
    else
      '<span class="not-joined">No</span>'.html_safe
    end
  end
  #
  # => Columns for CSV version
  #
  g.column name: 'Name', in_html: false do |tile_completion|
    tile_completion.user.name
  end
  g.column name: 'Email', in_html: false do |tile_completion|
    tile_completion.user.email
  end
  g.column name: 'Date', in_html: false  do |tile_completion|
    tile_completion.created_at.strftime(Wice::Defaults::DATE_FORMAT)
  end
  if @tile.is_survey?
    g.column name: 'Answer', in_html: false  do |tile_completion|      
      tile_completion.tile.multiple_choice_answers[tile_completion.answer_index]
    end
  end
  g.column name: 'Joined?', in_html: false do |tile_completion|    
    tile_completion.has_user_joined? ? "Yes" : "No"
  end
end -%>
