<table>
  <thead>
    <tr>
      <% data.each do |k, v| %>
        <th width="200"><%= k %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% data.each do |k, v| %>
        <% if display == :percent %>
          <td width="200"><%= number_to_percentage(v, precision: 2) %></td>
        <% else %>
          <td width="200"><%= v %></td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>
