<div class="row">
  <div class="columns small-12">
    <div class="row">
      <div class="panel">
        <h3>Total Paid Client Admin</h3>
        <h3>By month:</h3>
        <%= Reporting::AirboTotals.get_total_paid_client_admins_by_month %>

        <h3>By week:</h3>
        <%= Reporting::AirboTotals.get_total_paid_client_admins_by_week %>

      </div>
    </div>
    <div class="row">
      <div class="panel">
        <h3>Total Paid Organizations</h3>
        <h3>By month:</h3>
        <%= Reporting::AirboTotals.get_total_paid_organizations_by_month %>

        <h3>By week:</h3>
        <%= Reporting::AirboTotals.get_total_paid_organizations_by_week %>
      </div>
    </div>
  </div>
</div>
