<div class="activity-modal-container">
  <div data-reveal class='activity-modal onboarding-generic-modals reveal-modal medium' id='activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "airbo_complete_tile_check.png", class: "onboarding-img" %>
          </div>
          <p>
          Great job completing your first Tile! The Activity Dashboard, which you're about to see provides simple birds-eye view of all of the Activity taking in place in your Airbo.  You'll see how many users viewed tiles, completed interactions. You can even see what answer each user selected.
                  </p>
          <div class="text-center">
            <div class="button outlined blue-alt close-activity-modal-button">
              Complete More Tiles
            </div>
            <% if @user_onboarding.id %>
              <div class=" button outlined blue-alt close-activity-modal-button">
                <%= link_to "View Activity Dashboard", onboarding_activity_path(@user_onboarding.id) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
