<div class="activity-modal-container">
  <div data-reveal class='activity-modal onboarding-generic-modals reveal-modal medium' id='activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboarding_board.png" %>
          </div>
          <h3>You've just completed a tile!! Everytime an employee views or interacts with a tile, that data is collected and displayed on your analytics dashboard.</h3>

          <h3>Visit your activity dashboard to by selecting "Activity" on the sidebar.</h3>
          <div class="button outlined blue-alt close-activity-modal-button">
            Continue
          </div>
        </div>
      </div>
  </div>
</div>
