<div class="activity-modal-container">
  <div data-reveal class='activity-modal onboarding-generic-modals reveal-modal medium' id='activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "airbo_complete_tile_check.png", class: "onboarding-img" %>
          </div>
          <p>
          Great job completing your first Tile! The <strong>Activity</strong> page, which you're about to see, provides a birds-eye view of all of the activity taking place on your Airbo.</p>


          <div class="text-center">
            <div class="button outlined-alt blue-and-green close-activity-modal-button">
              Complete More Tiles
            </div>
            <% if @user_onboarding.id %>
              <%= link_to "View Activity Page", onboarding_activity_path(@user_onboarding.id), class:"button outlined-alt blue-and-green close-activity-modal-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
