<div class="board-view-modal-container">
  <div data-reveal class='board-view-modal onboarding-generic-modals reveal-modal medium' id='board-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboard-illustration-mock-schedule.png" %>
          </div>
          <h3>Welcome to your Airbo. Here's where employees will interact with your campaigns, announcements and news.</h3>
          <div class="button outlined green-alt close-board-view-button">
            Get started
          </div>
        </div>
      </div>
  </div>
</div>
