<div class="customizing-airbo-modal-container">
  <div data-reveal class='customizing-airbo-modal reveal-modal' id='customizing-airbo-modal' style="background-color:none;" data-options="closeOnBackgroundClick:false">
    <div class="customize-load-wheel text-center">
      <i class="fa fa-spinner fa-spin fa-4x" aria-hidden="true"></i>
      <h2>Your Airbo is being created! It will be done momentairly.</h2>
    </div>
  </div>
</div>
