<header class="onboarding-top-bar">
  <div class="row" id="top_bar">
    <div class="small-12 columns">
      <div id="logo">
        <a href="<%= home_path %>" style="margin-top:14px"><%= image_tag 'airbo-onboarding.png' %></a>
      </div>
    </div>
  </div>
  <div class="onboarding-progress" id="top_bar">
    <div class="row onboarding-progress-content">
      <div class="small-2 small-offset-1 columns progress-bar-label">
        <span>Getting started <%= "(#{@user_onboarding.state}/#{@user_onboarding.final_state})"%></span>
      </div>
      <div class="small-6 columns">
        <div class="progress radius onboarding-progress-bar">
          <span class="meter" style="width: <%= @user_onboarding.percent_complete %>%"></span>
        </div>
      </div>
      <div class="small-2 columns end expand-tasks">
        <div class="button outlined onboarding-button off-white">
          Expand
        </div>
      </div>
    </div>
  </div>
</header>
