<header>
  <div class="row" id="top_bar">
    <div class="large-2 columns" id="logo">
      <a class="go_home" href="<%= home_path %>"><%= image_tag 'logo-blue.png' %></a>
    </div>
  </div>
</header>
