<div class="onboarding-complete-modal-container">
  <div data-reveal class='onboarding-complete-modal onboarding-generic-modals reveal-modal medium' id='onboarding-complete-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "airbo_venice_fireworks.png", class: "onboarding-img" %>
          </div>
          <h3>Awesome job. You've finished the Airbo Tour.</h3>
          <h3>There's a ton more to see.  Would you like to learn more abotu Airbo and how it can be used to boost employee engagement?</h3>
          <div id="complete-yes-more-info" class="button outlined-alt blue-and-green close-board-view-button">
            Yes
          </div>
          <div id="complete-no-more-info" class="button outlined-alt blue-and-green close-board-view-button">
            No
          </div>
        </div>
      </div>
  </div>
</div>
