<div class="onboarding-complete-modal-container">
  <div data-reveal class='onboarding-complete-modal onboarding-generic-modals reveal-modal medium' id='onboarding-complete-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboard-illustration-mock-schedule.png" %>
          </div>
          <h3>Awesome job. You've completed all our onboarding steps and invited your first colleague to learn more about Airbo.</h3>
          <div class="button outlined blue-alt close-board-view-button">
            Keep exploring
          </div>
        </div>
      </div>
  </div>
</div>
