<div class="onboarding-complete-modal-container">
  <div data-reveal class='onboarding-complete-modal onboarding-generic-modals reveal-modal medium' id='onboarding-complete-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "airbo_venice_fireworks.png", class: "onboarding-img" %>
          </div>
          <p>Awesome job. You have finished the Airbo Tour.</p>
          <% if @user_onboarding.completed %>
            <p>Feel free to share your Airbo with colleagues via the <strong>Share</strong> tab and don't hesitate to <strong>schedule ad demo</strong> or ask a question via the <strong>Help</strong> tab.</p>
            <div class="text-center">
              <div id="complete-yes-more-info" class="button outlined-alt blue-and-green close-modal">
                Continue
              </div>
            </div>
          <% else %>
            <p>There's a ton more to see.  Would you like to learn more about how Airbo can be used to boost employee engagement?</p>
            <div class="text-center">
              <div id="complete-yes-more-info" class="button outlined-alt blue-and-green close-modal">
                Sounds good
              </div>
              <div id="complete-yes-more-info" class="button outlined-alt blue-and-green close-modal">
                Not right now
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
