<div class="onboarding-complete-modal-container">
  <div data-reveal class='onboarding-complete-modal onboarding-generic-modals reveal-modal medium' id='onboarding-complete-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "airbo_venice_fireworks.png", class: "onboarding-img" %>
          </div>
          <p>Awesome job. You have finished the Airbo Tour, but this was just an introduction to the power of Airbo.</p>
          <p class="half-em-bottom-margin">The full Airbo experience allows you to: </p>

          <ul class="initial">
            <li>Create your own tiles</li>
            <li>Discover and copy expertly crafted content from our Library</li>
            <li>Add employees to your Airbo </li>
            <li>Easily deliver and share your Airbo content with employees</li>
          </ul>

          <p>Would you like to continue to the full Airbo experience?</p>
          <div class="text-center">
            <div id="complete-yes-more-info" class="button outlined-alt blue-and-green onboarding-final-cta">
              Sounds good
            </div>
            <div id="complete-no-more-info" class="button outlined-alt blue-and-green close-modal onboarding-final-cta">
              Not right now
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
