<div class="share-modal-container">
  <div data-reveal class='share-modal onboarding-generic-modals reveal-modal medium' id='share-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "airbo_people_connecting.png", class: "onboarding-img" %>
          </div>
          <h3>Congratulations - you've successfully shared your Airbo! Feel free to go back to Preview and try out a few more Tiles, or visit Activity to see more data once your colleagues interact. Once they have - ask their thoughts on the experience!</h3>
          <div class="button outlined blue-alt close-board-view-button">
            Keep exploring
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
