<div class="share-modal-container">
  <div data-reveal class='share-modal onboarding-generic-modals reveal-modal medium' id='share-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboard-illustration-mock-schedule.png" %>
          </div>
          <h3>You've successfully shared your airbo.  See how people interact by visiting the Activity page.</h3>
          <div class="button outlined blue-alt close-board-view-button">
            Keep exploring
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
