<div class="share-modal-container">
  <div data-reveal class='share-modal onboarding-generic-modals reveal-modal medium' id='share-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "airbo_people_connecting.png", class: "onboarding-img" %>
          </div>
          <h3>Share your Airbo with colleagues by sending them the link below.</h3>
          <div class="columns small-10 small-offset-1">
            <div class="share_link_div">
              <%= text_field_tag 'public_slug', public_board_url(current_user.demo.public_slug), id: 'public_board_field', disabled: true %>
            </div>
          </div>
          <div class="button outlined-alt blue-and-green close-board-view-button">
            Keep exploring
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
