<div class="tile-view-modal-container">
  <div data-reveal class='tile-view-modal onboarding-generic-modals reveal-modal medium' id='tile-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "airbo_tiles_intro.png", class: "onboarding-img" %>
          </div>
          <h3>Your Airbo is populated with Tiles. A Tile is a bite-size piece of content that engages employees in your programs and priorities.</h3>
          <div class="button outlined blue-alt close-tile-view-button">
            Complete your first tile
          </div>
        </div>
      </div>
  </div>
</div>
