<div class="tile-view-modal-container">
  <div data-reveal class='tile-view-modal onboarding-generic-modals reveal-modal medium' id='tile-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class="text-center onboarding-new-image">
          <%= image_tag "airbo_single_tile_intro.png", class: "onboarding-img" %>
        </div>
        <div class='onboarding-new'>
          <p>
          An Airbo Tile has 3 parts:
        </p>

          <ul class="initial">
            <li>An attention grabbing image or video</li>
            <li>The information you want share with your employees</li>
            <li>An action, short quiz or survey that employees complete</li>
          </ul>

          <p>
          Airbo comes with a <strong>Library</strong> of professionally crafted,  pre-built Tiles that you can copy and customize. Or, create your own in minutes.
          </p>
          <div class=" text-center">
            <p>
            <span class="button outlined-alt blue-and-green close-modal">
              Complete your first tile
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
