<div class="tile-view-modal-container">
  <div data-reveal class='tile-view-modal onboarding-generic-modals reveal-modal medium' id='tile-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">

        <div class="text-center onboarding-new-image">
          <%= image_tag "airbo_tiles_intro.png", class: "onboarding-img" %>
        </div>
        <div class='onboarding-new'>
          <p>
          A <strong>Tile</strong> is an incredibly simple but powerful way to keep your employees informed and engaged.
          </p>
          <p>
          A Tile has 3 parts:
          </p>
          <ul class="initial">
            <li>An attention grabbing image or video</li>
            <li>The written content you want share with your employees</li>
            <li>An short interaction of your choice suchs a quiz or survey or simple "Ok" button</li>
          </ul>
          <div class=" text-center"> 
            <div class="text-center button outlined blue-alt close-tile-view-button">
              Complete your first tile
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
