<div class="tile-view-modal-container">
  <div data-reveal class='tile-view-modal onboarding-generic-modals reveal-modal medium' id='tile-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboarding_board.png" %>
          </div>
          <h3>This is a tile. A bite sized piece of information that engages employees and promotes comprehension and trackable action.</h3>
          <div class="button outlined blue-alt close-tile-view-button">
            Complete your first tile
          </div>
        </div>
      </div>
  </div>
</div>
