<div class="tile-view-modal-container">
  <div data-reveal class='tile-view-modal onboarding-generic-modals reveal-modal medium' id='tile-view-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class="text-center onboarding-new-image">
          <%= image_tag "airbo_tiles_intro.png", class: "onboarding-img" %>
        </div>
        <div class='onboarding-new'>
          <p>
          A <strong>Tile</strong> is an incredibly simple but powerful way to keep your employees informed and engaged.
          </p>

          <div>
            <div class="h3 half-em-bottom-margin"><strong>A Tile has 3 parts:</strong></div>
            <ul class="initial">
              <li>An attention grabbing image or video</li>
              <li>The written content you want share with your employees</li>
              <li>An short interaction such as a quiz, survey or just a simple "Ok" button</li>
            </ul>
          </div>
          <div class=" text-center"> 
            <p>
            <span class="button outlined blue-alt close-tile-view-button">
              Complete your first tile
            </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
