<div class="viewed-activity-modal-container">
  <div data-reveal class='viewed-activity-modal onboarding-generic-modals reveal-modal medium' id='viewed-activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "onboarding_clouds.png", class: "onboarding-img" %>
          </div>
          <p>Welcome to your Airbo Activity page! 
          The activity page shows how many employees visited your company's Airbo, viewed and completed the Tiles you've posted. You can even see up-to-the-minute answers and survey responses in the real-time data feed.
          </p>
          <p>Take a look you'll see that we've caputured some or your activity (site viisits, Tile views, completions) already. </p>  <p>As, your employees use Airbo their activity will be tracked and displayed here for you to review, analyze and report on. 
          Share your Airbo with a team member to see how it works when others interact with your Airbo.</p>
          <div class="text-center">
            <div class="button outlined-alt blue-and-green close-viewed-activity-modal-button close-modal">
              Continue
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
