<div class="viewed-activity-modal-container">
  <div data-reveal class='viewed-activity-modal onboarding-generic-modals reveal-modal medium' id='viewed-activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboarding_clouds.png", class: "onboarding-img" %>
          </div>
          <h3>Welcome to your Airbo Activity page! Here is where you can see your employees engaging with Airbo.</h3>

          <h3>Take a look through the data, and then share your Airbo with a team member to see how it works when others interact with your Airbo.</h3>
          <div class="button outlined blue-alt close-viewed-activity-modal-button">
            Continue
          </div>
        </div>
      </div>
  </div>
</div>
