<div class="viewed-activity-modal-container">
  <div data-reveal class='viewed-activity-modal onboarding-generic-modals reveal-modal medium' id='viewed-activity-modal' style="background:#fff;">
    <div class="row">
      <div class="columns small-12">
        <div class='text-center onboarding-new'>
          <div class="onboarding-new-image">
            <%= image_tag "onboarding_clouds.png" %>
          </div>
          <h3>Welcome to your analytics dashboard.  Here's where you can track engagement throughout your organization.</h3>

          <h3>You're almost done with your Airbo onboarding! After looking through some of the data on your analytics page, try sharing your new Airbo with your team to see how this page can get more interesting.</h3>
          <div class="button outlined blue-alt close-viewed-activity-modal-button">
            Continue
          </div>
        </div>
      </div>
  </div>
</div>
