<footer id="pageFtr">
  <div class="row page_footer_section">
    <div class="menu_block columns large-6">
      <ul class="ftrMenu">
        <%= render partial: "pages/landing/menu" %>
        <li><%= link_to "Request Demo", "#", class: "request_demo request_demo_link desktop_only" %></li>
      </ul>
    </div>
    <div class="columns large-6 contacts_block">
      <a href="/"><%= image_tag "landing/logo-blue.png", alt: "Airbo" %></a>
      <div class="contacts">
        <span>
          Contact Sales:
        </span>
        <span>
          (866)-AIRBO-32
        </span>
      </div>
    </div>
  </div>
</footer>
