<footer class="bg-whitish footer_simple">
  <div class="row">
    <div class="columns small-8 contacts_block">
      <span>
        Questions? Call us 
      </span>
      <span>
        at 1-866-AIR-BO32
      </span>
    </div>
    <div class="columns small-4 align_right">
      <%= link_to "Contact Us", "", class: "open_intercom" %>
    </div>
  </div>
</footer>
