<header id="pageHeader" class="sticky_desktop">
  <div class="row top">
    <div class="columns logo">
      <%= link_to "/" do %>
        <div class="logo_image"></div>
      <% end %>
    </div>
    <div class="columns mobile-toggle mobiile_only">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="columns request_demo_block">
      <%= link_to "Request Demo", "#!", class: "request_demo request_demo_link" %>
    </div>
    <div class="columns headerMenu">
      <ul>
        <%= render partial: "pages/landing/header" %>
      </ul>
    </div>
  </div>
</header>
