<header id="pageHeader" class="header_simple">
  <div class="row top">
    <div class="columns logo small-6">
      <%= link_to "/" do %>
        <div class="logo_image"></div>
      <% end %>
    </div>
    <div class="columns small-6 links align_right">
      <%= link_to "Home", home_path %>
    </div>
  </div>
</header>
