<header id="pageHeader">
    <div class="login">
      <a href="/sign_in", class="sign-in-button right"><i class='fa fa-user' aria-hidden='true'></i><span class="login-copy">Sign In</span></a>
    </div>
    <div class="logo">
      <%= link_to "/" do %>
        <div class="logo_image"></div>
      <% end %>
    </div>
</header>
