<% no_shadow ||= false %>
<% with_shadow = !no_shadow %>

<div class="hero modified">
  <% if with_shadow %>
    <div class="shadow_overlay"></div>
  <% end %>
  <%= render partial: "pages/landing/header" unless no_header==true%>
  <div class="hero_section">
    <div class="hero_content">
      <%= yield %>
    </div>
  </div>
</div>
