<% no_shadow ||= false %>
<% with_shadow = !no_shadow %>
<% content_class ||= "" %>
<% header_path ||= "pages/landing/header" %>

<div class="hero">
  <% if with_shadow %>
    <div class="shadow_overlay"></div>
  <% end %>
  <%= render partial: header_path %>
  <div class="hero_section">
    <div class="hero_content <%= content_class %>">
      <%= yield %>
    </div>
  </div>
</div>
