<div class="hero">
  <div class="shadow_overlay"></div>
  <%= render partial: "pages/landing/header" %>
  <div class="hero_section">
    <div class="hero_content">
      <%= yield %>
    </div>
  </div>
</div>
