<section class="board_hero_section" style="background-image: url(<%= img_url %>);">
  <div class="hero-mask"></div>
  <div class="vertical_bottom">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1 class="align_left white"><%= name %></h1>
      </div>
    </div>
  </div>
</section>

