<section class="board_hero_section" style="background-image: url(<%= img_url %>);">
  <div class="vertical_bottom">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1 class="align_left white"><%= name %></h1>
      </div>
    </div>
  </div>
</section>
<section>
    <div class="row">
      <div class="large-8 large-centered columns">
  <p>
Review the Tiles in our Wellness Starter Kit. Copy and post the Tiles that best meet your employees’ needs, or choose the whole collection. Every week, we’ll send you brand new Tiles, with exciting new content. Look out for upcoming collections featuring cutting-edge tips for stress management and work-life Integration and the latest breakthroughs in nutrition and meal planning, as well as the best advice and information on saving money, getting more active and having a good night’s sleep.
  </p>
  <p>
Looking for something special? Let us know. We’re always eager to hear your ideas and suggestions. 

  </p>
      </div>
    </div>
</section>
