<li><%= link_to "Company", company_path %></li>
<li><%= link_to "Case Studies", page_path("asha") %></li>
<li class="sign_in_link"><%= link_to "Login", sign_in_path %></li>
<li><%= link_to "Contact Us", "", class: "contact_us open_intercom" %></li>