<li><%= link_to "Home", "/" %></li>
<li><%= link_to "Company", company_path, target: "_blank" %></li>
<li><%= link_to "Blog", "http://blog.airbo.com/?utm_source=airbo&utm_medium=marketing%20page&utm_campaign=marketing%20page", target: "_blank" %></li>
<li class="sign_in_link"><%= link_to "Sign in", sign_in_path %></li>
