<section class="request_form_section bg-blue">
  <div class="row">
    <form class="inline align_center">
      <span class="white">
        Schedule time with an HR Specialist to chat about your specific needs.
      </span>
      <div class="horizontal">
        <input type="email" id="contact_email" placeholder="Your email here" />
        <input type="submit" value="Request a Demo", class="button outlined white" />
      </div>
    </form>
  </div>
</section>