<section class="request_form_section gradient-blue text-center">
  <%# render "pages/landing/schedule_demo_form" %>
  <%=link_to "Ready to Join?", root_path(anchor: "sign_up_form"), class:"large button green white"%> 
</section>
<div class="request_form_placeholder"></div>
