<section class="request_form_section bg-blue text-center">
  <%# render "pages/landing/schedule_demo_form" %>
  <%=link_to "Browse Boards", root_path(anchor: "boards"), class:"large button outline reversed white"%> 
  <%=link_to "Create Free Account", root_path(anchor: "sign_up_form"), class:"large button outline reversed white"%> 
</section>
<div class="request_form_placeholder"></div>
