<div class="row">
  <%= form_for DemoRequest.new, html:{id: "request_form", class: "inline center align_center request_form"} do |f| %>
    <p class="white text-center">
      Schedule time with an HR Specialist to chat about your specific needs.
    </p>
    <div class="horizontal">
      <%= f.email_field :email, placeholder: "email@yourcompany.com" %>
      <%= f.submit "Request a Demo", id: "submit_request", class: "button outlined white" %>
      <span class="flag success icon green hidden">Sent! <i class="fa fa-check-circle"></i></span>
    </div>
    <div class="info ">
      <div class="greeting_after hidden">
        Thanks! Someone from the Customer Success Team will be in touch with you shortly.
      </div>
    </div>
  <% end %>
</div>
