<%= link_to "", class: "topic" do %>
  <div class="topic_cell">
    <%= image_tag("topics/wellness.png") %>
    <div class="shadow_overlay"></div>
    <p class="title">Wellness</p>
    <!-- <p class="subtitle">Coming soon</p> -->
  </div>
<% end %>