<%= link_to public_board_path(public_slug:board.public_slug), class: "topic" do %>
  <div class="topic_cell" style="background-image: url('<%=board.cover_image.url%>')">
    <div class="shadow_overlay"></div>
    <div class="text-container">
      <section class="board-name">
      <h1 class="title"><%= board.name %></h1>
      </section>
    </div>
    <section class="cover-footer">
      <div class="subtitle">
        10 Tiles
      </div>
      <%=content_tag :h2, truncate(board.client_name, length:30), class:"subtitle" unless board.client_name.blank?%>
    </section>

  </div>
<% end %>
