<ul class="simple-nav airbo">
  <li><%=link_to "KPIs", organization_metrics_path, class: active=="kpi" ? "active" : "" %> </li>
  <li><%=link_to "Customers", admin_organizations_path, class: active=="customer" ? "active" : ""%></li>
</ul>

