<table class="sortable tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Demos</th>
      <th>Is HRM?</th>
    </tr>
  </thead>
  <tbody>
    <% @organizations.each do |organization| %>

      <tr class="resource-row" data-url='<%=admin_organization_path(organization)%>'>
        <td><%= organization.name %></td>
        <td><%= organization.demos.count %></td>
        <td><%= organization.is_hrm.humanize %></td>
      </tr>
    <% end %>
  </tbody>
</table>
