
<div class="row">
  <div class="columns small-12 small-centered">
    <h1>Organizations</h1>

    <%= render "orgs_table" %>

    <div class="right">
      <%= link_to 'Add Organization', new_admin_organization_path, class: "button button-small" %>
    </div> 
  </div>
</div>
