
<h1> Metrics and KPIs </h1>
<div class="row">

  <div class="columns small-10 small-centered">
    <%=form_tag organization_metrics_path do %> 
      <table>
        <thead>
          <tr>
            <th>Period Start</th>
            <th>Period End</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="date" name="sdate"></td>
            <td><input type="date" name="edate"></td>
          </tr> 
        </tbody>
      </table>
      <%=submit_tag "Submit"%>
    <%end%>
    <table>
      <thead>
        <tr>
          <th>Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%@data.each do|k, v| %>
          <tr>
            <th><%=k.titleize%></th>
            <td><%=v.count%></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
