
<div class="row">
  <div class="columns small-12 small-centered">
    <h1 class ="text-left"><%= @organization.name %></h1>
    <table class="first-column-header">
      <tbody>
        <tr>
          <th>Is HRM</th>
          <td><%= @organization.is_hrm.humanize %></td>
        </tr>
        <tr>
          <td colspan="2"> 
            <%=link_to "Edit this organization", edit_admin_organization_path(@organization)%>
          </td>
        </tr>
      </tbody>
    </table>
    <hr/>
  </div>
</div>
<div>
  <%= render "org_boards", boards: @organization.boards %>
