<div class="card-component">
  <div class="card-header">
    <div class="card-title-group">
      <div class="row">
        <div class="columns small-12">
          <h3 class="card-title js-tile-stats-modal-title">{{headline}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="tabs-component-full-width">
      <ul class="inline-list">
        <li class="tab active"><a href="#">Results</a></li>
        <li class="tab"><a href="#">Activity</a></li>
        <li class="tab"><a href="#">Message</a></li>
      </ul>
    </div>
    <div class="card-content">
      <i class="chart-load-wheel fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
  </div>
</div>
