<div class="row stats_page">
  <div class="large-12 columns">
    <div class="tile_chart_section">
      <div class="actions_column">
        <div class="action_type_block unique_views ">
          <div class="action_num">{{uniqueViews}}</div>
          <div class="action_name">Unique Views</div>
        </div>
        <div class="action_type_block total_views ">
          <div class="action_num">{{totalViews}}</div>
          <div class="action_name">Total Views</div>
        </div>
        <div class="action_type_block interactions selected">
          <div class="action_num">{{totalCompletions}}</div>
          <div class="action_name">Completions</div>
        </div>
      </div>
      <div class="chart_column">
        <i class="chart-load-wheel fa fa-spinner fa-spin fa-3x fa-fw"></i>
      </div>
    </div>
    <div class="table_title">
      {{question}}
    </div>
  </div>
</div>
