<div class="row">
  <div class="large-12 columns">
    <h4>Airbo Campaigns</h4>
    <div class="manage_section" id="campaigns">
      <div class="topics">
        <% @campaigns.each do |board| %>
          <div class="campaign tile_container">
              <div class="topic-board-div">
                <%= render partial: "pages/landing/topic", locals: {
                  board: board,
                  path: stock_board_path(library_slug: board.public_slug)
                  } %>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
