<div class="row">
  <div class="large-12 columns">
    <h4 class="explore-headers non-link">Airbo Collections</h4>
    <div class="manage_section" id="collections">
      <div class="topics collection-wall-explore">
        <%= render partial: 'explores/collection_block', locals: { collections: @collections } %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="more-airbo-collections">
      <%= render partial: 'explores/collections_show_more_link', locals: {path_for_more_collections: @path_for_more_content, all_collections_displayed: @all_collections, collection_count: @collections.count, target_selector: "#collections .collection-wall-explore"} %>
    </div>
  </div>
</div>
