<% @collections.each do |board| %>
  <div class="collection tile_container">
      <div class="topic-board-div">
        <%= render partial: "explores/single_collection", locals: {
          board: board,
          path: client_admin_explore_collection_path(board)
          } %>
      </div>
  </div>
<% end %>
