<div class="row">
  <div class="large-12 columns">
    <h4 class="explore-headers non-link">Recommended Tiles</h4>
    <div id="recommended_tiles">
      <div id="tile_wall_explore">
        <%= render partial: 'explores/tiles', locals: { tiles: @recommended_tiles, tile_ids: @recommended_tiles.pluck(:id) } %>
      </div>
    </div>
  </div>
</div>
