<div id="tile_wall">
  <%= render partial: 'explores/tiles', locals: {tiles: tiles} %>
</div>
<%= render partial: 'explores/tile_wall_show_more_link', locals: {path_for_more_tiles: @path_for_more_tiles, all_tiles_displayed: @all_tiles_displayed} %>
