<div id="tile_wall_explore">
  <section class="manage_section" id="recommended_container">
    <%= render partial: 'explores/recommended_tiles' %>
  </section>
  <section class="manage_section" id="campaign_boards">
    <%= render partial: 'explores/campaigns' %>
  </section>
  <section class="manage_section" id="explore_tiles">
    <%= render partial: 'explores/explore_tiles' %>
  </section>
</div>
