.row
  .external-form-wrapper.small-12.large-6.large-centered.columns#unsubscribe-form
    %h2 Are you sure you want to unsubscribe?

    = form_for :unsubscribe, url: unsubscribe_path do |f|
      %p 
        You may miss important updates about your benefits and other important programs from your employer.
      = f.hidden_field :user_id, value: @user.id.to_s
      = f.hidden_field :token, value: @token
      = f.submit "Unsubscribe"

