@import 'mixins/airbo-layout-defaults';
@import 'mixins/tabs-component';
@import 'mixins/card-component';
@import 'mixins/circle-progress-chart-component';
@import 'mixins/toolbar-inline-list-component';
@import 'mixins/highcharts-header-component';

.client_admin-reports {
  @include airbo-layout-defaults();
  @include card-component($dark-blue, $primary-gray);
  @include circle-progress-chart-component($n-blue, $n-white);
  @include highcharts-header-component();

  .card-component {
    @include tabs-component($dark-blue, $white, $primary-gray);
    .card-header-content {
      #participation-submodule {
        @media screen and (min-width: 768px) {
          #users-circle-chart-wrapper { float: right; }
          #users-email-only-circle-chart-wrapper { float: left; }
          #tile-emails-circle-chart-wrapper { float: left; }
        }
      }
      #tile-engagement-submodule {
        @media screen and (min-width: 768px) {
          #interactions-circle-chart-wrapper { float: right; }
          #total-views-circle-chart-wrapper { float: left; }
        }
      }
      #content-creation-submodule {
        @media screen and (min-width: 768px) {
          #tiles-posted-circle-chart-wrapper { float: right; }
          #tiles-percent-created-circle-chart-wrapper { float: right; }
          #tiles-percent-suggestion-circle-chart-wrapper { float: left; }
        }
      }
    }
    .card-content {
      min-height: 521px;
      .chart-controls-group {
        text-align: center;
      }
    }
  }

  .date-switch-toolbar {
    @include toolbar-inline-list-component($white, $primary-gray, $dark-blue, $n-blue)
  }
}
