<div class="multiple_choice_group content_sections">
  <%= content_tag "div", class: "tile_multiple_choice_answer" do %>
    <%= content_tag :div , "Success! Check old to confirm", class: 'clicked_right_answer' %>
  <%end%>
</div>
