<div class="multiple_choice_group content_sections">
  <%= content_tag "div", class: "tile_multiple_choice_answer" do %>
    <%= content_tag :div , "Confirmation email was sent to your current address. Please, confirm your change!", class: 'clicked_right_answer' %>
  <%end%>
</div>
