<% ie_link ||= nil %>
<!-- Unsubscribe/Update Preferences -->
<table width="480" align="center" cellpadding="0" cellspacing="0" border="0" class="columns" style="border-top:1px solid #dfdfdf;">
<tr>
  <td width="160" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#dfdfdf;mso-line-height-rule:exactly;line-height:18px;padding-top:20px;padding-bottom:20px;padding-left:20px;border-left:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;border-bottom-left-radius:4px;">
    <%= link_to "Unsubscribe", email_unsubscribe_link(@user), {style: "color:#dfdfdf;text-decoration:none;", target: "_blank"} if @user.present? %>
  </td>
  <td width="280" align="right" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#dfdfdf;mso-line-height-rule:exactly;line-height:18px;padding-top:20px;padding-bottom:20px;padding-right:20px;border-right:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;border-bottom-right-radius:4px;">
    &nbsp;
    <% unless @user.nil? || @user.unclaimed? || @not_show_settings_link %>
      <%= link_to "Update Preferences", email_account_settings_link, {style:"color:#dfdfdf;text-decoration:none;", target: "_blank"} %>
    <% end %>
  </td>
</tr>
</table>

<!-- footer -->
<table width="480" align="center" cellpadding="0" cellspacing="0" border="0" class="columns">
<tr>
  <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:11px;color:#a8a8a8;;mso-line-height-rule:exactly;line-height:18px;padding-top:20px;padding-bottom:30px;padding-left:10px;padding-right:10px;" class="columnNormal">
    <span style="color:#a8a8a8 !important;">
      This email is unique for you. Please do not forward it.
      For assistance contact <a href="mailto:support@airbo.com" style="text-decoration:none;color:#a8a8a8;">support@airbo.com</a>.
      Our mailing address is 1600 Main Street, Venice CA 90291.
      By using our site, you agree to our
      <a href="https://www.airbo.com/terms" style="color:#a8a8a8;" target="_blank">Terms and Conditions</a>
      and
      <a href="https://www.airbo.com/privacy" style="color:#a8a8a8;" target="_blank">Privacy Policy</a>.
      <% if ie_link.present? %>
        <br/><br/>
        <span style="font-weight:bold">
          If using a web browser that's IE8 or below, copy and paste this link into IE8 and above, Firefox or Chrome:
          <span style="color: blue;"><%= ie_link %></span>
        </span>
      <% end %>
    </span>
  </td>
</tr>
</table>
