<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta name="format-detection" content="telephone=no">
<style type="text/css">
.ReadMsgBody {width:100%;background-color:#ffffff;}
.ExternalClass {width:100%;background-color:#ffffff;}
.ExternalClass,.ExternalClass p,.ExternalClass span,.ExternalClass font,.ExternalClass td,.ExternalClass div {line-height:100%;}
body {-ms-text-size-adjust:none;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;color:#445560;font-family:Helvetica,Arial,sans-serif;font-size:12px;margin:0;padding:0;}
ul, ol, p {margin:0;}
table {border-spacing:0;}
table td {border-collapse:separate;}
.yshortcuts a {border-bottom:none!important;}
img { -ms-interpolation-mode:bicubic;}
.appleLinks a {color:#dfdfdf;text-decoration:none;}
.appleLinks2 a {color:#2e2e2c;text-decoration:none;word-break:break-all;}
@media screen and (max-width:480px) {
  table[class=columns] {padding-left:10px!important;padding-right:10px!important;border-collapse:separate!important;width:100%!important;}
  table[class=columnsNoPadding] {width:100%!important;border-collapse:separate!important;width:100%!important;}
  td[class=column] {display:block;font-size:16px!important;padding-left:0!important;padding-right:0!important;width:100%!important;}
  td[class=horizontalGap]{}
  td[class=verticalGap]{display: none;}
  td[class=columnNormal] {display:block;padding-left:0!important;padding-right:0!important;width:100%!important;height:auto!important;}
  img[class=imageScale] {margin:0!important;width:100%!important;height:auto!important;}
  span[class=newLineMobile] {display:block;padding-top:10px;padding-bottom:10px;}
  .columnNormalBorder {border-left:1px solid #dfdfdf;display:block;padding-left:0!important;padding-right:0!important;width:100%!important;height:auto!important;}
}
</style>
<title>
  <%= @presenter.try(:title) || @title || "Airbo" %>
</title>
</head>
