<% button_font_size ||= '18px' %>
<% button_url_options ||= {} %>
<% works_on_mobile = true if works_on_mobile.nil? %>
<center>
  <table width="436" cellpadding="0" cellspacing="0" border="0" class="columnsNoPadding" style="width: 100% !important;">
    <tr>
      <td bgcolor="#48BFFF" align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:<%= button_font_size %>;color:#ffffff;">
        <%= link_to button_text, button_url, button_url_options.merge({style:'color:#ffffff;text-decoration:none;display:block;border-left:10px solid #48BFFF;border-right:10px solid #48BFFF;border-top:15px solid #48BFFF;border-bottom:15px solid #48BFFF;'}) %>
      </td>
    </tr>
    <tr>
      <td align="center" style="font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#a8a8a8;padding-top:20px;padding-bottom:50px;">
				<% unless defined?(hide_no_login) %>
					<span class="newLineMobile">You won't have to log in.</span>  
				<% end %>
        <%= works_on_mobile ? "Works on mobile." : "" %>
      </td>
    </tr>
  </table>
</center>
