<%= render 'email_command_mailer/replies_above_this_line' %>

<p>That ID <%= @user.claim_code %> is already taken. If you're trying to register your account, please send in your own ID first by itself in the body of an email.</p>

<%= render 'email_command_mailer/footer' %>
