<p>Hi <%= @friend_name %>,</p>

<p><%= @user_name %> has asked to be your friend on H Engage.</p>

<table border="0" cellspacing="0" cellpadding="0" style='margin-bottom: 20px'>
  <tr>
    <td style="border:1px #2b8838 solid; background:#39b149;">
      <table border="0" cellspacing="0" style="background:#39b149; border-top:1px #4edf61 solid;">
        <tr>
          <td>
            <%= link_styled_like_button "Accept", accept_friendship_url(@user_id, @friendship_id) %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= render 'shared/unsubscribe_footer' %>
