<p><%= @follower_name %> has asked to be your fan on H Engage.</p>

<p>To accept this request, please reply to this email with <%= @accept_command %></p>

<p>or to ignore it, <%= @ignore_command %></p>

<p>--H Engage</p>
