\
Hi #{@friend_name},
\
#{@user_name} has asked to be your friend on H Engage.
\
To accept this request, click #{accept_friendship_url(@user_id, @friendship_id)}
\
=render 'shared/unsubscribe_footer'
