<p>Hi <%= @friend_name %>,</p>

<p><%= @user_name %> has asked to be your friend on H Engage.</p>
<%= link_styled_like_button "Accept", accept_friendship_url(@user_id, @friendship_id) %>
<%= render 'shared/unsubscribe_footer' %>
