<div style="margin:30px auto 10px auto; width:550px;">
    <p>Hi <%= @friend_name %>,</p>

    <p><%= @user_name %> has asked to be your connection on H.Engage.</p>
    <div style="font-size:16px;-webkit-text-size-adjust: none;">
        <%= link_styled_like_button "Accept", accept_friendship_url(@user_id, @friendship_id) %>
    </div>
</div>
<%= render 'shared/unsubscribe_footer' %>
