%p Welcome to H.Engage!

%p 
  Someone, quite possibly you, has created an account with H.Engage. If that's not you, just
  = link_to "click here to cancel this account", @cancel_account_url, method: :delete

%p Otherwise, have fun!

= render 'shared/unsubscribe_footer'
