!!! XML
!!!
%html
  %head

%body
  %center
    %table{:cellpadding => "0", :cellspacing => "0", :width => "600", :style => "box-sizing:border-box; color:#909090; font-family:Helvetica, Arial, sans-serif;"}
      %tr
        %td
          %p 
            Welcome to the 
            = @board_name
            on H.Engage.

          %p 
            If you didn't create this account, just
            = link_to "click here to cancel.", @cancel_account_url, method: :delete

      %tr
        %td{:height => "20", :style => "line-height:0; font-size:0;"}
          &nbsp;

      %tr
        %td
          = render 'shared/unsubscribe_footer'
