<div id="main">
  <h2>A social game played over SMS</h2>

  <p>While you eat a banana and cereal for breakfast, you send an SMS to H Engage:</p>
  <pre><code>#plu 4042</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Sweet. +2 points. Bananas help you fight cancer.</code></pre>

  <p>You walk to the train station to commute to work. While you wait for the train, you send an SMS:</p>
  <pre><code>#walk 10 minutes</code></pre>

  <p>A few seconds later, you get a reply:</p>
  <pre><code>Nice job. +1 point. Walking improves bone health.</code></pre>
</div>

<div id="secondary">
  <h2>Community Stats</h2>

  <ul id="community-stats">
    <li>124 vegetables eaten</li>
    <li>230,450 minutes walked</li>
  </ul>

  <h2>Top Players</h2>

  <ul id="top-players">
    <li>
      <a href="#"><img src="http://avatar.statusok.com/Croaky?size=24" />Dan Croak</a>
      <span class="player-points">
        <strong>145</strong> points
      </span>
    </li>
    <li>
      <a href="#"><img src="http://avatar.statusok.com/vladig17?size=24" />Vlad Geyster</a>
      <span class="player-points">
        <strong>132</strong> points
      </span>
    </li>
  </ul>
</div>
