<div class="final-cta">
  <div class="wrap">
    <div class="image-container mx-auto">
      <%= image_tag "airbo_hot_air_balloons.png", class: "final-image" %>
    </div>
    <h4 class="header mx-auto">Interested in learning more?</h4>
    <%= link_to "Schedule a Demo", "#", class:"button pink main-hero-cta-link js-marketing-site-cta", data: { path: new_demo_request_path, cta: "about-cta" } %>
  </div>
</div>
