<div class="leadership">
  <div class="row header-row">
    <div class="leadership-header-container mx-auto text-center">
      <h3 class="header">Leadership</h3>
      <p class="subheader">Our leadership team brings together expertise across human resources, educational psychology, product, design, engineering, and marketing to help build the future of employee engagement.</p>
    </div>
  </div>
  <div class="employees">
    <%= render partial: "pages/partials/about/employee", locals: {
      opts: {
        name: "Vlad Gyster",
        title: "Founder, CEO",
        image: "marketing_site/airbo_employees/vlad.jpg",
        linkedin_username: "vladgyster",
        bio: "Vlad has spent ten years helping Human Resources understand and adopt emerging technologies like mobile, gamification, and social media. Prior to starting Airbo, Vlad spent five years at Willis Towers Watson. There, he cofounded the social media practice and worked with Fortune 500 companies like 3M and American Express to implement strategies to engage employees in the HR ecosystem.
        <br><br>

        Vlad is a frequent speaker at HR conferences and contributes to publications like Fortune, Employee Benefit News, IHRIM, and SHRM. He resides in Venice, CA, where he occasionally sneaks out of the office to surf.".html_safe
      }
    } %>

    <%= render partial: "pages/partials/about/employee", locals: {
      opts: {
        name: "Kate Bernier",
        title: "Director of Customer Success",
        image: "marketing_site/airbo_employees/kate.jpg",
        linkedin_username: "kate-bernier",
        bio: "Kate joined Airbo in 2012 from Starwood Hotels, where she was a front-line HR manager working with a diverse employee population. As the Director of Customer Success, she applies her first hand HR knowledge to help launch and service clients from 20 to 100,000 employees.
        <br><br>

        Kate holds a BA in Business Administration, with a focus on human resources, from the University of Vermont and resides in Los Angeles, California.".html_safe
      }
    } %>
  </div>
</div>
