<div class="main-hero">
  <div class="wrap">
    <div class="copy">
      <h1 class="main-hero-header">Hi there, we’re Airbo.</h1>
      <h4 class="main-hero-subheader">We help HR create a workplace that employees love.</h4>
    </div>
  </div>
</div>
