<div class="timeline">
  <div class="intro-image">
    <%= image_tag "airbo-venice-fireworks.svg", class: "mx-auto d-block" %>
  </div>
  <div class="intro-story mx-auto">
    <p>Every day, we’re inspired by the amazing work HR managers do for their organizations. From connecting employees with benefits that improve their lives, to promoting a company culture that attracts and retains great talent.</p>

    <p>But we noticed a big problem: Over the last ten years, as attention spans plummeted, the importance of employee engagement in the success of HR programs skyrocketed. Traditional communication tools like dense emails and intranets no longer cut it.</p>

    <p>Over the last six years, we’ve worked to understand how to make HR communications as delightful as an employee’s favorite app. Through R&D with some of the world's greatest companies, We developed a methodology and technology that’s used by over 100,000 employees at organizations in every major industry.</p>
  </div>
  <div class="timeline-image mx-auto">
    <%= image_tag "marketing_site/airbo_timeline_web.svg" %>
  </div>
  <div class="timeline-image-mobile mx-auto">
    <%= image_tag "marketing_site/airbo_timeline_mobile.svg" %>
  </div>
</div>
