.all_tile_thumbnails {
  background: transparent;
  margin:2em auto 1em auto;
  padding:0 1em;
  text-align: center;
}
.tile_thumbnail {
  display: inline-block;
  text-align:center;
  min-width: 143px;
  width:100%;
  max-width:238px;
  vertical-align: top;
  li {
    list-style-type: none;
    position: relative;
    width:100%;
  }
  a, a:link, a:visited {
    display:inline-block;
    width:100%;
    &:after {@include clear;}
  }
  .tile-wrapper{
    @include ease(.025s);
    border-bottom:5px transparent solid;
    display: inline-block;
    position: relative;
    width:100%;
    &:hover {border-color:$orange;}
    
    .tile_thumbnail, .headline {
      margin:0 auto;
      width:100%;
    }
    .tile_thumbnail{
      background-color:$text-color;
      background-position:center center;
      background-repeat:no-repeat;
      display: block;
      height:9em;
      position: relative;
    }

    .headline{
      background:$text-color;
      min-height:6.5em;
      position: relative;
      padding: .75em .75em;
      text-align: left;
      &:after{@include clear;}
      .text{
        color: $white;
        font-family:$open-400;
      }
    }
  }
}
#tile_links {
  text-align: center;
  padding:0;
  a {margin:0;}
  .show_more_tiles {
    @include pop-button($blue);
    display: block;
    padding:.75em 0 .6em 0;
    &:before, &:after {
      @include arrow-bottom(lighten($blue, 10%));
      margin:0 1em;
    }
    &:hover {
      background:darken($blue, 4%);
      border-color:darken($blue, 10%);
    }
  }
  #client_admin_tile_links {
    a {
      @include link($blue);
      display: inline-block;
      font-size:1em;
      margin:1em;
    }
  }
}
