.tile_thumbnail {
  display: inline-block;
  text-align:center;
  min-width: 140px;
  width:100%;
  max-width:238px;
  position: relative;
  vertical-align: top;
  li {
    list-style-type: none;
    padding-bottom:.5em;
    position: relative;
    width:100%;
  }
  a, a:link, a:visited {
    display:inline-block;
    width:100%;
    &:after {@include clear;}
  }
  .tile-wrapper{
    @include ease(.025s);
    display: inline-block;
    position: relative;
    width:100%;
    
    .tile_thumbnail_image, .headline {
      margin:0 auto;
      width:100%;
    }
    .tile_thumbnail_image{
      background-color:$dark-gray;
      background-position:center center;
      background-repeat:no-repeat;
      background-size:100%;
      display: block;
      height:9em;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
      }
    }

    .headline{
      background:$white;
      min-height:7.25em;
      position: relative;
      padding: .5em;
      text-align: left;
      &:after{@include clear;}
      .text{
        color: $dark-gray;
        @include font-light;
        font-size:1em;
      }
    }
  } 
}
#tile_links {
  text-align: center;
  padding:0;
  a {margin:0;}
  .show_more_tiles {
    @include app-button($blue);
    display: block;
    padding:.75em .5em 0.6em;
    &:before, &:after {
      @include arrow-down(lighten($blue, 10%), 8px);
      margin:0 1em;
      position: relative;
      vertical-align: middle;
    }
    #show_more_tiles_spinner {display: inline-block; vertical-align: top;}
  }
  #client_admin_tile_links {
    a {
      @include light-button($white, $blue);
      display: inline-block;
      font-size:.875em;
      margin:1em .25em;
    }
  }
}
