// hover delta is per side
$thumb_dim: 238px;
$thumb_hovered_dim: 258px;
$thumb_margin: 12px;
$tile_wrapper_dim: 254px;
$headline_overlay_top: 148px;


#carousel_wrapper{
  margin-top:2em;
  .jcarousel-container{
    width: 100%;
    padding: 0 3em;
  }
  .jcarousel-clip{
    width: 100%;
    height: 100%;
  }
  .jcarousel-item{
    display: inline-block;
    margin-right: 0px;
    height: 264px;
    text-align:center;
    width: 299px;
    

    a, a:link, a:visited {
      display:inline-block;
      .tile-wrapper{
        display: inline-block;
        height: $tile_wrapper_dim;
        width: $tile_wrapper_dim;

        .white_box_with_shadow{
          display: inline-block;

          .tile_thumbnail{
            @include ease(.025s);
            background-color:#272727;
            background-position:center center;
            background-repeat:no-repeat;
            box-shadow: 0px 0px 3px $gray;
            display: inline-block;
            height: $thumb_dim;
            margin-top:.65em;
            width: $thumb_dim;
            &:hover{
              height: $thumb_hovered_dim;
              margin-top:0;
              width: $thumb_hovered_dim;
              .headline_overlay{height:41%;}
            }
            
            .headline{
              height:100%;
              position: relative;
              text-align: left;
              &:after{@include clear;}
              .headline_overlay{
                height: 40%;
                width: 100%;
                background: black;
                opacity: 0.8;
                position: absolute;
                bottom:0;
              }
              .text{
                bottom:0;
                position: absolute;
                width:238px;
                color: white;
                z-index: 10;
                height:40%;
                padding: .5em;
                font-size: 1.15em;
                font-weight: 300;
                line-height: 1.15em
              }
            }
          }
        }
      }
    }
  }

  // =========== Buttons ===========
  .jcarousel-prev-horizontal, .jcarousel-next-horizontal {
    background:image-url('v5/sprites.png') no-repeat transparent;
    top:45%;
  }
  .jcarousel-prev-horizontal{
    background-position: 0px -106px;
    left: 0;
    &:hover, &:focus {background-position:-34px -106px;}
  }
    .jcarousel-prev-disabled-horizontal,
    .jcarousel-prev-disabled-horizontal:hover,
    .jcarousel-prev-disabled-horizontal:focus,
    .jcarousel-prev-disabled-horizontal:active {
        background-position: -68px -106px;}
  .jcarousel-next-horizontal{
    background-position: 0px -140px;
    right: 0;
    &:hover, &:focus {background-position:-34px -140px;}
  }
    .jcarousel-next-disabled-horizontal,
    .jcarousel-next-disabled-horizontal:hover,
    .jcarousel-next-disabled-horizontal:focus,
    .jcarousel-next-disabled-horizontal:active {
      background-position: -68px -140px;}

  .jcarousel-item-placeholder{
    // The placeholder width is being set to near zero
    // We don't want placeholders to actually show, since they 
    // show up after tiles are completed and we click on a thumbnail.
    // We want their size to be non-zero so the jcarousel library
    // doesn't throw a "Error: jCarousel: No width/height set for items. This will cause an infinite loop. Aborting..." error
    // So we set it to NEAR zero
    background: none;
    width: 1px;
  }
}
