// Page where the fullsize tile sits
body.client_admin-tiles-new, 
body.client_admin-tiles-create,
body.client_admin-tiles-edit,
body.client_admin-tiles-show,
body.client_admin-tiles-update,
.tiles.tiles-index {
  background:$tile-wall-bg;
}

// Actual tile, holds everything together
.tile_holder {
  background:transparent;
  border-radius:$border-radius;
  box-shadow:0 0 1px 1px lighten($med-gray, 5%);
  @include font-regular;
  font-size:1em;
  display: block;
  margin:0 auto;
  overflow:hidden;
  position: relative;
  text-align: left;
  width:100%;
  &.client_created .tile_full_image {
    background:$text-color;
    padding:0;
  }
  &.admin_created .tile_full_image {
    background:$white;
    padding:.5em 0;
  }

  // Spinner
  #spinner_large {
    display: none;
    background:$light-gray;
    opacity: .75;
    filter: alpha(opacity=70);
    position: absolute;
    top:0;
    text-align: center;
    width:100%;
    height: 100%;
    img {
      margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
      position: absolute;
    }
  }
}

.tile_full_image {
  text-align: center;
  position: relative;
  img {
    width:auto; 
    max-width:100%;
    height:auto;
  }
  &:after{@include clear;}
}

// White copy area
.tile_texts_container {
  background:$white;
  line-height: 1.125em;
  padding-top:1em;
  .tile_headline, .tile_supporting_content, .tile_question, .multiple_choice_group, .tile_external_link {
    margin: 0 auto;
    width:86%;
  }

  .tile_headline {
    @extend h1;
    color:$dark-gray;
    line-height:1.15em;
    padding:.5em 0;
  }
  .tile_supporting_content {
    color:$text-color;
    font-size:1.25em;
    line-height:1.3em;
    margin-bottom:1em;
    margin-top:.75em;
  }

  // Gray quiz area
  .tile_quiz {
    background:lighten($light-gray, 8%);
    padding:0 0 1.5em 0;
    position: relative;

    // Points bar
    .tile_points_bar {
      background: #f7f7f7;
      background: -moz-linear-gradient(top,  #f7f7f7 0%, #f7f7f7 45%, #eaeaea 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(45%,#f7f7f7), color-stop(100%,#eaeaea));
      background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
      background: -o-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
      background: -ms-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
      background: linear-gradient(to bottom,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);

      border-top:1px $white solid;
      border-bottom:1px darken($light-gray, 2%) solid;
      box-shadow:  0px 0 1px 1px lighten($light-gray, 3%);
      height:47px;
      position: relative;
      &:after {@include clear;}
      .earnable_points {
        @include font-bold;
        background: $orange;
        @include light-to-color-gradient($orange, 10%);
        border: {
          style:solid;
          color:$light-gray;
          left:{width:1px;}
          right:{width:1px;}
          top:{width:0}
          bottom:{width:0}
        }
        box-shadow: inset 0px 1px 1px 1px lighten($orange, 10%);
        color:$white;
        display: inline-block;
        height:47px;
        margin-left:7%;
        overflow: hidden;
        padding:.75em 1em .85em;
        position:absolute;
        top:-1px;
        * {vertical-align: middle;}
        .num_of_points {
          font-size:2em;
          font-size:2rem;
          line-height:.75em;
        }
        .points_label {
          @include caption;
          margin-left:.5em;
          text-transform: uppercase;
        }
      }
    }
    // Question portion
    .tile_question {
      @include font-semibold;
      font-size:1.25em;
      line-height:1.35em;
      padding:1.5em 0 1em;
    }


    // Multiple choice answers
    .tile_multiple_choice_answer {
      margin:1em auto;
      width:100%;
      a, a:link, a:visited {
        @include app-button($blue);
        @include font-semibold;
        color:$white;
        display: block;
        font-size:1.25em;
        line-height:1em;
        padding:.5em 1em;
        &.clicked_wrong {
          background:darken($light-gray, 10%);
          border-color:$light-gray;
          color:$red;
          text-decoration: line-through!important;
        }
      }
    }

    .nerfed_answer:hover {
      background: $blue !important;
      border-color: darken($blue, 10%) !important;
    }

    .clicked_right_answer {
      background: $dark-green !important;

      &:hover {
        background: $dark-green !important;
      }
    }

    .wrong_answer_target {
      color:$gray;
      @include font-bold;
      padding:.5em;
      text-align: center;
    }
  }

  .tile_external_link {
    margin-bottom: 2em;
    font-size: 1.25em;

    .fa-external-link {
      color: $med-gray;
      font-size: 75%;
    }
  }
}
