.tile_thumbnail {
  display: inline-block;
  padding:0;
  width:24%;
  li {padding-bottom:0;}
  .tile-wrapper{
    .tile_thumbnail_image {height:12em;}
    .headline {
      height:7.5em;
      padding:.75em;
      .text {
        @include font-regular;
        font-size:1.125em;
        line-height: 1.3em;
      }
    }
  }
  &.ignored {
    .tile_thumbnail_image {
      opacity: 0.5;
    }
    .headline {
      background: $lightest-gray;
      .text {
        color: $med-gray;
      }
    }
  }
}

// Placeholder tile thumbnail
.tile_thumbnail.placeholder_tile, .creation-placeholder a {height:19.5em;}
