// Actual tile, holds everything together
.tile_holder {
  background:transparent;
  border:2px $light-gray solid;
  @include font-regular;
  font-size:1em;
  display: block;
  margin:0 auto;
  position: relative;
  text-align: left;
  width:100%!important;
  &.client_created .tile_full_image {
    background:$text-color;
    padding:0;
  }
  &.admin_created .tile_full_image {
    background:$white;
    padding:.5em 0;
  }

  // Spinner
  #spinner_large {
    display: none;
    background:$light-gray;
    opacity: .75;
    filter: alpha(opacity=70);
    position: absolute;
    top:0;
    text-align: center;
    width:100%;
    height: 100%;
    img {
      margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
      position: absolute;
    }
  }
}

.tile_full_image {
  text-align: center;
  position: relative;
  img {
    width:auto; 
    max-width:100%;
    height:auto;
  }
  &:after{@include clear;}
}

// White copy area
.tile_texts_container {
  background:$white;
  line-height: 1.125em;
  padding-top:1em;
  .tile_headline, .tile_supporting_content {
    margin: 0 auto;
    width:86%;
  }
  .tile_headline {
    @include font-regular;
    color:$blue;
    font-size:2.25em;
    line-height:1.15em;
    padding:.5em 0;
  }
  .tile_supporting_content {
    color:$text-color;
    font-size:1.25em;
    line-height:1.3em;
    margin-bottom:.8em;
    margin-top:.75em;
    padding-bottom:2em;
  }

  // Gray quiz area
  .tile_quiz {
    background:$light-gray;
    padding:2em 0 2.5em 0;
    position: relative;

    // Points counter
    .tile_points {
      color:$orange;
      display: inline-block;
      text-align: center;
      
      position:absolute;
      top:0;
      left:7%;
      vertical-align: middle;
      span {
        @include font-bold;
        display:inline-block;
        padding:1em 0 .75em 0;
        vertical-align: middle;
        &.num_of_points {
          background:$orange;
          color:$white;
          font-size:2em;
          margin-right:.15em;
          width:2.125em;
        }
        &.points_label {
          font-size:1.25em;
        }
      }
    }

    // Question
    .tile_question {
      @include font-bold;
      font-size:1.25em;
      line-height:1.35em;
      margin: 0 0 0 23%;
      width:70%;
    }

    // Multiple choice answers
    .multiple_choice_group {margin-top:2em;}
    .tile_multiple_choice_answer {
      margin:1em auto;
      width:70%;
      a, a:link, a:visited {
        @include pop-button($blue);
        @include font-semibold;
        color:$white;
        display: block;
        font-size:1.25em;
        line-height:1.25em;
        padding:.75em 2em;
        &.clicked_wrong {
          background:darken($light-gray, 10%);
          border-color:$light-gray;
          color:$red;
          text-decoration: line-through!important;
        }
      }
    }

    .nerfed_answer:hover {
      background: $blue !important;
      border-color: darken($blue, 10%) !important;
    }

    .wrong_answer_target {
      color:$gray;
      @include font-bold;
      padding:.5em;
      text-align: center;
    }
  }
}
