
/* ---------- math ---------- */
$dark:darken($header-bg, 14%); 
$light:lighten($header-bg, 7%);

/* ---------- masthead ---------- */
.header {background-color:$dark-gray;}
.app_bar {
	@include full-width;
	background-color:$dark-gray;
	color:$gray;
	font-size:.85em;
	font-family:$open-400;
	margin:$centered;
	padding:.7em 0 .5em 0;

	a, a:link, a:visited {
		font-family:$open-400;
		color:$med-gray;
		text-decoration: none;
		&:hover {color:$dark-green;}
		&:active {
			color:$dark-gray!important; 
			text-shadow: none!important;
		}
	}
	li {
		display:inline;
		position:relative;
		&#nav-contact span {
			background:url('client_admin/sprites.png') top left no-repeat transparent;
			display:inline-block;
			float:left;
			position:relative;
			margin-right:-20px;
			width:18px;
			height:18px;
		}
	}

	
	&:after{@include clear;}
	.app_by {
		float:left;
		margin:$centered;
	}
	.app_settings {
		float:right;
		margin:0;
		li {padding-left:20px; font-size: 12px;}
	}
}

.your_photo{
  display: inline;
}
