$bin_width: 300px;
$suggestion_radius: 4px;
$pound_suggestions_padding: 10px;
$single_suggestion_border_width: 1px;
$light_green: #87BF4E;
$gold: #fd1;
$medium_radius: 12px;

.clear{clear: both;}

#invite_friends_top, #invite_friends_middle, #invite_friends_bottom{
  #relative{
    top: 0px;
  }
  label {font-weight: bold;}
}

#relative{
  /* this is relative so the child div will use it as a positioning reference*/
  position: relative;
  margin: 0 auto;
  width: $bin_width;
  top: -30px;
  left: -12px;
}


#suggestions{
  display: none;
  width:100%;
  padding:0;
  margin: 1em 0 0 0;
  z-index: 1;
  .remove_referrer{display: none;}
}

a.remove_referrer{
  color:$dark-green;
  position: absolute;
  left: auto;
  right: 4px;
  top: 1px;
    &:hover {
        color:lighten($dark-green, 15%)!important;
    }
}

.single_suggestion{
  border: 1px $light-gray solid;
  color:$dark-gray;
  margin-bottom:1em;
  padding: 10px;
  width: 100%;
  position: relative;
  &:hover{border-color:$blue;}
  &:after {@include clear;}
  .image {width:75px;}
  img {
    border:1px $light-gray inset;
    width:100%;
  }
  div.info {
    div.bit:first-child {
      color:$blue;
      font-size:1.15em;
      font-weight:700;
      padding:.5em 0;
    }
  }
}
.single_suggestion + .single_suggestion{
  margin-top: 2px; 
}
#autocomplete + .single_suggestion{
  margin-top: 5px;
}

.bit{
  font-size: 100%;
}
.info, .image{
  float: left;
}
.image{
  padding-right: 10px;
}
.suggested_user_id{
  display: none;
}

.first_half, .second_half{
  width: 500px;
  input{
    text-align: right;
  }
  label{
    display: none;
  }
}
.second_half{
  display: none;
}
body #facebox .content {
    height: 340px;
}
#potential_bonus_points{
  display: inline;
}
#bonus{
  display: none;
  color: $dark-green;
  font-weight: bold;
}
#autocomplete_status{
  color: $med-gray;
  width: 343px;
  padding-top: 4px;
  padding-bottom: 0px;
  .sending_success{
    color: $sky-blue;
    text-transform: none;
    font-size: 13px;
  }
}

#indented_to_match_inputs{
  margin: 0 auto;
  width: $bin_width + 40px;
  padding-bottom: 23px;
  margin-top: -12px;
}

div#search_for_referrer {
    div#autocomplete_status {
        color:$gray;
        margin:0;
        padding:0;
        top:-52px;
        display: none;
    }
    div#suggestions {
        div.single_suggestion {
            div.image {
                img {
                    border:1px $light-gray inset;
                    height:95px;
                    width:95px;
                }
            }
        }
    }
}





#points_per_referral{
  display: none;
}
/*
.inv-forms{
  a, a:visited, a:hover, a:active{
    color: #588B3D;
  }
}*/
.subtle_notice{
  font-size: 12px;
  padding: 6px 13px 0;
}

/*      ############# Stolen from another stylesheet ######################### */
div.helper {
  &:before {
    @include arrow-right($dark-gray, 8px);
    position:absolute;
    right:-8px;
    top:1em;
  }
  background-color: $dark-gray;
  color: #fff;
  display: none;
  padding: 10px;
  position: absolute;
  width: 175px;
  left: -187px;           
  z-index: 1;
}   

/* ###############################   END STOLEN  ################################# */
.relative{
  position: relative;
}
#selected_users_label{
  padding-bottom: 2px;
  padding-left: 1px;
}
#hide_me_while_selecting{
  display: none;
  background: #aaa;
  -moz-border-radius: $medium_radius;
  -webkit-border-radius: $medium_radius;
  border-radius: $medium_radius;
  padding-left: 7px;
  padding-bottom: 7px;
  width: 330px;  
}
.gold{color: $gold;}

#invite_friends_middle{ 
  #autocomplete{width: 100%;}
  .form-label{padding:1em 0;}
  .form-label label {
    font-weight:500;
    font-size:1em;
  }
}



#hide_me_while_selecting #submit_invite_friend{
  float: right;
  margin-top: 15px;
  margin-right: 10px;
}

#submit_invite_friend {
    margin-top:4px;
    a#invite_friends_link {
        margin-bottom: 4px;
        display: inline-block;
        font-size:11px;
    }
}
.bigger_message{
  font-size: 26px;
  line-height: 31px;
  padding-bottom: 1ex;
}
#search_for_friends_to_invite{
  .helper{
    top: -41px;
  }
}
.hidden{
  display: none;
}
.form-input .relative{
  z-index: 2;
}
.single_click_invite{
  position: absolute;
  right: 7px;
  bottom: 7px;
  @include light-button($sky-blue);
  margin-top: 10px;
  font-size: 1em;
  padding-left: 3em;
  padding-right: 3em;
}
.already_playing{
  position: absolute;
  right: 7px;
  bottom: 8px;
  color: $med-gray;
  font-size: .75em;
}
#why_invite{
  padding-bottom: 5px;
}
#signup-form{
  .single_click_invite, .already_playing{
    display: none;
  }
}
#show_me_the_site_holder{
  display: none;
  position: relative;
  padding: 10px 0;
  #show_me_the_site{
    position: absolute;
    right: 0;
    top:0;
  }
}
#facebox #show_me_the_site_holder{
  display: block;
}
