/* Board settings modal, and friends */
@import "mixins/placeholder_color";
@import "mixins/green_paddle_switch";

#leave_board_safety_modal {
  padding: 1rem;
  #close_safety_modal{
    position: absolute;
    top: -70px;
    right: 45px;
  }
  h1 {
    font-size: 18px;
    color: $red;
  }

  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #warning_first_part {
    font-size: 16px;
    font-weight: 400;
    color: $med-gray;
  }

  #warning_second_part {
    font-size: 10px;
    font-weight: 400;
    color: $text-color;
    text-transform: uppercase;
  }

  input[type="text"] {
    border: solid $med-gray 1px;
    font-size: 14px;
    @include placeholder-color($med-gray);
    color: $text-color;
    width: 60%;
    display: inline;
  }

  input[type="submit"] {
    display: inline;
    @include app-button($red);

    &:disabled {
      @include light-button($light-gray);
    }
  }
}

#board_settings {

  h1 {
    font-size: 24px;
    display: inline-block;
    color: $sky-blue;
    font-weight: 500;
    padding-bottom: 0.5rem;
    /* This is a tiny cheat to make the h1 line up with the h3's below it */
    //position: relative;
    //left: -2px;
  }

  #board_settings_content_wrapper {
    position: relative;
  }

  .close_board_settings_container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #close_board_settings {
    color: $text-color;
  }

  .control_section_header {
    //color: $sky-blue;
    //text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    //padding-bottom: 1rem;
  }

  .board_name {
    color: $med-gray;
    font-size: 14px;
    border: solid transparent 1px;
    padding: 0.4rem 0;
    margin: 0;
    overflow: hidden;
    //padding-bottom: 0;

    &.non_admin {
      //padding-top: 0.25rem;
    }

    &[contenteditable="true"] {
      width: 150%;
      &:focus {
        border-color: $med-gray;
      }
    }
  }

  /*.board_save_controls {
    text-align: right;
    min-height: $board_control_height;
    margin-bottom: $board_control_bottom_margin;
  }*/

  .delete_board_icon, 
  .save_board_name, .board_saving, 
  .board_saved, .edit_board_name_link{
    @include light-button($light-gray);
    float: right;
  }

  .board_saving, .board_saved {
    display: none;
  }

  .board_wrapper {
    padding-bottom: 0.5rem;
    min-height: 2.4rem;
    &:after{@include clear;}
    .board_name_column{
      float: left;
      width: 40%;
      overflow: hidden;
    }
    .email_column{
      float: left;
      width: 35%;
      text-align: center;
      .switch_container {
        display: inline-block;
        min-width: 122px;
        .switch {
          margin: 3px 7px;
        }
        .email_settings_subheader {
          width: 55px;
          display: inline;
          margin: 0 2px;
        }
      }
      #email_settings_header, .email_settings_subheader {
        font-size: 12px;
        color: $med-gray;
        text-align: center;
        width: 122px;
        margin: auto;
      }

      #email_settings_header {
        border-bottom: 1px $tile-wall-bg solid;
        padding-bottom: 2px;
        margin-bottom: 4px;
      }
    }
    .delete_column{
      float: none;
      width: auto;
      float: right;
      width: 25%;
      height: 25px;
      text-align: right;
      .delete_board_icon {
        padding-left: 0.2em;
        padding-right: 0.2em;
      }
      .cannot_delete {
        color: $red;
      }
    }
    &:hover {
      .edit_board_name_link, .save_board_name {
        @include light-button($sky-blue);
        display: block;
      }
      .delete_board_icon, .cannot_delete {
        display: block;
      }
    }
  }

  .board_save_error {
    float: right;
    color: $red;
    padding-top: 0.35rem;
    margin-bottom: 0.5rem;
  }

  .delete_board_icon:hover {
    @include light-button($red);
  }

  #user_board_controls.with_divider {
    border-top: solid $light-gray 1px;
    padding: 1em;
  }

  .switch{
    @include green-paddle-switch;
    margin-bottom: 0;
    margin-left: 0.3rem;
  }

  .digest_slider{
    float: left;
  }
}