@mixin board_settings_modal {
  @include standard_reveal_dimensions;
  width: 60%;
  left: 60%;
  background-color: $white;
}

#leave_board_safety_modal {
  @include board_settings_modal;
  #close_safety_modal{
    top: 0px;
  }
  input[type="text"] {
    width: 40%;
  }
}

#board_settings {
  @include board_settings_modal;
  .close_board_settings_container {
    top: 10px;
    right: 10px;
  }
  .board_wrapper {
    .delete_board_icon {
      padding-left: 1em !important;
      padding-right: 1em !important;
    }
    .edit_board_name_link, .delete_board_icon, .cannot_delete {
      display: none;
    }
    .cannot_delete{
      padding-top: 0.4rem;
    }
  }
}