.act {
    margin-bottom:2em;
    &:after {@include clear;}
    .avatar43, .act-details {display:inline-block; float:left;}
    .avatar43 {
        width:18%;
        max-width:55px;
        a {
            display: block;
            img {
                display: block;
                width:100%;
                height:auto;
            }
        }
        .points {
            border:1px $orange solid;
            color:$orange;
            display: block;
            font-family:$open-600;
            font-size:1em, 1rem;
            font-weight:bold, 600;
            padding: 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .act-details {
        padding-left:1em;
        position:relative;
        width:82%;
        .user {display: block;}
        .when, .flag {
            color:$light-gray;
            vertical-align: middle;
        }
        .flag {
            display:inline-block;
            margin-left:.5em;
            text-align: left;
            a {
                background:image-url('client_admin/sprites.png') -96px -54px no-repeat transparent;
                display:inline-block;
                height:14px;
                width:14px;
                &:hover{background-position:-119px -54px;}
            }
          }
    }
}
#see-more-spinner {
  display: block;  
  margin:0 auto;
  opacity:.5em;
}

// First login welcome
#get_started_lightbox {
    background:$white;
    line-height:1.35em;
    padding: 1.75em 2em 3.75em;
    position: absolute!important;
    top:4%!important;
    h2 {
        color:$blue;
        font-family:$open-600;
        line-height: 1.25em;
        margin-bottom:.65em;
    }
    &:after {
        @include arrow-bottom($white);
        border-width:1em;
        position:absolute;
        bottom:-1em;
        left:2em;
    }
    #close_get_started_lightbox {
        @include close-button;
        font-size:.75em;
        top: auto;
        right: auto;
        bottom: 1.5em;
    }
}
