h1.headline {border-top:1px $white solid}
.act {
    margin-bottom:2em;
    &:after {@include clear;}
    .avatar43, .act-details {display:inline-block;}
    .avatar43 img {border:$border-light; height:74px; width:74px;}
    .act-details {
        background:$white;
        float:right;
        position:relative;
        padding:1em;
        width:83%;
        &:before {
            @include arrow-left($white);
            position:absolute;
            top:1em;
            left:-8px;
        }
        .points {
            background:$orange;
            border:1px darken($orange, 5%) solid;
            color:$white;
            display: inline-block;
            float: right;
            font-weight:700;
            .point-value {
                border: {
                    top:1px lighten($orange, 7%) solid;
                    left:1px lighten($orange, 7%) solid;
                    right:1px lighten($orange, 7%) solid;
                    bottom:0;
                }
                display: inline-block;
                margin:0;
                padding:.1em .25em;
            }
        }
        .user {font-size:1.15em;}
        .description {padding:.75em 0;}
        .when, .flag {color:$med-gray; font-size:.85em; vertical-align: bottom;}
        .flag {
            display:inline-block;
            margin-left:.5em;
            text-align: left;
            a {
                background:image-url('client_admin/sprites.png') -96px -54px no-repeat transparent;
                display:inline-block;
                height:14px;
                width:14px;
                &:hover{
                    background-position:-119px -54px;
                }
            }
          }
    }
}