#search {
    height:40px;
    &:after{@include clear;}
    #search_string, .button_wrap {float:left;}
    #search_string, #find_button {
        font-size:1em;
        line-height: 1em;
        padding:.5em;
    }
    #search_string {
        font-family:$open-400;
        height:40px;
        margin:0; 
        padding:.85em;
        width:80%;
    }
    .button_wrap {width:20%;}
    #find_button {
        border-bottom:1px $dark-green solid;
        height:38px;
        width:100%;
    }
}

#notify_of_search {margin-bottom:2em;}

#other-users .user {
    margin-bottom:2em;
    &:after {@include clear;}
    .user-avatar, .user-info, .user-name_email, .follow_buttons {
        display:inline-block;
        vertical-align: top;
    }
    .user-avatar {width:20%;}
    .user-info {
        background:$white;
        float: right;
        padding:.75em;
        width:73%;
        position: relative;
        &:before {
            border-bottom: 8px solid transparent;
            border-right: 8px solid $white;
            border-top: 8px solid transparent;
            content:"";
            display:inline-block;
            top:1.15em;
            left:-8px;
            position: absolute;
        }
        &:after{@include clear;}
    }
    .user-name_email {
        width:100%;
        p {
            overflow: hidden;
            text-overflow: ellipsis;
            width:100%;
        }
        .name-of-user {font-size:1.285714286em;}
    }
    .follow_buttons {
        margin-top:.5em;
        width:100%;
    }
}

// affects Directory and Profile pages
.follow_buttons {
    .pending_notice {
        color:$med-gray;
        font-size:.857142857em;
    }
    .follow-btn, .stop-following-btn {
        @include pop-button($blue);
        @include ease(.15s);
        cursor: pointer;
        margin-bottom:.5em;
    }
}