@import "mixins/main_styles";
@import "external/_case_study";

.client_admin_explore_tile_tag{
  padding-left: 0;
  margin-bottom: 50px;
  ul {
    li {
      border: 1px solid $light-gray;
      h1 {
        display: inline;
        padding-left: 10px;
      }
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      &.explore_section{
        border-right: 0;
        text-align: center;
        background-color: $white;
        width: 22.5%;
        a {
          color: #000; 
        }
      }
      &.tile_tag{
        border-left: 0;
        background: $sky-blue;
        width: 77.5%;
        float: left;
        h1 {
          color: $white;
          padding-left: 20px;
        }
      }      
    }
  }
}

.tile_with_tags, .client_admin_explore .tiles {
  td {
    border-bottom: none;
    width: 24%;
    height: 1px;
    vertical-align: top;
  }
  .explore_tile {
    height: 26.75em;
    background-color: $white;
    border: 1px solid $light-gray;            
    border-radius: 2px;
    padding: 6px 6px;
    float: left;
    margin: 5px 13px 5px 0px;
    width: 92%;
    .organization {
      color: $dark-gray;
      font-size: 14px;
      height: 1.25em;
    }
    .creator{
      color: $med-gray;
      font-size: 12px;
      height: 1.25em;
    }
    .created_at{
      color: $med-gray;
      font-size: 10px;
      margin-bottom: 10px;
      height: 1.25em;
    }
    .tile_image{
      background-color:$dark-gray;
      background-position:center center;
      background-repeat:no-repeat;
      height: 12em;
    }
    .headline{
      background:$white;
      min-height:7.25em;
      position: relative;
      padding: .5em;
      text-align: left;
      &:after{@include clear;}
      .text{
        color: $dark-gray;
        @include font-regular;
        font-size:1.125em;
        line-height: 1.3em;
      }
      border: 1px solid $light-gray;
    }
    .all_tile_tags{
      .tile_tag {
        font-size: 10px;
        margin-top: 5px;
        margin-left: 4px;
        padding: 0px 6px 3px 6px;
        border-radius: 5px;
        display: inline-block;
        background-color: white;
        a {
          color: $med-gray;
        }
        border: 1px solid $light-gray;
      }
    }
  }
}
#tile_links{
  text-align: center;
    .show_more_tiles {
      @include app-button($sky-blue);
      padding:.75em .5em 0.6em;
      &:before, &:after {
        @include arrow-down(lighten($sky-blue, 10%), 8px);
        margin:0 1em;
        position: relative;
        vertical-align: middle;
      }
      &[disabled] {
        color: $light-gray !important;;
        @include app-button($med-gray);
        padding:.75em .5em 0.6em;
        
        &:before, &:after {
          visibility:hidden;
        }
      }
      #show_more_tiles_spinner {
        display: inline-block; 
        vertical-align: top; 
        height:1em;
      }
    }
}
@-moz-document url-prefix() {
  .tile_with_tags, .client_admin_explore .tiles {
    .explore_tile{  
      height: 26.75em;
      width: 82%;            
    }
  }
}

.explores {
  .explore_tile {
    height: 26.75em;
    .extra_tags_list{
      width: 21%;
      z-index: 9;
      background-color: $white;
      display: none;
      position: absolute;
      margin-top: 5px;
      border: 1px solid $light-gray;
      border-radius: 2px;
      .tile_tag {
        margin-top: 5px;
        margin-left: 4px;
        padding: 0 6px 3px 6px;
        border-bottom: 1px solid $light-gray;
        float: none;
        a {
          font-size: 10px;
          color: $med-gray;
        }
      }
      .tile_tag:last-child{
        border-bottom: none;
      }
    }
  }
}

.client_admin_explore{
  h1 {
    margin-left: -14px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .tags{
    .tag_name{
      background-color: $white;
      border: 1px solid $light-gray;
      color: $med-gray;
      padding: 6px 6px;
      width: 267px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }

    div:hover{
      border: 1px solid $sky-blue;
      color: $sky-blue;
      padding: 6px 6px;
      width: 267px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }
  }
}

