@import "mixins/main_styles";
@import "external/_case_study";
@import "mixins/small_tile_tag";

.client_admin_explore_tile_tag{
  margin-bottom: 50px;
  padding-left: 0;
  ul {
    li {
      border-bottom: 1px solid $med-gray;
      h1 {
        display: inline;
        padding-left: 10px;
      }
      padding-top: 20px;
      padding-bottom: 20px;
      float: left;
      &.explore_section{
        border-right: 0;
        text-align: left;
        width: 8%;
        padding-bottom: 5px;
        a {
          color: $sky-blue;
          font-size: 16pt;
          font-weight: 500;
        }
      }
      &.tile_tag{
        border-left: 0;
        width: 92%;
        float: left;
        color: $dark-gray;
        font-size: 16pt;
        font-weight: 500;
        padding-bottom: 5px;
        .fa{
          color: $dark-gray;
          font-size: 16px;
          padding-right: 10px;
        }
      }      
    }
  }
}

.tile_with_tags, .client_admin_explore .tiles {
  td {
    border-bottom: none;
    width: 25%;
    vertical-align: top;
    padding-right: 30px;
  }
  .explore_tile {
    border-radius: 2px;
    padding: 0;
    float: left;
    margin: 0;
    width: 92%;
    height: 100%;
    background: $white;
    position: relative;
    min-height: 408px;
    margin: 0 0 20px 0;

    .author_info{
      color: $tile-text;
      background: $white;
      font-size: 0.75em;
      padding: 0.625em 1em;
      font-weight: 700;
      overflow: hidden;

      > span{
        font-weight: 400;
        display: block;
      }
    }
    .created_at{
      color: $text-color;
      font-size: 10px;
      margin-bottom: 10px;
      height: 1.25em;
      float: right;
    }
    .tile_image{
      background-color:$dark-gray;
      background-position:center center;
      background-repeat:no-repeat;
      height: 12em;
      position: relative;

      > a{
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .company_name{
      background:$white;
      position: relative;
      padding: 0 1em;
      line-height: 40px;
      min-height: 40px;
      text-align: left;
      color: $sky-blue;
      font-size: 0.875rem;
      &:after{@include clear;}

      a{
        color: $sky-blue;
        display: block;
      }
      .fa{
        display: inline-block;
        width: 6.7%;
        vertical-align: middle;
        color: $text-color;
      }
      .text{
        @include font-regular;
        display: inline-block;
        width: 86%;
        padding-left: 0.5em;
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        margin-left: 0.7em;
        line-height: 1;
        vertical-align: middle;
        color: $text-color;

        &:before{
          content: '';
          position: absolute; top: 0; left: 40px; bottom: 0;
          border-left: 1px solid $light-gray;
        }
      }
    }
    .headline{
      background: $white;
      color: $text-color;
      font-size: 1em;
      line-height: 1.5;
      padding: 0.625em .6em;
      border-bottom: 1px solid $light-gray;
      overflow: hidden;
      height: 90px;

      a{
        color: $text-color;
        font-weight: 400;
      }
    }
    .like_copy_tile{
      padding: 0;
      line-height: 34px;
      height: 34px;
      color: $med-gray;
      font-size: 12px;
      position: absolute; bottom: 0; left: 0; right: 0;
      background: rgba($dark, 0.79);

      @mixin box-sizing(){
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
      }

      @mixin like_or_copy_control($color) {
        font-size: 12px;
        float: left;
        text-decoration: none;
        width: 50%;
        font-weight: 400;
        text-align: center;
        @include box-sizing;
        .fa{
          font-size: 12px;
          color: $color;
          margin: 0;
        }
        .like_message, .copy_message{
          font-size: 12px;
          font-weight: 500;
          color: $color;
          display: inline-block;
        }

        a{
          color: $color;
          text-decoration: none !important;
          margin-left: 0px;
          font-size: 12px;
          font-weight: 400;
        }
        color: $color;

        img.spinner{
          margin: auto;
          display: block;
          margin-top: 6px;
          width: 35px;
        }

      }

      .viewonly_message{
        font-size: 12px;
        font-weight: 400;
        color: $white;
        padding-left: 21px;
        text-decoration: none !important;
        display: block;
        text-align: center;

        .fa {
          margin: 0 2px 0 0;
        }
      }

      .tile_liked{
        @include like_or_copy_control($sky-blue);
        border-right: 1px solid $tile-text;
      }

      .tile_not_liked {
        @include like_or_copy_control($white);
        border-right: 1px solid $tile-text;
      }

      .copied {
        @include like_or_copy_control($sky-blue);

      }

      .not_copied {
        @include like_or_copy_control($white);
      }

      .copy_count {
        display:inline-block;
        padding-right:2px;
      }

      .copy_tile_link {
        padding-left: 2px;
      }
    }
    .all_tile_tags{
      background: $white;
      padding: 0 7px 5px 7px;
      .tile_tag {
        @include middle-tile-tag;
      }
    }
  }
}
#tile_links{
  text-align: center;
  .show_more_tiles {
    @include app-button($sky-blue);
    padding:.75em .5em 0.6em;
    &:before, &:after {
      @include arrow-down(lighten($sky-blue, 10%), 8px);
      margin:0 1em;
      position: relative;
      vertical-align: middle;
    }
    &[disabled] {
      color: $light-gray !important;;
      @include app-button($med-gray);
      padding:.75em .5em 0.6em;
      
      &:before, &:after {
        visibility:hidden;
      }
    }
    #show_more_tiles_spinner {
      display: inline-block; 
      vertical-align: top; 
      height:1em;
    }
  }
}


.explores {
  .reveal-modal {
    width: 548px;
    margin-left: -274px;
  }
  .explore_tile {
    .extra_tags_list{
      width: 100%;
      z-index: 9;
      background-color: $white;
      display: none;
      position: absolute;
      border: 1px solid $light-gray;
      .tile_tag {
        margin-top: 5px;
        margin-left: 4px;
        padding: 0 6px 3px 6px;
        border-bottom: 1px solid $light-gray;
        float: none;
        a {
          font-size: 10px;
          color: $med-gray;
        }
      }
      .tile_tag:last-child{
        border-bottom: none;
      }
    }
  }
}

.client_admin_explore{
  h1 {
    margin-left: -14px;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 2rem;
    color: $darker-gray;
  }
  
  .tags{
    .tag_name{
      background-color: $white;
      border: 1px solid $med-gray;
      color: $med-gray;
      padding: 6px 6px;
      width: 250px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }
    
    div:hover{
      border: 1px solid $sky-blue;
      color: $sky-blue;
      padding: 6px 6px;
      //width: 267px;
      display: inline-block;
      margin: 5px 10px 5px 0px;
    }
  }
}
.tile_tag_bar
{
  
}
.all_tag_bar_list{
  li{
    margin-top: 5px;
    margin-left: 3px;
    padding: 0px 6px 3px 6px;
    border-radius: 5px;
    display: inline-block;
    font-size: 10px;
    color: #a8a8a8;
    border: 1px solid #dfdfdf;
    a{
      color: #a8a8a8;
    }
  }  
}
.user_detail_nav_bar{
  text-align: center;
  border-right: 1px solid #dfdfdf;
  width: 21%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}
.nav_name{
  color: $dark-gray;
  font-size: 12px;
  font-face: bold;
  text-align: left;
}
.nav_creator{
  color: $dark-gray;
  font-size: 14px;
  font-face: bold;
  text-align: left;
}
.nav_date{
  color: $med-gray;
  font-size: 10px;
  text-align: left;
}
