/* --------------------------- faq --------------------------- */
body.pages-faq .content {
    // FAQ body content
    .left-col h1.headline {padding-bottom:0;}
    h1.Section- {
        background:$white;
        font-size:1.75em;
        margin:1em 0;
        padding:.5em;
    }
    h2.Subsection- {
        border-top:$border-dark;
        font-weight:500;
        font-size:1.15em;
        margin-top:.5em;
        padding:1em 0;
    }
    h3.Subsubsection- {
        color:$blue;
        font-size:1em;
        padding-bottom:1em;
    }
    .left-col .Standard, ul, ol {padding-bottom:1em;}
    .left-col ul, ol {list-style-type:disc; margin-left:1.25em;}

    // FAQ menu
    .need_help {

        margin-bottom:2em;
        .quick_tour_link {
            @include square-button($dark-green);
        }
        #contact_button {
            border:1px darken($gray, 5%) solid;
            margin-left:1em;
        }
        .contact_us_link {
            @include square-button($gray);
        }
    }
    .faq_menu {
        border-top:$border-dark;
        .tocindent .toc {
            padding:1em 0;
            a, a:link, a:visited {
                color:$text-color;
                font-size:1.15em;
                font-weight:300;
            }
        }
        .tocindent .tocindent {
            background:$white;
            padding:1em;
            a, a:link, a:visited {
                &:before {
                    content:"";
                    display: inline-block;
                    height:3px;
                    width:3px;
                    margin-right:.5em;
                    background:$light-gray;
                }
            }
            .tocindent {margin-left:1.25em;}
            .toc {
                border-top:0;
                padding:0 0 .35em 0;
            }
            a, a:link, a:visited {
                color:$dark-green;
                font-size:1em;
                font-weight:700;
                &:hover {color:darken($dark-green, 5%);}
            }
        }
    }
}