/* --------------------------- faq --------------------------- */
body.pages-faq .content {
    // FAQ body content
    .large-8 h1.headline {padding-bottom:0;}
    h1.Section- {
        background:$white;
        @include font-regular;
        font-size:1.75em;
        margin:1em 0;
        padding:.5em;
    }
    h2.Subsection- {
        border-top:$border-dark;
        @include font-bold;
        font-size:1.15em;
        margin-top:.5em;
        padding:1em 0;
    }
    h3.Subsubsection- {
        color:$blue;
        font-size:1em;
        @include font-bold;
        padding-bottom:1em;
    }
    .large-8.Standard, ul, ol {padding-bottom:1em;}
    .large-8 ul, ol {list-style-type:disc; margin-left:1.25em;}

    // FAQ menu
    .need_help {
        margin-bottom:2em;
        #contact_button {
            border:1px darken($gray, 5%) solid;
        }
        .contact_us_link {
            @include app-button($gray);
        }
    }
    .faq_menu {
        border-top:$border-dark;
        .tocindent .toc {
            padding:1em 0;
            a, a:link, a:visited {
                color:$text-color;
                font-size:1.15em;
                font-weight:300;
            }
        }
        .tocindent .tocindent {
            background:$white;
            padding:1em;
            .toc {
                border-top:0;
                padding:.35em 0;
            }
            .tocindent {padding:0 0 0 1em;}
            a, a:link, a:visited {
                color:$dark-green;
                font-size:1em;
                font-weight:700;
                &:hover {color:darken($dark-green, 5%);}
            }
        }
    }
}