//FIXME eventually merge default and js versions of classes
#flash, .flash-js {
  .row {
    padding:1em;
    position: relative;
  }
  .flash-content {
    padding-right:2em;
    line-height: 1.5em;
    a {border-bottom:1px $white dashed;}
  }
  .flash-close {
    position: absolute;
    bottom: 50%;
    right:1em;
    a {
      display: inline-block;
      @include font-bold;
      padding:.1em .3em;
    }
  }
}

#flash_failure, #flash_notice, #flash_success, #flash_info, .flash-js-msg {
  border:0;
  border-radius: 0;
  color:$white;
  @include font-regular;
  margin:0;
  padding:0;
  a {
    color:$white;
    @include font-bold;
  }
}
#flash_notice, #flash .notice, #flash_failure, #flash .failure, .flash-js .notice, .flash-js .failure {
  background: $n-red;
  .flash-content a {border-color:lighten($n-red, 30%);}
}
#flash_success, #flash .success, .flash-js .success {
  background: $n-green;
  .flash-content a {border-color:lighten($n-green, 30%);}
}
#flash_info, #flash .info, .flash-js .info {
  background: $dark-blue;
  .flash-content a {border-color:lighten($dark-blue, 30%);}
}
