@import "../mixins/lightbox.css.scss";
@import "flick/jquery-ui-1.8.10.custom.css";

#guest_conversion_form_wrapper {
  @include lightbox-form;
  form {
    margin-top: 1em;
  }

  .conversion_error {
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: $red;
  }

  #submit_conversion_form {
    @include light-button($sky-blue);
    margin-top: .5em;
  }

  .spinner {
    position: relative;
    top: 0.25em;
  }

  .ui-autocomplete {
    max-height: 9.5em;
    overflow-y: auto;
    overflow-x: hidden;

    a {
      color: $text-color;
      font-weight: normal;

      &#ui-active-menuitem {
        background: {
          image: none;
          color: $blue;
        }

        border: $blue;

        color: $white;
      }
    }
  }
}
