@import "../mixins/lightbox.css.scss";

#guest_conversion_form_wrapper {
  @include lightbox-form;
  form {
    margin-top: 1em;
  }

  .conversion_error {
    margin-top: 0.6em;
    color: $red;
  }
}
