
/* ---------- math ---------- */
$dark:darken($header-bg, 14%); 
$light:lighten($header-bg, 7%);

/* ---------- masthead ---------- */
.header {
	background-color:$dark-gray;
	font-weight:bold;
	
	a {
		color:#fff;
		&:hover {color:lighten($header-bg, 50%)!important;}
		&:active {
			color:$dark-gray!important; 
			text-shadow: none!important;
		}
	}
	li {
		display:inline;
		position:relative;
		&#nav-contact span {
			background:url('client_admin/sprites.png') top left no-repeat transparent;
			display:inline-block;
			float:left;
			position:relative;
			margin-right:-20px;
			width:18px;
			height:20px;
		}
	}
	
	.app_bar {
		color:$gray;
		font-size:$font-small;
		font-weight: 500;
		margin:$centered;
		padding:.5em 0 0 0;
		width:$body-width;
		&:after{
			clear:both;
			content:"";
			display:block;
		}
		a {
			font-size:$font-small;
			text-decoration: none;
			&:active {color:$gray!important;}
		}
		.app_by {
			float:left;
			margin:$centered;
		}
		.app_settings {
			float:right;
			margin:0;
			li {padding-left:20px; font-size: 12px;}
		}
	}
}
.your_photo{
  display: inline;
}
