@import "mixins/main_styles.css.scss";
$default: "Arial";
@import "screen.css.scss";
$small_cap_size: .625em;
$under_small_cap: .25em; // space under small cap text
$bar-height: 1.3em; // controls height of elements in Top Bar
$top-bar-height: #{($bar-height + $small_cap_size + $under_small_cap)};
@import "screen_tablet.css.scss";
@import "screen_desktop.css.scss";
@import "screen_large.css.scss";
@import "large_tile_viewer_desktop.css.scss";


body {
  border-top:none; font-size:16px; font-family:$default;
  h1.headline {@include font-bold;}
  a, a:link, a:visited {@include font-bold;}
}
.small_cap {
  @include font-bold;
  font-size:11px;
}

#jPanelMenu-menu {overflow:hidden!important;}

header {
  border-bottom:1px darken($header-color, 5%) solid;
  .small_cap {margin-bottom:.25em;}
  #logo a {height: 2.875em;}
  #logo a:hover {img {visibility: hidden;}}
  #explore_board, #manage_board, #user_info #me_toggle {&:after {font-family:'Lucida Sans Unicode', 'Arial Unicode MS', Arial;}}

  .admin_options #admin_toggle {
    font-family:'Lucida Sans Unicode', 'Arial Unicode MS', Arial!important;
    padding:.8em 0.3em;
  }
  .admin_options .client_admin_pages {
    margin:2px 0 0 -.3em;
  }

  #user_info p.user_numbers {font-size:1.3125em;}

  #user_info {padding-right: 0px;}

  #to_next_credit #progress_bar {
    height:1.3125em;
    span {
      margin:0;
      padding:0;
      top:#{(1.3125em / 2) - .25em};
    }
  }
  .user_options ul {
    right:1.15em;
    top:48px;
  }
}

/* -- Welcome modal -- */
#get_started_lightbox {
  // margin-left:-465px!important;
}

/* -- Full size tile -- */
.tile_holder {border:1px $med-gray solid;}
.tiles.tiles-index p#position {
  margin-left:0;
  left:81%;
}
.tiles.tiles-index .viewer,
.tile_previews.tile_previews-show .viewer {
  a#prev, a#next {
    width:2em;
    font-size: 0.7em;
  }
  a#prev {left:-2em;}
  a#next {right:3em;}
}
.tiles.tiles-index .tile_quiz,
.tile_previews.tile_previews-show .tile_quiz {
  .tile_points_bar {border-top-color:darken($light-gray, 2%)}
  .tile_points_bar .earnable_points {
    top:0;
    height:45px;
  }
}

/* -- Tile wall -- */
#tile_links .show_more_tiles {
  display: inline-block;
  width:14em;
}
.all_tile_thumbnails {
  padding:2em 1em;
  #justifier {max-width:305px;}
  #push_left {width:50%}
}
.tile_thumbnail {
  max-width:238px;
  width:100%;
}
.tile_thumbnail.placeholder_tile, .creation-placeholder a {height:20.75em;}
.tile_thumbnail.placeholder_tile {border:1px $white dashed;}
.tile_thumbnail .completed .tile-wrapper * {
  filter: alpha(opacity=50);
  opacity: 0.5;
}

/* -- Directory/seach -- */
#search h5 {
  color:$gray;
  display: block;
  padding-bottom:.5em;
}
#search #search_string {padding:.85em;}
