@import "mixins/standard_colors.css.scss";
@import "appbar.css.scss";
@import "screen_tablet.css.scss";
@import "screen_desktop.css.scss";
@import "screen_large.css.scss";

body {border-top:none; font-size:14px; font-family:$open-400;}
.all_tile_thumbnails {
  padding:2em 1em;
}
.tile_thumbnail {
  max-width:238px;
  width:100%;
}

.tiles.tiles-index p#position {
  margin-left:0;
  left:81%;
}