#IModal #IntercomNewMessageContainer{
  textarea{
    height: 314px !important;
  }
  .header{
    height: 110px;
    a {
      top: 9px;
    }
    // h1, h2{
    //   font-family: neue helvetica, helvetica, arial, sans-serif;
    // }
    h1{
      top: 40px;
      left: 14px;
      font-size: 23px;
    }
    h2{
      position: absolute;
      top: 68px;
      left: 14px;
      width: 47ex;
      line-height: 1.15;
    }
  }
}

// For some reason when we load this with the external layout, the widths come out
// screwed up. Therefore, for that case we will set the widths explicitly
.invitations #IModal{
  #IntercomNewMessageContainer, #IntercomMessageViewContainer, #IntercomMessageListView{
    width: 625px;
  }
}
