/* -- Large tile viewer -- */
.tiles.tiles-index,
.tile_previews.tile_previews-show,
.client_admin-tiles.client_admin-tiles-show,
.client_admin-stock_tiles.client_admin-stock_tiles-show,
#tile_preview_modal {
  .content .row {max-width:70em;}
  .tile_holder {
    font-size:1em;
    margin:0 auto;
  }

  // Large Prev and Next buttons
  .viewer {
    position:relative;
    max-width:46em;
    width:100%;
    #slideshow {
      padding-top: 0rem;
    }
    a#prev, a#next {
      position: absolute;
      color:darken($tile-wall-bg, 3%);
      background:darken($tile-wall-bg, 3%);
      border:1px darken($tile-wall-bg, 5%) solid;
      height:100%;
      top:0;
      width:3em;
      &:hover {
        color:darken($tile-wall-bg, 7%);
        background:darken($tile-wall-bg, 7%);
        border-color:darken($tile-wall-bg, 7%);
      }
      &:active {
        background:lighten($tile-wall-bg, 1%);
        color:lighten($tile-wall-bg, 1%);
      }
      &:after {
        margin-left:-1em;
        position:absolute;
        left:50%;
        bottom:50%;
      }
    }
    a#prev {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      left:-.5em;
      &:after {
        @include arrow-left(lighten($tile-wall-bg, 3%), 2em);
      }
      &:hover {
        &:after {
          border-right-color:lighten($tile-wall-bg, 5%);
        }
      }
    }
    a#next {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      right:-.5em;
      &:after  {
        @include arrow-right(lighten($tile-wall-bg, 3%), 2em);
      }
      &:hover {
        &:after {
          border-left-color:lighten($tile-wall-bg, 5%);
        }
      }
    }
  }

}
.client_admin-tiles.client_admin-tiles-show {
  .content .row {max-width:71.25em;}
}
