body {
    font-size:14px;
    * {
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
        font-family:$sans;
    }
}
.masthead{
    background:#f1f1f1;
    border-top:$border-light;
    border-bottom:4px $white solid;
    a {@include ease;}
}
.mast_top, .mast_bottom {margin:$centered;  width:$body-width;}

/* -- game nav -- */
.mast_top {
    border-bottom: $border-dark;
    font-size:1.25em;
    padding:20px 0;
    position: relative;
    &:after{
        clear: both;
        content:"";
        display: block;
    }
    #logo-container, #welcome-text, #navigation {
        display: inline-block;
        vertical-align: middle;
    }
    #logo-container {
        max-width:152px;
        img {max-width:152px;}
    }
    #navigation {
        position: absolute;
        top:35%;
        right: 0;
        li {
            display: inline-block;
            margin-left:2em;
            &:first-of-type {margin-left:0;}
            a {
                color:$text-color;
                font-weight: 300;
                &:before{
                    background:image-url('v5/sprites.png') -1px -1px transparent no-repeat;
                    content:"";
                    display:inline-block;
                    height:16px;
                    margin-right:.35em;
                    width:18px;
                }
                &:hover {border-bottom:2px $dark-green solid;}
                &.nav-home:hover:before {background-position:-1px -22px;}
                &.nav-tiles {
                    &:before {background-position:-28px -1px;}
                    &:hover {&:before {background-position:-28px -22px;}}
                }
                &.nav-activity {
                    &:before {background-position:-55px -1px;}
                    &:hover {&:before {background-position:-55px -22px;}}
                }
                &.nav-directory {
                    &:before {background-position:-83px 0px;}
                    &:hover {&:before {background-position:-83px -21px;}}
                }
            }
        }
    }
    #welcome-text {
        margin-left:1em;
        position:relative;
        p {
            background:$white;
            color:lighten($gray, 10%);
            display: inline-block;
            float:left;
            padding:.45em;
            a {
                color:$gray; font-weight:500;
                &:hover {color:$dark-green;}
            }
        }
        &:before {
            border-bottom: 8px solid transparent;
            border-right: 8px solid $white;
            border-top: 8px solid transparent;
            content:"";
            display:inline-block;
            float:left;
            margin-top:10px;
        }
    }
}

/* -- nav active states -- */
body.acts .nav-home, body.tiles .nav-tiles, 
body.users-show .nav-activity, body.users-index .nav-directory {font-weight:700!important;}
body.acts .nav-home:before {background-position:-1px -22px!important;}
body.tiles .nav-tiles:before {background-position:-28px -22px!important;}
body.users-show .nav-activity:before {background-position:-55px -22px!important;}
body.users-index .nav-directory:before {background-position:-83px -21px!important;}

/* -- game stats -- */
.mast_bottom {
    border-top:$border-light;
    &:after {@include clear;}
    .bar_section {
        display:inline-block;
        float:left;
        font-size:.85em;
        padding:20px 0;
        p {display: inline-block;}
    }
    #bar_command {
        border-right:$border-dark;
        padding:21px 0;
        width:336px;
        input {float:left;}
        input[type="text"] {
            border:$border-dark;
            color:$orange;
            font-weight:700;
            margin:0;
            outline:0;
            padding:.95em;
            text-transform: uppercase;
            width:268px;
            &:focus {border:1px $orange solid;}
        }
        input[type="submit"] {
            background:$gray;
            border:0;
            color:$white;
            font-size:1em;
            font-weight: 700;
            margin:0;
            padding:1.03em;
            text-transform: uppercase;
            &:hover {background:darken($gray, 5%);}
        }
    }
    #bar_progress {
        border-left:$border-light;
        padding-left:2em;
        position: relative;
        .bar {
            background:#3f3f3f;
            display:inline-block;
            height:40px;
            position:relative;
            width:287px;
        }
        .progress {
            background:image-url('v5/bar.png') no-repeat center left transparent;
            height:100%;
            position:absolute;
        }
        p {
            color:$white;
            font-weight:700;
            margin:0;
            padding:0;
            position:absolute;
            right:1em;
            top:40%;
        }
    }
    #bar_tix, #bar_me {.label{color:$med-gray;}}
    #bar_tix {
        &:before {
            background:image-url('v5/sprites.png') $orange no-repeat 5px -38px;
            content:"";
            display:inline-block;
            float:left;
            height:40px;
            width:40px;
        }
        ul {
            display: inline-block;
            margin-left:1em;
            width:72px;
        }
        #tix_count {
            color:$orange;
            font-size:1.85em;
            font-weight: 700;
            line-height:1.15em;
        }
        .label:before {
            background:image-url('v5/sprites.png') no-repeat transparent -40px -47px;
            content:"";
            display:inline-block;
            height:10px;
            margin-right:.35em;
            width:11px;
        }
    }
    #bar_me {
        float:right;
        padding:18px 0;
        width:192px;
        img, ul {display: inline-block; vertical-align: middle;}
        img {border:1px $white solid; width:48px}
        ul {margin-left:1em;}
        #xp_count {
            color:$gray;
            font-size:1.85em;
            font-weight:300;
            line-height:1.15em;
        }
    }
}