// ====== Off canvas nav
header nav {display: none;}
header #small-toggle.off-canvas-toggle a {
  background:$dark-gray;
  color:$white;
  padding:1em;
  position: absolute;
  left:0;
  top:1rem;
}
#jPanelMenu-menu {
  background:$dark-gray;
  padding-top:1rem;
  a {
    @include font-semibold;
    color:$white;
    display: block;
    padding:1em;
    &:active {
      background:lighten($dark-gray, 5%);
    }
  }
  #desktop-toggle.off-canvas-toggle {display: none;}
  ul li + li {border-top:1px lighten($dark-gray, 7%) solid;}
  .board_settings_toggle_wrapper{ display: none; }
  .explore_menu {
    display: inline-block;
    #explore_board { // ====== Manage Board toggle
      background:lighten($dark-gray, 10%);
      display: block;
      @include font-bold;
      padding:1em;
      &:active {background:lighten($dark-gray, 15%);}
    }    
  }
  .admin_options {
    background:lighten($dark-gray, 4%);
    margin-top:1em;
    #manage_board { // ====== Manage Board toggle
      background:lighten($dark-gray, 10%);
      display: block;
      @include font-bold;
      padding:1em;
      &:active {background:lighten($dark-gray, 15%);}
    }
    .small_cap {padding:1em;}
    #admin_toggle {display: none;}
  }
  #board_switch, .other_boards {
    display: none; //overridden in desktop style
  }
  .board_switch_dropdown {
    display: normal;
    select {
      border-color: $light-gray;
    }
    select, option {
      width: 100%;
      color: white;
      background: inherit;
    }
  }
  .mobile_board_link {
    display: none;
  }
}

// ====== Header
header {
  @include header_bar;

  box-shadow: 0 4px 4px -4px darken($header-color, 35%);
  margin-bottom: 1px;
  position: relative;
  .small_cap {
    color:$med-gray;
    margin-bottom: $under_small_cap;
  }

  #logo {  // ====== Logo
    a {
      display: block;
      margin:1em auto;
      width:50%;
      max-width:11em;
    }
  }

  #to_next_credit #progress_bar {  // ====== Progress bar
    background:darken($header-color, 20%);
    height:$bar-height;
    line-height: 1em;
    position: relative;
    width:100%;
    div {
      height:$bar-height;
      position: absolute;
      top:0;
    }
    span {
      color:$white;
      position: absolute;
      right:1em;
      top:#{($bar-height / 2) - ($small_cap_size / 2)};
    }
    #completed_progress {
      @include completed_progress;
      &.counting {background: $dark-green;}
    }
  } // Progress bar 

  #user_info {  // ============== User info
    text-align:center;
    &:after{@include clear;}
    p.user_numbers {
      @include font-bold;
      font-size:$bar-height;
      line-height: 1em;
    }

    #user_points {
      color: $text-color;
      &.counting {
        color: $dark-green;
        font-weight: 700;
      }
    }

    #user_tickets {
      color: $sky-blue;

      &.counting {
        color: $dark-green;
        font-weight: 700;
      }
    }

    #me_toggle, .user_info_sections {display: inline-block; }
    #me_toggle {display:none;}
    .user_info_sections {
      text-align: left;
      padding-right: 4%;
      vertical-align: top;
    }
    #to_next_credit {width:45%}
    #credits {color:$sky-blue;}
    #total_tiles {color:$text-color; padding-right:0;}
  }

  #save_progress {
    margin-top: 1em;
    float: left;
    text-align: center;
  }
  #save_progress_button {@include light-button-small($sky-blue); font-size: .8em;}
  #sign_in_button {@include light-button($med-gray); font-size: .8em;}
  #guest_user_start_over_button {@include light-button($med-gray); font-size: .8em;}
}
