// ====== Off canvas nav
header nav {display: none;}
header #small-toggle.off-canvas-toggle a {
  background:$dark-gray;
  color:$white;
  padding:1em;
  position: absolute;
  left:0;
  top:1rem;
}
#jPanelMenu-menu {
  background:$dark-gray;
  padding-top:1rem;
  a {
    color:$white;
    font-family:$open-400;
    display: block;
    padding:1em;
    &:active {
      background:lighten($dark-gray, 5%);
    }
  }
  #desktop-toggle.off-canvas-toggle {display: none;}
  ul li + li {border-top:1px lighten($dark-gray, 7%) solid;}
  .admin_options {
    #manage_board { // ====== Manage Board toggle
      background:lighten($dark-gray, 7%);
      display: block;
      font-family: $open-600;
      margin-bottom:1em;
      padding:1em;
      &:active {background:lighten($dark-gray, 15%);}
    }
    .small_cap {padding:1em 1em .5em;}
  }
  #switch_board {
    .small_cap {margin-bottom:.75em;}
    padding:1em;
  }
}

// ====== Header
header {
  background:$header-color;

  background: #f7f7f7;
  // background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f7f7f7 0%, #f7f7f7 45%, #eaeaea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(45%,#f7f7f7), color-stop(100%,#eaeaea));
  background: -webkit-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
  background: -o-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
  background: -ms-linear-gradient(top,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
  background: linear-gradient(to bottom,  #f7f7f7 0%,#f7f7f7 45%,#eaeaea 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 );

  -webkit-box-shadow: 0 4px 4px -4px darken($header-color, 35%);
  box-shadow: 0 4px 4px -4px darken($header-color, 35%);
  position: relative;
  .small_cap {
    color:$med-gray;
    margin-bottom: $under_small_cap;
  }
  #switch_board .small_cap {color:lighten($offcanvas-gray, 10%);}

  #logo {  // ====== Logo
    a {
      display: block;
      margin:1em auto;
      width:50%;
      max-width:11em;
    }
  }

  #to_next_credit #progress_bar {  // ====== Progress bar
    background:darken($header-color, 20%);
    height:$bar-height;
    line-height: 1em;
    position: relative;
    width:100%;
    div {
      height:$bar-height;
      position: absolute;
      top:0;
    }
    span {
      color:$white;
      position: absolute;
      right:1em;
      top:#{($bar-height / 2) - ($small_cap_size / 2)};
    }
    #completed_progress {
      @include completed_progress;
    }
    #bar_shine {
      @include bar_shine;
    }
  } // Progress bar 

  #user_info {  // ============== User info
    margin:1em auto;
    text-align:center;
    &:after{@include clear;}
    p.user_numbers {
      font-family:$open-600;
      font-size:$bar-height;
      line-height: 1em;
    }
    #me_toggle, .user_info_sections {display: inline-block;}
    #me_toggle {display:none;}
    .user_info_sections {
      text-align: left;
      padding-right: 4%;
      vertical-align: top;
    }
    #to_next_credit {width:45%}
    #credits {color:$orange;}
    #total_tiles {color:$text-color; padding-right:0;}
  }

}