/* ----- phone interstitial verification ----- */
body.verifications {
	div.content {
	  table, tr, td{
      border: none;
    }
    p{padding-top: 10px;}
		border:1px #bebebe solid;
		background-color:#ffffff;
		color:$dark-gray;
		margin:20px auto 0 auto;
		padding: 15px 10px 10px 10px;
		width:460px;
		a {
			color:$header-bg;
			font-size:12px;
			font-weight:bold;
			&:hover {
				color:lighten($header-bg,10%);
			}
			&:active {
				color:$dark-gray;
			}
		}
		form {
			margin-bottom:10px;
      margin-top: 20px;
		}
		input[type="submit"] {
			margin-left:15px;
		}
		input[type="text"] {
			width:13ex;
      font-size: 18px;
		}
		p {
			color:$dark-gray;
			padding-bottom:15px;
		}
    #phone_placeholder{
      position: absolute;
      font-size: 17px;
      top: 6px;
      left: 13px;
      color: grey;
    }
	}
}


/* --------------------------- game not started --------------------------- */
div.content {
  div#no-login-yet {
    margin:30px auto 20px auto;
    width:460px;
    div.invite#invite_friends {
      display:none;
    }
    h2 {
      color:$dark-gray;
      font-family:$sans;
      font-size:20px;
      font-weight: 900;
      padding-bottom:15px;
      text-transform:uppercase;
    }
  }
}
/* --------------------------- pop up for contacting us --------------------------- */
/* this will be displayed in a facebox when they click the support email links      */


#faq_toc{
  .contact_us_link, .quick_tour_link{
    font-size:11px;
    margin-top: 1.2ex;
    width: 129px;
  }
}

.need_help{
//  width: 150px;
    border-bottom:1px $light-gray solid;
    margin: 0 auto 15px auto;
    padding:0 0 15px 0;
    font-size: 17px;
    text-align: center
}

body.verifications {
    div.content {
        #notification_pref {
            border-top:1px $light-gray solid;
            margin-top:20px;
            padding-top:30px;
            form {margin-top:0;}
            h1 {padding-bottom:0;}
            div.module_inner {
                li {
                    display:inline-block;
                    margin-right:20px;
                    label {color:$header-bg; display:inline-block!important; margin-left:5px; font-weight:bold;}
                }
            }
        }
        #enter_code{
            display: inline-block;
            width:100%;
            input#user_new_phone_validation {margin-right:10px; width:70%;}
        }
        margin-top: 16mm;
        input[type='submit']{
          font-size: 17px !important;
          margin: 0;
        }
        div#no-login-yet {
            margin:30px auto 20px auto;
            position:relative;
            width:460px;
            div.invite#invite_friends {
                display:none;
            }
            h2 {
                color:$dark-gray;
                font-family:$sans;
                font-size:20px;
                font-weight: 900;
                padding-bottom:15px;
                text-transform:uppercase;
            }
        }
    }
}

#search-box{
  padding-right: 0;
}
.right{
  float: right;
}
.left{
  float: left;
}
.pending_notice{
  text-align: center;
  color: #aaa;
  padding-bottom: 2px;
}

.search_nudge{
  padding-bottom: 5px;
}

#following, #followed-by{
  li{
    list-style-position: outside;
  }
}

.overflow-tiles{
  display: none;
}
.dd_bonus{
  color: yellow;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  float: right;
  padding-right: 13px;
}
.demos{
  margin-left: 5ex;
  list-style-type: disc;
}
#new-user-form{
  display: none;
}

td.label{
  font-weight: bold;
}
#reset-report{
  a{color: white;}
  margin-top: 1.5ex;
  float: right;
}
.stripe{
  background: #cacec8;
}
.clear{
  clear: both;
}
#user_activity_link{
  position: relative;
  left: -8px;
}



#interaction_popularity_link, #user_activity_link{
  &:hover{
    color: yellow;
    background: #070;
  }
  background: #666;
  color: #888;
  padding: 0.7ex 2ex;
  &.active{
    color: #fb0;
    background: #070;
  }
}


#interaction_popularity_table, #user_activity_table{
  position: relative;
  margin-bottom: 6cm;
}
.inline{
  display: inline;
}
.inline-block{
  display: inline-block;
}



#timeout_warning, #timeout_warning h2{
  color: red;
  padding-top: 1.5cm;
}

.interaction_in_progress{
  padding-top: 1.5cm;
}
.room_for_two{
  width: 2.7ex;
  float: right;
  text-align: right;
}
#message_body{
  height: 6em;
}
#following #scoreboard_list, #scoreboard #friends_list{
  display: none;
}

.orange{
  color: orange;
}
.ajax_notice{
  color: green;
  font-size: 170%;
  display: none;
}
