/* ----- phone interstitial verification ----- */
body.verifications #check_phone {
  background:$white;
  margin:4em auto;
  padding:0 1em;
  width:50%;
	.headline {padding-top:1em;}
  #enter_code {margin-top:1.5em;}
  #enter_code:after{@include clear;}
  #user_new_phone_validation, .button_wrap {display: inline-block;vertical-align: top;}
  #user_new_phone_validation {margin:0; width:81%;}
  input[type="submit"] {@include app-button($dark-green); padding:.57em 1em;}
  form {margin-bottom:1em;}
  form#resend {float:left; a{color:$gray;&:hover{color:darken($gray,5%);}}}
  form#cancel {float:right;}
}


/* --------------------------- game not started --------------------------- */
div.content {
  div#no-login-yet {
    margin:30px auto 20px auto;
    width:460px;
    div.invite#invite_friends {
      display:none;
    }
    h2 {
      color:$dark-gray;
      @include font-bold;
      font-size:20px;
      padding-bottom:15px;
      text-transform:uppercase;
    }
  }
}







#search-box{
  padding-right: 0;
}
.right{
  float: right;
}
.left{
  float: left;
}


.search_nudge{
  padding-bottom: 5px;
}

#following, #followed-by{
  li{
    list-style-position: outside;
  }
}

.overflow-tiles{
  display: none;
}
.dd_bonus{
  color: yellow;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  float: right;
  padding-right: 13px;
}
.demos{
  margin-left: 5ex;
  list-style-type: disc;
}
#new-user-form{
  display: none;
}

td.label{
  font-weight: bold;
}
#reset-report{
  a{color: white;}
  margin-top: 1.5ex;
  float: right;
}
.stripe{
  background: #cacec8;
}
.clear{
  clear: both;
}
#user_activity_link{
  position: relative;
  left: -8px;
}



#interaction_popularity_link, #user_activity_link{
  &:hover{
    color: yellow;
    background: #070;
  }
  background: #666;
  color: #888;
  padding: 0.7ex 2ex;
  &.active{
    color: #fb0;
    background: #070;
  }
}


#interaction_popularity_table, #user_activity_table{
  position: relative;
  margin-bottom: 6cm;
}



#timeout_warning, #timeout_warning h2{
  color: red;
  padding-top: 1.5cm;
}

.interaction_in_progress{
  padding-top: 1.5cm;
}
.room_for_two{
  width: 2.7ex;
  float: right;
  text-align: right;
}
#message_body{
  height: 6em;
}
#following #scoreboard_list, #scoreboard #friends_list{
  display: none;
}

.orange{
  color: orange;
}
.ajax_notice{
  color: green;
  font-size: 170%;
  display: none;
}
