#about-player {
    @include form-group;
    position:relative;
    &:after{@include clear;}
    .player-avatar, .player-info {
        display: inline-block;
        float: left;
    }
    .player-avatar {
        width:23%;
        margin: 17px 0;
    }
    .player-info {
        padding:0 0 0 1em;
        width:77%;
        h1 {
            @include font-regular;
            overflow: hidden;
            text-overflow:ellipsis;
            width:100%;
        }
    }
    .follow_buttons {margin-top:.75em;}
}

#following {margin-bottom:4em;}
#following h3 {display: inline-block;}

#recent-activity .act .avatar43 a {display: none;}

.indent_same_as_table {color:$gray;}