.player-avatar, .player-info, .follow_buttons {
    display: inline-block;
    vertical-align: top;
}
.player-info {
    margin-left:1em;
    .headline {
        color:$text-color;
        padding:.5em 0;
    }
}
#about-player {
    padding-top:2em;
    position:relative;
    .follow_buttons {
        position:absolute;
        right:0;
        top:3em;
    }
}

// Friend's list scoreboard
#friends_list table, #scoreboard_list table {
    background:$white;
    .scoreboard_stripe {background:lighten($light-gray, 10%);}
    .scoreboard_stripe td {background: transparent;}
}

.indent_same_as_table {color:$gray;}