$width_scoreboard_bar: 72px;
$height_scoreboard_bar: 14px;
$table_grey: #c2c2c2;
$scoreboard_header_grey: #919191;

#scoreboard-module .wrap {background:$white;}

.tight_bar{
  height: $height_scoreboard_bar;
  width: $width_scoreboard_bar;
  position: relative;
  overflow: hidden;
  .grey_bubble, .left_cap, .right_cap, .middle, .orange_ball, .curved_shield{
    height: $height_scoreboard_bar;
  } 

  .grey_bubble{
    width: $width_scoreboard_bar;
    background: url('scoreboard/grey_bubble.png');
  }
  .left_cap{
    width: $height_scoreboard_bar / 2;
    background: url('scoreboard/left_cap.png');
  }
  .right_cap{
    width: $height_scoreboard_bar / 2;
    background: url('scoreboard/right_cap.png');
  }
  .orange_ball{
    width: $height_scoreboard_bar;
    background: url('scoreboard/orange_ball.png');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .curved_shield{
    width: $height_scoreboard_bar / 2;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 10;
    &.white{background: url('scoreboard/white_mask.png');}
    &.white{background: url('scoreboard/offwhite_mask.png');}
    
    
  }
  .long_bubble_holder{
    position: absolute;
    left:0;
    top: 0;
  }
  .left_cap, .right_cap, .middle{
    float: left;
  }
  .middle{
    background: url('scoreboard/orange_sliver.png')
  }
}
table.scoreboard{
  margin-bottom: 0;
  td{border: none; padding:0;}
  tr{
    // Put background on td instead of tr so it works in IE
    &.scoreboard_stripe td{background:lighten($light-gray, 5%);}
  }
  #scoreboard_spacer{height: 11px;}
  .user-name{
    width: 181px;
    padding:1em 0.5em;
    height: 33px;
  }
  .user-tickets {padding:0 .5em; width:50px;}
  .user-progress{padding-left: .65em;}

  
}
#following, #scoreboard_wrapper{
  padding-left: 0;
  padding-right: 0;
}

#sort_by_first_name, #sort_by_points{
  position: relative;
  top: 1px;
  left: -2px;
  display: inline-block;
  width: 17px;
  height: 14px;
  background: url("scoreboard/sort_arrow_huge.png") no-repeat;
}
#username_header, #userlevel_header{
  float:left;
  cursor: pointer;
  &.active{cursor: auto;}
  &.active, &:hover{
    background:darken($med-gray, 10%);
  }
}


#this_is_me *{
  color: orange;
}

#scoreboard_headers{
  background:$med-gray;
  &:after{@include clear;}
  
  #username_header, #userlevel_header, #userprogress_header{
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 4px;
    color: $white;
  }
  #username_header, #userlevel_header, #userprogress_header {padding-left:.5em;}
  #username_header{width: 181px;}
  #userlevel_header{
    border-left: 1px solid darken($med-gray, 10%);
    border-right: 1px solid darken($med-gray, 10%);
    padding-right:.5em;
  }
}
