$width_scoreboard_bar: 100%;
$height_scoreboard_bar: 1.25em;

// Actual progress bar
.tight_bar{
  height: $height_scoreboard_bar;
  width: $width_scoreboard_bar;
  position: relative;
  overflow: hidden;
  .full_bubble, .completed_bubble, .shine {
    height: $height_scoreboard_bar;
    position: absolute;
    top:0;
  } 
  .full_bubble{
    width: $width_scoreboard_bar;
    background:#cdcccc;
  }
  .completed_bubble {
    @include completed_progress;
  }
  .shine {@include bar_shine;}
}
table.scoreboard{
  margin-bottom: 0;
  table-layout: fixed;
  td{border: none; padding:0;}
  tr{
    // Put background on td instead of tr so it works in IE
    &.scoreboard_stripe td{
      border-top:1px lighten($light-gray, 5%) solid;
      border-bottom:1px lighten($light-gray, 5%) solid;
    }
  }
  #scoreboard_spacer{height: 11px;}
  .user-name{
    width:47%;
    padding:1em 0.5em 1em 0;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .user-tickets {
    padding:0 .5em; 
    width:27%;
  }
  .user-progress{
    padding-left: .5em;
    width:26%;
  }

  
}
#following, #scoreboard_wrapper{
  padding-left: 0;
  padding-right: 0;
}

#sort_by_first_name, #sort_by_points{
  position: relative;
  top: 1px;
  left: -2px;
  display: inline-block;
  width: 17px;
  height: 14px;
  &:after {
    @include arrow-down($light-gray, 4px);
    vertical-align: middle;
    margin-left:.5em;
  }
}


#this_is_me * {color:$sky-blue;}

#scoreboard_headers{
  border-bottom:1px $light-gray solid;
  &:after{@include clear;}
  
  #username_header, #userlevel_header, #userprogress_header{
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    padding-top: 3px;
    padding-bottom: 4px;
    color: $light-gray;
  }
  #username_header, #userlevel_header{
  float:left;
  cursor: pointer;
  &.active{cursor: auto;}
  &.active, &:hover{
    color:$med-gray;
  }
}
  #username_header{width:47%;}
  #userlevel_header{
    width:27%;
  }
  #userprogress_header {padding-left:.5em; width:26%;}
}
