.row {max-width:40em;}

/* -- Welcome modal -- */
.start_lightbox {
  left:1em!important;
  margin-left:0!important;
  width:75%;
  max-width:28em;
  top:1%!important;
}

/* -- Tile wall -- */
@import 'tile/tile_thumbnail/tiles_thumbnails_desktop';
// .tile_thumbnail {
//   margin-bottom:1em;
//   width:32%;
// }
#tile_links .show_more_tiles {
  display: inline-block;
  width:auto;
}

/* -- Large tile viewer -- */
.tiles.tiles-index,
.tile_previews.tile_previews-show, .client_admin-stock_tiles.client_admin-stock_tiles-show {
  .content .row, .tile_holder {max-width:600px;}
}

/* -- Directory search results -- */
// affects Directory and Profile pages
.follow_buttons {
  &:after{@include clear;}
  .pending_notice, .follow-button, .stop-following-btn {
    display: inline-block;
    margin-bottom:0;
    vertical-align: middle;
  }
  .follow-button {margin-right:1em;}
}
#other-users .user {
  .user-avatar {
    max-width:7em;
    padding-right:1em;
  }
  .user-info {padding:0;}
}


/* -- Settings -- */
#about_user {
  #settings_changes {margin:1em 0;}
  #username_dob_gender .settings_user {
    #username_change, #gender_change {width:50%;}
    #username_change {
      border-right:1px lighten($light-gray, 7%) solid;
      float:left;
    }
    #gender_change {
      float:right;
      padding-left:1em;
    }
  }
}

#password_change {
  ul {
    display: inline-block;
    float: left;
    width: 50%;
    &:first-of-type {
      padding-right: 4px;
    }
    &:last-of-type {
      padding-left: 12px;
    }
  }
  ul + ul {padding-top:1em;}
}
