@import 'mast_desktop';

body {
  .content .seemore a {display: inline-block;}
}
.row {max-width:$large-desktop;}

/* -- Welcome modal -- */
#get_started_lightbox {top:6em!important;}

/* -- Tile wall -- */
.all_tile_thumbnails {
  max-width:62em!important; // temporary until new tile wall
  text-align:justify;
  #justifier {max-width:238px;}
  #push_left {width:50%}
}
@import 'tiles_thumbnails_desktop';

/* -- Activity page -- */
.act {
  .avatar43 {width:15%}
  .act-details {width:85%}
}
.seemore, #see-more-spinner {
  display: inline-block;
  vertical-align: middle;
}

/* -- Large tile viewer -- */
.tiles.tiles-index {
  .content .row {max-width:70em;}
  .tile_viewer_header {
    max-width:600px;
    margin:0 auto; 
    padding:0;
    text-align: right;
  }
  .tile_holder {font-size:1em;}
  .viewer {
    position:relative;
    max-width:46em;
    width:100%;
  }
  a#prev, a#next {top:5.5em;}
}

/* -- Settings -- */
#about_user {
  .avatar_image {width:15%;}
  .avatar_inputs {width:85%;}
}