// Variables and mixins for Internal pages (until we can remove all old)
$small_cap_size: .625rem; // 10px
$under_small_cap: .25rem; // space under small cap text
$bar-height: 1.3rem; // controls height of elements in Top Bar
$top-bar-height: #{($bar-height + $small_cap_size + $under_small_cap)};
$text-color:        #4c4c4c;
.small_cap {
	@include font-bold;
  font-size:$small_cap_size;
  line-height: 1em;
  text-transform: uppercase;
}
#flash {margin-bottom:0;} //resolved with clientadmin removal

.hidden{display:none;}
.flash-preload {
	height:0;
	position:absolute;
	top:-900px;
}

body {
	background:$white;
	border-top:none;
	color:$text-color;
	@include font-regular;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	font-size:14px;
	line-height: 1em;
	a, a:link, a:visited {@include font-bold;}
	h1.headline {
		@include font-bold;
		font-size:1.15em;
	  color:$headlines;
	  margin:0 0 .75em 0;
	  padding:.5em 0;
	  position: relative;
	  text-transform: uppercase;
	}
	h2.subhead {
		@include font-semibold;
		font-size:1em;
	}
	.content {
		margin:0 auto;
		padding:0;
		&:after{@include clear;}
		.seemore a {
			@include light-button($med-gray, $blue);
			display: block;
			padding:.5em 1.5em;
		}

		// GREEN BUTTONS
	    .button_wrap {
	    	@include square-button-wrap($dark-green);
		    .button_norm {
		        @include square-button($dark-green);
		        &:hover {background:darken($dark-green, 3%);}
		    }
		}
	}
	.module {margin-top:2em;}
}

// Flash message shadows
#flash_failure {
  box-shadow: inset 0px 3px 6px 0px darken($red, 15%);
}
#flash_notice {
  box-shadow: inset 0px 3px 6px 0px darken($gray, 15%);
}
#flash_success {
  box-shadow: inset 0px 3px 6px 0px darken($dark-green, 15%);
}

footer {
	// border:1px red solid;
	// bottom:0;
	padding-top:8em;
	margin:2em 0;
}