a, a:link, a:visited {
	color:$dark-green;
	font-weight:bold;
	text-decoration: none!important;
	&:hover {color:$light-green;}
	&:active {color:$light-gray;}
}
h1, h2, h3 {margin:0; padding:0;}
img {border:0; margin:0; padding:0;}
input:focus {outline: 0;}
p {margin:0;padding:0;}
ul {list-style-position:outside; list-style-type:none; margin:0; padding:0;}

.hidden{display:none;}
.flash-preload {
	height:0;
	visibility:hidden;
}

body {
	background:image-url('v5/bg.jpg') center center $white;
	color:$text-color;
	font-family:$sans;
	font-size:14px;
	* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
	.content {
		margin:$centered;
		padding:0;
		width:$body-width;
		&:after{@include clear;}
	}
	.left-col, .right-col {
		border-top:$border-dark;
		display:inline-block;
		margin-top:2em;
		vertical-align: top;
	}
	.left-col {width:63%;}
	.right-col {float:right; width:34%;}
	h1.headline {
		font-size:2em;
		font-weight:300;
		color:$headlines;
		padding:.75em 0;
	}
}


#footer {
	clear:both;
	color:$light-gray;
	font-size:.75em;
	margin:2em 0;
	text-align:center;
}