@import 'mast_desktop';

.joyride-tip-guide {
    &.activity-index {
        width: 400px;
        height: 100px;
        margin-top: 15px;
        margin-left: -132px;
        color: $dark-gray;
        .joyride-nub{
            margin-left: 153px;
        }
        .top-section{
            font-size: 18px !important;
            span{
                color: $gray;
            }
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }
}

body {
  .content .seemore a {display: inline-block;}
}
.row {max-width:$large-desktop;}

/* -- Welcome modal -- */
.start_lightbox {
  // margin-left:-224px !important;
  margin-left:-284px !important;
  left:50%!important;
  top:16.75em!important;
}

/* -- Tile wall -- */
#tile_wall {
  a, a:link, a:visited, .tile-wrapper .headline .text {@include font-regular;}
}
.all_tile_thumbnails {
  text-align:justify;
  #justifier {max-width:238px;}
  #push_left {width:50%}
}
@import 'tiles_thumbnails_desktop';

/* -- Activity page -- */
.act {
  .avatar43 {width:15%; margin-right:2.5%;}
  .act-details {width:80%}
}
.seemore, #see-more-spinner {
  display: inline-block;
  vertical-align: middle;
}

/* -- Large tile viewer -- */
.tiles.tiles-index,
.tile_previews.tile_previews-show {
  .content .row {max-width:70em;}
  .tile_holder {
    font-size:1em;
    margin:0 auto;
  }
  
  // Large Prev and Next buttons
  .viewer {
    position:relative;
    max-width:46em;
    width:100%;
    #slideshow {
      padding-top: 0rem;
    }
    a#prev, a#next {
      color:darken($tile-wall-bg, 3%);
      background:darken($tile-wall-bg, 3%);
      border:1px darken($tile-wall-bg, 5%) solid;
      height:100%;
      top:0;
      width:3em;
      &:hover {
        color:darken($tile-wall-bg, 7%);
        background:darken($tile-wall-bg, 7%);
        border-color:darken($tile-wall-bg, 7%);
      }
      &:active {
        background:lighten($tile-wall-bg, 1%);
        color:lighten($tile-wall-bg, 1%);
      }
      &:after {
        margin-left:-1em;
        position:absolute;
        left:50%;
        bottom:50%;
      }
    }
    a#prev {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      left:-.5em;
      &:after {
        @include arrow-left(lighten($tile-wall-bg, 3%), 2em);
      }
      &:hover {
        &:after {
          border-right-color:lighten($tile-wall-bg, 5%);
        }
      }
    }
    a#next {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      right:-.5em;
      &:after  {
        @include arrow-right(lighten($tile-wall-bg, 3%), 2em);
      }
      &:hover {
        &:after {
          border-left-color:lighten($tile-wall-bg, 5%);
        }
      }
    }
  }
  
}

/* -- Settings -- */
#about_user {
  .avatar_image {width:15%;}
  .avatar_inputs {width:85%;}
}

















