/* -- Welcome modal -- */
#get_started_lightbox {
  left:1em!important;
  margin-left:0!important;
  width:75%;
  max-width:28em;
}

/* -- Tile wall -- */
.tile_thumbnail {
  margin-bottom:1em;
  width:32%;
  .tile-wrapper{
    .tile_thumbnail_image {height:12em;}
    .headline {
      height:7.5em;
      padding:.75em;
    }
  }
}

/* -- Large tile viewer -- */
.tiles.tiles-index {
  .content .row, .tile_holder {max-width:600px;}
  .tile_holder {
    .tile_points {
      left:7%;
      .num_of_points {padding:1em 0 .75em 0;}
    }
    .tile_question {
      margin: 0 0 0 23%;
      padding:0 0 .75em 1em;
      width:70%;
    }
    .tile_quiz .tile_multiple_choice_answer {width:86%;}
  }
}

/* -- Profile -- */
#about-player {
  .player-avatar {width:auto;}
}

/* -- Directory search results -- */
#other-users .user {
  .user-avatar {
    max-width:75px;
  }
  .user-info {
    float:none;
    margin-left:2em;
    width:77%;
  }
}
// affects Directory and Profile pages
.follow_buttons {
  &:after{@include clear;}
  .pending_notice, .follow-button, .stop-following-btn {
    display: inline-block;
    vertical-align: baseline;
  }
  .pending_notice {
    // margin:.7em 0 0 1em;
    margin-left:1em;
  }
}

/* -- Settings -- */
#about_user {
  .avatar_image, .avatar_inputs {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar_image {
    width:96px;
  }
  .avatar_inputs {
    margin: 0 0 0 1em;
    width:70%;
  }
  #username_dob_gender .settings_user {
    #username_change, #gender_change {width:50%;}
    #username_change {
      border-right:1px lighten($light-gray, 7%) solid;
      float:left;
    }
    #gender_change {
      float:right;
      padding-left:1em; 
    }
  }
}

#password_change {
  ul {
    display: inline-block;
    float: left;
    width: 50%;
  } 
  ul + ul {padding-top:1em;}
}
