@import 'mast_desktop';

.joyride-tip-guide {
    &.activity-index {
        width: 400px;
        height: 100px;
        margin-top: -52px;
        margin-left: 94px;
        color: $dark-gray;
        .top-section{
            font-size: 18px !important;
            span{
                color: $gray;
            }
        }
        .joyride-next-tip{
            @include light-button($gray);
            font-size: 14px;
        }
    }
}

body {
  .content .seemore a {display: inline-block;}
}
.row {max-width:$large-desktop;}

/* -- Welcome modal -- */
.start_lightbox {
  // margin-left:-224px !important;
  margin-left:-225px !important;
  left:50%!important;
  top:15em!important;
}

/* -- Tile wall -- */
#tile_wall {
  a, a:link, a:visited, .tile-wrapper .headline .text {@include font-regular;}
}
.all_tile_thumbnails {
  text-align:justify;
  #justifier {max-width:238px;}
  #push_left {width:50%}
}
@import 'tile/tile_thumbnail/tiles_thumbnails_desktop';

/* -- Activity page -- */
.act {
  .avatar43 {width:15%; margin-right:2.5%;}
  .act-details {width:80%}
}
.seemore, #see-more-spinner {
  display: inline-block;
  vertical-align: middle;
}

/* -- Settings -- */
#about_user {
  .avatar_image {width:15%;}
  .avatar_inputs {width:85%;}
}

















