/* -- Welcome modal -- */
#get_started_lightbox {
  top:6em!important;
}

header nav {display: block;}
header {
  nav .row {position: relative;}
}

/* -- Tile wall -- */
.all_tile_thumbnails {
  text-align:justify;
  #justifier {max-width:238px;}
  #push_left {width:50%}
}
.tile_thumbnail {
  padding:0;
.tile-wrapper{
  .tile_thumbnail_image {
    background-size: auto;
    height:12em;
  }
  .headline {
    height:7.5em;
    .text {
      font-size:1.125em;
      line-height: 1.3em;
    }
  }
}
}

/* -- Large tile viewer -- */
.tiles.tiles-index {
  .content .row {max-width:70em;}
  .tile_viewer_header {margin:0; padding:0;}
  .tile_holder {font-size:1em;}
  p#position {
    margin:0 auto 1em auto;
    position: relative;
  }
  .viewer {
    position:relative;
    width:52.1em;
  }
  a#prev, a#next {top:5.5em;}
}
