body.settings .large-8 .module_inner {margin-bottom:1em; padding:1em 0;}
body.settings .large-4 .module_inner {margin-bottom:1em;}
body.settings {
    input[type="submit"] {@include app-button($sky-blue);}
    label {margin-bottom:.5em;}
}
// Left side
#about_user {
    &:after{@include clear;}
    .settings_avatar:after {@include clear;}
    .avatar_image, .avatar_inputs {
        display: inline-block;
        float: left;
    }
    .avatar_image {width:20%;}
    .avatar_inputs {
        padding:0 0 0 1em;
        width:80%;
        .set-avatar {
          margin:0 0 1em 0;
          display: inline;
        }
        .clear-avatar {
          display: inline;
        }
        input[type="file"] {margin-bottom:1em; width:80%;}
    }
}
