body.settings .large-8 .module_inner {background:$white; margin-bottom:1em; padding:1em;}
body.settings .large-4 .module_inner {margin-bottom:1em;}

// Left side
#about_user {
    .avatar_inputs {
        // form {display:inline-block;}
        .set-avatar {
            margin:1em 0;
            .button_wrap {@include square-button-wrap($dark-green);}
            input[type="submit"] {@include square-button($dark-green);}
        }
        .clear-avatar .button_wrap {
            @include square-button-wrap($light-gray);
            font-size:.85em;
        }
        .clear-avatar input[type="submit"] {@include square-button($light-gray);}
    }

    #username_dob_gender {
        .settings_user {
            padding:0 0 1em 0;
            
            #settings_changes:after{
                @include clear;
                border-bottom:1px lighten($light-gray, 7%) solid;
            }

            #username_change, #gender_change {
                padding:1em;
                vertical-align: top;
            }
            #username_change {
                input[type="text"] {margin-top:1em; width:93%;}
            }
            #gender_change {
                li {display:inline-block; margin-right:1em;}
                li label {display:inline-block;}
            }
            .button_wrap {margin:1em 0 0 1em;}
        }
    }
}

#user_new_phone_validation {margin-bottom:1em;}
label[for="user_new_phone_validation"] {padding-bottom:1em;}

#password_change {
    form {background:$white; padding-bottom:1em;}
    ul {
        margin-bottom:0;
        input[type="password"] {width:97%;}
    }
    ul + ul {padding-top:0;}
    .button_wrap {clear:both; margin-left:1em;}
}

// Right side
#privacy_settings select {font-size:1.15em;}

#notification_settings li {display:inline-block; margin-right:1em;}
#notification_settings li label {display:inline-block;}
#settings_new_number_verification {margin-bottom: 2em;}

#user_phone_number {width:100%;}