body.settings .large-8 .module_inner {margin-bottom:1em; padding:1em 0;}
body.settings .large-4 .module_inner {margin-bottom:1em;}
body.settings {
    input[type="submit"] {@include app-button($sky-blue);}
    label {margin-bottom:.5em;}
}
// Left side
#about_user {
    &:after{@include clear;}
    .settings_avatar:after {@include clear;}
    .avatar_image, .avatar_inputs {
        display: inline-block;
        float: left;
    }
    .avatar_image {width:20%;}
    .avatar_inputs {
        padding:0 0 0 1em;
        width:80%;
        .set-avatar {
          margin:0 0 1em 0;
          display: inline;
        }
        .clear-avatar {
          display: inline;
        }
        input[type="file"] {margin-bottom:1em; width:80%;}
        input[type="submit"].clear {@include app-button($light-gray);}
    }
}

#user_new_phone_validation {margin-bottom:1em;}
label[for="user_new_phone_validation"] {padding-bottom:1em;}

#password_change {
    form {background:$white; padding-bottom:1em;}
    ul {
        margin-bottom:0;
        input[type="password"] {width:97%;}
    }
    ul + ul {padding-top:0;}
}

// Right side
#privacy_settings select {font-size:1.15em;}

#notification_settings li {display:inline-block; margin-right:1em;}
#notification_settings li label {display:inline-block; margin-left:.25em;}
#settings_new_number_verification {margin-bottom: 2em;}

#user_phone_number {width:100%;}