// hover delta is per side
$thumb_dim: 238px;
$thumb_hovered_dim: 258px;
$hover_delta: ($thumb_hovered_dim - $thumb_dim)/2;
$thumb_margin: 12px;
$thumb_hovered_margin: $thumb_margin - $hover_delta;
$tile_wrapper_dim: 254px;
$headline_overlay_top: 148px;
#tile_thumbnail_carousel{
  .jcarousel-item{
    height: 278px;
    width: 295px;
    display: inline-block;
  }
  .tile-wrapper{
    padding: 2px;
    height: $tile_wrapper_dim;
    width: $tile_wrapper_dim;
    display: inline-block;
    border: 1px dashed transparent;
  }
  .tile_thumbnail{
    @include ease(.025s);
    height: $thumb_dim;
    width: $thumb_dim;
    margin: $thumb_margin;
    background-color:#272727;
    background-position:center center;
    background-repeat:no-repeat;
    box-shadow: 0px 0px 3px $gray;
    &:hover{
      height: $thumb_hovered_dim;
      width: $thumb_hovered_dim;
      margin: $thumb_hovered_margin;
      .headline_overlay{height:41%;}
    }
    display: inline-block;
  }
  .white_box_with_shadow{
    padding: 4px;
    display: inline-block;
  }
  .headline{
    height:100%;
    position: relative;
    &:after{@include clear;}
    .headline_overlay{
      height: 40%;
      width: 100%;
      background: black;
      opacity: 0.8;
      position: absolute;
      bottom:0;
    }
    .text{
      bottom:0;
      position: absolute;
      width:238px;
      color: white;
      z-index: 10;
      height:40%;
      padding: .5em;
      font-size: 1.15em;
      font-weight: 300;
      line-height: 1.15em
    }
  }
}
#carousel_wrapper{
  margin-top:1em;
  .jcarousel-container{
    width: 100%;
    padding: 0 3em;
  }
  .jcarousel-clip{
    width: 100%;
    height: 100%;
  }
  .jcarousel-item{
    margin-right: 0px;
    //width: 278px;
    width:300px;
  }
  .jcarousel-prev-horizontal, .jcarousel-next-horizontal {
    background:image-url('v5/sprites.png') no-repeat transparent;
    top:45%;
  }
  .jcarousel-prev-horizontal{
    background-position: 0px -106px;
    left: 0;
    &:hover, &:focus {background-position:-34px -106px;}
  }
    .jcarousel-prev-disabled-horizontal,
    .jcarousel-prev-disabled-horizontal:hover,
    .jcarousel-prev-disabled-horizontal:focus,
    .jcarousel-prev-disabled-horizontal:active {
        background-position: -68px -106px;}
  .jcarousel-next-horizontal{
    background-position: 0px -140px;
    right: 0;
    &:hover, &:focus {background-position:-34px -140px;}
  }
    .jcarousel-next-disabled-horizontal,
    .jcarousel-next-disabled-horizontal:hover,
    .jcarousel-next-disabled-horizontal:focus,
    .jcarousel-next-disabled-horizontal:active {
      background-position: -68px -140px;}

  .jcarousel-item-placeholder{
    // The placeholder width is being set to near zero
    // We don't want placeholders to actually show, since they 
    // show up after tiles are completed and we click on a thumbnail.
    // We want their size to be non-zero so the jcarousel library
    // doesn't throw a "Error: jCarousel: No width/height set for items. This will cause an infinite loop. Aborting..." error
    // So we set it to NEAR zero
    background: none;
    width: 1px;
  }
}
