.tiles.tiles-index{
  .container {
    &:after{@include clear;}
    margin:auto;
    padding:0 0 10px 0;
    width:100%;
  }

  .tile_viewer_header {
    position: relative;
    z-index: 4;
    margin: auto;
    width: 850px;
    height: 10px;
  }
  img#logo {float:left;}
  .tile_image{display: none;}
  p#position {
    position: absolute;
    background:$gray;
    border:$border-light;
    color:white;
    font-family:$sans;
    float:right;
    margin:0;
    padding:13px 0;
    left: 765px;
    top: 11px;
    text-align: center;
    width: 13ex;
  }

  .viewer {
    margin:auto;
    position:relative;
    width:786px;
  }

  a#prev, a#next, #slideshow {
    display:inline-block;
    float:left;
  }
  a#prev, a#next {
    height:60px;
    margin:65px 0 0 0;
    width:60px;
    span {
      font-size:0;
      text-decoration:none;
      text-indent:-10px;
      visibility: hidden;
    }
  }
  a#prev {
    background:image-url('tile_viewer/prevbtn.png') no-repeat;
    //float:left;
    position:relative;
  }
    a#prev:hover {background:image-url('tile_viewer/prevbtn-hover.png') no-repeat;}
  a#next {
    background:image-url('tile_viewer/nextbtn.png') no-repeat;
    padding:0;
    position:relative;
  }
    a#next:hover {background:image-url('tile_viewer/nextbtn-hover.png') no-repeat;}

  #slideshow {
    margin: auto;
    position:relative;
    width: 666px; 
    height: 2000px;
    .tile_holder {
      background:$white;
      min-height:200px;
      padding: 1em; 
      text-align: center;
      width:100%;
      &:after{@include clear;}
      .tile_link, img {
        display:block;
        margin:$centered;
      }
      img {height:auto; max-width:100%;}
    }
  }

  .footer {
    border-top:1px white solid;
    height:100%;
    margin:0;
    min-height:100%;
    position:relative;
  }
  .footer p {
    color:#afafaf;
    font-size:13px;
    padding:26px 15px 15px;
    text-align:center;
  }
  #tiles_done_message{
    padding-top:2em;
    text-align: center;
    p{font-size: 2em; padding-bottom:1em;}
  }
}
