@import 'tiles_thumbnails';
@import 'tiles_fullsize';

.tiles.tiles-index{
  .container:after{@include clear;}

  .tile_viewer_header {
    height:2em;
    position:relative;
    text-align: center;
    width: 100%;    
  }

  // Full size tile counter
  p#position {
    background:$white;
    color:$med-gray;
    display: inline-block;
    font-family:$sans;
    margin:1em auto;
    padding:.75em 1em;
    position: absolute;
    right:4.1em;
    top:3em;
  }

  .viewer {
    margin:auto;
    position:relative;
    text-align: center;
    width:82%;
    &:after{@include clear;}
  }

  // Buttons
  a#prev, a#next, #slideshow {display:inline-block;}
  a#prev, a#next {
    background:$dark-green;
    border:1px darken($dark-green, 5%) solid;
    height:60px;
    margin:0;
    padding:0;
    position: absolute;
    top:6em;
    width:60px;
    span {
      background:image-url('v5/sprites.png') transparent no-repeat;
      border:{
        style:solid;
        color:lighten($dark-green, 5%);
        top:{width:1px;}
        bottom:{width:0;}
        left:{width:1px;}
        right:{width:1px;}
    }
      display:inline-block;
      float:left;
      height:100%;
      width:100%;

      font-size:0;
      text-decoration:none;
      text-indent:-10px;
    }
    &:hover{background:darken($dark-green, 5%);}
  }
  a#prev {left:0;}
  a#next {right:0;}
  a#prev span {background-position: -1px -173px;}
  a#next span {background-position: -63px -173px;}

  #tiles_done_message{
    padding-top:4em;
    text-align: center;
    p{font-size: 2em; line-height:1em; padding-bottom:1em;}
  }
}
