body#tile_viewer {
  background:image-url('tile_viewer/broken_noise.png');
  font-family:Helvetica, Arial, sans-serif;
  margin:0;
}

.tiles.tiles-index{
  a, img {border:none;}
  .cf {clear:both;}

  .container {
    //background-image:image-url('tile_viewer/rough_diagonal.png');
    margin:auto;
    padding:0 0 10px 0;
    width:100%;
  }

  .tile_viewer_header {
    position: relative;
    z-index: 4;
    margin: auto;
    width: 850px;
    height: 10px;
  }
  img#logo {
    float:left;
  }
  .tile_image{
    display: none;
  }
  a.tile_link img.tile_image {
    display: inherit;
  }
  p#position {
    position: absolute;
    background:$gray;
    border:$border-light;
    color:white;
    font-family:$sans;
    float:right;
    margin:0;
    padding:13px 0;
    left: 765px;
    top: 11px;
    text-align: center;
    width: 13ex;
  }

  .viewer {
    margin:auto;
    position:relative;
    width:786px;
  }

  a#prev, a#next {
    display:inline-block;
    height:60px;
    margin:65px 0 0 0;
    width:60px;
  }
  a#prev span, a#next span {
    font-size:0;
    text-decoration:none;
    text-indent:-10px;
    visibility: hidden;
  }
  a#prev {
    background:image-url('tile_viewer/prevbtn.png') no-repeat;
    float:left;
    position:relative;
  }
    a#prev:hover {
      background:image-url('tile_viewer/prevbtn-hover.png') no-repeat;
    }
  a#next {
    background:image-url('tile_viewer/nextbtn.png') no-repeat;
    float:left;
    padding:0;
    position:relative;
  }
    a#next:hover {
      background:image-url('tile_viewer/nextbtn-hover.png') no-repeat;
    }

  #slideshow {
    display:inline-block;
    float:left;
    margin: auto;
    position:relative;
    text-align: center;
    width: 666px; 
    height: 2000px;
  }
  #slideshow img {
    padding: 1em; 
    background:$white;
    border: $border-light; 
    width:100%;
  }

  .footer {
    border-top:1px white solid;
    height:100%;
    margin:0;
    min-height:100%;
    position:relative;
  }
  .footer p {
    color:#afafaf;
    font-size:13px;
    padding:26px 15px 15px;
    text-align:center;
  }
  #tiles_done_message{
    p{ 
      font-size: 20px;
      padding-bottom: 8px;
    }
    a{ font-size: 17px;}

  }
}
