@import "mixins/main_styles";
@import "external/_case_study";

body.tile_previews.tile_previews-show {
  background-color: #FEFEFE;  
  .tile_preview_navbar {
    background-color: $white;  
    border-bottom: 1px solid $light-gray;
    margin-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    ul {
      li {
        float: left;
        &.left-section{
          a {
            color: $sky-blue;
            font-size: 16px;
            font-weight: 500;
          }
          text-align: center;
          width: 6%;
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
          font-weight: 900px;
        }
        &.basic-info{
          text-align: left;
          width: 94%;
          padding-bottom: 20px;
          padding-top: 20pt;
          color: $dark-gray;
          font-weight: 900;
          .nav_bar_company_name{
            font-size: 16pt;
            padding-top: 8px;
            font-weight: 500;
            color: $dark-gray;
          }
          .organization{
            float: left;
            padding-top: 8px;
            font-size: 16px;
            font-weight: 500;
            color: $dark-gray;
          }
          .creator{
            float: right;
            font-size: 14px;
            padding-top: 12px;
            color: $dark-gray;
            padding-right: 50px;
            .fa{
              padding-right: 5px;
            }
          }
          .created_at{
            float: right;
            font-size: 12px;
            font-weight: 500;
            padding-top: 13px;
            padding-right: 5px;
            color: $med-gray;
          }
        }
        .user_detail_nav_bar{
          text-align: center;
          border-right: 1px solid #dfdfdf;
          width: 35%;
          padding-top: 20px;
          padding-bottom: 20px;
          font-size: 30px;
        }
      }
    }    
  }
  
  .tile_tag_bar {
    padding-bottom: 2.5em;
    .like-copy-section{      
      float: left;
      width: 14%;
      padding-left: 10px;
      .like_button_wrapper, .copy_button_wrapper {
        float: left;
      }
      .copy_button, .like_button, .not_like_button{
        @include light-button($sky-blue);
        font-size: 0.8em;
        &:active {
          color: $white !important;
          background-color: $sky-blue;
        }
      }      
      .liked_by, .copied_by {
        font-size: 12px;
        color: $med-gray;
      }      
    }
    .like-copy-info{      
      float: left;
      width: 40%;
      color: $med-gray;
      .liked_by, .copied_by{
        float: bottom;
        font-size: 10px;
      }
    }
    .like-view-info{      
      float: left;
      width: 56%;
      color: $med-gray;
      .liked_by {
        float: bottom;
        font-size: 10px;
      }
      .view-only{
        color: $light-gray;
        float: left;
        font-size: 10px;
        div {
          display: inline-block;
        }
        .text{
          padding-top: 5px;
        }
      }
      .liked_by_non_copyable{
        float: left;
        width: 70%;
        font-size: 10px;
        color: $med-gray;
        padding-top: 5px;
      }
    }
    .all_tile_tags {
      float: right;
      width: 30%;
    }
    .tile_tags {
      color: $light-gray;
      float: right;
      padding-right: 10px;
      
      li { display: inline-block;}
      .tile_tag {
        margin-top: 5px;
        margin-left: 3px;
        padding: 0px 6px 3px 6px;
        border-radius: 5px;
        display: inline-block;
        font-size: 10px;
        color: $med-gray;
        border: 1px solid $light-gray;
        a{
          color: $med-gray;
        }
      }
    }
    .extra_tags_list{
      max-width: 600px;
      margin-top: 1.7em;
      margin-left: 0.7em;
      width: 100%;
      
      z-index: 2;
      background-color: $white;
      display: none;
      position: absolute;
      border: 1px solid $light-gray;
      border-radius: 5px;
      .tile_tag { 
        margin-top: 5px;
        margin-left: 4px;
        padding: 0 6px 3px 6px;
        border-bottom: 1px solid $light-gray;
        float: none;
        a {
          font-size: 10px;
          color: $med-gray;
        }
      }
    }    
  }
}