

.bubbly-top-flat{
  background: url('tooltip/top_flat.png');
  height: 9px;
}

.bubbly-middle{
  background: url('tooltip/middle.png');
  padding: 0px 12px;
  color: #494949;
  font-size: 14px;
  line-height: 17px;
}

.bubbly-bottom-flat{
  background: url('tooltip/bottom_flat.png');
  height: 9px;
}

.bubbly-top-arrow{
  background: url('tooltip/top_arrow.png');
  height: 23px;
}

.bubbly-bottom-arrow{
  background: url('tooltip/bottom_arrow.png');
  height: 23px;
}
.bubbly-bottom-arrow, .bubbly-bottom-flat{
  bottom: 1px;
  position: relative;
}
.bubbly-top-arrow, .bubbly-top-flat{
  top: 1px;
  position: relative;
}


.bubbly{
  display: none;
  z-index: 200;
  color: white;
  font-size: 14px;
  width: 205px;
  //opacity is called here instead of an attrubute on the $(div).tooltip() call.                 
  //otherwise the shadow shows up black in the bona-fide ie7/8 (works fine in ie9 with ie7 mode)
  opacity: 0.95;
}
