html.lt-ie9{
  body.acts-index{
    header{
      margin-bottom: -2em;
    }
    .user_container{
      padding-top: 3em !important;
    }
  }
  body.tiles-index, body.acts-index{
    .user_container{
      background: #d9dfe9;
      padding-top: 2em;
      padding-bottom: 2em;
      padding-left: 26px;
    }
    #user_progress{
      max-width: 790px;
      width: 100%;
      margin: auto;
      font-size: 10px;
      text-transform: uppercase;
      color: $white;
      font-weight: 700;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background: transparent;
      box-shadow: none;
      .progress_header{
        float: left;
        height: 34px;
        width: 60px;
        color: $white;
        text-transform: uppercase;
        line-height: 1.3;
        padding: 0.5em;
        padding-left: 1em;
        background: $blue;
        border-radius: 0;
        text-align: left;
      }
      #tile_section, #total_section{
        border-radius: 3px;
        background: $white;
        height: 34px;
        overflow: hidden;
        box-shadow: #B3B3B3 0px 0px 1px 1px;
      }
      #total_section{
        width: 120px;
        float: right;
        margin-left: 10px;
        #total_header{
          &:after{
            content: "POINTS";
          }
        }
        #total_points{
          text-align: center;
          float: left;
          width: 60px;
          color: $sky-blue;
          font-size: 16px;
          padding-top: 0.6em;
          padding-left: 0;
          &:after{
            content: "";
          }
        }
      }
      #tile_section{
        float: none;
        width: auto;
        overflow: hidden;
        background: #e2e7ef;
        #tile_header{
          padding-top: 1.1em;
          //text-align: center;
        }
        #tile_progress_bar{
          float: none;
          width: auto;
          overflow: hidden;
          height: 34px;
          font-size: 18px;
          border-radius: 0;
          margin: 0;
          #all_tiles{
            float: right;
            height: 34px;
            padding: 0.5em;
            font-size: 18px;
            background: transparent;
          }
          #completed_tiles{
            float: left;
            height: 34px;
            text-align: right;
            padding: 0.5em;
            width: 55px;
            #complete_info{
              float: right;
            }
            #congrat_header{
              display: none;
              text-transform: none;
              font-size: 16px;
              font-weight: 500;
              width: 100%;
              text-align: center;
            }
          }
        }
      }
      #completed_tiles, #all_tiles{
        background: -moz-linear-gradient(top,  rgba(32,173,233,1) 0%, rgba(32,173,233,0.9) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(32,173,233,1)), color-stop(100%,rgba(32,173,233,0.9))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(32,173,233,1) 0%,rgba(32,173,233,0.9) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(32,173,233,1) 0%,rgba(32,173,233,0.9) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(32,173,233,1) 0%,rgba(32,173,233,0.9) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(32,173,233,1) 0%,rgba(32,173,233,0.9) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20ade9', endColorstr='#e620ade9',GradientType=0 ); /* IE6-9 */
      }
    }
  }
}