body.acts-index, .client_admin-stock_boards, .client_admin-stock_tiles{
  .user_container{
    height: 10rem;
    background: #d9dfe9;
  }
}
body.tiles-index, body.acts-index, .client_admin-stock_boards, .client_admin-stock_tiles{
  #user_progress{
    //max-width: 600px;
    max-width: 46.8rem;
    width: 100%;
    margin: auto;
    font-size: 10px;
    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: transparent;
    box-shadow: none;
    .progress_header{
        float: left;
        height: 2.2rem;
        width: 4rem;
        color: $white;
        text-transform: uppercase;
        line-height: 1.3;
        padding: 0.5em;
        padding-left: 1em;
        background: #C0CADB;
        border-radius: 0;
        text-align: left;
      }
    #raffle_section.round_bar{
      float: right;
      border-radius: 3px;
      height: 2.2rem;
      width: 13rem;
      background: #C0CADB;
      margin-left: 1.5rem;
      box-shadow: #E2E8F3 0px 1px 0px;
      #raffle_header{
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      #raffle_data{
        cursor: pointer;
        float: right;
        width: 5.5rem;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin: 0;
        color: $white;
      }
      /* -------------------------------------
       * Radial progress bar - http://codepen.io/geedmo/pen/InFfd/
       * ------------------------------------- */
      $barColor: $sky-blue;
      $overlayColor: $white;
      $backColor: $white;
      /* -------------------------------------
       * Bar container
       * ------------------------------------- */
      .progress-radial{
        margin-left: 5.9em;
        margin-top: -1.5em;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: white;
        border: 3px solid #C0CADB;
        box-shadow: none;
        /* -------------------------------------
         * Optional centered circle w/text
         * ------------------------------------- */  
        .overlay{
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: $overlayColor;
          border-radius: 50%;
          margin-left: 7px;
          margin-top: 7px;
          text-align: center;
          line-height: 40px;
          font-size: 16px;
          box-shadow: inset 0 0 10px #cbc9c9;
          color: $sky-blue;
        }
        /* -------------------------------------
         * Mixin for progress-% class
         * ------------------------------------- */
        $step: 1; // step of % for created classes

        $loops: round(200 / $step);
        $increment: 360 / $loops;
        $half: round($loops / 2);
        @for $i from 0 through $loops{
          &.progress-#{$i*$step}{
            z-index: 1;
            @if($i < $half){
              $startdeg: -90deg;
              $nextdeg: $startdeg + ( $increment * $i );
              background-image: 
                linear-gradient($startdeg, $backColor 50%, transparent 50%, transparent),
                linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
            }@else{
              $startdeg: 90deg;
              $nextdeg: $startdeg + ( $increment * ( $i - $half ) );
              background-image: 
                linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent),
                linear-gradient(360deg + $startdeg, $barColor 50%, $backColor 50%, $backColor);
            }
          }
        }
      }
    }
    #tile_section, #total_section{
      border-radius: 3px;
      background: $white;
      height: 2.2rem;
      overflow: hidden;
      box-shadow: #E2E8F3 0px 1px 0px;
    }
    #total_section{
      width: 8rem;
      float: right;
      margin-left: 1.5rem;
      #total_header{
        &:after{
          content: "POINTS";
        }
      }
      #total_points{
        text-align: center;
        float: left;
        width: 4rem;
        color: $sky-blue;
        font-size: 2em;
        font-weight: bold;
        line-height: 1em;
        padding-left: 0;
        &:after{
          content: "";
        }
      }
    }
    #tile_section{
      float: none;
      width: auto;
      overflow: hidden;
      background: #e2e7ef;
      #tile_header{
        padding-top: 1.1em;
      }
      #tile_progress_bar{
        float: none;
        width: auto;
        overflow: hidden;
        height: 2.2rem;
        font-size: 18px;
        border-radius: 0;
        margin: 0;
        box-shadow: #C0CADB 0px 1px 0px inset;
        #all_tiles{
          float: right;
          height: 2.2rem;
          padding: 0.5em;
          font-size: 18px;
          background: transparent !important;
        }
        #completed_tiles{
          float: left;
          height: 2.2rem;
          text-align: right;
          padding: 0.5em;
          width: 55px;
          #complete_info{
            float: right;
          }
          #congrat_header{
            display: none;
            text-transform: none;
            font-size: 16px;
            font-weight: 500;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    #completed_tiles{
      background: $sky-blue;
    }
  }
}
