<div class="from-onboarding-modal-container">
  <div data-reveal class='from-onboarding-modal onboarding-generic-modals reveal-modal medium' id='from-onboarding-modal' style="background:#fff; top:60px; color: $gray;">
    <div class="row">
      <div class="columns small-12">
        <div class='onboarding-new'>
          <div class="text-center onboarding-new-image">
            <%= image_tag "airbo_venice_fireworks.png", class: "onboarding-img" %>
          </div>
          <div class='onboarding-new'>
            <div class="h3 half-em-bottom-margin">
            Welcome to your full Airbo experience!  We suggest completing the following tasks to learn more about how Airbo can boost employee engagement:
            </div>

            <ul class="initial">
              <li>Post a <strong>Tile</strong> from <strong>Draft</strong></li>
              <li>Share tiles using the <strong>Share tab</strong></li>
              <li>Visit the <strong>Explore tab</strong></li>
            </ul>

            <p>
              Our team is standing by to answer any questions!
            </p>

          <div class="text-center">
            <div id="onboarding-to-full-client-admin" class="button outlined-alt blue-and-green close-airbo-modal">
              Continue
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
