<section class="topics padded-v-40">
  <h2 class="text-center ">Content Library</h2>
  <div class="row padded-v-20">
    <div class="columns small-12 small-centered">
      <div class="row ">
        <%@sorted_demos.each do |board|%>
          <div class="columns small-12 large-3 ">
            <%= render partial: "pages/landing/topic", locals: {board:board, path: stock_board_path(public_slug:board.public_slug)}%> 
          </div>
        <%end%>
      </div>
    </div>
  </div>
</section>
