%section.manage_tiles#draft_tiles
  .row
    .large-12.columns
      %h2 All Draft
      = link_to "Minimize section", client_admin_tiles_path, :class => :minimize
      %br
      .manage_section#draft= render partial: "shared/tiles/draft"
      .clearfix
      .pagination-centered
        = paginate @raw_tiles
- content_for :javascript do
  :javascript
    $().ready(function(){
      window.dragAndDropInSection()
    })
