<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
  <tr>
    <td class="innerp" style="padding:0 10px;">
    <!--[if mso]><table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td style="padding:0 10px;"><![endif]-->
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <% if @tiles.present? %>
          <% @tiles.each_slice(2) do |tiles| %>
            <%= render partial: "tiles_digest_mailer/v2/tiles_digest/tiles_row", locals: { tiles: tiles } %>
          <% end %>
        <% else %>
          <%= render partial: "tiles_digest_mailer/v2/tiles_digest/placeholders" %>
        <% end %>
      </table>
    <!--[if mso]></td></tr></table><![endif]-->
    </td>
  </tr>
</table>
