<div class="share-module-header">
  <div>
    <h3>Board Share Link <a href="http://learning.airbo.com/the-airbo-platform/features/automate-tiles-digests" target="_blank"></a></h3>
  </div>
</div>
<div class="new_public_board" id="<%= current_user.demo.id %>">
  <div class="status_div switch-container">
    <% unless @board_is_public %>
      <div class="private engaged">Private</div>
    <% else %>
      <div class="private disengaged">Private</div>
    <% end %>
    <div class="switch small round">
      <input id="public_switch" name="switch-board" type="radio" data-is-public="<%= @board_is_public %>"></input>
      <span class="switch_button"></span>
    </div>
    <% if @board_is_public %>
      <div class="public engaged">Public</div>
    <% else %>
      <div class="public disengaged">Public</div>
    <% end %>
  </div>
  <div class="share_link_div copy-to-clipboard-input-group <%= copy_to_clipboard_class(enabled: @board_is_public)%>">
    <%= text_field_tag 'public_slug', public_board_url(current_user.demo.public_slug), id: 'public_board_field', disabled: !@board_is_public %>

    <div class="copy-to-clipboard-button js-copy-to-clipboard-btn" data-tooltip="publicBoard" title="Click to Copy" data-clipboard-target="#public_board_field"></div>
  </div>
  <br clear="all"/>
</div>
