= render 'public_board'
.row
  .large-12#digest
    %div.cancel_follow_ups.large-12.columns= render 'cancel_follow_ups'
    %div#digest_management.large-12.columns= render partial: 'digest_management'
