<div id="digest_was_sent_lightbox" class="reveal-modal" data-reveal>
  <h2><%= digest_sent_modal_title(@digest_sent_type) %></h2>
  <p><%= digest_sent_modal_text(@digest_sent_type) %></p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% js_at_end do %>
  $().ready(function(){ 
    $('#digest_was_sent_lightbox').foundation('reveal', 'open'); 
  });
<% end %>