<div class="large-12 columns deliver-tiles-header">
  <h3 class="header-text">Deliver Tiles</h3>
  <span class="last-sent-at">
    <%= digest_email_sent_on_message %>
  </span>
</div>
<div class="large-3 columns">
  <%= render partial: 'form' %>
</div>
<div class="large-9 digest_preview">
  <ul class="inline-list tabs-component js-digest-preview-tabs digest-preview-tabs">
    <li class="tabs-component-active" id="show_digest_preview" data-preview-type="email">Tiles Email Preview</li>
    <li id="show_follow_up_preview" data-preview-type="follow_up_email">Follow-Up Email Preview</li>
    <li id="show_sms_preview" data-preview-type="sms">SMS Preview</li>
  </ul>
  <%= render 'email_client_wrapper' %>
</div>
