<div class="email-client">
  <div class="email_preview_overlay">
    <%= image_tag 'spinner_large.gif' %>
  </div>
  <div class="client-toolbar">
    <i class="email-buttons red"></i>
    <i class="email-buttons yellow"></i>
    <i class="email-buttons green"></i>
    <span class="subject-field"><%= subject %></span>
  </div>
  <div class="iframe">
    <iframe id="share_tiles_email_preview" src="" width="100%" height="100%">    
   </iframe>
  </div>
</div>
