<% unless @follow_up_emails.empty? %>
  <div id="scheduled_followups">
    <h4>Scheduled Follow-Up</h4>
    <table>
      <% @follow_up_emails.each do |follow_up| %>
        <tbody>
          <tr>
            <td><%= follow_up.original_digest_subject %> </td>
            <td><%= follow_up.send_on.to_time.to_s(:tile_digest_email_sent_at) %></td>
            <td><%= link_to "Edit", edit_client_admin_tiles_follow_up_email_path(follow_up), class: "edit-follow-up"  %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
