.new_public_board{:id=>"#{current_user.demo.id}"}
  %div.title_div
    %h4.public_board_title Board Share Link:
    %i.fa.fa-question-circle.has-tip{"data-tooltip" => true, title:"In a public board, anyone can participate using the Board Link. In a private board, only users you specifically add can participate, and the Board Link isn't active."}
  %div.status_div
    - unless @board_is_public
      .private.engaged Private
    - else
      .private.disengaged Private
    .switch.small.round
      %input#public_button{name: "switch-board", type: "radio", checked: @board_is_public}
      %input#private_button{name: "switch-board", type: "radio", checked: !@board_is_public}
      %label.for_private{for: "public_button"} &nbsp
      %label.for_public{for: "private_button"} &nbsp
      %span.switch_button
    - if @board_is_public
      .public.engaged Public
    - else
      .public.disengaged Public
  %div.share_link_div
    = render :partial => 'client_admin/shares/public_url_display'
  %br{clear:"all"}

- js_at_end do
  window.publicBoardControls()