#success_share_digest{style:'display:none'}
  #success_section
    %h1 Congratulations! You've sent your first tiles.
    #invite_images.large-12
      = image_tag("/assets/marketing/send_tile_small-checkmark.png", size:"300x300")    
