#success_share_digest{style:'display:none'}
  #success_section
    %h1 Congratulations! You've sent your first tiles.
    .columns.large-1= image_tag("/assets/marketing/send_tile_small.png", size:"50x50", id:"invite_image")
    #progress.share_progress.large-10.round.columns
      %span.meter{style:"width:100%"}
    %p.send_button.large-1.columns SEND
    #invite_images.large-12
      = image_tag("/assets/marketing/send_tile_small-checkmark.png", size:"300x300")
    %h1{style:"text-align:center"} You can also share your board using a link
