.row
  .large-12.columns= render partial: 'client_admin/tiles/tiles_tools_subnav'

%section.share_tools
  = render 'public_board'
  = render 'digest'

= javascript_include_tag "client_admin/public_board_controls"
