<section class="share_tools js-client-admin-tiles-digest-management">
  <div id="public_board">
    <div class="row">
      <%= render 'public_board_controls' %>
    </div>
  </div>

  <div class="row">
    <div class="cancel_follow_ups large-12 columns">
      <%= render 'manage_follow_ups' %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns" id="digest_management">
      <%= render partial: 'digest_management' %>
    </div>
  </div>
</section>

<% if @digest_sent_type.present? %>
  <%= render partial: "digest_sent_modal" %>
<% end %>
