.row
  .large-12.columns= render partial: 'client_admin/tiles/tiles_tools_subnav'

%section.share_tools
  .row
    .large-12#digest=  render partial: 'digest'

%section.tiles_to_be_shared
  .row
    .large-12.columns
      %h2 Active tiles to be sent
      = render partial: 'shared/tiles/tiles_table', locals: {tiles: @digest_tiles, type: :digest}