.row
- if @demo.non_activated? && current_user.show_onboarding?
  = render partial: 'shared/lock_screen'
-else
  %section.share_tools
    = render 'digest'

  = gzip_javascript_include_tag "client_admin/public_board_controls"
