<section class="share_tools">
  <div id="public_board">
    <div class="row">
      <%= render 'public_board_controls' %>
    </div>
  </div>

  <div class="row">
    <div class="cancel_follow_ups large-12 columns">
      <%= render 'manage_follow_ups' %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns" id="digest_management">
      <%= render partial: 'digest_management' %>
    </div>
  </div>
</section>


<% if @digest_sent_flag %>
  <%= render partial: "digest_was_sent_lightbox" %>
<% end %>

