<!-- list of all case studies -->
<% @case_studies.keys.each do |key| %>
  <!-- case study logo -->
  <%= image_tag "case_studies/#{key}/#{@case_studies[key]['logo']}" %>

  <!-- case study name -->
  <h3><%= @case_studies[key]['name'] %></h3>

  <!-- case study headline -->
  <p><%= @case_studies[key]['headline'] %></p>
<% end %>
