<div class="large-9 large-centered columns tile_preview_container">
  <%= render partial: 'client_admin/tiles/tile_preview/menu', locals: {tile: @tile, show_client_admin_menu: true, menu_type: "client_admin_created"} %>
  <div class='viewer'>
    <%= link_to "" , client_admin_tile_preview_path(@prev_tile, tile_ids: @tiles.map(&:id)), id: "prev_tile", class: "button_arrow prev_tile", data: { action: "show", tile_id: @prev_tile } %>

    <%= link_to "",  client_admin_tile_preview_path(@next_tile, tile_ids: @tiles.map(&:id)) , id: "next_tile", class: "button_arrow next_tile", data: { action: "show", tile_id: @next_tile } %>
    <div id="slideshow">
      <%= render "tiles/full_size_tile", tile: @tile, is_preview: true, image_is_loading: true %>
    </div>
  </div>
</div>
