<ul class="tile_preview_menu explore_menu" >
  <li class="preview_menu_item" data-intro="If you see a Tile you like, click this button to save it for later. You'll be able to customize the content." >
    <%=link_to explore_copy_tile_path(tile_id: tile.id, path: :via_explore_page_tile_view), class: "copy_to_board", data: {"tile-id" => tile.id} do %>
      <i class="fa fa-copy fa-1x"></i>
      <span class="header_text">
        Copy to Board
      </span>
    <%end%>
  </li>
</ul>