<%= content_tag 'div', class: 'share_bar', data: intros.data_for('share_bar') do %>
  <div class="share_title">Share Link</div>
  <div class="share_link_block">
    <%= text_field_tag 'share_tile_link', explore_tile_preview_url(tile), id: "share_link", class: "no_margin_bottom" %>
  </div>
<% end %>
