<h3><%= @user.name %> (<%= @user.email %>) has created a new board <%= @board.name %> (<%= @board.id %>).</h3>

<p>Please do the following:</p>
<ol>
  <li>Verify that they are an HRM</li>
  <li>Verify company name and add in site-admin</li>
  <li>Add to Salesforce as a qualified lead</li>
  <li>Add to Mailchimp marketing list</li>
  <li>Reach out via phone and then via email (if no answer)</li>
</ol>