<div class="tocify-wrapper">
  <%= image_tag "airbo_logo_white.png" %>
  <div class="separator separator-top"></div>
  <div id="toc"></div>
</div>
<div class="page-wrapper">
  <%= render partial: "supports/content" %>
</div>
