
.financials-dashboard, .client-admin-kpi-dashboard {

  .activity-header {
    background-color: $n-blue;
    margin: 20px;
    height: 7em;
    border-radius: 3px;
    .header-number {
      line-height: 1.25em;
      text-align: left;
      color: $off-white;
      margin: 0;
      padding-top: 12px;
      padding-left: 20px;
      font-size: 300%;
    }
    .header-unit {
      color: #fff;
      margin: 0;
      padding-left: 25px;
      font-size: 18px;
    }
  }
  .total-arr{
    background-color: $n-yellow;
  }
  .total-customers{
    background-color: $n-green;
  }
  .total-mrr{
    background-color: $n-purple;
  }

  .separator{
   background-color: $n-green;
  }

  .indent-1{
    padding-left: 1.5em;
  }
  .indent-2{
    padding-left: 2.5em;
  }

  .indent-3{
    padding-left: 3.5em;
  }


 table.kpi{
   td {
      text-align: right;
   }

   th.grp{
     background: #DDD;
   }
 }

}


