<div class="row">
  <div class="large-10 columns large-centered">
    <h1>Model</h1>
    <%= render 'shared/segmentation_form', dummy_characteristics: @dummy_characteristics, generic_characteristics: @generic_characteristics, demo_specific_characteristics: @demo_specific_characteristics, segmentation_url: client_admin_segmentation_path %>
    <%= render 'shared/segmentation_results', segmentation_results: @segmentation_results %>
  </div>
</div>