<div class="card-component report-module loading-template js-card-loading-template">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="card-content text-center">
      <i class="load-wheel fa fa-spin fa-3x fa-spinner"></i>
    </div>
  </div>
</div>
