<div class="js-sub-component-flash flash-js hidden">
  <div class="flash-js-msg {{flashClass}}">
    <div class="row">
      <div class="columns small-12">
        <div class="flash-content large-12 columns">
          {{message}}
        </div>
        <div class="js-flash-close flash-close">
          <a href="#" id="close-flash">x</a>
        </div>
      </div>
    </div>
  </div>
</div>
