<div class="card-component report-module no-data-card-template js-no-data-card-template">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="card-content text-center">
      {{debug}}
      <h3>{{message}}</h3>
      {{{link linkText href=path class="button"}}}
    </div>
  </div>
</div>
