<div class="reveal-modal standard_modal small">
  <div class="modal_container">
    <div class="modal_header">
      <a class="close-reveal-modal"><i class="fa fa-times fa-2x"></i></a>
    </div>
    <div class="modal_content">
    </div>
  </div>
</div>;
