/* TIPS: - using any bg images will not allow IE7 to also do rounded corners/boards or hover states */
/* and they will overlap on top of the borders */

@mixin ie-bg-black {
	background-color:#404040!important;
	background-image:url('v3/bg-black.png')!important;
	background-repeat:repeat-x!important;
	background-position:center center;
}

@mixin ie-bg-black-rev {
	background-color:#2e2f2d!important;
	background-image:url('v3/bg-black-rev.png')!important;
	background-repeat:repeat-x!important;
	background-position:center center!important;
}
@mixin ie-bg-orange {
	background-color:transparent!important;
	background-color:#ffd04b;
	background-image:url('v3/bg-orange.png')!important;
	background-position:center center!important;
}
@mixin ie-bg-orange-btn {
	background-color:transparent!important;
	background-image:url('v3/btn_play.png')!important;
	background-repeat:no-repeat!important;
	background-repeat:no-repeat;
}
@mixin ie-bg-orange-btn-down {
	background-color:transparent!important;
	background-image:url('v3/btn_play_down.png')!important;
	background-repeat:no-repeat!important;
	background-repeat:no-repeat;
}

body.invitations-show input#user_terms_and_conditions {top:0!important;}

.header {
	.mast_top {
		.navigation a.a_current {
		//	background-color:#404040;
		//	border:0!important;
			@include ie-bg-black;
		}	
	}
	.mast_bottom {
		.bar_command { 
			input[type="submit"] {
				@include ie-bg-orange-btn;
				color:#3b3b3b!important;
				padding-top:0px!important;
				&:hover {
					@include ie-bg-orange-btn-down;
					color:#fff!important;
				}
			}
		}
		.bar_progress {
			.bar {
				.progress {
				}
			}
		}
		.bar_level {
			p.level {color:#2e2f2d!important;}
		}
	}	
}

input[type="submit"].button_norm {
	background-color:#404040;
/*	@include ie-bg-black-rev;
	&:hover{
		background:red!important;
	} */
}

.tile-thumbnail {
	a {
		@include ie-bg-orange;
//		background-color:#ff9707;
		color:#3b3b3b!important;
		&:hover {
			@include ie-bg-black-rev;
			color:#fff!important;
		}
	}

}

.feeds {
	ul.tabs {
		li {
			background-color:#404040;
		}
	}
	
	#acts {
		margin-top: 0!important;
		position: relative;
		top: -10px;
	}
	.act {
		padding: 7px 0 10px 0!important;
	}
	.act-shim {
		display: none;
	}
}

body.scores {
	div.points {
		width:82px!important;
	}
}

// span.domain {
  // position: relative;
  // top: -25px;
  // left: 275px;
// }

#session_email{
  padding-left: 15px !important;
  width: 300px;
}
.quick_tour_link, .contact_us_link{
  width: 140px !important;
}
#feed_wrapper, #bar_command_wrapper, #search_box_wrapper, #directory_wrapper, #following_wrapper{
  position: relative;
}
#bar_command_wrapper{
  z-index: 1;
}
#black_tooltip.left{
  #differing_spacings{ left: 7px !important; width: 320px !important;}
  #tutorial_menu{ right: 8px !important; }
} 

#black_tooltip.right{
  #differing_spacings{ left: -3px !important; }
  #tutorial_menu{ right: 16px !important; }
}
#tutorial_menu #options{
  right: 5px; // This is here to make sure you can still select the .close_tutorial button in the chicken
}
#tutorial_introduction_inner .show_tutorial{
  behavior: none !important;
}
