/*
*= require flickity/dist/flickity.min.css
*/
@import "font-awesome";
@import "./mixins/main_styles.css.scss";
@import "./external/public_nav_bar.scss";
@import "./internal/flash.css.scss";
@import "./marketing-site/main.scss";

@mixin button-outlined-intro{
  @include button-outlined-color($n-white);
  &:hover {
    color: $n-blue !important;
  }
}

.pages-home {
  #signups_modal, #demo_requests_modal {
    border-radius: 0;
    background: $n-blue;
    padding: 30px;
    color: #fff;
    a {
      @include button-outlined-intro;
      margin: 5px;
    }
  }
}
