/*
*= require medium-editor/medium-editor
*= require medium-editor/themes/default
*/
/* For all */
@import "./vendor/normalize.css.scss";
@import "./vendor/foundation.min.css.scss";
@import "./mixins/main_styles.css.scss";
@import "./mixins/placeholder_color.css.scss";
@import "./mixins/lightbox.css.scss";
@import "./internal/intercom.css.scss";
@import "./internal/flash.css.scss";
@import "font-awesome";

@import './internal/tile_thumbnail/tiles_thumbnails_desktop';
@import './internal/tile_fullsize/tiles_fullsize';


/* Base mobile styles */
@import "./external/_header.css.scss";
@import "./external/marketing.css.scss";

@import "./external/more_info/hero.css.scss";
@import "./external/more_info/tiles_detail.css.scss";
@import "./external/more_info/_any_objective.css.scss";
@import "./external/more_info/build_fast.css.scss";
@import "./external/more_info/reach_people.css.scss"; // list for Deployment in here too
@import "./external/more_info/target_influence.css.scss";
@import "./external/more_info/biz_built.css.scss";

@import "./external/_case_study.css.scss";
@import "./external/_request_demo.css.scss";
@import "./external/_footer.css.scss";
@import "./external/_customer_tile.css.scss";

/* External signup-login process pages */
@import "./external/_sessions-external.css.scss";
@import "./external/join.css.scss";

/* External cancel-account page */
@import "./external/_cancel_account.css.scss";

/* External unsubscribe page */
@import "./external/_unsubscribe.css.scss";


/* RWD */
@media only screen and (min-width: $foundation) {
	@import "./external/screen_medium.css.scss";
	@import "./external/more_info/general_moreinfo.css.scss";
}
@media only screen and (min-width: $mid-desktop) {
	@import "./external/screen_desktop.css.scss";
	@import './internal/tile_thumbnail/tiles_thumbnails_desktop';
}
@media only screen and (min-width: $large-desktop) {
	@import "./external/screen_large.css.scss";
}
