@import "font-awesome";
@import "./mixins/main_styles.css.scss";
// @import "./internal/mast.css.scss";
@import "./internal/flash.css.scss";
@import "./external/landing/common.css.scss";
// @import "./mixins/placeholder_color.css.scss";
// @import "./external/mast_public.css.scss";
// @import "./external/_request_demo.css.scss";
@import "./external/product.css.scss";
@import "./external/schedule_demo_modal.css.scss";
@import "./external/welcome.css.scss";
@import "./external/asha.css.scss";
@import "./external/company.css.scss";
@import "./external/home.scss";


// @media only screen and (min-width: 530px) {
// }
//
// @media only screen and (min-width: $foundation) {
//   @import "./internal/mast_desktop.css.scss";
//   @import "./external/mast_desktop_public.css.scss";
// }
//
// @media only screen and (min-width: $large-desktop) {
//
// }

#airbo_announcement {
  .row {
    padding:1em;
    position: relative;
  }
  .flash-content {
    padding-right:2em;
    line-height: 1.5em;
    a {border-bottom:1px $white dashed;}
  }
  .flash-close {
    position: absolute;
    top:.5em;
    right:1em;
    a {
      display: inline-block;
      @include font-bold;
      padding:.1em .3em;
    }
  }
}

#flash_failure, #flash_notice, #flash_success {
  border:0;
  border-radius: 0;
  color:$white;
  @include font-regular;
  margin:0;
  padding:0;
  a {
    color:$white;
    @include font-bold;
  }
}
