body {
    background:#49ade9;
    color:black;
    font-size:18px;
    margin:0;
}
.cf {clear:both;}

.main-contain {background:#49ade9; height:410px; text-align: center;}
.header {margin:0 auto; width:960px;}
.header {
    color:#B9B9B9;
    font-size:14px;
    padding:20px 0 60px 0;
    text-align:left;
}
.header img {
    width: auto;
    height: 4em;}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    text-color: white;
}
