$joyride-tip-bg: rgb(255,255,255) !default;
$joyride-tip-font-color: #000 !default;

$has-tip-border-bottom: inherit;
$has-tip-border-bottom-hover: inherit;
$has-tip-cursor-type: cursor;
@import "./vendor/foundation/_variables.scss";
@import "./vendor/foundation/_global.scss";
@import "./vendor/foundation/_pagination.scss";
@import "./vendor/foundation/_tooltips.scss";
@import "./vendor/foundation/_reveal.scss";
@import "./vendor/foundation/_joyride.scss";
@import "./vendor/foundation/_switch.scss";
@import "./vendor/foundation.min.css.scss";
