@import "./vendor/normalize.css.scss";
@import "./vendor/foundation.min.css.scss";
@import "./mixins/main_styles.css.scss";

section:after{@include clear;}
.row section {margin:2em auto;}
.example {
  border:1px $light-gray dashed; 
  padding:1em;
  img {max-width:15em;}
}

.dark-bg {background:$dark-gray; border-color:$dark-gray;}
/*
h2 {
  font-size: 18px;
  color: $sky-blue;
}
h3 {
  color: $text-color;
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: $text-color;
}
h5 {
  color:$med-gray;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
*/
#regular_text{
  //font-size: 14px;
  //color:$med-gray;
  @include regular-text;
}

.logos .example {
  padding:1em 1em; 
  text-align: center;
  img{
    max-height: 3em;
  }
}


.small_button {
  font-size:12px!important;
  //min-width: 90px !important;
}
.medium_button {
  font-size:16px !important;
  //min-width: 150px !important;
}
.large_button {
  font-size:20px!important;
  //min-width: 200px !important;
}

.big_button#blue {@include app-button($blue);}
.big_button#sky-blue {@include app-button($sky-blue);}
.big_button#red {@include app-button($red);}
.big_button#gray {@include app-button($med-gray);}

.buttons {
  .full-buttons {margin-bottom:2em;}
  .light_button#blue {@include light-button($blue);}
  .light_button#gray {@include light-button($med-gray);}
  .light_button#sky-blue {@include light-button($sky-blue);}
  .light_button#red {@include light-button($red);}
}

.colors .large-3 {
  color:$white;
  @include font-bold;
  font-size:.875em;
  padding:1.5em .5em;
  text-align: center;
  text-transform: uppercase;
  
  &#almost-white, 
  &#light-gray, 
  &#white, 
  &#header-color,
  &#tile-tag-border,
  &#body-bg,
  &#tile-wall-bg,
  &#form-bg
  {color: $dark;}
}