@import "./vendor/normalize.css.scss";
@import "./foundation_and_overrides.scss";
@import "./mixins/main_styles.css.scss";
@import "./mixins/green_paddle_switch.css.scss";
@import "font-awesome";

section:after{@include clear;}
.row section {margin:2em auto;}
.example {
  border:1px $light-gray dashed; 
  padding:1em;
  img {max-width:15em;}
}

.dark-bg {background:$dark-gray; border-color:$dark-gray;}

.regular_text{
  @include regular-text;
}

#caption {
  @include caption;
}

.logos .example {
  padding:1em 1em; 
  text-align: center;
  img{
    max-height: 3em;
  }
}

.big_button#blue {@include app-button($blue);}
.big_button#sky-blue {@include app-button($sky-blue);}
.big_button#red {@include app-button($red);}
.big_button#gray {@include app-button($med-gray);}

.small_button {
  font-size:10px !important;
}

.buttons {
  .light_button#blue {@include light-button($blue);}
  .light_button#gray {@include light-button($med-gray);}
  .light_button#sky-blue {@include light-button($sky-blue);}
  .light_button#red {@include light-button($red);}
}

.colors .large-3 {
  color:$white;
  @include font-bold;
  font-size:.875em;
  padding:1.5em .5em;
  text-align: center;
  text-transform: uppercase;
  
  &#almost-white, 
  &#light-gray, 
  &#lightest-gray, 
  &#white, 
  &#header-color,
  &#tile-tag-border,
  &#body-bg,
  &#tile-wall-bg,
  &#form-bg
  {color: $dark;}
}
form{
  .switcher{
    @include regular-text;
    overflow: auto;
    .engaged{
      color: $dark-gray;
    }
    .off, .on{
      float: left;
      padding: 6px;
    }
    .switch{
      @include green-paddle-switch;
    }
  }
}
.sections{
  .example_section{
    border:1px $light-gray dashed; 
  }
  .dividing_line{
    section {
      &:first-of-type {
        border-bottom: 1px solid $lightest-gray;
        padding-bottom: 2em;
      }
    }
  }
}
