@import "./vendor/normalize.css.scss";
@import "./vendor/foundation.min.css.scss";
@import "./mixins/main_styles.css.scss";

section:after{@include clear;}
.row section {margin:2em auto;}
.example {
  border:1px $light-gray dashed; 
  padding:1em;
  img {max-width:15em;}
}

.dark-bg {background:$dark-gray; border-color:$dark-gray;}

h5 {color:$med-gray}

.logos .example {padding:2em 1em; text-align: center;}


.small_button {
  font-size:12px!important;
  //min-width: 90px !important;
}
.medium_button {
  font-size:16px !important;
  //min-width: 150px !important;
}
.large_button {
  font-size:20px!important;
  //min-width: 200px !important;
}

.big_button#blue {@include app-button($blue);}
.big_button#green {@include app-button($dark-green);}
.big_button#orange {@include app-button($orange);}
.big_button#red {@include app-button($red);}
.big_button#gray {@include app-button($med-gray);}

.buttons {
  .full-buttons {margin-bottom:2em;}
  .light_button#blue {@include light-button($blue);}
  .light_button#gray {@include light-button($med-gray);}
  .light_button#green {@include light-button($dark-green);}
  .light_button#orange {@include light-button($orange);}
  .light_button#red {@include light-button($red);}
}

.colors .large-3 {
  color:$white;
  @include font-bold;
  font-size:.875em;
  padding:1.5em .5em;
  text-align: center;
  text-transform: uppercase;
  
  &#almost-white, 
  &#light-gray, 
  &#white, 
  &#header-color,
  &#tile-tag-border,
  &#body-bg,
  &#tile-wall-bg,
  &#form-bg
  {color: $dark;}
  /*&#green {background:$dark-green}
  &#orange {background:$orange}
  &#red {background:$red}
  &#dark-gray {background:$dark-gray}
  &#med-gray {background:$med-gray}
  &#gray {background:$gray}
  &#light-gray {background:$light-gray}
  */
}

.progress_bar {
  background-color: $light-gray;
  border-radius: 2em;
  padding: .5em;
  width: 100%;

  .filled_bar {
    @include ease(1s);
    background: $white;
    border-radius: 2em;
    height: 1em;
    width: 50%;
    max-width: 100%;
  }
}