<%= form_for board, url: board_welcome_message_client_admin_board_settings_path, html: { id: "edit_board_welcome_message"} do |form| %>
  <%= form.label :persistent_message, "Welcome Message" %>
  <i class="fa fa-question-circle has-tip" id="board_welcome_message_tooltip" data-tooltip="true" title="Customize the welcome message that users see when they first join your board."></i>
  <% welcome_message = board.persistent_message.present? ? board.persistent_message : Demo.default_persistent_message %>
  <%= form.text_area :persistent_message, value: welcome_message, rows: 5, maxlength: 160 %>
  <div class="error_message">
    Sorry, that message is invalid.
  </div>
  <%= form.submit "Update", disabled: true %>
  <a class="clear_form">Clear</a>
<% end %>

<% js_at_end do %>
  $().ready(function(){
    addCharacterCounterFor( $("#demo_persistent_message") );
    window.formWithClearableTextField("#demo_persistent_message");
  })
<% end %>