<%= form_for board, url: board_email_client_admin_board_settings_path, html: { id: "edit_board_email"} do |form| %>
  <%= form.label :email, "Email Address" %>
  <i class="fa fa-question-circle has-tip" id="board_name_tooltip" data-tooltip="true" title="Customize the beginning of your email address (if available)."></i>
  <div class="input_with_postfix">
    <%= form.text_field :email, value: remove_domain_part(board.email) %>
    <span class="postfix">@ourairbo.com</span>
  </div>
  <div class="error_message">
    Sorry, that email address is already taken.
  </div>
  <%= form.submit "Update", disabled: true %>
  <a class="clear_form">Clear</a>
<% end %>

<% js_at_end do %>
  $().ready(function(){
    window.formWithClearableTextField("#demo_email");
  })
<% end %>