<%= form_for board, url: board_name_client_admin_board_settings_path, html: { id: "edit_board_name"} do |form| %>
  <%= form.label :name, "Board Name" %>
  <i class="fa fa-question-circle has-tip" id="board_name_tooltip" data-tooltip="true" title="Change or update the name of your board. [You have <span id='boards_name_chars_left'>XX</span> characters.]"></i>
  <%= form.text_field :name, maxlength: 60 %>
  <div class="error_message">
    Sorry, that board name is already taken.
  </div>
  <%= form.submit "Update", disabled: true %>
<% end %>