<div class="row board_settings">
  <div class="large-6 columns">
    <%= render partial: "board_name_form", locals: { board: @board } %>
    <%= render partial: "board_logo_form", locals: { board: @board } %>
  </div>
</div>