<div class="js-board-settings-module board-settings-module">
  <div class="tabs-component-full-width">
    <div class="row">
      <ul class="inline-list js-board-settings-module-tabs">
        <li class="js-board-settings-component-tab tab active" data-tab-content="js-board-settings-component"><a href="#">Board Settings</a></li>
        <% if false # rollout campaign creation UI here %>
          <li class="js-campaigns-component-tab tab" data-tab-content="js-campaigns-component"><a href="#">Campaign Settings</a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="js-board-settings-component board-settings-component js-board-settings-module-tab-content" >
    <div class="row">
      <%= render 'board_settings_component' %>
    </div>
  </div>

  <div class="js-campaigns-component campaigns-component js-board-settings-module-tab-content hidden" >
    <div class="row">
      <%= render 'campaign_settings_component' %>
    </div>
  </div>
</div>
