.share-board-share-link-component {
  .new_public_board{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .status_div {
      .public, .private{
        float: left;
        margin: 0 3px;
        &.engaged {
          color: $dark-gray;
        }
        &.disengaged {
          color: $light-gray;
        }
      }

      .switch{
        @include green-paddle-switch;
        @include switch-size(16px, 9px, 2.3em);
        margin-top: -2px;
        margin-right: 2px;
        span.switch_button {
          -webkit-box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 1000px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $sky-blue;
          box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.07), 1000px 0 0 988px #dfdfdf, -2px 0 10px 0 rgba(0, 0, 0, 0.07), -1000px 0 0 1000px $sky-blue;
        }
      }
    }
    .share_link_div {
      width: 60%;
    }
  }
}
