// Email Client container
$client-color: #DCDCDC;
$client-radius: 5px;
$client-red: #f85032;
$client-yellow: #fceabb;
$client-green: #bfd255;

.email-client {
  border: 1px $client-color solid;
  border-radius: $client-radius;
  box-shadow: 0 0 4px 0 lighten($client-color, 5%);
  overflow: hidden;
  position: relative;

  &:before {
    background: $client-color;
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #eaeaea 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#eaeaea));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#eaeaea 100%);
    background: linear-gradient(to bottom,  #f7f7f7 0%,#eaeaea 100%);

    content: "";
    border-top-left-radius: $client-radius;
    border-top-right-radius: $client-radius;
    display: block;
    width: 100%;
    height: 1.5em;
  }

  .email_preview_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 100;
    display: none;
    img {
      height: 35px;
      margin-top: 200px;
      margin-left: 365px;
    }
  }

  .client-toolbar {
    background: $almost-white;
    padding: .5em 1em;
    color: $dark-gray;
    letter-spacing: .1em;
    span {
      display: block;
      font-family: sans-serif;
      font-size: .75em;
      font-weight: 600;
      padding-top: .25em;

      &:before {
        content: "Subject:";
        display: inline-block;
        margin-right: .5em;
        text-transform: uppercase;
      }
    }

    .email-buttons {
      width: .65em;
      height: .65em;
      border-radius: 2em;
      display: inline-block;
      position: absolute;
      top: .35em;

      &.red {
        background: $client-red;
        background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85032), color-stop(50%,#f16f5c), color-stop(51%,#f6290c), color-stop(71%,#f02f17), color-stop(100%,#e73827));
        background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: -o-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: -ms-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);
        background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%);

        border: 1px solid darken($client-red, 15%);
        left: .3em;
      }

      &.yellow {
        background: $client-yellow;
        background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#fbdf93));
        background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);
        background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%);

        border: 1px solid darken($client-yellow, 15%);
        left: 1.35em;
      }

      &.green {
        background: $client-green;
        background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
        background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
        background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);

        border: 1px solid darken($client-green, 15%);
        left: 2.45em;
      }
    }
  }

  .iframe {
    background: $white;
    padding: 1.5em 2em;
  }
}