
.follow-up-email-form {
  border-radius: 3px;
  padding: 20px;
  background: white;
  width: 60%;
  margin: auto;

  form{
    width: 90%;
    margin: auto;
  }
}
.cmd-wrapper{
  text-align: right;
}

li.control-group{
  margin-bottom: .5em;
  label {
    display: block;
    padding: 5px;
    font-weight:bold; 
  }
}

.actions a{

  padding:3px;
  margin-left: 5px;
  &:first-of-kind{
    margin-left: 25px;
  }
}


