@import 'tiles-digest-sms-preview';

.client_admin-shares{
  @import 'edit_follow_up_modal';

  .content{
    padding: 0;
  }

  .digest-sent-modal {
    margin-left: -20%;
    width: 40%;
    p{
      @include regular-text;
    }
  }
}

.share-module {
  @import 'deliver';
  @import 'automate';
  @import 'follow_ups';
  @import 'board_share_link';

  .share-form-component{
    margin-bottom: 30px;
  }

  .share-form-text{
    margin-bottom: 10px;
  }

  .share-module-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 1em 0;
    font-size: 18px;
  }

  .share-module-header .last-sent-at {
    color: #a8a8a8;
    font-size: 14px;
    &.scheduled {
      color: #4fd4c0;
    }
  }

  .share-module-header h3 {
    margin-bottom: 5px;
  }
}
