<div class="hero" id="banner">
  <div class="cover">
    <div class="cover_image">
      <%= image_tag @demo.cover_image %>
      <div class="shadow_overlay"></div>
      <div class="name_section">
        <h1><%= @demo.name %></h1>
      </div>
    </div>
    <div class="cover_desc">
      <p>
        <%= @demo.cover_message %>
      </p>
    </div>
  </div>
</div>
