<div class="hero" id="banner">
  <div class="cover">
    <div class="cover_image">
      <%= image_tag @demo.cover_image %>
      <div class="shadow_overlay"></div>
      <h1><%= @demo.name %></h1>
    </div>
    <div class="cover_desc">
      <p>
        <%= "Suggested Use: Post one TIle from this Collection every week. Encourage employees to speak to each other about their experiance with the recipes. Use the Suggestion Box feature to collect healthy recipes from employees." || @demo.login_announcement %>
      </p>
    </div>
  </div>
</div>
