<section class="board_hero_section" style="background-image: url(<%= @demo.cover_image.url %>);">
  <div class="hero-mask"></div>
  <div class="vertical_middle">
    <div class="row">
      <div class="large-8 large-centered columns">
        <h1 class="text-center white"><%= @demo.name %></h1>
      </div>
    </div>
  </div>
</section>
<section>
    <div class="row">
      <div class="large-8 large-centered columns">

        <%= unescape_html brake_to_paragraphs(@demo.cover_message) %>
      </div>
    </div>
</section>
