<div class="hero" id="banner">
  <div class="cover">
    <div class="cover_image" style="background-image: url('<%= @demo.cover_image.url %>');" >
      <div class="shadow_overlay"></div>
      <div class="name_section">
        <h1><%= @demo.name %></h1>
      </div>
    </div>
    <div class="cover_desc">
      <%= unescape_html @demo.cover_message.split(/\n/).map{|line| "<p>" + line + "</p>"}.join %>
    </div>
  </div>
</div>
