=semantic_form_for characteristic, :url => form_submit_path do |form|
  %fieldset
    %legend Add New Characteristic
    =form.input :name
    =form.input :description
    #allowed-values
      =label_tag "characteristic[allowed_values][]", "Allowed values"
      -characteristic.allowed_values.each do |allowed_value|
        =text_field_tag "characteristic[allowed_values][]", allowed_value
      - empty_string = ''
      - 6.times.each do 
        =text_field_tag "characteristic[allowed_values][]", empty_string
    =submit_tag "More allowed values", :id => "more-allowed-values-button"
    =form.submit

=content_for :javascript do
  :javascript
    $('#more-allowed-values-button').click(function(e) {
      e.preventDefault();
      $('#allowed-values').append('<input type="text" name="characteristic[allowed_values][]">');
    });
