=semantic_form_for characteristic, :url => form_submit_path do |form|
  %fieldset
    %legend Add New Characteristic
    =form.input :name
    =form.input :description
    =form.input :datatype, :as => :select, :collection => Characteristic.datatype_names, :include_blank => false
    #allowed-values-wrapper
      #allowed-values
        =label_tag "characteristic[allowed_values][]", "Allowed values"
        -(characteristic.allowed_values.present? ? characteristic.allowed_values : ['']).each do |allowed_value|
          =text_field_tag "characteristic[allowed_values][]", allowed_value
        =submit_tag "More allowed values", :id => "more-allowed-values-button"
    =form.submit

=content_for :javascript do
  :javascript
    $('select[name="characteristic[datatype]"]').change(function(e) {
      var newValue = enclosingSelect(e.target).val();
      if ('Discrete' === newValue) {
        $('#allowed-values').show();
      } else {
        $('#allowed-values').hide();
      }
    });

    $('#more-allowed-values-button').click(function(e) {
      e.preventDefault();
      $('#allowed-values-wrapper').append('<input type="text" name="characteristic[allowed_values][]">');
    });
