@mixin marketing-site-main-hero($bg-image, $bg-image-position: top center, $height: 674px) {
  .main-hero {
    background: image-url($bg-image);
    background-size: cover;
    background-position: $bg-image-position;
    display: flex;
    height: $height;
    position: relative;

    .wrap {
      z-index: 5;
      .copy {
        margin-top: 156px;
        .main-hero-header {
          width: 400px;
        	font-size: 34px;
          color: $white;
          line-height: 40px;
          margin-bottom: 0;
          @media only screen and (max-width: 768px) {
            font-size: 28px;
          }
        }
        .main-hero-subheader {
          color: $white;
          width: 255px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          margin: 10px 0;
        }
        .main-hero-cta-link {
          width: 190px;
        }
      }
    }
  }
}
