@mixin marketing-site-reset() {
  ::-moz-selection {background: #b3d4fc;text-shadow: none;}
  ::selection {background: #b3d4fc;text-shadow: none;}

  audio,canvas,iframe,img,svg,video {vertical-align: middle;}
  html, body {
    margin: 0;
    padding:0;
  }

  h1,h2,h3,h4,h5,h6 {
    color: #33445c;
    font-weight: bold;
    line-height: 1;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 {font-size: 40px;}
  h3 {font-size: 32px;}
  h4 {font-size: 24px;}
  h5 {font-size: 18px;}
  h6 {
    font-size: 15px;
    text-transform: uppercase;
  }

  p { margin: 32px 0; }

  a {
    color: #48bfff;
    text-decoration: none;
  }

  blockquote {
    color: #404040;
    font: 20px/28px 'Open Sans';
    font-weight: 300;
    font-style: italic;
    margin: 32px 0;
  }

  cite { font-style: normal; }

  strong { font-weight: bold; }

  fieldset {border: 0;margin: 0;padding: 0;}
  textarea {resize: vertical;}

  svg { fill: currentColor; }

  label {
    color: #babec0;
    font-size: 12px;
    text-transform: uppercase;
  }

  .wrap {
    margin: 0 auto;
    padding: 0 48px;
    width: 100%;
    max-width: 1200px;
  }

  ul:after {clear:both;content:'';display:table;}

  .align-li {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 21px;
    text-indent: -21px;
  }

}
