@mixin marketing-site-analytics() {
  .analytics {
    background-color: $n-green;
    display: flex;
    position: relative;

    .analytics-image-container {
      .analytics-image {
        height: 450px;
      }
    }
    .copy {
      margin-top: 150px;
      .analytics-header {
        color: $white;
        margin-bottom: 0;
        font-size: 28px;
      }
      .analytics-subheader {
        color: $white;
        margin: 0;
        font-size: 16px;
        font-weight: lighter;
        line-height: 1.22;
      }
    }

    @media only screen and (max-width: 768px) {
      .analytics-image-container {
        .analytics-image {
          height: 350px;
        }
      }
      .copy {
        margin-top: 100px;
      }
    }
  }
}
