@mixin marketing-site-secondary-hero() {
  .secondary-hero {
    background: image-url('marketing_site/secondary-hero.jpg');
    background-size: cover;
    background-position: right;
    display: flex;
    height: 562px;
    position: relative;

    .wrap {
      z-index: 5;
      .copy {
        margin-top: 170px;
        float: right;
        .quote {
          max-width: 458px;
        	font-size: 24px;
          color: $white;
          line-height: 35px;
          margin: 0;
        }
        .cite {
          margin-top: 15px;
          p {
            margin: 0;
            color: $white;
            font-size: 14px;
            line-height: 17px;
            font-weight: lighter;
          }
        }
      }
    }
  }
}
