@import 'mixins/dropdown-button-component';

@mixin marketing-site-case-studies-industry-dropdown() {
  .industry-select {
    @include dropdown-button-component();
    min-height: 31px;
    margin-left: 10px;
    .nice-select {
      min-width: 255px;
      margin: 30px 0;
      .list {
        left: 0 !important;
        right: 0 !important;
      }
      &:after {
        margin-left: 0;
        float: right;
      }
    }

    @media only screen and (max-width: 768px) {
      margin-left: 0;
      .nice-select {
        float: none;
        width: 255px;
        margin-right: auto !important;
        margin-left: auto !important;
      }
    }
  }
}
