@mixin marketing-site-case-studies-index-header() {
  .case-studies-index-header{
    .wrap {
      text-align: center;
      .pre-header {
        font-size: 15px;
        text-transform: uppercase;
        color: #d2dade;
        margin-top: 60px;
        margin-bottom: 0;
      }
      .header {
        color: $dark-blue;
        width: 50%;
        margin: 10px 0;
      }
    }
  }
}
