@mixin marketing-site-main-hero() {
  .main-hero {
    background: image-url('marketing_site/main-hero.png');
    background-size: cover;
    background-position: right;
    display: flex;
    height: 654px;
    position: relative;

    .wrap {
      z-index: 5;
      .copy {
        margin-top: 156px;
        .main-hero-header {
          width: 255px;
        	font-size: 34px;
          color: $white;
          line-height: 40px;
          margin-bottom: 0;
        }
        .main-hero-subheader {
          color: $white;
          width: 255px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          margin: 10px 0;
        }
        .main-hero-cta-link {
          width: 190px;
        }
      }

      .copy-mobile {
        display: none;
      }

      @media only screen and (max-width: 768px) {
        .copy {
          display: none;
        }
        .copy-mobile {
          margin-top: 156px;
          display: block;
          margin-right: auto;
          margin-left: auto;
          max-width: 450px;
          margin: inherit 25px;
          padding: 15px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          background-color:  $white;
          -webkit-box-shadow: 0 8px 6px -6px #777;
          -moz-box-shadow: 0 8px 6px -6px #777;
          box-shadow: 0 8px 6px -6px #777;
          .main-hero-header {
            width: 100%;
            margin-top: 0;
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 0;
            color: $text-color;
          }
          .main-hero-subheader {
            width: 100%;
            color: $gray-4;
            font-size: 16px;
            line-height: 22px;
            margin: 5px 0;
          }
          .main-hero-cta-link {
            margin-top: 40px;
            width: 190px;
          }
        }
      }
    }
  }
}
