@mixin marketing-site-footer() {
  .marketing-site-footer {
    height: 40px;
    background-color: $dark-blue;
    .logo {
      display: block;
      padding-top: 7px;
      height: 25px;
      width: 50px;
    }
  }
}
