@import "../../mixins/flickity-custom-basic.scss";

@mixin marketing-site-highlights() {
  .highlights-carousel-container {
    background-color: $n-blue;
    color: $n-white;
    width: 100%;
    .header-container {
      text-align: center;

      .header {
        padding: 50px 15px 5px 15px;
        margin: 0;
        color: $n-white;
      }
    }
    .highlights-carousel {
      @include flickity-custom-basic($color: #fff);
      max-width: 71.25em;
      width: 90%;
      .press-highlight {
        height: 340px;
        width: 33.3%;
        padding: 30px;
        .press-quote-section {
          height: 100px;
          text-align: center;
          .press-quote {
            font-weight: lighter;
            margin-bottom: 0;
            margin-top: 15px;
          }
        }
        .highlight-cta-section {
          text-align: center;
          margin-bottom: 20px;
        }

        .press-source {
          text-align: center;
          .thumbnail {
            height: 70px;
            width: auto;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      .header-container {
        width: 80%;
      }
      .highlights-carousel {
        width: 80%;
        .press-highlight {
          width: 100%;
        }
      }
    }
  }
}
