@mixin marketing-site-about-timeline() {
  .timeline {
    .intro-image {
      margin: 50px 0;
      img {
        max-width: 800px;
        width: 90%;
      }
    }
    .intro-story {
      width: 70%;
      font-size: 18px;
      margin-bottom: 50px;
    }
    .timeline-image {
      width: 70%;
    }
    .timeline-image-mobile {
      display: none;
    }
    @media only screen and (max-width: 768px) {
      .intro-story {
        display: none;
      }
      .timeline-image {
        display: none;
      }
      .timeline-image-mobile {
        width: 80%;
        display: block;
      }
    }
  }
}
