<div class="row">
  <div class="columns small-12">
    <h3>Channels</h3>
    <div class="row">
      <div class="columns small-2">
        <%= render partial: "shared/button_with_spinner", locals: { button_id: "new-channel", button_classes: "", button_text: "New" } %>
      </div>
    </div>
  </div>
</div>
  <div id="new-channel-container">
  </div>
  <div id="channel-container">
    <% @channels.each do |channel| %>
      <%= render "channel_form", channel: channel %>
    <% end %>
  </div>
</div>
