<div class="row">
  <div class="columns small-12">
    <h3>Edit User: <%= @user.email %></h3>
    <div class="row">
      <div class="columns small-6">
        <fieldset>
          <legend>Invitation URL</legend>
          <%= invitation_url(@user.invitation_code) %>
        </fieldset>
        <br>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
</div>
