<div class="image_library">
  <div class="tile_images">
    <%= render 'client_admin/tiles/form/image_uploader', form: form %>
    <%= render @tile_images %>
  </div>
  <div class="pagination">
    <%= link_to 'AAAAAAAAA', client_admin_tile_images_path(page: 1), rel: 'next' %>
  </div>
</div>

<%= js_at_end do %>
  window.imageLibrary();
  window.imageLibraryScroll();
<% end %>