<div class="tile-info-banner js-anonymous-tile-tooltip"  data-tooltip-content=".js-tooltip-content.anonymous">
  <span class="tile-info-banner-text">Your answer is <span class="under-dot">anonymous</span></span>
  <div class="js-tooltip-template tooltip-template">
    <div class="js-tooltip-content tooltip-content anonymous"> 
      The anonymity of your answer is guaranteed by Airbo, a third party.
    </div>
  </div>
</div>
