- display_no_tiles_section = (@archive_tiles.empty? || @archive_tiles.all?(&:is_placeholder?)) ? "block" : "none"
%div.no_tiles_section{style: "display:#{display_no_tiles_section};"}
  - tile = TileOddRowPlaceholder.new
  - 4.times do |col|
    = render "shared/tiles/single_#{tile.class.to_s.underscore}", tile: tile

= render partial: 'shared/tiles/tiles_table', locals: {tiles: @archive_tiles, type: :archive}
