- if @archive_tiles.empty? || @archive_tiles.last.is_placeholder?
  %div.no_tiles_message There are no archived tiles.

= render partial: 'shared/tiles/tiles_table', locals: {tiles: @archive_tiles, type: :archive}
