- if raffle.live?
  - raffle_type = (browser.ie6? || browser.ie7? || browser.ie8? || browser.ie9?) ? "line_bar" : "round_bar"
  #raffle_section{class: raffle_type }
    #raffle_header.progress_header
      Your Entries
    #raffle_data.progress_header
      #raffle_time_left
        %span.fa.fa-clock-o
        = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :number
        = time_left starts_at: raffle.starts_at, ends_at: raffle.ends_at, position: :first, format: :text
      #raffle_info
        %span.fa.fa-trophy
        Info
    -#FIXME a small hack to disable radial progress color fill when using custom colors 
    .progress-radial{class: @palette ? '' : ("progress-" + (raffle_progress_bar * 10).to_s), "data-progress" => raffle_progress_bar * 10}
      #raffle_entries.overlay
        = starting_tickets
      .point_container_ie
        .point_progress_ie
