%tr
  - columns.size.times do |col|
    - tile = columns[col]
    - if tile.is_placeholder?
      = render 'shared/tiles/single_placeholder', tile: tile
    - else
      = render 'shared/tiles/single_tile', tile: tile, type: type
