#user_progress
  #raffle_section
    #raffle_header.progress_header
      Raffle Entries
    #raffle_data.progress_header
      #raffle_time_left
        %icon.fa.fa-clock-o
        12 weeks
      #raffle_info
        %icon.fa.fa-trophy
        Info
    .progress-radial{class: "progress-" + (raffle_progress_bar * 10).to_s}
      #raffle_entries.overlay
        = starting_tickets
  #total_section
    #total_header.progress_header
      Total points
    #total_points
      = current_user.points
  #tile_section
    #tile_header.progress_header
      Tiles
    #all_tiles
      = current_user.avaliable_tiles_on_current_demo.count
    #tile_progress_bar
      #completed_tiles
        %icon.fa.fa-check
        = current_user.completed_tiles_on_current_demo.count