<div class="related-channel-tags">
  <% tile.channel_list.each do |channel| %>
    <%= link_to channel, explore_channel_path(id: channel), class: "button outlined gray explore-tag" %>
  <% end %>
</div>
