<% render layout: "/shared/modals/standard_modal", locals: {modal_id: "sign_up_modal"} do %>
  <div class="sign_up_section">
    <%= render partial: 'shared/sign_up_form', locals: { user: User.new, board: Demo.new, headline: "Create an account to interact with this tile and many others.", remote_type: true } %>
  </div>
<% end %>