<% content_for :head do %>
  <%= render 'shared/opengraph_meta_tags_tile', tile: @tile, source: @explore_or_public %>
<% end %>
<div class='viewer'>
  <div id="tile_preview_section">
    <div class="large-centered columns clearfix tile_preview_block">
      <%= render "tiles/full_size_tile", tile: @tile, is_preview: true, image_is_loading: true %>
    </div>
  </div>
</div>

<%= render partial: 'explore/tile_previews/share_bar', locals: { opts: { tile: @tile, source: @explore_or_public, classes: 'tile-social-share-component' } } %>
