.tile_preview_menu {
  width: 100%;
  max-width: 600px;
  display: flex;
  background: white;
  border-radius: 4px;
  margin: auto;

  &.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
    border-radius: 0;
    border-bottom: 1px solid $tile-wall-bg;
  }

  .preview_menu_item, .preview_menu_text {
    width: 100%;
    text-align: center;
    padding: 0px;
    border-left: 1px $tile-wall-bg solid;
    font-size: 14px;
    color: $gray;
    &:first-child {
      border-left: none;
    }
    a {
      padding: 11px 20px;
      color: $gray;
      display: block;
      &:hover {
        color: darken($gray, 10%);
      }
      .header_text {
        font-size: 12px;
        font-weight: bold;
        margin-left: 3px;
      }
    }
    &.status {
      a {
        cursor: default;
      }
    }
  }


  &.incomplete{
    border: 1px solid #FF5656;
    .preview_menu_item {
      color:  #FF5656;
      a {
        color: #FF5656;
        &:hover {
          color: darken(#FF5656, 10%);
        }
        &:before {
          content: '';
        }

      }
    }
  }

  &.explore_menu, &.form_menu {
    border: 1px solid $n-blue;
    .preview_menu_item {
      color: $n-blue;
      a {
        color: $n-blue;
        &:hover {
          color: darken($n-blue, 10%);
        }
        &:before {
          content: '';
        }
        &[disabled] {
          color: grey;
        }

        &.saving{
          @include button-with-spinner($n-blue);
        }
      }
    }
  }
}
