body.tiles.tiles-index, .client_admin-stock_tiles.client_admin-stock_tiles-show{
  background:$tile-wall-bg;
  .core, .content {background:$tile-wall-bg;}
}

body.tiles.tiles-index {
  // completed mark
  .tile_holder .completed {
    &:before {
      background: $white;
      border-radius: 2em;
      z-index: 100;
      content: "\f058";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-align: center;
      text-decoration: inherit;
    /*--adjust as necessary--*/
      display: block;
      position: absolute;
      color: $dark-green;
      font-size: 36px;
      line-height: 1.1em;
      padding-top: 1px;
      top: 0px;
      right: 0px;
      width: 1.15em;
    }
  }
}

.tile_holder {
  border-radius:$border-radius;
  box-shadow:0 0 1px 1px lighten($med-gray, 5%);
  @include font-regular;
  font-size:1em;
  display: block;
  margin:0 auto;
  position: relative;
  text-align: left;
  width:100%;

  .tile_texts_container {
    background:$white;
    line-height: 1.125em;
    padding-top:1em;
    padding-bottom: 0;
    overflow: auto;
  }
  @import './tile/tile_fullsize/image';
  @import './tile/tile_fullsize/main_fields';
  @import './tile/tile_fullsize/quiz';

  // That's fading. it appears when moving to the next tile
  #spinner_large {
    display: none;
    background:$light-gray;
    opacity: .75;
    filter: alpha(opacity=70);
    position: absolute;
    top:0;
    text-align: center;
    width:100%;
    height: 100%;
    img {
      margin:auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
      position: absolute;
    }
  }
}
