.preview_placeholder{
  .viewer{
    a#next, a#prev {display: block}
  }
  .tile_holder{
    .pholder{
      height: 400px;
      position: relative;

      &.image{
        height: 400px;
        background: #F7F7F7;
        border-bottom: 1px solid #E3E3E3;
        i.fa{
          color: #A2A3A4;
        }

      }


      &.text{
        height: 400px;
        background: #fff;
        i.fa{
          color: #ABADAE;
        }
      }

      i.fa{
        font-size: 70px;
        top: 50%;
        left: 265px;
        position: absolute;
        margin: auto;
      }

    }
  }
}