<div id="board_settings" class="reveal-modal">
  <div class="row">
    <div class="small-11 columns">
      <h1>Board Settings</h1>
    </div>
    <div class="close_board_settings_container">
      <a id="close_board_settings" class="small-1" href="#">Close</a>
    </div>
  </div>
	<div id = "user_settings_body" data-path=<%=board_setting_path%>>
		<%# render 'shared/board_settings/user_settings_body',  user: user %>
	</div>
</div>  

<% if user.can_open_board_settings? %>
  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      $().ready(function(){
        bindBoardSettingsControls();
        if(<%= params[:pop_board_settings_modal].present? %>){
          window.openBoardSettings();
        }
      });
    <% end %>
  <% end %>
<% end %>

