<% if user.boards_as_admin.present? %>
  <div id="admin_board_controls">
    <div class="row">
      <div class="small-12 columns">
        <h2 class="control_section_header">Boards You Manage</h2>
      </div>
    </div>
    <% user.boards_as_admin.sort_by(&:name).each do |board| %>
      <%= render "shared/board_settings/admin_board", board: board %>
    <% end %>
  </div>
<% end %>

<% if user.boards_as_regular_user.present? %>
  <div id="user_board_controls" class="<%= user.divider_class %>">
    <div class="row board_wrapper user_section_header">
      <div class="board_name_column">
        <h2 class="control_section_header">Boards You Participate In</h2>
      </div>

      <div class="email_column">
        <div class="row email_settings_header_wrapper">
          <p id="email_settings_header" class="">Email Settings</p>
        </div>
        <div class="row switch_container">
          <p class="email_settings_subheader">New Tiles</p>
          <p class="email_settings_subheader">Reminder</p>
        </div>
      </div>

      <div class="delete_column"></div>
    </div>
    <% user.boards_as_regular_user.sort_by(&:name).each do |board| %>
      <%= render "shared/board_settings/user_board", board: board, as_admin: false, followup_is_muted: user.followup_is_muted(board), digest_is_muted: user.digest_is_muted(board)  %>
    <% end %>
  </div>
<% end %>
