<!-- Hero Section -->
<div class="position-relative purple-teal-gradient">
  <div class="u-bg-img-hero">

    <div class="container">
      <!-- Hero Carousel -->
      <div class="hero-banner js-slick-carousel u-slick align-items-center u-space-0--lg">
        <div class="js-slide hero-text benefits">
          <h1>Benefits content made fun, visual and short</h1>
          <p style="line-height: 1.7em;">Airbo’s all-in-one software makes it easy to modernize your benefits communications.</p>
        </div>

        <div class="hero-image">
          <%= image_tag 'marketing_site/media_display.png' %>
        </div>
      </div>
      <!-- End Hero Carousel -->
    </div>
  </div>
</div>
<!-- End Hero Section -->
