<div class="position-relative ">
  <div class="cta">
    <%= render partial: "pages/front_theme/svg/balloons" %>
    <div class="container u-space-3-top u-space-3-bottom" data-aos="fade-up" data-aos-duration="1000"
      data-aos-easing="ease-in-out">
    <h2>
      Simplify Your Communication
    </h2>
    <p>Schedule a 30 minute demo to learn more about Airbo.</p>
    <div class="request-demo">
      <a class="btn btn-sm btn-primary js-request-demo">
        Request Demo
      </a>
    </div>
  </div>
</div>
