<div class="position-relative">
  <div class="u-bg-img-hero-bottom quote-block">
    <div class="container u-space-2-top u-space-4-bottom">

      <div class="text-center">
        <div class="mb-4">
          <h1>“Love it! Of all the stuff that gets thrown at us, this is the one I like to read since it’s quick.”</h1>
        </div>
        <div class="w-md-80 w-lg-50 text-center mx-auto mb-7">
          <blockquote class="h3 text-white mb-0">David, Employee Feedback Survey, 2017</blockquote>
          <blockquote class="h3 text-white mb-0">FORTUNE 50 MULTINATIONAL CONGLOMERATE</blockquote>
        </div>
      </div>
    </div>
  </div>

    <div class="request-demo">
      <a class="btn btn-sm btn-primary js-request-demo">
        Request Demo
      </a>

      <p>As a next step, you can schedule a 30 minute demo to learn more about Airbo.</p>
    </div>
</div>
