<!-- Hero Section -->
<div class="position-relative main-hero">
  <div class="u-bg-img-hero">

    <%= image_tag 'marketing_site/balloon-blue.png', class: 'blue-balloon-1 balloon' %>
    <%= image_tag 'marketing_site/balloon-blue.png', class: 'blue-balloon-2 balloon' %>
    <%= image_tag 'marketing_site/cloud-left.png', class: 'cloud-1 cloud' %>
    <%= image_tag 'marketing_site/cloud-right.png', class: 'cloud-2 cloud' %>
    <div class="container">
      <!-- Hero Carousel -->
      <div class="row" data-aos="fade-up" data-aos-duration="1000"
        data-aos-easing="ease-in-out">
      <div class="hero-banner ">
        <div class="js-slide hero-text  col-md-7">
          <h1>Benefits Communication Made Easy & Engaging</h1>
          <p>Capture interest and drive behavior forward.</p>
          <a class="btn btn-sm btn-primary js-request-demo">
            Request Demo
          </a>
        </div>
      <div class="hero-image">
        <video autoplay loop auuffer muted playsinline preload>
          <source src="/videos/header-video-1.mp4" type="video/mp4">
          <source src="/videos/header-video-1.webm" type="video/webm">
        </video>
      </div>
    </div>
    </div>
      <!-- End Hero Carousel -->
    </div>
  </div>
</div>
<!-- End Hero Section -->
