<div class="roi purple-teal-gradient">
  <svg style="width:0;height:0;position:absolute;" aria-hidden="true" focusable="false"  gradientTransform="rotate(90)">
  <linearGradient id="purple-teal-gradient" x1="0%" x2="100%" y2="0%">
    <stop offset="0%" stop-color="#b6a9f1" />
    <stop offset="100%" stop-color="#4fd4c0" />
  </linearGradient>
  </svg>
  <figure class="">
  <svg class="svg-wave-purple" preserveAspectRatio="none" fill="url(#purple-teal-gradient)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="140px" viewBox="20 -20 300 100">
    <path fill="url(#purple-teal-gradient)" opacity="0.4" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
  c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
    <path  fill="url(#purple-teal-gradient)" opacity="0.4" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
  c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
    <path  fill="url(#purple-teal-gradient)" opacity="0" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
  H42.401L43.415,98.342z" />
    <path fill="url(#purple-teal-gradient)" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
  c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
  </svg>
  </figure>

  <div class="container">
    <div class="text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
      <h2 class="font-weight-medium">Improved attention, education and participation.</h2>
    </div>
    <div class="row ">
      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-0 mb-7 mb-lg-0" data-aos-delay="300" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <!-- Figures -->
        <div class="text-center">
          <h3 class="display-2">88%</h3>
          <p>of employees have participated in Airbo, with 80% participating quarterly.</p>
          <p class="company-name">FUJIFILM</p>
        </div>
        <!-- End Figures -->
      </div>

      <div class="col-md-6 col-lg-4 mb-7 mb-lg-0" data-aos-delay="600" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <!-- Figures -->
        <div class="text-center">
          <h3 class="display-2">51%</h3>
          <p>increase in wellness program participation after using Airbo.</p>
          <p class="company-name">HEALTH AND HUMAN SERVICES PROVIDER WITH 30,000 EMPLOYEES</p>
        </div>
        <!-- End Figures -->
      </div>

      <div class="col-md-6 col-lg-4" data-aos-delay="900" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out">
        <!-- Figures -->
        <div class="text-center">
          <h3 class="display-2">49%</h3>
          <p>of employees that used Airbo completed their Health Assessment within a week.</p>
          <p class="company-name">FORTUNE 50 MULTINATIONAL CONGLOMERATE</p>
        </div>
        <!-- End Figures -->
      </div>
    </div>
  </div>
  <%= render partial: "pages/front_theme/svg/white" %>
</div>
