
<h1>Unmatched Boards</h1>

<%=form_tag admin_unmatched_boards_path do %>
<div class="row ">
  <div class="columns large-6">
    <%=select_tag :organization, options_from_collection_for_select(@organizations, :id, :name),{ data: {placeholder: "Select an Organization"}, include_blank:  true, class: "airbo-chosen-select" }  %>
  </div>
</div>

<div class="row ">
  <div class="columns large-5">
    <%=select_tag :unmatched, options_from_collection_for_select(@demos, :id, :name), class:"multi-list  left-list", multiple: true, name:nil%>
  </div>

  <div class="columns large-2">
    <p>
    <button type="button" class="button move-right">Add >></button>
    </p>
    <p>
    <button type="button" class = "button move-left"> << Remove </button>
    </p>
  </div>
  <div class="columns large-5 end">
    <%=select_tag :matched, [], class: "multi-list  right-list", multiple: true%>
  </div>
</div>

<div class="row ">
  <div class="columns large-12 ">
    <button type="submit" class = "button right" >Confirm Organization Match</button>
  </div>
</div>
<%end%>
