<p>In a few moments you should receive a text message on the mobile number you gave us. It has a code that you can use to confirm that that number belongs to you.</p>
<p>Please enter that code here. If you'd rather do this later, you can do so on the Settings page.</p>
<%= form_for current_user, :url => phone_interstitial_verification_path, :method => :put do |f| %>
  <%= f.text_field :new_phone_validation, :value => '' %>
  <%= submit_tag 'Validate phone' %>
<% end %>
<p>
  <%= link_to "Confirm my mobile number later", activity_path %>
</p>
