
<%=form_tag path, method: :get, class: "date-range-filter" do %>
  <table>
    <thead>
      <tr>
        <th>Start</th>
        <th>End</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr>
                <td><%=text_field_tag "sdate", @sdate, data: {value: simple_date_format_Y_d_m(@sdate) }, class: "pickadate"%></td>
                <td><%=text_field_tag "edate",@edate, data: {value: simple_date_format_Y_d_m(@edate) },class: "pickadate"%></td>
        <td><%=submit_tag "Get Data", class:"button td-button right"%></td>
      </tr>
    </tbody>
  </table>
<%end%>
