<div class="large-4 columns" id="user_info">
  <div id="admin-sidebar-toggle" ><i class="fa fa-compass fa-lg"></i></div>
  <div id="me_toggle">
    <div class="shadow_overlay"></div>
    <%= default_avatar_tag user, :id => :top_avatar, :class => "avatar48" %>
  </div>
</div>
