<div class="row">
  <div class="payment_success_wrapper columns large-10 large-centered">
    <h1>Payment Successful!</h1>
    <div id="return_image_and_link">
      <%= image_tag "pier_background.jpg" %>
      <%= link_to "Back to Manage", client_admin_tiles_path, id: "back_to_manage_link" %>
    </div>
  </div>
</div>
