<% if campaign.tiles.present? %>
  <section class="manage_section channel_container">
    <div class="row">
      <div class="large-12 columns">
        <%= link_to explore_campaign_path(campaign) do %>
          <h4 class="explore-headers link"><%= campaign.name %></h4>
        <% end %>
        <div class="tiles-6-row">
          <%= render partial: 'explore/tiles', locals: { tiles: campaign.tiles.limit(6), section: campaign.name } %>
        </div>
      </div>
    </div>
  </section>
<% end %>
