<% @campaigns.each do |board| %>
  <div class="tile_container">
      <div>
        <%= render partial: "explore/single_campaign", locals: {
          board: board,
          path: explore_campaign_path(board)
          } %>
      </div>
  </div>
<% end %>
