<section class="campaign-header">
  <div class="row">
    <div class="large-12 columns">
      <span class="explore-sub-page-header"><%= campaign.name %></span>
      <p class="channel-description"><%= campaign.description.to_s.html_safe %></p>
      <% if campaign.description %>
      <% end %>
    </div>
  </div>
</section>
