<section class="manage_section channel_container channel_header">
  <div class="row">
    <div class="large-12 columns">
      <span class="explore-sub-page-header"><%= channel.name %></span>
      <% if channel.description %>
        <p class="channel-description"><%= channel.description %></p>
      <% end %>
    </div>
  </div>
</section>
