<div class="explore-onboarding">
  <div id="exploreOnboardingModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="flickity-explore-oboarding-carousel">
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_1.png" %>
            <h2>The Bulletin Board, Reinvented</h2>
            <p>Airbo makes employee communications engaging.</p>
            <br>
            <a href="#" class="button next-onboarding-slide">Continue</a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_2.png" %>
            <h2>Post what you want employees to read or do.</h2>
            <p>It's short, visual, and interactive so employees read and take action.</p>
            <br>
            <a href="#" class="button next-onboarding-slide">Continue</a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_3.png" %>
            <h2>No more Dense HR Emails.</h2>
            <p>Notify employees of new content with an attention-grabbing email.</p>
            <br>
            <a href="#" class="button next-onboarding-slide">Continue</a>
          </div>
        </div>
        <div class="carousel-cell">
          <div class="text-center">
            <%= image_tag "explore/onboarding_slide_4.png" %>
            <h2>Spend less time creating content.</h2>
            <p>Browse hundreds of examples and get weekly suggestions.</p>
            <br>
            <a href="#" class="button close-onboarding">Get Started</a>
          </div>
        </div>
    </div>
  </div>
</div>
