<div class="manage_section explore_tiles_section" id="verified_tiles">
  <div class="row">
    <h4 class="explore-headers non-link">Explore Tiles</h4>
    <div class="large-12 columns">
      <div class="endless_scroll_content_container tile_wall_explore" data-page="<%= params[:page] || 1 %>" data-count="<%= tiles.count %>" data-path="<%= explore_path %>">
        <% cache tiles do %>
          <%= render partial: 'explore/tiles', locals: { tiles: tiles, section: "Explore" } %>
        <% end %>
      </div>
      <div class="endless_scroll_loading text-center" style="display:none;">
        <i class="fa fa-spinner fa-spin fa-3x text-center" style="color:#48BFFF;margin-top:30px;"></i>
      </div>
    </div>
  </div>
</div>
