<div id="exploreOnboardingModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="flickity-explore-oboarding-carousel">
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_1.png" %>
          <h2>Airbo is like Bulletin Board, reinvented.</h2>
          <p>It helps make employee communications engaging.</p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_2.png" %>
          <h2>Post content on an attention-grabbing Board.</h2>
          <p>Employees earn points and prizes for reading and taking action.</p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_3.png" %>
          <h2>Eliminate the dreaded HR email.</h2>
          <p>Send new content in a beautiful digest email.</p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_4.png" %>
          <h2>Spend less time creating content.</h2>
          <p>Browse hundreds of examples and get weekly suggestions.</p>
          <br>
          <a href="#" class="button close-onboarding">Get Started</a>
        </div>
      </div>
  </div>
</div>
