<div id="exploreOnboardingModal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="flickity-explore-oboarding-carousel">
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_1.png" %>
          <h2>Welcome to Airbo!</h2>
          <p>Modern Employee Communications. </p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_2.png" %>
          <h2>Highlight what’s important in a fun and visual way.</h2>
          <p>Employees earn points and prizes for reading content.</p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_3.png" %>
          <h2>Drive high participation.</h2>
          <p>Integrated email marketing gets employees to sign in.</p>
          <br>
          <a href="#" class="button next-onboarding-slide">Continue</a>
        </div>
      </div>
      <div class="carousel-cell">
        <div class="text-center">
          <%= image_tag "explore/onboarding_slide_4.png" %>
          <h2>Spend less time creating content.</h2>
          <p>Browse hundreds of examples.</p>
          <br>
          <a href="#" class="button close-onboarding">Get Started</a>
        </div>
      </div>
  </div>
</div>
