<div class="row organization-row">
  <h4 class="explore-headers non-link"><%= header %></h4>
    <div class="flickity-organizations-carousel">
      <% organizations.each do |organization| %>
        <%= render 'shared/organization_card', organization: organization %>
      <% end %>
    </div>
</div>
