<section class="manage_section channel_container channel_header">
  <div class="row">
    <div class="large-12 columns">
      <h4 class="explore-tag"><%= organization.name %></h4>
    </div>
  </div>
</section>
