<div id="tile_wall_explore">
  <% if @my_tiles.present? %>
    <section class="manage_section explore_tiles_section" id="my_tiles">
      <div class="row">
        <h4 class="explore-headers non-link">My Tiles</h4>
        <div class="large-12 columns">
          <div class="tile_wall_explore" data-page="<%= params[:my_tiles_page] || 1 %>" data-count="<%= @my_tiles.count %>">
            <% @my_tiles.each do |tile| %>
              <% present( tile, SingleAdminTilePresenter, {is_ie: browser.ie? }) do |presenter| %>
                <%= render 'client_admin/tiles/manage_tiles/single_tile', presenter: presenter, tile: tile %>
              <% end %>
            <% end %>
          </div>

          <%= render partial: 'explore/search_more_link', locals: { tiles: @my_tiles, tiles_type: :my_tiles, q: params[:q] } %>
        </div>
      </div>
    </section>
  <% end %>
</div>
