<div id="tile_wall_explore">
  <section class="manage_section" id="my_tiles">
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @service.my_tiles, header: 'My Tiles', more_tiles_path: '/IMPLEMENT' } %>
  </section>

  <section class="manage_section" id="explore_tiles">
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @service.explore_tiles, header: 'Explore Tiles', more_tiles_path: '/IMPLEMENT' } %>
  </section>

  <section class="manage_section" id="campaign_boards">
    <%= render partial: 'explore/campaigns', locals: { campaigns: @service.campaigns, header: 'Airbo Campaigns' } %>
  </section>

  <section class="manage_section" id="organization_boards">
    <%= render partial: 'explore/organizations', locals: { organizations: @service.organizations, header: 'Organizations' } %>
    <h3>Organizations</h3>
  </section>
</div>
