<div id="explore-root"></div>
<%= javascript_pack_tag 'explore' %>

<% @private_campaigns.each do |campaign| %>
  <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
<% end %>
<% @related_campaigns.each do |campaign| %>
  <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
<% end %>
<%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "All Explore Tiles", more_tiles_path: explore_path } %>
