<div id="tile_wall_explore">
  <section class="manage_section channel_container" style="padding-top:0;" id="channels">
    <%= render partial: 'explore/channels', locals: { channels: @channels } %>
  </section>
  <% @tile_features.each do |feature| %>
    <%= render partial: 'explore/tile_feature', locals: { feature: feature } %>
  <% end %>
  <% @campaigns.each do |campaign| %>
    <%= render partial: 'explore/campaigns', locals: { campaign: campaign } %>
  <% end %>
  <section class="manage_section" id="explore_tiles">
    <%= render partial: 'explore/explore_tiles', locals: { tiles: @tiles, header: "All Explore Tiles", more_tiles_path: explore_path } %>
  </section>
</div>
