<div class="row">
  <div class="columns large-12">
    <div id="upload-user-header">
      <h1><%= fa_icon "users" %>Upload Users</h1>
      <% if @demo.users_last_loaded.present? %>
        <span id="last-added-users">
          Last added users on <%= @demo.users_last_loaded.strftime("%B %e, %Y") %>
        </span>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns large-6">
    <div class="upload-user-section upload-half-width-section">
      <div class="upload-user-section-header">
        <h2>1. Download Template</h2>
      </div>

      <div class="upload-user-section-content">
        <p>This is a CSV file.</p>
        <%= link_to "Download", "https://s3.amazonaws.com/airbo_downloadable_templates/Sample_Eligibility_File_name_and_email.csv", id: "template-link" %>
      </div>
    </div>
  </div>

  <div class="columns large-6">
    <div class="upload-user-section upload-half-width-section">
      <div class="upload-user-section-header">
        <h2>2. Add Users To Template</h2>
      </div>

      <div class="upload-user-section-content" id="section-2">
        <p>
          First and last name in column 1.<br/>
          Email address in column 2.<br/>
          Save file as CSV.<br/>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns large-12">
    <div class="upload-user-section">
      <div class="upload-user-section-header">
        <h2>3. Upload Users</h2>
      </div>

      <div class="upload-user-section-content" id="upload-form-content">
        <% if @demo.upload_in_progress %>
          <p id="upload-in-progress">Upload in progress. You can leave this page and we'll email you when it's complete.</p>
        <% else %>
          <%= render 'bulk_upload_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
