<ul>
  <li id="user-join-status">
    <% if user.claimed? %>
      <span class="join-status joined">Joined: Yes</span>
    <% else %>
      <span class="join-status not-joined">Joined: No</span>
    <% end %>
    <% if user.invitable? %>
      <%= link_to "Send invite", client_admin_user_invitation_path(user), method: :post %>
    <% end %>
</ul>
