<%= render 'location_select', locations: @locations, selected_location_id: user.current_location_in_board(current_user.demo).try(:id) %>
<div id="adding_location"><%= image_tag "spinner.gif", alt: "Working..." %></div>
