<div class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/client_admin/users">Manage Users</a></li>
      <li><span>Edit user</span></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12">
    <%= render "edit_form", user: @user, demo: @demo %>
  </div>
</div>
