<div class="row">
  <div class="large-12 columns">
    <%= render partial: 'client_admin/tiles/tiles_tools_subnav' %>
  </div>
</div>

<% if @demo.non_activated? %>
  <%= render partial: 'shared/lock_screen' %>
<% else %>
  <div class="row">
    <div class="large-4 columns">
      <%= render 'user_tools' %>
    </div>

    <div class="large-8 columns">
      <%= render 'bulk_load' %>
    </div>
  </div>
<% end %>      
