@mixin tile-social-share-component() {
  .tile-social-share-component {
    margin: auto;
    &.end-user {
      width: 100%;
      background: #f3f3f3;
      padding: 10px;
      .share_bar {
        background: #f3f3f3;
      }
    }
    .share_bar{
      width: 90%;
      min-height: 110px;
      background: $white;
      margin-top: 10px;
      padding-bottom: 32px;
      font-size: 16px;
      .share_title{
        float: left;
        width: 90px;
        text-align: left;
        color: $text-color;
        padding-top: 13px;
        font-weight: 700;
        font-size: 14px;
      }
      .share_link_block{
        float: none;
        width: auto;
        overflow: hidden;
        position: relative;
        #share_link{
          width: 100%;
          background: $white;
        }
      }
      @media only screen and (max-width: 768px) {
        .share_title {
          float: none;
          width: 100%;
          display: block;
          padding-bottom: 15px;
        }
      }
    }
  }
}

@include tile-social-share-component();
