@mixin graphs() {
  //remove after refactor of tile stats and implementation of circle graphs
  .chart-container {
    margin-bottom: 20px;
  }
  .chart-load-wheel {
    color: $n-blue;
    height: auto;
    margin-top: 60px;
  }

  .circle-graph-label {
    color: $white;
    position: relative;
    text-align: center;
  }

  .circle-graph-label .num {
    bottom: 80px;
    font-size: 40px;
    padding-bottom: 15px;
    position: relative;
    border-bottom: solid 2px $n-blue;
  }

  .circle-graph-label .label {
    font-weight: 300;
    font-size: 17px;
    position: relative;
    bottom: 40px;
  }
}
