<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <%= csrf_meta_tag %>
  <%= render :partial => 'shared/head' %>
</head>
<body>
  <%= yield %>
  <%= render :partial => 'shared/javascript' %>
</body>
</html>
