<div id ='activity-joyride'>
  <ol class='joyride-list activity-index' data-joyride>
    <li data-id='manage_board' data-options='tipLocation:bottom' data-text='Got It'>
        <p class='top-section'>
        To return to the tile manager click <span>Manage</span>.
      </p>
    </li>
  </ol>
</div>