<li id="<%= dom_id(act) %>" class="act">
  <div class="avatar48">
    <%= default_avatar_tag act.user, :alt => act.user.name %>
  </div>
  <p>
    <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
  </p>
</li>
