<li id="<%= dom_id(act) %>" class="act">
  <div class="avatar48">
    <%= default_avatar_tag act.user %>
  </div>
  <div class="act-details">
    <p>
      <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
    </p>
  </div>
</li>
