<li id="<%= dom_id(act) %>" class="act">
  <div class="avatar48">
    <div class="shadow48"></div>
    <%= image_tag act.user.gravatar_url(48), :alt => (act.user.name) %>
  </div>
  <p>
    <span class="user"><%= link_to(act.user.name, act.user) %></span>
    <br />
    <%= render :partial => 'shared/act_details', :locals => {:act => act} %>
  </p>
</li>
