<div id ='activity-joyride'>
  <ol class='joyride-list activity-index' data-joyride>
    <li data-id='managing_tiles' data-options='tipLocation:bottom;nubPosition:left;' data-text='Got It'>
        <p class='top-section'>
        To return to the tile manager click <span>Edit</span>.
      </p>
    </li>
  </ol>
</div>