- side = 14
#tutorial_menu
  #gear= image_tag 'gear.jpg', :width => side, :height => side
  =# #arrow= image_tag 'green_down.jpg', :width => side, :height => side
  %br
  .clear
  #drop_down
  #options
    .close_tutorial= link_to "Leave Tutorial", "#l"
    
