<div id='get_started_lightbox' class="start_lightbox">
  <a href="#" id="close_get_started_lightbox">Get started!</a>
  <h3>Welcome to the <%= current_user.demo.name%>!</h3>
  <p><%= @get_started_lightbox_message %></p>

  <% if @current_user.is_guest? %>
    <p>Already a user? <%= link_to "Sign in", new_session_path %>.</p>
  <% end %>
</div>

<% js_at_end do %>
  window.getStartedLightbox();
<% end %>
