<div style="background: #33445c; color: #fff;">
  <div class="row">
    <div class="columns small-12">
      <p style="margin:15px;"><a href="#" style="border-bottom:1px #fff dashed; color:white;" class="js-open-board-welcome-modal"><%= "How do I use the #{current_board.name_as_noun.titleize}?"%></a></p>
    </div>
  </div>
</div>
