- content_for(:javascript) do 
  :javascript

    $("#autocomplete").live('focus', function () {
      setTimeout("$('.helper.autocomplete').fadeIn()", 200);
    });
    
    $("#autocomplete").live('click', function () {
      setTimeout("$('.helper.autocomplete').fadeIn()", 500);
    });
    
    $("#autocomplete").live('blur', function() {
      $(".helper.autocomplete").fadeOut();
    })

    $('#show_me_the_site').live('click', function(e){
      e.preventDefault();
      $.facebox.close();
    });
    

.invite{:id => @invite_in_modal ? 'invite_friends_facebox' : 'invite_friends'}
  #search_for_friends_to_invite
    #invite_friends_top
      %h1.headline#invite_your_friends_title Invite your friends
      
      %p#why_invite It's more fun when people you know are playing too. Plus, get a 5-point referral bonus for each friend that joins the game!
      #points_per_referral= current_user.demo.game_referrer_bonus

    #invite_friends_middle
  

      %ul.form-section
        %li.form-label= label_tag :autocomplete,  "Which coworkers do you wish to invite?"
        %li.form-input
          = text_field_tag :autocomplete, nil, :autocomplete => "off"
          .relative
            .helper.autocomplete  
              Type part of your coworker's name or email, and we'll look them up.          


  
      #autocomplete_status 

      #potential_bonus_points{:style => "display: none;"} 0


    #invite_friends_bottom 
      #suggestions
        .clear
      #show_me_the_site_holder
        = link_to "Enter Site", nil, :id => :show_me_the_site

