%h1.headline Scoreboard
= render 'users/scoreboard_headers'

#friends_list{:style => "display: none;"}
  %table.scoreboard
    = render :partial => 'users/single_friend', :collection => @current_user.scoreboard_friends_list_by_name
#scoreboard_list
  %table.scoreboard
    = render :partial => 'users/single_friend', :collection => @current_user.scoreboard_friends_list_by_tickets


.cf
