<%= link_to "#", class: "button", id: "see-more-acts", data: { path: acts_path, page: opts[:next_page], per_page: opts[:per_page] } do %>
  <span class="button_text">
    More <i class="fa fa-angle-down" aria-hidden="true"></i>
  </span>
  <i class="fa fa-spinner fa-spin fa-fw", id="see-more-spinner", style="display: none"></i>
<% end %>
