<div id="main">
  <h2 class="first">Recent Activity</h2>

  <ul id="acts">
    <%= render @acts %>
  </ul>
</div>

<div id="secondary">
  <h2 class="first">How to score</h2>

  <p>Text what you do in the real world to +1 (617) 506-3824.</p>

  <h2>Examples</h2>

  <p>Healthy lifestyles win points.</p>

  <ul class="examples">
    <%= render :partial => 'examples/example', :collection => @positive_examples %>
  </ul>

  <p>Others lose points.</p>

  <ul class="examples">
    <%= render :partial => 'examples/example', :collection => @negative_examples %>
  </ul>

  <p>Some depend on context.</p>

  <ul class="examples">
    <%= render :partial => 'examples/example', :collection => @neutral_examples %>
  </ul>
</div>
