<div data-role="header">
  <%= link_to "Home", home_path, :class => "ui-btn-left", "data-direction" => "reverse" %>
  <h2>Activity</h2>
</div>

<div data-role="content">
  <ul data-role="listview">
    <%= render @acts %>
  </ul>
</div>
